[2015-05-17 10:58] waltonrp commented on #3654
While issue with run at boot remains (I'll do workaround later), I found my problem with starting the server. In the install window (terminal) is says to run "/home/aguila/ka-lite/bin/kalite start" to start the server.

The Linux install guide says:
Use sudo service kalite stop to stop the server
OR sudo service kalite start to start the server.

While the correct info was right in front of my fac

[2015-05-17 12:57] benjaoming commented on #3601
@EdDixon this sounds like a different issue then, perhaps caused by how the installer configures things... could you create an issue with this information in the kalite-installers repo and alert @cpauya ?

[2015-05-17 13:52] EdDixon commented on #3654
@waltonrp Excellent yes sir, we are transitioning to that command and will hopefully have the new documentation page up soon to match. We have hopes that in the very near future the kalite command will be available on all platforms as a system wide command so the full path (including user) will no longer be necessary."/home/aguila/ka-lite/bin/kalite help" and"/home/aguila/ka-lite/bin/kalite help m

[2015-05-17 14:00] waltonrp commented on #3654
Ed. Edited the rc.local file as you mentioned and rebooted, server is up. Thanks for your good help. As I stated, I'll be setting up a few servers this week for deployment. Please keep me in the loop on whether there is a permanent fix.

For the installation guide, I can't express strongly enough how important it is for end users to have accurate install information. I'm a beginner level Linux use

[2015-05-17 14:17] EdDixon commented on #3601
@benjaoming How can that be when it is in fact the exact same error?

Just not using a different method to get there. As we start to get more uniform in using our command structure we should be seeing more of these cross platform issues right? To me that is a good thing representing progress towards unifying those methods. All I was trying to say here is that using that older MAC installer anyone

[2015-05-17 14:22] EdDixon commented on #3654
Yes sir, I am am very excited to see those initial sites up and running using version 13 with many more on the way. It is so great working with you on this! Thank you for helping us find these types of issues and being proactive in working with us to help resolve them!

[2015-05-17 14:53] benjaoming commented on #3601
@EdDixon They are not the same error. @jamalex does not have an error on `kalite start`, which you do.. and that error describes a problem that's most likely because of a bad installation.

[2015-05-17 16:50] EdDixon commented on #3601
@benjaoming It was a "kalite stop" after having tried to start the server via the gui which stalled resulted in the same error message:

The kalite start actually ended up resolving the issue and completing the installation properly LOL. Again I feel this could be something related to a common script regardless of platform or at least I hope so! We can agree that kalite start or stop issued at any

[2015-05-17 17:03] benjaoming commented on #3601
Attempts to recreate by `kalite stop` while the cronograph is running jobs (videodownload) also failed. Will have a closer look at jamie's method from the demo server..

[2015-05-18 02:56] jamalex commented on #3565
Hmm, strange. Could you include the full contents of your local_settings.py?

It's getting a 200 when pinging the local server (that's to check the status of any possible downloads, to update the progress bar). But it might be getting something different when pinging the central server.

Can you report the specific error the browser is having when accessing `http://staging.learningequality.org/api

[2015-05-18 03:33] Antrikshy commented on #3565
Oh yes, it *is* pinging the local server. So *that's* how it works. I only have `DEBUG = True` in that file. @aronasorman checked that last time we tried to wrestle with this. I get no error when I access that link. I do see language packs.

![screen shot 2015-05-17 at 8 29 02 pm](https://cloud.githubusercontent.com/assets/6601788/7674034/965d47e0-fcd3-11e4-8f81-37b8a9ddf607.png)

Also, the issue

[2015-05-18 03:45] jamalex commented on #3565
In the dropdown list? But you said that when you refresh, then you don't see them? Is the background request to the staging server API url happening after that second refresh? Or any other JS errors suggesting why it might not be displaying the language packs in the dropdown anymore? Race condition...?

[2015-05-18 04:26] axpence opened #3656 "Portuguese Support"
Hi All,
I am taking 20 chromebooks to Mozambique, Africa and would like to get a version of KA lite installed on these chromebooks including portuguese language support.

Is this a possibility?

thanks
Alex

[2015-05-18 06:13] Antrikshy commented on #3565
I meant I get the response in above screenshot. I'll check later, but IIRC the console does say it could not access the language pack resource (even though I can clearly see the response when I copy paste that URL from the console).

[2015-05-18 07:48] amodia opened #3658 "Name field validation is align on top"
Branch: `develop`
Expected Behavior: Name field validation must show at the bottom of the field.
Current Behavior: Name field validation show at the top of field.
Steps to reproduce:
1. Log-in as admin user.
2. Navigate to manage tab.
3. Click to any available facility name link.
4. Click the add new group link.
5. Leave the name field empty and click the create group button.

![screen shot 2015-0

[2015-05-18 13:17] #3609 closed

[2015-05-18 13:17] #3552 closed

[2015-05-18 13:21] benjaoming commented on #3529
Explanation of why setuptools and distutils do not correctly handle putting scripts in the path on Windows + scroll to bottom for a solution:

https://matthew-brett.github.io/pydagogue/installing_scripts.html

[2015-05-18 14:44] EdDixon commented on #3609
@ben sorry looks like this one slipped by me just caught it in this email
thread showing a very incomplete conversation but it sounds as though the
issue was fixed! Very glad to hear this and anxious to check the builds
coming with this fix! Thanks,

Ed Dixon
Corrections Adviser
Foundation for Learning Equality <http://learningequality.org/>
Give to FLE, Support FLE via Amazon Smile!
<https://lear

[2015-05-18 15:10] EdDixon commented on #3552
I am just becoming aware of the incredible flexibility local_settings.py provides is there an alternative in the works (perhaps the kalite command?) I have read through kalite help and kalite help manage pages but I do not recall it having abilities to do things like point to the client to a different central server etc and these features have been extremely useful in testing and offers potentials

[2015-05-18 15:21] benjaoming commented on #3552
@EdDixon yes but it isn't done, see #3611

[2015-05-18 15:23] benjaoming commented on #3611
I believe that the current codebase is able to accommodate some of the right conventions, but before writing anything, I still think we should do the refactor that initiates `kalite.project` and moves anything related to our default django project in there.

[2015-05-18 15:38] #3584 closed

[2015-05-18 15:43] aronasorman commented on #3656
Hi @axpence,

We do support portuguese! (the Brazilian dialect)

![image](https://cloud.githubusercontent.com/assets/191955/7684273/9f30ad1a-fd39-11e4-99ed-b2001315c671.png)

We have instructions here on how to download language packs: https://learningequality.org/docs/usermanual/userman_admin.html#language-packs

However, we are not aware yet on how to install KA Lite on a non-rooted Chromebook,

[2015-05-18 15:44] #3656 closed

[2015-05-18 15:45] aronasorman commented on #3655
Hmm strange. I believe there's a fix made in the `release-0.12` branch, but it was made for IE 8. Can you try finding that commit and cherry picking it to your branch for testing?

[2015-05-18 16:02] aronasorman commented on #3608
Hi @timon-langlotz! Update on this issue: @EdDixon and I are looking into why btsync is behaving this way. @EdDixon is also making a new set of compressed videos for the 0.13 videos.

[2015-05-18 16:29] anuragkanungo commented on #3655
@aronasorman , Sure will do it and let you know

[2015-05-18 16:47] #3315 closed

[2015-05-18 17:15] aronasorman commented on #3652
Hi @3kay,

Thanks a lot for reporting this issue! It's the same as what Khan Academy has: https://www.khanacademy.org/computing/computer-programming/programming-natural-simulations/programming-angular-movement/a/angles-and-units

Reading through the lesson, it doesn't seem like a bug, as the lesson is a lead-up to simulation programming using Processing, which makes use of angular momentum.

[2015-05-18 17:15] #3652 closed

[2015-05-18 17:18] MCGallaspy commented on #3654
@waltonrp the script `runatboot.sh` gives you an error? And I've noted that the documentation is inaccurate, I'll update it.

[2015-05-18 17:34] EdDixon commented on #3654
@MCGallaspy The script is still failing @aronasorman suggested I add a PR for the rc.local fix but I am fairly confident that this will be addressed in the short term so, perhaps just adding my notes above about how to add the start command to rc.local to get it start at bootup going for now to the docs?

[2015-05-18 21:59] jamalex opened #3665 "Incorrect information in learner-facing user manual"
The documentation section for learners on [how to use the exercises](https://learningequality.org/docs/usermanual/userman_learner.html#how-to-practice-exercises) is not very fleshed out (it could use some screenshots), and also contains inaccuracies (describing how things worked in 0.12):

In 0.13, you only need to get 8 out of the last 10, and you never suddenly lose all your points for an exerci

[2015-05-19 02:04] MCGallaspy opened #3669 "TransactionManagementError during tests"
This bug isn't critical, but it's pretty annoying for development. For an example, see #3636. The likely cause is that the sqlite DB is tied up by an API endpoint while the test suite continues. See [this bug report](https://code.djangoproject.com/ticket/20382). Here's the example from #3636:
[code]

So what's the solution? Assuming that long-running API endpoints are the cause, perhaps we can kil

[2015-05-19 08:33] amodia opened #3671 "Can't download videos using admin account"
Branch: `develop`
Expected behavior: Must show `topic tree` when navigate to `Videos` tab.
Current behavior: Cannot open `topic tree` when navigate to `Videos` tab.
Steps to reproduce:

 1. Log-in as admin user.
 2. Navigate manage tab.
 3. Click `videos` tab.

![screen shot 2015-05-19 at 4 29 14 pm](https://cloud.githubusercontent.com/assets/8663934/7698935/ca22c964-fe46-11e4-812f-4213d35f55e6.pn

[2015-05-19 14:31] timon-langlotz commented on #3608
Thanks! :)

[2015-05-19 16:53] aronasorman commented on #3608
Another update: We're moving to a regular torrent download for compressed videos.

[2015-05-19 19:49] EdDixon commented on #3601
Issue replicated again using latest MAC installer from Dungeon (#50) screen shot attached, details in the testing room.
![2015-05-19_13-45-22](https://cloud.githubusercontent.com/assets/4349806/7712305/e1b8d50a-fe2d-11e4-8034-1120ed06d1c9.png)

[2015-05-19 21:04] EdDixon opened #3673 "Missing chars in current font being used in the assessment response area in XP"
The green and red check marks after the student submits an answer to an assessment are not showing in newer builds. As I understand it those are font based and are not png/svg pics. This issue does not exist in later versions of WIndows and seems only to be an issue for Windows XP.
![2015-05-19_14-52-19](https://cloud.githubusercontent.com/assets/4349806/7713924/2c03a554-fe38-11e4-87e5-c7dce020662

[2015-05-19 21:16] MCGallaspy commented on #3673
Duplicate of #3587.

[2015-05-19 21:16] #3673 closed

[2015-05-19 21:22] EdDixon commented on #3673
Sorry Mike was unaware we had one for this thanks

[2015-05-19 21:31] benjaoming opened #3675 "Unbundle unittest2"
I'm moving the dependency of unittest2 to requirements_dev because it isn't used anywhere else than in one test:

[code]

Secondary to this: Can someone maybe completely get rid of the usage of this library since it seems to be used only to test its own version and then this one single TestCase that I think could probably be implemented in a smarter way?

[2015-05-19 21:43] benjaoming opened #3676 "Unbundle playground"
The package `playground` is unused:

[code]

[2015-05-19 21:44] benjaoming opened #3677 "Unbundle postmark"
The package `postmark` seems to be unused:

[code]

It is definitely a condition for getting rid of `pytz`.

It seems that `playground` wants it. But this one is totally unused. See #3676

[2015-05-19 21:44] benjaoming opened #3678 "Unbundle pytz"
There's a lot in this `pytz` library but I'm not sure if we need it.

Django itself doesn't depend on it, but using the `tz` templatetag does.

[code]

So that's 618 files counting 2.7 MB.

It seems that `postmark` depends on `pytz`, but it seems that we can get rid of this, too: #3677

[2015-05-19 21:49] benjaoming commented on #3677
@jamalex can you pitch in here? This package looks stale judging from the fact that it's there because of another unused package.

[code]

[2015-05-19 21:59] benjaoming commented on #3601
@EdDixon I can't find the details in the room. I think the main information you can provide for this is an output from a `kalite start` command. In case you started it from the UI, then the problem belongs on the installers' issue tracker.

[2015-05-19 22:14] benjaoming opened #3679 "Unbundle werkzeug"
This package seems to be unused.

[code]

[code]

[2015-05-19 22:17] benjaoming commented on #3679
@jamalex I don't know so much about what werkzeug does or can be used for, can you advice? It doesn't seem to be used by other libraries that we use or by kalite itself.

So it could be a candidate for straight-up removal?

[2015-05-19 22:17] EdDixon commented on #3601
Just my take on this issue but the error message occurs when the server stalls which is happening when started on a mac using the current in development installer builds and starting via the added menubar icon in the installation package. I feel regardless of how it is started the error occurs when the server stalls and I can replicate that via this method. Thats what I am trying to explain here.

[2015-05-19 22:22] benjaoming commented on #3601
It looks like you don't have any problems running `kalite start` so it's a problem of how the installer has invoked kalite. It's true that `kalite stop` will display this error when somehow kalite has failed to start, but that's only natural.

The missing logs is an issue all by itself, but we have to solve that separately.

What @jamalex  is describing is different: He's doing `kalite start` and

[2015-05-20 00:28] MCGallaspy commented on #3654
Okay, I see two issues here: `runatboot.sh` is broken and no longer works in `0.13.x`; this was apparently an oversight. Furthermore, no equivalent command exists for the `kalite` executable. @benjaoming can we add such a command, at least for Linux? It's a different bag of worms on Windows, and is furthermore handled by the installer in that case.

[2015-05-20 00:50] MCGallaspy commented on #3654
@waltonrp

Use sudo service kalite stop to stop the server
OR sudo service kalite start to start the server.

Actually, I think this information is accurate if the previous step (running `runatboot.sh`) succeeds; in your case it did not. The command displayed in your terminal at the end of the setup process will indeed start the server, but will not create a service that starts the server at boot.

[2015-05-20 01:34] MCGallaspy commented on #3654
@j-schwartz

Seems like a different issue. Can you open another issue and provide more details on how you installed KA Lite?

[2015-05-20 01:58] j-schwartz commented on #3654
Ya, I'll check it out this evening and write something more up

On Tue, May 19, 2015 at 6:34 PM, Michael Gallaspy <notifications@github.com>
wrote:

--
Please fill out our user survey
<https://docs.google.com/forms/d/1yLJZvJMnP8AG0CFKJdcD7NvuvTZrZzVdcAWJuaZ_SwA/viewform>.
This
is critical for our fundraising.

Jeremy Schwartz <jeremy@worldpossible.org>
Executive Director
World Possible <http://www

[2015-05-20 04:33] jamalex commented on #3679
It gets used by the `runserver_plus` management command, which is part of django-extensions and a fantastic tool for getting a much richer error traceback in the browser (including being able to drop into an interactive shell anywhere in the traceback). So, not needed for distribution, but good to have in requirements_dev.txt

[2015-05-20 07:25] amodia opened #3682 "Coach can access the sign up page."
Branch: `develop`
Expected behavior: when `coach` is log in sign up page must not show.
Current behavior: coach log in can access sign up page.
Steps to reproduce:

 1. Log in as coach.
 2. Go to the [sign up](http://localhost:8008/securesync/signup/) page

![screen shot 2015-05-20 at 2 52 55 pm](https://cloud.githubusercontent.com/assets/8663934/7720819/35bee384-ff04-11e4-9fb8-7f4ce6050c55.png)

[2015-05-20 07:37] cpauya commented on #3682
I think we need to disable the signup page if there is a logged-in user, either a User or FacilityUser (coach/student).

[2015-05-20 08:51] benjaoming commented on #3679
Great, thanks for getting back!!

Aufwiedersehen in requirements_dev, Werkzeug!

[2015-05-20 08:59] arceduardvincent commented on #3499
Hello @aronasorman I am performing some media queries in this page.
below are some example when the view port is < 768px
![screen shot 2015-05-20 at 4 52 08 pm](https://cloud.githubusercontent.com/assets/4099119/7722283/52312f4c-ff11-11e4-9570-0a0a1f5c8c3a.png)
![screenshot 2015-05-20 16 54 33]

[2015-05-20 09:29] benjaoming commented on #3654
Yes, it's there... but I don't know if it works:

    kalite manage initdconfig

[2015-05-20 13:23] EdDixon commented on #3654
@benjaoming @aronasorman is this planned for 0.13 in a later minor version? It will affect needed user documentation for this branch if so but will be great to have in 0.13.x if possible and much prefered to the method I provided VADOC with earlier! Also this is a very *nix based feature of the command how will it affect windows users trying to use the command? This may have already been addressed

[2015-05-20 16:05] aronasorman commented on #3677
@benjaoming yeah I believe postmark is used in the central server, not the distributed. This can be safely removed.

[2015-05-20 16:42] aronasorman commented on #3675
Python 2.7 has unittest2 built in. Once we move to that it will be much easier to "remove" this library. :)

[2015-05-20 17:10] aronasorman commented on #3654
Fixed in develop. Cherry picking to 0.13.x.

[2015-05-20 17:11] aronasorman commented on #3654
@MCGallaspy also updated the documentation on 0.13.x.

[2015-05-20 17:11] #3654 closed

[2015-05-20 17:12] aronasorman commented on #3654
@EdDixon it's only a Debian feature. It shouldn't affect Windows.

[2015-05-20 17:32] aronasorman opened #3684 "Transfer markdown files into our sphinx-docs folder"
branch: develop

Right now we have KA Lite documentation in two places: Github Wiki (markdown) and [our docs page](https://learningequality.org/docs/) (RST). We should move most of our documentation into a single place. This makes it easier to maintain as we don't have to look at multiple domains in order to make a change, as well as giving our users a central place for all of our documentation.

[2015-05-20 17:43] EdDixon commented on #3654
@aron I am aware of that but, we really should have a windows equivalent
option I think? I thought the whole point of this command was to make it
cross platform? When the user types kalite help to try to find a means to
do this via shell it will reveal itself as an available option which could
lead the unknowing windows user to think it may work to fill this need it
would make sense without any ot

[2015-05-20 17:54] aronasorman commented on #3654
@EdDixon ideally we'd have one for Windows, but given how much time we've invested to making it work across all 3 supported Windows platforms I don't think we have time to do it for 0.14. We also have this same functionality in the GUI, so supporting it through the command line isn't urgent for me.

[2015-05-20 18:38] EdDixon commented on #3654
I agree so much to do so little time! It makes me wish I was a kid all over again but having these cool tools to learn with! But yea future feature would be extremely cool!

[2015-05-20 19:10] benjaoming commented on #3675
@aronasorman but if it's only for testing then we can just have it in requirements_dev right?

[2015-05-20 19:11] aronasorman commented on #3675
@benjaoming yup sure. Feel free to move it there.

[2015-05-20 19:12] benjaoming commented on #3654
@EdDixon the command is called "initdconfig" so it will hopefully not appeal much to the Windows crowd :)

[2015-05-20 20:39] MCGallaspy commented on #3654
@benjaoming

Duh, you're right. Should work on *nix again.

[2015-05-20 21:23] benjaoming commented on #3654
Another PR is coming in because I found that the produced script actually didn't work.

[2015-05-20 21:36] MCGallaspy commented on #3677
Then it's probably good to add it to the requirements for the central server!

[2015-05-20 21:40] benjaoming commented on #3677
Yes, I'll make requirements_central for this

On 20 May 2015 at 23:36, Michael Gallaspy <notifications@github.com> wrote:

[2015-05-20 21:43] MCGallaspy commented on #3677
Or add it to requirements.txt in the central server repo?

[2015-05-20 22:07] EdDixon opened #3687 "Low level cross platform commands should check OS compatability"
I feel it is important moving forward with our kalite command and the huge amount of options and functionality coming with it that we have a check built into the command which can disable functionality for systems on which those features or functions do not exist. My only example right now is a recent addition to the kalite command that modifies init.d configuration for starting the server on boot

[2015-05-20 22:19] jamalex commented on #3677
:+1:

:+1: (https://github.com/fle-internal/ka-lite-central/blob/develop/requirements.txt)

[2015-05-20 23:24] benjaoming commented on #3677
Thanks for the pointer, Jamie.. I had already gone ahead, there's a PR :)

On 21 May 2015 at 00:19, Jamie Alexandre <notifications@github.com> wrote:

[2015-05-20 23:59] benjaoming commented on #2887
This will happen in #2952

[2015-05-20 23:59] #2887 closed

[2015-05-21 00:00] benjaoming commented on #3388
This will happen in #2952

[2015-05-21 00:00] #3388 closed

[2015-05-21 00:02] benjaoming commented on #2935
As we move to PyPi and begin to use installers, other update methods will be deleted.

See for instance PR #3672

[2015-05-21 00:02] #2935 closed

[2015-05-21 00:11] rtibbles commented on #3623
@EdDixon this was demo server specific.

This is now fixed on the demo server.

[2015-05-21 00:12] #3623 closed

[2015-05-21 00:12] rtibbles commented on #3622
This was caused by an incomplete transition from get_topic_tree returning a dictionary, and get_topic_tree returning a list. Now fixed.

[2015-05-21 00:12] #3622 closed

[2015-05-21 00:13] rtibbles commented on #3605
This is now fixed.

[2015-05-21 00:13] #3605 closed

[2015-05-21 00:13] rtibbles commented on #2857
Discussed with @jamalex, the main impetus for this going into 0.14 was for the assessment items images - which will not be using it anyway. Punting.

[2015-05-21 00:14] rtibbles commented on #2640
This was fixed in #3510.

[2015-05-21 00:14] #2640 closed

[2015-05-21 00:18] benjaoming opened #3690 "Ubundle mock"
It's safe to assume that python-packages/mock.py is only used for testing purposes.

[code]

[2015-05-21 00:26] benjaoming opened #3691 "Unbundle django-debug-toolbar"
Not sure what version it was in, because they used this "great" way of putting things:

[code]

It seems to have originally been added back in 2013 to ensure that local_settings could use it... hmm

[2015-05-21 00:26] Antrikshy commented on #3578
@rtibbles Looks like the all-caps are all gone now. It *is* a little twitchy and could use a little bit of cleanup. I'll work on it.

[2015-05-21 19:39] jamalex opened #3694 "Packaging KA Lite as a native Chrome app (for ChromeOS and beyond!)"
We dreamed of this day. Well, *that* day, to come. Now, all we need is a hero!

At our official KA Lite launch event at Khan Academy in February of 2013, Jaime Casap's first question was "So when can we get this running on Chromebooks?". At the time, we didn't have an answer.

It turns out that NaCl supports Python, and [there's a Chrome App for that](https://chrome.google.com/webstore/detail/pyth

[2015-05-21 19:47] jamalex commented on #3694
https://chromium.googlesource.com/external/naclports/+/master/ports/python

[2015-05-21 19:53] Antrikshy commented on #3578
The twitchiness is really hard to isolate. I have no idea what's causing it.

[2015-05-21 20:25] rtibbles commented on #3578
It is either changing border sizes, padding or margins. Can't imagine
anything else that would be causing it.

On Thu, 21 May 2015 12:53 Antriksh Yadav <notifications@github.com> wrote:

[2015-05-21 21:20] #3675 closed

[2015-05-21 21:20] #3677 closed

[2015-05-21 21:20] #3679 closed

[2015-05-21 21:21] #3691 closed

[2015-05-21 21:21] #3690 closed

[2015-05-21 21:24] benjaoming commented on #3687
@EdDixon I think the `kalite manage initdconfig` command (which is a django management command) is a very harmless command that just outputs some text for a configuration file on Mac or Linux (furthermore it only works on Ubuntu/Debian like systems).

It's only there temporarily and the sort of thing that it does will be moved into installers.

For the future, we shouldn't have any OS-specific com

[2015-05-21 21:29] benjaoming commented on #3684
Please see #2920 ;)

[2015-05-21 21:31] #3684 closed

[2015-05-21 22:35] benjaoming opened #3696 "Unbundle youtube_dl"
The library is only used for videodownload, but is the exact usage for users or dev?

[code]

[2015-05-21 22:35] rtibbles commented on #3696
Care to elaborate?

[2015-05-21 22:36] benjaoming commented on #3696
I don't know what happened, I was trying to type in a description and when I tabbed back to then window, it was posted :)

[2015-05-21 22:37] benjaoming commented on #3696
There, description added :)

[2015-05-21 22:39] benjaoming commented on #3696
This package is important to keep updated, right? Youtube changes, so we should at least keep it in a requirements file and maybe not even pin the version number?

[2015-05-22 10:37] benjaoming commented on #3529
@EdDixon This is as close as we can get to Windows compatibility. As you may have heard about, the directory commonly found in "C:\Python27\Scripts" has to be in the Windows path for the commands to be available.

What appears to be a functional kalite.bat script is installed there. I tested that it's installed, but I couldn't test if it works.

Further work on automatically making the `kalite` wo

[2015-05-22 22:14] EdDixon opened #3704 "Cannot connect to server for downloading video files from current development installs"
While downloading videos from the current development installations we are not able to connect with the server in order to do so? The screen shot provided is from a MAC current in development installer installation but with no modification to the local_settings.py which was double checked to ensure there was no redirection to the video resources
![2015-05-22_15-17-46](https://cloud.githubuserconte

[2015-05-23 01:23] MCGallaspy opened #3705 "Coach reports - mystery subproject"
The coach reports PR introduces a git subproject that no one has knowledge of. We need to remove it.

[2015-05-23 01:24] MCGallaspy commented on #3705
See: https://github.com/learningequality/ka-lite/pull/3649/files#r30722378

[2015-05-23 01:26] MCGallaspy opened #3706 "Coach reports - extra resource fields"
See: https://github.com/learningequality/ka-lite/pull/3649/files#r30940549

Extra fields on a resource. Use 'em or lose 'em, I say.

[2015-05-23 01:30] MCGallaspy opened #3707 "Coach reports - Tests!"
Create tests for the whole thing. This is really a few separate tasks:

- [x] Writing features and implementing steps for the behave tests.
- [x] Deleting or modifying existing tests.
- [x] Creating new unit tests where appropriate.

[2015-05-24 10:58] EdDixon commented on #3704
Just a note here this test was performed immediately after installation restarting the server seems to have resolved this problem. I am rebooting now to see if the problem returns or remains resolved.

[2015-05-24 11:41] EdDixon commented on #3704
A reboot did not resolve the issue and to the user it appears as if the server is down or the url is not resolving to the appropriate
![2015-05-24_05-31-58](https://cloud.githubusercontent.com/assets/4349806/7787709/79070d9e-01d7-11e5-8295-8740c044b659.png)
 server?

[2015-05-25 05:39] amodia opened #3715 "Failed to load coach report's table."
Branch: `develop`
Expected behavior: Coach report's table must load when navigating on `teach` tab.
Current behavior: Can't access `coach report's table`.
Steps to reproduce:

 1. Log in as coach.
 2. Navigate to `teach` tab.

![screen shot 2015-05-25 at 12 03 21 pm](https://cloud.githubusercontent.com/assets/8663934/7792236/c1511418-02e1-11e5-8a11-b26677471ba3.png)

[2015-05-25 07:18] rtibbles commented on #3715
Hopefully fixed by: #3649

[2015-05-25 16:20] #3658 closed

[2015-05-25 17:14] #3678 closed

[2015-05-25 17:33] benjaoming opened #3716 "Unbundle six"
We have new issues with the old bundled-in six:

[code]

[2015-05-25 19:14] MCGallaspy commented on #3706
Seems like this was addressed, right @rtibbles?

[2015-05-25 19:14] #3706 closed

[2015-05-25 19:14] MCGallaspy commented on #3707
#3649 starts to address this.

[2015-05-25 19:39] MCGallaspy commented on #3707
Another issue: https://github.com/learningequality/ka-lite/pull/3649#commitcomment-11353473

[2015-05-25 20:47] benjaoming opened #3718 "Unbundle requests"
So we just got rid of a big problem caused by requests' bundled old six 1.1.0 and we should unbundle requests and depend on a later version that either doesn't include six or bundles a later version.

[2015-05-25 22:04] #3716 closed

[2015-05-25 22:20] rtibbles opened #3720 "Cannot read property 'setAttribute' of null"
On loading homepage. Full traceback:
[code]

@jtamiace I think this may be due to your collapsedNav function not being integrated into the Backbone View?

[2015-05-25 22:51] benjaoming commented on #3718
[code]

[2015-05-25 23:10] MCGallaspy commented on #3007
@edresor thanks for opening an issue, are you able to reproduce this error? And if so, can you describe how?

[2015-05-25 23:13] MCGallaspy commented on #3065
Okay, how should it be displayed? For exercises & assessment items, is the license included in the exercise/assessment item data, or does it inherit the KA license? Same for other content items (like videos), is the license given or implied?

Where shall it be displayed? In the content area, near the bottom or top of that container?

[2015-05-25 23:15] MCGallaspy commented on #3154
We now have a `CONTRIBUTING.md`, is there anything else we can do?

[2015-05-25 23:16] MCGallaspy commented on #3179
Looks like this is resolved.

[2015-05-25 23:16] #3179 closed

[2015-05-25 23:23] MCGallaspy commented on #3705
Resolved here: https://github.com/learningequality/ka-lite/commit/05fd1a4f4201cf1e42a3a56254b572350b76fc40

[2015-05-25 23:23] #3705 closed

[2015-05-25 23:24] MCGallaspy commented on #3187
Putting as 0.15.0 since it doesn't seem fully-formed. Feel free to change @66eli77.

[2015-05-25 23:38] benjaoming opened #3722 "New problems for settings import"
Currently, `kalite.distributed.settings` raise an ImportError when `kalite.settings` tries to import it.

[code]

This is because we want to use version data in our settings:

https://github.com/learningequality/ka-lite/blob/develop/kalite/distributed/settings.py#L162

It would be great to burn this down, since we don't actually need to be using a git commit hash for cache key prefixes.

[2015-05-25 23:44] MCGallaspy commented on #3195
The `update` management command should have been expurgated already. Someone (probably me) should try to reproduce this nonetheless.

[2015-05-25 23:47] MCGallaspy commented on #3202
It appears the real issue is that the bubbles are not being dismissed as expected; in other words, the successful student login bubble is being displayed along with the "danger" unauthorized bubble. Not entirely clear what the resolution of this should be, but the behavior has almost certainly changed since @rtibbles's new login stuff has been merged in. Can someone try to reproduce this?

[2015-05-25 23:48] MCGallaspy commented on #3204
Apparently resolved.

[2015-05-25 23:48] #3204 closed

[2015-05-25 23:50] MCGallaspy commented on #3205
I think the answer to this problem is the inline help feature.

[2015-05-25 23:51] MCGallaspy commented on #3205
Todo:
- [ ] Finish inline help (#3717)
- [ ] Write narrative for this page (can be done parallel to the other item)

[2015-05-25 23:52] MCGallaspy commented on #3248
Closed, see #2973.

[2015-05-25 23:52] #3248 closed

[2015-05-25 23:53] benjaoming opened #3723 "open_json_or_yml does not use filename extension"
Similar to this commit:

https://github.com/benjaoming/ka-lite/commit/bcf2863d95dffe4fba7ca4c1bf0b2f0645eb89b4

[2015-05-25 23:55] MCGallaspy commented on #3291
Looks like this is resolved by #3292, @radinamatic?

[2015-05-25 23:55] #3291 closed

[2015-05-26 00:00] MCGallaspy commented on #3297
It's not clear to me how ambitious this is for 0.14 -- can someone (@jtamiace maybe) weigh in on the feasibility of resolving this before the version release? We can change the milestone if necessary.

[2015-05-26 00:03] MCGallaspy commented on #3298
Landing page has changed, can someone revisit this issue and determine if something can/needs to be done?

[2015-05-26 00:04] MCGallaspy commented on #3299
@radinamatic has this been resolved?

[2015-05-26 00:05] MCGallaspy commented on #3175
@Antrikshy has this been resolved?

[2015-05-26 00:12] MCGallaspy commented on #3346
Is this too ambitious for 0.14?

[2015-05-26 00:13] benjaoming commented on #3722
First part fixed in bcf2863

[2015-05-26 00:13] rtibbles commented on #3346
Given that @radinamatic will be implementing most of this, and her GSoC term does not start until June, I would say, yes.

[2015-05-26 00:16] rtibbles commented on #2326
Punting this until the dust settles on whether we migrate from TastyPie.

[2015-05-26 00:16] MCGallaspy commented on #3365
Apparently resolved.

[2015-05-26 00:16] #3365 closed

[2015-05-26 00:17] rtibbles commented on #3554
Punting.

[2015-05-26 00:18] rtibbles commented on #2738
Still unused. Punting.

[2015-05-26 00:18] MCGallaspy commented on #3362
Someone can check if there's a corresponding issue on the KA site. That would let us know if there was truly a bug here or an oversight in the assessment item data -- the latter being not our fault!

[2015-05-26 00:18] MCGallaspy commented on #3359
@aronasorman @cpauya can it be done?

[2015-05-26 00:19] rtibbles commented on #2277
With the introduction of content recommendation we can start to look at this in 0.15.

[2015-05-26 00:19] MCGallaspy commented on #3357
Looks like 0.12.x. Recommended solution is to upgrade!

[2015-05-26 00:19] #3357 closed

[2015-05-26 00:20] rtibbles commented on #903
This interface has disappeared, and I don't know where it is now for the life of me.

Any ideas @aronasorman? Punting.

[2015-05-26 00:20] MCGallaspy commented on #3352
Looks like 0.12.x, but someone can check if the issue exist on 0.13.x & develop.

[2015-05-26 00:20] rtibbles commented on #2598
This has been mitigated for now in 0.14. Punting.

[2015-05-26 00:21] rtibbles commented on #2599
Punting to 0.15 pending decision on tasypie.

[2015-05-26 00:22] MCGallaspy commented on #3419
Apparently from 0.12. Is this an issue on `develop`?

[2015-05-26 00:22] #3419 closed

[2015-05-26 00:22] rtibbles commented on #3411
Non-critical, and would require non-trivial messing with a lot of the code. Punting.

[2015-05-26 00:24] rtibbles commented on #3483
@jamalex I think we should punt this until we make a decision on jettisoning TastyPie or not.

[2015-05-26 00:26] MCGallaspy commented on #3418
There are already subtitles. The completeness & availability varies depending on the language. @jayanti thanks for your input, if this is not what you're referring to please elaborate here (observing our guidelines for issues in `CONTRIBUTING.md`) and I'll reopen the issue.

[2015-05-26 00:26] #3418 closed

[2015-05-26 00:33] benjaoming commented on #3696
Jamie:

[2015-05-26 00:51] rtibbles commented on #3671
This appears to have been fixed by @MCGallaspy in #3698

[2015-05-26 00:51] #3671 closed

[2015-05-26 00:52] rtibbles commented on #3538
Note, that as the model was not included in 0.13.x, this will not be extant there, @aronasorman.

[2015-05-26 00:54] cpauya commented on #3359
Yes I think this is possible because we can run the management commands on
the build server to package a specific language in the `ka--lite` folder.
On May 26, 2015 8:19 AM, "Michael Gallaspy" <notifications@github.com>
wrote:

[2015-05-26 03:04] jamalex commented on #3483
![](http://2.bp.blogspot.com/-HPgpoqI-XuU/TaBfBITRaxI/AAAAAAAACiM/nftqWwTmm5I/s1600/jettison.gif)

[2015-05-26 03:04] #3483 closed

[2015-05-26 03:08] amodia commented on #3008
@MCGallaspy This issue is already solved on [#3495](https://github.com/learningequality/ka-lite/pull/3495) I think you can close this.

[2015-05-26 03:20] Antrikshy commented on #3554
If we are migrating, I can help.

[2015-05-26 03:23] Antrikshy commented on #3175
I haven't looked at it, actually. Handling touchscreen zoom is tricky. @rtibbles, were you suggesting that we keep the sidebar the same size on the side of the screen? Any ideas on how that would work?

[2015-05-26 13:18] eff-kay commented on #3694
I ll have a look into it , but I dont give you any gurantees cause I have a full time job you know....

[2015-05-26 13:34] eff-kay commented on #3694
Has anything been done on this before, any discussions or brainstorming that might come in helpful...

[2015-05-26 14:17] aronasorman commented on #3694
Hi @eff-kay, we haven't had any in-depth discussion how to do it yet, but @benjaoming has been working on installing KA Lite into a python system before.

Once you have python working in your system you can run `python setup.py install` inside `ka-lite` to install it to your python's `site-packages`. Once there you should have all the dependencies needed to run KA Lite. Ping us on hipchat if you h

[2015-05-26 15:46] aronasorman commented on #3723
How can I replicate this @benjaoming? Do I have to do a `setup.py install`?

[2015-05-26 15:47] aronasorman commented on #3723
Note: remove `yaml`, as per discussion on hipchat.

[2015-05-26 15:51] jamalex commented on #3694
@aronasorman I think @eff-kay is asking whether there's been any other discussion of how to get this running in a Chrome app, not on a python system?

@eff-kay: Thanks for jumping in! The Google Group link in the description of this issue above shows a discussion of how to build a Chrome app with Python itself bundled in along with a Python application. Probably starting out with getting the stand

[2015-05-26 15:56] aronasorman commented on #3694
@jamalex yup, got that. Was just giving hints since one thing we DO know about the system is that it has Python. However, one thing I'm not sure if a Chrome app has access to is a plain bash shell, so I'm not sure if just running `kalite start` would work.

[2015-05-26 15:59] eff-kay commented on #3694
@jamalex thnx for the info will look into it...

[2015-05-26 16:19] jamalex commented on #3362
Looks like there were simply no hints coded up for these exercises, as it's the same on the KA side:
https://www.khanacademy.org/computing/computer-science/algorithms/graph-representation/e/quiz--representing-graphs

[2015-05-26 16:19] #3362 closed

[2015-05-26 16:49] benjaoming commented on #3723
@aron I already fixed the problem in version.py and it has been merged

if you want to replicate it, look for other places where the function is called with an extension on the filename. You can recreate it by running in an environment without pyyaml.

[2015-05-26 16:51] #3008 closed

[2015-05-26 17:00] aronasorman commented on #3723
Yeah, `open_yml_or_json` is designed to take an extension, if it won't then it's a bug. So will fix.

[2015-05-26 17:03] aronasorman commented on #3340
Has this been resolved @MCGallaspy?

[2015-05-26 17:08] MCGallaspy commented on #3340
ORMified assessment items ditched several unused fields, so yes. Any ORMification in the future should also choose which fields to keep.

[2015-05-26 17:08] #3340 closed

[2015-05-26 17:11] MCGallaspy commented on #3382
@natnael2012 can you describe how you activated the "hidden" button?

[2015-05-26 17:13] MCGallaspy commented on #3383
@sharprakeshverma can you elaborate on how to reproduce this error?

[2015-05-26 17:13] #3619 closed

[2015-05-26 17:14] #3392 closed

[2015-05-26 17:20] MCGallaspy commented on #3398
@benjaoming
Seems like @yohanboniface's issue was with setting up KA Lite to start at boot (check out the relevant [doc page](https://learningequality.org/docs/installguide/install_linux.html)), but we might have resolved this with a recent PR. Will try to dig it up. Perhaps @yohanboniface can elaborate on how to reproduce this error?

[2015-05-26 17:22] MCGallaspy commented on #3398
I think #3686 and other recent PRs have probably resolved any issues with `runatboot.sh` and the `initdconfig` management command.

[2015-05-26 17:24] MCGallaspy commented on #3408
Work in progress. See #3717.

[2015-05-26 17:27] MCGallaspy commented on #3420
While the forum could no doubt be improved, it's got nothing to do with this repo.

[2015-05-26 17:27] #3420 closed

[2015-05-26 17:28] MCGallaspy commented on #3421
Stale, but will reopen if we hear back from @ruancilliers.

[2015-05-26 17:28] #3421 closed

[2015-05-26 17:45] MCGallaspy commented on #3422
Not really clear what the issue is. @ruancilliers did you actually create any models that could be synced, or register the device within a sharing network that had synced models? If, for example, you had created no student accounts or activity then I would fully expect no models to by synced.

[2015-05-26 17:51] MCGallaspy commented on #3434
We're starting to address this. See, for example #3639.

[2015-05-26 17:54] MCGallaspy commented on #3443
@sopu can you specify an exercise where this is an issue?

[2015-05-26 17:55] MCGallaspy commented on #3443
Looks like this is a duplicate of #3444.

[2015-05-26 17:55] #3443 closed

[2015-05-26 17:56] aronasorman commented on #3235
Even with an existing PR from @anuragkanungo, I can't seem to replicate this anymore. I think it's been removed through attrition.

[2015-05-26 17:56] #3235 closed

[2015-05-26 17:58] MCGallaspy commented on #3459
@radinamatic looks like you decided to tackle this one. Be sure to tag this issue in a PR when you're ready, so we know we can close it.

[2015-05-26 17:58] aronasorman opened #3731 "Admin "Teach" page leads to a 404"
branch: develop

Clicking teach as an admin:
![screen shot 2015-05-26 at 10 57 52 am](https://cloud.githubusercontent.com/assets/191955/7819361/1c99d706-0396-11e5-993e-971c339d5003.png)

Leads to this:

![screen shot 2015-05-26 at 10 58 34 am](https://cloud.githubusercontent.com/assets/191955/7819371/2e1377ee-0396-11e5-8c31-ca8e9cf566ba.png)

[2015-05-26 18:00] aronasorman commented on #3336
Coachreports have been burned down in the latest develop.

[2015-05-26 18:00] #3336 closed

[2015-05-26 18:02] rtibbles commented on #3731
Not extant on develop. Are you sure you're up to date?

[2015-05-26 18:02] #3731 closed

[2015-05-26 18:08] rtibbles commented on #3731
(For further context, this was fixed in the PR you just merged #3725)

[2015-05-26 18:15] aronasorman commented on #3731
Yup, fixed now.

[2015-05-26 18:26] MCGallaspy commented on #3499
The scatter report no longer exists on develop.

[2015-05-26 18:26] #3499 closed

[2015-05-26 18:34] MCGallaspy commented on #3530
This got lost in the shuffle. @ed are you still having trouble with the `kalite` command with usernames that have a space? Can you list specific commands which fail, and the error you received? From your screenshot, I'm guessing this specific error is from the `setup` management command, specifically line 243 (in `develop`):
[code]

[2015-05-26 19:06] MCGallaspy commented on #3559
Thanks for your detailed observations @mannyack. Just to be clear, you're saying in some circumstances you expect the `bin/kalite start` command to serve from a different port? Also, noted that:

address(es):
     http://127.0.0.1:8008/

Is probably not very helpful.

[2015-05-26 19:12] MCGallaspy opened #3732 ""Access from another computer message" showing 127.0.0.1"
When, for instance, you run `kalite start`, you might see the following message:

address(es):
    http://127.0.0.1:8008/

Which won't work from _another_ computer, as suggested.

[2015-05-26 19:20] aronasorman commented on #3732
We should change the text instead to say:

[2015-05-26 19:23] aronasorman commented on #278
Stale. For 0.14 we'll have installers that users can manually download. We should also just open another issue when the unified content update UI is ready.

[2015-05-26 19:23] #278 closed

[2015-05-26 19:29] aronasorman commented on #706
I'm not up to date on where we are with regards to our data collection system. @rtibbles how close are we to implementing this in the current develop?

[2015-05-26 19:30] #3715 closed

[2015-05-26 19:31] rtibbles commented on #706
Way off.

On Tue, 26 May 2015 12:29 Aron Fyodor Asor <notifications@github.com> wrote:

[2015-05-26 19:32] aronasorman commented on #811
We've rewritten the coachreports system, and we are expecting documentation regarding that.

We also document how our points system works, although it's a bit outdated now( see https://github.com/learningequality/ka-lite/issues/3665). I think we can close this.

[2015-05-26 19:32] #811 closed

[2015-05-26 19:38] aronasorman commented on #937
Solved on the latest learningequality/installers master branch.

[2015-05-26 19:38] #937 closed

[2015-05-26 19:43] aronasorman commented on #2208
Let's move open issues for individual libraries, as what @benjaoming has done.

[2015-05-26 19:43] #2208 closed

[2015-05-26 19:45] aronasorman commented on #2322
Hi @runfunke, I'm closing this as there's been a lot of code churn that happened in the latest develop. Hopefully that solves this issue.

[2015-05-26 19:45] #2322 closed

[2015-05-26 19:48] MCGallaspy commented on #3562
Done, and management command exists for use by package builders to turn yml files into json.

[2015-05-26 19:48] #3562 closed

[2015-05-26 19:49] aronasorman commented on #2657
Since we're now moving to individual installers I don't think this is needed anymore. Installers instead should verify that they have all the needed dependencies to run KA Lite in their respective platforms.

[2015-05-26 19:49] #2657 closed

[2015-05-26 19:50] aronasorman commented on #2703
There is no more Store UI in the latest develop.

[2015-05-26 19:50] #2703 closed

[2015-05-26 19:51] aronasorman commented on #2856
Now would be an opportune time to do this. Anyone want to take this one? @benjaoming @cpauya

[2015-05-26 19:51] aronasorman commented on #2911
We won't be deprecating 2.6 for 0.14. Is 0.15 the magic release?

[2015-05-26 19:52] aronasorman commented on #2952
We now can do a similar installation process, I believe:

[code]

Can we close this @benjaoming?

[2015-05-26 19:54] aronasorman commented on #2952
Although we still don't have that template functionality you put in the description. Maybe open another issue for that?

[2015-05-26 19:54] MCGallaspy commented on #3047
Coach reports no longer exists in this form.

[2015-05-26 19:54] #3047 closed

[2015-05-26 19:56] aronasorman commented on #3273
Homepage now has content recommendation too. :dancers:

[2015-05-26 19:56] #3273 closed

[2015-05-26 20:02] aronasorman commented on #3184
They're OK in my view. Perhaps more padding between table-of-content entries is all that's needed to make it more visually appealing.

[2015-05-26 20:10] aronasorman commented on #3051
We have rewritten the coachreports. Please open a new issue if it's still extant on the latest develop.

[2015-05-26 20:10] #3051 closed

[2015-05-26 20:11] aronasorman commented on #2350
I know there's a lot of Tastypie hate lately in favor of django-rest-framework (DRF). Does DRF implement this already?

[2015-05-26 20:12] aronasorman commented on #2350
or rather, does DRF have the same problem?

[2015-05-26 20:13] aronasorman commented on #3007
Hi @edresor, In the latest develop branch the recommended installation procedure would be the .deb package, or barring that, `python setup.py install`, which makes sure you have the right permissions when creating the DB.

Closing as fixed.

[2015-05-26 20:13] #3007 closed

[2015-05-26 20:18] radinamatic commented on #3291
This is probably the very first issue I reported here... :P
And, yes, it's been resolved!

[2015-05-26 20:18] aronasorman commented on #2908
I'll work on deleting `initdconfig`, that should force our debian installer to implement that themselves ;)

[2015-05-26 20:19] radinamatic commented on #3299
Yep, close away!

[2015-05-26 20:21] aronasorman commented on #3195
I think we need to purge all references to the `update` command before release.

[2015-05-26 20:22] #3299 closed

[2015-05-26 20:23] radinamatic commented on #3459
You can close it already, solved in #3647.

[2015-05-26 20:25] radinamatic commented on #3346
Unless my coding skills get waaaay better in a matter of days by some KA Lite's own miracle, yeah, I'd say it's too ambitious... ;)

[2015-05-26 20:30] MCGallaspy commented on #3722
How do I reproduce this? `from kalite import settings` works without error for me, using the `shell_plus` command.

[2015-05-26 20:31] aronasorman commented on #3195
Can't replicate with the latest develop. I also see no more mentions of `manage.py update`.

[2015-05-26 20:31] #3195 closed

[2015-05-26 20:48] MCGallaspy commented on #3665
This contradicts my experience -- using a hint or getting the incorrect answer means you don't accumulate points for a question, but points are not lost from previous correct answers. Is that what you mean @jamalex ?

[2015-05-26 20:56] aronasorman commented on #3202
I tried simulating this by first opening the [teach](http://127.0.0.1:8008/coachreports/teach/89496a2f004446af85de09268c9287fb/) page as an admin, then restarting my server.

This is what I get:

![screen shot 2015-05-26 at 1 55 41 pm](https://cloud.githubusercontent.com/assets/191955/7823231/f13d81ac-03ae-11e5-901d-eb31364ea6aa.png)

So it looks like our modal login isn't functioning properly @rt

[2015-05-26 21:01] aronasorman commented on #3298
Let's close this now, and reopen for accessibility issues we encounter with the content recommendation-enhanced landing page.

[2015-05-26 21:01] #3298 closed

[2015-05-26 21:04] aronasorman commented on #3318
Hi @sharprakeshverma, we've fixed this issue during the bug squashing phase for 0.13. I'm closing this issue, but if you still encounter this please don't hesitate to file another one.

[2015-05-26 21:04] #3318 closed

[2015-05-26 21:05] aronasorman commented on #3320
@rtibbles can you make a fix for this?

[2015-05-26 21:10] aronasorman commented on #3344
Will work on this.

[2015-05-26 21:21] benjaoming commented on #3722
@MCGallaspy the fix was already merged into develop at the time whe you tested, perhaps that's the problem. No matter what, you'd need to be running without pyyaml.

I'll have a second look at develop to make sure that there's no overlapping or brainfarts from my side.

[2015-05-26 21:22] benjaoming commented on #2952
No @aronasorman, this feature is far from implemented, wouldn't dream of closing this issue yet :)

[2015-05-26 21:24] MCGallaspy commented on #3665
Exercise screenshots are a tricky business, since it's not a given which exercises will appear on the server building the docs. Right now we can ensure assessment items are on the field server by provisioning with ansible. If someone attempts to build the docs without the appropriate exercises downloaded, it may fail ungracefully.

[2015-05-26 21:25] benjaoming commented on #2856
@aronasorman when you do this, beware that backporting becomes a bit annoying.

Anyways, let's do this at the point when you break off develop into 0.14 and let the develop branch track 0.15. It's pretty easy with autopep8.

[2015-05-26 21:26] benjaoming commented on #2657
agreed!

[2015-05-26 21:28] benjaoming commented on #3562
@MCGallaspy, I would think that the compiling is the responsibility of the repo owner, same as with compiling language files, javascript compressing etc... so whatever you do as a packager, you can always just grab a snapshot of the source and distribute that without worrying about building KA Lite's internal logics.

[2015-05-26 21:32] MCGallaspy commented on #3640
I think this is resolved on `develop`, or at least I've had no issues with `kalite start`.

[2015-05-26 21:32] #3640 closed

[2015-05-26 21:39] benjaoming commented on #3723
Hmmm, I will revisit the previous traceback and see if this was indeed an issue or not. Somehow it went away after changing said filenames, but it can't be so!!

[2015-05-26 21:42] MCGallaspy commented on #3611
I don't find this:

A satisfactory solution for the average user. I don't think we should officially deprecate `local_settings.py` (especially since it still works!) until we provide a viable alternative, namely a tool or an web interface which allows users to configure the settings or generate a custom settings module they can use.

[2015-05-26 21:43] MCGallaspy commented on #3611
And that said, I vote that we punt this issue to 0.15, since there's a project in the works for a web view on the settings.

[2015-05-26 21:48] MCGallaspy commented on #3608
@aronasorman @jamalex
So apparently the state of things is that one needs the pro version of BTSync, and then after one enters the key that can be found in our docs it needs to be approved. Once we are able to offer an alternative we will also need to update the docs to reflect this situation.

[2015-05-26 21:48] #3608 closed

[2015-05-26 21:50] #3599 closed

[2015-05-26 21:52] MCGallaspy commented on #3572
Seemingly fixed in #3661.

[2015-05-26 21:52] #3572 closed

[2015-05-26 21:53] aronasorman commented on #3562
@benjaoming it might be good to encapsulate all the special KA Lite logic into a Makefile. That way packagers everywhere will have a single recognized entrypoint to building KA Lite for distribution.

[2015-05-26 21:58] aronasorman opened #3740 "Support multiple versions of the docs"
Similar to what Django does:

![screen shot 2015-05-26 at 2 57 45 pm](https://cloud.githubusercontent.com/assets/191955/7824415/a2503a40-03b7-11e5-8f49-32ad59c3ab39.png)

We default to the latest stable release (0.13.x currently) but then also provide a "bleeding edge" doc.

[2015-05-26 22:00] MCGallaspy commented on #3567
I think that's the "beginner" label.

[2015-05-26 22:06] MCGallaspy commented on #3565
Any idea on how to reproduce this @Antrikshy?

[2015-05-26 22:12] Antrikshy commented on #3565
@jamalex, @aronasorman and I tried debugging and it seems like it's a problem in my computer. It happens in all three browsers and even on the demo server. Haven't been able to isolate the problem. Tried turning off firewall. AFAIK it only happens on the language tab.

I guess you can close it and wait for any reports from other Mac users.

[2015-05-26 22:12] rtibbles commented on #3320
Sure.

[2015-05-26 22:33] #3565 closed

[2015-05-26 22:40] MCGallaspy opened #3742 "Learn tab flickers when video playing"
On `develop`:
Expected behavior: The learn tab doesn't blink.
Actual behavior/steps to reproduce: Log in as a student (other account types untested). Play a video. Notice that the color of the Learn tab flickers from green to white. Pausing the video causes the flickering to cease.

[2015-05-26 22:40] MCGallaspy commented on #3546
I can't reproduce this either. Pulled `develop`, ran `bin/kalite setup`, `bin/kalite start`, downloaded some videos as an admin. I can view them fine with all account types.

[2015-05-26 22:42] rtibbles commented on #3742
Muy curioso - OS/browser combo?

[2015-05-26 22:43] rtibbles commented on #3742
I suspect this may come from overly aggressive rerendering of the now Backbonified Nav bar, @jtamiace

[2015-05-26 22:43] MCGallaspy commented on #3546
@radinamatic

The only possibility I can think of is that you're doing something different for this step. When you run `bin/kalite setup`, it should prompt you to delete the DB if one exists (say yes). If no DB exists, it'll just create one. It's also possible that some .pyc files are laying around if you're switching from `master` or `0.13.x` to `develop`, be sure to delete any first.

[2015-05-26 22:44] MCGallaspy commented on #3546
Anyway, it's quite separate I think from the title issue. Closing.

[2015-05-26 22:44] #3546 closed

[2015-05-26 22:45] MCGallaspy commented on #3742
Chrome/Windows client, served from Ubuntu 14.04.

[2015-05-26 22:56] MCGallaspy opened #3743 "Uncaught error on Learn page"
On `develop`:
Observed behavior:
Occasionally (I haven't been able to reproduce this reliably yet :( ) I see the following error in a red bubble on the learn (`/learn/khan/`) page:

Steps to reproduce:
Unknown at this time. Please report if you encounter this error, too!

[2015-05-26 22:58] MCGallaspy commented on #3743
Logged in as a student, I got the following bubble alert on `/learn/khan/`:

Could it be related? This message probably shouldn't appear on this page.

[2015-05-26 23:10] MCGallaspy opened #3744 "404 for reverse.js"
On `develop`:
Observed behavior/steps: Ran `kalite manage kaserve` (instead of `kalite start`) to get that sweet debug output. This:

Gets a 404 response. No such problem with `kalite start`. Is it me?

Edit: The consequence is that the login dropdown doesn't seem to work anymore.

[2015-05-26 23:18] benjaoming opened #3745 "Trying to create directory that already exists"
After creating .deb from current develop

[code]

[2015-05-26 23:21] benjaoming commented on #3745
Not actually sure what's going on since it checks if the path exists before trying to create it.

https://github.com/learningequality/ka-lite/commit/c85309053c726bcffef63f5641a373290d9cde2b

@jamalex any thoughts?

[2015-05-26 23:25] benjaoming commented on #3745
Doesn't happen second time I run `kalite start`. Problem might be that there are two processes doing the same thing? I dunno.. it's a little bit weird considering what the condition states...

[2015-05-27 05:08] arceduardvincent opened #3746 "CommandError: Unknown command: 'migrate'"
Branch:` Develop`
Target: `0.14.x`
Current Behaviour: When running the `kalite manage setup` can't proceed for database migration.

Expected Behaviour: When running the migration command the changing of database schema from one version into another must succeed.

Steps to reproduce:
1. Open a `terminal`
2.  `cd ~/ka-lite`      *which is your kalite directory.*
3. run `vagrant up` or  `vagrant prov

[2015-05-27 05:16] cpauya commented on #3746
This is because `South` is not being seen among the python packages - however, it was installed during vagrant box provisioning, perhaps it was installed somewhere else?
![screenshot 2015-05-27 13 16 18](https://cloud.githubusercontent.com/assets/175580/7829281/979a624a-0472-11e5-9afa-4ce2d8e62837.png)

[2015-05-27 05:28] jamalex commented on #3746
Just need to delete all pyc files, that fixed it for both @rtibbles and me. Might be worth trying to track down what file is causing it, before deleting all, if that's easy, so we can find a way to avoid this for others.

[2015-05-27 05:29] jamalex commented on #3746
`find . -name "*.pyc" -delete`

[2015-05-27 05:58] mannyack commented on #3559
I think I gave you all the details earlier. If anything is not clear,
let me know and I can pass along documentation.

You did not quite say the first part correctly. KA-Lite does server from
different ports, depending on the physical server. I think there should
be no difference between the port served when the server is any type of
Raspberry Pi, which is not the case right now.

Manny

On 5/26/2

[2015-05-27 06:18] yohanboniface commented on #3398
The kalite command I have on the servers doesn't answer to `status` argument. I'll update when possible and keep you updated. cc @Splite07

[2015-05-27 07:36] arceduardvincent commented on #3746
Hello @jamalex thanks for help
the migration works using the suggested command you have given, Deleting all `pyc` files
I will track down that file causing this error.

[2015-05-27 09:22] benjaoming commented on #3562
@aronasorman that could be a good idea, but non of this is being compiled for a specific system, so I still think it would be okay to leave this for source repo owners... even the non-packaged source code needs it.

[2015-05-27 14:56] #3723 closed

[2015-05-27 15:03] benjaoming commented on #3599
@66eli77 are you reading this? :)

It means you should use KALITE_HOME on Android to ensure that user data is stored in a writeable place. Will you be able to work on that?

[2015-05-27 16:15] #3567 closed

[2015-05-27 16:39] 66eli77 commented on #3599
yeah, thanks for the notice : )

[2015-05-27 16:59] aronasorman commented on #3744
I get these errors when running kaserve with `DEBUG=False`:

![image](https://cloud.githubusercontent.com/assets/191955/7842271/fe331fcc-0456-11e5-850f-34eeca9feb42.png)

[2015-05-27 17:29] MCGallaspy commented on #3398
So what happens

[2015-05-27 17:29] #3398 closed

[2015-05-27 17:50] MCGallaspy commented on #3744
@aronasorman I think those files are legitimately missing, whereas in my case it's not serving the file for some reason.

[2015-05-27 17:54] aronasorman opened #3749 "Create a single and consistent setting for the listen port"
branch: develop

Despite KA Lite listening on another port:
[code]

Our helpful message still prints port 8008:

[code]

[2015-05-27 19:31] benjaoming commented on #3611
@MCGallaspy - where should the average user place the local_settings.py file? ;)

We're deprecating this for good reasons, and it's been discussed, I'm happy to repeat stated points, but the broken way of using INSTALLED_APPS is a great place to start.

[2015-05-27 20:27] MCGallaspy commented on #3611
I'm aware there are issues, but what we're essentially making customization substantially more complicated for the end user without a viable alternative. Especially on windows, where the only way to launch the app with a custom settings module will be from the command line.

[2015-05-27 20:31] MCGallaspy commented on #3744
I suspect this might be an error in django_js_reverse. Can someone try to replicate with `DEBUG=True`?

[2015-05-27 20:56] benjaoming commented on #3611
No it won't -- local_settings are *deprecated*, not removed! ;)

[2015-05-27 20:57] arnoan commented on #3611
If I may chime in: I think it is crucial for many implementations to define their own custom content location. (Especially if using RaspberryPi as the server it's a must.) Currently there does not seem to exist a viable alternative for defining custom folders other than creating a custom local_settings.py. So I am grateful this workaround still exists for the time being.

On a side note: It took a

[2015-05-27 21:08] arnoan opened #3751 "RaspberryPi 2 not recognised as Raspberry"
Expected behaviour: When running the Unix installation script "./setup_unix.sh" kalite should recognise if it is being run on a RaspberryPi and if so perform some optimisations.

Actual behaviour: The new RaspberryPi 2 (Released in February) is not being recognised as a Pi. -> No optimisations are taking place.

For the time being is there a way to manually force the selection of the RPi package?

[2015-05-27 21:12] aronasorman commented on #3751
Interesting. Can you run `uname -a` and paste the output here?

[2015-05-27 21:22] arnoan commented on #3751
Sure:
pi@raspberrypi ~ $ uname -a
Linux raspberrypi 3.18.14-v7+ #792 SMP PREEMPT Sat May 23 16:19:32 BST 2015 armv7l GNU/Linux

[2015-05-27 21:27] arnoan commented on #3751
Running the newest Raspbian Wheezy Build. (2015-05-05-raspbian-wheezy.img)
Another Raspberry Pi B+ running the same system is being identified as expected.

[2015-05-27 21:29] rtibbles commented on #3744
I have had similar behaviour when running tests locally, but with DEBUG=True. Will investigate.

[2015-05-27 21:30] rtibbles commented on #3742
Have (briefly) chatted this over with @jtamiace.

[2015-05-27 22:41] benjaoming commented on #3749
That's not actually a valid command line option. Currently, LISTEN_PORT is hard-coded in kalitectl because of an inconsistency in how a "settings" variable exists, and that doesn't actually make sense then to try to set the variable outside of the environment.

If you want, we could change the issue to say "Create a single and consisten setting for the listen port" :)

[2015-05-27 22:51] #2152 closed

[2015-05-27 22:52] #3732 closed

[2015-05-27 22:53] MCGallaspy commented on #3746
User error.

[2015-05-27 22:53] #3746 closed

[2015-05-27 22:54] benjaoming commented on #3749
In settings, RPi is using a default PRODUCTION_PORT 7007 and PROXY_PORT 8008, others have PRODUCTION_PORT set to 8008.

Now, the issue is that we want an option that sets the port from command line.

I'd suggest:

Port set as command line option '--port' => Environment variable KALITE_PORT set to command line option or 8008 default => Settings always use environment variable, because the port has

[2015-05-27 23:02] rtibbles commented on #3743
If this is still extant, this is because when accessing a node from the 'child' attribute of the topic tree, this now just returns the id for that node, rather than the node itself. So, things try to do a .get on the str of the id, not on the node itself.

I am fairly sure that I have cleared up all instances of this, but would be interested to know if anything else crops up.

[2015-05-27 23:08] benjaoming commented on #3749
But so setting the port is a release blocker, right? The thing is that I find it difficult to have a consistent port setting that's based on local_settings.py or PRODUCTION_PORT

[2015-05-27 23:22] benjaoming commented on #3627
@cpauya and @ruimalheiro can you guys confirm if the Mac/Win installers are independent from these scripts now and if they need them, can you copy them out and maintain them together with the installers instead?

[2015-05-27 23:39] MCGallaspy commented on #3749
I'll have to take a look at this to decide what's viable.

[2015-05-27 23:53] rtibbles commented on #3744
@aronasorman Note one of those errors is flagged here: #3720

[2015-05-27 23:57] rtibbles commented on #3744
@MCGallaspy I can't replicate this error.

```call_command("collectstatic_js_reverse", interactive=False)``` is called during kaserve, so this file should be present.

Are you able to replicate after clearing all *.pyc files?

[2015-05-27 23:58] MCGallaspy commented on #3544
@rtibbles the issue here appears to be that a user without sufficient permissions is redirected based on the setting (in the distributed app) `LOGIN_URL`, which is no longer a valid url -- hence the 404. We should probably change the way permissions like this are handled. Is there a GET parameter which will cause the login modal to be displayed?

[2015-05-28 00:02] rtibbles commented on #3544
There will be once #3729 is merged (I believe I had changed LOGIN_URL to this at some point to, but that seems to have got lost in translation at some point).

[2015-05-28 00:05] rtibbles opened #3755 "404s on learn tab for MathJax extension files"
This is due to an attempt to allow MathJax to get bundled into Django Compressor. The gain is probably not worth the extra warning messages, so will reverse this change.

[2015-05-28 00:05] MCGallaspy commented on #3544
Cool, do you expect that PR to resolve this issue then?

[2015-05-28 00:06] rtibbles commented on #3544
No. But I can update it to change the LOGIN_URL, as that seems the best approach.

[2015-05-28 00:06] rtibbles commented on #3544
Will fix up shortly.

[2015-05-28 00:10] MCGallaspy commented on #3544
Agreed, then I think this will be fixed by #3729.

[2015-05-28 00:17] MCGallaspy commented on #3744
Yeah, on `develop`, cleared pyc files. Still getting this 404. Must be an issue with my system. It seems there's an alternate use [as a view](https://github.com/ierror/django-js-reverse#usage-with-views), which may be more robust. Let me try that out.

[2015-05-28 00:43] rtibbles commented on #3744
Can you check that the file itself exists? If you look in the Base
template, I am using the view if debug is true.

On Wed, 27 May 2015 17:17 Michael Gallaspy <notifications@github.com> wrote:

[2015-05-28 09:20] benjaoming commented on #3611
You can create custom settings as with any other Django project and point Django to its settings env with DJANGO_SETTINGS_MODULE og --settings.

If this isn't viable, then we have a problem and share that problem with the rest of the Django world :)

[2015-05-28 12:44] benjaoming opened #3757 "Settings strategy and introduction of new methods in place of the deprecated one"
There are several ways of injecting your own settings:

1. By editing the source code **DISCOURAGED**. However, I think a lot of people might just do that.
1. By placing one's own local_settings.py in the system's `kalite` package **DEPRECATED**
1. Creating your own settings module and using the command line switch to point KA Lite and Django to it, for instance `kalite start --settings=my_module`

[2015-05-28 17:06] MCGallaspy commented on #3744
Where should I look for it? It doesn't exist in `static-libraries`.

[2015-05-28 17:17] #3755 closed

[2015-05-28 17:27] MCGallaspy commented on #3611
The "problem" isn't that we can't define custom settings, it's that creating a settings module is much more complicated than overriding a few settings in `local_settings.py` from an end-user perspective. "[C]reate custom settings as with any other Django project" is emphatically not something we should expect end-users to be able to do without some help.

[2015-05-28 17:33] MCGallaspy commented on #3757
I'm most interested in points 1 and 3. By creating `kalite.project.settings` you essentially mean defining a bunch of default settings that can be imported, yes? What's preventing this right now, in `mycoolsettings.py`:
[code]

[2015-05-28 17:49] MCGallaspy commented on #3744
Unconditional use of the view works fine for me.

[2015-05-28 17:53] rtibbles commented on #3744
It gets generated and put into your kalite/static folder at server start.
The command might be erroring for you?

On Thu, 28 May 2015 10:49 Michael Gallaspy <notifications@github.com> wrote:

[2015-05-28 17:54] MCGallaspy commented on #3744
`collectstatic_js_reverse` runs without error, if that's what you mean.

[2015-05-28 17:56] MCGallaspy commented on #3744
How about we use the view, but if `DEBUG` is falsy it's cached forever?

[2015-05-28 17:57] rtibbles commented on #3744
Could do, but do you get errors in production mode? I would rather use the
static file for production if its works. It seems like the debug template
context is not triggering properly for you.

On Thu, 28 May 2015 10:54 Michael Gallaspy <notifications@github.com> wrote:

[2015-05-28 17:59] MCGallaspy commented on #3744
No error in production.

[2015-05-28 19:41] #3744 closed

[2015-05-28 21:21] MCGallaspy commented on #3545
This will be fixed by #3729. The user is being redirected to a url that doesn't exist defined by the LOGIN_URL setting, hence the 404.

[2015-05-28 21:37] MCGallaspy commented on #3360
@rtibbles this issue is now obsolete, yes?

[2015-05-28 21:45] MCGallaspy commented on #3202
Yeah, it seems this issue no longer exists with the new login logic, but once the redirect behavior is changed by #3729, I wonder what will happen? I mean, what happens if you navigate to an unauthorized page and are prompted to login, but you login in with insufficient credentials?

[2015-05-28 21:47] MCGallaspy commented on #3202
Okay, I think the answer to the above question is that you will see the bubble `You must be logged in with an account authorized to view this page.` and the login modal will be enabled, still. Seems reasonable. I'll say this is resolved by #3729.

[2015-05-28 21:53] rtibbles commented on #3360
Might still be problematic on central.

On Thu, 28 May 2015 14:37 Michael Gallaspy <notifications@github.com> wrote:

[2015-05-28 21:55] benjaoming commented on #3757
@MCGallaspy nothing! The original idea was also to say (as I think the current deprecation warning message says) that you can do that.

But since settings are normally nested in the project scope, I'd like the move to consist of a refactor so we don't promote `from kalite.settings.base import *` but start out with the nicest possible practice, which I believe is to create a package for everything

[2015-05-28 22:14] benjaoming commented on #3611
@MCGallaspy Is creating a local_settings.py much different from that? The Windows installer will put kalite in C:\Program Files\Some\Path, Mac installer will put it somewhere else, the PyPi on Linux might put it in /usr/local/lib/python2.7/site-packages/kalite -- already you have the task of explaining people exactly where the application package is located... and then you have the problem if they

[2015-05-28 22:30] MCGallaspy commented on #3611
Maybe not, but it's what people are used to. I understand it's not great, but I'm suggesting we do not change it until we have something which feels equally simple. Even deprecating it without removing it will almost certainly rustle someone's jimmies.

Now that I have a better grasp of the issue, I suppose all I'm suggesting here is that we don't deprecate local_settings.py, or that if we must th

[2015-05-28 22:43] benjaoming commented on #3611
We're still not removing it. It's being deprecated. Jimmies may be rustled, but that will only cause for a good opportunity to explain why it's deprecated.

It'll work provided that you are using it with the `kalite` command that's made to fix people's paths. It's actually a proxy for kalitectl. As for Windows, neither paths for Python nor commands like `kalite` will work unless the installer can

[2015-05-28 22:48] MCGallaspy commented on #3757
Let me make sure I'm understanding what you're saying. Ideally it should be the case that:

1. The project `kalite` has its own settings module which does not reference any particular app. (I think we currently violate this, right?)
2. Each app (`distributed`, `coachreports`, etc) has specific settings which don't modify the project's settings. (Again, we _do_ in fact modify project-wide settings

[2015-05-28 23:08] rtibbles opened #3761 "Coach report headers for tabular report are not sticky."
Previously our headers were sticky on the tabular report, so they remained visible as you scrolled, this is no longer the case with the refactor, however.

[2015-05-28 23:10] benjaoming commented on #3757
Yes, all correct!

Regarding app settings, it's important that apps follow this kind of pattern:

**kalite.some_app.settings**

[code]

But this pattern is ***illegal***:

**kalite.some_app.settings**

[code]

...Because applications should never modify projects, then you get a mess regarding responsibility and possibility of inconsistency.

However, in the `kalite.project.settings` package, we sh

[2015-05-28 23:29] benjaoming commented on #3751
@arnoan would you be able to have a look at the current develop to see if it correctly detects your RPi2?

[2015-05-28 23:55] jamalex commented on #3757
Could you explain how settings from which other settings' values are "derived" can be handled in this system? For example, say I want to change `CONTENT_ROOT` -- where do I do that, noting that this then needs to affect the default values for `KHAN_CONTENT_PATH`, `ASSESSMENT_ITEM_DATABASE_PATH`, `ASSESSMENT_ITEM_VERSION_PATH`, `ASSESSMENT_ITEM_JSON_PATH`, etc?

As another example, we have many set

[2015-05-29 00:03] aronasorman commented on #3757
I'm all for huge refactorings that would reduce our technical debt, but I don't think this should come in to 0.14 anymore (as what the milestone indicates).

We basically have 2.1 weeks left 'til our scheduled release date, and right now none of our installers are working (except for pip). The central server is also in pretty bad shape due to the changes in how things are imported, + the changes i

[2015-05-29 00:05] MCGallaspy commented on #3325
Is there an example you're thinking of in which StatusModel doesn't properly track the state? Not clear to me what's being proposed here, and I'm thinking about punting it to 0.15 as it appears to be more substantial than a bug fix.

[2015-05-29 00:13] MCGallaspy commented on #3578
Seems to be a few issues with the search bar. I'm stealing this to work on all three (#3349, #3345 as well) unless you already have a fix for this @Antrikshy?

[2015-05-29 02:47] Antrikshy commented on #3578
Oh yeah, that's perfect. I'm working on some stuff with content curation anyway.

[2015-05-29 09:33] arnoan commented on #3751
@benjaoming Yes, identification is working on develop. Some other errors popping up though. But that might be normal on the develop branch.

[code]
etc...

[2015-05-29 11:54] benjaoming commented on #3757
We know that in order to do this refactor, we need a deprecation warning. So this means not getting rid of the old ways until 0.16.

The deprecation warning means that we need to maintain support for fle_utils.settingshelper, that has cost me hours and hours of unproductive nonsense and will continue to cost users and devs problems in the future. Every now and then I get the impression that I'm no

[2015-05-29 12:25] benjaoming commented on #3751
@arnoan ah yes, the source dist doesn't bundle all deps anymore.. so when running from source, you should do `pip install -r requirements.txt` from command line first (perhaps with a `sudo` in front).

I've released a new version on PyPi that should have both the fix for RPi and bundled packages, you can install it with `pip install ka-lite-static --pre`.

[2015-05-29 12:53] arnoan commented on #3751
@benjaoming Thank you. Maybe I should note that I am not a programmer and only recently started to develop some rudimentary understanding of the functioning of python and github to manage a particular Project Implementation for Refugees here in Freiburg. So I'm grateful if you take it easy on me. ;)

Will try my luck to get the dependencies working now and report back in a moment.

[2015-05-29 13:12] benjaoming commented on #3751
@arnoan please do ask, in case you need help, join us on Hipchat => https://www.hipchat.com/gzQfGFgv1

[2015-05-29 14:11] arnoan commented on #3751
Thanks, will get back to that if needed. For now I managed to install PyPi and `sudo pip install -r requirements.txt` worked out well. Also the installation of 0.14.dev10 is working fine and Raspberry optimisation is happening as expected now. The content sidebar is loading much faster now (took ~30sec to appear on client devices before, now it's almost instantaneous) but that might also be since

[2015-05-29 14:17] benjaoming commented on #3751
@arnoan thanks for this feedback, I am not quite sure why you are getting this error from pip, could you tell me what's the output of `pip --version` so we can know if this is due to an old version of pip? Also, would it work by moving the `--pre` option like this: `pip install --pre ka-lite-static` ?

[2015-05-29 15:31] aronasorman commented on #3562
@benjaoming by source repo owners, do you mean us, the developers of KA Lite? So you're saying we should commit the compressed JS files, jsonified yml files, and other things we will generate in a built process, into the repo? Sounds counterintuitive to me, and defeats the whole purpose of having a build process in the first place.

[2015-05-29 15:35] arnoan commented on #3751
`pip --version` returns:
[code]

`pip install --pre ka-lite-static`
returns the same error as before:

[code]

[2015-05-29 15:37] aronasorman commented on #3751
Oh, that's a really old version of pip @arnoan. Can you try running `pip install --upgrade pip`?

[2015-05-29 15:38] aronasorman commented on #3751
for reference, this is what `pip version` returns in my computer:
[code]

[2015-05-29 15:43] benjaoming commented on #3751
The pip available on Ubuntu 14.04 is 1.5.4.

@arnoan as @aron says, try with a later version of pip or try removing `--pre` and see if your pip succeeds in finding the latest version.

[2015-05-29 15:46] benjaoming commented on #3562
@aronasorman yes that's what I'm saying :) When you change a .yml file, you should run `compileymltojson` and commit the .json file, too. This is the same procedure for .po and .mo. Otherwise you force anyone who wants to use the source to know these commands and run them. Python projects are normally run-able without building anything.

[2015-05-29 15:52] jamalex commented on #3562
The load_yml_or_json function we've discussed a number of times means you
don't need to build anything when running from source.
On May 29, 2015 8:46 AM, "benjaoming" <notifications@github.com> wrote:

[2015-05-29 16:01] benjaoming commented on #3562
@jamalex you need pyyaml for building "on the fly".

But I don't see the problem in what I'm saying. Why should it be packagers responsibility when the repo owner needs to ship a one-size-fits all json? :)

[2015-05-29 16:02] aronasorman commented on #3562
@benjaoming but we don't recommend anyone from using the bare source for production usage anymore. I think package builders should be smart enough to read documentation on how to make KA Lite usable in production (running `collectstatic, compileymltojson, bundleassets` etc.) or if they see something like a `Makefile` then it should be easy for them to read what's in there.

If this is more of an i

[2015-05-29 16:07] arnoan commented on #3751
@aronasorman @benjaoming Thanks for pointing out the old version. I need to get into the habit of immediately updating all modules after their installation. Could have guessed that myself. After running the suggested pip update I'm on version 7.0.1 now. (On Raspbian Wheezy.)

Both `pip install ka-lite-static` and `pip install ka-lite-static --pre`are working now:
`Requirement already satisfied (us

[2015-05-29 16:19] benjaoming commented on #3562
`collectstatic`: Is not run by packagers
`bundleassets`: Might be run by packagers, but should certainly never be included in the source
`compileymltojson`: Would create a JSON file usable for all

If you create a make file, what would you put in it, except for `compileymltojson` and maybe `compilemessages`?

Conceptually, I'd say this:

Repository owners and source code distribution: Handles a ba

[2015-05-29 16:34] jamalex commented on #3562
There are going to be a large number of steps in the build process, which will be required in order to create an efficient bundle usable for deployments. This includes JS minification, JS concatenation, Handlebars template pre-compiling, LESS compiling, and much more. These will require the presence of node.js among other tools (no way around it, for compiling Handlebars/LESS), so we can't expect

[2015-05-29 17:15] #3665 closed

[2015-05-29 19:00] radinamatic commented on #3459
@MCGallaspy, this can be closed...

[2015-05-29 19:03] #3459 closed

[2015-05-29 19:31] MCGallaspy opened #3764 "js reverse test failures"
Now on `develop`:

    NoReverseMatch: Reverse for 'js_reverse' with arguments '()' and keyword arguments '{}' not found.

Once we merge a fix, affected PRs can pull `develop` again.

[2015-05-29 19:33] MCGallaspy commented on #3345
My first thought it simply to append the kind, so something like:

    My Cool Topic (Exercise)
    My Other Cool Topic (Video)

Any opinions? @radinamatic or others?

[2015-05-29 19:35] MCGallaspy commented on #3345
Specifically I'm wondering if there's a way to include the kind that shows up on screen readers only, given that the kind is already indicated by the icon in a non-screen-reader context.

[2015-05-29 20:07] MCGallaspy commented on #3764
Can't seem to replicate locally.

[2015-05-30 00:04] jamalex commented on #3757
Ok, yes, environment variables would make sense in that case. And I agree it would be nice in a purist sense to avoid too many derived settings, but it's often tricky in practice (at least until we've restructured things around a "core" / "plugins" approach). And in particular, this isn't something we're going to have ready for 0.14, so I'd like to see a much more constrained plan for what's going

[2015-05-30 00:10] benjaoming commented on #3562
But these are all steps that I propose should be handled within the repo and *not* by packagers, because they are universal to ALL distributions, just as with the .po and .mo files. Hence my previous attempt to discern between source repository and packaging.

So if you change a .js file, you should also commit the minified version of that .js file. This is even done in .js distributions on github

[2015-05-30 00:37] jamalex commented on #3562
Hmm, wouldn't this lead to merge conflicts *every time* two users change any lines in a JS file? It also very quickly bloats the repo. I thought this was the point of "source" vs "built" modes.

[2015-05-31 09:48] benjaoming commented on #3562
It only "bloats" the repo with files that are useful to everyone. Hence the example with .mo and .po files. You won't get conflicts in a minified file more than in a JS source AFAIK, but otherwise the conflict is pretty easy to solve.

[2015-05-31 09:59] benjaoming commented on #3757
But my suggestion wasn't to target what's outlined in the examples.

For 0.14, it was to expose an API to users/devs so we can get old methods deprecated. It says so pretty clearly in the original ticket.

[2015-06-01 05:52] amodia opened #3770 "Can't run 'python setup.py sdist --static' on mac."
@benjaoming Do you have idea on this issue.
**Branch**: Develop
**Target**: 0.14.x
**Expected behavior**: The `python setup.py sdist --static` must run on command line.
**Actual behavior**: When running `python setup.py sdist --static` on my command line i have this error.

![screen shot 2015-06-01 at 10 25 56 am](https://cloud.githubusercontent.com/assets/8663934/7906806/693f87fa-0863-11e5-9256-7

[2015-06-01 09:11] benjaoming commented on #3770
@amodia thanks for reporting!

What's your version of pip and is it possible to upgrade it?

[2015-06-01 09:16] amodia commented on #3770
@benjaoming `1.5.4` is the version of my `pip`.

[2015-06-01 09:27] amodia commented on #3770
@benjaoming Its working now I just upgrade my pip to `7.0.1`.

[2015-06-01 09:33] benjaoming commented on #3770
okay cool, I'll put something about pip 7+ as a dependency for building.

[2015-06-01 09:33] #3770 closed

[2015-06-01 18:01] MCGallaspy commented on #3749
The `port=9000` arguments doesn't seem to work for me at all -- server is not listening on whatever argument I pass.

[2015-06-01 18:02] jamalex commented on #3562
Minification puts everything into one line, so yes, conflicts will be much more frequent. Especially as the build process is going to be bundling many JS files into a single file, so we would have a merge conflict anytime anybody changed anything in any one of those files in parallel. And it then means manually resolving those conflicts before PRs can be merged, which may be "easy", but is a huge

[2015-06-01 18:03] aronasorman commented on #3749
@MCGallaspy I believe that syntax only works when DEBUG=False, because cherry py has a different flag syntax vs. the debug server. Maybe that's the problem?

[2015-06-01 18:03] MCGallaspy commented on #3749
Well that's silly, why don't we have consistent syntax?

[2015-06-01 18:05] MCGallaspy commented on #3749
It seems anyway that cherrypy vs. debug server is dependent on the `production` option, which is set by `kalite start` anyway -- so `kalite start` should always run the cherrypy server regardless of one's DEBUG setting.

[2015-06-01 18:31] rtibbles commented on #3764
Fixed in #3768

[2015-06-01 18:31] #3764 closed

[2015-06-01 19:24] MCGallaspy commented on #3749
@benjaoming is right, ports are kind of a mess. There's a CHERRYPY_PORT, PRODUCTION_PORT and PROXY_PORT. My plan here is to create one port setting and remove references to all the others, let it be set by an environment variable as discussed, and to accept a command line `--port` option.

[2015-06-01 22:12] benjaoming opened #3774 "Update command for 0.14: Installers, PyPi, git -- decisions"
Trying to structure this a bit to make it more "operational" for the imminent release..

Important question 1
================

Should KA Lite support `kalite manage update` for 0.13? (It's already there in the 0.13)

Command is already implemented in 0.13, so there's no way around the fact that *something will happen when users run it*. The command would download the latest KA Lite from Git or be

[2015-06-01 22:18] benjaoming commented on #3774
Awaiting comments and questions, will upgrade above description to reflect discussion below......

[2015-06-01 22:32] aronasorman commented on #3774
Yeah, as the last guy that touched the `update` command, it's sorely outdated and should just be rewritten. Right now the 'happy path' is basically a frontend to `git fetch upstream; git checkout upstream/nalanda-rct3; python manage syncdb`. Which was a decent solution when we expected everyone to have a git repo, but won't hold true anymore for the installers age and the upcoming unified update U

[2015-06-02 02:22] cpauya commented on #3770
@benjaoming is right @amodia, upgrading `pip` fixes this issue.

**Long story here**

I have `pip version 1.5.6` and have upgraded it to `7.0.3` using this command

I then ran `python setup.py sdist --static` based on latest `develop` branch today and it worked without any issue!

Here's the trimmed-down (used ellipses ... to trim a lot of output) log on my terminal:

[code]

So, as @benjaoming me

[2015-06-02 02:28] amodia commented on #3770
Yeah @cpauya I just upgrade my pip to 7.0.1 and it was fixed.

[2015-06-02 03:38] cpauya commented on #3770
Was too late in this game, just noticed the prior comments :smiley_cat: thanks anyway.

[2015-06-02 11:08] benjaoming commented on #3749
Agree with @MCGallaspy that cherrypy should always run, regardless of `DEBUG`.. it's faster and we also want to test it as much as possible.

Also agree on adding `--port`, regardless that normal django syntax is this:

`python manage.py runserver 1.2.3.4:5678`

I think it's messy to parse and inflexible because it deviates from how normal options are passed.. so I would prefer that we do `kalite

[2015-06-02 15:25] #3682 closed

[2015-06-02 16:25] MCGallaspy commented on #3749
I wasn't suggesting that, but I think it's a good idea. That said, cherrypy doesn't have the nice debug output of the development server.

[2015-06-02 18:27] MCGallaspy commented on #3774
Yes, let's remove the `update` command in 0.14; it doesn't align with our supported installation methods now. We should provide a migration path for users switching from "source" distributions to the now-supported method (meaning putting the .sqlite db file and the data/khan directory in the right places).

[2015-06-02 18:35] MCGallaspy commented on #3745
Able to reproduce this error?

[2015-06-02 18:43] MCGallaspy commented on #3541
For this, I'm going to specify any unqualified except clauses. That should make it easier to hunt down future errors.

[2015-06-02 21:12] 66eli77 commented on #3751
I know that our original implementation detects the CPU model to identify Raspberry Pi, since RP2 uses different CUP, this behavior is expected. Is @benjaoming 's new approach solved the issue?

[2015-06-02 21:20] arnoan commented on #3751
@66eli77 Yep, in the newest dev build the recognition is working.

[2015-06-02 21:53] #3751 closed

[2015-06-02 22:34] MCGallaspy commented on #3704
Does this issue only occur on mac? Have you been able to reproduce it @ed? Were you logged in as a coach or an admin?

[2015-06-02 22:41] MCGallaspy commented on #3704
Unable to reproduce, @cpauya can you try this on mac?

[2015-06-02 22:41] #3676 closed

[2015-06-02 22:47] MCGallaspy commented on #3627
It appears the windows installer does indeed depend on some of these scripts. See [these search results](https://github.com/learningequality/installers/search?utf8=%E2%9C%93&q=bat). No word on mac, perhaps @cpauya can weigh in?

[2015-06-03 00:52] cpauya commented on #3627
We don't use those scripts on the Mac installer anymore since we have been using the `bin/kalite` command.

It doesn't do the following just yet:

1. use the `pip install ka-lite`
1. it doesn't have an uninstaller

[2015-06-03 01:57] cpauya commented on #3704
I was able to reproduce this a few days ago @MCGallaspy - I will try again with the latest build from dungeon server: http://dungeon.learningequality.org:8085/browse/KL-KALITE014/latest and post a screenshot here.

[2015-06-03 07:00] cpauya commented on #3704
Yes @MCGallaspy, video downloads are failing on the latest Mac installer too (after successfully doing a One-click Registration).  I am logged-in as admin.

Here's the browser screenshot on Firefox v38.0.5:
![screenshot 2015-06-03 14 34 38](https://cloud.githubusercontent.com/assets/175580/7954074/b25cfd72-09fe-11e5-99f6-31b10f99ae8c.png)

After the failed attempt to download a video, I ran `kalit

[2015-06-03 07:24] cpauya commented on #3704
I ran these commands on the terminal (repeat setup with new database and do runserver):

[code]
And I was able to download videos successfully.  I also tried `kalite manage kaserve` and it also worked.

Here's a screenshot of the video download happening:
![screenshot 2015-06-03 15 11 02](https://cloud.githubusercontent.com/assets/175580/7954668/37a8caec-0a04-11e5-966f-9533b61ce76b.png)

Then I tr

[2015-06-03 09:11] benjaoming commented on #3627
@cpauya that's great!! Btw in case you use "pip" for installing, you can also use it for uninstalling.

@ruimalheiro could you phase out the scripts/ folder for the next release of the installer?

[2015-06-03 09:13] benjaoming commented on #3745
I'm pretty sure it was an unfortunate race-condition because two processes were loading kalite.settings in parallel.

[2015-06-03 11:38] benjaoming opened #3782 "RPi warning message - can it be removed?"
The video download page warns users about only downloading one video at a time. But it doesn't say that this is already what happens. So it kind of makes you look for the button that goes "Fetch videos one by one" or even worse would make users tick one video, download it, and then tick the next.

![one_at_a_time](https://cloud.githubusercontent.com/assets/374612/7958984/0912efe6-09f5-11e5-8cef-e5

[2015-06-03 11:40] benjaoming commented on #3704
@cpauya
Could you post the exception/error message that you presumably have from the video downloads? You can find them on `http://localhost:8008/admin/chronograph/log/`.

[2015-06-03 13:25] benjaoming commented on #3562
@jamalex

But that's standard practice (even though kalite has separate language packs containing application language). Maintaining .mo is very pain free because the .mo files are marked as binaries. You can do the same for a .min.js, forcing the git repo to understand it as a binary [1].

I don't think people will make changes to .min.js or .min.css unless they are very patient :)

*If* you have

[2015-06-03 13:49] cpauya commented on #3704
Hi @benjaoming, I noticed that any first attempt to download a video will crash the server.  The succeeding attempts to download the same video will not.  After the second attempt, it generates a Download Videos log at chronograph like this:

![screenshot 2015-06-03 21 49 01](https://cloud.githubusercontent.com/assets/175580/7961475/681c5e42-0a3a-11e5-881e-17529a7ccdf7.png)

Please note that there

[2015-06-03 13:55] benjaoming commented on #3745
I'm putting this as a release blocker and assigning it to myself. We need a blocking method for these kinds of automatic "initial" operations that aren't threadsafe.

[2015-06-03 14:01] benjaoming commented on #3704
@cpauya strange!

1. After adding the job the very first time and failing to download, can you find the job here?  http://localhost:8000/admin/chronograph/job/
1. After adding the video again, will it be downloaded twice?

[2015-06-03 14:14] benjaoming opened #3784 "Unbundle "git" package"
Was only used by deprecated `update` management command and an obsolete view.

[2015-06-03 14:18] benjaoming opened #3785 "Unbundle gitdb"
Freebie: Completely unused!

Depended on the "git" package which has just been removed!

[2015-06-03 14:53] cpauya commented on #3704
@benjaoming,

Using `kalite start`:

1. No job/log is created on first attempt because the server (pyrun2.7) crashed so I have to run `kalite start` again.
2. For subsequent attempts on the same video, it won't crash the server but won't download the video either if I used `kalite start`.

But then again, using `kalite manage kaserve` will download the video successfully.  Perhaps there's a differ

[2015-06-03 14:58] benjaoming commented on #3704
@cpauya `kalite start` invokes `kaserve` but also starts a background service with `chronograph`, a thread running separately from the HTTP server. The chronograph thread is the one that downloads files. Just running `kaserve` won't download any videos, just queue the job.

If no jobs are created, this indicates that something is wrong with the process running the server. Are you able to get outpu

[2015-06-03 15:14] cpauya commented on #3704
Sadly I can't find any output or log, I tried looking up at the Console crash report but nothing there.

I guess we have an issue with using `pyrun2.7` instead of pure Python?  Will dig deeper tomorrow.

[2015-06-03 15:43] cpauya commented on #3704
Tried to do this:

`launchctl setenv KALITE_PYTHON "/Library/Frameworks/Python.framework/Versions/2.7/bin/python"` so it will use my OSX 2.7.9 python instead of pyrun, restarted terminal, re-ran `kalite start`, and it worked!

So for now I would say the failing video download has something to do with the pyrun binary.  Ok, really going to bed now.

[2015-06-03 15:45] aronasorman commented on #3704
Heh, this is frustrating. The reason why we moved to PyRun in the first place was to get away from a buggy MacPython. If it's also crashing on PyRun, then we best just bundle the python installer, similar to what the windows installer does. Or perhaps get to the root of the issue of why it's segfaulting in the first place.

[2015-06-03 15:58] benjaoming commented on #3704
@aronasorman it's not confirmed yet that it's a Pyrun segfault but it does sound an awful lot like it :(

@cpauya sleep well, sounds like a problem worth sleeping on :)

[2015-06-03 21:01] MCGallaspy opened #3786 "Sync now button produces broken link"
On `develop`.
To reproduce: Create admin account and register device. Subsequently on the zone management page, you'll find the link "Sync Now!" in the devices table. Clicking the link causes an alert bubble to appear on the page with a broken link.

[2015-06-03 21:39] benjaoming commented on #3749
I added a missing 't' in "consistent"... for consistency :)

[2015-06-03 22:28] MCGallaspy opened #3788 "Attempting to download language pack results in error"
On `develop`.
Steps to reproduce: log in as admin, attempt to download a language pack. Results in a bubble alert on the page with the text `Unexpected error; contact FLE with the following information: 200` along with the html for the language pack download page.

Screenshot:
![ss](https://cloud.githubusercontent.com/assets/8888020/7972909/1c6bae1a-0a05-11e5-9927-d256f36e1b1e.png)

[2015-06-03 22:54] rtibbles commented on #3788
This does sound very familiar.

[2015-06-03 23:03] rtibbles commented on #3786
Fixed in #3787

[2015-06-03 23:03] #3786 closed

[2015-06-03 23:03] rtibbles commented on #3720
Fixed in #3760

[2015-06-03 23:03] #3720 closed

[2015-06-04 01:07] rtibbles commented on #3538
Fixed by #3729

[2015-06-04 01:07] #3538 closed

[2015-06-04 01:08] rtibbles commented on #3544
Fixed by #3729

[2015-06-04 01:08] #3544 closed

[2015-06-04 01:11] rtibbles commented on #3320
Fixed in #3754

[2015-06-04 01:11] #3320 closed

[2015-06-04 17:53] MCGallaspy commented on #3788
@rtibbles
Okay, I remember what's going on now. The request fails because the `window.sessionModel.get("START_LANGUAGEPACKDOWNLOAD_URL")` is undefined (how did that slip back in?), but something funny is going on with the server's response; failure shouldn't return a rendered page, just a message.

[2015-06-04 18:32] 66eli77 opened #3791 "AttributeError on Android"
Branch: develop
I use adb connect to an android device and run the line: python kalitectl.py start
I got AttributeError: 'Settings' object has no attribute 'I18N_DATA_PATH'

traceback:
[code]

[2015-06-04 18:34] 66eli77 commented on #3791
@benjaoming  any insights on what could possibly cause this problem?

[2015-06-04 18:47] MCGallaspy commented on #3541
It turns out tracking down fishy `except` blocks is tricky. I also can't reproduce this error as described; any tips?

[2015-06-04 18:48] MCGallaspy commented on #3541
I'm guessing part of my trouble in reproducing it was that we reduced memory use, too :)

[2015-06-04 21:51] benjaoming commented on #3541
@MCGallaspy you don't have to, just raise your own exception as I described... my conclusion was that this is a universal thing.

[2015-06-04 21:57] benjaoming commented on #3791
So this is another case this §/#¤"&"#)!# where we have two options:

1. Somehow the load order is different on your system
1. There is actually an exception when loading `kalite.settings` which has been silenced and instead `legacy.i18n_settings` simply wasn't loaded and included and the exception was thrown away (my guess).

If you look at how the said `I18N_DATA_PATH` is defined, you have the fo

[2015-06-04 21:57] benjaoming commented on #3791
And this is why I want to refactor settings.

[2015-06-04 22:12] rtibbles commented on #3578
Fixed in #3766

[2015-06-04 22:12] #3578 closed

[2015-06-04 22:12] rtibbles commented on #3349
Fixed in #3766

[2015-06-04 22:12] #3349 closed

[2015-06-04 22:12] rtibbles commented on #3345
Fixed in #3766

[2015-06-04 22:12] #3345 closed

[2015-06-04 22:38] rtibbles commented on #3788
Fixed in #3790

[2015-06-05 15:46] rtibbles commented on #3742
Fixed in #3792

[2015-06-05 15:46] #3742 closed

[2015-06-05 16:34] MCGallaspy commented on #3541
@benjaoming @aronasorman okay, I'm able to consistently kill the server process now; as you said an exception raised after `become_daemon()` will do the trick. I suspect now the error isn't an uncaught exception, but rather that the main process keeps going even if the server dies.

[2015-06-05 17:09] MCGallaspy commented on #3541
I also think `become_daemon()` is also redundant given we're starting the server with `subprocess.Popen`. Could be implicated in the process leaks, too.

[2015-06-05 17:41] benjaoming commented on #3541
@MCGallaspy at some point, we need the daemon behavior for `kalite start`. I think the decision to keep it in `kaserve` was because that command needed to be able to do daemon stuff, too, but it's best handled in a single place since there should be a Windows alternative, too (not remembering of `become_daemon` is win compatible).

[2015-06-05 17:42] MCGallaspy commented on #3541
How about:

* Remove `become_daemon` from `runcherrypyserver`
* "Daemonize" management commands using `Popen` options instead (and as a bonus redirect output to a log file)
* Optionally monitor the state of subprocceses thus opened and handle them gracefully, instead of quietly dying

[2015-06-05 17:45] benjaoming commented on #3541
@MCGallaspy can you really do this with Popen? As I remember it, this approach was full of problems, too, when the main process exits.

There is an awful lot of stuff written about how to daemonize things in a cross-platform way, and it ain't pretty :(

[2015-06-05 17:45] rtibbles commented on #3545
Fixed in #3729

[2015-06-05 17:45] #3545 closed

[2015-06-05 17:46] benjaoming commented on #3541
But I would agree that trying the approach could be cool.

If you want to redirect to a log file, perhaps make it an option for `kalite start --kalite-log=/var/log/kalite.log` ?

[2015-06-05 17:48] rtibbles commented on #3407
Code for this has been merged - but I believe we are punting release to 0.15?

[2015-06-05 17:50] rtibbles commented on #3382
Replicated. Found it using keyboard tab.

[2015-06-05 18:39] rtibbles commented on #3281
This is not going to get fixed in 0.14 unfortunately. Continuing overhaul of the coach reports could handle this, though.

@christinepham would you be interested in taking this (and broader changes to the student reports) on over the summer?

[2015-06-05 18:40] rtibbles commented on #3271
Taking this over.

[2015-06-05 19:10] rtibbles commented on #3271
This bug goes deeper than I ever expected.

We actually have two entirely parallel views and templates for creating and editing facilities. Even though they look identical.

[2015-06-05 19:14] radinamatic commented on #3271
Me and my talent to step into the deep mud... ;)

[2015-06-05 20:47] rtibbles commented on #3244
Taking this over.

[2015-06-06 18:34] #3382 closed

[2015-06-06 19:58] MCGallaspy commented on #3541
@benjaoming
Suppose it depends on what you mean by daemonizing, but if we just want to:
* Create a new process that won't die when the parent process quits
* Redirect output away from stdout & pals

Then yes, it can be done with Popen and the only OS-dependent gotcha I'm aware of is already accounted for (the extra kwarg in Windows). Regarding monitoring subprocesses I mean creating another subpro

[2015-06-06 20:26] #3271 closed

[2015-06-06 20:28] MCGallaspy opened #3799 "Error on "Teach" page as admin"
On `develop`:
Steps to reproduce:
* Log in as admin
* Navigate to "Teach" page

I got the following error in a warning bubble:
[code]

[2015-06-08 00:34] jamalex commented on #3782
I think this is actually what it is recommending, as we've had problems on low-powered devices when many video files are queued at once. One at a time is probably a bit conservative, but more than, say, 100 at a time may cause problems. More testing is needed, and improvements to the way the queuing works are also needed.

[2015-06-08 00:44] jamalex commented on #3608
It's for 0.14 (so it includes some new videos not needed for 0.13), but here's a new torrent:
https://learningequality.org/downloads/ka-lite/0.14/content/ka-lite-0.14-resized-videos.torrent
(32GB total)

[2015-06-08 06:22] jamalex opened #3802 "Support for Apache with 0.13 (or 0.14, at least)?"
We ostensibly support running the KA Lite WSGI app via Apache. Some issues described here:
https://forums.learningequality.org/t/installing-ka-lite-on-apache-as-virtual-host/227

Any ideas, @benjaoming? I believe you've done some Apache deployments of KA Lite recently?

[2015-06-08 18:16] MCGallaspy commented on #3627
Punting to 0.15 as discussed in the standup.

[2015-06-08 18:58] MCGallaspy opened #3803 "Serve html docs if they exist"
If the html docs exist at a particular location, then we'll serve them. This is so that built docs can be bundled with the app.

[2015-06-08 19:43] MCGallaspy commented on #3803
During the bundling process, we'll have to make sure static resources (js, css, etc) are somwhere that Django can find them.

[2015-06-08 23:38] rtibbles opened #3807 "Degenerate video and exercise ids"
Branch: develop
Expected Behaviour: Clicking on the link for, or going to this URL: http://127.0.0.1:8008/learn/khan/math/early-math/cc-early-math-add-sub-basics/cc-early-math-add-subtract-10/addition-and-subtraction-within-10/ should take you to the exercise with that name
Current Behaviour: Clicking on the relevant link, or going to this URL, actually takes you to the video that has the same id.

[2015-06-09 13:16] benjaoming commented on #3802
1. Write permissions to the folder containing the SQLite file is a well-known behavior
1. I'm not sure what this is. Could be because the webserver's WSGI thread is killed because of a timeout? Maybe it is creating content caching for a first-run?

It would be recommended to run "kalite start" before deploying the server to check that all caches have been preloaded and things are working as expect

[2015-06-09 14:09] benjaoming opened #3808 "Remove ka-lite.wsgi"
Deprecated in 0.14. Will be moved to kalite/project/wsgi.py

[2015-06-09 17:46] 66eli77 commented on #3807
do you think this is caused by the data in json file that we use to populate the list?(slug)
If that's the case, I loosely remember we encounter the same issue before, but don't recall what the solution is at that time. By modifying the json file?

[2015-06-09 19:43] benjaoming opened #3810 "settingshelper loads the same settings lots of times"
Dump from before:

[code]

Nevermind about what "FAILED" means, it's harmless... just notice that things are being loaded again and again.

Now, here's the result after fixing the problem:

[code]

[2015-06-09 19:52] benjaoming commented on #3745
@MCGallaspy this must be due to #3810 !!

[2015-06-09 19:53] benjaoming commented on #3745
There's a very increased likeliness of race conditions given that all these settings modules are imported sooooo many times!!

[2015-06-09 20:10] benjaoming commented on #3810
This PR is really not very important, because I will burn settingshelper down shortly.

[2015-06-09 21:59] benjaoming commented on #3810
Remaining duplicates are because INSTALLED_APPS was being built wrongly because of weird stuff like for instance this in `testing.settings`:

[code]

Why kalite.main two times!?

Full list of INSTALLED_APPS in old version of `kalite shell`:

[code]

[2015-06-10 17:34] aronasorman commented on #3407
@rtibbles yup, there's a 'preview' now, but this is punted for 0.15.

[2015-06-10 23:28] MCGallaspy commented on #3743
We'll see if this pops up again.

[2015-06-11 17:51] MCGallaspy opened #3819 "Make sure docs build ok"
Something's fishy on develop right now.

[2015-06-11 20:46] ruancilliers commented on #3422
Dear Michael,

Updating to the latest version solved the problem.

Thank you for your assistance.

Enjoy your day,
Ruan

On Tue, May 26, 2015 at 7:45 PM, Michael Gallaspy <notifications@github.com>
wrote:

[2015-06-11 21:11] radinamatic commented on #3546
Cloned the repo from scratch and everything seems to be running like magic again... :)

[2015-06-11 21:22] radinamatic opened #3822 "tastypie warning from deprecated method override_urls"
I just cloned my repo from scratch in effort to get rid of some persistent strange errors on the previous one. Everything runs smoothly now, but I got this error on starting the server.

[code]

No idea if it's important, so close up if nothing needs to be fixed!

[2015-06-11 23:08] #3422 closed

[2015-06-11 23:09] MCGallaspy commented on #3422
We'll chalk this up to user error.

[2015-06-11 23:10] MCGallaspy commented on #3822
It's a warning, so not urgent. But still important to address.

[2015-06-12 02:25] cpauya commented on #3704
It's hard to trace this without a log file of which part of the `ka-lite` code caused the crash.  Having a logger like mentioned on [this PR - "Daemonize with Popen, remove redundant daemonize function"](https://github.com/learningequality/ka-lite/pull/3800) will greatly help trace this.

[2015-06-12 06:24] ruancilliers commented on #3422
It is was definitely a bug in the previous version (012.) that I used,
which you must have fixed in the updated version (0.13). My models did not
sync in 0.12 and when I updated to 0.13 it worked... So thank you for
fixing the bug... :-)

On Fri, Jun 12, 2015 at 1:09 AM, Michael Gallaspy <notifications@github.com>
wrote:

[2015-06-12 10:32] benjaoming commented on #3822
I'm closing this, because it won't be an issue once unbundled: #3403

So the true concern is: Get hard-copied packages managed through requirements.txt and we can be up to speed with the rest of the world's software releases :)

[2015-06-12 10:33] benjaoming opened #3825 "Unbundle tastypie"
Usual procedure: Check that codebase hasn't been modified, if not, replace it with a requirements.txt entry and possibly update the version if it passes tests.

[2015-06-12 10:33] benjaoming commented on #3822
Now tracked in: #3825

[2015-06-12 10:39] #3785 closed

[2015-06-12 10:39] #3784 closed

[2015-06-12 17:33] MCGallaspy commented on #3822
Are you sure unbundling tastypie will resolve this issue? It looks like *we're* using a deprecated function in our codebase, and tastypie is throwing the warning.

[2015-06-12 17:36] benjaoming commented on #3822
Oops, I didn't read the warning correctly, I thought it was coming from something tastypie accessed wrongly.

[2015-06-12 17:36] benjaoming commented on #3822
I can recommend this blog post written by a sheer genius:

http://overtag.dk/wordpress/2013/03/tracking-down-warnings-in-django/

[2015-06-12 17:43] jamalex commented on #3822
It *definitely* won't be an issue once @rtibbles and I get rid of tastypie *entirely*.

![](http://dontpkethebear.com/wp-content/uploads/2013/05/sloth-soon-meme1.jpg)

[2015-06-12 18:36] benjaoming commented on #3810
Will be fixed by  #3809

[2015-06-12 18:37] benjaoming commented on #3745
Will be fixed by  #3809

[2015-06-12 19:24] 66eli77 opened #3829 "Command line for running specific behavior test"
Branch: develop
Current: with a hacky way of renaming the testing folder, we still have to run through all the behavior tests
Goal:  be able to run specified B-test from command line

[2015-06-12 20:56] 66eli77 commented on #3829
this isn't urgent, but nice to have to boost productivity.

[2015-06-12 22:03] radinamatic opened #3831 "Subtitles not displaying"
I'm having problems figuring out why no subs are showing, even though I have them downloaded, and can see them in the kalite\static\srt folder.

**Branch**: today's develop

**Expected behavior**: Videos that have subs should show the subtitle or caption (not really sure which one, probably caption since that's the type of track in the player's code) button in the player control bar.

**Actual beh

[2015-06-12 22:17] jtamiace opened #3832 "Bug on KA Lite Installer for Windows: Does not allow user to continue installer process if they input valid username/password after trying to continue with invalid inputs the first time"
Steps to reproduce:

Run KA Lite installer for Windows
Enter invalid characters for the admin information page
Try to continue with invalid characters
Input valid characters
Try to continue installer process

[2015-06-12 22:20] #3832 closed

[2015-06-12 22:26] MCGallaspy commented on #3832
User error.

[2015-06-12 22:29] jamalex opened #3833 "No need (or use) in asking for email address when creating superuser, and password should be hidden"
Expected: The form that shows up when the server is first run without running setup asks for the critical information for setting up the server, and handles it appropriately.

Observed:

- The user is asked for an email address, which won't get used anywhere, and might be problematic for some users who are totally offline. We should just put a dummy email address into the user creation, and not sh

[2015-06-12 22:30] jamalex commented on #3833
Probably best to ask for the password twice, also, to avoid typos, since they don't have any clear ways to recover the password.

[2015-06-12 22:35] jamalex opened #3834 "Less informative description for "Computing" topic needed"
If you don't have anything good to say, don't say anything at all. We should edit topics.json to get rid of the "s" (it came from KA).

![image](https://cloud.githubusercontent.com/assets/618416/8141191/7347d1fe-1118-11e5-90ec-011c72bd0ccd.png)

[2015-06-12 22:38] MCGallaspy commented on #3829
See #3689

[2015-06-12 22:42] jamalex opened #3835 "Some topic tree API calls take a long time"
Branch: develop
OS: Ubuntu

Expected: sidebar navigation should now be fast, given the fancy refactoring @rtibbles did.

Observed: Clicking around the top-level topics, often it would take much longer than usual (8+ seconds) to load the contents of the topic into the second level of the sidebar.

![image](https://cloud.githubusercontent.com/assets/618416/8141250/1deaa474-1119-11e5-81cd-6defd0754f6

[2015-06-12 22:43] 66eli77 commented on #3829
cool already has PR. close this

[2015-06-12 22:43] #3829 closed

[2015-06-12 22:44] jamalex commented on #3835
Sometimes it seems to return `{"error": "Unexpected error: 'str' object has no attribute 'get'"}` as well.

![image](https://cloud.githubusercontent.com/assets/618416/8141293/e028933e-1119-11e5-8025-a1e69db3af0c.png)

[2015-06-12 22:46] jamalex commented on #3835
The slowdowns seem to have resolved now that the video download process is complete. I wonder whether there's any way we can reduce the priority level of the video download task, so it doesn't mess with other site interactions as much?

[2015-06-12 22:55] jtamiace opened #3836 "Clicking icon to run KA Lite app does not pop up task tray or give feedback that it did something"
Windows 8.1

It wasn't until I checked the icon tray after clicking the KA Lite app icon multiple times that I saw that it had done something. Should the icon tray pop up right away since it wasn't too apparent that it had done something to the task tray?

There were also as many icons as the number of times that i clicked on the app:
![task tray](https://cloud.githubusercontent.com/assets/6668144

[2015-06-12 22:56] jamalex opened #3837 ""Show tabular report" is enabled even when there's no data to show, and shows the legend but no table."
Expected: Buttons should only be enabled when they will do something useful.

Observed: "Show tabular report" is enabled even when there's no data to show, and shows the legend but no table.

![image](https://cloud.githubusercontent.com/assets/618416/8141423/66e34404-111b-11e5-857d-7be3b860da47.png)

[2015-06-12 23:00] 66eli77 opened #3838 "Mac installer question mark does nothing when clicked"
platform: Mac 10.10.3
![screen shot 2015-06-12 at 3 59 10 pm](https://cloud.githubusercontent.com/assets/5577205/8141468/246e6c10-111c-11e5-927f-3c4b1cfffd9b.png)

[2015-06-12 23:02] jamalex opened #3839 "Tabular coach report numbers don't continue all the way across the table"
Expected: Numbers show up on all cells in the tabular report table.

Observed: After scrolling a ways to the right, the numbers no longer show up.

![image](https://cloud.githubusercontent.com/assets/618416/8141452/dfaf428e-111b-11e5-90de-0ff4fa753d0f.png)

Steps to replicate: Run `kalite manage generaterealdata`, go to coach reports, select "Wilson Elementary", and click "show tabular report", th

[2015-06-12 23:04] aronasorman opened #3840 "My Progress on mobile does not work"
Browser: Firefox 37

Is unclickable.

![image](https://cloud.githubusercontent.com/assets/191955/8141493/98e799ae-111c-11e5-9773-02f57273f90f.png)

[2015-06-12 23:06] aronasorman opened #3841 "Computing topic description is a simple 's'"
Browser: Firefox 37

![image](https://cloud.githubusercontent.com/assets/191955/8141517/e9eb0e1c-111c-11e5-920a-0fee31b4e0c9.png)

[2015-06-12 23:07] 66eli77 commented on #3841
see #3834

[2015-06-12 23:07] aronasorman opened #3842 "Student's username is clickable, but doesn't do anything"
Browser: Firefox 37
branch: develop

Clicking the username on mobile ("A A"):
![image](https://cloud.githubusercontent.com/assets/191955/8141541/232073a2-111d-11e5-8e7b-48445c79591a.png)

Doesn't do anything :(

[2015-06-12 23:11] MCGallaspy commented on #3840
To add to this "My Progress" appears to be interactable on the desktop, but clicking it doesn't do anything (as a student).

[2015-06-12 23:12] 66eli77 opened #3843 "sidebar behave weird when immediately click on fade area right after click on Learn tab"
Browser: Chrome
Mac installer
Reproduce: 1. click on learn tab; 2 click on the fade area within 0.1 second after click on learn tab.(it's important to click it very fast)
![screen shot 2015-06-12 at 4 08 42 pm](https://cloud.githubusercontent.com/assets/5577205/8141571/cb6c3d16-111d-11e5-97a6-f4b7a4ccd1ed.png)

[2015-06-12 23:16] jtamiace opened #3844 "Wrong url in sidebar"
Sometimes the links do not take you to the correct destination in the sidebar if there are items that have similar names. Here specifically I clicked the exercise "Numbers to 120" and it took me to the video "Missing numbers between 0 and 120", which is something that I hadn't even yet dowloaded on my computer:

![wrong link](https://cloud.githubusercontent.com/assets/6668144/8141595/3de3dd40-111e

[2015-06-12 23:16] jamalex opened #3845 "Detail view"
Expected: Clicking a cell in the tabular report should expand down and show a detail view below the clicked cell.

Observed: When scrolled a ways to the right and clicking a cell, an empty white space expands down below the row that was clicked, but it appears to be empty:

![image](https://cloud.githubusercontent.com/assets/618416/8141497/ae980db0-111c-11e5-8b17-e5e1af4c97ed.png)

Scrolling all t

[2015-06-12 23:17] MCGallaspy opened #3846 "Coach appears in coach reports"
On `develop`, create a coach and complete some exercises and/or watch some videos. Then note that the coach user appears on the tabular report.

Expected behavior: Only students appear on coachreports.

[2015-06-12 23:18] jtamiace commented on #3844
And once you navigate to the wrong link and open up the sidebar again, that wrong link becomes broken/unresponsive.

[2015-06-12 23:18] aronasorman opened #3847 "Clicking that topic 'back button' too fast results in an empty topic"
Browser: Firefox 37
branch: develop

steps to reproduce:
1. Go to a node that's at least 3 levels deep.
2. Rapidly click on the 'back' button.
3. Get this:

![image](https://cloud.githubusercontent.com/assets/191955/8141606/6e0a6bce-111e-11e5-8bf4-094e7010572d.png)

![image](https://cloud.githubusercontent.com/assets/191955/8141609/8835ecda-111e-11e5-9a37-3d34dd0591ec.png)

  4.) (non-)profit.

[2015-06-12 23:19] aronasorman opened #3848 "Learn "tab" does not look like a tab"
browser: Firefox 37
branch: develop

It looks like this:
![image](https://cloud.githubusercontent.com/assets/191955/8141633/d9da2db2-111e-11e5-94b4-44f6cc44ff93.png)

[2015-06-12 23:20] whitzhu opened #3849 "[MAC] KA-Lite Installer \\ Error Message When Installing"
===ERROR MESSAGE===
"Either the set environment variables or symlink of chalet failed to complete! Please check the Console."

===SYSTEM SPECS===
OS X Yosemite Version 10.10
Macbook Air
Processor 1.7 GHz Intel Core i5
Memory 4GB 1333 MHz DDR3

===SCREENSHOT===
![screen shot 2015-06-12 at 3 35 21 pm](https://cloud.githubusercontent.com/assets/12800136/8141623/a8b0f0a4-111e-11e5-9c5e-581f38343ea7.pn

[2015-06-12 23:22] jtamiace opened #3850 "some JSON not being rendered properly in coach reports"
Shown in attempts 3 and 5

![json problem](https://cloud.githubusercontent.com/assets/6668144/8141653/2118ea38-111f-11e5-834e-b429bd285ce0.PNG)

[2015-06-12 23:22] aronasorman opened #3851 "Slight misalignment in mobile search bar"
Browser: Firefox 37

![image](https://cloud.githubusercontent.com/assets/191955/8141659/300be306-111f-11e5-908e-d286a5f09562.png)

[2015-06-12 23:23] 66eli77 opened #3852 "'int' object is not callable Error when Sync to central server"
Mac installer
Reproduce: go to manage tab and click "Sync Now!" then visit the device management page to view results. then click show error detail
![screen shot 2015-06-12 at 4 20 37 pm](https://cloud.githubusercontent.com/assets/5577205/8141669/5efd85ca-111f-11e5-8cb9-9c97bddfc249.png)

[2015-06-12 23:26] MCGallaspy opened #3853 "No data in coach reports despite user activity"
On `develop`, created two students and completed a few exercises. Yet I see nothing in the big circles in the coach reports, under "This week". Is it a bug? What is the bar for information showing up there? (I smell some inline help baking!)

[2015-06-12 23:31] jamalex opened #3854 "Loading new coach report data does not clear old warning messages"
Expected: "No recent learner data for this group is available" message is shown after selecting options in the dropdowns for which there is no matching data, but should go away when new options are selected that result in data being available.

Observed: It. never. goes. away. Like. never.

![image](https://cloud.githubusercontent.com/assets/618416/8141679/879e8f56-111f-11e5-8bf5-dfd6baebe499.png)

[2015-06-12 23:31] jtamiace opened #3855 "Unfinished line on the language page"
![unfinished line on language page](https://cloud.githubusercontent.com/assets/6668144/8141735/639ecd36-1120-11e5-95eb-ce02b57cd628.PNG)

[2015-06-12 23:39] 66eli77 commented on #3840
When click "My Progress" on Mac Chrome, nothing happened.

[2015-06-12 23:45] jtamiace commented on #3840
Yeah, there's no url in the handlebars template for the nav bar.

[2015-06-12 23:46] 66eli77 opened #3856 "in Coach Reports, click exercise leading to the exercise content with sidebar opened"
Mac installer
Chrome
Current: in side Coach Reports, click a exercise inside Learner's report will direct you to the exercise content, but the content is covered by the open sidebar, and the sidebar is displayed with problem(the fade area is not shown and require two clicks to close the sidebar)
Expected: direct to the exercise content with sidebar closed, so that the user can see the content dire

[2015-06-12 23:53] jtamiace opened #3857 "Logging in as a teacher redirects to splash screen instead of coach reports"
![teacher login](https://cloud.githubusercontent.com/assets/6668144/8141910/7c3801fc-1123-11e5-8143-231550630305.PNG)

Also, if you navigate to the "learn" page as a guest, and then try to login as a teacher from the learn page, it stays on the learn page instead of doing any kind of redirect.

[2015-06-12 23:54] jamalex opened #3858 "Confusing interface in tabular report cell detail view"
Context: When data is generated using `generaterealdata`, the detail view for tabular report cells is confusing. Some parts of this probably apply with actual real data, as well.

We should:

- Improve generaterealdata to generate realer data
- Fix these reports to better handle missing pieces

![image](https://cloud.githubusercontent.com/assets/618416/8141759/d884beda-1120-11e5-9a88-14de9dd5549a.

[2015-06-12 23:54] jamalex commented on #3858
@rtibbles I'm assigning all these coach report issues to you just because you're probably the best person to triage and re-assign them. :)

[2015-06-12 23:55] jtamiace opened #3859 "Search bar button literally off by one pixel...."
My OCD tendencies are showing

![search bar button](https://cloud.githubusercontent.com/assets/6668144/8141934/c582f3c6-1123-11e5-8520-f4fcc13cfa49.PNG)

[2015-06-12 23:56] aronasorman commented on #3859
duplicate of https://github.com/learningequality/ka-lite/issues/3851

[2015-06-12 23:56] #3859 closed

[2015-06-13 00:02] jtamiace opened #3860 "For admins, "Facilities" tab does not stay highlighted when they navigate into a facility"
It sets the "Users" tab to active, but admins are not supposed to have the "Users" tab visible. "Facilities" should still be set to active for an admin.

![manag tab not highlighted](https://cloud.githubusercontent.com/assets/6668144/8141976/7a84b746-1124-11e5-90c3-5fa43356a79f.PNG)

[2015-06-13 00:17] jamalex opened #3861 "Videos not rendering properly when subtitles are present"
Expected: Subtitles render on videos A-OK.

Observed: Videos with subtitles aren't rendering at all.

Steps to replicate: Download videos, then upgrade EN language pack, then go to a video page which should have subtitles.

![image](https://cloud.githubusercontent.com/assets/618416/8142076/98f1ae94-1126-11e5-88ab-6808d981cee7.png)

With JS error message `Uncaught TypeError: Cannot read property 'a

[2015-06-13 00:17] jamalex commented on #3861
Not quite sure how this is related to #3831.

[2015-06-13 00:18] jamalex commented on #3831
Interesting... I couldn't get a video page with (English) subtitles available to render at all: #3861

[2015-06-13 00:19] jtamiace commented on #3857
Also logging in as a teacher from the "sign up" page keeps you on the sign up page:

![teacher login from sign up](https://cloud.githubusercontent.com/assets/6668144/8142086/18cf9d24-1127-11e5-9ba7-3fddf53a0f70.PNG)

[2015-06-13 00:22] rtibbles commented on #3861
In this case, this is pretty easily resolved just by using ```{{ this.url }}``` instead of just ```{{ url }}```.

[2015-06-13 00:26] jamalex commented on #3861
This would be a good idea!

[2015-06-13 00:26] rtibbles commented on #3850
For this, I think the only practical solution for 0.14 is to hide non-simple answers, as rendering the object-type answers requires digging into the guts of perseus.

[2015-06-13 00:26] jamalex commented on #3861
I will do this!

[2015-06-13 00:27] rtibbles commented on #3837
Is there literally no data here, or just no recent data?

[2015-06-13 00:28] rtibbles commented on #3839
Yeah, I noticed this just before we did the demo on Thursday - I can't for the life of me think what might be causing it.

[2015-06-13 00:29] jamalex commented on #3861
Woohoo!!!!!

![image](https://cloud.githubusercontent.com/assets/618416/8142133/86a5bdd2-1128-11e5-8393-7fd36d56dae6.png)

[2015-06-13 00:29] rtibbles commented on #3841
Duplicate of #3834. Note: This is a problem of data that is being pulled from KA itself.

[2015-06-13 00:29] #3841 closed

[2015-06-13 00:30] rtibbles commented on #3843
This is probably a  result of our reliance on debounce for some of the callbacks, 100ms is the threshold being used, I believe!

[2015-06-13 00:31] rtibbles commented on #3844
Duplicate of #3807

[2015-06-13 00:31] #3844 closed

[2015-06-13 00:32] rtibbles commented on #3845
Ah, seems that @Joymysoy never got time to fix this.

[2015-06-13 00:32] rtibbles commented on #3846
Needs one more filter in the API, methinks!

[2015-06-13 00:33] jamalex opened #3862 "Remove all paths based on __file__"
Branch: develop
Install method: `python setup.py install --static` within a virtualenv, on Ubuntu

I previously downloaded the EN language pack with no issue, and it worked. Now, I tried downloading the Spanish language pack, and got the following error:

![image](https://cloud.githubusercontent.com/assets/618416/8142139/d3f1330a-1128-11e5-86f7-2ebaa6682c09.png)

It looks like maybe it's trying to

[2015-06-13 00:34] rtibbles commented on #3847
Solution: Disable the back button until the current sidebar tab has finished being deleted?

[2015-06-13 00:35] 66eli77 opened #3863 "Content Recommendation Explore display issue"
when the screen is wide enough to show the three cards(Resume, NextSteps, Explore) in a row, "Arithmetic" sticks into "Description"
![screen shot 2015-06-12 at 5 34 33 pm](https://cloud.githubusercontent.com/assets/5577205/8142157/65d62712-1129-11e5-81d6-10c4c3d27c6c.png)

[2015-06-13 00:36] rtibbles commented on #3854
Well,that's why we put that little 'x' there for them to dismiss it, of course!

[2015-06-13 00:37] radinamatic commented on #3831
This must be a URL issue, because if I copy the srt file in the "content" folder and hardcode this:

`<track kind="captions" src="/content/tJrSILRXOUc.srt" srclang="en" label="English" />`

inside the video element in the \hbtemplates\video\video-player.handlebars file, I can see the captions just fine...

[2015-06-13 00:37] rtibbles commented on #3858
Yeah, getting the pagination to appear outside the tabs was unusually difficult for some reason.

Question: Does the pagination even work? I honestly have no recollection of implementing it.

[2015-06-13 00:40] rtibbles commented on #3831
It may well be a similar cause to #3861 then - hopefully @jamalex's fix will solve it.

[2015-06-13 00:43] 66eli77 opened #3865 "Uncaught TypeError when click Learn tab"
Browser: Chrome
Mac installer
Reproduce: open your browser's console and click on Learn tab, you will see the following error message
Uncaught TypeError: Cannot read property 'appendChild' of null
MathJax.js?config=/static/perseus/ke/third_party/MathJax/2.1/config/KAthJax-8f02f65cba7722b3e529bd9…:29

[2015-06-13 00:44] radinamatic commented on #3831
I tried that as soon as I saw his issue, but here  `<track kind="captions" src="{{ this.url }}" ` did not change a thing...

[2015-06-13 00:50] rtibbles commented on #3831
Yours must be an issue with the URL itself not being properly put onto the video content.

Are you using the DO_NOT_RELOAD_CONTENT_CACHE_AT_STARTUP flag?

If so, it's possible this is not being properly invalidated by subtitle download.

[2015-06-13 00:52] radinamatic commented on #3831
Nope, I have nothing in the local settings apart from `DEBUG = False`

[2015-06-13 00:53] Joymysoy commented on #3845
Ah yes! I never figured it out.

Sent from my iPhone

[2015-06-13 00:58] rtibbles commented on #3845
And now you are freeeeeeeee!

But yes, I am pretty sure I know what to do here.

[2015-06-13 16:56] Joymysoy commented on #3845
WAHOOOO!! Sike, Not really that free. 🌝

Also thank you!!

Sent from my iPhone

[2015-06-15 08:15] rtibbles commented on #3840
Fixed in #3866

[2015-06-15 08:15] #3840 closed

[2015-06-15 08:17] rtibbles commented on #3861
Fixed in #3864

[2015-06-15 08:17] #3861 closed

[2015-06-15 15:33] radinamatic commented on #3831
Can somebody please try to replicate this? I pulled today's develop, after @jamalex merged his #3864, and as suspected, I still can't see the captions button... :(

[2015-06-15 17:02] #3799 closed

[2015-06-15 17:18] #3707 closed

[2015-06-15 18:46] benjaoming opened #3874 "Message about initial login"
Could we just remove this? After the built-in UI form for creating the first user, the "createsuperuser" alternative, this becomes somewhat inaccurate...

![screenshot from 2015-06-15 20 45 18](https://cloud.githubusercontent.com/assets/374612/8167579/7ed248a4-139f-11e5-91b3-a0dbf8713c1c.png)

[2015-06-15 19:38] benjaoming opened #3875 "testing application problems"
So two issues:

 1. We should put a models.py in `fle_utils.testing` if it's supposed to be used -- or just remove the thing
 1. Make a decision about "_built.touch" because I don't see where this thing is even created, so we can get rid of `kalite.settings.BUILT` all-together and clean up the logic of that.

Currently, stuff is breaking because of having enabled `fle_utils.testing` which was a co

[2015-06-15 19:47] aronasorman commented on #3847
:+1:

[2015-06-15 19:56] benjaoming commented on #3875
`fle_utils.testing` seems to be used by other applications, but the "django application" part is only a management script "runcode.py", which has no calls anywhere in the codebase.

[2015-06-15 19:57] MCGallaspy commented on #3875
Will it resolve the issue if you make it a "vanilla" module instead of a django app?

[2015-06-15 19:59] benjaoming commented on #3875
Yes, removing it from INSTALLED_APPS...

[2015-06-15 20:00] benjaoming commented on #3875
Issue as it appears on the .deb installer (because it didn't create a "_built.touch" file):

[code]

[2015-06-15 20:49] #3749 closed

[2015-06-16 12:44] radinamatic opened #3877 ""'CENTRAL_SERVER_HOST' is not defined" error"
I'm trying to replicate the #3831 by testing and installing the server from my repo on a different machine, and I'm getting the 'CENTRAL_SERVER_HOST' is not defined error. I thought it might be  similar to the #3197 error that we had in March, but it doesn't seem so: I tested with both `DEBUG = True` and `DEBUG = False` and  Central Server at hub.learningequality.org seems up and running.

**Branc

[2015-06-16 15:24] benjaoming commented on #3877
I can see this is easily fixed in the new settings refactor... but it's still unmerged, I think we'll get it in by tonight.

[2015-06-16 17:38] rtibbles commented on #3244
Fixed in #3797

[2015-06-16 17:38] #3244 closed

[2015-06-16 17:39] rtibbles commented on #3335
Fixed in #3789

[2015-06-16 17:39] #3335 closed

[2015-06-16 20:18] MCGallaspy commented on #3855
I'm not seeing it. Can you describe what you expected?

[2015-06-16 20:18] MCGallaspy commented on #3855
Oh, it's the horizontal separator, I see.

[2015-06-16 20:25] radinamatic commented on #3877
Okis, I'll test it tomorrow and report back.

[2015-06-16 21:06] rtibbles opened #3880 "500 Error on Tabular Coach Report"
branch: Develop
Expected Behaviour: Tabular report gives tabular report.
Current Behaviour: Tabular report gives 500 error

Steps to reproduce:
Run generaterealdata.
Look at Tabular Report

![image](https://cloud.githubusercontent.com/assets/1680573/8194464/b66b9c14-1473-11e5-8d6c-e5e3bc9eb188.png)

[2015-06-16 22:20] radinamatic opened #3882 "Coach Report error - AttributeError: 'VideoLog' object has no attribute 'exercise_id'"
**Branch/Date**: Latest develop

**Expected behavior**: Choosing the Facility should present info about learner activity, or clean alert message that there is no recent one.

**Actual behavior**: Choosing the Facility from the drop down throws an `AttributeError: 'VideoLog' object has no attribute 'exercise_id'` error

![attributeerrorvideolog](https://cloud.githubusercontent.com/assets/1457929/81

[2015-06-16 22:28] radinamatic commented on #3882
More info: Selecting back the "Default Facility" from the drop-down maintains the same error but displays the alerts correctly:

![tab-report-def-facility](https://cloud.githubusercontent.com/assets/1457929/8196041/ab424b30-1487-11e5-8080-94e60cd9924a.png)

[2015-06-16 22:59] #3855 closed

[2015-06-16 22:59] radinamatic opened #3883 "Add basic instruction for "generaterealdata" into wiki and doc pages"
Until a more elaborated "gentle dev introduction" docs are created, we should add the basic instruction for running the "generaterealdata" to create a facility, learners, and coaches, into both the [Getting Started](https://github.com/learningequality/ka-lite/wiki/Getting-started) wiki page and our documentation pages.

[2015-06-17 10:27] radinamatic commented on #3877
@benjaoming ping me when you merge the fix for this so I can retest.

[2015-06-17 11:04] benjaoming commented on #3877
@radinamatic if you subscribe to #3809, you will be notified :)

[2015-06-17 11:38] rtibbles opened #3884 "Logging in as a new user results in an Uncaught TypeError on the homepage"
branch: develop
Expected Behaviour: We should not have uncaught errors for missing data
Current Behaviour: An Uncaught TypeError is thrown by the render method of the ContentResumeView (this.model is undefined).

[2015-06-17 12:36] rtibbles opened #3885 "ResponseLog does not get cleared when new AttemptLog is created."
branch: develop
Expected Behaviour: ResponseLog should only reflect events in this attempt.
Current Behaviour: ResponseLog contains events from all previous attemptlogs in this session.

[2015-06-17 12:39] rtibbles commented on #3885
@jamalex Bit confused by this, not sure how the responselog is getting carried over from previous attempts in the same session.

[2015-06-17 13:25] rtibbles commented on #3839
I am too clever for my own good. The blank ones are videos! Fixing now.

[2015-06-17 16:35] radinamatic commented on #3883
I added the basic instruction to the Getting Started wiki page, so as soon @rtibbles' PR is merged, this can be closed.

[2015-06-17 16:36] rtibbles commented on #3761
Fixed in #3820.

[2015-06-17 16:36] #3761 closed

[2015-06-17 17:19] rtibbles commented on #3883
Fixed in #3886.

[2015-06-17 17:19] #3883 closed

[2015-06-17 17:19] rtibbles commented on #3837
Fixed in #3886.

[2015-06-17 17:19] #3837 closed

[2015-06-17 17:19] rtibbles commented on #3839
Fixed in #3886.

[2015-06-17 17:19] #3839 closed

[2015-06-17 17:20] rtibbles commented on #3845
Fixed in #3886.

[2015-06-17 17:20] #3845 closed

[2015-06-17 17:20] rtibbles commented on #3846
Fixed in #3886.

[2015-06-17 17:20] #3846 closed

[2015-06-17 17:20] rtibbles commented on #3850
Fixed in #3886.

[2015-06-17 17:20] #3850 closed

[2015-06-17 17:20] rtibbles commented on #3853
Fixed in #3886.

[2015-06-17 17:20] #3853 closed

[2015-06-17 17:20] rtibbles commented on #3854
Fixed in #3886.

[2015-06-17 17:20] #3854 closed

[2015-06-17 17:20] rtibbles commented on #3858
Fixed in #3886.

[2015-06-17 17:20] #3858 closed

[2015-06-17 17:20] rtibbles commented on #3880
Fixed in #3886.

[2015-06-17 17:20] #3880 closed

[2015-06-17 17:20] rtibbles commented on #3882
Fixed in #3886.

[2015-06-17 17:20] #3882 closed

[2015-06-17 18:29] benjaoming opened #3887 "kalite manage setup gives "Unknown command: migrate""
Branch: develop (but also tested after the settings refactor)

I just tried upgrading an older installation fra an early 0.14 develop branch.

It was running directly from a git checkout.

Traceback:

[code]

But I can import south!

[code]

[2015-06-17 18:31] MCGallaspy commented on #3887
Could it be there's a "ghost" package in `python-packages`?

[2015-06-17 18:32] benjaoming commented on #3887
Good point! Let me just try cleaning the pyc's!

[2015-06-17 18:32] benjaoming commented on #3887
Bingo!

[2015-06-17 18:32] #3887 closed

[2015-06-17 18:33] benjaoming commented on #3887
find . -name '*pyc' -exec rm {} \;

[2015-06-17 18:51] 66eli77 commented on #3833
fix is in PR #3888

[2015-06-17 19:03] MCGallaspy commented on #3831
Yes, I can indeed confirm that subtitles are not displaying on `develop`. I have a blank `local_settings.py`, I downloaded the English subtitles (so theoretically every video should have them) and I see no widget on the video player.

[2015-06-17 19:04] radinamatic commented on #3831
Phew, feels good not to be the alone... ;)

[2015-06-17 19:07] MCGallaspy opened #3889 "Feature request -- subtitle availability indication"
We should indicate somehow whether subtitles are available on a video. Otherwise, especially in the case of incomplete subtitle coverage, users just have to guess. @radinamatic might have some ideas on how to best implement this.

[2015-06-17 19:19] aronasorman opened #3891 "`kalite manage` does not process positional arguments."
On the latest develop:

`kalite manage test <test arg>` runs all tests.

`kalite manage unpack_assessment_zip <zipfile>` errors out because the `args` argument in `handle` is empty.

Somewhere in `kalitectl.docopt` these positional arguments aren't getting processed and passed on correctly.

[2015-06-17 19:21] MCGallaspy opened #3892 "Problems with arguments in kalitectl.py"
See #3890. In the version of `kalitectl.py` now extant on `develop`, one needs to pass in --options to the kalitectl.py before the command, otherwise it's proxied to django management commands, e.g.:
[code]
instead of
[code]

In the version reverted by #3890 that is resolved, but then extra arguments are discarded, so the following two commands (for example) are equivalent:
[code]
And this is true

[2015-06-17 19:23] MCGallaspy commented on #3891
Duplicate of #3892?

[2015-06-17 19:29] aronasorman commented on #3892
Duplicate of #3891 :) But this is better written, so let's keep this!

[2015-06-17 19:29] #3891 closed

[2015-06-17 20:12] benjaoming opened #3895 "Remove *pyc files"
This will make you smile @jamalex :)

In #3783, I removed django_extensions which was just being used by the update command (removed) and to run the management command `clean_pyc`. This made the codebase over 33,000 lines shorter :)

The `clean_pyc` command is pretty much equivalent to `find -name '*pyc' -exec rm {} \;` or something.

So we need a simple python-version of this command to run in th

[2015-06-17 20:58] MCGallaspy commented on #3831
Okay, after looking in to this for a while:
* Maybe I just missed it the first time around (the CC button is really small!), but I do have English subtitles on videos when DEBUG=True. (Not sure if DEBUG makes a difference here)
* I did notice that running with the django debug server did not serve the srt files (`kalite manage kaserve`), but that using cherrypy did (`kalite manage kaserve --produc

[2015-06-17 21:13] radinamatic commented on #3831
So far I did not use neither django nor cherrypy debug server (unless they run without my knowledge), are they necessary to view videos?
I did try with several videos for which I for sure had subtitles downloaded, and the only time I saw the CC button is (see above) when I hardcoded the link for a specific srt file...

CC button is the same size as the video speed button, so that might be somethin

[2015-06-17 21:14] MCGallaspy commented on #3831
@radinamatic you must have been using one or the other :)

How did you start the server? Basically, that command will determine which webserver is used (cherrypy or django debug server).

[2015-06-17 21:20] radinamatic commented on #3831
`bin/kalite start` or `bin\windows\kalite.bat start`
So "debug" server != "normal" server ( I'm feeling so noob right now :(

[2015-06-17 21:21] rtibbles commented on #3831
@MCGallaspy The DEBUG=True issue is because the srt files are saved directly into the static directory and hence when you run with DEBUG=True, and it serves files directly from the INSTALLED_APPS static dirs, the srt files are not there (similar to why the compiled django_js_reverse JS file does not work in development mode).

[2015-06-17 21:21] rtibbles commented on #3831
@radinamatic Generally, if you run with DEBUG=TRUE static files are being served by Django. If you run with DEBUG=FALSE, then static files are being served by CherryPy.

[2015-06-17 21:23] MCGallaspy commented on #3831
@radinamatic @rtibbles

Right, except that if you use `bin/kalite start` then you will be serving with cherrypy regardless of your DEBUG setting.

[2015-06-17 21:29] radinamatic commented on #3831
Ok, I'm learning a lot tight now... So what's the bottom line? What should I use, because I'm still not seeing srt files in any way, shape or form...

I'm running `kalite manage kaserve` right now and it's giving a lot of cherrypy errors...

[2015-06-17 21:31] MCGallaspy commented on #3831
@radinamatic I think the best policy is to run the server using either `kalite start` or `kalite manage kaserve --production`. Both should use cherrypy; the former will run in the background, and the latter will print to stdout/stderr.

[2015-06-17 21:37] radinamatic commented on #3831
Ok, just tried with `kalite start` only, no subs, let me try `kalite manage kaserve --production`.

[2015-06-17 21:37] MCGallaspy commented on #3831
@radinamatic I wouldn't expect different results with those commands, just different output to the terminal

[2015-06-17 21:39] MCGallaspy commented on #3831
@rtibbles
At what point in the language pack download process are subtitles unpacked? I'm looking for srt files corresponding to the content item `/math/early-math/cc-early-math-counting-topic/cc-early-math-comparing-numbers/v/comparing-numbers-through-10-example` and I'm getting these results:

[code]

English subtitles work fine on the video, español does not. I suspect @radinamatic has this iss

[2015-06-17 21:42] rtibbles commented on #3831
Ah.

[2015-06-17 21:44] rtibbles commented on #3831
@MCGallaspy line 188 move_srts function.

[2015-06-17 21:44] rtibbles commented on #3831
languagepackdownload.py in updates management commands.

[2015-06-17 21:47] radinamatic commented on #3831
@MCGallaspy ATM I have English configured as default lang, so video should load English srt.
On my (Windows) machine, srt files are in:

ka-lite\kalite\static\srt\en\subtitles &
ka-lite\kalite\static\srt\es\subtitles

[2015-06-17 21:51] MCGallaspy commented on #3831
@radinamatic if the srt files do indeed exist and are being served (can you get to them if you enter the address in the browser? or does it return a 404 response?), then I'm at a bit of a loss as to why you're not able to select them.

[2015-06-17 21:52] rtibbles commented on #3831
@radinamatic had previously reported they work if the tag was added manually, which is why I thought it was a stamping issue.

[2015-06-17 21:54] MCGallaspy commented on #3831
The annotation seems to work for me (I inspected the code pretty closely), but my language pack download seems to have failed somehow, too. (My srts are not in the right place.)

[2015-06-17 21:55] radinamatic commented on #3831
OTOH, running `kalite manage kaserve --production` got me some cherrypy errors, but still no subtitles on either FF or Chrome:
[code]

[2015-06-17 21:56] MCGallaspy commented on #3831
Those aren't errors, that's the logging output of the server.

[2015-06-17 21:56] rtibbles commented on #3831
No errors there, just deprecation warnings.

[2015-06-17 21:58] radinamatic commented on #3831
Sorry, got blindsided by "INFO:cherrypy.error:" in there...

[2015-06-17 22:02] benjaoming commented on #3862
Sorry I didn't get back on this, I will look at it in around 15 hours from now :)

[2015-06-17 22:03] #3487 closed

[2015-06-17 22:07] benjaoming commented on #3802
For reference, here's the Apache virtualhost we use in FAIR:

https://github.com/fairdk/fair-ubuntu-centre/blob/fe7e2efa670afd0d204a985f5fc4c381fde64ea5/installscripts/data/etc.apache2.sites-available.kalite.conf

I don't think there's much use in keeping this issue open as there's currently nothing indicating that there are issues. I have a running instance of the latest KA Lite development branc

[2015-06-17 22:07] #3802 closed

[2015-06-17 22:10] benjaoming commented on #3550
In addition to this, here is a scenario that's very easy to recreate:

    kalite start
    [CTRL+C]  # Just a seconds after
    kalite stop

This will effectively leak a cronserver process and `kalite stop` won't remove it.

[2015-06-17 22:18] MCGallaspy commented on #3831
So I can't reproduce this error, and the only other thing I can think is to observe @radinamatic experiencing this issue in order to figure out what the "missing link" is.

[2015-06-17 22:19] rtibbles commented on #3831
Stepping through the annotation process seems the most likely to bear fruit.

[2015-06-17 22:20] radinamatic commented on #3831
Which path should I use to test if srt can be opened directly in the browser? If I copy them in the content folder with .mp4 files, I can see them in the browser...

[2015-06-17 23:06] MCGallaspy commented on #3831
We discovered this is an os-specific issue due to how pathnames are handled in `topic_tools/__init__.py`

[2015-06-17 23:50] rtibbles commented on #3788
Found this again today...

[2015-06-17 23:53] benjaoming opened #3898 "Assessment items as application data"
Currently the settings path for assessment items is hard-coded to be in the content root, which is a user data directory.

However, since this should be a shared piece of application data AND a download-able piece of user data, we need a condition that checks if the installation already provides bundled-in application data in a system-wide directory, `kalite.ROOT_DATA_PATH`.

Relevant code from `k

[2015-06-18 00:12] benjaoming commented on #3898
@jamalex would you care to share some insights on this? I think it's very closely related to our discussion on how to distribute for .deb vs. NOT distributing updates that have assessment items and still being able to run on a multi-user system :)

[2015-06-18 00:24] radinamatic commented on #3788
I'm not getting this error, and I just pulled develop and updated my Spanish language pack...

But then again, I'm basking in Windows mud, so that might be an issue (again) :P

[2015-06-18 00:25] rtibbles commented on #3788
Hrm. Might be a pyc issue? Will close for now and double check in the morning.

[2015-06-18 00:25] #3788 closed

[2015-06-18 01:54] MCGallaspy commented on #3743
I've been noticing a pattern. Seems as though if one of the caches has been invalidated and is being rebuilt (such as the content cache when you download a language pack), then it's possible to get errors like this when an API endpoint makes a request. Not yet confirmed.

[2015-06-18 10:35] rtibbles commented on #3831
This should now be fixed on develop, fixed by #3897.

[2015-06-18 10:35] #3831 closed

[2015-06-18 10:37] rtibbles commented on #3788
Yep, was a pyc issue @MCGallaspy.

[2015-06-18 13:25] rtibbles commented on #3857
Fixed in #3899

[2015-06-18 13:25] #3857 closed

[2015-06-18 14:55] rtibbles commented on #3847
Oh, I tell a lie. This is actually happening because the topic display is potentially being removed twice due to race conditions.

[2015-06-18 15:24] aronasorman commented on #3889
This is actually a feature regression. With KA Lite <= 0.12 we had an indicator on each topic in the topic tree that shows which subtitles and dubbed videos are available.

[2015-06-18 15:25] #3851 closed

[2015-06-18 15:25] rtibbles commented on #3378
This is caused by code internal to Khan Academy exercises, it is a minor issue, so I am not going to fix it for 0.14 (and am not sure how without a horrendous hack).

[2015-06-18 15:56] aronasorman commented on #3550
FYI I encountered this as well whenever `kalitectl.py` exits prematurely.

On Wed, Jun 17, 2015 at 3:10 PM, benjaoming <notifications@github.com>
wrote:

[2015-06-18 17:15] rtibbles opened #3902 "Title for page does not change for content items on learn tab"
branch: develop
Expected Behaviour: Page Title should change to reflect the title of the topic or content currently selected.
Current Behaviour: Page Title only changes to reflect the title of topics.

![image](https://cloud.githubusercontent.com/assets/1680573/8237261/ec2e8b22-15e5-11e5-8ba6-da4945d87c16.png)

[2015-06-18 17:47] rtibbles commented on #3847
Fixed in #3901

[2015-06-18 17:47] #3847 closed

[2015-06-18 20:32] rtibbles commented on #2976
Just found this again today on develop...

[2015-06-18 21:12] radinamatic commented on #3831
Ok, have been testing this for a while now and I can confirm that the issue can be considered fixed. There are a few things I'd like to mention:

- I could see all the captions in English, but I also stumbled on one that did not display despite the fact srt file was present in my srt\en\subtitles folder. I couldn't figure out why until I actually opened the file itself and saw that the timecodes w

[2015-06-18 21:57] rtibbles commented on #3835
@jamalex this might be related to the apparent recurrence of #2976.

[2015-06-18 22:43] rtibbles commented on #3885
Fixed in #3900

[2015-06-18 22:43] #3885 closed

[2015-06-19 10:43] radinamatic opened #3907 "Unused templates (cleanup)"
These two templates are not used anymore:

`kalite/playlist/templates/playlist/view_playlist.html`

and

`kalite/distributed/templates/distributed/video.html`

Should be eliminated during the 0.15 cleanup of unused files.

[2015-06-19 10:47] rtibbles commented on #3907
I think it is reasonable to have a purge of this sort at the beginning of every development cycle.

[2015-06-19 17:20] 66eli77 commented on #3874
@benjaoming  this message will gone if you login with a superuser and create a facility and then register the device. So, it functions as a reminder to guide the user finishing setup process. Since it's kinda useful, do we really want to remove it?

[2015-06-19 17:48] jtamiace commented on #3865
I only get this error logged in as a student, and on the landing page console also get this error:

"Uncaught TypeError: Cannot read property 'attributes' of undefined"

Error occurs in line 68 of kalite/distributed/static/js/distributed/contentrec/views.js

[2015-06-19 20:03] MCGallaspy opened #3909 "Testing cleanup TODOs"
Each scenario needs to be more carefully isolated. One scenario should not affect another. TODO:
- [x] In `base_environment.py`, create a new webdriver instance before each scenario, and close it afterwards.
- [x] Reverse any DB transactions made after each scenario, so that we start with a clean slate.
- [ ] ~~Use `before_tag` and `after_tag` hooks. [See here](http://pythonhosted.org/behave/api.h

[2015-06-19 20:19] radinamatic commented on #3743
I've been noticing this since yesterday on develop.

When I press the Learn button as a non-logged-in user, I get an empty sidebar and  the `Unexpected error: 'str' object has no attribute 'get'` error:

![str_object_no_attribute_notloggedin](https://cloud.githubusercontent.com/assets/1457929/8262008/5c691648-16cf-11e5-80ad-1b9599c18790.png)

When I log-in as Learner, that error message stays on a

[2015-06-19 22:33] #3902 closed

[2015-06-19 22:49] #3743 closed

[2015-06-19 22:49] MCGallaspy commented on #3743
Probably fixed by #3906.

[2015-06-19 22:50] MCGallaspy commented on #2976
Caches only invalidated after a whole batch has finished, not after each video.

[2015-06-19 22:50] #2976 closed

[2015-06-19 22:50] MCGallaspy commented on #3835
Leaving this open; seems fine to me, but is somewhat subjective.

[2015-06-19 22:54] #3892 closed

[2015-06-19 22:55] #3819 closed

[2015-06-19 22:55] #3803 closed

[2015-06-19 23:14] MCGallaspy commented on #3541
#3878 is a stop-gap solution for this. Kicking to 0.15.

[2015-06-20 15:16] benjaoming commented on #3874
@66eli77 read it again, it says **with the account you created while running the installation script**

[2015-06-20 22:06] benjaoming commented on #3862
Here's a full stack trace:

[code]

[2015-06-20 22:08] benjaoming commented on #3862
Seems to be a problem with this:

[code]

...which contains the magic "__file__" that should be removed more generally speaking! :)

[2015-06-20 22:10] benjaoming commented on #3862
Btw this also fails on a git checkout run directly from source.

[2015-06-20 22:52] benjaoming commented on #3862
Oh dear

[code]

[2015-06-22 07:51] rtibbles commented on #3835
@jamalex Can you check to see if this is extant now that #3906 has been merged?

[2015-06-22 13:42] benjaoming commented on #3909
# Nominating: Query tests

I would like to nominate removing `self.assertNumQueries` and possibly the whole `query_tests` module for the following reasons:

1. When it fails, it's very hard to work with. Is it failing for a good reason? Which query shouldn't have been there? Which query is missing? There's no usable output.
1. What is it actually testing? Is there a specific goal in having X numbe

[2015-06-22 14:00] benjaoming opened #3910 "Says username incorrect when password is incorrect"
Branch: develop
Reproducing: Type in correct username and incorrect password

![wrong_username](https://cloud.githubusercontent.com/assets/374612/8283435/b10661fe-18f7-11e5-96ac-c4f464a558dd.png)

[2015-06-22 14:57] rtibbles commented on #3910
This is because we only give username based warnings for FacilityUsers not Django Users. Do you think it is helpful to expose the Django Users in this way too?

[2015-06-22 14:59] rtibbles commented on #3909
I concur @benjaoming - keeping the number of queries to a minimum should be something we are tracking using profiling, not tests.

[2015-06-22 15:18] aronasorman commented on #3909
+1. I remember this was my main blocker for moving to CircleCI.

[2015-06-22 15:20] benjaoming commented on #3909
I've been spending the past couple of hours getting debug output and figuring out why there's 76 queries and not 33-38 as the tests say... still not getting anywhere.

[2015-06-22 15:20] rtibbles commented on #3909
My guess would be the page is loading twice.

[2015-06-22 15:21] benjaoming commented on #3909
Yes, but I don't understand why my local develop is different from the one that is currently passing in Travis.

[2015-06-22 15:32] benjaoming commented on #3910
Well, it's a bit confusing to be told that the username doesn't exist when it does, that was my main grief :)

[2015-06-22 15:33] rtibbles commented on #3910
Yeah, I guess we were willing to tolerate the admin being confused.

[2015-06-22 15:34] #3910 closed

[2015-06-22 15:35] benjaoming commented on #3910
okay, I guess the fundamental problem then is more about creating a different auth system and still using it together with django.contrib.auth :)

[2015-06-22 15:35] rtibbles commented on #3895
Fixed in #3896

[2015-06-22 15:35] #3895 closed

[2015-06-22 15:36] rtibbles commented on #3910
Yep. We can fix that when we do breaking changes in the database! :+1:

[2015-06-22 16:32] radinamatic commented on #3743
Ok, waiting for merge to test...

On today's develop I noticed no errors, but it takes a couple of seconds for sidebar to populate, so it does seem empty for too long. Would it be possible to implement some kind of loading spinner inside?

[2015-06-22 16:40] rtibbles commented on #3743
Reports for that issue here, @radinamatic #3835

Spinner is coming in 0.15.

[2015-06-22 17:16] benjaoming opened #3911 "Put built html docs in a static source"
If docs are supposed to be distributed and used, I suggest moving the outputs of "make html" to a static source so they can be browsed by users.

[2015-06-22 17:16] benjaoming commented on #3911
Adding release blocker as I suppose we want to release with docs bundled?

[2015-06-22 17:24] MCGallaspy commented on #3911
Okay, but do we really wish to commit the built docs to the repository? Is that what you're suggesting, or only that we change the default output location?

[2015-06-22 17:28] benjaoming commented on #3911
Well, how would I obtain the docs when I run "setup.py sdist" to create a source distribution?

[2015-06-22 17:36] radinamatic opened #3913 "Wrong subs/captions for dubbed videos - Accessibility issue"
Wrong subs/captions for dubbed videos - Accessibility issue

I realized this for the first time now since the issue with viewing subs on Windows was corrected...

**Branch**: develop

**Expected Behavior**: Dubbed videos should have their own transcripts/captions, not recycle the ones used in the English version.

I tested with:
http://192.168.1.33:8008/learn/khan/math/early-math/cc-early-math-add

[2015-06-22 18:41] MCGallaspy commented on #3911
Fetch them from field.learningequality.org

[2015-06-22 18:41] benjaoming commented on #3911
Yeah, I'm suggesting to put the built docs in git as of now so we can run "python setup.py sdist" -- otherwise you'd have to have a URL that would go something like:

http://somewhere.com/our_docs.zip?branch=develop

You could do that by creating a new repository on  github and have the built docs there until we have a better solution.

[2015-06-22 20:19] aronasorman opened #3914 "Delete skipped tests"
There's now a big mismatch between what tests are run on travis and what we run when we do a `kalite manage test` locally. Tests will be failing locally while they pass on Travis. Since we now depend on travis to run our tests rather than run them locally before pushing, this has led to these tests to rot away, and now they're failing.

Resolution: revisit all `@skipIf`ed tests, and delete them. O

[2015-06-22 20:20] MCGallaspy commented on #3911
Turns out the only thing you need to do is invoke make with a new option: `make BUILDDIR=/my/cool/dir html`

[2015-06-22 20:29] MCGallaspy commented on #3807
The problem occurs on the front end, where nodes are looked up by slug. The slug evidently is not unique, and so makes for a poor primary key.

[2015-06-22 20:29] MCGallaspy commented on #3807
Taking a stab at a fix now.

[2015-06-22 20:39] benjaoming commented on #3911
Yup, I was hoping for that, too :) But you're still saying that building these files is too complicated for the `setup.py sdist` person, right?

[2015-06-22 20:40] MCGallaspy commented on #3911
I'm saying try it out, but expect frustrating timeouts as with the tests at this point.

[2015-06-22 20:41] benjaoming commented on #3911
Hurray :)

[2015-06-23 00:23] MCGallaspy opened #3916 "Missing static files in Windows"
Using this installer: http://dungeon.learningequality.org:8085/browse/KL-KALITE014-140/artifact/shared/Windows-Installer/KALiteSetup-0.14.dev11.exe

Then trying `kalite start`, I get the following error:
[code]

Creating that directory suppresses the error, though nothing is put in there. More mysteriously still, stepping through the code doesn't indicate why this directory is used instead of `kal

[2015-06-23 18:00] jamalex opened #3919 "Error during completion of language pack download (`Error during update: Error: [Errno 13] Permission denied: '/static'`)"
Branch: develop

Downloaded the Spanish language pack. It went through all the stages, and at the end popped up with:

![image](https://cloud.githubusercontent.com/assets/618416/8313245/606a3604-1996-11e5-9207-b30041e75c2f.png)

It doesn't seem to have properly unpacked the subtitles or exercises (these go under `static`).

[2015-06-23 18:47] #3833 closed

[2015-06-23 18:54] jamalex opened #3920 "Duplicate settings files for topic tools"
Branch: develop

`kalite/topic_tools/settings.py` and `kalite/legacy/topic_tools_settings.py` seem to have the same stuff in them, making it unclear which should be edited.

[2015-06-23 18:55] jamalex commented on #3920
The settings actually seem to have been modified in one, and no longer match the other file. There's a comment saying "This will be cleaned up in KA Lite 0.14".

[2015-06-23 19:08] 66eli77 commented on #3874
how about changing the message to this:
"Please login with the superuser account you created, then create your facility and register this device to complete the setup."

[2015-06-23 19:10] jamalex commented on #3919
Ok, I've determined where the problem in the code is. Fixing now.

[2015-06-23 20:23] MCGallaspy commented on #3916
I think this must be an issue with the installer. I took these steps to try to replicate an "installed" KA Lite vs a "from source" KA Lite and had no issues:
*  Grab `develop`
*  Remove .KALITE_SOURCE_DIR from the repo, so that IS_SOURCE is set to False
*  Run `python.exe setup.py install`
*  Start the server with `python.exe bin/kalite start`.

Everything works great.

[2015-06-23 20:23] #3916 closed

[2015-06-23 21:45] radinamatic opened #3921 "Feature Request - User Accessibility Settings"
After we discussed the general color & contrast issues for better accessibility during our recent meeting, @jtamiace and I came with the idea to implement **User Accessibility Settings**. We thought of starting with options that should help primarily the users with low vision, and therefore nicely complement the efforts on video/captions improvements front (for hearing disabilities), and keyboard

[2015-06-23 22:18] MCGallaspy commented on #3898
Oh, looks like you have an open PR for this.

[2015-06-23 22:20] MCGallaspy commented on #3898
Is this addressed in #3809?

[2015-06-23 22:46] MCGallaspy commented on #3774
Resolved.

[2015-06-23 22:46] #3774 closed

[2015-06-23 23:00] MCGallaspy commented on #3862
Stealing this @benjaoming.

[2015-06-23 23:31] rtibbles commented on #3807
Fixed in #3915

[2015-06-23 23:31] #3807 closed

[2015-06-24 00:09] jamalex commented on #3862
The specific error I'm fixing/tracking here: https://github.com/learningequality/ka-lite/issues/3919

[2015-06-24 11:32] benjaoming commented on #3898
@MCGallaspy no, this is a PR on top of #3809 in order to keep it shorter.. but the other PR is a dependency :)

[2015-06-24 12:17] benjaoming commented on #3774
And just for the record:

If you run a **git-based installation**, do not worry. It will still work, and running `bin/kalite manage setup` after doing `git pull` is still a valid updating scheme.. it's what all the devs would do :)

[2015-06-24 12:57] benjaoming commented on #3874
:+1:

[2015-06-24 12:57] benjaoming commented on #3920
It's done in #3809

[2015-06-24 12:57] #3920 closed

[2015-06-24 14:21] radinamatic opened #3926 "Sign-up form for Learners who already logged in"
**Branch**: latest develop

**Current Behavior**: If by error Learner user presses the "Sign up" button on the homepage, and once the sign-up form appears they realize the mistake and press the Login button, after they login with modal dialog, they remain on the **/securesync/signup/** page with the "Sign up for an account" content below the welcome message, and the "Sign up for an account" in the

[2015-06-24 14:40] radinamatic opened #3927 ""← Back to Facilities" link on User report page"
Maybe there is some reason why the Learner should have a way to access the Facilities that I am unaware of. In that case, close the issue...

**Branch**: today's develop

**Current Behavior**: When Learner goes to see their Progress report, there is a **← Back to Facilities** link in the upper left corner:

![back-to-facilities](https://cloud.githubusercontent.com/assets/1457929/8332610/1f99e56c-1

[2015-06-24 16:09] radinamatic opened #3928 "User tab (dropdown menu) inaccessible by keyboard"
**Branch**: latest develop

**Expected Behavior**: Users should be able to access the content of the user tab (Points & Progress) by navigating with TAB key.

**Current Behavior**: When navigating with TAB key, focus jumps from **Learn** tab to content further down, effectively impeding the user to access the elements inside the dropdown menu.

**Steps to reproduce**:

1. Log in as Learner.
2. Sta

[2015-06-24 16:54] rtibbles commented on #3919
Fixed in #3923

[2015-06-24 16:54] #3919 closed

[2015-06-24 16:56] rtibbles commented on #3865
@jtamiace The issue you are describing is #3884. It is currently fixed in an open PR.

@66eli77 The TypeError is caused by stuff internal to MathJax, it doesn't seem to affect anything else, so I don't think it is a release blocker, but would be nice to track down.

[2015-06-24 16:57] jamalex opened #3931 "Portuguese language code handling is totally funky"
The central server turns `pt-BR` into `pt` when building language packs (for some part of the process, at least), but the distributed server doesn't know/handle this well. For now, this has had a bandaid applied here: https://github.com/learningequality/ka-lite/commit/1b7a561afbfe822034acf2973ceb48b42444c489

Initial symptom was that dubbed video mappings were not found (video tree endpoint return

[2015-06-24 16:58] jamalex commented on #3931
Temporary fix in https://github.com/learningequality/ka-lite/pull/3930 (no urgency on this now, @aronasorman, as the hacks are working for the time being)

[2015-06-24 17:14] aronasorman commented on #3931
Thanks @jamalex! I'll try to get to the root of this issue when we do the i18n bug bash.

[2015-06-24 17:21] MCGallaspy commented on #3898
Okay, bear with me, I require thorough explanations because I'm not very clever:

It is certainly the former, but not the latter. Like I mentioned in the other thread, my understanding is that this should be considered as no more downloadable than, say, `topics.json`. It only changes when releases are made. Is that wrong? Perhaps @jamalex or @aronasorman could weigh in?

Are you saying we need to

[2015-06-24 17:27] MCGallaspy commented on #3774
Yes, and also for the record there are a few more steps which are not well-documented. Please attempt to use our recommended installation methods first, but if you wish to run from source (as you might if you wish to develop KA Lite) then you should reach out to the devs to get the latest info for how to set up a development environment.

[2015-06-24 17:40] MCGallaspy opened #3933 "Decide whether to resurrect deleted tests"
In #3932 some tests are deleted (https://github.com/aronasorman/ka-lite/commit/bc13993fa319eec9084773f71cc81413e8c2a3d7). We should decide whether:
* The test was irrelevant and will not be missed.
* We really want the coverage the test was attempting to provide and should write a better test.

Goes hand-in-hand with #3909.

[2015-06-24 17:41] MCGallaspy commented on #3933
More deleted tests here: https://github.com/aronasorman/ka-lite/commit/84527bae4f964fa6bc5c1644abef66a9eba8ec1f

[2015-06-24 17:41] 66eli77 commented on #3898
It's desirable if kalite can read content from two different locations(one default, one assigned), so that user can insert a SD card with some content(assigned) and also be able to use content on the default location(this is the location where using kalite's video downloading page will save to)
Current behavior on android is that if user assigned a location to read content, the user won't be able

[2015-06-24 17:43] jtamiace commented on #3927
That should definitely not be there for learners.

I also had a question about the "back to facilities" link. This progress report page is accessible from both the coach reports page and from the facilities page. If a user is on the coach reports page and they click into a students progress report, it's a bit confusing if they click on this back button and end up not back to the coach report page.

[2015-06-24 17:47] MCGallaspy commented on #3898
@66eli77 that's a good point, so you're saying that we should distinguish between application data, default system data (kind of like user data), and user data (which supersedes system data if it exists)?

[2015-06-24 18:20] 66eli77 commented on #3898
@MCGallaspy I realize I was talking about a slightly different concern, which is more about contents(videos)

[2015-06-24 18:35] 66eli77 commented on #3898
But distinguishing these data will make our platform more flexible, which is a nice characteristic, given our platform will be installed on different devices, the runtime environment is less predictable.

[2015-06-24 22:40] benjaoming commented on #3898
What we currently call "assessment items" also curtail content.json and thumbnails of videos. It's ~0.5 GB.

This can be bundled with an installer or downloaded by running `kalite manage setup`.

There's a system-wide path (in `sys.prefrix`) and a user data path (in `KALITE_HOME`). The latter will take precedence.

[2015-06-25 10:31] radinamatic commented on #3877
Confirming that this issue is no more, after the #3809 was merged yesterday. @benjaoming

[2015-06-25 10:31] #3877 closed

[2015-06-25 10:40] radinamatic commented on #3931
I don't know if it's related, but I'm doing a fresh clone/install (today's develop) and I got a lot of error lines like this, after the `generaterealdata` command:

[code]

[2015-06-25 12:01] radinamatic opened #3936 "Sync Error [code=public_key_unregistered]"
I searched among the issues, but couldn't find this error referenced.

**Branch**: latest develop

**This is a fresh KA Lite install & db, but with `generaterealdata`.**

![device registration with public key not found](https://cloud.githubusercontent.com/assets/1457929/8353766/cfd2b12c-1b41-11e5-9ad6-201eb698ec9e.png)

Error details:
[code]

**Current Behavior/Steps to reproduce**:

1. Pull the r

[2015-06-25 12:06] radinamatic commented on #3936
OTOH, I've always found the part

__Zone for public key MIIBCgKCAQEA...__

very cryptic.

Are we presuming all potential KA Lite admins around the world would know what is that about (I know, I don't :(

[2015-06-25 21:10] radinamatic commented on #3913
I've tested a few other videos in Spanish, and confirmed what I described previously, namely the same subtitles are used for videos in both languages. However for the:

`/learn/khan/economics-finance-domain/microeconomics/supply-demand-equilibrium/demand-curve-tutorial/price-of-related-products-and-demand/`
(English video filename **-oClpRv7msg.mp4**, Spanish video filename **q8XTsrUVp_4.mp4**, ca

[2015-06-26 09:57] radinamatic commented on #3297
The feature proposal for this is in #3921.

[2015-06-26 10:18] benjaoming commented on #3810
#3809 was merged, so closing!

[2015-06-26 10:18] #3810 closed

[2015-06-26 10:19] benjaoming commented on #3611
Brewing some docs over in #3925

[2015-06-26 11:55] benjaoming commented on #3434
@MCGallaspy Can you give an update as to how many in-memory strings we have to deal with by now? Is it safe to move to UTF-8 in 0.15 ?

[2015-06-26 11:56] benjaoming commented on #3875
Is fixed now :)

[2015-06-26 11:56] #3875 closed

[2015-06-26 12:52] benjaoming opened #3937 "Convenience: Settings module convention"
# Problem statement.....

(scroll down for proposal)

Since #3809, it's now required to customize settings through Python module inheritance. This means that we have to use `kalite <command> --settings=settings_module`, where `settings_module` is a Python module in user's `sys.path`. That could be a file in the current directory.

So this is great, now we don't force injection of `local_settings.p

[2015-06-26 12:55] radinamatic commented on #3352
I don't have 0.13 on this machine to test, but on Develop the font size seem determined by the bootstrap.min.css, and I doubt it makes any sense to try to fix that. I tested zoom options in FF, Chrome & IE: Page zoom works in all and KA Lite behaves well up to 400% zoom (media-queries firing fine). What does not work (as stated above) is the Text-only zoom on Chrome & IE (on FF it does).

I will r

[2015-06-26 14:54] aronasorman commented on #3434
@benjaoming you can try switching to that now, and see what the difference in memory usage is. FYI mine stabilizes at about ~300MB in the current develop branch.

[2015-06-26 15:01] #3838 closed

[2015-06-26 15:40] benjaoming commented on #1835
Parts implemented in #3668 (superuser creation vi modal dialogue)

Regarding the empty device name: I don't know if it makes sense to ask users about this, maybe using hostname is sufficient?

[2015-06-26 15:43] benjaoming commented on #3019
Fixed in #3809

[2015-06-26 15:43] #3019 closed

[2015-06-26 15:50] benjaoming commented on #3559
It's true there used to be a conditional statement in the settings where PRODUCTION_PORT was 7007 if the "RPi" config package was selected.. and PROXY_PORT was set to 8008, I have no idea what that actually means.

But this seems somewhat redundant now:

 1. We do not use django settings for the port, we use `kalite start --port=8008` #3827
 1. The notion of config packages are being deprecated in

[2015-06-26 17:23] cpauya opened #3939 "Running `kalite manage setup` with arguments yields different values."
**Branch** develop
**Target** 0.14.x
**Current Behavior** When running `kalite manage setup --username user --password pass --noinput` - the value of the `username` actually is set to the "cleaned" username of the logged-in user of the computer and the `password` to `None`.
**Expected Behavior** Running the above command should assign the values to the corresponding arguments.

**Further Testing**

[2015-06-26 17:31] benjaoming commented on #3939
@cpauya can you try the same but putting `--option=value` ?

[2015-06-26 17:41] cpauya commented on #3939
That works @benjaoming - I'm just amazed how this has caused an issue on the installer/s.

But reading about it on [Python's optparse module re *option argument*](https://docs.python.org/2/library/optparse.html#terminology) - I now understand why using your suggested format of `--option=value` works.

Thanks much for the speedy response. :)

[2015-06-26 17:49] benjaoming commented on #3939
It's an unintended side-effect of a missing feature in docopt. I tried writing a patch for it, but it became a mess.

I will try to detect if there is an illegal pattern used and fail telling users to use --option=value

[2015-06-26 17:53] cpauya commented on #3939
That'll surely be helpful in case someone forgets the format for option arguments.  :+1:

[2015-06-26 18:42] MCGallaspy commented on #3937
Seems pretty reasonable. About to take a peek at the corresponding PR>

[2015-06-26 18:47] benjaoming commented on #3937
Just a little note on the original description: I went for `~/.kalite/settings.py` for ease.

[2015-06-26 18:47] SG345 commented on #1413
I discussed about this feature with my mentor, @aronasorman. This is what we are thinking of going ahead with:

1. We can use the backup/restore features from django-dbbackup package.
2. We can implement the FIFO scheme first, by creating a Django app inside 'kalite'. Depth of the FIFO scheme could be 1, as suggested by everyone here.

[2015-06-26 22:55] MCGallaspy opened #3943 "Remove the playlist app"
Apparently it has no future. @jamalex and @aron said we should keep it in 0.14 to avoid any potential bugs removing it might introduce. But otherwise let's do it ASAP.

[2015-06-26 23:21] aronasorman commented on #3943
s/aron/aronasorman/g :)

[2015-06-26 23:57] MCGallaspy opened #3944 "kalite.bat can't accept user input"
On windows 8, in `develop`:

Scripts which require user input (like the setup management command without the no-interaction flag) can't accept input when you call them with "kalite.bat manage mycoolscript". Works ok with "python.exe kalite mycoolscript". Since the main commands (start, stop, status) all don't require input, I'm not considering this a release blocker.

[2015-06-27 08:15] rtibbles opened #3945 "Test suite gets stuck in a subprocess for considerable time"
branch: develop
Since changes by @benjaoming and @MCGallaspy were merged to develop, I am now finding that the test suite will frequently stall (or at least take an incredibly long time to continue).

Pressing Ctrl-C breaks out of this subprocess, and the tests seem to continue without any problems.

Any explanations? It's making fixing the behave tests on develop rather tricky.

[2015-06-27 09:16] rtibbles commented on #3884
Now fixed in develop.

[2015-06-27 09:16] #3884 closed

[2015-06-27 09:24] rtibbles commented on #3745
Assuming this is fixed as #3809 has been merged. Please correct if not @benjaoming

[2015-06-27 09:24] #3745 closed

[2015-06-27 14:26] rtibbles commented on #3822
Punting this to 0.15 as part of the TastyPie off.

[2015-06-27 14:29] rtibbles commented on #3757
Assuming this has been fixed in #3809.

[2015-06-27 14:37] #3202 closed

[2015-06-27 19:52] benjaoming commented on #3944
You mean input as in interactive command line input, e.g. `kalite manage setup` ?

[2015-06-27 19:53] benjaoming commented on #3944
The new `setup.py` uses its own .bat template, so we can actually deprecate bin/windows/kalite.bat ?

https://github.com/learningequality/ka-lite/blob/develop/setup.py#L172

[2015-06-28 10:53] dogday opened #3948 "I cannot find the assessment items package / How can I start KA Lite?"
Hi everybody,

KA Lite worked perfectly until I restarted my macbook. After that I could not run http://127.0.0.1:8008/.

I launched terminal.
Here is what I have done:

===QUOTE===

MY NAME:~ MY NAME$ cd /Applications/KA\ Lite
MY NAME:KA Lite ARS$ cd ka-lite
MY NAME:ka-lite ARS$ ./setup_mac.command

  _   __  ___    _     _ _
 | | / / / _ \  | |   (_) |
 | |/ / / /_\ \ | |    _| |_ ___
 |    \ |

[2015-06-28 11:10] dogday commented on #3948
I did it!

I did:

cd /Applications/KA\ Lite
cd ka-lite
./bin/kalite start

[2015-06-28 11:22] benjaoming commented on #3745
@rtibbles spot on, I'm 99.9% sure this was because of #3810

[2015-06-28 13:09] rtibbles commented on #3948
Great!

[2015-06-28 13:09] #3948 closed

[2015-06-28 18:53] benjaoming commented on #3945
That sounds very odd, but the CTRL+C does suggest a subprocess or a thread.

Can you `ps ax | grep kalilte` and see which processes are running when the tests are stuck?

[2015-06-28 18:54] benjaoming commented on #3945
Also, on a supposedly unrelated note, my PR about process hasn't been merged, anyways ( #3917 )

[2015-06-29 12:05] radinamatic opened #3949 "Error "column id is not unique" on vieweing videos"
**Branch**: latest develop

Trying to see if I can pinpoint the delays as per #3835, I bumped into this error, but haven't been able to reproduce it. Eli reported something similar in January, but it's apparently been resolved. I'm reporting it anyway just in case it can ring some bells for somebody.

**Current Behavior**: Choosing various videos from the sidebar menu, appears the error alert:

`c

[2015-06-29 12:08] radinamatic commented on #3949
In case it makes a difference, the video where the error appeared is this:
/math/early-math/cc-early-math-counting-topic/cc-early-math-comparing-numbers/comparing-numbers-through-10-example/

It plays fine now...

[2015-06-29 12:15] rtibbles commented on #3949
I believe this error would happen if a VideoLog is initialized, and not saved, and then another VideoLog is created.

Then both videologs get saved, having both been initialized with the same id, giving this error.

I have seen this error while trying to bulk save newly initialized logs during tests.

@jamalex Does this sound right in terms of what is happening in securesync underlying this?

[2015-06-29 12:56] radinamatic opened #3950 "Document the download and installation instructions for assesment.zip"
I spent some time searching for this the other day and found the command inside the HipChat history, which is not available outside our "family"...

There is a mention in 0.13 Release notes, but it gives no details on how to deal with it if you didn't do it during the installation process. I just added the download & installation instruction into the [Getting started wiki](https://github.com/learn

[2015-06-29 16:14] aronasorman commented on #3950
Hmm this might warrant an entry in the FAQ. Sounds good to you @radinamatic?

[2015-06-29 16:44] #3834 closed

[2015-06-29 16:47] benjaoming opened #3951 "Use package_data instead of data_files"
As you can see from https://github.com/pypa/pip/issues/2874 the Wheel format is likely not ideal for the way that we handle data files.

Furthermore, pip's editable mode will not install any data_files, so we need to always point back to the sources, thus doing development in pip editable mode isn't really simulating a true environment.

These are the culprits:

* [x] python-packages/ #3952
* [x]

[2015-06-29 16:54] benjaoming opened #3952 "Move dist-packages/ to a kalite.vendor.* module"
Instead of managing `python-packages/` (which is being removed, see #3403 ) and `dist-packages/` (automatically built by `python setup.py sdist --static`) as a data_files directive (which we should avoid #3951), we can throw it dynamically into the `kalite` package itself and deal with them all as true python packages.

This will happen the same way as the current `setup.py` invokes pip and instal

[2015-06-29 16:59] MCGallaspy commented on #3944
Yes.

[2015-06-29 17:04] #3550 closed

[2015-06-29 17:17] benjaoming commented on #3601
Just making one minor amendment ;)

[2015-06-29 17:19] MCGallaspy commented on #3434
No, I don't think this will be addressed in 0.15. Aside from the assessment items, the other big use of in-memory strings is the so-called content data (the tree-structure of topics, videos and exercises).

[2015-06-29 17:42] radinamatic commented on #3950
Sure, @aronasorman, I could definitely add it to [FAQ](https://github.com/learningequality/ka-lite/blob/0.13.x/sphinx-docs/faq.rst), and maybe [Admin User Manual](https://github.com/learningequality/ka-lite/blob/master/sphinx-docs/usermanual/userman_admin.rst) too?

[2015-06-29 17:43] aronasorman commented on #3950
Sounds good to me (thumbsup)

[2015-06-29 17:53] benjaoming commented on #3550
Confirming that a CTRL+C during startup no longer leaves behind a leaked process.

Because of the order in which we start things (now calling `initialize_kalite` before spawning any threads or forked processes), CTRl+C sensitive things only occur in a minimum of time and space before the main process exits and it's evident you have to use `kalite stop`.

[2015-06-29 19:33] benjaoming commented on #3396
Everything resolved, closing!

[2015-06-29 19:33] #3396 closed

[2015-06-30 17:01] #3601 closed

[2015-06-30 21:53] radinamatic opened #3962 "User feedback for `kalite manage unpack_assessment_zip`"
**Branch**: develop

**Expected Behavior**: There should be a "Successfully unpacked assessment" message offered  to the user after running the `kalite manage unpack_assessment_zip` command

**Current Behavior**: atm no feedback is offered when the process finishes.

**Steps to reproduce**:

1. Download the zip and run locally or run the `kalite manage unpack_assessment_zip -f https://learningequa

[2015-07-01 00:22] radinamatic commented on #3950
Fixed in #3953.

[2015-07-01 00:22] #3950 closed

[2015-07-02 00:04] benjaoming commented on #3627
I never really got around to comment on this decision.

Do we really wanna ship broken things that we aren't testing and already have deprecated?

AFAIK it's only the windows scripts that *might* be used and then a raspberry pi script.

[2015-07-02 00:15] benjaoming commented on #3627
Look at this...

https://github.com/learningequality/ka-lite/blob/0.14.x/scripts/cronstart.sh

It will start a cronserver that's already started by `kalite start`.

And look at this:

https://github.com/learningequality/ka-lite/blob/0.14.x/scripts/serverstart.sh

I'm not sure who depends on these scripts. If someone created an init.d script with them, the script will remain and call existing (but

[2015-07-02 11:01] radinamatic opened #3967 "Coach Report charts not responsive on small displays"
**Branch**: 0.14

**Current Behavior**: Circlecharts start to overlap with devices smaller than 600px in width.

**Expected Behavior**: DIV's with class circlechart should overflow and stack in columns.

![responsivecoachreport](https://cloud.githubusercontent.com/assets/1457929/8475477/82291246-20b8-11e5-8ed7-729f5c810f5a.png)

Learner Progress Reports do stack correctly:

![responsiveprogressrep

[2015-07-02 11:33] radinamatic opened #3968 "BadZipfile: Bad magic number for central directory"
**Branch**: 0.14 on Windows

**Current Behavior**: Error while unpacking the **assessment.zip** file downloaded with `kalite manage unpack_assessment_zip https://learningequality.org/downloads/ka-lite/0.14/content/assessment.zip -f`` command:

`BadZipfile: Bad magic number for central directory `

![assessment zip](https://cloud.githubusercontent.com/assets/1457929/8476141/9c01c61c-20be-11e5-91c7-

[2015-07-02 12:49] amodia opened #3969 "Cancel downloading video not working."
**Branch:** `develop`
**Steps to reproduce:**

1. Log in as admin
1. Navigate to videos tab.
1. Download any video and click cancel button.

![ka-lite-a](https://cloud.githubusercontent.com/assets/8663934/8477261/5135ac1a-20fb-11e5-8176-8a67bc67ba1b.gif)

[2015-07-02 15:26] radinamatic commented on #3968
While installing on a second testing machine I realized that assessment.zip is now part of the 0.14 installer itself, so the procedure was not necessary. However, it might be useful to provide feedback to the user that the assessment items are already there... And of course, figure out the why of the "magic number" error :)

[2015-07-02 15:46] radinamatic opened #3970 "Pip dependemcies has failed to install"
**Branch**: Updating 0.13 to 0.14 on Windows 7

**Current Behavior**: Error while installing 0.14 over 0.13 (fully functional with several coaches & learners & language packs):

Pip depende**m**cies **has** failed to install.

![pip-dependencies](https://cloud.githubusercontent.com/assets/1457929/8480917/c0fa0d9a-20e0-11e5-9d2b-bff43d5b0edf.png)

The installation continued after this error, but is

[2015-07-02 16:02] aronasorman commented on #3968
Interesting. So the bad magic number means either an incomplete download of the zip file, or that what we downloaded isn't a zip file in the first place.

[2015-07-02 16:03] aronasorman commented on #3968
Although yeah, you don't really need to run this command since it's supposed to be part of the windows installer.

[2015-07-02 16:04] radinamatic commented on #3968
Yeah, I realized that on another machine, but from the output above it seems that the download finished, and the unpacking was unsuccessful...

[2015-07-02 17:04] MCGallaspy commented on #3970
Please open issues with the Windows installer over here: https://github.com/learningequality/installers

The spelling error at least has been fixed in https://github.com/learningequality/installers/pull/73

[2015-07-02 17:08] MCGallaspy commented on #3627
Obviously I am for removing these, but I think it's just too late for 0.14. If we let more PRs creep in we risk extending the debug time more and more.

[2015-07-02 17:15] benjaoming commented on #3627
We don't have to "debug" this, it doesn't affect the code base?

[2015-07-02 17:15] MCGallaspy commented on #3968
If you are using the windows installer, this is not a step you need to take.

[2015-07-02 17:55] MCGallaspy commented on #3627
But it may affect the installers.

[2015-07-02 17:58] MCGallaspy commented on #3627
To clarify: I just wish to draw a line in the sand. While this is important, I do not think it is a show-stopper. We still have other issues which need to be resolved for 0.14 which we have identified as higher priorities, so let's focus on those. I disagree with your premise that this is a safe change, but only because I have insufficient information.

[2015-07-02 18:03] 66eli77 opened #3971 "Provide an uninstall option for mac (and other OSes) kalite installer that cleans up environment variables"
Improperly uninstall kalite on Mac (installed with kalite installer) can mess up KALITE_DIR environment var, and lead to server start failure.

Steps to reproduce the issue on Mac:
1. install kalite via kalite Mac installer
2. uninstall kalite (we currently don't have uninstall option, so you probably will just delete kalite)
3. get a fresh repo of current develop branch
4. run "python kalitectl.p

[2015-07-02 18:10] benjaoming commented on #3627
It's about leaving scripts that support a deprecated behavior and the chance that we just push the workload ahead of us that worries me here.

If the installers break, we can fix it. If users beyond the series of tubes experience breakage when they continue using these, we can't really fix it.

But of course, on the positive side.. the "scripts" dir isn't actually released on PyPi or in the PPA..

[2015-07-02 18:27] benjaoming commented on #3971
This should be opened in the installers repo.

This method of invoking `kalitectl.py` isn't recommended, have you tried running bin/kalite ?

I suspect the installer creates a permanent KALITE_DIR and doesn't unset it after installing, but please try not invoking kalitectl directly first.

[2015-07-02 19:23] EdDixon commented on #3971
@66eli77 Cyril had me leverage the launchctl command to unset those variables in his latest builds something like : sudo launchctl unload -w ~/Library/LaunchAgents/org.learningequality.kalite.plist
or : sudo launchctl unsetenv KALITE_PYTHON
may be required, although that may have changed?

[2015-07-02 19:36] radinamatic commented on #3970
Issue opened at https://github.com/learningequality/installers/issues/74, closing this one.

[2015-07-02 19:36] #3970 closed

[2015-07-02 19:41] radinamatic commented on #3968
Ok, closing.

[2015-07-02 19:41] #3968 closed

[2015-07-02 19:41] benjaoming commented on #3971
The approach of setting a permanent be it KALITE_PYTHON or KALITE_DIR is good, though, because it ensures that users can run `kalite` independently from their own Terminal.

[2015-07-02 20:15] EdDixon opened #3973 "KA-Lite superuser access creation is being denied to the installers"
In all tests on every desktop OS supported (All  WIndows version, MAC, and Linux) after installation the user is taken to a "modal" super user creation page which is intended to be a fall back from the proper landing page which would be our typical login page. Having researched this extensively with the team I can really offer few clues. Screen Shot of the modal superuser page from the most recent

[2015-07-02 20:23] benjaoming opened #3974 "Remove settings.PROJECT_PATH"
This setting causes user data to be accessed or generated in application directories and application data to be mis-managed.

Ideally, this is replaced by individual settings.

For instance, this:

[code]

Should be:

[code]

_Or_ by accessing files as package data:

[code]

Overview of problem:

[code]

[2015-07-02 20:26] benjaoming commented on #3973
I would like to draw attention to the fact that the landing page causes not only one view function to be called, but also several API views.

This in case, causes a number of modules to be initialized.

Cherrypy uses threads.

See where I'm going? :)

[2015-07-02 20:38] rtibbles commented on #3973
The issue as described does not suffer this problem, @benjaoming. @EdDixon can you clarify what the issue is here?

Either:
a) We should be creating the super user during setup rather than relying on the modal.
b) The issue we actually discussed in HipChat, whereby the first time the modal opens, and the content does not load, which *would* be explained by @benjaoming's explanation.

[2015-07-02 20:52] benjaoming commented on #3973
a) doesn't work, we have to provide a browser-based superuser creation. This is already integrated for Raspberry Pi and Debian UIs where `kalite manage setup` is not meant to be mandatory for the future.

[2015-07-02 20:54] benjaoming commented on #3973
@rtibbles what is the issue described? That KA Lite prompts for a superuser when there isn't one? Because that's expected behavior.

I thought we were continuing on the talks from Hipchat about the modal itself being broken?

[2015-07-02 21:02] rtibbles commented on #3973
That's what I thought too, @benjaoming which is why I was seeking clarification, because both the title and the screenshot do not indicate this.

[2015-07-02 21:02] jamalex commented on #3973
I agree that this is standard/expected behavior now, in general, so I think this may be more of a UX issue than anything else.

Perhaps we could add some "welcome" text, along the lines of "Thanks for installing KA Lite! Your first step now is to create an administrator account -- you'll use this later for creating coach accounts or administering the server."

One question here, though: does the W

[2015-07-02 21:27] rtibbles opened #3976 "Permissions error during language pack download"
Branch: 0.14.x
Platform: Ubuntu
Installer: .deb

Expected behaviour: Language pack download should complete successfully.
Current behaviour: Language pack download results in a permissions error.

![image](https://cloud.githubusercontent.com/assets/1680573/8488294/6b6b0fec-20c6-11e5-87fe-87f76424ff7a.png)

[2015-07-02 21:33] rkurata commented on #3973
@jamalex yes, I'm using Windows and during installation, I was prompted to create an account, as well as after installation, when I opened it in a web browser.

[2015-07-02 21:38] rtibbles opened #3977 "Coach report shows N/A for exercise attempts"
Branch: 0.14.x
Platform: Ubuntu
Installer: Deb

Expected Behaviour: After running generaterealdata, then there should be a lot of exercises attempts shown on the coach report landing page summary view.

Current Behaviour: After running generaterealdata, exercises attempts are displayed as N/A

![image](https://cloud.githubusercontent.com/assets/1680573/8488527/068222f8-20c8-11e5-9fee-0ec695c51e64.

[2015-07-02 21:40] rtibbles opened #3978 "UX Issue: No indication of loading after pressing 'Show Tabular Report'"
Branch: 0.14.x
Platform: Ubuntu
Installer: Deb

Expected Behaviour: There should be some feedback to the user that the Tabular report is being loaded

Current Behaviour: Report loads without any indication to the user that anything is happening.