[2015-10-29 23:54] rtibbles commented on #4653
No, my latest changes in PR gracefully catches errors from a missing database. So, you'll just have no content until the content database is installed.

[2015-10-30 00:07] MCGallaspy commented on #4653
Okay, my original motivation for opening this issue was to handle installing assessment items with the Windows installer. The sdist doesn't touch assessment items, as far as I can tell (true @benjaoming?). Just to make sure I now understand this, *after* installation in order to get assessment items working, I need to first get the assessment item zip, unpack it, and then generate the content dbs?

[2015-10-30 00:18] rtibbles commented on #4653
Yes. Also worth noting that the assessment items db is now folded into the content db as another table.

[2015-10-30 00:18] rtibbles commented on #4653
In the aforementioned PR #4630

[2015-10-30 11:11] benjaoming commented on #4653
Urgh, lots of questions, sorry if I can't answer them here. Could we maybe talk about it Monday after standup? It's a little difficult to put in writing.

@MCGallaspy
MANIFEST.in specifies files in the sourcetree that shall get included in the sourceball (tar.gz or zip). But it's `setup.py` that does the copying of those files to their location.

If we were to include prebuilt databases, the yes t

[2015-10-30 14:06] waltonrp opened #4655 "v15 can't logon using Internet Explorer 11"
v15 KaLite running on Ubuntu 15.04. I can logon to KA Lite using Firefox or Chrome from Windows clients. I cannot logon using Internet Explorer 11 running in Win 7 or Edge running in Win10. It's not recognizing password. This happens with admin, coach and learner logons.

[2015-10-30 21:52] MCGallaspy commented on #4646
Hi @mmutee. Thanks for the feedback. We're considering this issue in future versions of the software, however at this time the only way to manage video downloads is through the admin interface or, as you note, by downloading all the videos in bulk and unpacking the files in the content directory.

Perhaps another team member can chime in about the possibility of creating subject-specific torrents

[2015-10-30 22:13] MCGallaspy commented on #4625
Set the `KALITE_HOME` environment variable to the desired directory. You can copy your existing .kalite directory to that location prior to starting the server in order to maintain existing data.

[2015-10-30 22:16] MCGallaspy commented on #4625
See the development version of the docs, someone else had a similar question: http://ka-lite.readthedocs.org/en/develop/faq.html#how-do-i-change-the-directory-where-all-of-ka-lite-s-runtime-files-go-including-content

[2015-10-30 22:16] #4625 closed

[2015-10-30 23:18] waltonrp commented on #4655
Additional information. The server I installed today and had an issue logging on to from IE is a clone of the server I have at my office. Using the same laptop as client, I was able to log on the office server when I returned this afternoon. Both using IE and Edge worked perfectly.

I played videos off the server I installed, so I know the network is good, but am wondering if it's the cloning. I u

[2015-10-30 23:41] mmutee commented on #4646
Since I don't have the complete set of videos I cannot create the torrents. However, I can provide Windows batch scripts that, when executed inside the folder containing all the videos, will move all the files to relevant folders (like all 199 MP4s and PNGs of Calculus will be moved to a folder "Calculus"). This then can be used to create the new torrents.

![batch script to rearrange files](https

[2015-10-30 23:53] MCGallaspy commented on #4646
@rtibbles or @jamalex could provide an answer more readily than me. I don't think it matters, interested to hear your results.

[2015-10-30 23:53] EdDixon commented on #4655
Hi Robert, I have tested this quite a bit without issues (not cloning) but, using the Edge and IE11 browsers on our current 0.15.0 version without issue. I have started to prefer Edge over even Chrome at this point which for me is pretty amazing. I do know that we are using session cookies (which is something you need to be aware of anyway) in this version and feel it may have something to do with

[2015-10-31 01:37] waltonrp commented on #4655
Good idea. So just clearing the cookies in the browser is what you suggest? If you saw my update, everything worked fine off the same client when I logged on to the master server at my office.

Robert Walton
Regional Information Technology Specialist
DOC – CTSU – Field Services Unit
Sent from my iPhone

On Oct 30, 2015, at 7:53 PM, Ed Dixon <notifications@github.com<mailto:notifications@github.com

[2015-11-02 20:20] EdDixon commented on #4655
Hi Robert,

Please do let us know if that seems to resolve the issue, I have no way to
try and replicate it here.

Thanks,

Ed Dixon
Corrections Adviser
Foundation for Learning Equality <http://learningequality.org/>
Give to FLE, Support FLE via Amazon Smile!
<https://learningequality.org/donate/>
M (575)-201-3691

On Fri, Oct 30, 2015 at 7:37 PM, waltonrp <notifications@github.com> wrote:

[2015-11-03 15:25] waltonrp commented on #4654
I have the instructions for db migration. I'm sure my issue is with the file path I'm entering, can anyone help? See attachment
![screenshot](https://cloud.githubusercontent.com/assets/9379591/10911946/305cc46c-8215-11e5-9de4-2997ab96f18a.png)

[2015-11-03 15:50] EdDixon commented on #4654
I do think you maybe right. It is likley path related. I need to replicate this ASAP here but, I know that paths where changed in 0.15.0 to accommodate specific users. @benjaoming @MCGallaspy

[2015-11-03 16:16] waltonrp commented on #4655
Ed,

Deleting cookies did not work. I've tried this in several locations(wireless/domain) with several KALite servers running v15. All the KA LIte servers have a static IP and are not joined to the domain. I can log on to KA LITE using IE or Edge when on my home network (wireless/workgroup). I'm not joining any of these machines to the domain or doing any group policy to secure IE, problem happens

[2015-11-03 16:55] rtibbles commented on #4655
Could you give a screenshot of what happens when you do attempt to login?

Also, if you could press "F12" before logging in, and click on the 'Console' tab that appears, and take a screenshot of anything that appears in there when you attempt to login, that would also help.

[2015-11-03 17:00] waltonrp commented on #4654
I'm going to have to work on this back in the lab. Virginia DOC move to v15 is officially on hold due to the other issue: logon from I.E.

I'll drop the 2 sites back to v14 this week.

Robert Walton
Regional Information Technology Specialist
DOC – CTSU – Field Services Unit
Sent from my iPhone

On Nov 3, 2015, at 11:57 AM, Ed Dixon <notifications@github.com<mailto:notifications@github.com>> wrote:

[2015-11-03 17:05] waltonrp commented on #4655
There is nothing to show via screen shot. I type user name and pwd, enter. The login window flickers and then come back blank.

Robert Walton
Regional Information Technology Specialist
DOC – CTSU – Field Services Unit
Sent from my iPhone

On Nov 3, 2015, at 11:57 AM, Richard Tibbles <notifications@github.com<mailto:notifications@github.com>> wrote:

Could you give a screenshot of what happens when

[2015-11-03 19:28] MCGallaspy commented on #4654
Hi @waltonrp. Difficult to say what the issue you're experiencing with the `gitmigrate` command is. Can you provide instructions for how to reliably replicate this?

In the meantime, you may find the following information helpful. In versions 0.13.x, if you cloned the git repo and ran KA lite "from source" from that directory, then the database file with user account data was found nested in the s

[2015-11-03 19:35] MCGallaspy commented on #4654
@waltonrp
On closer inspection it appears the value of the `--git-migrate` option should *not* be the path to the data.sqlite file, but rather the base directory of the KA Lite installation. For example, if I had installed KA Lite 0.13.x to `/home/mike/ka-lite` then I would run the command: `kalite manage setup --git-migrate=/home/mike/ka-lite`.

[2015-11-03 19:48] waltonrp commented on #4654
Thanks. I picked up on that and tries with the same error. Will send screenshot ASAP

Robert Walton
Regional Information Technology Specialist
DOC – CTSU – Field Services Unit
Sent from my iPhone

On Nov 3, 2015, at 2:35 PM, Michael Gallaspy <notifications@github.com<mailto:notifications@github.com>> wrote:

@waltonrp<https://github.com/waltonrp>
On closer inspection it appears the value of the --

[2015-11-03 22:37] waltonrp commented on #4654
Step by step recap:

    Install 0.15.x
    Stop the 0.15.x server.
    Copy 0.13.x database file to 0.15.x database location.
    Restart 0.15.x server.

This seemed to work fine. I'm attaching details from the GUI. All seems fine with data. That's easy enough.

I attached screen shots from errors on doing it at command line

Thanks and let me know what you think
![migrate](https://cloud.githubus

[2015-11-03 23:17] MCGallaspy commented on #4654
I'm guessing that you're still specifying an unexpected location for the `--git-migrate` option. If you cloned this repo for 0.13.x, then the directory specified for that option should be the same base directory as this repo (not a subdirectory of this repo). However, if the workaround works for you, I'll close this issue.

[2015-11-03 23:17] #4654 closed

[2015-11-04 15:12] ruancilliers commented on #4603
Dear Khan Lite Support,

Any update on the above issue? Did you have time to look at the database yet?

Please let me know if you have any questions.

Thank you,
Ruan

[2015-11-04 20:24] MCGallaspy commented on #4603
Hi @ruancilliers, I'm now looking at this issue.

[2015-11-05 00:39] MCGallaspy commented on #4603
This is a legitimate error, and seemingly still exists in version 0.15.x -- not your fault @ruancilliers. If we can come up with a workaround we'll post it here, but in the meantime we'll submit a fix for the next release of KA Lite.

@rtibbles, the error (on branch 0.15.x) with content recommendation is in `content_recommendation.get_exercise_prereqs`. An ExerciseLog has an exercise_id attribute

[2015-11-05 00:41] rtibbles commented on #4603
Yes, unfortunately, this is due to an issue introduced by insufficient robustness in the content recommendation code.

An interim fix might be to delete the ExerciseLog that has ids that no longer exist.

Will investigate with @MCGallaspy - sorry for the problems here, @ruancilliers.

[2015-11-05 00:51] MCGallaspy commented on #4603
I like this solution better:

[code]

And then a pass through the codebase to ensure use of `get_exercise_cache` is similarly robust.

[2015-11-05 15:45] waltonrp commented on #4655
Here is a screenshot from MS Edge, after I enter username and password

![kalite logon issue source](https://cloud.githubusercontent.com/assets/9379591/10973187/42017ea6-83aa-11e5-8c74-823a2c05ef5a.png)

[2015-11-05 15:49] EdDixon commented on #4655
Thanks Robert, can you get a screenshot of the next tab over of the console?

[2015-11-05 15:56] waltonrp commented on #4655
Can you call me 804-212-5765?

Robert Walton
Regional Information Technology Specialist
DOC – CTSU – Field Services Unit
Sent from my iPhone

On Nov 5, 2015, at 10:49 AM, Ed Dixon <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks Robert, can you get a screenshot of the next tab over of the console?

—
Reply to this email directly or view it on GitHub<https://github.com/lea

[2015-11-05 16:35] EdDixon commented on #4655
Thanks for the call this morning glad to hear the other deployments are moving forward! I just want to update this with a capture of the console will be provided here as soon as possible. So the dev team knows where we are on this. Please know your help in reporting things you have encountered is very appreciated by all of us. Keep them coming!

[2015-11-06 00:59] rtibbles commented on #4603
Hi @ruancilliers - pretty sure we've isolated the issue here. Two different problems in the underlying code, one of which was extant in 0.13, but only came to light because one of the exercises some of your students had engaged with is no longer present in 0.14.1.

We will be issuing the fix to 0.15 and releasing 0.15.1. Upgrading from 0.14.1 to 0.15.1 should work from the PPA. We will flag on her

[2015-11-06 15:19] jinchuika commented on #4650
Found another part which is not showing translations.

![selection_004](https://cloud.githubusercontent.com/assets/5230176/11000399/252ffdb2-8467-11e5-962d-ee4cdddc8403.png)

[2015-11-07 01:44] MCGallaspy opened #4658 "Django debug toolbar not playing nice"
On `develop`, @DXCanas got the following error:

`kalite manage runserver 0.0.0.0:8008 --settings=kalite.project.settings.dev`

[code]

[2015-11-08 20:26] Aypak opened #4659 "Exception TypeError: TypeError("'NoneType' object is not callable",) in <bound method SqliteDict.__del__ of SqliteDict(/home/pi/.kalite/channel_cache_data/contents.sqlite)> ignored"
Everytime i start kalite on my raspberry pi i get the error above. I have installed v0.15 according to the instructions in the documentation, and manually added the khan_assessment.zip file. When i stop the server with the kalite stop command, i get the message Already stopped: unclean shutdown

[2015-11-09 12:21] benjaoming commented on #4659
Confirming that this is also a problem on the latest ka-lite-bundle .deb. Not a released one, just what I'm working on ATM.

[2015-11-09 19:30] MCGallaspy commented on #4658
Now looking at this.

[2015-11-09 19:50] MCGallaspy commented on #4658
@DXCanas can you determine what version of django-debug-toolbar you have installed? You can check with the `pip freeze` command.

[2015-11-10 20:52] fbui opened #4661 "Modals on deployment map don't scroll on Mac OS"
Deployments map on Learning Equality website: https://learningequality.org/ka-lite/map/
On Mac OS, the modals that open up after clicking on green houses cannot scroll down.

<img width="783" alt="screen shot 2015-11-10 at 12 46 41 pm" src="https://cloud.githubusercontent.com/assets/10431552/11075285/4d9444a8-87a9-11e5-8d12-ff9c52a6f7b1.png">

Using the arrow keys while the modal is open scrolls t

[2015-11-10 23:06] 66eli77 commented on #4661
Hi @fbui  this repo is for kalite the software. Can you move this issue to https://github.com/fle-internal/fle-home  ? thank you

[2015-11-10 23:06] #4661 closed

[2015-11-10 23:37] 66eli77 opened #4662 "My Progress show error message when learner has 0 points"
branch: develop
OS: Mac
reproduce: create a new student account and go to "My Progress" with 0 point, you will see this scary error message
![screen shot 2015-11-10 at 3 31 46 pm](https://cloud.githubusercontent.com/assets/5577205/11079336/635f34c0-87c0-11e5-9c7a-5cef17957681.png)

expected behavior: should not see anything

[2015-11-11 02:37] gwong89 opened #4663 "download size of videos not being properly displayed"
Whether its a bulk download or single download, the download button does not properly update the size of the download after selecting file(s) to download

![Image of download error]
(http://s22.postimg.org/bsehusvm9/Screenshot_2015_11_10_18_30_53.png)

[2015-11-12 20:43] j-schwartz opened #4664 "0.15 Raspberry Pi / Linux Install Not Completeing"
Branch: Master
Expected Behavior: Update KA-Lite from 0.13.1 and 0.13.2 to 0.15 following instructions here:
![image](https://cloud.githubusercontent.com/assets/9270388/11130531/64aeff9c-893a-11e5-80fb-f971c44e6069.png)

Current Behavior: Errors reported (below)

Steps to reproduce:

[code]
![image](https://cloud.githubusercontent.com/assets/9270388/11130589/af3d347a-893a-11e5-8e02-719d07682dae.pn

[2015-11-12 21:06] MCGallaspy commented on #4664
So you have two errors: something happened when you tried to install the ka-lite-raspberry-pi package (more on that in a bit), and you say that:

Can you elaborate on that? Which process does not complete? As a guess, I'd say you must first stop the old version of ka-lite (0.13.x) and then try to start the new version.

Regarding the failed install, as a workaround you could choose *not* to downlo

[2015-11-12 21:37] j-schwartz commented on #4664
I passed on installing the exercise data and received the following, I also stopped KA-Lite manually before running the install, however the install looks to stop KA-Lite as an initial step I believe:

![image](https://cloud.githubusercontent.com/assets/9270388/11132031/7801a3bc-8942-11e5-8a56-00ec4008056a.png)

[2015-11-12 21:38] j-schwartz commented on #4664
BTW, this installer is now labeled 0-15.1, it was 0-15-0 a few minutes ago, just so you know I'm grabbing stuff live.

[2015-11-12 23:33] MCGallaspy commented on #4664
Curious, it's still 0.15.0 for me... are you sure it's not appending a `1` because you downloaded a file with the same name twice?

[2015-11-12 23:35] MCGallaspy commented on #4664
BTW, I was seeking clarification on this statement:

[2015-11-12 23:54] j-schwartz commented on #4664
Sorry about that, I thought I had pasted in a picture of the nginx issue:

![image](https://cloud.githubusercontent.com/assets/9270388/11134931/96c5d85a-8955-11e5-8ac1-6b8f17c1f0da.png)

[2015-11-13 01:39] MCGallaspy commented on #4664
Can you also describe the steps you took to install 0.13.x in the first place?

[2015-11-13 01:45] j-schwartz commented on #4664
I wish I remembered, but I really don't.  I am 99% sure there wasn't
anything unusual about my install, except I vaguely recall having to add a
script at boot that prevents the user data from locking up on shutdown and
preventing KA-Lite from rebooting.  Is there anyway I can check out a
current config and tell how I installed it?

On Thu, Nov 12, 2015 at 5:39 PM Michael Gallaspy <notifications@gi

[2015-11-13 01:46] MCGallaspy commented on #4664
Did you use the setup script from this repo? https://github.com/rachelproject/rachelplus

[2015-11-13 01:49] j-schwartz commented on #4664
No, that's just the one we use on the CAP device (which I don't have any
more).  I think for 0.13 I was still cloning into the LE github and running
setup scripts that way.

On Thu, Nov 12, 2015 at 5:46 PM Michael Gallaspy <notifications@github.com>
wrote:

[2015-11-13 01:54] MCGallaspy commented on #4664
Okay, I'll try to replicate your error and offer suggestions based on that.

[2015-11-13 01:57] j-schwartz commented on #4664
Is 0.14 available somewhere I can get and try incremental upgrades in the
meantime?  Many thank you's for the help.

On Thu, Nov 12, 2015 at 5:54 PM Michael Gallaspy <notifications@github.com>
wrote:

[2015-11-13 01:59] MCGallaspy commented on #4664
See here: http://pantry.learningequality.org/downloads/ka-lite/0.14/installers/

[2015-11-13 02:00] MCGallaspy commented on #4664
Try this one specifically: http://pantry.learningequality.org/downloads/ka-lite/0.14/installers/debian/ka-lite-raspberry-pi-0.14.2.deb

[2015-11-13 02:09] j-schwartz commented on #4664
Thanks - I hadn't seen this earlier, but 0.13 to 0.14 requires installing
in a new location and migrating.  I'm guessing that's my hold up with 0.13
to 0.15 as well.  Going to try with a clean image shortly.

On Thu, Nov 12, 2015 at 6:00 PM Michael Gallaspy <notifications@github.com>
wrote:

[2015-11-13 02:21] j-schwartz commented on #4664
I was unsuccessful with 0.15 in a new location with a new user:

[image: pasted1]

On Thu, Nov 12, 2015 at 6:08 PM Jeremy Schwartz <jeremy@worldpossible.org>
wrote:

[2015-11-13 18:48] MCGallaspy commented on #4664
I suspect the main issue is the dpkg errors out before the installation can complete, but I'll let you know as soon as I'm done testing it out.

[2015-11-13 18:50] johnfelipe opened #4665 "Why dont start?"
notroot@dhcppc4:~$ kalite start
	Running 'kalite start' as daemon (system service)

	Stand by while the server loads its data...

	Traceback (most recent call last):
	  File "/usr/share/kalite/kalitectl.py", line 916, in <module>
		port=arguments["--port"]
	  File "/usr/share/kalite/kalitectl.py", line 507, in start
		f.write("%s\n%d" % (str(os.getpid()), port))
	IOError: [Errno 28] No space left

[2015-11-13 19:01] MCGallaspy commented on #4665
Seemingly because there's no space left on the device. Try removing some unnecessary files, and use `df -h` to view how much space is available on your filesystem.

[2015-11-13 19:02] johnfelipe commented on #4665
Where can i download only spanish and assesment videos?

[2015-11-13 19:48] johnfelipe opened #4666 "torrent for spanish videos and asset?"

[2015-11-13 20:23] aronasorman commented on #4166
Gio and I are looking into migrating to VTT this release.

[2015-11-14 00:45] MCGallaspy commented on #4664
I think you'll be able to successfully install KA Lite 0.15.0 from the deb file if you first manually undo some configuration done by installing 0.13.x. Try these steps

1. Remove the `/etc/init.d/kalite` script installed by 0.13: `sudo rm /etc/init.d/kalite`
2. Unregister the ka-lite service: `sudo update-rc.d kalite remove`
3. Remove 0.13 nginx configuration files:
  1. `sudo rm /etc/nginx/sites

[2015-11-14 05:06] j-schwartz commented on #4664
We're mostly using Pi 2s but we have a couple hundred Pis of various
hardware deployed we'll want to offer updates to if there is significant
performance improvements.
On Fri, Nov 13, 2015 at 6:45 PM Michael Gallaspy <notifications@github.com>
wrote:

[2015-11-14 05:06] j-schwartz commented on #4664
Thanks for this though, I will try asap. Out of town for the weekend
though.
On Fri, Nov 13, 2015 at 11:06 PM Jeremy Schwartz <jeremy@worldpossible.org>
wrote:

[2015-11-14 08:09] Aypak commented on #4666
http://pantry.learningequality.org/downloads/ka-lite/0.14/content/

[2015-11-14 15:16] johnfelipe commented on #4666
I have 0.15, not matter?

[2015-11-14 16:26] 66eli77 commented on #4307
@MCGallaspy if you didn't register your device, meaning you zone_id is none, then you select "All" when export data, you will get an empty output file. I think many of you cannot reproduce the issue only because your device is registered.

[2015-11-14 17:00] 66eli77 opened #4668 "cannot export "All" data when device not registered"
Branch: develop
OS: Mac
reproduce: do not register the device, then login as admin, go to "MANAGE" page and click "export data", then keep the "facility" dropdown list to select "All", click "Export". You will get an empty output file.

the problem seems happen in this line:
https://github.com/learningequality/ka-lite/blob/develop/kalite/control_panel/api_resources.py#L102
if device is not registe

[2015-11-15 12:00] benjaoming commented on #4664
@j-schwartz I would recommend to set the .deb packages in motion if you haven't already. That way you can have an upgrade path in place for the future. I think @MCGallaspy's suggestion sounds plausible: Cleaning up from the non-deb installation. You should be able to install the 0.14.2 and continue using the 0.13 data, however you probably want to re-fetch assessment items and videos since this ch

[2015-11-15 18:19] Aypak commented on #4666
http://pantry.learningequality.org/downloads/ka-lite/0.15/content/ for version 15. Not sure if videos can be changed to Spanish though

[2015-11-16 02:08] johnfelipe commented on #4666
latest link, have english version, but 0.14 link works, only need restart server and download 11 new videos.

Now spanish assets how works?
where download for 0.15 and how upload, ONLY SPANISH pls

Tnks

[2015-11-16 03:02] johnfelipe opened #4670 "error download video"
Error en la descarga de -SUbU8kg-4: ERROR: Unable to download webpage: HTTP Error 404: Not Found (caused by HTTPError()); please report this issue on https://yt-dl.org/bug . Make sure you are using the latest version; see https://yt-dl.org/update on how to update. Be sure to call youtube-dl with the --verbose flag and include its complete output.; pasando al siguiente video. ...

[2015-11-16 09:48] shreyasmahimkar commented on #4589
I am still getting this error on 0.15.0 kalite version when I am trying to install Swahili language pack.

[2015-11-16 17:12] EdDixon commented on #4589
Hi @shreyasmahimkar ,

I just tried to replicate this error using a windows installation, but it did not replicate. Can you provide more details on the installation and hosting operating system? Also, the server does have to be restarted after downloading the language packs. I am assuming you are doing that.

[2015-11-16 17:53] shreyasmahimkar commented on #4589
Hi @EdDixon,

It worked today morning. I just restarted my raspberry pi and it started working :+1:

Yes. I was using it on Raspberry pi on the below version.
Linux pi-15294 3.18.7-v7+ #755 SMP PREEMPT Thu Feb 12 17:20:48 GMT 2015 armv7l GNU/Linux

Thanks a ton!

[2015-11-16 18:45] MCGallaspy commented on #4307
@66eli77 this is on branch `develop`?

[2015-11-16 18:51] 66eli77 commented on #4307
@MCGallaspy  yeah, it's also on wch branch and probably on all branches. I opened an issue for this #4668

[2015-11-16 21:10] rtibbles commented on #4603
Fix here should be:

Turn all access of dict attributes in content_recommendation.py to be a ```.get(<attribute>, <default>)```.

Copy changes on lines 91-93 of this commit: https://github.com/learningequality/ka-lite/commit/bfeb2fadd416bbf75e8f2f96d12887a8b3967c0c

[2015-11-17 13:28] benjaoming opened #4672 "Remove 301 redirect on learningequality.org"
This is very urgent as assessment items cannot be downloaded through the .deb anymore since a change in our central server nginx configuration.

From #4664, we re-learned that our SSL certificate is invalid with default Debian and Ubuntu. We cannot force people downloading assessment items from `http://learningequality.org/downloads/ka-lite/0.15/content/khan_assessment.zip` to be 301 forwarded to

[2015-11-17 13:35] benjaoming commented on #4664
A new candidate is available in the [proposed PPA](https://launchpad.net/~learningequality/+archive/ubuntu/ka-lite-proposed), please note that it doesn't have a systemd script yet. It is also well-known that installing directly from PPA with `apt-get install` prompts that debconf questions are re-asked after the installation is completed, however it seems harmless.

Installing directly from a .deb

[2015-11-17 13:36] benjaoming commented on #4672
Alternatively, buy a better certificate :)

[2015-11-17 16:24] aronasorman commented on #4672
I distinctly remember @jamalex removing this already. Perhaps it wasn't committed to ansible and got restored back again. Will do today

[2015-11-17 16:35] benjaoming commented on #4672
It's definitely still a problem:

[code]

[2015-11-17 16:47] jamalex commented on #4672
We still redirect the homepage to https, but the downloads stuff we shouldn't be.

Looks like what's happening is we changed the redirects for the /downloads/ stuff to redirect to the pantry server directly, as we were having nginx truncation issues in proxying big files. If you take a look at the 301 for the assessment zip, it's redirecting to https, and then sending to the pantry server -- so it

[2015-11-17 16:51] jamalex commented on #4672
Fixed in https://github.com/fle-internal/ansible-playbooks/pull/63, and applied to proxy server -- please test; thanks!

[2015-11-17 16:51] jamalex commented on #4672
(Note that we may want to track issues like this on the ansible-playbook repo)

[2015-11-17 17:01] benjaoming commented on #4672
Nope, still redirecting, was the server reloaded with new conf?

[code]

[2015-11-17 17:05] jamalex commented on #4672
Correct; redirecting to the pantry server's HTTP connection (to avoid the Nginx truncation issue). Shouldn't be going through HTTPS anymore?

[2015-11-17 17:36] aronasorman commented on #4672
wget might be doing some caching here, seeing as we used 301 (permanent redirect) instead of 301 (temporary).

[2015-11-17 20:40] benjaoming commented on #4672
@jamalex ah, too quick here -- i was pasting output showing that it does work :D

[2015-11-17 20:40] #4672 closed

[2015-11-18 09:37] Aypak opened #4674 "Videos not showing"
I installed v0.15 according to the instructions, then downloaded khan_assessment.zip and the torrent of videos. I ran kalite manage setup to unpack the assessment items, and placed all the videos in /home/pi/.kalite/content. Some assessment items are not showing on the learn tab, and none of the videos are showing either even though it shows that they exist on the videos tab under admin. It is sim

[2015-11-18 19:45] MCGallaspy commented on #4674
Hi @Aypak, thanks for the report. This is on a raspberry pi? Which model? And what OS are you using? I'd first suggest restarting KA Lite. If that doesn't work, then we'll investigate further.

[2015-11-19 09:50] Aypak commented on #4674
Thank you for your response. Yes, i'm running this on a raspberry pi. Its the rpi 2 B+ running on the latest raspbian wheezy. I added the line
[code]
to settings.py. Now all the assessment items work, but the videos still do not work even though it shows that they exist on the manage tab. When i run 'kalite manage setup' and follow the prompts i get the following screen
![capture](https://cloud.gi

[2015-11-19 21:16] ruancilliers commented on #4603
Dear rtibbles,

Thank you for your help regarding the fix. I really appreciate your help. As recommended I tried to upgrade to version 0.15 from 0.14.2 without success :'( Please see the 6 screen shots attached in how I tried to upgrade to version 0.15. What am I missing? Please advise... As soon as I have managed to upgrade to version 0.15 from 0.14.2 then I will test the fix and let you know...

[2015-11-19 21:26] MCGallaspy commented on #4603
@ruancilliers the fix has not been released yet. We're planning on releasing 0.15.1 soon, which will incorporate the fix. Upgrading to 0.15.0 (the current latest release) will not resolve the issue.

As for the upgrade issues, did you [subscribe to updates through our PPA](http://ka-lite.readthedocs.org/en/latest/installguide/advanced.html#ppa-installation)? If that does not work, then you can alw

[2015-11-19 21:41] radinamatic commented on #4182
Rechecked all the above missing `svg` images and they are now present and accounted for in the latest `deb` installers by @benjaoming from here:
http://ppa.launchpad.net/learningequality/ka-lite-proposed/ubuntu/pool/main/k/ka-lite-source/

However, the 4 assessment items that were missing since the beginning are still, missing.

Also, console reports 3 `woff2` fonts missing, called by `perseus` an

[2015-11-19 22:35] radinamatic commented on #4166
Are you pulling all the subs as VTT and just changing the file type in `video` tag, or there is other magic involved?

[2015-11-20 02:11] joelmats commented on #4529
I am getting this error when running npm install on ubuntu but seems to work fine on OSX. Anyone else have this issue?

[2015-11-20 02:14] aronasorman commented on #4166
@radinamatic I believe the former is the plan, as I'm hoping that videojs just magically interprets vtt :)

[2015-11-20 09:47] radinamatic commented on #4166
Nah... If you do that, magic is entirely yours @aronasorman, and VideoJS just makes use of it... :stuck_out_tongue_winking_eye:

Ping me in on the PR so I can enjoy the magic too!

[2015-11-23 15:52] Aypak opened #4679 "nginx bind error : Address already in use"
I'm running ka lite v0.15 on the rpi 2. I get the following error everytime i switch on the rpi.
nginx: (emerg) bind() to 0.0.0.0:80 failed (90: Address already in use)
nginx: (emerg) bind() to 0.0.0.0:80 failed (90: Address already in use)
nginx: (emerg) bind() to 0.0.0.0:80 failed (90: Address already in use)
nginx: (emerg) bind() to 0.0.0.0:80 failed (90: Address already in use)
nginx: (emerg)

[2015-11-23 22:35] radinamatic commented on #3928
Fixed, closing.

[2015-11-23 22:35] #3928 closed

[2015-11-23 23:19] radinamatic opened #4682 "Unexpected error: argument 2 to map() must support iteration - Learn tab"
Unexpected error: argument 2 to map() must support iteration - Learn tab

**Branch**: latest develop

**Expected Behavior**: Pressing **Learn tab** should open sidebar topic menu.

**Current Behavior**: Pressing **Learn tab** results in an empty sidebar and `Unexpected error: argument 2 to map() must support iteration` error.

![argument-2-to-map](https://cloud.githubusercontent.com/assets/1457929

[2015-11-24 00:29] radinamatic commented on #4682
(Until further notice) Remember to do `bin/kalite manage init_content_items --overwrite` and  `bin/kalite manage setup` if you run into this error... ;)

Closing!

[2015-11-24 00:29] #4682 closed

[2015-11-24 02:22] johnfelipe commented on #4666
spanish assets how works?

[2015-11-24 23:30] 66eli77 opened #4684 "KALITE_HOME not working"
Branch: develop
OS: Mac
when set KALITE_HOME = wherever/you/want/
then run kalite, the ```.kalite``` folder is created in wherever/you/want/
but still in your "home" folder

[2015-11-25 18:33] EdDixon opened #4685 "Pycrypto compilation during pip installation has issues in some environments"
In my opinion, one of the best features of our pip installation method is that it offers the potential for any device supporting python to run KA Lite. With that in mind I tried installing on unsupported BSD and run into a few issues that I hope can easily be fixed. The specific BSD version may not be that important but in this case it was PCBSD current version (10 Joule ) which is based on FreeBS

[2015-11-25 18:38] EdDixon commented on #4685
last few lines of the trace which were cuttoff above, pasting as plain text:

 RuntimeError: autoconf error

    ----------------------------------------
Command "/usr/local/bin/python -c "import setuptools, tokenize;__file__='/tmp/pip-build-XZxqOS/pycrypto/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --record /tmp/pip-z

[2015-11-25 18:39] benjaoming commented on #4685
Could you be missing autoconf? Try running the command `autoconf` and see if it exists...

[2015-11-25 18:49] benjaoming commented on #4684
And you are using an absolute path, i.e. `KALITE_HOME=/an/absolute/path kalite start` ?

[2015-11-25 19:13] benjaoming commented on #4679
This looks like two separate issues. For performance on RPI, we should look at #4664.

For the bind issue, make sure you don't already have another HTTP server (like Apache) running on port 80. Also, you may see that a wild nginx process occupies the port. Try killing all nginx processes or restarting the pi.

[2015-11-25 19:26] #4603 closed

[2015-11-25 19:50] aronasorman commented on #4684
@benjaoming we used `pwd`, which gave an absolute path.

On Wed, Nov 25, 2015 at 10:49 AM, benjaoming <notifications@github.com>
wrote:

[2015-11-25 19:59] benjaoming commented on #4684
As in ``KALITE_HOME=`pwd` kalite start`` ?

On 25 November 2015 at 20:50, Aron Fyodor Asor <notifications@github.com>
wrote:

[2015-11-25 20:13] aronasorman commented on #4684
Yeah, similar:

[code]
We saw an example which added the `.kalite` dir.

[2015-11-25 21:50] EdDixon commented on #4685
I did try autoconf ad even automake which are not responding when called directly installed or not, which made me start looking at the shell being used here... (csh) a simple "autoconf" or even "sudo autoconf" comes back with "command not found" even after specifically installing it through the built in AppCafe installer. Same is true in bash as well and the installation actually gets further into

[2015-11-25 22:26] benjaoming commented on #4685
"no matching installer for kalite" - you mean "no matching installer for
autoconf" ? You would want to find out which package it's part of.

On 25 November 2015 at 22:50, Ed Dixon <notifications@github.com> wrote:

[2015-11-25 22:27] benjaoming commented on #4684
Is that the exact command?

On 25 November 2015 at 21:13, Aron Fyodor Asor <notifications@github.com>
wrote:

[2015-11-25 22:37] aronasorman commented on #4684
No actually. Here's the exact command:

[code]
We expected a folder with .kalite created in the current directory. The DB also should have been created, as the output of that command indicates that it's creating a fresh db. But `ls` does not show any such folder created.

[2015-11-25 23:46] benjaoming commented on #4659
After removing the .kalite directory and reinstalling everything works. Suspecting a 0.16 version of contents.sqlite or likewise to be the cause of this. @Aypak any chance you had a development installation of kalite before trying this?

[2015-11-26 00:23] benjaoming commented on #4659
Nevermind, this actually happens everytime the server is reinstalled in any way -- even though the versions are identical.

[2015-11-26 00:45] EdDixon commented on #4685
Maybe, but running "sudo -H pip install kalite" returns exactly this: "no matching installer for kalite"? I agree the error is in error but, that is all the error is giving me. It has to be related to something as we know kalite exists in pip so I do not doubt autoconf is the problem or how it is being initialized in BSD is there anything further I can do here to help you get a fix on this? It is

[2015-11-26 12:46] benjaoming commented on #4685
it's `pip install ka-lite` with the dash?

On 26 November 2015 at 01:45, Ed Dixon <notifications@github.com> wrote:

[2015-11-26 16:05] EdDixon commented on #4685
Oddly enough either "kalite" or "ka-lite" end up with exactly the same trace back as above (in a different tmp folder of course) but, the dash is required on bash (thanks) and is getting to that same point now where csh did before without it?

[2015-11-27 13:34] benjaoming commented on #3696
@jamalex is it still true that end-users are using youtube_dl ?

It's a big chunk of code to get rid of, and since we are re-encoding lots of videos, it'd be cool to get rid of :)

[2015-11-27 15:02] benjaoming opened #4713 "Remove dependency on django_snippets"
Only used for SessionIdleTimeout

So we can probably copy out that *snippet*

[2015-11-28 16:59] miresh15 opened #4715 "KAlite hotspot edimax connecting problems"
Hi, I have installed a fresh copy of the latest kalite install on my raspberry pi using the wiki guide. I then followed through the wifi hotspot setup under the Specific system setups - Raspberry Pi Wi-Fi steps 1-6. After this I see the ka-lite hotspot on the devices I'm trying to connect however the devices are undable to connect. Any help would be appreciated! I'm using the edimax dongle :)

[2015-11-30 21:04] benjaoming opened #4716 "Random BDD test failure"
Having opened a lot of PRs (25 in a day), I found that I had to run the same tests several times because of this BDD test failure:

[code]

It occurs alone. Often after dark. It's very hard to spot because it's very camouflaged. Only a vague red stripe distinguishes it.

IMO we should get it fixed before releasing because it's going to be annoying for both this release and any future fixes.

@aron

[2015-12-01 18:21] #4679 closed

[2015-12-01 21:16] rtibbles commented on #4508
Fixed in #4630

[2015-12-01 21:16] #4508 closed

[2015-12-01 21:17] rtibbles commented on #4507
Fixed in #4630

[2015-12-01 21:17] #4507 closed

[2015-12-01 21:20] rtibbles commented on #3907
This was fixed in #4261

[2015-12-01 21:20] #3907 closed

[2015-12-01 21:20] rtibbles commented on #2857
Doing what I said above.

[2015-12-01 21:20] #2857 closed

[2015-12-01 21:21] rtibbles commented on #2848
Kolibri.

[2015-12-01 21:21] #2848 closed

[2015-12-01 21:21] rtibbles commented on #4070
Fixed in #4489

[2015-12-01 21:21] #4070 closed

[2015-12-01 22:41] MCGallaspy commented on #4716
I noticed this too.

[2015-12-01 22:46] MCGallaspy opened #4719 "Prettify unpack_assessment_zip output"
On `develop`:

With the Windows installer, we now call `unpack_assessment_zip` as part of the installation process. It's output is displayed on a console, but it's really minimal (`Unpacking...`) and can take a long time. Some users will undoubtedly think that it is hung, and inadvertently cancel it, resulting in a failed installation. So let's give it better output -- some kind of progress bar. S

[2015-12-01 22:52] aronasorman commented on #4716
I got a similar behaviour in the 0.15.1 PR.

[2015-12-01 23:55] jamalex opened #4720 "Don't load all facilities into session (ever? at least for central server...)"
- The following code, in kalite/facility/middleware.py, loads data for all facilities into the session object:

[code]

- The session object is persisted, either in the DB or in temp files.

- On the central server, we have 6K+ facilities, and many sessions

- The central server DB is now 7GB+, and we are no longer doing backups because the 500GB backup drive overflowed.

@rtibbles Is that code st

[2015-12-02 00:04] rtibbles commented on #4720
Used in Base template to populate facility list for login, I believe.

On Tue, 1 Dec 2015, 15:55 Jamie Alexandre <notifications@github.com> wrote:

[2015-12-02 00:43] MCGallaspy commented on #4716
Here's the relevant steps as they appear on `develop` now:

[code]

My only thought is that there is a race condition with `update_item` -- that the requested page does not reflect the updated db row. Not sure how to test this hypothesis. Any insight here @rtibbles?

[2015-12-02 00:47] MCGallaspy commented on #4716
Strange, here's the screencast when it passes: https://saucelabs.com/jobs/b8d864eed3af4bea9daff749f63d81ae

Note the alert indicating the content was not found.

[2015-12-02 06:22] jamalex commented on #4720
Hmm, ok, would be good to double-check -- couldn't find it when I looked. We don't use that on the central server, at the very least -- or shouldn't.

Do we actually gain any efficiency by storing this in the session, though, in any case? It's stored separately for each visitor, so it's still being computed once per visit anyway, right?

[2015-12-02 18:41] MCGallaspy commented on #4684
Could it be that spawned subprocesses do not share the given value for KALITE_HOME?

[2015-12-02 23:29] j-schwartz commented on #4664
Hi @MCGallaspy - sorry I'm just getting back to this.  We have version 0.13.1 installed on most of our devices.

here's what I am doing:
[code]
My version 0.13.1 install doesn't appear to have nginx installed anywhere.  Is that possible?

[2015-12-03 01:59] MCGallaspy commented on #4664
Certainly seems suspicious. Is there any way you can provide me with an image of a device with 0.13.1 installed, prior to attempting to upgrade, so that I can troubleshoot it here?

[2015-12-03 02:37] j-schwartz commented on #4679
If I install using the deb, I get port 7007 and the nginx errors, but this doesn't seem to affect actual operation of KA-lite.  Is that true?  Should the deb installer initiate KA-lite on 7007 or 8008?  The PIP package gets me installed on 8008.

[2015-12-03 02:56] j-schwartz commented on #4664
Yep, shall I mail it?  Just a micoSD card OK?

On Wed, Dec 2, 2015 at 5:59 PM Michael Gallaspy <notifications@github.com>
wrote:

[2015-12-03 03:52] MCGallaspy commented on #4664
That's fine, but it would be more convenient to upload the image somewhere that I can download it. Otherwise contact me using the email on my github profile and I'll provide a mailing address.

[2015-12-03 05:13] j-schwartz commented on #4664
Sorry misunderstood. It's here.
http://rachelfriends.org/rachelpi_64EN/rachelpi2_64EN_3.4.img
On Wed, Dec 2, 2015 at 7:52 PM Michael Gallaspy <notifications@github.com>
wrote:

[2015-12-03 07:01] j-schwartz commented on #4664
Also, we had a patch on that version (rachelpi_3.4). A number of devices
were not rebooting KA-Lite after a shut down.  This was the volunteer
report on it:

 It turns out that there is a bug in the kalite init script that prevents
the lock directory to be removed even when the machine is cleanly shutdown.
The kalite startup and shutdown scripts need to be run as Pi. They do not
work properly when

[2015-12-03 16:41] benjaoming commented on #4679
@j-schwartz ka-lite-raspberry-pi has ka-lite configured to listen on 7007 and nginx on 8008.

Nginx will handle all traffic and proxy the scripted parts to ka-lite on 7007 while handling all the static media within nginx. This is the optimization that makes the big difference on RPi.

[2015-12-03 17:56] j-schwartz commented on #4679
Great, thanks @benjaoming.  Why is nginx trying to grab port 80 in the above error (which I've had also)?  Is port 80 used by the raspberry pi configuration somewhere?

[2015-12-03 18:54] benjaoming commented on #4679
Try `fuser 80/tcp` to get the PID of the process listening on port 80. Then
you can use `px ax | grep PID` to see what's active. As I said earlier,
sometimes its a run-away nginx.

On 3 December 2015 at 18:56, Jeremy Schwartz <notifications@github.com>
wrote:

[2015-12-03 18:56] MCGallaspy commented on #4664
@benjaoming should we open a new issue about the initscript?

[2015-12-03 19:01] benjaoming commented on #3757
Well. all this is underway. I guess #4054 covers this issue, so might as well close it again :)

[2015-12-03 19:01] #3757 closed

[2015-12-03 19:45] benjaoming commented on #4664
@MCGallaspy `/etc/init.d/kalite` must come from another source, manually created perhaps? The .deb's provide it with a dash `/etc/init.d/ka-lite`.

Regarding unclean shutdowns, see #4536

Regarding systemd, see https://github.com/learningequality/installers/issues/271

[2015-12-03 19:49] MCGallaspy commented on #4664
0.13.x did not have a deb file, it must be installed from source. Presumably the initscript was generated from the now-removed initscript mgmt command, so I guess it's no longer an issue on develop.

[2015-12-03 20:39] j-schwartz commented on #4679
At the end of running on a Raspberry Pi with Raspian
```sudo dpkg -i ka-lite-raspberry-pi-0.15.0 deb```

My output shows KA-Lite running on 7007, does this make sense?

![image](https://cloud.githubusercontent.com/assets/9270388/11573392/f113a24a-99ba-11e5-86e0-d19d0d31be35.png)

[2015-12-03 21:22] EdDixon opened #4727 "15.1 Language pack download errors."
While testing downloading and updating language packs, I encountered several issues but I feel this one may be main repo related rather than isolated to the installer itself. This particular encounter and the following information is on ubuntu 14 LTS using the recent 15.1 build however that may be irrelevant. Expected behavior is that these packs download and install properly into the system and b

[2015-12-03 22:01] EdDixon opened #4728 "No apparent order to coach report headings"
While testing 15.1 on Ubuntu 14 LTS, I noticed that the coach report for the student seemed very out of sequence with how the events actually happened which were in the sequence of the sidebar design for this section. The session they were done in was uninterrupted so I suspect this could be a bug or feature request not sure which.  I expected them to be listed in the chronological order they were

[2015-12-04 03:08] MCGallaspy commented on #4664
I'm currently using an older Rachel Pi image with KA Lite 0.13.1 that I found we had in our office (since the download is very large). I'll take a look at the latest image when I get the opportunity.

KA Lite version 0.13.x comes with a `setup_unix.sh` script, where you should have been prompted to configure KA Lite for the RPi. Did you run this script at setup and choose not to run the RPi optimi

[2015-12-04 03:56] anuragkanungo opened #4732 "Cannot sync database"
Version 0.15.1

I registered a device and into Nalanda Project 2015-16 UEMS 7.

On synchronizing the database it gives error.

[code]

[2015-12-04 04:33] EdDixon commented on #4727
Now known to be a problem on all desktop platforms (Linux, MAC, and Windows) using the 0.15.1 build.

[2015-12-04 04:39] EdDixon commented on #4727
Moving info and errors from installers to here to help in troubleshooting the problem:

Original report: On Ubuntu 14 LTS testing the recent 15.1 installations (not upgrade) the following error is encountered when trying to update or install language packs both through UI and manually using the kalite command. Replicated by @aronasorman
![2015-12-03_13-15-28](https://cloud.githubusercontent.com/as

[2015-12-04 16:33] benjaoming commented on #2336
This works because /content /static and /media are all served by nginx and not cherrypy.

Example from Debian 8.1 running ka-lite-raspberry-pi:

![debian 8 1](https://cloud.githubusercontent.com/assets/374612/11594934/11426360-9aad-11e5-88fe-4685aa8cee02.png)

[2015-12-04 16:38] #2336 closed

[2015-12-04 16:45] benjaoming commented on #4679
The last message is slightly mis-informing. You can access kalite on port 7007, but you should access it on port 8008 where nginx is listening.

I should try to change the message in this PR:

https://github.com/learningequality/ka-lite/pull/4611

[2015-12-04 16:45] benjaoming commented on #4679
Related: https://github.com/learningequality/ka-lite/issues/4599

[2015-12-04 18:27] benjaoming opened #4736 "content_rating BDD test randomly failing"
[code]

[2015-12-04 19:45] benjaoming commented on #4720
Why is it in a session? And then loaded upon every request?

Couldn't it just be `setattr(request, 'KALITE_FACILITIES', [{"id": id, "name": name} for id, name in Facility.objects.values_list("id", "name")])

...it could also be done using a template context loader.

But even better: Only doing it on-demand, caching it and invalidating the cache in Facility.save ?

[2015-12-05 00:06] MCGallaspy commented on #4664
@j-schwartz know anything about an initscript called `pp-kalite-clean`?

[2015-12-05 00:17] j-schwartz commented on #4664
Yes, that was to address the kalite.lock which prevented KA-lite from booting up on a reboot.  That was our fix to the issue 4 messages above.

Is that what's causing 0.15.x to continually reinstall on my machines following your 7 steps above?  Just about to dig into that.

![image](https://cloud.githubusercontent.com/assets/9270388/11604525/7b15c8f0-9aa2-11e5-94bf-868e91584e74.png)

[2015-12-05 00:29] MCGallaspy commented on #4664
Yes, that's it. I also encountered that issue. Remove that script, or if you still encounter issues with the lockfile not being removed (e.g. because of an unclean shutdown) then you can amend it to *actually* remove the lockfile instead of the whole .kalite directory (which contains lots of other essential data). Though our lockfile behavior is now more robust, so I don't expect any issues.

[2015-12-05 00:32] MCGallaspy commented on #4664
Great, I think we've got everything here to migrate you from 0.13.x to 0.15.x -- let me know if you have any other issues. I'll close this thread if nothing comes up.

[2015-12-05 00:32] j-schwartz commented on #4664
Fantastic.  That should do it, except for some reason I'm getting KA-Lite on port 7007 instead of 8008 now that I removed that script.  That's strange right?

[2015-12-05 00:34] MCGallaspy commented on #4664
That's a known bug. You should still be able to access KA Lite from port 8008, despite what the message says. Expect a fix in the next release.

[2015-12-05 00:35] j-schwartz commented on #4664
Amazing, thank you both @MCGallaspy @benjaoming for the tremendous help.  I'll let you know if we run into any migration of data issues as we test over the next few days.  Great stuff guys.

[2015-12-05 17:42] benjaoming commented on #4664
@j-schwartz you provide really good feedback, pleasure to help!! :)

[2015-12-06 05:01] j-schwartz commented on #4664
hi guys - quick note, and I'll document it better when I can recreate on purpose, but I'm not sure the init issue has been fixed yet.  After an unexpected shutdown on the raspberry pi, upon reboot, KA-lite does not reboot and is again hindered by the lock file we were fixing the pp-kalite-clean boot init script we created.  see screenshot after a failed shutdown:

![image](https://cloud.githubuser

[2015-12-06 05:18] j-schwartz commented on #4664
I can't seem to recreate this, so I'm not sure what triggered it.  I had a 504 error during some video downloads and rebooted my Pi.  Upon reboot KA-Lite would not start due to the lock error.  On second reboot it appears to operate normally.  I'll attempt to recreate, but seems like a minor issue at most.

[2015-12-06 11:23] benjaoming commented on #4664
@j-schwartz the lock file is removed after a successful start and if something breaks during initialization (running django migrations, collecting static files etc), the lock file may linger:

[code]

[2015-12-06 11:25] benjaoming commented on #4664
I mean, therefore it could be interesting to know if somehow things are broken during `initialize_kalite` -- you can run this directly with `kalite manage initialize_kalite`.

[2015-12-06 11:33] benjaoming commented on #4664
No, actually one more thing that's important: If a lock exists and the PID in the lock doesn't, it will silently remove the lock file and continue. This should mean that the only way to have the error you experienced is if there's an active process with a startup lock.

[2015-12-07 15:41] aronasorman commented on #4732
Should be working now.

[2015-12-07 15:41] #4732 closed

[2015-12-07 19:37] MCGallaspy commented on #4664
Let's open a new issue for this.

[2015-12-07 19:37] #4664 closed

[2015-12-07 20:56] benjaoming commented on #4736
Hurray!

[2015-12-07 20:56] #4736 closed

[2015-12-07 22:54] MCGallaspy opened #4738 "KA Lite startup lockfile problems"
@j-schwartz reported an issue with the startup lock existing after the machine has been powered down and restarted. He's using 0.15.0 on a raspberry pi. [Here's what he said](https://github.com/learningequality/ka-lite/issues/4664#issuecomment-162271089):

hi guys - quick note, and I'll document it better when I can recreate on purpose, but I'm not sure the init issue has been fixed yet. After an

[2015-12-07 22:59] MCGallaspy commented on #4738
@benjaoming drawing your attention to this as well

[2015-12-07 23:04] benjaoming commented on #4738
I would re-state the following:

1. The lock file is created before `initialize_kalite` is called and removed after. This command does migrations, collectstatic etc. So having a lock file there means that kalite was killed during initialization.
1. Since there used to be a script that wiped the .kalite dir, initialization would take place every time the RPi of @j-schwartz was booted. This takes a

[2015-12-08 00:00] j-schwartz commented on #4738
Hi guys - just to be totally clear, has this behavior of the lock file changed since 0.13.1?  In 0.13.1 the lock file behavior was a severe problem for us and deployments abroad, most of which (if not all), lost access to KA-Lite within weeks of deployment (despite all other content functioning OK).

[2015-12-08 00:06] EdDixon commented on #4727
From what I can tell all these issues are now resolved (even the progress bars) after a server side fix. On the same Ubuntu 14 LTS installation I did not encounter these issues today. CLosing for now unless they should reappear...

[2015-12-08 00:06] #4727 closed

[2015-12-08 00:07] jamalex commented on #4738
Seems like the natural solution would be to have the system startup script (pp-kalite-clean) delete the `/home/pi/.kalite/kalite_startup.lock` (or any other locks) at boot, rather than deleting the entire `/home/pi/.kalite` directory (which now contains other important things, like the database, etc).

[2015-12-08 00:07] benjaoming commented on #4738
@j-schwartz that sounds severe, and to be honest, it wasn't as well managed back in 0.13.

I was created here: https://github.com/learningequality/ka-lite/blob/0.13.x/kalitectl.py#L341

And then removed in `kaserve` which was a different management command: https://github.com/learningequality/ka-lite/blob/0.13.x/kalite/distributed/management/commands/kaserve.py#L142

But the consequence would stil

[2015-12-08 00:08] benjaoming commented on #4738
:+1: for @jamalex's solution, an init script should be allowed to do that.

[2015-12-08 00:09] benjaoming commented on #4727
Yay :)

[2015-12-08 00:11] benjaoming commented on #4738
No that wasn't a good solution :) I closed the above issue, see comment in there.

[2015-12-08 00:12] EdDixon opened #4739 "0.16 Video status updates not working properly"
The video "tree" does show which items have been downloaded but do not show partial or full content for the higher level folder containing them as they should. A picture describes this much better than I can in the picture below all 10 counting videos have been downloaded:

![2015-12-07_16-44-16](https://cloud.githubusercontent.com/assets/4349806/11644012/8ba8138e-9d05-11e5-940e-7903317e3d73.png)

[2015-12-08 00:16] j-schwartz commented on #4738
I got lost a little in the above, so I just want to include straight from our volunteer fix his comments, to make sure we're on the same page:

It turns out that there is a bug in the kalite init script that prevents the lock directory to be removed even when the machine is cleanly shutdown. The kalite startup and shutdown scripts need to be run as Pi. They do not work properly when run as root. T

[2015-12-08 00:19] j-schwartz commented on #4738
Also, @benjaoming the deployments that died were before we initiated this fix.  They wouldn't boot ka-lite because of the presence of a lock file.  A totally different deployment team used this fix as an alternative to pp-kalite-fix and pp-kalite-clean:

[code]

[2015-12-08 00:43] benjaoming commented on #4738
@j-schwartz the init script that's distributed with the .deb does switch to the configured user:

https://github.com/learningequality/installers/blob/master/debian/debian/init-service#L36

[2015-12-08 00:46] benjaoming commented on #4738
(snip)

This fixes something in the previous version of the init script, the one generated from `kalite manage initdconfig`: https://github.com/learningequality/ka-lite/blob/0.13.x/kalite/distributed/management/commands/initdconfig.py#L34

[2015-12-08 00:46] j-schwartz commented on #4738
Perfect. So it sounds like I am good to go with 0.15 without any sort of additional scripting of the lock file.  Thank you guys!

[2015-12-08 00:48] benjaoming commented on #4738
@j-schwartz I hope so. I mean, in theory then there are still problems if kalite is forcibly killed while initializing and the same PID is still in use when it starts. But the likeliness seems little since you're not deleting the whole .kalite folder anymore during startup.

[2015-12-08 00:49] benjaoming commented on #4738
@j-schwartz Are you guys going to do upgrades from 0.13 to 0.15 in any deployments?

[2015-12-08 00:51] j-schwartz commented on #4738
@benjaoming we got a process down, but 'moving' videos into .kalite/content causes them to be recognized by the videoscan, but still grayed out in the user interface.  I need to try one where I use settings.py to ask kalite 0.15 to grab videos from the old ka-lite/content folder (without actually moving videos) and see if that fixes the issue.

[2015-12-08 00:55] MCGallaspy commented on #4738
Hi @j-schwartz, it would be immensely useful if you created issues for situations like that -- we want to be able to address those problems for everyone, since it's likely you're not the only one to have that problem.

[2015-12-08 00:58] j-schwartz commented on #4738
@MCGallaspy I'll be more liberal about that. It's 100% because I'm never really sure what I'm talking about when things get too technical.  I have it on a note to investigate a little further so I can give better details, and then check and see if it's not dumb user error (permissions or something) first.  I do get lost a little though, so apologies I haven't been more liberal in setting up 'issue

[2015-12-08 01:01] MCGallaspy commented on #4738
Your caution is certainly appreciated.

[2015-12-08 01:54] MCGallaspy commented on #3403
Pinging this: Using our own interpreter (instead of the system's) could offer some advantages for Windows at least. Instead of trying to guess the location of python.exe (or worse, guessing *which* python to use if both Python 2.7 and Python 3.5 are installed) we can control exactly where the interpreter is and what version is used, simplifying some install-time actions.

In contrast to *nix, Wind

[2015-12-08 02:00] MCGallaspy commented on #4653
My understanding is that we plan to release content dbs as a downloadable resource, which we can then bundle with our installers. Closing this issue.

[2015-12-08 02:00] #4653 closed

[2015-12-08 02:02] MCGallaspy commented on #4640
Stale.

[2015-12-08 02:02] #4640 closed

[2015-12-08 02:10] MCGallaspy commented on #3407
It's in. See https://github.com/learningequality/ka-lite/pull/4188. Now we have to flesh out the included inline-help tutorials.

[2015-12-08 02:10] #3407 closed

[2015-12-08 02:16] MCGallaspy opened #4742 "Make gooder inline help narratives."
Inline help is now a feature. But we need someone to create more narratives for this feature to become really useful. See https://github.com/learningequality/ka-lite/blob/develop/data/narratives.yml for examples of existing narratives -- making new ones and editing existing ones requires some dev knowledge. Could be a good intro to the codebase.

Unfortunately, the format for narratives is not wel

[2015-12-08 02:31] MCGallaspy commented on #4742
I'm available to help sort out the documentation situation.

[2015-12-08 02:32] MCGallaspy commented on #3536
Stale.

[2015-12-08 02:32] #3536 closed

[2015-12-08 02:34] MCGallaspy commented on #4308
Strings unfrozen, will now do.

[2015-12-08 02:34] MCGallaspy commented on #4408
I think this was fixed? Will try to find PR.

[2015-12-08 09:30] benjaoming commented on #3403
@MCGallaspy Not sure how the comment relates to this?

Regarding the ping: The status is that there are open PRs for unbundling everything, except fle_utils and django whom shall live in kalite.dist as packages and not data... either that, *or* we manage to revert all our changes to django's codebase and migrate to 1.6 :)

[2015-12-08 09:33] benjaoming commented on #4738
@j-schwartz you've got a pretty decent track record of reporting legitimate issues so please go ahead with the liberal issue creating :D

[2015-12-08 13:54] benjaoming commented on #4716
[code]

[2015-12-08 15:11] EdDixon commented on #4738
@radinamatic @mike IMHO this issue should definitely be added to release testing scenarios. It is one I have not been checking for and is critical to many deployments.

[2015-12-08 15:21] benjaoming commented on #4738
@EdDixon you mean you want to start rebooting to check that the system service still runs after a reboot?

[2015-12-08 15:45] EdDixon commented on #4738
@benjaoming no, that videos get listed properly when added to the content folder manually.

[2015-12-08 18:40] MCGallaspy commented on #3403
I was looking at the "Virtualenv discussion" section, specifically

:+1:

[2015-12-08 20:25] benjaoming commented on #4738
@EdDixon yeah, definitely what's reported is that our automatic tests haven't spotted something critical.

[2015-12-08 21:31] rtibbles commented on #4603
Hi @ruancilliers - sorry for the delay here. We have now fixed this bug in 0.15.1, upgrading to this version should fix these issues.

Please let us know if it persists, or if you have any other problems!

[2015-12-08 22:33] benjaoming commented on #4684
#worksforme

On 0.16.x (using the prepopulated db fix PR #4745 )

Notice the last line:

[code]

This also works with `pwd` and absolute paths. Closing this, please investigate on the local deployment where you can recreate it :)

[2015-12-08 22:33] #4684 closed

[2015-12-09 00:56] edresor opened #4747 "benchmark management command broken"
I cannot get Selenium Student to run on a client computer.  I tried the Selenium Script below after I installed and started the normal (non-developer) version of Kalite 0.15.0 on a MacBook with OS X 10.9.5 (Mavericks).

I tried to run the script as sudo from the from the "/" directory in the Apple terminal.  The computer could not find the command as indicated below.
$ sudo ./kalite/manage.py benc

[2015-12-09 01:17] MCGallaspy commented on #4747
Hi @edresor, two things:

1. Since KA Lite version 0.13.0 we now provide [a `kalite` command](http://ka-lite.readthedocs.org/en/latest/installguide/release_notes.html#id5). To run management commands, the invocation is now `kalite manage <your command and options here>`, e.g. `kalite manage benchmark seleniumstudent`.
2. I hate to be the bearer of bad news, but the benchmark management command has

[2015-12-09 13:26] Aypak commented on #4679
I found that the nginx bind error stops when you comment out the line ```  pre-up sudo python /opt/ka-lite-pi-scripts/redirect_port80_to_port8008.py &``` in /etc/network/interfaces. The script commented out is to listen on port 80 and redirect any requests to port 80 to 8008. I think the bind error occurs because when you start the pi, network interfaces is read before nginx is started.

[2015-12-09 13:39] benjaoming commented on #4679
@Aypak thanks for investigating, I guess the script is part of [this repo](https://github.com/learningequality/ka-lite-config-pi). I don't like it, it's a very silly hack. I think if people want port 80, either they should configure nginx themselves by adding 'listen 80;' to the vhost or we should discuss setting up the .deb to listen to port 80 by default, wouldn't be too bad :)

[2015-12-09 16:05] EdDixon commented on #3536
Thanks Mike as far as I know it never resurfaced after the attention here. :)

[2015-12-09 18:30] ruancilliers commented on #4603
Hi Richard,

Thank you for informing me. I am on leave until 27 December. When I'm back,
I will update the server and let you know.

Enjoy your day! May you have a fantastic festive season :-)
Ruan

On Tuesday, 08 December 2015, Richard Tibbles <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2015-12-09 21:22] #4147 closed

[2015-12-09 21:22] MCGallaspy opened #4748 "Add instructions for upgrading KA Lite"
The documentation has instructions for installation, but not upgrading specifically. It's actually quite simple to upgrade: just run the latest installer. Let's note that in the documentation.

[2015-12-09 21:43] MCGallaspy commented on #4408
Not fixed. Question @richard: What does it mean for content to be "interacted with"? Can I say that a rating should only be available if the user has either a VideoLog or an ExerciseLog for the content item being viewed? Do we create ExerciseLogs alike for Khan exercises and Perseus assessment items?

[2015-12-09 22:56] edresor commented on #4747
Thanks. I hope the fix will not be too much trouble.

I should have mentioned I tried using the manage command.  BTW, its a great command.  I love the option generaterealdata and look forward to using icantbelieveitsnotrealdata.
Thanks again, Ed

[2015-12-09 23:00] aronasorman commented on #4747
Hi @edresor, I'm reiterating @MCGallaspy's note that `benchmark` has been unmaintained now -- probably around 2 years since the last active development on it. We are currently developing a new system that tracks KA Lite's performance, but most of the pieces will be decoupled from the actual KA Lite repo.

[2015-12-09 23:00] #4747 closed

[2015-12-09 23:01] aronasorman commented on #4747
We'll make sure to tag you once we have a new solution up. You do bring up a good point of testing performance on multiple hardware platforms.

[2015-12-09 23:47] rtibbles commented on #4408
Yes and yes.

On Wed, 9 Dec 2015, 13:43 Michael Gallaspy <notifications@github.com> wrote:

[2015-12-10 02:03] MCGallaspy commented on #4408
@rtibbles you suggested moving rating logic from the `ContentAreaView` to the `ContentWrapperView`, in order to take advantage of that latter's log model and avoid making redundant requests. The simplest solution is to make a second request. An alternate solution is to use the fact that `TopicContainerOuterView` contains both views, and so a reference to `ContentWrapperView` can be made from the `

[2015-12-10 04:43] spatiald opened #4751 "Bugfix for "Invalid cross-device link""
We run KA Lite on custom content access points.
OS:  Ubuntu 12.04 32bit

## Branch
KA Lite "Branch":  Using ka-lite-bundle-0.15.1.deb

## Build
KA Lite Build:  0.15.1

## Expected behavior
We ran into an issue running the following command:
[code]
We expect this command to install the downloaded khan_assessment.zip; this file was downloaded from [here](https://learningequality.org/downloads/ka-lit

[2015-12-10 06:29] amodia opened #4752 "No matching distribution found for django-tastypie==0.12.2dev0"
**Branch:** `develop`
**Current behavior:** When running `make dist` command it will spawn this error:
[code]

The build server on OS X installer will fail because of this error.

/cc: @benjaoming

[2015-12-10 10:05] arceduardvincent commented on #4752
Hi @benjaoming and @cpauya I found out some hints in this issue.
We are trying to invoke pip to put static dependencies in ` dist-packages/` however it is failing to get output from pip.

It was successfully installed if I used pip install in my virtualenv.
[code]
When I try to get the output and write it on the `dist-packages/`. I used `make dist`.
I notice that the `DEPENDENCY_LINKS` where prese

[2015-12-10 11:49] benjaoming commented on #4752
Annoying, sorry about that. There's some more background on the choice in #3825 and #4689 -- the issue is that the releases of tastypie aren't working with django 1.5, only the current master is.

I'll work out why it fails.

But you know, `python setup.py install` works fine on a blank virtualenv. And `pip install -e .`. It's the generation of the sidst with static dependencies that's broken.

[2015-12-10 11:49] benjaoming commented on #4752
Accepting the blame for this :)

[2015-12-10 12:11] arceduardvincent commented on #4752
Thanks for the heads up sir.

I will try what you suggested :)

[2015-12-10 20:45] MCGallaspy commented on #4751
Thanks for the detailed report!

[2015-12-10 22:08] edresor commented on #4747
Is there anyway to move this to a wish list and not make it a bug?
I would be happy write a brief draft of the requirement.
I think decoupling from the KA Lite repro is absolutely the right way to go.
It may be possible to write the scripts within Selenium and not even need to use Python.

This kind of testing is very important to many serious users with limited funds.

I work in East Africa with

[2015-12-11 00:57] MCGallaspy commented on #4408
I had started to address this here: https://github.com/MCGallaspy/ka-lite/commit/52de9a5e0faf8a4a5362ad222e2ce53e668d36f9

Commit msg:
[code]

Also the tests would have to be changed to reflect this new behavior.

[2015-12-11 18:49] MCGallaspy opened #4755 "Document the `kalite` command"
It's not well documented -- the usage is only mentioned briefly in the release notes. In particular when describing to a user how to run a management command, the instructions will vary depending on the OS. On Linux (and OSX?) the `kalite` command can be run from the user's terminal, whereas in Windows the `../Python27/Scripts/kalite.bat` script must be run. Issue inspired by a user's email.

[2015-12-12 01:01] #4658 closed

[2015-12-12 01:25] #4307 closed

[2015-12-12 01:25] MCGallaspy commented on #4307
Duplicate of #4668.

[2015-12-14 04:19] amodia commented on #4752
Hi @benjaoming any updates on this?

[2015-12-15 03:53] Odia1 opened #4759 "Does not delete videos from content folder"
I would like to trim the video content size by removing certain sections like, say, GMAT. The admin interface seems to allow selecting and asking to delete. But when I check the content folder size it does not shrink, although the admin interface said the videos were deleted.
Later restart of ka-lite shows all the videos (the original set without any deletes).

DP

[2015-12-15 04:03] MCGallaspy commented on #4759
Hi @Odia1, which version of KA Lite are you using, and what is your operating system?

[2015-12-15 04:12] Odia1 commented on #4759
I am using it on Windows-10 . ka-lite version is 0.15.1

[2015-12-15 19:44] aronasorman opened #4760 "Manage tab is missing videos and languages subtab"
branch: 0.16.x

![screen shot 2015-12-15 at 11 43 19](https://cloud.githubusercontent.com/assets/191955/11821987/2075ac44-a321-11e5-8159-817107158c6f.png)

Can't download videos, can't change language, can't do nothin.

[2015-12-15 20:07] aronasorman commented on #4760
This is blocking my content pack development. Taking this.

[2015-12-15 23:21] MCGallaspy commented on #4039
Now looking at this for 0.16, so I'm trying to make a list of valid commands.

Sanity check commands (work now, should still work):
* `kalite start`
* `kalite start --port=8010`
* `kalite manage unpack_assessment_zip my_cool_file.zip`
* `kalite manage runserver 0.0.0.0:8008 --setttings=kalite.project.settings.dev`

Commands that don't work, but should:
* `kalite start --port 8010`
* `kalite manage

[2015-12-16 00:08] benjaoming commented on #4752
Note, this also affects `pip install -e .`.

[2015-12-16 00:13] benjaoming commented on #4752
Apparently pip ignores the dependency links so the latest master of tastypie is not installed. Fix for editable install:

    pip install --process-dependency-links -e .

Will see how we can fix this, clearly it's not nice to have to enforce such a quirk.

[2015-12-16 15:37] dakkad commented on #4759
@MCGallaspy I am happy to try and see if I can debug this if you can point me in the right direction?

[2015-12-16 19:00] MCGallaspy commented on #4759
Hi @dakkad are you able to replicate @Odia1's error? I would start with that, and I would try to identify which lines of code are responsible for deleting videos -- I can help you with the latter task.

[2015-12-16 19:22] MCGallaspy commented on #4759
Just a guess, but maybe [this LOC](https://github.com/learningequality/ka-lite/blob/0.15.x/python-packages/fle_utils/videos.py#L64) fails, raises an exception, and then the exception is ignored. :(

If you're able to replicate the original error, I would start by either setting a breakpoint there or removing the try-except block (so that the exception isn't squelched) and seeing if that LOC does i

[2015-12-17 01:13] radinamatic opened #4765 "Unexpected error: no such table: item - 500 INTERNAL SERVER ERROR"
Unexpected error: no such table: item - 500 INTERNAL SERVER ERROR

**Branch**: 0.16 installer (build # 81) on Windows 8

**Expected Behavior**:  Homepage for Learner user should load the contentrec stuff

**Current Behavior**:  `Unexpected error: no such table: item` error.

![ie11 - win8 1 pre python 3 5 running - oracle vm virtualbox_103](https://cloud.githubusercontent.com/assets/1457929/118586

[2015-12-17 01:40] benjaoming opened #4766 "Don't use docopt for whatever it doesn't understand"
Change the approach to filter out the parts that we know docopt vanilla won't understand.

We don't want to make an option parser, just a proxy.

Repeated from #4763 :

[2015-12-17 04:23] MCGallaspy commented on #4765
Expected. Need content packs to be available and incorporated into build process. Will leave open until we fix that.

[2015-12-17 20:16] MCGallaspy opened #4769 "Add documentation for some classes"
The following have very terse docstrings:
- UpdateProgressLog
- UpdatesStaticCommand
- UpdatesCommand
- LocaleAwareCommand

[2015-12-17 20:16] benjaoming commented on #4039
Let's make sure that  #4766 also solves this.

Closing as a duplicate.

[2015-12-17 20:16] #4039 closed

[2015-12-17 20:17] benjaoming commented on #4766
@MCGallaspy hope we can just throw all out-standing issues into this one big fix that will fix it all :)

[2015-12-18 00:24] Odia1 commented on #4759
Hi Guys,
I have another question/issue: Can I add a second administrator?
Is there anyway for a user to self-change password (I know the admin can
change it for a non-admin)?

Thanks

On Wed, Dec 16, 2015 at 1:33 PM, Michael Gallaspy <notifications@github.com>
wrote:

[2015-12-18 00:30] MCGallaspy commented on #4759
Yes, run the `kalite.bat manage createsuperuser` command and follow the prompts. You'll find the `kalite.bat` script in your /Python27/Scripts directory, wherever you installed Python.

No.

[2015-12-18 16:02] dakkad commented on #4759
Sorry for the delay, I will see about getting KA-Lite running on a VM over the weekend.

[2015-12-18 16:05] dakkad commented on #4759
Hmm. This could be a bit tricky for me as I am a *nix bod with not a lot of experience on Windo$e recently. Is it worth me trying to replicate it on *nix?

[2015-12-18 19:29] MCGallaspy commented on #4759
Yes.

[2015-12-21 12:15] amodia opened #4774 "Exercise page doesn't load"
**Branch:** `develop`
**Current behavior:** Exercise page doesn't load.
**Expected behavior:** Exercise page must load after the assessment items extracted.

**Steps to reproduce:**
 1. Run KA Lite server.
 2. Navigate to learn tab.
 3. Select any exercise.
 4. Observe that the exercise doesn't load.

I attached a sample screenshot of the exercise page.

![screen shot 2015-12-21 at 8 12 47 pm](htt

[2015-12-23 21:09] j-schwartz commented on #4760
Riddle me this, my 0.15.0, is missing this also.  I had a local downloaded copy of 0.15.0 which was working fine for some time (rather than pulling from KA-Lite, I was pulling a download locally).  This is that same local copy being installed on a raspberry pi yesterday, and it is missing those tabs.

![image](https://cloud.githubusercontent.com/assets/9270388/11985106/4d78a1d2-a976-11e5-8b52-e64f

[2015-12-30 05:28] cpauya commented on #4774
I was able to reproduce this issue too - here's a screenshot taken last 2015-Dec-21 and I've experienced the same today:

Here's the error message on the page:

    Sorry, this request could not be processed. Please try again later.

And this is displayed continuously in the Error Console of Safari, it now has 999+ error messages there:

    ...
    [Error] Failed to load resource: the server resp

[2016-01-05 14:58] aronasorman opened #4777 "No divider between math and science"
branch: develop
OS: Mac
Browser: Firefox 43

![screen shot 2016-01-05 at 08 54 50](https://cloud.githubusercontent.com/assets/191955/12118060/0ecb3d32-b38a-11e5-961c-64738b575150.png)

[2016-01-05 15:05] aronasorman opened #4778 "Outdated release notes"
branch: 0.16.x
OS: Mac

The OS X installer now has a handy 'release notes' page during installation:
![screen shot 2016-01-05 at 08 05 50](https://cloud.githubusercontent.com/assets/191955/12118283/37b4c172-b38b-11e5-85d0-f4bf9c816a28.png)

It indicates that a restart is needed for the videos to be available. This is not the case anymore. Release notes need to be amended. Other user visible change

[2016-01-06 00:04] cpauya commented on #4778
Ah yes @aron, I've noticed there's no need to restart the server after downloading videos anymore during testing.  Will update the documentation for v0.16 release.

I think we should file this on the `installers` repo?

[2016-01-08 12:11] 3kay commented on #4738
I am having a similar problem with a 0.15 installation on a Raspberry Pi. I had earlier downloaded resized videos in bulk and tried to use the folder in a usb stick plugged into raspberry pi with a soft link from ./kalite/content . I see all videos grayed out. When I try video download in management, I see all dots for topics fully green and no check boxes available for downloading any videos thro

[2016-01-08 12:34] benjaoming opened #4780 "Not using S3 for video download"
Just noticing this behavior for video downloads in `kalite.updates.videos`:

[code]

This overwrites the default Amazon S3 download url specified in `fle_utils.videos.download_video`.

This behavior also affects 0.15.

[2016-01-08 12:54] benjaoming commented on #4780
Okay nevermind, `kalite.learningequality.org` redirects to S3 hosting :) But this whole download thing is spread out over several packages, so really hard to understand what's going on. Suggesting a complete rewrite.

[2016-01-08 12:54] #4780 closed

[2016-01-08 17:39] rtibbles commented on #4780
I concur, @benjaoming - but probably best left for Kolbiri.

[2016-01-08 18:20] MCGallaspy commented on #4738
@3kay thanks for the info, I'm opening a new issue. Please check it out and provide additional information if possible.

[2016-01-08 18:20] #4738 closed

[2016-01-08 18:25] MCGallaspy opened #4781 "Videos unavailable using 0.15.x on RPi"
In a [different thread](https://github.com/learningequality/ka-lite/issues/4738#issuecomment-162718386) @3kay said the following:

The same videos are working fine in an ubuntu installation on a laptop.

@3kay when you say it's working fine on Ubuntu, did you similarly create a soft link from `~/.kalite/content` to the resized videos? In both cases (on the RPi and on Ubuntu) what is the full path

[2016-01-08 19:03] benjaoming commented on #4781
@3kay
I would like some feedback regarding what @MCGallaspy said, but otherwise this might be an issue regarding nginx that serves the video files on Raspberry Pi -- the issue could well be that nginx (for security reasons) won't follow your symbolic link to a location outside of the served folder. You can circumvent this in `/etc/nginx/sites-available/ka-lite.conf` by inserting:

    disable_syml

[2016-01-09 09:30] 3kay commented on #4781
It does not look like an issue of symbolic link. First, it is not a clean
install. I was trying to replace ka-lite in an installation of RACHEL. I
may have messed it up.

No - Ubuntu is a ppa install and i do not have any symbolic link to content
folder.

The username is pi in /etc/ka-lite/username

I used the .deb package install on Raspberry Pi.

I noticed that the '/home/pi/.kalite/content' fol

[2016-01-09 13:36] benjaoming commented on #4781
Try running the command `kalite manage videoscan` and your system should be
updated with the videos present in `~/.kalite/content`.

On 9 January 2016 at 10:30, 3kay <notifications@github.com> wrote:

[2016-01-09 13:58] 3kay commented on #4781
I did a kalite stop and start before to make sure that the video is made
available with no success.

Doing what you suggested produces this:

pi@tcfn01 ~ $ kalite manage videoscan
Traceback (most recent call last):
  File "/usr/share/kalite/python-packages/django/core/management/base.py",
line 224, in run_from_argv
    self.execute(*args, **options.__dict__)
  File
"/usr/share/kalite/python-packag

[2016-01-09 15:09] benjaoming commented on #4781
Ah yes, sorry, add option `--commandline`

On 9 January 2016 at 14:58, 3kay <notifications@github.com> wrote:

[2016-01-09 20:08] benjaoming commented on #4166
Haven't checked if you guys have been working on this, but I implemented a VTT convertion in the ka-lite-zim app:

https://github.com/benjaoming/ka-lite-zim/blob/436bdccd66f44aa9e521363b50d7560aa44f645d/kalite_zim/management/commands/export2zim.py#L268

The thing that made it work is [submarine](https://pypi.python.org/pypi/submarine/).

Furthermore, I met issues with having video.js automatically

[2016-01-10 18:29] setuppy commented on #3609
I'm new biggner on kali linux please solve my erorr for setup.py when i enter these command in linux in terminal  in next i see erorr is (no module named mechanize) wtf what is mechanize

[2016-01-11 08:21] 3kay commented on #4781
Checked the symbolic link in Ubuntu install - it is working perfectly.

[2016-01-11 21:56] MCGallaspy commented on #4781
Great to see you resolved the issue @3kay!

@benjaoming in your opinion, is this a bug or user error?

[2016-01-11 22:18] 3kay commented on #4781
I went back to 0.13 on rpi to let the system run for the time being.
Regretfully, all my attempts to install 0.15 on a raspberry pi have so far
ended up in problems - one way or the other. I did a clean install of 0.15
on rpi with the latest raspbian over the last weekend and it would say port
8008 is occupied. Its (0.15) ppa install is perfectly working on Ubuntu.
You can consider this issue clos

[2016-01-12 14:38] benjaoming commented on #4781
@3kay thanks so much for your patience and for testing further on this. Which RPI and Raspian versions are you running btw? Maybe we have some hardware at the office, we can try out, too.

[2016-01-13 12:10] benjaoming opened #4782 "fle_utils.videos.download_video fails for some videos"
The method of using `response.type.startswith` is broken. Example for a working video:

    import urllib
    __, response = urllib.urlretrieve("http://kalite.learningequality.org/download/videos/leDYnoNSvD4.mp4/leDYnoNSvD4.mp4", "/tmp/test1.mp4")
    if not response.type.startswith("video"):
        raise URLNotFound("Video was not found!")
    else:
        print("This works")

This one will out

[2016-01-13 12:14] benjaoming commented on #4782
This has probably been broken for a long time, as it also affects the 0.15 videos.

Once again, the whole video download part should be completely rewritten :) I think the time it takes to rewrite it in a properly functioning way is better than sorting out all the bugs it causes. Maybe rewriting it can serve as a kind of sketching for Kolibri's download manager?

[2016-01-13 12:22] benjaoming commented on #4782
[code]

response.status is unfortunately None
response.type is an empty string

Proposal:

We can use `response.Content-Length` to match the downloaded file. Example:

    len(open("/tmp/test2.mp4", "rb").read())
    127454923
    response["Content-Length"]
    '127454923'

    True

[2016-01-13 12:23] benjaoming commented on #4782
Also, since we already depend on `requests`, we should definitely use this lib instead of urllib, this is also recommended in the official Python docs.

[2016-01-13 16:23] aronasorman commented on #4782
The version bundled in ka-lite doesn't support streaming requests I believe, so that's a prerequisite (0.17?)

[2016-01-13 16:37] jumbojim101 opened #4783 "issues trying to run /bin/windows/kalite.bat manage setup"
1/13/2016
I have a fresh install of Win XP Pro sp3
I do a fresh install of KA-Lite 0.15.1 (I selected to add python to path)
I downloaded the torrent of the new video files
I copied them to the content folder
I opened a cmd
cd to to C:\Program Files\KA Lite\ka-lite folder containing the bin folder
i ran /bin/windows/kalite.bat manage setup
I am unable to get the program to accept my input correctl

[2016-01-13 16:43] benjaoming commented on #4782
Argh, okay, let's get the latest requests in 0.17, will do that while unbundling stuff.

But as for the Content-Length thing, Kiwix people are testing it out by downloading ALL videos so we can be pretty certain if this approach will work or not :)

[2016-01-13 17:18] EdDixon commented on #4783
Not that it is any of my business or that XP is not still supported by us here for 0.15 but, I am curious about the use-case and the need to install this on XP. I hope you do not mind me asking but with the free upgrade from XP to 10 available why do you have this need?

[2016-01-13 17:46] jumbojim101 commented on #4783
I am preparing to support some missionary folks in Uganda. We are looking at the Raspberry-PI and some older laptops and pc's that are in place there. I hope to be there about March 1 and I am trying to prepare for about any option short of new hardware. I am told there are severe import taxes.
My best guess at this point is old pc's/laptops with whatever old Windows os they have with maybe the op

[2016-01-13 18:13] MCGallaspy commented on #4783
Windows XP is supported, but [not Internet Explorer 8](http://ka-lite.readthedocs.org/en/latest/installguide/release_notes.html#windows). Any modern browser on XP (like Firefox or Chrome) should work fine with KA Lite.

@jumbojim101 if you have installed on XP using the Windows installer, it shouldn't be necessary to run the `setup` management command -- the necessary setup actions will be taken d

[2016-01-13 18:24] jumbojim101 commented on #4783
The reason I think I need to run the script is that I am manually copying the videos into the content folder and I think the docs say you have to run manage setup so KA-Lite sees the new videos. Did I get that part right ?

I read the part about explorer 8 , I installed the newest firefox (forgot to mention that earlier)
I will try the script in the Python27\scripts folder.
Thank youJim Hammons

[2016-01-13 18:41] MCGallaspy commented on #4783
I don't think that's the case, but let me double check. Can link to the location in the docs here it might say that?

On Windows, as long as you unpack the videos in the correct location (see the [docs on this topic](http://ka-lite.readthedocs.org/en/latest/usermanual/userman_admin.html#downloading-videos-in-bulk)), you should just need to *restart* the server without running setup. On Windows in

[2016-01-13 19:59] jumbojim101 commented on #4783
Running the c:\python27\scripts\kalite.bat manage setup ran perfect
I am working on an xp and a win10 version.  After moving videos to the "user folder"\.kalite\content folder the windows 10 version works perfectly ... Thanks
There was no .kalite folder in the xp version "user folder" I manually created one and moved \content folder there. restarted but was not able to see videos. I am very close

[2016-01-13 20:23] 3kay commented on #4781
@benjaoming , I have a Raspberry Pi 2 Model B and the last test was with RASPBIAN JESSIE LITE OS. I am using Tenda W311Ma wifi dongle and a similar high power larger wifi device. Both work fine in all systems I have running ka-lite 0.12 and 0.13, I do not have a 0.14.
Surprisingly, ka-lite 0.15 got successfully installed on Jassie Lite, I got it registered also and downloaded a test video too. It

[2016-01-13 21:47] MCGallaspy commented on #4783
Glad to help! Please keep us updated here on how things pan out in Windows XP. It may be that you have discovered a bug frustrating other users, so your report could help to resolve it!

[2016-01-13 21:50] MCGallaspy commented on #3609
Hi @setuppy, I'm not sure what you're referring to -- is it related to the original issue reported here? If not, please open a new issue, and be sure to indicate what version of KA Lite you're using as well as describe steps to replicate the bug.

[2016-01-14 04:37] EdDixon commented on #4783
Thank you for your reply @jumbojim101 in regards to the use case question. Your answer is helpful in determining the need and resources allocated to continue to support XP beyond it's official lifetime.

[2016-01-14 12:18] benjaoming commented on #4781
@aronasorman I think this is the RPI model I have at my office, but would you happen to also have one?

I'm gonna try to get the status of this report confirmed / disconfirmed by installing on a clean system as it seems there might be some upgrade complexity in the original case.

[2016-01-14 12:23] 3kay commented on #4781
I have five of these lying ;)
On 14 Jan 2016 17:19, "benjaoming" <notifications@github.com> wrote:

[2016-01-14 19:11] setuppy commented on #3609
Its only happen when i upgrade my python version and i'm deleted my old stored linux and have installed new fresh linux now i'm fine without upgrade any fuck python becouse of these bro ......... but still i'm not fine facebook hacking is tottaly prank witg kali linux .......... what is next way for hacking fb ....... ????

[2016-01-15 00:07] benjaoming commented on #4782
The reportback is that all videos succeeded downloading using the Content-Length header comparison. So I'd propose switching to that.

[2016-01-15 23:50] edresor commented on #4598
Could we try changing this on ver. 15.1 or upgrading to a dev. version of 0.16?
We would like to set: PRAGMA schema.synchronous = 0 | OFF
(Our servers have built-in battery's which work for 8 hours.)

  We need to test with "50 or more times faster with synchronous OFF" to serve 40 users..

We are having serious problems with many (15+) users doing exercises at the same time with ver. 15.1 We beli

[2016-01-18 18:31] MCGallaspy commented on #4598
Hi @edresor, thanks for the input! I'll see if we can get someone working on this, however due to our limited dev capacity we'd also be happy to support *you* in finding a solution, and then committing it back into the development version!

As far as I can tell, Django doesn't offer any means of executing a PRAGMA statement through database options, but it's possible to execute arbitrary SQL state

[2016-01-19 16:14] jinchuika opened #4785 "Individual progress report not showing completed exercises/videos"
- **Branch**: master (0.15.1)
- **Expected behavior**: when clicking on the blue button below the progress bar for exercises or videos, it should show what exercises are started or completed for that specific topic (see screenshot below).
- **Current behavior**: it shows a loading image and remains the same. The exercises and videos are not shown (see screenshot below).

### Steps to reproduce:
*L

[2016-01-19 19:25] MCGallaspy commented on #4785
@jinchuika thanks for the detailed report!

[2016-01-19 19:25] MCGallaspy commented on #4785
@rtibbles any thoughts on this?

[2016-01-19 20:53] rtibbles commented on #4785
Looks like it may be an error on the PlaylistDetailReport API endpoint, as the data is not fetching.

@jinchuika if you are able to get any information from the Javascript Console, that would also help!

[2016-01-20 15:02] jinchuika commented on #4785
Sorry @rtibbles, but I'm not able to get the info at the moment.

However, I realized that running ```kalite manage setup``` to rebuild the database from the 0.15.1 version will also break the progress report.

[2016-01-25 18:01] MCGallaspy opened #4787 "Upgrading from 0.13.x to dev version causes error on facility management page"
On `develop`

Steps to reproduce (I did this on Windows, but I expect similar results on other OSes):
1. Install KA Lite 0.13.x
2. Create a student account and log some activity -- presumably you'd need to get a streak on an exercise at least.
3. Upgrade to 0.16.0.
4. Log in as an admin and go to the facility management page.

I see the following error, in place of the normal management console:
[

[2016-01-25 22:50] aetiologicCanada opened #4788 "Problem with RaspPi kalite not loading/not opening ports"
I am having two problems with the kalite daemon installed with RaspPI_EN64_3.7. Static pages are fine, but KA pages are having two problems:

1) The rachel homepage uses possibly malformed URLS,e.g.:http://192.168.0.102/:8008/learn/khan/math/trigonometry/
I think the ...102/:8008 is incorrect and that it should be 102:8008. However, correctling this does not solve the problem 2
2) The daemon appea

[2016-01-26 11:03] 3kay commented on #4788
Try removing the files in /home/pi/, kalite and rebooting.

[2016-01-26 11:06] 3kay commented on #4788
Sorry it is .kalite not coma as it appears on my mobile screen.

[2016-01-26 18:32] MCGallaspy commented on #4788
@aetiologicCanada thanks for the detailed report! What version of KA Lite are you using?

Can you also elaborate on this:

What behavior do you expect? Are you looking for a "kalite" process, but you're not finding it? Is the app unavailable when you navigate to one of the suggested addresses (e.g. http://127.0.0.1:8008/)?

[2016-01-27 15:52] JMNB opened #4789 "KAlite installation on RaspberryPI"
I want to install KA Lite on a RaspberryPI and followed the instructions in the Installation Guide for version 0.15, using the recommended user id 'pi' as the admin account. When I copied the previous donwloaded video's to the content-directory, they did not show up in Kalite, as is also stated as a bug (issue  #4781).
In one of the comments of issue 4781 as work-around is given to use version 0.1

[2016-01-27 16:25] benjaoming commented on #4781
@3kay

Regarding this issue, you are doing the following "wrong" (I admit, it's confusing).

On Raspberry Pi, nginx is running on port 8008 and KA Lite runs on port 7007. This is because the builtin HTTP server of KA Lite isn't as efficient for static media as nginx.

If you want to start/stop/restart KA Lite, you should use the system service which is the one that's auto-configured.

For instance

[2016-01-27 16:30] benjaoming commented on #4789
Hi @JMNB thanks for writing.

We would like to help you as much as we can, but we simply don't have resources to fix problems with 0.13 -- would you like to help us get the original issue #4781 solved instead?

I would be happy to help, given best-possible guidance to recreate your issue. Could you provide the steps you did over in #4781 ?

I'm wondering:

1) Are you using the ka-lite-raspberry-pi

[2016-01-27 16:55] 3kay commented on #4781
@benjaoming , Thanks a lot. I will give it a try.

[2016-01-28 11:06] JMNB commented on #4789
Dear Benjaoming,

We are willing to help you! We want to use the RaspberryPI’s with KAlite on a Highschool with 400 students in Addis Ababa in Ethiopia. Especially for Physics, Biology, Chemistry and Math. We like to use this set-up because hardware is low cost, and KALite does not need to have an internet connection.

We have also KAlite 0.15 running on a Windows PC, where we downloaded the video

[2016-01-28 13:59] benjaoming commented on #4788
@aetiologicCanada I think there's something up with the init script from Rachel. Could you paste the contents of `/etc/init.d/kalite` here?

Our original version is called `/etc/init.d/ka-lite` and I think yours has been customized by Rachel so it's a little hard telling what the problem is. For instance, it's complaining about a command "You" not being there, sounds like a typo in the script.

As

[2016-01-28 18:36] edresor commented on #4598
Sorry.  I missed you comment until now.  I am not a programmer, so I am planning to collect data and may adjust the swappiness and niceness for some processes in Ubuntu.

I head out to South Sudan Feb. 8th where I will have have 40 tablets and 40 plus students.  I plan to monitor with Monitorix unless I can get New Relic to enable me to batch and upload monitoring data. With New Relic you guys cou

[2016-01-28 18:42] edresor opened #4790 "Need Guidance on Hardware Requirements"
Do you have any guidance on the hardware requirements for schools that want to use KA-Lite 0.15.1 math exercises with classes with up to 40 of students on 40 WiFi tablets?

Do you have some tests that you have run on various hardware with multiple clients or maybe some feedback from the field on hardware that has been adequate for using the Math Exercises with large groups of students?

Would you

[2016-01-28 18:53] MCGallaspy commented on #4598
You seem capable enough to me! If you change your mind and decide to tackle this, we'll be happy to offer guidance.

[2016-01-28 19:03] MCGallaspy commented on #4790
I don't have a recommendation at this time. @benjaoming @aronasorman ?

An interesting idea -- it's quite easy to configure KA Lite to use an in-memory database, but the drawback is that the database is lost when the machine powers down. But I wonder if we might be able to use an in-memory database which we *occasionally* write to disk? Data would still be lost when power is unexpectedly lost, but

[2016-01-28 19:09] edresor commented on #4790
Thanks for the quick reply.  The reason I am suggesting an in memory database is that all of our servers have internal batteries as they are laptops or the RACHEL-Plus / Intel Servers from World Possible.

Of course, we all want to have our cake and eat it too, so an in memory database that saved a copy to the hard drive every 5 minutes would be great.

[2016-01-28 19:25] aronasorman commented on #4790
Hi @edresor,

We can try out and see if an in-memory db will be performant. To test it out, add the following to your `~/.kalite/settings.py` file:

[code]

**Note that this will not contain any of your students' data, and the data saved when this option is set will not persist when KA Lite is restarted**. But if you can try replicating your use case with a lot of concurrent users, we can see if g

[2016-01-28 19:30] MCGallaspy commented on #4790
Note that an in-memory database will *also* be lost if the KA Lite server process dies, regardless of whether the machine powers down or not.

Additionally, the location of the `.kalite` directory in 0.15.x on Windows depends on whether you're using the "start at boot" option or not -- if you're not using that option, it will be in the home directory of the user running KA Lite. But if you do use

[2016-01-28 19:51] MCGallaspy commented on #4790
Additionally @aronasorman's comment is in error, we're now both working on creating a correct configuration for using an in-memory database.

[2016-01-28 20:03] edresor commented on #4790
Thanks guys.  this is great.  When you are ready, I will try to get some preliminary data here in the U.S. before I leave and then get real data when I have 40 cooperative South Sudanese school girls.  My volunteers here are limited, but they can simulated about 4 students with two different browsers open on two different machines.

Earlier work suggested that I/O was the problem.  I now have ever

[2016-01-28 20:05] edresor commented on #4790
Since I have a lot of RAM, the idea of adjusting Swappiness was to set it down to about 10 in order to prevent swapping from the RAM to the hard drive.  I was also hoping adjusting niceness would also help.
I have the locations identified for all of the files and a special username to see if that helps identify processes in top and iotop.

[2016-01-28 21:02] MCGallaspy commented on #4790
Yeah, unfortunately due to the fact that KA Lite uses multiple concurrent processes, an in-memory database is apparently not accessible to other processes handling requests. I experimented with running KA Lite using a single process, but there are still issues to resolve, and our dev resources are too tied up right now to address this in the near future.

If you're comfortable setting one up and y

[2016-01-28 21:36] edresor commented on #4790
Rather than putting the data base in RAM, let me start me try with the SSD.  I hope the SSD plus ample RAM is going to give me a big improvement.

For possible next steps, do you guys already have a dev version of KA-Lite 015.1 set up with a Python Profiler?  A profiler might give us a better idea of where the problem is if it persists.  In the meantime lets see what I get from Monitorix which can

[2016-01-28 21:45] rtibbles commented on #4790
That sounds like great data to feed back to us - we would love to hear the impact.

We've not had these issues with simultaneous database writes on other similarly specced hardware, so I am also curious exactly where the performance bottleneck is occurring in this particular system.

[2016-01-29 13:58] benjaoming opened #4791 "RaspberryPi guidance for rebooting server"
Using: 0.15.1
Installer: ka-lite-raspberry-pi

After downloading new videos, videos won't show. In fact, everything in the menu disappears.

After some reloads, it shows up. This does not seem to be related to restarting the server.

[2016-01-29 14:30] benjaoming commented on #4791
http://ge.tt/4tSoakW2/v/0

[2016-01-29 14:30] benjaoming commented on #4791
http://ge.tt/7Yp3bkW2/v/0

[2016-01-29 14:31] benjaoming commented on #4791
![screenshot from 2016-01-29 13_39_51](https://cloud.githubusercontent.com/assets/374612/12678092/59897304-c69d-11e5-8864-13b455dc7a06.png)

[2016-01-29 14:35] benjaoming commented on #4791
I'm pretty sure this happens while `create_content_db` is running. However, is this relevant for 0.16 ?

[2016-01-29 15:41] edresor commented on #4790
Up to know the problem seems to be I/O related on our RACHEL-Plus / Intel server which uses eMMc memory and also on the Raspberry Pi.  I have not yet had tests with the SSD drive memory.  I hope to get some volunteers together this weekend.

[2016-01-29 16:25] benjaoming opened #4792 "Instructions for PPA that work on Raspberry Pi"
Current instructions use `add-apt-repository`, however the command is quicky on Debian and fails completely on Raspbian because software-properties-common doesn't come preloaded with any mention of Raspbian:

[code]

Need to change this to universal instruction:

[code]

[2016-01-29 18:45] benjaoming commented on #4790
@edresor

You could install the ka-lite-raspberry-pi version on Ubuntu. It features an nginx server for serving static files which is faster than KA Lite's bundled CherryPy server.

Any reason you are asking about Ubuntu 12.04? The latest LTS is 14.04, and in a few months, 16.04 is coming out :)

[2016-01-30 15:52] batcheze commented on #4781
I went through all the steps above and are unable to display any videos.  The install process works well, but it doesnt register any content.  It seems like there is a disconnect between nginx and Ka-lite
Here is my setup:
Raspberry pi 2
Raspbien (Tried Jessie and Wheezy)
64gb micro sd
Edimax wifi

I am setting this up for my fellow sailors on a Military ship so we can further our education while

[2016-01-30 18:24] dylanjbarth opened #4796 "init_content_items fails if locale dir doesn't exist"
@aronasorman ran into this trying to get the build up and running again.

To reproduce, with a fresh clone of KA Lite, follow steps 1-8 here https://github.com/learningequality/ka-lite/wiki/Getting-started. Step 8 will throw a `IOError: [Errno 2] No such file or directory: '/.../ka-lite/locale/dubbed_video_mappings.json'`.

Not sure what the expectation is (maybe this is legacy stuff?) or maybe th

[2016-01-30 18:24] dylanjbarth commented on #4796
this is the line that throws the error: https://github.com/learningequality/ka-lite/blob/master/kalite/legacy/i18n_settings.py#L70

[2016-01-30 22:45] rtibbles commented on #4796
@aronasorman I thought you had enforced this?

In good news, @dylanjbarth we should be getting rid of the dubbed video mapping file completely before we release 0.16 - so maybe the best way to solve this is to excise all references to it?

[2016-01-31 08:55] dylanjbarth commented on #4796
:+1:

this is a dupe of https://github.com/learningequality/ka-lite/issues/4198. Going to boldly close that one, since this one has a bit more context.

NB this occurs on develop, Windows 8.1 and Mac

[2016-01-31 08:56] dylanjbarth commented on #4796
annnnnnd I can't close issues I don't own :laughing:

[2016-01-31 08:57] dylanjbarth commented on #4777
OS: mac

not an issue on chrome 47
![screen shot 2016-01-31 at 8 39 39 am](https://cloud.githubusercontent.com/assets/1319950/12701120/53808ba0-c7f6-11e5-8ccf-566929d1920f.png)

firefox 28 (haven't used ff in awhile!)
![screen shot 2016-01-31 at 8 47 19 am](https://cloud.githubusercontent.com/assets/1319950/12701145/57f2b9fa-c7f7-11e5-93d0-3eef5e413b0b.png)

firefox 40
![screen shot 2016-01-31 at

[2016-01-31 09:18] dylanjbarth commented on #4774
Logged in as an admin
![screen shot 2016-01-31 at 9 11 59 am](https://cloud.githubusercontent.com/assets/1319950/12701228/bcfc7b9e-c7fa-11e5-8a97-9e666f3ab3d0.png)

Logged in as student
![screen shot 2016-01-31 at 9 15 58 am](https://cloud.githubusercontent.com/assets/1319950/12701242/4759d7be-c7fb-11e5-8485-68ffabb67914.png)

Additionally, no console errors & network requests look fine. Perhaps t

[2016-01-31 14:26] aronasorman commented on #4777
Thanks for checking! Closing.

[2016-01-31 14:26] #4777 closed

[2016-01-31 18:04] rtibbles commented on #4198
Dupe of #4796 - closing this as other issue has more context.

[2016-01-31 18:04] #4198 closed

[2016-01-31 22:29] benjaoming commented on #4781
Hi @batcheze I'm currently investigating this. There seems to be a smaller issue as described in #4791 -- could this be the issue?

Otherwise:

Which port are you accessing the server?
Is it a problem that previously downloaded and/or copied videos don't display? Or are they freshly downloaded through the Manage tab?
Did you install with the ka-lite-raspberry-pi debian package?
Did you add any add

[2016-02-01 01:11] batcheze commented on #4781
@benjaoming

:8080

I downloaded the re-sized torrent due to my install being on a 64g card.  I would transfer them by samba over to the content folder.  They would show in the manage videos tab, but would not play when i viewed them directly

I followed the directions @ http://ka-lite.readthedocs.org/en/latest/installguide/install_all.html#raspberry-pi

sudo apt-get install python-m2crypto python

[2016-02-01 02:23] cpauya commented on #4774
Oh @dylanjbarth is back! :smile_cat:

Yes, that seemed to fixed it, @amodia please verify so we can close this issue.

[2016-02-01 03:32] amodia commented on #4774
@cpauya the same behavior on me. The assessment console error in not showing. I think the warning message fixed this issue.
![screen shot 2016-02-01 at 11 05 58 am](https://cloud.githubusercontent.com/assets/8663934/12707831/cd36ee66-c8d3-11e5-99a3-1845663b5303.png)

[2016-02-01 04:00] cpauya commented on #4774
Thanks!

[2016-02-01 04:00] #4774 closed

[2016-02-01 09:41] dylanjbarth commented on #4774
haha hi again @cpauya

[2016-02-01 15:33] #4752 closed

[2016-02-01 15:33] #3825 closed

[2016-02-01 15:35] benjaoming opened #4797 "Use latest tastypie"
Because of issues in the previous tastypie, we made a patch to use a pre-release directly from Github.

But it seems the latest version is now out: https://github.com/django-tastypie/django-tastypie/issues/1005#issuecomment-177321680

[2016-02-01 18:35] rtibbles commented on #527
This is not going to happen within the scope of KA Lite.

[2016-02-01 18:35] #527 closed

[2016-02-01 18:36] rtibbles commented on #706
Not going to happen within the scope of KA Lite.

[2016-02-01 18:36] #706 closed

[2016-02-01 18:36] rtibbles commented on #903
Not going to happen within the scope of KA Lite.

[2016-02-01 18:36] #903 closed

[2016-02-01 18:36] rtibbles commented on #1054
Not going to happen within the scope of KA Lite.

[2016-02-01 18:36] #1054 closed

[2016-02-01 18:37] rtibbles commented on #1858
This functionality exists for non-locked down users.

[2016-02-01 18:37] #1858 closed

[2016-02-01 18:38] rtibbles commented on #1961
Not going to happen within the scope of KA Lite.

[2016-02-01 18:38] rtibbles commented on #2004
Not going to happen within the scope of KA Lite.

[2016-02-01 18:38] #2004 closed

[2016-02-01 18:38] rtibbles commented on #2140
Not going to happen within the scope of KA Lite.

[2016-02-01 18:38] #2140 closed

[2016-02-01 18:39] rtibbles commented on #2255
Not going to happen within the scope of KA Lite.

[2016-02-01 18:39] #2255 closed

[2016-02-01 18:39] rtibbles commented on #2277
Not going to happen within the scope of KA Lite.

[2016-02-01 18:39] #2277 closed

[2016-02-01 18:44] rtibbles commented on #2445
@jtamiace could you confirm if this is extant and fix?

[2016-02-01 18:44] rtibbles commented on #2598
Not going to happen within the scope of KA Lite.

[2016-02-01 18:44] #2598 closed

[2016-02-01 18:45] rtibbles commented on #2599
Not going to happen within the scope of KA Lite.

[2016-02-01 18:45] #2599 closed

[2016-02-01 18:45] rtibbles commented on #2658
Punting to 0.17.

[2016-02-01 18:49] rtibbles commented on #2869
Fixed in #2889

[2016-02-01 18:49] #2869 closed

[2016-02-01 18:52] rtibbles commented on #2909
This should be less of an issue with content packs now. Punting.

[2016-02-01 18:53] rtibbles commented on #2920
It seems our procrastination knows no bounds.

[2016-02-01 18:54] rtibbles commented on #3065
Not going to happen within the scope of KA Lite.

[2016-02-01 18:54] #3065 closed

[2016-02-01 18:55] rtibbles commented on #3175
Not going to happen within the scope of KA Lite.

[2016-02-01 18:55] #3175 closed

[2016-02-01 18:56] rtibbles commented on #3187
Punting - suggest pagination as a fix.

[2016-02-01 18:58] rtibbles commented on #3310
Should be mitigated by #4784

[2016-02-01 18:59] rtibbles commented on #3325
Fogeddaboutit.

[2016-02-01 18:59] #3325 closed

[2016-02-01 19:39] rtibbles commented on #3360
Now scoped by zone. Fixed in #4272

[2016-02-01 19:39] #3360 closed

[2016-02-01 19:41] rtibbles commented on #3411
Not going to happen within the scope of KA Lite.

[2016-02-01 19:41] #3411 closed

[2016-02-01 19:42] rtibbles commented on #3434
Given that we are moving these strings out of memory now, hopefully this can be addressed in 0.16 still.

[2016-02-01 19:42] rtibbles commented on #3444
Not going to happen within the scope of KA Lite.

[2016-02-01 19:42] #3444 closed

[2016-02-01 19:42] rtibbles commented on #3554
Not going to happen within the scope of KA Lite.

[2016-02-01 19:42] #3554 closed

[2016-02-01 19:45] rtibbles commented on #3563
Some styling fixed in #4630 we're not changing any more than that!

[2016-02-01 19:45] #3563 closed

[2016-02-01 19:46] rtibbles commented on #3638
Punting.

[2016-02-01 19:47] rtibbles commented on #3696
Looks like this was fixed in #4688, @benjaoming please reopen if not true.

[2016-02-01 19:47] #3696 closed

[2016-02-01 19:48] rtibbles commented on #3718
No PR, @benjaoming ?

[2016-02-01 19:49] rtibbles commented on #3782
This issue is no longer extant since #4630

[2016-02-01 19:49] #3782 closed

[2016-02-01 19:50] rtibbles commented on #3921
Not going to happen within the scope of KA Lite.

@radinamatic please open an issue for this on the Kolibri repo.

[2016-02-01 19:50] #3921 closed

[2016-02-01 19:51] rtibbles commented on #3933
I don't think we should resurrect these, and new tests should be written as code is maintained to prevent regression bugs.

[2016-02-01 19:51] #3933 closed

[2016-02-01 19:52] rtibbles commented on #3943
It's gone.

[2016-02-01 19:52] #3943 closed

[2016-02-01 19:53] rtibbles commented on #3984
Not going to happen within the scope of KA Lite.

[2016-02-01 19:53] #3984 closed

[2016-02-01 19:54] rtibbles commented on #3997
We should just hide unavailable content.

[2016-02-01 19:54] rtibbles commented on #3998
Duplicate of #3984

[2016-02-01 19:54] #3998 closed

[2016-02-01 19:55] rtibbles commented on #3999
Not going to happen within the scope of KA Lite.

[2016-02-01 19:55] #3999 closed

[2016-02-01 19:55] rtibbles commented on #4000
Not going to happen within the scope of KA Lite.

[2016-02-01 19:55] #4000 closed

[2016-02-01 19:55] rtibbles commented on #4002
This is internal to Khan Academy's encoding, not much we can do.

[2016-02-01 19:55] #4002 closed

[2016-02-01 19:58] rtibbles commented on #4034
This is fixed in this line:
https://github.com/learningequality/ka-lite/blob/develop/kalite/updates/static/js/updates/bundle_modules/update_languages.js#L293

[2016-02-01 19:58] #4034 closed

[2016-02-01 19:59] rtibbles commented on #4040
Assuming this was fixed in #4095. @benjaoming please reopen if not the case.

[2016-02-01 19:59] #4040 closed

[2016-02-01 20:16] rtibbles commented on #4090
Any progress on this?

[2016-02-01 20:17] rtibbles commented on #4112
Not going to happen within the scope of KA Lite.

[2016-02-01 20:17] #4112 closed

[2016-02-01 20:19] rtibbles commented on #4182
@radinamatic Please make sure this is resolved during testing for 0.16.

[2016-02-01 20:32] rtibbles commented on #4195
Punting.

[2016-02-01 20:34] rtibbles commented on #4266
Fixed in #4264

[2016-02-01 20:36] rtibbles commented on #4270
This is done, right, @aronasorman ?

[2016-02-01 20:36] #4270 closed

[2016-02-01 20:42] rtibbles commented on #4375
Status?

[2016-02-01 20:43] rtibbles commented on #4378
This should be fixed by content pack work. @radinamatic please check this in your testing for 0.16.

[2016-02-01 20:43] rtibbles commented on #4386
Is this still extant, @benjaoming ?

[2016-02-01 20:45] rtibbles commented on #4395
Status, @benjaoming ?

[2016-02-01 20:47] rtibbles commented on #4459
Status, @benjaoming?

[2016-02-01 20:47] rtibbles commented on #4505
This is still WIP, afaik, dubbed video mappings are not currently integrated into the pipeline.

[2016-02-01 20:48] rtibbles commented on #4506
Fixed in #4551

[2016-02-01 20:48] #4506 closed

[2016-02-01 20:50] rtibbles commented on #4596
Please confirm this is fixed with content pack timeline, @aronasorman

[2016-02-01 20:53] rtibbles commented on #4599
Fixed in #4611

[2016-02-01 20:53] #4599 closed

[2016-02-01 20:53] rtibbles commented on #4605
Assumed fix by @66eli77's report.

[2016-02-01 20:53] #4605 closed

[2016-02-01 20:53] rtibbles commented on #4606
Assumed fixed by @66eli77's report.

[2016-02-01 20:53] #4606 closed

[2016-02-01 20:54] rtibbles commented on #4608
Fixed in #4611

[2016-02-01 20:54] #4608 closed

[2016-02-01 20:55] rtibbles commented on #4628
@radinamatic please confirm fix of this during 0.16 testing.

[2016-02-01 20:55] rtibbles commented on #4638
assessmentitems.sqlite no longer exists.

[2016-02-01 20:55] #4638 closed

[2016-02-01 20:56] rtibbles commented on #4641
@radinamatic Please attempt to replicate and report back.

[2016-02-01 20:57] rtibbles commented on #4648
Fixed in #4649

[2016-02-01 20:57] #4648 closed

[2016-02-01 21:06] rtibbles commented on #4674
I imagine this is due to the use of the disk based content cache on the Raspberry Pi.

Deleting the cache files in <USER_DATA_ROOT>/cache will allow the caches to be regenerated.

This is fixed in 0.16 with the 'scan for videos' option in the management page.

[2016-02-01 21:06] #4674 closed

[2016-02-01 21:06] rtibbles commented on #4716
Fixed in #4746

[2016-02-01 21:06] #4716 closed

[2016-02-01 21:08] rtibbles commented on #4748
Fixed in #4754

[2016-02-01 21:08] #4748 closed

[2016-02-01 21:11] rtibbles commented on #4755
Duplicate of #4326

[2016-02-01 21:11] #4755 closed

[2016-02-01 21:12] rtibbles commented on #4759
@radinamatic Please verify that this is fixed in 0.16.

[2016-02-01 21:12] benjaoming commented on #4781
@batcheze

How does this look? Can you post a screen shot?

[2016-02-01 21:13] rtibbles commented on #4760
@aronasorman @j-schwartz Can you do a Javascript console dump (F12, click on 'console' tab) to show what might be happening here?

[2016-02-01 21:13] Odia1 commented on #4759
Will do

Darshan's phone
On Feb 1, 2016 3:12 PM, "Richard Tibbles" <notifications@github.com> wrote:

[2016-02-01 21:13] benjaoming commented on #4781
...and thanks for the feedback btw, much appreciated :)

[2016-02-01 21:14] rtibbles commented on #4781
Have the content cache files been deleted after content import? If not, then no new content will be discovered in the topic tree.

[2016-02-01 21:14] rtibbles commented on #4782
Fixed in #4784

[2016-02-01 21:14] #4782 closed

[2016-02-01 21:16] rtibbles commented on #4791
Content cache files have to be deleted on RPi for 0.15.x, otherwise the annotation will not be recreated. This is not an issue for 0.16.x.

[2016-02-01 21:16] #4791 closed

[2016-02-01 21:17] rtibbles commented on #4792
Fixed in #4794

[2016-02-01 21:17] #4792 closed

[2016-02-01 21:20] benjaoming commented on #4791
@rtibbles how does it work on 0.16? When a video file has been downloaded, does it just update the content db and the menu doesn't suffer from any caching anymore?

[2016-02-01 21:21] benjaoming commented on #4781
@rtibbles could you give a guide to precisely what you mean by "been deleted"? Is there a command for this?

[2016-02-01 21:27] benjaoming commented on #4266
Actually not quite, it's only been unbundled, still in requirements.txt sorry about the confusion... I don't think it should be terribly hard to remove.

[2016-02-01 21:31] rtibbles commented on #4791
Praecis.

[2016-02-01 21:32] rtibbles commented on #4781
No command, has to be done on the command line atm, I think. It normally happens during video download, but obviously that isn't happening in this case.

[2016-02-01 21:34] rtibbles commented on #4266
Should be removable, coachreports uses datetime for date parsing, so if we are a little more careful in formatting dates on the frontend, we can probably get rid of this.

e.g. https://github.com/learningequality/ka-lite/blob/develop/kalite/coachreports/api_views.py#L93

[2016-02-01 21:37] benjaoming commented on #3718
@rtibbles I think it's somehow related to tastypie which I'll get sorted out for 0.17 -- btw a lot of the closed issues like this one was related to PRs that were all merged two seconds after 0.16.x was forked of develop, so they're not actually to be released for 0.16, that was just the original intention.

[2016-02-01 21:38] rtibbles commented on #3718
Sure - no problem, just trying to clear up open issues, so that we can have a clear view of whether we are facing a mountain or a molehill to release 0.16!

[2016-02-01 21:39] benjaoming commented on #3696
It's fixed and youtube_dl is running in the newest version at the time of the PR.

[2016-02-01 21:40] benjaoming commented on #4781
@rtibbles only if the reporter confirms that they are looking at an empty menu -- but it sounds like it's problems with the video player?

[2016-02-01 21:42] rtibbles commented on #4781
In 0.15 the video manage tab uses the VideoFile database models, that are being updated at content load - the topic tree uses the content caches.

This mess is why the content backed db stuff was so important to me for 0.16.

[2016-02-01 21:56] benjaoming commented on #4791
You can borrow this: æ

But I need it back, writing some Danes shortly.

[2016-02-01 22:05] benjaoming commented on #4375
Well, the docs (html output like the stuff on RTD) are bundled in, and part of the sdist. What's remaining now is that they are served in urls.py?

It's a waste to ship the docs without making the accessible to users. And it's not that hard to add, let this be a release blocker, I shall attend to it.

[2016-02-01 22:40] benjaoming commented on #4459
The Makefile is a cool new and modern thing we dig now! :D

[2016-02-01 22:40] #4459 closed

[2016-02-01 22:43] benjaoming commented on #4395
Done!

https://github.com/learningequality/ka-lite/blob/0.16.x/Makefile#L91

[2016-02-01 22:43] #4395 closed

[2016-02-01 22:46] benjaoming commented on #4386
I think that once #3952 is solved and we stop deleting *pyc files, we can try closing this... but I'm not too sure we should consider it a "solved" issue.

[2016-02-01 22:50] benjaoming commented on #3638
This can be fixed by upgrading Django... which we're _just_ about to do :)

[2016-02-01 22:51] benjaoming commented on #2920
indeed!

[2016-02-01 22:52] benjaoming commented on #2920
Why doesn't Github have a "Procrastinate this issue" button right next to "Close and comment" ?

[2016-02-02 00:09] batcheze commented on #4781
@benjaoming   This is what the manage video tab looks like.
![image](https://cloud.githubusercontent.com/assets/1376788/12735605/19165694-c917-11e5-8a69-940ca79bf7c6.png)

This is what the content looks like in the learn tab.
![image](https://cloud.githubusercontent.com/assets/1376788/12735574/e62d4a76-c916-11e5-86e5-fa7625cf3206.png)

[2016-02-02 00:12] batcheze commented on #4781
When i go to the greyed out lessons, this is what shows up on the page...

![image](https://cloud.githubusercontent.com/assets/1376788/12735681/9c634962-c917-11e5-900e-bf359611e565.png)

[2016-02-02 00:35] rtibbles commented on #4308
Fixed in #4750

[2016-02-02 00:35] #4308 closed

[2016-02-02 00:35] rtibbles commented on #4544
Fixed in #4750

[2016-02-02 00:35] #4544 closed

[2016-02-02 01:03] radinamatic commented on #4378
Will do!

TIL to love GH issue filtering features... :heart_eyes:

[2016-02-02 01:43] benjaoming opened #4802 "No content database on first run of dist"
Creating a dist and installing it, renders a KA Lite without a content db:

[code]

@rtibbles I can try fixing this if you give me a hint about what's wrong below:

[code]

[2016-02-02 07:01] AOS002 commented on #4728
I Would like to work on this bug. It would be great if someone could guide me through this.

[2016-02-02 16:44] benjaoming commented on #4802
I see the problem.

The content database is not part of the dist, but it's user data. It's being generated as user data with the Makefile, but we need to copy it into a distributed location.

Furthermore, we need to alter the setup script to detect if there is a bundled in database in the package data (as we do with the pre-migrated default database).

[2016-02-02 18:36] MCGallaspy commented on #4728
Just noticed this one -- perhaps a good beginner exercise to get familiar with the codebase?

[2016-02-02 20:13] benjaoming commented on #4802
I'm struggling to understand the role of the newly introduced and separate Python 3.5 project `content-pack-maker` and how it fits into our dist chain. Does KA Lite now have a new build dependency? And is it requiring Python 3.5? And which components does it affect? My initial speculation was that `make assets` had been prepared to invoke `init_content_items`, however I see this command is very sl

[2016-02-02 20:50] benjaoming commented on #4802
It seems that the `--bulk-create` would be key to cutting down runtime costs of `init_content_items`, however it has this problem:

[code]

[2016-02-02 21:42] benjaoming opened #4805 "Platform independent well-known location for bundled content packs"
Installers for Mac/Win/Debian should be able to place a content pack at a well-known location, and `kalite manage setup` should then discover and install them.

This is an issue to solve in KA Lite so we avoid duplicating the same logic in the installers.

[2016-02-02 21:43] benjaoming commented on #4802
To avoid implementing a new feature in all the installers just before the release, we are going to try and make the source distribution comply with the usual deal: That it contains Khan Academy in English. This only requires the content item db, not a full language pack.

For future installers to ship with a pre-bundled content pack, I recommend that we discuss a universal way of preseeding conten

[2016-02-02 22:28] rtibbles commented on #4802
It seems there has been a severe breakdown of communication here - sorry that we have not communicated these things. My understanding was that we were shifting all content database generation to content-pack-maker, and that the installers would be pulling in the English content DB from there.

As it is, the plan to use init_content_items to generate the content database will not work. The content

[2016-02-02 22:43] benjaoming commented on #4802
I just had a call with @aronasorman and the understanding was that we can continue to use `init_content_items` and ship a source dist with a bundled English content item db so we don't have to change all the installers for 0.16. But if the assessment items zip won't contain adequate data, then we can't do it.

I see signs that changes are missing in the codebase, namely the Makefile, that should r

[2016-02-02 23:00] aronasorman commented on #4802
@benjaoming, sorry, talking at lunch wasn't conducive to the conversation we had :) I sent an email to the dev list containing the changes that had to be made. We can continue the conversation there.

[2016-02-02 23:18] aronasorman commented on #4802
@benjaoming

the content packs, and that init_content_items doesn't create it.
Wouldn't this lead to inadequate assessment item data because combining
an sdist with the current state of the installers would provide: sdist
data (content item db) + assessment item .zip... but NO assessment item db.

The assessment item db is now part of the the single content db. So it should work!

[2016-02-02 23:19] benjaoming commented on #4802
But not the one generated with `init_content_items` command?

[2016-02-02 23:33] rtibbles commented on #4802
No, I rather crossed the Rubicon on this one...

[2016-02-02 23:55] benjaoming commented on #4802
Okay cool, I shall continue #4804 tomorrow and try to make the --bulk-create option work.

[2016-02-03 02:25] cpauya commented on #4805
:+1: on this

[2016-02-03 02:37] MCGallaspy commented on #4805
Are content packs user data (in other words, are they only available on a per-user basis)? Or if there are two KA Lite users on the same machine, should they share content packs?

[2016-02-03 10:14] benjaoming commented on #4805
@MCGallaspy good question! Problem is that the answer is both *yes* and *no* :)

Yes:

 * Content item + assessment item db is updated by means of user actions when videos are downloaded and marked available. Video content folders are user data, so this can't be shared.

No:

 * Subtitles
 * Interface translations
 * Assessment item db (but that's now part of content item db so can't be separated)

[2016-02-04 09:37] shubhsingh594 commented on #4728
hi i am new to this community , and this would be a good opportunity for me to get familiar with the codebase. i would like to work on this ticket.

[2016-02-04 17:36] MCGallaspy commented on #4728
Hi @shubhsingh594, sure thing! Take a look at our [getting started documentation](https://github.com/learningequality/ka-lite/wiki/Getting-started) to set up a development environment. Then I would suggest pulling the latest stable branch (`0.15.x` at this time) and try to replicate the issue. The code for coachreports lives in the [`kalite/coachreports` directory](https://github.com/learningequal

[2016-02-04 17:37] MCGallaspy commented on #4728
@shubhsingh594 feel free to pop into our hipchat room or email the dev mailing list for more guidance as well. Email is probably better if you're outside the US, since our hipchat room is only active during daytime hours in California.

[2016-02-04 19:35] rtibbles commented on #4728
The get_learner_logs function inside api_views.py is the first place to look for this. The content headers are defined by the dicts in the "output_objects" list.

[2016-02-04 19:38] rtibbles opened #4811 "No sort order on content items"
Currently there is no way for determining which order items at the same level and under the same parent in the topic tree should be sorted.

This was not apparent previously, due to the particular idiosyncratic way in which init_content_items sorted through the nodes. Due to this, the order of the ids (which I believe defines the default sort order) happened to coincide with the original sort orde

[2016-02-04 21:21] aronasorman commented on #4811
So if I get this correctly, we'll now have to codify the order we get from KA into some other field that we can use to order in KA Lite?

[2016-02-04 21:24] benjaoming opened #4812 "Move data/khan/images to static library"
As we are facing out this "data files" location from the dist, the 0.16a1 misses 3 image files.

![screenshot from 2016-02-04 22 24 48](https://cloud.githubusercontent.com/assets/374612/12830157/1f6569b2-cb8e-11e5-9cd3-f1a622acfd78.png)

[2016-02-04 21:36] rtibbles commented on #4811
Yeah - this also aligns nicely with what we have in the content curation, so it will map well to that.

Come to think of it, we also need this in the Kolibri content app!

[2016-02-04 23:02] benjaoming opened #4813 "Clean up CONTENT_DATA_PATH and CONTENT_DATA_URL"
Once content packs are implemented, we can stop having `/data/{channel}`

[2016-02-05 00:16] benjaoming opened #4815 "Unpacking assessment zip items doesn't update content item db"
Branch: 0.16.x

Scenario:

1. Empty .kalite dir
1. Run `kalite start`
1. Run `kalite manage unpack_assessment_zip assessments.zip`
1. `kalite restart`

Expected result: That you can use assessment items.

Result: You can't  :) Everything is disabled, seems db isn't updated.

![screenshot from 2016-02-05 01 16 27](https://cloud.githubusercontent.com/assets/374612/12834211/1ddeb77a-cba6-11e5-9630-75

[2016-02-05 16:54] edresor opened #4816 "Spanish content and assessments: What's available? Bulk Download?"
I am a non-Spanish speaker trying to help someone going to Costa Rica with servers, which he wants to switch from English to Spanish.
1.) If he checks Khan Academy https://es.khanacademy.org/  will most of the Spanish Lessons there be downloadable into KA-LIte?
2.) What is the status of assessments in Spanish?
3.) Should he use the regular .deb file for an Ubuntu server?
4.) Is there a place to do

[2016-02-05 17:15] iCHAIT opened #4817 "Not able to Download videos."
I have set up ka-lite on my local machine, when I try to download a video from the Videos Tab it shows size of selected videos as 0.0 MB -

![screen shot 2016-02-05 at 10 41 50 pm](https://cloud.githubusercontent.com/assets/8472314/12853432/1183d6c2-cc5a-11e5-87ec-a9acd201ce9b.png)

Moreover, when I hit the download button, it shows a banner at the top and nothing happens, it does not show any pro

[2016-02-05 17:22] aronasorman commented on #4817
Can you try downloading a video, waiting 5 minutes, then checking to see if it was downloaded?

Possible causes for this:
1. We're downloading, but not simply showing the progress bar.
2. Actual video downloading doesn't trigger.
3. Video is getting downloaded, but we're not updating our content DB to show the newly available video.

[2016-02-05 17:23] iCHAIT commented on #4817
Okay, trying it out.

[2016-02-05 17:32] iCHAIT commented on #4817
Currently I am downloading the video and waiting as suggested.

Just wanted to notify this - https://i.imgur.com/cjEWZvq.png

My shell is making some API calls constantly, if that helps to figure out what's going wrong.

[2016-02-05 17:36] iCHAIT commented on #4817
@aronasorman Waited for around 10 min., the video didn't download :(

[2016-02-05 17:45] aronasorman commented on #4817
@iCHAIT thanks! The traceback is helpful. So out of those three possible bug causes, we basically eliminated the first possibility. Now we have these two:

2. Actual video downloading doesn't trigger.
3. Video is getting downloaded, but we're not updating our content DB to show the newly available video.

Now, open your kalite-specific python shell by running `kalite shell`. That should have all t

[2016-02-05 17:49] iCHAIT commented on #4817
The command refers to the folder `content`, and their is no video in that folder. There is a pdf, a text file, and an assessment folder which contains an empty folder named Khan.

[2016-02-05 17:49] MCGallaspy commented on #4816
The availability of Khan Academy content in KA LIte is tied to our release schedule -- generally we update content once per major release, since updating content is pretty resource intensive. @rtibbles any comments about this?

Not sure, @rtibbles or @aronasorman?

Yes

[Is this what you're looking for?](http://ka-lite.readthedocs.org/en/latest/faq.html#is-there-somewhere-i-can-find-spanish-langua

[2016-02-05 17:50] aronasorman commented on #4817
@iCHAIT thanks! So that means video downloading doesn't start. Thanks for helping us get to the root issue!

[2016-02-05 17:53] iCHAIT commented on #4817
@aronasorman Glad I could help :)

[2016-02-05 18:18] edresor commented on #4816
Yes.  I thought I had seen it, but I could not remember if it was just subtitles.
Thanks

[2016-02-05 20:39] JMNB commented on #4789
Dear Benjaoming,

Today I did another try installing KAlite 0.15 on the RaspberryPi.

After installation and copying a number of videos in the content folder, when starting up KA lite, still no videos showed up.

But in the download tree, those videos I copied were indicated as downloaded . . .

Downloading other videos was still not possible. The same message ‘Launched download  process successfu

[2016-02-06 08:41] JMNB commented on #4789
Dear Benjaoming,

After a while (I don’t know how long), an error message was displayed on the screen, after trying to delete a video file:

Unexpected error, contact FLE with the following information: 504

There was an unexpected error

[object OBJECT]

Perhaps it is valuable information for you.

Julia

Van: Julia Nolles [mailto:julia.nolles@me.com]
Verzonden: 05 February 2016 21:38
Aan: 'learn

[2016-02-06 17:04] iCHAIT commented on #4713
Can I take this?

[2016-02-06 17:13] benjaoming commented on #4713
:+1:  This is on the menu for 0.17, so do a PR for `develop` and it should be easy to merge :)

[2016-02-06 21:41] edresor opened #4820 "XO Laptop Browsers not working. Any suggestions?"
This is a report from a location in Kenya with 50 old XO Laptops with keyboards.
Is there a browser that could be installed on these laptops that would work with KA-Lite?
The existing browsers are working with other content on a RACHEL Server.
Is there an Internet site that could be used to test the browser if the laptop was taken to an Internet Cafe.
I hope to get you more information on the spec

[2016-02-07 15:09] iCHAIT commented on #4713
@benjaoming Can you give me some pointers that would get me started? As I am not very much familiar with the codebase.

[2016-02-07 19:34] benjaoming commented on #4713
Search the codebase to see where it's in use, if any, and factor them out :) I don't have a documented list of its usage unfortunately, that's the kind of dependency management we should do in the future.

[2016-02-08 08:23] shubhsingh594 commented on #4728
hi all,
i have submitted a pull request - https://github.com/learningequality/ka-lite/pull/4821 .
i request you to review the code and suggest changes. Thank you !
@MCGallaspy  @rtibbles

[2016-02-08 14:05] shubhsingh594 commented on #4662
I would like to work on this issue.
I also noticed that this issue has been resolved in the branch - 0.15.x

[2016-02-08 15:09] iCHAIT commented on #4713
@benjaoming  Okay I found the part which contained django_snippets, I want to know where should I copy out the method `SessionIdleTimeout` so that it makes most sense?

[2016-02-08 15:50] benjaoming commented on #4713
@iCHAIT perhaps it's possible not to copy it out anywhere, but to seek out a way to make existing functionality work without it?

[2016-02-08 15:53] benjaoming commented on #4713
@iCHAIT okay it seems like a very simple middleware to copy out.. `kalite/distributed/middleware.py` is a good location!

[2016-02-08 16:38] iCHAIT commented on #4713
@benjaoming  Opened a PR, can you review and suggest changes if any?

[2016-02-08 17:47] iCHAIT commented on #3655
This can be closed I guess?

[2016-02-08 17:49] rtibbles commented on #4812
Fixed in #4814

[2016-02-08 17:49] #4812 closed

[2016-02-08 17:49] rtibbles commented on #4815
Fixed in #4814

[2016-02-08 17:49] #4815 closed

[2016-02-08 18:33] iCHAIT commented on #4817
@aronasorman I just realized that I am experiencing the same issue on the branch 0.15.x as well? What's possibly going wrong on my side?

[2016-02-08 20:47] benjaoming opened #4823 "JavaScript error handling for exercises"
In the below example (FIXED!), we see a strange JavaScript error caused by inconsistent assessment item data.

Whatever the reason, the original issue could do with some better user feedback.

1) Assessment items not showing up:

![screenshot from 2016-02-08 21 14 18](https://cloud.githubusercontent.com/assets/374612/12898352/8e25ea0e-ceac-11e5-8f57-a2c721b4de21.png)

2) Javascript error:

[code]

[2016-02-08 21:50] radinamatic commented on #4817
Unable to exactly replicate this on 0.16:

1. Topic tree is **slow**, it takes a full minute to load.
2. Once I select videos and press the button, it takes 30-40 seconds for the `Launched process...` alert to appear.
3. I takes almost another minute for download progress bar to appear.
4. On some videos there is `pop from empty list` error, but the video is downloaded and present in `/ka-lite/con

[2016-02-08 22:04] MCGallaspy commented on #4662
If it's resolved, then there's nothing to work on! Can you identify the PR that should close this?

[2016-02-08 22:09] MCGallaspy commented on #4662
I did a cursory search for the closing PR, couldn't find it -- we'll re-open this issue if it comes up again.

[2016-02-08 22:11] rtibbles commented on #4811
Fixed in #4818

[2016-02-08 22:11] #4811 closed

[2016-02-08 22:19] MCGallaspy commented on #4820
I am not familiar with the Sugar Operating System. KA Lite (from version 0.13.0 or later) should work on the latest versions of Firefox and Chrome, as well as IE 9 or later. Here's the [doc page](http://ka-lite.readthedocs.org/en/latest/installguide/system_requirements.html#supported-browsers).

I am also not familiar with the other project you link to -- personally I recommend installing the late

[2016-02-08 22:42] shubhsingh594 commented on #4728
okay, while tackling this ticket. i noticed that if there is just one learner. sorting his activities in chronological order makes sense, but if there are multiple learners then all of them may have unique order of activities. At such point it would make more sense to just order the activities in lexicographical order rather than in chronological order.

[2016-02-08 22:55] MCGallaspy commented on #2911
It seems that we had the foresight to mention this in our [release notes for 0.15.0](http://ka-lite.readthedocs.org/en/latest/installguide/release_notes.html#general). I'm not sure what other actions we can take here, so I'm closing the issue.

[2016-02-08 22:55] #2911 closed

[2016-02-08 22:56] MCGallaspy commented on #3403
Almost done!

[2016-02-08 23:01] shubhsingh594 commented on #4662
although the issue seems to be resolved in the branch - 0.15.x ( i wasn't able to reproduce the error and was getting the required blank progress report). The problem still persists in the branch - 0.16.x .

[2016-02-08 23:22] MCGallaspy commented on #4375
It's already the case. However, the link only appears in the user menu when you're logged in.

[2016-02-08 23:24] MCGallaspy commented on #4375
The docs are served as static files: https://github.com/learningequality/ka-lite/blob/0.16.x/kalite/settings/base.py#L406

[2016-02-08 23:25] MCGallaspy commented on #4375
Link is created here: https://github.com/learningequality/ka-lite/blob/0.16.x/kalite/distributed/static/js/distributed/user/hbtemplates/navigation.handlebars#L47

[2016-02-08 23:25] MCGallaspy commented on #4375
Admittedly there's probably a much better way to present it.

[2016-02-08 23:26] MCGallaspy commented on #4348
This is not a "beginner" issue, but it could be a good issue for a GSoC student -- I'm willing to mentor.

[2016-02-08 23:26] MCGallaspy commented on #4348
@rtibbles your thoughts?

[2016-02-08 23:28] MCGallaspy commented on #4505
So this will be resolved by new content packs?

[2016-02-08 23:33] MCGallaspy commented on #4575
Doesn't seem to be a single issue *per se* so much as a a philosophy going forward.

[2016-02-08 23:33] #4575 closed

[2016-02-08 23:34] MCGallaspy commented on #4569
Duplicate of https://github.com/learningequality/ka-lite/issues/4496

[2016-02-08 23:34] #4569 closed

[2016-02-08 23:37] MCGallaspy commented on #4643
I think this was resolved -- let me look through old PRs.

[2016-02-08 23:38] MCGallaspy commented on #4645
We don't use the silverlight plugin as far as I know. However, I'll check that content is displaying correctly before closing this.

[2016-02-08 23:42] MCGallaspy commented on #4751
Looks like an easy enough fix to implement for 0.16.x

[2016-02-08 23:45] benjaoming commented on #4575
Yes, and we might stick with it for test and dev purposes.

[2016-02-08 23:46] MCGallaspy commented on #4760
@aronasorman did you fix this?

[2016-02-08 23:50] MCGallaspy commented on #4713
Fixed in #4822.

[2016-02-08 23:50] #4713 closed

[2016-02-09 00:07] radinamatic commented on #4760
My 0.16 shows both tabs, so it's probably fixed! @MCGallaspy

[2016-02-09 00:11] rtibbles commented on #4505
Yes.

[2016-02-09 00:19] #4760 closed

[2016-02-09 00:39] benjaoming commented on #4375
Maybe we can assign this to someone who will come up with a suggestion of how to refer the user to the bundled docs?

[2016-02-09 00:39] MCGallaspy commented on #4375
I'll do it.

[2016-02-09 00:53] radinamatic commented on #4765
This one also looks like solved on latest 0.16! @MCGallaspy

[2016-02-09 01:07] radinamatic commented on #3889
Opened as "nice to have" option for Kolibri, and not going to happen within the scope of KA Lite.
Can be closed.  @aronasorman  @MCGallaspy

[2016-02-09 01:13] radinamatic commented on #3913
Opened under "User Accessibility Settings" for Kolibri, and I'm not sure if it can be fixed within the scope of KA Lite. @MCGallaspy @aronasorman

[2016-02-09 01:16] #4765 closed

[2016-02-09 01:21] radinamatic commented on #4158
Non extant, closing!

[2016-02-09 01:21] #4158 closed

[2016-02-09 01:46] radinamatic commented on #4759
Deleting seems to be working fine on 0.16, no JS or user alert errors, deleted videos non present in content folder.

I'd say it could be closed, but if we are aiming for pre-release this week, let's wait so I can test it with Windows installer! @MCGallaspy

[2016-02-09 15:09] shubhsingh594 commented on #4662
i have submitted a pull request to the develop branch https://github.com/learningequality/ka-lite/pull/4825
@MCGallaspy  @66eli77 , please review the code and suggest changes. thankyou :)

[2016-02-09 15:40] iCHAIT commented on #3974
@benjaoming Can I try this? If this has not already been fixed?

[2016-02-09 16:15] benjaoming commented on #3974
Absolutely! :)

Just a quick elaboration on this:

It should actually be `settings` from the app (sub-package) and not the django project's settings. I'm not sure if this json file is even relevant anymore, though. A lot of the JSON data is being removed because of the newly introduced content packs (see: #4807 )

Regarding settings patterns, please refer to #4054 for a brief explanation of what i

[2016-02-09 19:00] aronasorman opened #4828 "No exercises in the english content pack"
![screen shot 2016-02-09 at 10 59 44](https://cloud.githubusercontent.com/assets/191955/12927290/4d29bfb0-cf1c-11e5-9344-ad379daaea8e.png)

@rtibbles is this expected behaviour? How can I make them appear again?

[2016-02-09 19:16] iCHAIT commented on #3974
@benjaoming Okay. I have a question -

Where does these content packs lie? I mean we now need to specify the paths for these content packs instead of the earlier used json data, right?

[2016-02-09 19:35] rtibbles commented on #4348
I guess my only concern is if it would be extensive enough to occupy someone for an entire summer?

[2016-02-09 19:49] MCGallaspy commented on #4348
Yes, I think so. Note this is how I envision closing this ticket (from an earlier comment):

So the potential GSoCer would have to design & implement a new sphinx builder, as well as test it out and integrate it with KA Lite. If it turns out to be very fast, then I'm sure we can find some stretch goals.

[2016-02-09 20:11] benjaoming commented on #4348
It's also worth considering what the integration with the application
itself means in terms of solving stuff that inline help solves better. With
docs it's also quality over quantity: Better few, well-maintained docs than
long/advanced docs.

An idea for a problem to solve could be: How do we integrate
users/community better in our docs such that the docs are written *by the
community, for the com

[2016-02-09 20:18] benjaoming commented on #3974
@iCHAIT let's put this for 0.17, then we can decide later if we can backport it. AFAIK all the json data stuff is going to leave the codebase for 0.17.

The contentpacks are provided from an online source, however the English Khan Academy content pack will be a default part of the distribution.

Just skimming through the original search, it seems that very few occurrences are still relevant. So th

[2016-02-09 21:44] benjaoming commented on #4828
@aronasorman inspiration? https://github.com/learningequality/ka-lite/pull/4814/files#diff-3c6d0f7bbed8027d175ec1956e17e8eeR69

[2016-02-10 01:33] MCGallaspy opened #4830 "Remove legacy local_settings and CONFIG_PACKAGE code"
Prior to 0.16.0 we deprecated some code. In 0.16.0 we began raising exceptions (see #4829). However, it remains to remove the old unused code:
- In `kalite/settings/__init__.py`, remove the logic dealing with CONFIG_PACKAGE -- this may have ramifications in other parts of the settings pipeline that need to be dealt with.
- In `kalite/settings/base.py`, remove logic that uses `local_settings` -- im

[2016-02-10 07:44] cpauya commented on #4348
Just want to note here that the link "View on Github" at the Documentation page points to this URL https://github.com/learningequality/ka-lite/blob/0.14.x/sphinx-docs/index.rst which results in a 404.

This is on the latest `develop` branch of KA-Lite.

I agree with @jamalex that the offline versions of KA-Lite shouldn't display this link.

[2016-02-10 09:53] benjaoming commented on #4348
@cpauya the link [on this page](http://ka-lite.readthedocs.org/en/develop/) looks fine, but you're right that the one in the offline version didn't.

[2016-02-10 17:05] benjaoming opened #4833 "Video download: Successful error"
If downloading fails, you get this sort of really weird error.

![screenshot from 2016-02-10 18 02 02](https://cloud.githubusercontent.com/assets/374612/12954818/76eeb04e-d020-11e5-83d3-656a03411003.png)

Furthermore, there's no instructions advising the user what went wrong.

[2016-02-10 18:59] benjaoming opened #4834 ""Login" modal on top of "Create Admin Account" modal"
How to recreate:

1) Have a clean installation w/o user accounts
2) Hit a url that's login protected, for instance: http://localhost:8008/update/videos/

Result:
![screenshot from 2016-02-10 19 56 29](https://cloud.githubusercontent.com/assets/374612/12958191/c7e9e81e-d030-11e5-9473-64a7f1b859ed.png)

Expected result: The "Create Admin Account" is always on top.

[2016-02-10 19:08] benjaoming commented on #4789
Hi @JMNB

Thanks so much for your email and thorough feedback. Sorry that I haven't responded until now.

You've caught me in a bit of a limbo regarding the RPi issues because we have 0.16 on the doorstep. For sure, it seems that 0.15.1 has a blocking video download and directory scanning issue that warrants immediate attention. I'll discuss this with the team, and hopefully I can attend to this M

[2016-02-10 19:28] MCGallaspy commented on #4348
@cpauya that can be changed with this LOC: https://github.com/benjaoming/ka-lite/blob/rm-docs-github-link/docs/kalite-theme/theme.conf#L5

[2016-02-10 19:59] JMNB commented on #4789
Dear Benjamin,

Thank you for your answer.

Today I discovered that the video I wanted to delete, was deleted in the end, as it showed up in the tree on the download video page.

I Indicated that this file must be downloaded. During the dowload (unsuccessful in the end) I just checked if it was possible to watch the videos and to my surprise I was able to start a video. . .

When I did another, wh

[2016-02-10 20:17] benjaoming commented on #4789
Thanks so much, Julia! I will stay in touch, please let me know if you
encounter any other oddities, your explanations are very thorough and easy
to work with :+1:

On 10 February 2016 at 20:59, JMNB <notifications@github.com> wrote:

[2016-02-10 21:26] JMNB commented on #4789
Dear Benjamin,

Now I followed another process after downloading the exercises:

1.       Copy of some video files to the content directory

2.       Command : KAlite manage setup

3.       Shut down and reboot RaspberryPI

4.       Start KAlite browser (127.0.0.1:8008)

5.       Create administrator account pi

6.       Login with account pi

7.       Renamed default facility

8.       Check if t

[2016-02-10 22:02] benjaoming commented on #4789
Hi Julia,

The exercises should be fine as they are bundled with the installation.

Maybe you can have a look in /home/pi/.kalite/server.log to see if there
are any interesting error messages?

Best,
Ben

On 10 February 2016 at 22:26, JMNB <notifications@github.com> wrote:

[2016-02-10 22:19] shubhsingh594 commented on #4785
hi all,
Can i take this ?

[2016-02-10 22:24] rtibbles commented on #4785
@shubhsingh594 Yes - bear in mind, it is possible that this may work fine in English, but be problematic in another language, so test carefully!

[2016-02-11 13:46] JMNB commented on #4789
Dear Benjamin, good morning.

Please find attached the server.log file, as I copied it from the Raspberry.

I don’t know if there any interesting error messages.

Kind regards,

Julia

Van: Benjamin Bach [mailto:notifications@github.com]
Verzonden: 10 February 2016 23:03
Aan: learningequality/ka-lite <ka-lite@noreply.github.com>
CC: JMNB <julia.nolles@me.com>
Onderwerp: Re: [ka-lite] KAlite instal

[2016-02-11 14:43] jinchuika commented on #4785
Some other weird stuff I found:

1. If you create the database using `kalite manage setup` in version 0.15.0 and then upgrade to 0.15.1, it will be displayed, but only in English (like it was before #4650 was solved).
1. The previous point can be solved if you use `kalite restart` once the server has been started in that way, the report will be displayed using the translation.
1. Point No.2 only w

[2016-02-11 14:45] jinchuika commented on #4785
I'm really sorry, but I miss-clicked and closed the issue.

[2016-02-11 16:11] benjaoming commented on #4789
Hi Julia,

This conversation is actually facilitated through a Github issue, meaning
that attachments are removed. But maybe you can place it here:
https://pastee.org/

On 11 February 2016 at 14:46, JMNB <notifications@github.com> wrote:

[2016-02-11 17:25] aronasorman commented on #4828
This turned out to be an issue on the `content-pack-maker` side.

[2016-02-11 17:25] #4828 closed

[2016-02-11 17:43] JMNB commented on #4789
No problem, please find the content of the server-log file below, Julia

[11/Feb/2016:13:37:49] ENGINE Listening for SIGHUP.

INFO:cherrypy.error:

[11/Feb/2016:13:37:49] ENGINE Listening for SIGHUP.

[11/Feb/2016:13:37:49] ENGINE Listening for SIGTERM.

INFO:cherrypy.error:

[11/Feb/2016:13:37:49] ENGINE Listening for SIGTERM.

[11/Feb/2016:13:37:49] ENGINE Listening for SIGUSR1.

INFO:cherrypy.e

[2016-02-11 17:47] benjaoming commented on #4789
Could you verify that it got sent correctly, something is odd about "INFO:cherrypy.error:" and then nothing follows.. normally our error logging contains some kind of useful information :)

[2016-02-11 19:42] JMNB commented on #4789
Benjamin,

But I did something wrong, but I restarted the Raspberry twice and the same content in the server.log file was written.

Do I need to also start the web application?

Or any other command?

JUlia

Van: Benjamin Bach [mailto:notifications@github.com]
Verzonden: 11 February 2016 18:47
Aan: learningequality/ka-lite <ka-lite@noreply.github.com>
CC: JMNB <julia.nolles@me.com>
Onderwerp: Re:

[2016-02-11 20:40] JMNB commented on #4789
Benjamin, I just tried something – perhaps helpful.

I stop the KAlite server (kalite stop) and the message kalite stopped was displayed.

After entering kalite start, the following was displayed on the screen:

Running ‘kalite start ‘ as deamon (system service)

Stand while the server loads its data. . .

Port 8008 is occupied. Please close the process that is using it

And no new messages are wr

[2016-02-11 20:58] j-schwartz opened #4835 "Videos Out of Sync between Learn and Update tabs"
Hi Guys,

Discovering something a bit quirky. 0.15.1 on a linux deb.  This is a Spanish build.

After downloading all available videos through the KA-Lite interface, I still have greyed out videos in the learn tab.

![image](https://cloud.githubusercontent.com/assets/9270388/12990244/37c36024-d0be-11e5-8820-1c2df323a5e8.png)

Said another way, there are videos listed in the learn tab which are not

[2016-02-11 21:21] j-schwartz commented on #4835
Just investigating this a little more, somewhere along the line "Contar en orden" on the http://es.khanacademy.org site becomes "contando en orden" when getting to youtube.  Manually downloading "contando en orden" from youtube and dropping it in the KA-Lite content folder as "UkGIKRPafII" does not work

[2016-02-11 21:31] benjaoming commented on #4789
This is because the way that kalite is started is through "sudo service
ka-lite start" which will automatically `add --port=7007` such that the
actual start command becomes `kalite start --port=7007`. For different
reasons, we've moved kalite to port 7007, and then nginx is running on 8008
and intercepts any request for static media such as videos. It's much fast
using nginx, which is critical on

[2016-02-11 21:36] MCGallaspy commented on #4835
Thanks again for the detailed report!

[2016-02-11 22:32] MCGallaspy commented on #4751
Actually I think this will not be relevant in 0.16.0 anymore, since the unpack_assessment_zip management command will not be used. Is that correct @aronasorman?

[2016-02-11 22:32] #4751 closed

[2016-02-11 22:40] aronasorman commented on #4751
Yup, `unpack_assessment_zip` is gone, to be replaced with `retrievecontentpack`.

[2016-02-11 22:41] j-schwartz commented on #4835
No problem, but just as a for what it's worth, it looks as though the majority of videos in Spanish are running into this issue.

Just checking through "early-math "/ "Contando"   8 out of 11 videos are missing because of this issue.

That's my way of hoping this can be a 0.16 thing vs a 0.17 thing.

[2016-02-11 22:42] MCGallaspy commented on #4835
Okay, I'll see what I can do!

[2016-02-11 22:45] j-schwartz commented on #4835
Thanks, if there is something I can do from here to help, please let me know.

[2016-02-11 22:50] MCGallaspy commented on #4655
I can't replicate this. It may have something to do with cloning, as @waltonrp suggests, but I have no easy way of testing that. Please let me know if any new information comes to light.

[2016-02-11 22:50] #4655 closed

[2016-02-12 15:08] shubhsingh594 commented on #4785
@jinchuika hello,
 Can you open the javascript console, when the progress report is failing to show (after clicking on the blue button) and tell me if you are also seeing an error like this.
SyntaxError: [sprintf] unexpected placeholder.

Because i checked and found out that PlaylistDetailReport API is sending a JSON reponse to the request, but it is not getting rendered.

[2016-02-12 20:55] rtibbles commented on #4787
Fixed in #4836

[2016-02-12 20:55] #4787 closed

[2016-02-12 23:09] MCGallaspy opened #4839 "Javascript error on"

[2016-02-12 23:12] MCGallaspy opened #4840 "Javascript error on "My Progress" page"
Currently on `0.16.x` (see [this comment](https://github.com/learningequality/ka-lite/pull/4832#issuecomment-183450219)):

To reproduce, log in as a student (possibly with 0 points) and navigate to the "My Progress" page from the user's dropdown menu.
Observe the following error in the console:

[code]

[2016-02-13 07:12] shubhsingh594 opened #4841 "Progress report Error"
branch - 0.16.x

When i click on the blue button, to view the details of the progress. An error is thrown (screen shot attached) , the PlaylistDetailReport API also doesnt return a JSON object to the request.

solving this issue is a precursor to solving - https://github.com/learningequality/ka-lite/issues/4785 as in this issue the branch 0.15.x is sending a JSON response to the request but it is

[2016-02-14 06:53] manipalsingh013 commented on #2447
Since this is unsolved yet and there ain't any PR for this.
@anuragkanungo can I take this as my first issue?(If yes, any suggestions where I should start)

[2016-02-14 17:58] manipalsingh013 commented on #4742
hey @MCGallaspy
I would like to work on this. Any thoughts where I should start.

[2016-02-15 03:16] rtibbles commented on #2447
@manipalsingh013 This is for a branch that is not mainline KA Lite, so probably not a good place to start.

[2016-02-15 10:50] benjaoming commented on #4375
Just a quick note: Currently, we show documentation link to learners.. that doesn't make much sense?

![screenshot from 2016-02-15 11 49 30](https://cloud.githubusercontent.com/assets/374612/13046636/330da44e-d3da-11e5-8e49-1eda66cbb463.png)

[2016-02-15 12:43] radinamatic opened #4843 "Student progress page error"
#### Upgrade scenario

From 0.14 to 0.16 on OSX Yosemite.
Build: # 64 .pkg installer

#### Expected Behavior

New learner user should read some basic "welcome-go-enjoy" message when they visit their empty progress page:

[code]

#### Current Behavior

Page is empty, a part from the title, and backstage the console reports errors:

![sprintf_err_0 14-to-016_yosemite](https://cloud.githubusercontent

[2016-02-15 13:07] radinamatic opened #4844 "Contentrec error after upgrade to 0.16"
#### Upgrade scenario

0.14 to 0.16 on OSX Yosemite.
Build: # 64 .pkg installer

Confirmed on 0.14 to 0.16 upgrade on Win7
Build: # 114 .exe installer

#### Current Behavior

After upgrade to 0.16, logging in as learner gives `no such table: item` error on contentrec /welcome page.

Mac:

![no_such_table_item_err_0 14-to-016_yosemite](https://cloud.githubusercontent.com/assets/1457929/13049444/446

[2016-02-15 13:17] radinamatic commented on #4844
Confirmed on both:
- upgrade 0.15 to 0.16 on OSX Yosemite. (# 64 build)
- upgrade 0.15 to 0.16 Win7 (build # 114)

![danish_err_0 15-to-016_yosemite](https://cloud.githubusercontent.com/assets/1457929/13049527/e863665e-d3ed-11e5-85ce-f30afce515ef.png)

[2016-02-15 13:23] radinamatic opened #4845 "Too much recursion"
#### Version

0.15.1 on OSX Yosemite.
Not sure if worth correcting, I'm reporting in case if it can give clues to other upgrade issues and/or it needs to be taken into account.

#### Current Behavior

No error in UI, but it appears in console while downloading videos in French:

![0 15 1_yosemite_too_much_recursion_err](https://cloud.githubusercontent.com/assets/1457929/13049820/c79d06bc-d3ef-11e5

[2016-02-15 13:36] radinamatic opened #4846 "Errors viewing exercises after upgrade"
#### Upgrade scenario

0.15 to 0.16 on OSX Yosemite.
Build: # 64 .pkg installer

#### Current Behavior

I'm not able to open any exercise after upgrade:

![exercise_err_0 15-to-016_yosemite](https://cloud.githubusercontent.com/assets/1457929/13050041/23178944-d3f1-11e5-9445-7f4df0137b6c.png)

I have similar issues on direct install of 0.16 on El Capitan, but will issue them separately.

[2016-02-15 13:44] radinamatic opened #4847 "Errors viewing exercises - 0.16 on OSX 10.11"
#### Version

0.16 (build: # 64) on OSX El Capitán

#### Current Behavior

It seems impossible to view any exercise, but error messages are different:

Logged in as learner
![addition-exercise-err_el_capitan](https://cloud.githubusercontent.com/assets/1457929/13050198/1bc48d30-d3f2-11e5-9fa2-71829aa8041d.png)

![stoch-exercise-err_el_capitan](https://cloud.githubusercontent.com/assets/1457929/1305

[2016-02-15 17:06] radinamatic commented on #4843
Confirmed on fresh 0.16 (build # 64) on OSX El Capitán.

I updated the title as this occurs even with accumulated points.

[2016-02-15 17:58] rtibbles commented on #4847
Two issues going on here:

1) Assessment items not being in the content database.
2) Exercise templates not being properly referenced in the content database.

@aronasorman I think you were in the process of fixing these issues, yes?

[2016-02-15 18:44] rtibbles commented on #3997
Fixed in #4824

[2016-02-15 18:44] #3997 closed

[2016-02-15 18:50] rtibbles opened #4848 "Wrong screenshot for video download in user docs"
Branch: 0.15.x and 0.16.x

Expected Behaviour: Docs page for downloading videos should show video download page.

Current behaviour: Not that.

![image](https://cloud.githubusercontent.com/assets/1680573/13057565/df95db86-d3d1-11e5-8e2b-d3eecdfe8950.png)

[2016-02-15 19:01] manipalsingh013 commented on #4848
Hey @rtibbles can I take this one?

[2016-02-15 19:02] rtibbles commented on #4848
Please do. Should be a very small fix!

Branch from 0.16.x and target your PR there.

[2016-02-15 19:03] manipalsingh013 commented on #4848
@rtibbles alright.

[2016-02-15 20:53] radinamatic commented on #4844
With latest merges on 0.16 branch, this error changed to `no such column: t1.sort_order`:

![content_rec](https://cloud.githubusercontent.com/assets/1457929/13059981/69311160-d42e-11e5-8bf7-25e977a0efaa.png)

[2016-02-15 20:57] radinamatic commented on #4843
With latest merges on 0.16 branch, this error changed to `ReferenceError: show_message is not defined`:

![user_report_welcome___ka_lite](https://cloud.githubusercontent.com/assets/1457929/13060064/0698dd2a-d42f-11e5-91c7-86ff09485170.png)

[2016-02-16 00:45] MCGallaspy commented on #4742
It's a little subjective, and it's also depends on the UI (which changes slightly from version to version). I would start by:

1. Get a development version of KA Lite running from the `develop` branch. (The branch is not stable and is subject to change, so please stop by our slack room or mail the development mailing list if you have issues here.)
2. Try out the existing inline help features.
3. W

[2016-02-16 01:36] MCGallaspy opened #4850 "Get more test coverage in `kalite.control_panel.views`"
See https://github.com/learningequality/ka-lite/pull/4836.

[2016-02-16 12:29] maluta commented on #4461
Update: today I redid the tests and still got the same problem.

We are going to do an pilot in Manaus, located in the northwestern corner of Brazil. A place with a lot of connectivity challenges and we are struggling to get all content localized in this build.

Said that, is there any direction (or workaround) for that issue?

[2016-02-16 12:35] SkaeX opened #4852 "Raspbian Jessie and Nginx"
Hello,
I was trying to install KA-Lite 0.15.1 on raspbian jessie, but after following all the instructions on the documentation page, the service always fails with service.kalite failed. After googling, the closest i got was an issue with nginx. Help me out please.

Thanks

[2016-02-16 13:50] SkaeX commented on #4852
It says precisely Job for ka-lite.service failed. See 'systemctl status ka-lite.service' and 'journalctl -xn' for details. The output of systemctl: ka-lite.service - LSB: ka-lite daemon, a local Khna Academy content server.
Loaded: loaded (/etc/init.d/ka-lite)
Active: failed (Result: exit-code) since Tue *****
Process: 2058 ExecStart:/etc/init.d/ka-lite start (code exited. status: 1/FAILURE)

[2016-02-16 15:17] aronasorman commented on #4461
Hi @maluta, can you describe your setup? OS, browser used, KA Lite version?

[2016-02-16 15:49] maluta commented on #4461
Hi @aronasorman
I'm using Windows7, Firefox and KA Lite 0.15.1

[2016-02-16 17:15] MCGallaspy commented on #4852
Thanks for the report @SkaeX, we'll look in to it! I think we have some known issues with 0.15.1 on raspbian jessie, is that correct @benjaoming?

[2016-02-16 17:16] #4839 closed

[2016-02-16 17:17] MCGallaspy commented on #4843
Thanks for the report @radinamatic! I think this is a duplicate of https://github.com/learningequality/ka-lite/issues/4840.

[2016-02-16 17:17] #4843 closed

[2016-02-16 17:18] MCGallaspy commented on #4844
I assume this has something to do with the fact that content packs are not properly bundled in?

[2016-02-16 17:18] MCGallaspy commented on #4844
Thanks for the report!

[2016-02-16 17:19] MCGallaspy commented on #4846
As with your other error, I think this has something to do with the incomplete nature of 0.16 at this time. Will update you when we have a fix for this. Thanks for the report!

[2016-02-16 17:29] MCGallaspy commented on #4845
Cool, thanks again for the detailed reports!

[2016-02-16 17:39] radinamatic commented on #4844
No prob @MCGallaspy! I suspected the issues I opened yesterday had something to do with content packs, but I prefer to have a record of issue to re-check (instead of trying to remember what the heck was wrong the first time around), and close when it's fixed - it's cathartic! ;)

[2016-02-16 17:45] MCGallaspy commented on #4375
Who should be able to see it then?

[2016-02-16 17:46] MCGallaspy commented on #4375
My first thought is to create another tab (*a la* "Learn" or the User tab) as a top-level nav item. This can be enabled or disabled by user type.

[2016-02-16 17:58] radinamatic commented on #4375
Or maybe link the **Learner User Manual** page instead of the docs' index:
http://ka-lite.readthedocs.org/en/latest/usermanual/userman_learner.html

[2016-02-16 18:31] radinamatic commented on #4461
The issue that was present on 0.14 (I'm reminded now while testing Mac upgrade scenarios) is that PT-BR topic titles content was not showing in the sidebar, but those exercises that were localized, show correctly once opened.

@maluta, could you check that if you open this exercise:

![units2](https://cloud.githubusercontent.com/assets/1457929/13086388/4c2134d2-d4e3-11e5-877d-2b25ddb429dd.png)

..

[2016-02-16 19:14] rtibbles commented on #4781
This is due to the use of disk based content caches on the Raspberry Pi - these caches need to be deleted when content is manually copied in.

To do this:

To delete the files named topics from this filepath:
in django_settings.USER_DATA_ROOT in the 'cache' folder.

 and the sqlite db from this one: from the 'channel_cache_data' also in the django_settings.USER_DATA_ROOT.

[2016-02-16 19:14] rtibbles commented on #4835
This is due to the use of disk based content caches on the Raspberry Pi - these caches need to be deleted when content is manually copied in.

To do this:

To delete the files named topics from this filepath:
in django_settings.USER_DATA_ROOT in the 'cache' folder.

 and the sqlite db from this one: from the 'channel_cache_data' also in the django_settings.USER_DATA_ROOT.

[2016-02-16 19:17] 66eli77 commented on #4834
is this master or 0.16?

[2016-02-16 19:44] 66eli77 commented on #4834
yes, I can reduplicate the issue on 0.16.x

[2016-02-16 20:30] maluta commented on #4461
Hi @radinamatic - thanks for reply

I thought that only the titles content wasn't in pt-br

![capturar49](https://cloud.githubusercontent.com/assets/23658/13090000/7c935b3a-d4da-11e5-8194-4d94bbf5c270.PNG)

But the exercises are still in english...

![capturar50](https://cloud.githubusercontent.com/assets/23658/13090054/c8b18de8-d4da-11e5-818e-7e181bc84247.PNG)

I got all the videos for "Unit conv

[2016-02-16 20:53] j-schwartz commented on #4835
Thanks, @rtibbles.  Can you help me in locating the files you mention.  I don't have a 'cache' folder in my .kalite install and am not sure I'm tracking your right on the location for these files.

Within my install at /root/.kalite I have the following:
![image](https://cloud.githubusercontent.com/assets/9270388/13090676/0e6ec91a-d4ac-11e5-988b-a341cfc669db.png)

At /usr/share/kalite/python-packa

[2016-02-16 20:59] rtibbles commented on #4835
Odd - the only other place I can think of it being would be in `user/share/kalite`, is there a `cache` or `channel_cache_data` folder in there?

[2016-02-16 21:04] j-schwartz commented on #4835
Nothing there that I can see:

![image](https://cloud.githubusercontent.com/assets/9270388/13090940/9b3f22ee-d4ad-11e5-97b3-7783fa6d7fb8.png)

The channel_cache_data folder is definitely there in my first picture at /root/.kalite/ but there aren't any files inside it.

Just to confirm, the file supposed is to be named starting with django_settings?

[2016-02-16 21:37] rtibbles commented on #4835
No, the files would be called topics_khan_en.json (or topics_khan_<lang_code>.json) and contents.sqlite.

[2016-02-16 21:44] j-schwartz commented on #4835
I have a topics.json and a contents.json in /usr/share/kalite/data/khan/.

The only .sqlite files I have are
assessmentitems.sqlite and data.sqlite

[image: pasted1]

Any of that seem helpful?

On Tue, Feb 16, 2016 at 1:37 PM Richard Tibbles <notifications@github.com>
wrote:

[2016-02-16 21:48] rtibbles commented on #4835
No, these files are generated from the json files to improve startup time on the Raspberry Pi.

This might take a while to search the whole file system, but could you try doing:
`find / -name 'topics_khan_es.json'`?

Assuming this is still on the Spanish content system above.

[2016-02-16 22:01] #4496 closed

[2016-02-16 22:38] j-schwartz commented on #4835
No luck with this.  It doesn't take long as ka-lite is the only installed
software beyond raspbian Jessie at this point.

On Tue, Feb 16, 2016 at 1:48 PM Richard Tibbles <notifications@github.com>
wrote:

[2016-02-16 22:43] rtibbles commented on #4835
Hrm... could you try the following?

`kalite manage shell` - this will open up a Python shell, in it enter the following commands:

[code]
This should print the filepath where the sqlite file should be found.

[code]
This should show where the 'cache' folder should be found.

[2016-02-16 22:58] j-schwartz commented on #4835
Totally perplexed, as the answers point to exactly where you originally mentioned, but I still don't see anything using
[code]
![image](https://cloud.githubusercontent.com/assets/9270388/13094104/91fbac9c-d4bd-11e5-9589-cde5048ee4f6.png)

searching directories
![image](https://cloud.githubusercontent.com/assets/9270388/13094113/9e86b04c-d4bd-11e5-8745-e6312f9a77db.png)

[2016-02-16 23:01] 66eli77 commented on #4392
did we load all the data needed at once in previous kalite?

[2016-02-16 23:02] rtibbles commented on #4835
My only other suggestion would be to do: `rm -R cache`, `rm -R channel_cache_data` to just remove the directories and see if that made any difference.

[2016-02-16 23:06] rtibbles commented on #4392
@66eli77 previously we loaded *ALL THE DATA* at once, even stuff we *didn't* need.

What we should do here is load only the data we do need, the motivation for loading one level at a time is to make sure we show the user relevant data fast - but the way to do this is not to load the topmost sidebar level first, but the innermost one, and then fill in the others.

[2016-02-16 23:06] rtibbles commented on #4392
Also, note: this is slated for 0.17, so no need to do now timecrunch wise.

[2016-02-16 23:08] 66eli77 commented on #4392
kk

[2016-02-16 23:17] j-schwartz commented on #4835
It didn't appear to do anything, but I'm wondering if maybe it has to do with the en topic tree loading also?  Is there a way to just have spanish start at boot?

![image](https://cloud.githubusercontent.com/assets/9270388/13094581/6fecfe82-d4c0-11e5-9b26-9047583a4332.png)

[2016-02-17 00:51] rtibbles commented on #4835
Yeah, the first load with no topic tree files will be incredibly slow.

I am not sure we currently have a way to prevent the English annotation
happening, unfortunately.

On Tue, 16 Feb 2016 at 15:17 Jeremy Schwartz <notifications@github.com>
wrote:

[2016-02-17 01:22] MCGallaspy commented on #4563
I can't replicate this. The sidebar closes fine for me. However, I encountered another (possibly related) issue, where the "Next Steps" card links to a *topic* instead of a content item, so that the sidebar simply is open to that point and no content is loaded.

[2016-02-17 01:39] rtibbles commented on #4563
Part of the next steps card links to a topic, part to the content, so that is intended behaviour, @MCGallaspy.

[2016-02-17 02:51] batcheze commented on #4781
@rtibbles having trouble finding the locations to delete the files.. Can you expand on where to go?

[2016-02-17 02:55] j-schwartz commented on #4781
I wasn't able to get this solved, but there is much more information on these two files here: #4835

[2016-02-17 02:55] j-schwartz commented on #4835
Same issues after deleting cache and channel_cache_data folders for me.

[2016-02-17 05:12] radinamatic commented on #4461
I was unable to replicate this on the same configuration (0.15.1, Windows 7, FF). The issue of topic titles in the sidebar still being in English persists, but the exercises do open in Portuguese.
We should make sure this is fixed in 0.16 ( @aronasorman ).

@maluta

1. Did you install [assessment items](http://ka-lite.readthedocs.org/en/0.14.x/faq.html#i-skipped-the-step-for-downloading-the-assess

[2016-02-17 05:40] harishbalachandran opened #4857 "Check box is not working, because of which we are unable to go to the next question on version 0.15"
Detailed description:
The Check box to select the right option is not working on the exercise: Math --> Basic Geometry --> Shapes --> Classifying Shapes --> Recognizing triangle types
Because of which we are unable to proceed to the next question.

Expected behavior:
The Check box should work and upon selecting the correct answer, the next question should be displayed.

Actual behavior:
1. On **ht

[2016-02-17 09:27] shubhsingh594 commented on #4841
i noticed that this issue has been solved. closing this.

[2016-02-17 10:47] benjaoming commented on #4852
Correct and confirmed.

learningequality/installers#271

[2016-02-17 10:47] #4852 closed

[2016-02-17 10:48] benjaoming commented on #4852
@SkaeX thanks for the report btw, we're aware of this problem. We tried creating a system service that was as backwards compatible as possible, but this compatibility is now being dropped by new versions of Debian, so we should get rid of it, too. The issue is tracked in our other repo, pertaining our debian packaging.

[2016-02-17 11:01] SkaeX opened #4860 "KA-Lite Wifi isn't letting connections."
I have set up KA-Lite 0.15 on Rasbian Wheezy. I tried setting up the Raspberry Pi wifi as the ka-lite docs instructed (with wipi and edimax), but the kalite network just comes up not allowing any connection (i.e. tablets keeps attempting to connect without success). I don't know if i am the only one who ran into this.

[2016-02-17 11:15] benjaoming commented on #4375
@MCGallaspy docs contain contents for quite different audiences, it's important to provide the right deeplinks.

IMO our User Manual is suitable for Managers and Teachers, not Learners, it's way too technical. If we want documentation for learners, it's a symptom of our whole UI being to complicated.. defeats the purpose.

If you can add a Help tab and only show it to logged-in users who aren't le

[2016-02-17 12:06] radinamatic commented on #4375
True up to the point @benjaoming.

Our docs as a whole are pretty technical, but the [Learner User Manual](http://ka-lite.readthedocs.org/en/latest/usermanual/userman_learner.html) page is down-to-the-ground enough _(how to sign up, how to login)_. Granted maybe not for the kids learning how to count, but there is a lot of more advanced content in there (AP placement, college prep) that presume ce

[2016-02-17 18:11] shubhsingh594 commented on #4840
can i take this ?

[2016-02-17 18:18] rtibbles commented on #4840
Yes, @shubhsingh594 - first check that the JS module that defines 'show_message' is being imported, and if it is, make sure that show_message is being referenced as a method of it. My guess is that it probably just needs to be properly namespaced.

[2016-02-17 18:23] manipalsingh013 opened #4862 "ConnectionDoesNotExist error when taking new screenshots for docs"
While grabbing new screenshots in version **0.16.0** on **ubuntu 14.04** **ConnectionDoesNotExis**t error appeared.

Steps to reproduce:
**cd docs
SPHINX_SS_USE_PVD=true make SPHINXOPTS="-D screenshots_create=1" html**

Output:

sphinx-build -b html -d _build/doctrees  -D screenshots_create=1 . _build/html
Running Sphinx v1.3.5
loading pickled environment... done
building [mo]: targets for 0 po fi

[2016-02-17 18:37] MCGallaspy commented on #4857
The demo link works fine for me on Chrome Version 48. Which browser are you using?

[2016-02-17 18:40] MCGallaspy commented on #4857
No, I spoke too soon. If you are referring specifically to the scalene-isoceles question, then I can confirm that it doesn't work. Thanks for the detailed report!

[2016-02-17 18:59] MCGallaspy commented on #4860
Hi @SkaeX, thanks for the report! I'm tagging this so we can attempt to replicate it while testing 0.16 on the Raspberry Pi.

[2016-02-17 20:28] aronasorman commented on #4461
Debugging this now.

I first investigated if the language pack just wasn't bundling the topic tree translations. Nope, the strings are there and translated.

So the bug must be in KA Lite's side.

[2016-02-17 20:30] aronasorman commented on #4461
Possible causes:
1. Translations aren't being applied to the topic tree strings.
2. We are not reading the mo files correctly.
3. There's something with the `pt-BR` code which is messing up Django.

[2016-02-17 21:33] maluta commented on #4461
I noted that some topics content are translated and others not.

![capturar55](https://cloud.githubusercontent.com/assets/23658/13125497/fb4838ec-d5ac-11e5-9f79-44ae409ba0fb.PNG)

![capturar56](https://cloud.githubusercontent.com/assets/23658/13125520/246654a2-d5ad-11e5-9c22-421282b7c178.PNG)

[2016-02-18 03:42] aronasorman opened #4863 "Make retrievecontentpack faster"
Benchmark results here: https://github.com/learningequality/ka-lite/pull/4827#issuecomment-185498355

[2016-02-18 04:22] MCGallaspy commented on #4863
Tentatively calling this a release blocker.

[2016-02-18 04:23] MCGallaspy commented on #4863
Would it be faster to extract all and then *rename* files and directories?

[2016-02-18 13:35] benjaoming opened #4864 "English content db in sdist"
After #4827 the build pipeline doesn't correctly setup a content database:

[code]

Solution: Add a step to `make assets` that retrieves the content db in English for Khan as per @aronasorman 's instructions made available here:

http://pantry.learningequality.org/downloads/ka-lite/0.16/content/contentpacks/en-minimal.zip

[2016-02-18 18:35] aronasorman commented on #4461
Thanks @maluta for that. Seems like that untranslated exercise did have a translated entry in the po file:

![screen shot 2016-02-18 at 10 34 52](https://cloud.githubusercontent.com/assets/191955/13153922/4616608c-d62b-11e5-9539-7f02c01d5c19.png)

Strange how KA Lite is selective in translating exercises. Looking further.

[2016-02-18 18:53] aronasorman commented on #4461
Note to myself: bug may lie in the pretranslation phase, during cache invalidation.

[2016-02-18 18:58] benjaoming commented on #4860
The resources here:

https://github.com/learningequality/ka-lite-hotspot

and here:

https://github.com/learningequality/ka-lite-config-pi

...Are only very sparsely tested! :)

We can try to help you with suggestions, but we need some more feedback. Could you provide some kind of error description? Like does the network SSID show up on your clients? Is it the WIFI authentication? Is it the KA Lit

[2016-02-18 19:24] aronasorman commented on #4863
My baseline for `extract_assessment_items`:

[code]

[2016-02-18 19:52] aronasorman commented on #4863
I went with what you suggested @MCGallaspy. New profile:

[code]

26 seconds vs. 2 seconds. :+1:

[2016-02-18 19:53] aronasorman commented on #4863
NVM. Last option had a bug. New profile:

[code]

[2016-02-18 19:55] sethachoi opened #4867 "Coach Reports - tabular view seems to specifically pull up "absolute values" course"
Branch: 0.16.x
Dev mode, Mac OSX 10.10

Steps to Reproduce:
1. Log in as coach/admin
2. Go to "teach" tab
3. Switch groups/facilities/date, whatever needed to retrieve some actual data
4. Open up tabular view

Expected Results:
Tabular view data of all the courses that have been selected OR that have any data within the time frame in the case of default overview course selection

Actual Results:
F

[2016-02-18 19:56] rtibbles commented on #4867
Have you also tried just running `kalite manage generaterealdata` and then looking at that data in the tabular report too?

[2016-02-18 19:57] sethachoi commented on #4867
That was the base of my data, I added specific logs on top of that to test the radial visualization stuff (hours logged vs content hours)

[2016-02-18 19:58] rtibbles commented on #4867
Gotcha. If there's plenty of other data in there, then yes, it's a weird catch. May be to do with the way we are handling the topic selector?

[2016-02-18 20:47] sethachoi commented on #4867
Upon further testing it was specific to my case, I think it had something to do with some manually created content/exercise log entries? Either way it looks like it works just fine in the typical use case, but for testing the issue might still exist

[2016-02-18 20:47] #4867 closed

[2016-02-18 20:53] sethachoi opened #4869 "Coach Reports - tabular view pulls up full range of data regardless of topic selection"
Branch/Build: 0.16.x, OSX 10.10

Steps to Reproduce:
1. Sign in as admin/coach
2. Go to Teach tab
3. Do what is needed to fetch some real data (different facility, group, dates, etc)
4. Check the tabular view
5. Now do some topic selection
6. Check tabular view again

Expected Results:
Tabular view should have different data depending on usage of topic selection or "default overview"

Actual Resul

[2016-02-18 21:05] SkaeX commented on #4860
Thank you for the reply. The SSID shows up but not allowing clients to connect. I narrowed the problem to the /etc/network/interfaces where it say wpa-conf .... Commenting these lines allows clients to connect

[2016-02-18 21:08] benjaoming commented on #4860
In that case you've created an open WIFI I guess. If it suits your needs, then go for it, it's much easier to manage!

[2016-02-18 21:08] SkaeX commented on #4860
In addition, I have a problem with the port. 80 sends me to nginx welcome page. I'll have to specify 7007. This however stops the pop up window in iOS and Mac OSs clients. So I sometimes edit the python redirect script to 7007

[2016-02-18 21:18] SkaeX commented on #4860
Sorry but is the open network good? The wpa-conf spit out errors for ifup and ifdown

[2016-02-18 21:19] benjaoming commented on #4860
You are free to change the port to port 80. It's not the default, but you can customize your settings in `/etc/nginx/sites-enabled`

1. remove the `default` file
1. Change the ka-lite file to listen to port 80
1. (set `PRODUCTION_PORT=80` as the last line in `/home/pi/.kalite/settings.py`)

[2016-02-18 21:20] benjaoming commented on #4860
@SkaeX I can't support you on wpa-conf, sorry.

[2016-02-18 21:21] manipalsingh013 commented on #4500
opened PR #4871 for the issue

[2016-02-18 21:24] SkaeX commented on #4860
Thank you @benjaoming. I really like the learning equality and looking forward to being part of it.

[2016-02-18 21:36] benjaoming commented on #4860
You are most welcome :)

I forgot a step regarding the nginx port reconfiguration:

4: `service nginx restart` and `service ka-lite restart`

[2016-02-19 00:07] MCGallaspy commented on #4869
Thanks for the report @sethachoi!

[2016-02-19 00:08] MCGallaspy commented on #4867
Oh, it's been closed. Carry on.

[2016-02-19 06:37] yash14123 commented on #4833
I am on it. :)

[2016-02-19 06:40] yash14123 commented on #4830
I would like to work on this.

[2016-02-19 12:14] benjaoming commented on #4833
Cool! I can't assign you, though, something's messed up with the Github "Assignee" function atm. But consider yourself assigned, anyways :)

[2016-02-19 12:30] radinamatic opened #4874 "Testing issue format"
Disregard this, I'll close it as soon as I check something

## Summary

*Briefly describe what this is about*

### Branch or installer method

*Please specify if you are using the current `develop` branch or which installation source you were using when the issue occurred.*

 - Installer: Windows/OSX/Debian (?)
 - Version: 0.15.1 (?)

or:

 - Branch: develop (?)

#### Traceback or relevant snippet

[2016-02-19 12:35] #4874 closed

[2016-02-19 14:46] manipalsingh013 opened #4875 "Questions in learn exercise never end"
When using exercise from learn, questions never end as they start repeating from the beginning and keep repeating.

Branch : **0.16.x**
OS: **Ubuntu 14.04**

Steps to reproduce:
1. Login as a Learner
2. Choose any exercise from learn
3. Keep answering question

Expected Behavior: Once all the question in exercise are answered by learner, he/she should get a notification regarding exercise complete

[2016-02-19 18:36] MCGallaspy commented on #4830
Hi @yash14123, you're more than welcome! Please target your changes to the `develop` branch.

[2016-02-19 19:06] amtrivedi91 opened #4876 "GSoC 2016?"
Hello Everyone,

I wanted to know whether FLE applied as a mentoring organization for GSoC 2016 ? If yes, where can I find the idea list?

Pardon me, I could not find a better place to ask this question.

[2016-02-19 19:13] rtibbles commented on #4876
Yes.

[2016-02-19 19:13] #4876 closed

[2016-02-19 19:15] amtrivedi91 commented on #4876
@rtibbles Thanks, but I couldn't find the idea list, when will the list be out?

[2016-02-19 19:16] MCGallaspy commented on #4876
FYI, please email our `info (at) learningequality (dot) org` mailing list for GSoC inquiries.

[2016-02-19 21:49] #4840 closed

[2016-02-19 23:12] MCGallaspy commented on #4645
Works on 0.16.x using Firefox 44.

[2016-02-19 23:12] #4645 closed

[2016-02-19 23:17] MCGallaspy commented on #4563
*All* of my next steps cards lead to topics.

![image](https://cloud.githubusercontent.com/assets/8888020/13191849/971fb10e-d71b-11e5-869d-c02e01779a13.png)

Contrary to my expectations, clicking the "topic" icon leads to the same topic for all of them: `/learn/khan/math/early-math/`

Clicking the name of the item leads directly to that item. If this is expected behavior, please close the issues @

[2016-02-19 23:21] MCGallaspy commented on #4643
On `0.16.x` I don't gain *any* points, sadly. Now looking in to this.

[2016-02-21 04:57] radinamatic opened #4878 "AssertionError at /api/videolog/ for Admin users"
## Summary

After fetching the latest upstream today, at first login as Admin user I could load and play videos ok, but as soon as they finished, the following error kept appearing:

[code]

However, the error did not appear once I logged out and re-logged in as Learner, nor it appeared when I logged in again as Admin. I re-tested this sequence (admin-error, learner-no-error, admin no-error) with

[2016-02-21 17:47] shubhsingh594 commented on #4878
can i take this ?

[2016-02-21 18:58] manipalsingh013 commented on #4875
I noticed that Progress bar is full i.e Quiz is complete but all questions are not covered till then, repetition starts few questions later(in some exercises)

[2016-02-21 19:02] manipalsingh013 commented on #4875
@rtibbles I would like to work on this, but what should be the fix?
Is it fine giving learner some alert?or it should be something else?

[2016-02-21 20:42] benjaoming commented on #3327
Logging will get better now that it's centrally customized with `settings.LOGGING`. However, we should stop using settings.LOG and instead do:

[code]

[2016-02-21 22:00] benjaoming opened #4879 "Does not show login modal after first creating the account"
## Summary

After  #4855, the login modal isn't allowed to display when a user has just created a new admin account.

@66eli77 could you do a quick fix?

## Branch or installer method

 - Branch: develop (?)

## Traceback or relevant snippet from server.log

The page is called, but nothing happens, no modal is displayed

[code]

## How to reproduce

1. Clean install, create admin account
1. Click

[2016-02-21 22:33] benjaoming opened #4880 "Failed download is marked as available"
## Summary

If a video file failes to download, it's still marked as available

## Branch or installer method

 - Branch: develop

## Traceback or relevant snippet from server.log

[code]

## How to reproduce

1. Start KA Lite and navigate to Video tab
1. Kill your external internet connection
1. Start a download using the Video tab

## Screenshots

*If applicable*

## Real-life consequences (anyt

[2016-02-22 01:35] radinamatic commented on #4563
I was also unable to replicate the original issue 0.15 (Ubuntu & Windows). I have a vague memory of this being fixed at some point, but can't find the respective PR.

So, clicking the title of the item leads to the item itself (video/exercise), clicking the Topic (arrow icon) opens the sidebar leaving the user to select one item from that topic.

![contentrec](https://cloud.githubusercontent.com/a

[2016-02-22 02:30] benjaoming opened #4883 "Python 2.7 warning overkill?"
## Summary

We are warning current Ubuntu Trusty users about their Python version.

## Branch or installer method

 - Branch: develop

## Traceback or relevant snippet from server.log

[code]

[2016-02-22 10:32] manipalsingh013 commented on #4848
can't solve as error appear on taking new screenshots(#4862)

[2016-02-22 13:12] jeffwright13 commented on #4685
I had the same errors you were experiencing, and after a lot of sufferance was able to get the pycrypto module installed via apt-get (instead of pip):

`$ sudo apt-get install python-paramiko`

[2016-02-22 13:39] benjaoming commented on #4685
@jeffwright13 I'm not exactly sure what this issue is about, but what's your installation method? Are you using `pip install ka-lite` ?

`pycrypto` is not a dependency of ka-lite, but an optional one that will make it do some of the encryption stuff faster when synchronizing student data to an online server. You should be able to run it without this. What was the error before you install `python-p

[2016-02-22 16:18] benjaoming opened #4887 "Assessment items are served from the wrong URL"
## Summary

Not found:
http://127.0.0.1:8008/content/assessment/khan/091/091be90c14102988059b4e2e13a14a897b629f83.png

Found:
http://127.0.0.1:8008/content/khan/091/091be90c14102988059b4e2e13a14a897b629f83.png

## Branch or installer method
 - Branch: develop

[2016-02-22 18:04] benjaoming opened #4890 "Log rotation"
## Summary

After #4865 we have centralized the logging configuration and can start to use log rotation. This requires amending the docs because users might be instructed to just look at `server.log` and rotation might result in different file names.
## Real-life consequences (anything community should be aware, for instance how it affects your deployment)

It's not too serious because currently t

[2016-02-22 19:12] #2891 closed

[2016-02-22 19:15] benjaoming opened #4892 "Replace chronograph with threaded task queue"
## Summary

Replacing #2891

It should be fairly easy to create a task consumer thread with workers in subthreads.

Number of workers will be configurable.

Communication will be file-based by means of well-know text in files in KALITE_HOME.

Marking as release blocker because we've had too many problems with video downloads in previous releases. Going to create this as a proper implementation tha

[2016-02-23 00:15] benjaoming opened #4895 "Summary of correctly answered questions missing"
## Summary

Usually, you'd get green check marks for each correctly answered question.

## Branch or installer method

 - Branch: prereleases/0.16a3

(actually the PPA 0.16~a3-ubuntu1 installer)

## Traceback or relevant snippet from server.log

[code]

## How to reproduce

1. Answer an exercise correctly
1. Go to next question
1. Nothing

## Screenshots

![screenshot from 2016-02-23 01 12 41](htt

[2016-02-23 00:16] rtibbles commented on #4895
What kind of user are you logged in as? What is JS console output?

[2016-02-23 00:17] benjaoming commented on #4895
No JS errors, just the usual:

    mutating the [[Prototype]] of an object will cause your code to run very slowly; instead create the object with the correct initial [[Prototype]] value using Object.create

[2016-02-23 00:17] benjaoming commented on #4895
Logged in as admin

[2016-02-23 00:18] rtibbles commented on #4895
And the kind of user you are logged in as?

[2016-02-23 00:18] rtibbles commented on #4895
No answer tracking as admin.

[2016-02-23 00:18] #4895 closed

[2016-02-23 00:20] benjaoming commented on #4895
Okay I see, it was just having a weird empty space for those types of users.

![screenshot from 2016-02-23 01 20 13](https://cloud.githubusercontent.com/assets/374612/13237345/a18f9fb6-d9cb-11e5-9363-b8dd0904c6c6.png)

[2016-02-23 01:04] benjaoming opened #4898 "Statistics from PyPi download activity"
## Summary

@jamalex has previously expressed a wish that the PyPi releases should generate proper statistics.

Statistics can be found on the packages's pages:

https://pypi.python.org/pypi/ka-lite-static
https://pypi.python.org/pypi/ka-lite

However, they are subject to huge errors. That's why I created this package:

https://pypi.python.org/pypi/python-bogus-project-honeypot

There's a project

[2016-02-23 13:15] shubhsingh594 commented on #4880
can i take this ?

[2016-02-23 13:45] benjaoming commented on #4880
I'm going to replace the whole download logic over in #4892 :)

[2016-02-23 13:55] benjaoming opened #4900 "Speed up testing, remove `assert_no_element_by_css_selector`"
## Summary

Timeouts have been increased to 30 seconds in #4893, given that lots of Selenium-based tests need a higher timeout.

1. This timeout is too high, though
1. We should stop using `assert_no_element_by_css_selector`

The case of `assert_no_element_by_css_selector` is that **we can wait forever to assert that an element does NOT show up in an interactive DOM instance**.

We've just decided

[2016-02-23 14:32] benjaoming commented on #4785
@shubhsingh594 I've pulled in #4893 and rebuilt my assets, but the error ` SyntaxError: [sprintf] unexpected placeholder.` still occurs.

[2016-02-23 14:34] benjaoming commented on #4785
Forgive me, needed to run `collectstatic`, it works :)

[2016-02-23 14:34] #4785 closed

[2016-02-23 14:41] #4841 closed

[2016-02-23 16:38] benjaoming opened #4901 "Videos shown twice in Update tab"
## Summary

See subject

## Branch or installer method

 - Branch: develop

## Screenshots

![screenshot from 2016-02-23 17 38 36](https://cloud.githubusercontent.com/assets/374612/13258650/4c30b396-da54-11e5-91dc-e1ac5ce2dc4b.png)

[2016-02-23 16:39] benjaoming commented on #4901
@aronasorman this is possibly associated with the total_files=0 bug, dunno. I leave it to you :)

[2016-02-23 16:40] aronasorman commented on #4901
The `total_files` bug is now fixed though with the latest content db. So there's something else going on here.

I'll get to this by tomorrow.

[2016-02-23 16:53] benjaoming commented on #4901
@aronasorman okay I see that en-minimal.zip has been updated, making sure it's in use and total_files check is not the cause.

[2016-02-23 17:01] aronasorman opened #4902 "Reinstate annotation_tests"
## Summary

I deleted the annotation tests in [this commit](https://github.com/aronasorman/ka-lite/commit/a6370654915c0a9287f8335ce48353c2458fdf7b), since they weren't fit for purpose. I need to bring them back again to make sure that the annotation is properly tested, at least for videos.

[2016-02-23 17:07] manipalsingh013 commented on #4902
You want to bring " from annotate_tests import * " this back or is there something else you want. If so, Please explain.

[2016-02-23 17:11] aronasorman commented on #4902
Good catch! Turns out I just deleted the import. However, these tests will still fail: https://github.com/learningequality/ka-lite/blob/0.16.x/kalite/topic_tools/tests/annotate_tests.py

Because it's not capturing the right behaviour anymore.

[2016-02-23 17:11] aronasorman commented on #4902
So we'll need to make the tests pass now.

[2016-02-23 17:17] benjaoming commented on #4901
Cool, it works after the new content.db from en-minimal is loaded and total_files=0 is used. Making a PR.

[2016-02-23 17:17] benjaoming commented on #4901
![screenshot from 2016-02-23 18 15 47](https://cloud.githubusercontent.com/assets/374612/13259905/aa11187a-da59-11e5-9c67-76ab853d5870.png)

[2016-02-23 17:38] j-schwartz commented on #4835
@rtibbles -  just for what it's worth, I have the same issues with content mismatch between available video downloads and the learn tab on a clean install also.

[2016-02-23 19:05] shubhsingh594 commented on #4880
okay

[2016-02-23 19:31] rtibbles commented on #4901
Fixed in #4903

[2016-02-23 19:31] #4901 closed

[2016-02-23 19:58] rtibbles commented on #4835
Thank @j-schwartz - the complete absence of the cache files is the thing that is still confusing me. It must be reading them from somewhere, but if they are not there, I am not sure where it is reading it from.

[2016-02-23 20:01] rtibbles commented on #4505
This is done.

[2016-02-23 20:01] #4505 closed

[2016-02-23 20:14] #4887 closed

[2016-02-23 20:14] #4864 closed

[2016-02-23 20:14] #4863 closed

[2016-02-23 20:15] #4802 closed

[2016-02-23 20:15] aronasorman commented on #4182
Is this now fixed @benjaoming?

[2016-02-23 20:16] aronasorman commented on #4166
The english content packs now come with `vtt`. Next step is to check if videojs reads the subtitles.

[2016-02-23 20:24] radinamatic commented on #4182
I'll re-check this with Alpha3 deb installer and report back, @aronasorman!