[2015-09-01 16:44] #3931 closed

[2015-09-01 16:44] aronasorman commented on #3971
"Reset App" works well enough for the Mac.

[2015-09-01 16:44] #3971 closed

[2015-09-01 17:03] EdDixon opened #4324 "0.14.0 XP Coach reports should contain the same data for both admin and coach accounts"
While testing 0.14.0 on XP I encountered an issue where as administrator I could "drill down" into the student progress through the manage tab and see student activity that logging in as coach seemed unavailable? There was very little student data there to begin with as this was early in testing accounts but the fact that there is any discrepancy at all seems like it should be something we are all

[2015-09-01 17:25] aronasorman commented on #4318
Can confirm, it's not showing up when I run `kalite manage runserver --settings=kalite.project.settings.dev`. Cannot download videos.

[2015-09-01 17:27] EdDixon commented on #3971
However does not delete the ~./kalite folder which may be an issue in reinstalling or upgrading at a later point because having that folder prevents the current 0.14.0 from installing correctly.

[2015-09-01 17:30] aronasorman commented on #3971
@EdDixon we don't delete that in case they want to keep their data. Let's find issues as they come once @cpauya gets the mac installer building for develop.

[2015-09-01 17:36] aronasorman opened #4325 "The learn tab takes an absurdly long time to load when using the debug server"
It takes around 45 seconds before the sidebar loads the content. Always happens when we first load the learn tab after a server start. Doesn't happen after subsequent refreshes.

![image](https://cloud.githubusercontent.com/assets/191955/9611467/99013456-5094-11e5-8979-fa4bfb040bba.png)

Steps to reproduce:
1. Kill KA Lite.
2. Run `kalite manage runserver --settings=kalite.project.settings.dev`
3.

[2015-09-01 17:36] aronasorman commented on #4325
90 seconds now!

![image](https://cloud.githubusercontent.com/assets/191955/9611588/54e53d16-5095-11e5-8c3c-1bcf07185522.png)

[2015-09-01 17:46] aronasorman commented on #4009
Works on firefox 40.

[2015-09-01 17:46] #4009 closed

[2015-09-01 17:51] MCGallaspy commented on #3627
For windows, I'm pretty sure I got 'em all in https://github.com/learningequality/installers/pull/57. So I feel confident we can remove these scripts finally.

[2015-09-01 17:51] jamalex opened #4326 "Document the "kalite" command"
We don't have anything in the docs regarding the existence of the "kalite" command, or how to use it. This is pretty critical, since we've deprecated the old way to do many of these things using `manage.py`.

Some things to document:
- [x] That the command exists
- [x] That `manage.py` is deprecated, and how to do equivalent things via `kalite manage`
- [ ] That it's on the path in Linux/OS X, but

[2015-09-01 17:56] aronasorman commented on #3587
Not sure, but @EdDixon indicated in the dev room that he's no longer encountering this on his XP VM.

[2015-09-01 17:56] jamalex commented on #236
Superseded by https://github.com/learningequality/ka-lite/issues/4326

[2015-09-01 17:56] #236 closed

[2015-09-01 17:59] MCGallaspy commented on #3909
The specific bullet points were addressed in https://github.com/learningequality/ka-lite/pull/4130. Test improvements continue.

[2015-09-01 17:59] #3909 closed

[2015-09-01 18:02] rtibbles commented on #4325
This is not a bug.

This is because the topic tree annotation happens on the fly on the first request.

[2015-09-01 18:02] #4325 closed

[2015-09-01 18:07] #3669 closed

[2015-09-01 18:13] aronasorman commented on #3627
@MCGallaspy thanks, @benjaoming can you do the honors of deleting this folder?

[2015-09-01 18:32] aronasorman commented on #4318
Duplicate of https://github.com/learningequality/ka-lite/issues/4294.

[2015-09-01 18:32] #4318 closed

[2015-09-01 18:33] aronasorman commented on #4271
Has this been fixed?

[2015-09-01 18:33] #4184 closed

[2015-09-01 18:34] aronasorman commented on #4138
@EdDixon can you try replicating this again?

[2015-09-01 18:36] aronasorman commented on #4228
Duplicate of https://github.com/learningequality/ka-lite/issues/3718.

[2015-09-01 18:36] #4228 closed

[2015-09-01 18:37] aronasorman commented on #3944
@MCGallaspy is this still the case?

[2015-09-01 18:44] rtibbles commented on #3913
@aronasorman I imagine this is related to the issue we had with the dubbed video mappings being incorrect (dubbed videos were being displayed in the wrong place).

Has that been resolved?

I see not: #4226

[2015-09-01 18:45] MCGallaspy commented on #4138
He suggested in hipchat that it was resolved.

[2015-09-01 18:45] #4138 closed

[2015-09-01 18:45] MCGallaspy commented on #3944
Yes.

[2015-09-01 18:46] MCGallaspy commented on #4271
Not yet.

[2015-09-01 18:54] aronasorman commented on #3944
Alright. I'm leaving this on 0.15.0 as this seems like a critical bug.

[2015-09-01 18:57] aronasorman commented on #3913
This might be because the KA spreadsheet is unmaintained currently. I'll try making it work next week.

[2015-09-01 18:58] rtibbles commented on #4294
Can't replicate, please provide steps for replication.

Page loads fine, and no evidence of a request for 'icons.gif' on the Network tab.

![image](https://cloud.githubusercontent.com/assets/1680573/9613519/b3173fc8-50a0-11e5-95f9-ca721f573382.png)

[2015-09-01 19:01] MCGallaspy commented on #4294
I'll try to replicate and post the steps here.

[2015-09-01 19:11] rtibbles commented on #4294
Nevermind, found the reason I can't replicate. Submitting a fix now.

[2015-09-01 20:54] aronasorman commented on #4294
Fixed in #4330.

[2015-09-01 20:54] #4294 closed

[2015-09-01 21:09] #4137 closed

[2015-09-01 21:31] rtibbles commented on #3907
I am punting this, as I have a lot of this cleanup in an open PR, but too risky for 0.15.

[2015-09-01 22:17] rtibbles commented on #4145
Not extant on 0.15.

[2015-09-01 22:17] #4145 closed

[2015-09-01 22:30] 66eli77 commented on #4317
fixed

[2015-09-01 22:30] #4317 closed

[2015-09-01 23:13] rtibbles commented on #4135
@aronasorman you missed this one, something of a release blocker!

[2015-09-01 23:44] 66eli77 commented on #4310
fixed

[2015-09-01 23:44] #4310 closed

[2015-09-02 00:23] aronasorman commented on #4211
Fixed in https://github.com/learningequality/ka-lite/pull/4278.

[2015-09-02 00:23] #4211 closed

[2015-09-02 00:30] aronasorman opened #4335 "Persist annotations when using SQLitedict"
See https://github.com/learningequality/ka-lite/pull/4306#discussion_r38388364.

[2015-09-02 00:32] MCGallaspy opened #4336 "Videos not displayed correctly"
On branch `0.15.x` on Windows 8, with videos in my ~/.kalite content directory from previous installation, when I log in as a learner and navigate to an available video I see this:

![ss2](https://cloud.githubusercontent.com/assets/8888020/9620440/efe5d490-50ce-11e5-8074-476b289e58cb.png)

Note how the pane containing the video is almost totally collapsed. Resizing the window results in the js err

[2015-09-02 00:39] rtibbles commented on #4135
Fixed in #4334

[2015-09-02 00:39] #4135 closed

[2015-09-02 00:41] MCGallaspy opened #4337 "Coach reports date range should be inclusive"
On `0.15.x`, created some student data, and then tried to view it on the coachreports as an admin. It seems that the date range is not inclusive in some cases, as student data from the same-day are not viewable:

![ss1](https://cloud.githubusercontent.com/assets/8888020/9620504/a198604a-50cf-11e5-8ebf-160924396049.png)

I tired several different start & end dates with student data from 9/1. In all

[2015-09-02 00:45] MCGallaspy opened #4338 "Coach reports exercise detail view inconsistently displayed"
On `0.15.x`, when viewing the detail view for exercises from the coach reports, panels with only one exercise log have a buggy display:
![ss4](https://cloud.githubusercontent.com/assets/8888020/9620594/e276cde4-50d0-11e5-8bcd-a53b77578a5e.png)

Compare to:
![ss_good_detail](https://cloud.githubusercontent.com/assets/8888020/9620607/0f86bb28-50d1-11e5-9b93-da4972e57ecd.png)

In case of one attempt,

[2015-09-02 00:50] MCGallaspy opened #4339 "Coach reports video detail view does nothing on click"
On `0.15.x`, I navigated to the video page as student to create an attempt record (%-completion seems to have no effect here). As an admin, clicking on the corresponding item in the coach reports does not expand a detail view, despite the panel being "clickable" -- the cursor changes and there is a hover effect. It _does_ close another open detail view for e.g. an exercise, but otherwise has no ef

[2015-09-02 00:59] MCGallaspy opened #4340 "Text display issues on tabular report"
On `0.15.x`, this is really two separate issues.

First, long words in content titles have weird line breaks. See screenshot. Can we perhaps expand the column size to fit the longest word?

Secondly, the user's name (first + last name, not the username) overflows the row. See screenshot. Overflow is bad, scrolling seems less than ideal, and truncating names may be confusing. If the row must be fix

[2015-09-02 01:02] MCGallaspy commented on #4340
Exhibit B:

![ss1](https://cloud.githubusercontent.com/assets/8888020/9620768/a4e37628-50d3-11e5-9d91-f33b4647f8a3.png)

[2015-09-02 01:04] MCGallaspy opened #4341 "Coach report date selector missing navigation icon"
On `0.15.x`, on the coach reports, clicking on the date selectors reveals a calendar. Where I would expect an icon to navigate months I see nothing, however there is a clickable element there (my mouse is hovering over it in the screenshot) and it does work as expected. The icon is just missing:

![ss](https://cloud.githubusercontent.com/assets/8888020/9620786/e267f9d8-50d3-11e5-80a6-4c46ae7015d8.

[2015-09-02 01:06] MCGallaspy commented on #4337
Interestingly the default date range when I load the page is 8/25 to 9/1, and the tabular report is available. But if I click the "refresh" button next to the date range then the tabular report becomes unavailable.

[2015-09-02 01:17] MCGallaspy opened #4342 "Coach report date refresh button -- can we remove it?"
On `0.15.x`, when you change the date on the coach reports page, then the tabular report does not change -- you need to first click the refresh button next to the date range and then click the "show tabular report" button again. Can we eliminate the refresh button? I would expect the date to be updated automatically when I use the selector, without clicking the refresh button, and if the tabular r

[2015-09-02 01:20] MCGallaspy opened #4343 "Update coach report documentation"
We need to update the coach report documentation for 0.15. This means at least updating the screenshot as it does not include the date picker. That's blocked until we get that working again on `0.15.x`, so I'll make that a priority. We should also describe the use of the date picker, since the user flow with the refresh button may not be immediately obvious. It might be helpful to also describe wh

[2015-09-02 01:23] rtibbles commented on #4342
No, the query can be costly, particularly for large data sets. In addition
if the user is trying to specify a date range, then having to wait for a
long query to complete before being able to continue to set the other date
is bad UX.

I am happy to iterate on how to make it more intuitive, but it needs to at
least hold off until the user has set their desired date range, which we
can only know by

[2015-09-02 01:26] cpauya commented on #4315
Hi @66eli77, sorry, yes the KALITE_PYTHON and KALITE_DIR env vars have been set by an earlier version of the Mac installer and wasn't cleaned.

Please check and delete the following files:

1. /Library/LaunchDaemons/org.learningequality.kalite.plist -- This is the destination of the old installer and is most likely causing your issue.
1. /Library/LaunchAgents/org.learningequality.kalite.plist -- T

[2015-09-02 01:28] MCGallaspy commented on #4342
Maybe a big indicator that there's a mismatch between the currently displayed date range and the selected date range? I'll upload a mockup eventually.

[2015-09-02 18:17] jamalex opened #4346 "Broken link to RPi wifi instructions in docs"
Broken link in the 0.14 docs on https://learningequality.org/docs/0.14/en/installguide/install_all.html#raspberry-pi:

`After installing, you can setup a Wifi hotspot using this guide: :ref:`raspberry-pi-wifi`_`

[2015-09-02 19:19] jamalex opened #4348 "Tweaks to make to embedded documentation"
- [ ] Provide an easy way to link back to the KA Lite interface itself -- currently, no escape. Perhaps (eventually) embedding the docs directly within the KA Lite interface (having a view under /docs/ that maps paths, loads the appropriate HTML docs file, and renders it into the main page context in the content area)
- [ ] Allow link to docs even when not logged in
- [ ] Don't include "install gu

[2015-09-02 19:29] 66eli77 commented on #4271
@MCGallaspy  did you get my favicon email?

[2015-09-02 19:33] MCGallaspy opened #4349 "Coach reports summary main view issues"
I'm collecting several different issues here. All of these are with data generated by running `generaterealdata --scenario-1` (see https://github.com/learningequality/ka-lite/pull/4347) on branch `0.15.x` (running from source in this case, not from this week's windows installer) and logged in as a coach user.

1. "Total Hours Logged" says is labeled "Hours spent on content vs total hours logged".

[2015-09-02 19:38] MCGallaspy commented on #4349
Edit: added point 7 above.

[2015-09-02 19:53] MCGallaspy opened #4351 "Coach reports -- tabular report vertical scrolling"
On `0.15.x` using `generaterealdata --scenario-1`: When there are many attempt logs, then the tabular report scrolls vertically. This creates very wide log detail views:

![ss1](https://cloud.githubusercontent.com/assets/8888020/9642382/a9b8e6ae-5170-11e5-8368-186a92c6309e.png)

Additionally, the scroll bar at bottom of the tabular report pane is out of view when looking at the titles of the conte

[2015-09-02 19:58] EdDixon opened #4352 "Can not download languange pack using IE11 (0.14.0 on Windows 7)"
During 0.14.0 Windows 7 testing the language pack failed to download using the native IE11 browser however did download using chrome. Afterwards other language packs could be downloaded from the IE11 browser.
![2015-09-02_13-28-30](https://cloud.githubusercontent.com/assets/4349806/9642645/a314d95c-517a-11e5-851b-6a0dbb3b2f17.png)
![2015-09-02_13-31-31](https://cloud.githubusercontent.com/assets/4

[2015-09-02 20:04] MCGallaspy opened #4353 "Coach report -- struggling figures are struggling"
On `0.15.x` using `generaterealdata --scenario-1`, I'm logged in as a coach for Facility Dos, and attempt logs from that same facility are color coded correctly:

![ss2](https://cloud.githubusercontent.com/assets/8888020/9642778/02066104-5173-11e5-8572-3feb736d7ebe.png)

But viewing them for Facility One (the _other_ facility) they are not colored correctly:

![ss1](https://cloud.githubusercontent

[2015-09-02 20:06] MCGallaspy commented on #4353
Addendum: it's also the case when viewing Facility One's tabular report with a Facility One coach, so the problem seems to be with those specific attempt logs.

[2015-09-02 20:16] MCGallaspy commented on #4348
I'd like to first address these in 0.15, and then create a patch for 0.14.x time permitting.

[2015-09-02 20:23] MCGallaspy commented on #4352
Let's see if this exists on 0.15 as well, and then target a fix there. @jtamiace can you try to replicate this?

[2015-09-02 20:26] EdDixon commented on #4352
Just wanted to update this with a few more tests ran here on this same server instance which may provide some clues. So after successfully downloading the Swahili language pack I decided to try and update the English language pack which again failed with an additional warning about the connection. I then tested the connection by opening a new tab and going to google news which was successful. I th

[2015-09-02 20:32] EdDixon commented on #4352
Then going back to chrome logging in and navigating to the languages tab I find the process completing and eventually completed as shown here without doing anything but just navigating to the TAB (I did not restart the English language update) which now appears to be successful.
![2015-09-02_14-29-59](https://cloud.githubusercontent.com/assets/4349806/9643473/67b5c844-517f-11e5-843b-59719a634d39.p

[2015-09-02 20:45] jamalex commented on #4346
Fixed in #4350.

[2015-09-02 22:41] MCGallaspy opened #4357 "Learn page -- extra whitespace on available videos"
On `0.15.x` there is a lot of whitespace below the footer on available videos _if_ you're not logged in as a learner. If the video is unavailable or if you're logged in as a learner, the whitespace doesn't appear. Unsure who to assign, @rtibbles feel free to pass the torch -- I'll even take it over if you'd like.

![ss](https://cloud.githubusercontent.com/assets/8888020/9646474/e9014dde-5188-11e5-

[2015-09-03 17:28] 66eli77 opened #4361 "On mobile, Sidebar tab not stay in its position when scroll"
branch: 0.15.x
![screen shot 2015-09-03 at 10 26 24 am](https://cloud.githubusercontent.com/assets/5577205/9665645/7314f9a6-5226-11e5-9037-649d42f81158.png)

[2015-09-03 17:33] 66eli77 opened #4362 "Sidebar backbutton missing icon"
branch: 0.15.x
os: Mac
browser: Chrome
suggestion: the backbutton could also be vertically centered
![screen shot 2015-09-03 at 10 29 50 am](https://cloud.githubusercontent.com/assets/5577205/9665714/d05912be-5226-11e5-9a20-04078532d6fe.png)

[2015-09-03 17:42] rtibbles commented on #4362
Platform, browser?

[2015-09-03 17:58] 66eli77 commented on #4362
@rtibbles  edited the description to include Platform, browser

[2015-09-03 18:26] MCGallaspy commented on #3911
Addressed in https://github.com/learningequality/ka-lite/pull/3814

[2015-09-03 18:26] #3911 closed

[2015-09-03 18:27] #4346 closed

[2015-09-03 18:33] 66eli77 opened #4364 "nothing shown on Progress Report when having 0 point"
branch: 0.15.x
os: Mac
browser: Chrome
![screen shot 2015-09-03 at 11 29 27 am](https://cloud.githubusercontent.com/assets/5577205/9667168/11e0a60e-522f-11e5-80d1-27122cf41d9c.png)

[2015-09-03 18:40] MCGallaspy commented on #4307
This is now targeting branch `0.15.x`.

[2015-09-03 19:07] benjaoming commented on #3911
@MCGallaspy perhaps we should add docs/_built to MANIFEST.in.dist ? Then they will be included in the sdist.

[2015-09-03 19:30] MCGallaspy commented on #3911
Sounds good.

[2015-09-03 19:36] MCGallaspy commented on #4307
Can't replicate, @jtamiace can you give it a shot? Just see if when you create some ratings as student, log in as an admin, and try to export them without selecting a facility, that the generated .csv file is not empty.

I suspect I was running from source with polluted static files, which may have caused some error.

[2015-09-03 19:37] 66eli77 opened #4366 "student progress reports when no videos under the subject, video icon should display "0""
branch: 0.15.x
os: Mac
browser: Chrome
no number displayed when no videos under the subject
![screen shot 2015-09-03 at 12 35 47 pm](https://cloud.githubusercontent.com/assets/5577205/9668795/7b11cdac-5238-11e5-8015-64cf6d555443.png)

[2015-09-03 19:41] MCGallaspy opened #4367 "Content rating - extraneous columns in csv export output; filter empty rows"
The columns look like this:
![image](https://cloud.githubusercontent.com/assets/8888020/9668879/decf27b8-5238-11e5-9475-bbebb3d5722a.png)

In particular, `deleted` and `resource_uri` columns could be removed, they're not helpful.

Rows are also created when a user visits a content item page for the first time, but if the row is empty (a value of 0 for both ratings), then perhaps we should filter i

[2015-09-03 20:09] 66eli77 opened #4369 "Content recommandation "Next Steps" show exercise I already finished"
branch: 0.15.x
os: Mac
browser: Chrome
the "Counting in order" already finished but still show in Next Steps.
Also, the Topic and arrow icon could in different color to distinguish itself from the rest since it redirect to different place. Right now I think the whole Next Steps list item is One buttom
![screen shot 2015-09-03 at 1 01 35 pm](https://cloud.githubusercontent.com/assets/5577205/966956

[2015-09-03 20:17] 66eli77 commented on #4300
I opened a PR  #4358 for this

[2015-09-03 21:31] MCGallaspy commented on #4309
Now targeting `0.15.x`.

[2015-09-04 01:09] MCGallaspy commented on #4203
I was just thinking about this due to a similar issue I encountered in 0.14. Definitely would be nice to have, if we think explicit is better than implicit.

[2015-09-04 09:10] EdDixon commented on #4352
I did manage to replicate this issue on Windows 7 tonight by installing, creating an admin account and  and then logging into the server as admin. afterwards navigating to the languages tab and selecting the Spanish language pack and then clicking the get language pack button.
![ugh1](https://cloud.githubusercontent.com/assets/4349806/9680157/13e576c2-52b2-11e5-8d5a-990dbb24b12b.png)
WIthout shutt

[2015-09-04 16:30] benjaoming opened #4375 "Add documentation to sdist"
MANIFEST.in.dist should include the documentation.

The debian dist is built from an sdist, so that would immediately fix it. Windows already adds it in another way.

@cpauya does the OSX installer build from a PyPi sdist or do you create an sdist with `setup.py sdist`? Because in that case, fixing this issue will likely also add documentation to the OSX installer.

[2015-09-04 16:32] benjaoming commented on #4348
#4375 addresses that documentation is actually not part of what's currently distributed. That needs to be solved.

@MCGallaspy The release notes actually mention that we are going to have documentation for OSX/deb for 0.14 soon.

[2015-09-04 16:33] benjaoming commented on #4348
The "Edit on Github" is IMO very important. Having a very very low bar for contributing to the documentation is important.

The documentation is intended for administrators / devs, so I think they can understand that it's pointing to an online location. Even if they don't have internet access, it'll just signal that this is an open source thing.

[2015-09-04 16:54] MCGallaspy commented on #4348
Including the documentation at all is quite separate from addressing this issue. If we wish to include documentation in 0.14 for other OSes, I think we should just drop in the static HTML (a la Windows) since it requires a minimum of effort, and focus on improving offline documentation in future versions. Otherwise I'm afraid we'll be ineffectively splitting our effort between many different versi

[2015-09-04 17:17] benjaoming commented on #4348
@MCGallaspy I thought you made a patch so that if docs/_build/html exists, it gets served, right? So I'm just gonna make sure that the next 0.14 patch release also has them -- that'd work, right? I don't think the docs need any updating for that to happen.

[2015-09-04 17:34] aronasorman commented on #4375
Not right now, although eventually it will, so it would be good to have it working through PyPi.

[2015-09-04 17:39] trexken opened #4378 "Videos playback in English when French/another language is expected"
We are trying to build a laptop with French, English, and Spanish KA Lite on it.  All three packages are there and loaded.  When you try to view a French video it comes up in English. We have schools this application is needed for and works well in French only but now we have others asking for more.

Thanks

Ken

[2015-09-04 17:45] MCGallaspy commented on #4378
Adding further details to this issue, since @trexken stopped by our hipchat room:

On version 0.14.0, on Mint Linux 17.2, @trexken said:

[2015-09-04 17:49] trexken commented on #4378
So here is the path I have.  For one of the videdos I think should be coming up in French and the default language is French...http://127.0.0.1:8008/learn/khan/math/early-math/cc-early-math-counting-topic/cc-early-math-counting/counting-with-small-numbers/
At least this can give you the path and video I am using as an example.  Thanks again

[2015-09-04 17:55] MCGallaspy commented on #4352
@EdDixon in this case, did you use one-click or long registration before downloading a language pack?

[2015-09-04 17:59] MCGallaspy commented on #4352
Does not seem to be an issue in 0.15, but worth trying in 0.14 as well.

[2015-09-04 18:44] MCGallaspy commented on #4348
Correct.

[2015-09-04 19:19] MCGallaspy opened #4379 "Remove django-compressor in 0.15.x"
It's no longer used. See this patch in particular: https://github.com/learningequality/ka-lite/commit/9ba0f55c47108edad94f94f69aa45b8dc307f99d#commitcomment-13076497

[2015-09-04 19:19] rtibbles commented on #4379
:+1:

[2015-09-04 20:03] jamalex opened #4382 "License incorrectly marked in setup.py"
Setup.py indicates that KA Lite is GPL, whereas it is actually MIT license:
https://github.com/learningequality/ka-lite/blob/0.15.x/setup.py#L355

[2015-09-04 21:53] EdDixon opened #4383 "Changing default language should not change established accounts."
This issue seems to affect all versions of KA-Lite across all platforms. While testing on 0.14 I noticed that by changing the default language the user interface is changed for all accounts to that language. This could pose a problem for a non-default language user with an already established account. Especially admins accounts where the user interface does not provide a method to allow the admin

[2015-09-04 22:29] EdDixon commented on #4378
I think I may have just stumbled into this issue as well in windows 8.1. Apparently if you have downloaded a videos without first changing the default language for the installation then it will continue to download those same videos in the former language regardless of changes to the default language? I am still testing this but so far it seems to be the case? I hope this helps?

[2015-09-06 10:44] benjaoming commented on #4382
I'm pretty sure we've discussed this already.

Maybe it has to do with the fact that we are bundling other GPL licensed libraries.

[2015-09-06 10:47] benjaoming commented on #4382
See:
https://en.wikipedia.org/wiki/License_compatibility#GPL_compatibility

[2015-09-06 10:50] benjaoming commented on #4382
Possible values are listed here: https://pypi.python.org/pypi?%3Aaction=list_classifiers

Unless you wanna go through every single license in [python-packages](https://github.com/learningequality/ka-lite/tree/master/python-packages), I'd suggest accepting this "safe side" value and instead focus our efforts on cleaning up the dependency burden.

[2015-09-06 12:55] benjaoming commented on #4375
@aronasorman okay but does it use the output of `python setup.py sdist` because that was my impression...

[2015-09-06 18:52] jamalex commented on #4382
Oh, so I did actually go through python-packages, and the last time I did so, we didn't have any GPL libraries:
https://github.com/learningequality/ka-lite/blob/master/LICENSE#L38

Do you know of any that have since been added?

On the JS side, it looks like the libraries that mention GPL are "Dual licensed under the MIT or GPL":
https://github.com/learningequality/ka-lite/search?utf8=%E2%9C%93&q=

[2015-09-07 13:26] benjaoming commented on #4382
There are ~32 packages/modules in `python-packages/`, the license file lists 15 of those. So yes, more have been added for sure. I'm afraid you're the only one who took care to fill in the LICENSE file.

Anyways, searching doesn't reveal a lot of problems. Apparently `requests` ships with `chardet` bundled, which is LGPL.. but that doesn't affect our MIT license, as long as we do not remove the li

[2015-09-07 14:40] benjaoming opened #4386 "Spontaneous environment error / import error causing "CommandError: Unknown command: 'migrate'""
Branch: 0.14.x, latest

[code]

What happens:

 1. I run `kalite manage setup` it fails, saying command `migrate` does not exist
 1. I run `pip install requirements.txt` - nothing is missing!
 1. I run `kalite manage setup` again and it actually works.

I'm suspecting that we have some kind of load time race condition that can spontaneously cause circularity or some other kind of import issue that

[2015-09-07 15:05] benjaoming opened #4387 "Fix all the test failures"
Circle CI support has been added to 0.14.x so we can start sorting out the failing tests. I'm not quite convinced that we should be shipping the next 0.14 patch release without having fixed all the tests.

#4385 fixes some of them... once it's merged, it'd be great if someone could fix the areas under their domain / expertise. For instance, Someone Else (TM) should fix the compressor stuff.

You w

[2015-09-07 16:33] benjaoming commented on #4387
@rtibbles BDD tests are passing now, but there are a lot of issues due to compress not being run -- either we use COMPRESS_OFFLINE = True during tests or we somehow create the compressed files before testing (my initial attempt didn't work).

Would you mind taking a look at the compress stuff after #4385 is merged?

[2015-09-07 18:15] aronasorman commented on #4387
I think we should place the 0.14.x branch on critical bugfix mode -- 0.15 is ~4 weeks away, and splitting our time on getting tests fixed on 0.14 will take away time from getting 0.15 as stable as possible (which already has passing tests).

[2015-09-07 18:23] benjaoming commented on #4387
@aronasorman please look at #4385 before making a judgement.

[2015-09-07 22:42] benjaoming commented on #4387
@rtibbles nevermind, I found a way to switch on compression in the tests: 03fdc9d

[2015-09-07 22:52] rtibbles commented on #4387
The problem with trying to run the server in actual production mode (i.e. creating the compressed files before we do any tests) is that Django < 1.7 uses the staticfiles app to serve static files during tests. So, any files that get compiled into the static files folder (such as Django Compressor and Django JS Reverse files) don't actually get served during testing.

This is really bad from a test

[2015-09-07 22:53] benjaoming commented on #4387
@rtibbles this is just a hindsight attempt to get tests working for the next 0.14.1 release.

[2015-09-07 22:57] rtibbles commented on #4387
Does the override_settings decorator not work on a whole test suite, btw? I feel like I have tried it before also, and have then just done something completely different to avoid dynamically altering the settings object directly.

[2015-09-07 22:59] rtibbles commented on #4387
I am also wary of these test modifications as, presumably, these would eventually get merged back into develop where these tests were working (until a merge from 0.14.x broke them - but they should be fixed again shortly).

[2015-09-07 23:33] benjaoming commented on #4387
@rtibbles I think `override_settings` is supposed to be used on an individual test case, it only affects what happens in the test, but that can still spill over as certain environments may not be entirely isolated.

[2015-09-07 23:57] jamalex commented on #4382
Fixed in #4384.

[2015-09-07 23:57] #4382 closed

[2015-09-08 16:21] aronasorman commented on #4375
No, it does not use the `sdist` yet.

[2015-09-08 17:05] rtibbles commented on #4364
@66eli77 Just a note that you should be running the server in production mode when doing this testing - not dev mode. The Django debug toolbar gives you away....

[2015-09-08 17:05] aronasorman opened #4390 "Uncaught reference error: set_server_language is not defined"
branch: 0.15.x

When trying to click the "set default language" button, I get this:

![image](https://cloud.githubusercontent.com/assets/191955/9741760/0d6c39ea-5611-11e5-84d8-85e5f6020b36.png)

And setting the default language does nothing.

[2015-09-08 17:13] benjaoming commented on #4375
Thanks, I got the link from Cyril to the setup.sh script :)

[2015-09-08 17:27] aronasorman commented on #4390
NVM, I just didn't run `node build.js` recently.

[2015-09-08 17:27] #4390 closed

[2015-09-08 20:06] rtibbles opened #4391 "Annotate user progress on topic tree sidebar"
Currently we do not annotate any user progress on the sidebar, we should fix this by returning annotated information either with the original topic tree request, or as a second call (as it is not vital rendering functionality, and may be subject to update based on login events).

[2015-09-08 20:13] rtibbles opened #4392 "Topic Tree loads from the outside in with multiple API requests"
Expected Behaviour: Sidebar should load all the data needed at once, rather than multiple API requests.

Current Behaviour: Sidebar parses each slug in the path and loads the data incrementally, rather than fetching all the data needed at once.

[2015-09-08 21:12] #4379 closed

[2015-09-08 22:28] benjaoming opened #4395 "kalite manage setup: Detect and use prebuilt database"
To save time creating and migrating a database, we can ship a new and empty one.

 * [x] `setup.py sdist` should create a blank sqlite database
 * [x] `kalite manage setup` should detect if there is an empty database available and use it instead of running `kalite manage syncdb`. For `migrate`, it should just perform this step regardless.

[2015-09-08 22:48] 66eli77 commented on #4364
@rtibbles verified, under production mode, this issue is gone

[2015-09-08 22:48] #4364 closed

[2015-09-08 23:06] 66eli77 commented on #4391
@rtibbles you can assign this to me if you like.

[2015-09-08 23:06] rtibbles commented on #4364
@cpauya I think you said you were working on this, so heads up that it is a non-issue!

[2015-09-08 23:06] 66eli77 commented on #4392
@rtibbles you can assign this to me if you like.

[2015-09-08 23:21] rtibbles opened #4396 "Duplicated exercise in topic tree"
For some reason, we have two almost completely identical exercises in the topic tree (I believe this is probably due to an editing error on KA's part, where the data has been inserted twice under two slightly different names).

This causes us to have non-unique paths.

Data below:
[code]

[2015-09-08 23:40] rtibbles commented on #4396
To add some more confusion, neither of these exercises actually appear on Khan Academy.

[2015-09-08 23:49] rtibbles commented on #4396
Seems like this are, in fact, distinct exercises. Issue arises from the fact that the slugs are rendered identical by Django slugify stripping out repeated ```-```.

[2015-09-08 23:51] MCGallaspy commented on #4392
Do you mean that currently there is one request per sidebar entry, and the desired behavior is that _all_ visible sidebar entries are fetched in one request?

[2015-09-08 23:53] rtibbles commented on #4392
yep

[2015-09-08 23:53] rtibbles commented on #4392
Wait, no. One request per sidebar level.

[2015-09-09 01:32] cpauya commented on #4364
Thanks for the update @rtibbles.

[2015-09-09 17:30] EdDixon opened #4399 "0.14.0 Cookie is not expiring when the the browser is closed on remote clients."
I have been experiencing this quite a bit while testing, it seems that from a remote machine after logging into a KA-Lite server instance as admin that if I then close the browser and reopen the browser to that same ip address, I am still logged in as before where the expected behavior is that the cookie would be deleted and I should have to select facility and provide username and password creden

[2015-09-09 18:25] aronasorman commented on #4399
What OS were you using?

[2015-09-09 18:26] EdDixon commented on #4399
In this case Windows 8.1 but I think I have sen this in prior tests using others as well I just need to go back and recheck for this.

[2015-09-09 18:36] aronasorman commented on #4399
My hunch here is that the browser isn't getting truly closed. Let me try instead setting the `SESSION_COOKIE_AGE` to 2 hours. Does that work @EdDixon?

[2015-09-09 21:12] benjaoming opened #4401 "Remove collectstatic from startup"
As per discussion on when to run `kalite manage collectstatic`, we have delegated it for `kalite manage setup` for now.

This should be a very low hanging fruit, does anyone have objections against removing it from `kaserve` where it's currently run?

        logging.info("Copying static media...")
        call_command("collectstatic", interactive=False, verbosity=0)

        call_command("collect

[2015-09-09 21:35] aronasorman opened #4402 "Remove the RemovedInKALite_v015_Warning warning"
![image](https://cloud.githubusercontent.com/assets/191955/9774841/fef415dc-56ff-11e5-9071-b45c93cb4d8b.png)

[2015-09-09 21:36] aronasorman commented on #4402
@benjaoming I've assigned you, but feel free to pass on the honor to someone else :dancer:

[2015-09-09 21:45] benjaoming commented on #4402
I can start work on issues I'm assigned to next week, would that be in due time?

[2015-09-09 22:50] rtibbles commented on #4401
Do we even use kaserve any more, though?

[2015-09-09 23:06] benjaoming commented on #4401
Only for confusion I guess :)

[2015-09-09 23:08] benjaoming commented on #4401
It's the `initialize_kalite` command:

        # Copy static media, one reason for not symlinking: It is not cross-platform and can cause permission issues
        # with many webservers
        logging.info("Copying static media...")
        call_command("collectstatic", interactive=False, verbosity=0)
        call_command("collectstatic_js_reverse", interactive=False)

[2015-09-10 00:35] MCGallaspy commented on #4401
It sounds reasonable to only run at setup -- with maybe the exception of running it every time when using the kalite.project.settings.dev settings module?

[2015-09-10 01:20] benjaoming commented on #4401
agreed, that's a good point about settings.dev -- but also kind of reminds
me about why runserver is cool, it will dynamically serve static files from
the applications' static dirs.

On 10 September 2015 at 02:35, Michael Gallaspy <notifications@github.com>
wrote:

[2015-09-10 01:25] MCGallaspy commented on #4308
Hmm, as I'm looking at this now my first thought was to add a little bit of text, like

But that will now violate the string freeze, right @aronasorman?

[2015-09-10 01:25] MCGallaspy commented on #4308
Any suggestions for visual cues that it's editable?

[2015-09-10 11:10] arceduardvincent commented on #4399
I use the newly built installer in OS X using the `0.15.x` branch and use the `khan_assessment.zip` then I access the remote machine, after logging into a KA-Lite server instance as admin then close the browser and reopen the browser to that same ip address, I notice that the previous user is still logged in.

This issue is manifesting on `0.15.x` branch.

[2015-09-10 11:36] 3kay opened #4405 "PPA install of 0.14 on RPI"
Hello,

I have installed 0.14 via PPA on a raspberry pi 2 as per installation guide with only one tweaking.
While the repository was properly loaded, apt-get update gave me 404 error of not found on ka-lite.
I had to manually check the /etc/apt/sources.list.d/learningequality-ka-lite-wheezy.list and changed both the deb and deb-src files to refer to /ubuntu trusty main instead of /ubuntu wheezy ma

[2015-09-10 12:10] djallado commented on #4399
I tested the latest build by @arceduardvincent. I also perform the same process as what @arceduardvincent did, the issue still manifest in the latest build.

[2015-09-10 16:39] rtibbles opened #4407 "On page load, content rating makes 4 POST requests, 2 of which return a 400 status."
Branch: 0.15.x

Expected Behaviour: We shouldn't have to make any saves until something actually changes in the content rating, and all those should be well formed requests.

Current Behaviour: Content Rating attempts four saves immediately on page load, even though I have not interacted with the content rating widget at all. 2 of these attempts at saves return a 400 error from the server.

![imag

[2015-09-10 16:49] rtibbles opened #4408 "Content Rating appears before user has engaged with the content at all"
Branch: 0.15.x

Expected Behaviour: We should only elicit feedback about content once a user has actually engaged with it in some way.

Current Behaviour: We ask them for feedback before they have pressed play or attempted to answer any questions.

[2015-09-10 16:50] rtibbles commented on #4396
Fixed in #4397

[2015-09-10 16:50] rtibbles commented on #4001
Fixed in #4332

[2015-09-10 16:50] #4001 closed

[2015-09-10 17:00] MCGallaspy commented on #4407
Can you provide the headers or the body of the 400 requests?

[2015-09-10 17:04] rtibbles commented on #4340
@MCGallaspy for the first issue, I think the ellipsis is probably going to be best here, with a good tooltip on hover.

[2015-09-10 17:34] MCGallaspy commented on #4340
Sounds good. What about tablets? Perhaps we can expand the column on a press or a long press?

[2015-09-10 17:44] rtibbles commented on #4340
Probably the way to go.

[2015-09-10 18:32] aronasorman commented on #4335
We can reuse the `DO_NOT_RELOAD_CONTENT_CACHE_AT_STARTUP` flag and deprecate the old method of caching startup data.

[2015-09-10 18:44] rtibbles commented on #4396
@MCGallaspy reports new issues.

[2015-09-10 18:57] MCGallaspy commented on #4396
This path is duplicated: /learn/khan/math/early-math/cc-early-math-measure-data-topic/cc-early-math-length-intro/order-by-length/

It's both an exercise and a video.

This one too: /learn/khan/math/early-math/cc-early-math-geometry-topic/cc-early-math-fractions-of-shapes/equal-parts-of-circles-and-rectangles/

[2015-09-10 18:58] MCGallaspy commented on #4396
To be clear, clicking the sidebar entry for either of those two items will only bring you to one -- the other is not accessible.

[2015-09-10 20:11] MCGallaspy commented on #4408
How would you prioritize this? Could it potentially wait for 0.16? It doesn't seem outside the realm of possibility for 0.15, but it's a slightly more substantial change.

[2015-09-10 20:12] rtibbles commented on #4340
Actually, I don't think there is much need for the tablet feature, going by this screenshot:
![image](https://cloud.githubusercontent.com/assets/1680573/9799663/88935358-57bd-11e5-9c7c-5658670ed6e6.png)

Titles are still fairly self explanatory even without tooltips, and modifying the linking behaviour would seem to me to be more trouble than it's worth, so I'll stick with this fix.

[2015-09-10 20:28] MCGallaspy commented on #4340
Sounds good to me.

[2015-09-10 20:37] rtibbles commented on #4408
I think we could triage it until 0.16.

[2015-09-10 21:37] rtibbles commented on #4353
Yeah, there seem to be some issues with generate real data that is not producing realistic data...

I am confident that the display is working correctly for actual data, so I will punt this as an issue with generaterealdata for now.

[2015-09-10 22:13] rtibbles commented on #4349
1. Can't change wording due to string freeze, might be able to clarify in docs.
2. Changed values to percentages.
3. Won't fix. The text changes size vertically when the text changes. Can be iterated on in 0.16.
4. Intentional, we merged what was ready.
5. Should be fixed by making font smaller.
6. Can't directly replicate, but selecting "Ungrouped" does seem to be doing something it ought not (it

[2015-09-10 22:41] aronasorman commented on #4378
@trexken Seems like the "counting squirrels" video is currently unavailable in French. The bug here is that it's still being shown as available otherwise.

[2015-09-10 22:42] aronasorman commented on #4378
We'll get a fix for this.

[2015-09-10 23:57] EdDixon opened #4413 "Pages not scrolling"
While testing on MAC using Chrome I seem to encounter a very intermittent issue and not one I am sure is related to KA-Lite and could be my setup here but, I have noticed that while working with some of the content both video and assessments on the MAC occasionally the pages will not scroll properly with my "magic mouse" however the up and down arrows on the keyboard will allow the page to scroll.

[2015-09-11 00:12] rtibbles commented on #4366
![image](https://cloud.githubusercontent.com/assets/1680573/9804047/1cf66c0e-57de-11e5-803b-2f98414d3228.png)

[2015-09-11 01:44] MCGallaspy opened #4415 "Add warning to test runner"
@rtibbles perhaps can explain better, but we encountered a snafu with tests passing locally and failing remotely because running `collectstatic` doesn't clear old files -- just overwrites. Should we add a warning to the test command to remind ourselves to clear the static directory from time to time?

[2015-09-11 10:02] arceduardvincent opened #4417 "Progress bar is not working on the language pack download."
**Master:** 0.15.x

**Expected Behaviour:** Able to show the Progress bar in the language pack download page when downloading the selected language pack.

**Current Behaviour:** Progress bar is not showing on the language pack download page when downloading the selected language pack.
See image as demonstration
![screenshot 2015-09-11 17 43 08](https://cloud.githubusercontent.com/assets/4099119/98

[2015-09-11 10:50] arceduardvincent opened #4418 "Exercises pane no longer centered."
**Branch:**  0.15.x

**Expected Behaviour:**  The left pane must align horizontally with the right pane.

**Current Behaviour:** The left pane align odd to the right pane.
![screenshot 2015-09-11 17 47 07](https://cloud.githubusercontent.com/assets/4099119/9812910/75ece038-58b3-11e5-8cda-47a5134b6861.png)

**Steps to Replicate**

[2015-09-11 13:11] EdDixon commented on #4352
@mike I don't think I did use the one click registration but it os too long ago to be sure I can test again both ways here?

[2015-09-11 14:00] jinchuika commented on #4417
My progress bar, in 0.14.0, always freezes at 16.6% and then jumps to 87% before finishing. Is this a normal behavior?

[2015-09-11 14:17] jinchuika commented on #4357
I'm having the same space in 0.14

![image](https://cloud.githubusercontent.com/assets/5230176/9816963/622a7016-585d-11e5-8fcd-cd98c3ed17b2.png)

[2015-09-11 16:40] aronasorman commented on #4417
Hi @jinchuika, it's the expected behaviour right now, as the stages during language pack download aren't all the same length.

[2015-09-11 16:53] aronasorman commented on #4417
However @arceduardvincent's issue is different, as the progress isn't getting shown in the first place. Will test and confirm.

[2015-09-11 18:31] MCGallaspy commented on #4357
@jinchuika thanks for the additional info.

[2015-09-11 18:48] 3kay commented on #4405
PPA installation of 0.14 on Ubuntu in a laptop is working fine.  So, i assume it was the non wheezy ppa that was causing the problems in a raspberry pi installation. I do not know where to find the PPA repository for the wheezy version of 0.14 or any other version. Google does not seem to be helping in this search. Could someone please point me to the proper PPA repository? I know this may be the

[2015-09-11 23:20] MCGallaspy commented on #4405
Hi @3kay, looks like you've got several different issues/questions here. First of all, 127.0.0.1 is a [reserved IP address](https://en.wikipedia.org/wiki/Reserved_IP_addresses) that just refers to your own machine.

Perhaps @benjaoming and @aronasorman can comment on the following issues:
* Port 7007 displayed instead of 8008
* Installing using the PPA on Ubuntu. Sounds like you're using version 1

[2015-09-11 23:24] benjaoming commented on #4405
@3kay KA Lite for raspberry pi installs nginx and you have to access it on port 8008. Nginx forwards page serving to ka-lite, but static media (images, videos etc) are served by nginx because it's less memory intensive.

Regarding the third address, try looking at output from `ifconfig`, perhaps that will tell you about a third network interface.

[2015-09-11 23:54] jamalex commented on #4405
@3kay, can you describe your network setup (in particular, how the pi is connected to the net, and how your client browser is connected to the pi -- or is it on the pi itself)? It's possible that even though the Pi has internet, your client device connecting to the Pi can't connect to the internet, which could cause issues.

169.x addresses are typically internal/private addresses that can indicat

[2015-09-12 00:03] #4309 closed

[2015-09-12 00:05] MCGallaspy commented on #4314
Hopefully using the Remote WebDriver will free up resources on the testing machines, avoiding these kinds of failures.

[2015-09-12 00:05] #4314 closed

[2015-09-12 00:05] #4367 closed

[2015-09-12 01:50] rtibbles commented on #4369
Is this any better?

![image](https://cloud.githubusercontent.com/assets/1680573/9829352/f6b18500-58b5-11e5-8965-7c6d0a50ef78.png)

[2015-09-12 01:55] rtibbles commented on #4362
Like this?

![image](https://cloud.githubusercontent.com/assets/1680573/9829372/accf0e7a-58b6-11e5-873e-60410e93a2a5.png)

[2015-09-12 01:57] rtibbles commented on #4361
Not sure I understand the issue here.

I am finding that it remains in a fixed position relative to the viewport, which is by design, so that users don't lose it when they scroll around the page - is that what you are describing?

[2015-09-12 02:16] rtibbles commented on #4357
This is due to the way that videojs displays the thumbnails - not quite sure how to fix it at this point, but simply deleting the <img> tag that contains the thumbnail definitely gets rid of the whitespace.

[2015-09-12 04:38] rtibbles commented on #4396
Figured this out - in 'fixing' the deduplication code, I inadvertently prevented it from recursing the whole topic tree, so it was only deduplicating the top level. Will put in a PR shortly once I have updated the topic tree and contents.

[2015-09-12 07:55] rtibbles opened #4423 "Running manage create_dummy_language_pack raises an exception"
Expected behaviour: Should create a dummy language pack.

Current behaviour:
[code]

[2015-09-12 08:22] rtibbles commented on #4417
```sprintf is not defined```

Thought I had fixed this... but maybe only on develop.

[2015-09-12 08:26] rtibbles commented on #4417
Fixed, but getting these errors during actual download now:
![image](https://cloud.githubusercontent.com/assets/1680573/9830707/412275ea-58ed-11e5-9509-1e7b19849f48.png)

[2015-09-12 08:28] rtibbles commented on #4336
Assume this is fixed as relevant PR has been merged.

[2015-09-12 08:28] #4336 closed

[2015-09-12 20:23] 66eli77 commented on #4361
the sidebar tab moved from the center position to near the top(half covered) as this picture shows

[2015-09-13 14:27] 3kay commented on #4405
@MCGallaspy,  @benjaoming , @jamalex  I am so glad to see your responses. After failing to have a successful installation using PPA ubuntu trusty and raspbian OS on rpi, I tried to install Ubuntu 14.04 LTS ( https://wiki.ubuntu.com/ARM/RaspberryPi) on my raspberry pi and then ppa installed ka-lite. The installation went smooth like before but ended up in exactly the same situation. :7007 instead o

[2015-09-13 14:46] benjaoming commented on #4405
@3kay For the raspberry pi version of ka-lite, nginx listens on 8008, and the ka-lite gateway is listening on 7007, but you should access the server on 8008.

If you installed the `ka-lite` package from the PPA, you'll have a package that does not configure nginx and thus uses more resources for serving static media. You should install `ka-lite-raspberry-pi` instead. Before doing that, remove your

[2015-09-13 15:01] 3kay commented on #4405
@benjaoming right now I have only one problem. I am using ka-lite on raspberry pi and the raspberry pi browser on the same machine. I can ping anywhere and the Internet is working. Yet when I try to register the device - it says the device needs to have an Internet connection and is not registering the device. I can't download a video also.

[2015-09-13 15:04] 3kay commented on #4405
@benjaoming I re-installed ka-lite from the -bundle.deb file not ppa.

[2015-09-13 21:12] 3kay commented on #4405
@MCGallaspy , @benjaoming , @jamalex

Up and running with PPA fresh install on another SD card. Managed port settings with ka-lite-gtk. I can now register the device as well as download videos.
Thank you so much,

Lutfullah

[2015-09-14 01:47] cpauya commented on #4418
@arceduardvincent Just to confirm: For this issue, you used [khan_assessment.zip](https://learningequality.org/downloads/ka-lite/0.15/content/khan_assessment.zip) instead of `assessment.zip` on the branch `0.15.x`, right?

[2015-09-14 03:16] arceduardvincent commented on #4418
Hi @cpauya, yeah I used the khan_assessment.zip instead of assessment.zip on the branch 0.15.x then this issue occur.

I change the title above so it will not be confusing.

[2015-09-14 08:09] rtibbles commented on #4361
It is designed to go near the top, so as not to obscure the content. I am finding that it is most of the way to the top, but not all the way to the top as in your screenshot.

If it was most of the way to the top, this is intended behaviour.

[2015-09-14 10:01] benjaoming commented on #4405
@3kay thanks for updating us on your solutions!

 Regarding this:

I'm pretty sure we had an issue that was solved related to this behaviour, maybe @MCGallaspy can find it, because I can't :)

[2015-09-14 16:46] aronasorman commented on #4417
@rtibbles did you try downloading that here in the office? It seems our office wifi is dropping downloads halfway.

[2015-09-14 16:49] rtibbles commented on #4417
No, this was at home.

On Mon, 14 Sep 2015 09:46 Aron Fyodor Asor <notifications@github.com> wrote:

[2015-09-14 17:17] MCGallaspy commented on #4405
Hi @3kay, glad you resolved your issue, but I wonder if you can share any more details on how you resolved it for the benefit of other people that might wander in.

In that issue, users were redirected away from the video download page. @3kay when you navigated to the video download page, were you redirected away from it? Or were you able to navigate to the page, but unable to download videos? If

[2015-09-14 19:53] 3kay commented on #4405
@MCGallaspy
About the video download, this is what I wrote in my first post:
"-----when i try to download any video in any subject it does say successfully launched but then quickly exits with a flash message 'refused connection' that vanishes very quickly"
Surely i was navigated to the download page - the topic tree also came on screen - after selection of a particular video - it gave a message -

[2015-09-14 20:46] 66eli77 commented on #4369
look good, merged

[2015-09-14 20:46] 66eli77 commented on #4362
merged

[2015-09-14 21:11] EdDixon commented on #4352
@benjaoming this issue also happened here today after installing on Debian Stable using the dpkg -i installation method. For clarity can you confirm that we are supporting dpkg -i of the deb package in the 0.14.0 release? Somehow I was thinking we decided not to and wait to work out issues in 0.15 but the worst seem to have been resolved prior to release and it is still documented as the prefered

[2015-09-14 21:16] rtibbles commented on #4357
Fixed in #4421

[2015-09-14 21:16] #4357 closed

[2015-09-14 21:16] rtibbles commented on #4362
Fixed in #4421

[2015-09-14 21:16] #4362 closed

[2015-09-14 21:16] rtibbles commented on #4369
Fixed in #4421

[2015-09-14 21:16] #4369 closed

[2015-09-14 21:21] rtibbles commented on #4396
Assuming fixed by #4422 - if you see a recurrence, @MCGallaspy, please feel free to reopen.

[2015-09-14 21:21] #4396 closed

[2015-09-14 21:21] rtibbles commented on #4417
Reported issue is fixed by #4424 though, so let's close this.

[2015-09-14 21:21] #4417 closed

[2015-09-14 22:23] rtibbles commented on #4399
Fixed in #4411

[2015-09-14 22:23] #4399 closed

[2015-09-14 22:46] benjaoming commented on #4352
@ed both PPA and dpkg -i are supported, the dpkg -i is documented as the main method because that's what makes sense in offline environments.

Regarding the issue, I suspect that it's universal and not related to Win/OSX/deb.

[2015-09-14 23:05] EdDixon commented on #4352
Thanks @benjaoming I am rerunning the test now to make absolutely sure, it does not make a lot of sense to me that it wasn't encountered during the PPA installation tests on Ubuntu which went fine?

[2015-09-14 23:42] rtibbles commented on #4337
Fixed in #4414

[2015-09-14 23:42] #4337 closed

[2015-09-14 23:42] rtibbles commented on #4338
Fixed in #4414

[2015-09-14 23:42] #4338 closed

[2015-09-14 23:42] rtibbles commented on #4339
Fixed in #4414

[2015-09-14 23:42] #4339 closed

[2015-09-14 23:42] rtibbles commented on #4340
Fixed in #4414

[2015-09-14 23:42] #4340 closed

[2015-09-14 23:42] rtibbles commented on #4341
Fixed in #4414

[2015-09-14 23:42] #4341 closed

[2015-09-14 23:42] rtibbles commented on #4342
Fixed in #4414

[2015-09-14 23:42] #4342 closed

[2015-09-14 23:42] rtibbles commented on #4343
Fixed in #4414

[2015-09-14 23:42] #4343 closed

[2015-09-14 23:43] rtibbles commented on #4349
Fixed in #4414

[2015-09-14 23:43] #4349 closed

[2015-09-14 23:43] rtibbles commented on #4351
Fixed in #4414

[2015-09-14 23:43] #4351 closed

[2015-09-14 23:43] rtibbles commented on #4366
Fixed in #4414

[2015-09-14 23:43] #4366 closed

[2015-09-14 23:46] rtibbles commented on #4010
Note: This will happen automatically in 0.16.

[2015-09-14 23:46] rtibbles commented on #4011
@jtamiace This will involve changing a single setting in the search autocomplete, straight forward fix!

[2015-09-14 23:52] rtibbles commented on #4401
Yeah, we don't need to run collectstatic in dev mode at all.

[2015-09-15 09:03] benjaoming commented on #4401
@rtibbles but that only applies to Django's dev server, right? Not
cherrypy... anyways, we should be able to take responsibility for running
collectstatic manually, and there's all sorts of automated tools for
running it.. and it's even possible to use `collectstatic -l` which will
create links instead of copying files.

On 15 September 2015 at 01:52, Richard Tibbles <notifications@github.com>
wro

[2015-09-15 11:53] djallado opened #4429 "No indicator in the topic tree for a specific video after a successful download."
**Branch:** `Master`

**Current Behaviour:** After a successful download of a video, the indicator is not shown in the topic tree for that specific video download.
![screen shot 2015-09-10 at 5 49 02 pm](https://cloud.githubusercontent.com/assets/8664071/9812772/4d8cfc28-58b2-11e5-9df1-15e1e1646c12.png)

**Expected Behaviour:** The indicator must be shown after a successful video download.

**Step

[2015-09-15 11:54] djallado opened #4430 "Progress bar is not showing when downloading a video."
**Branch:** `Master (0.15.x)`

**Current Behaviour:** When downloading a video, the progress bar will not show until the video download is done.

**Expected Behaviour:** Progress bar must be shown when the video download starts.

**Step to Reproduce:**

1. Login as admin.
1. Click on video tab, and select a video you want to download in the topic tree.
1. Click on `Download` button.

**Screenshot*

[2015-09-15 18:00] 66eli77 commented on #4361
closed because this behavior is intentional

[2015-09-15 18:00] #4361 closed

[2015-09-15 20:26] rtibbles commented on #3913
Oh, I had actually misread @radinamatic's final description of the problem.

I am not sure this is fixable within the scope of 0.15. This might be more easily solved with video vectorization, where we can probably hot swap videos more easily?

Either way, I don't see this as fixable in 0.15.

[2015-09-16 00:19] MCGallaspy opened #4432 "KA Lite splash image off-center"
On `0.15.x`. I pulled this from the docs, but I've also noticed when using the app, or viewing sl screencasts. The splash image overflows it's container.

![image](https://cloud.githubusercontent.com/assets/8888020/9893486/be9ca724-5bcd-11e5-9a35-f75233fccbf3.png)

I think it's a vector asset, right? Can we resize it dynamically?

[2015-09-16 00:50] 66eli77 commented on #4432
if you set the width the same as its container, it should resize correctly

[2015-09-16 14:43] 3kay commented on #4405
@MCGallaspy, @benjaoming, @jamalex   I have now two almost similar PPA installs of 0.14 for one raspberry pi.

The first setup 3kay3 had no problem before. I registered the device and downloaded a test video also. Today, I configured the access point for wireless access. It went well with no problem but now I can't login with the superuser account on this setup using the browser of raspberry pi it

[2015-09-16 15:16] jinchuika opened #4434 "Error while uninstalling using apt-get"
**Version**: 0.14 (master)
**Expected behavior**: trying to remove the ka-lite package (from the PPA) using the ```apt-get``` command.
**Actual behavior**: downloads and installs the *ka-lite-bundle* package.

**Steps**:
A normal uninstall in Ubuntu 14.04 using:
```apt-get remove --purge ka-lite```

I have been unable to uninstall ka-lite using this method.

[2015-09-16 15:57] jinchuika commented on #4434
I was able to uninstall the package doing the following:

```sudo ppa-purge ppa:learningequality/ka-lite```

It removed the ppa; after that I ran the `apt-get remove --purge` command and it removed the `ka-lite` and `ka-lite-gtk` packages. How ever, I had to install a third party tool (ppa-purge). Will this dependencies issue be solved in the future?

[2015-09-16 19:55] MCGallaspy commented on #4039
Still an issue on `0.15.x`. I tried the following command: `python bin\kalite manage contentload --import -dD:\ka-lite\import_test\`. The argument gets parsed as `-dD:\ka-lite\import_test\`. Same with the long-form version, it gets parsed as `-data=D:\ka-lite\import_test\`.

Both `-d D:\ka-lite\import_test\` and `--data D:\ka-lite\import_test\` are errors.

[2015-09-16 19:58] MCGallaspy commented on #4039
I'm going to create a set of test cases for this.

[2015-09-16 21:42] MCGallaspy commented on #4039
Update about the above `--import` requires an argument, and it's value is being set to `-dD:\ka-lite\import_test\`... however, I would expect it to fail, given that there is whitespace.

[2015-09-16 21:44] MCGallaspy commented on #4039
So it seems that some combinations of arguments actually foil correct parsing, but not all.

[2015-09-16 21:49] jamalex commented on #4039
This sounds accurate. It's like an easter egg hunt!

[2015-09-16 23:46] MCGallaspy opened #4438 "Better way to specify CHANNEL setting"
This isn't a bug by a usability consideration. Since we're deprecating the user of local_settings.py, if one wishes to specify the CHANNEL setting, one has to also specify a number of derived settings (I'm looking at CHANNEL_DATA_PATH and CHANNEL_DATA).

I think the best solution is to remove derived settings into the relevant app within kalite, so that it's loaded _after_ the user's settings modu

[2015-09-16 23:49] MCGallaspy commented on #4438
@aronasorman incidentally, despite my best efforts I'm having some trouble importing a channel for testing. Could there be other settings I'm missing? What is the recommended way to import a channel?

[2015-09-17 06:09] mikewray opened #4439 "User locked out / can't log in"
Hi there, this happens about once or twice a month at our centres, a user is not able to login into their account with the error message below. This problem only applies to the local device i.e. the only way I can fix this is to create a brand new database which is a pain and logistically difficult.  Otherwise the other alternative is to create a new student account but then the student loses all

[2015-09-17 12:52] djallado commented on #4429
The same issue I filed in https://github.com/learningequality/installers/issues/166.

[2015-09-17 12:55] djallado commented on #4430
The same issue in https://github.com/learningequality/installers/issues/164.

[2015-09-17 15:14] benjaoming commented on #4434
@jinchuika do you have ka-lite-gtk installed? In that case, it's because it depends on ka-lite *or* ka-lite-bundle. In case you uninstall one of them, it will fetch the other to satisfy this dependency.

Instead, try `sudo apt-get purge ka-lite-gtk ka-lite ka-lite-bundle`.

[2015-09-17 16:38] jinchuika commented on #4434
@benjaoming Exactly, I had ka-lite-gtk installed, but not the ka-lite-bundle package. When I ran the order you wrote, without the ka-lite-bundle package, I was able to uninstall both ka-lite and ka-lite-gtk.

So, it worked. Thanks.

[2015-09-17 16:46] benjaoming commented on #4434
@jinchuika cool, glad it worked and thanks for reporting back. I think this is an issue about making our docs about uninstalling better. I'll remember this for next time and try to experiment with a universal uninstallation command.

Btw. using --purge does not remove data you may have downloaded. For that, you need to locate and delete you `.kalite` folder.

[2015-09-17 16:46] #4434 closed

[2015-09-17 18:12] rtibbles commented on #4432
Fixed in #4435

[2015-09-17 18:12] #4432 closed

[2015-09-17 18:23] rtibbles commented on #4401
I believe that symlinking can cause permissions issues, and does not work terribly well cross platform.

[2015-09-17 19:21] aronasorman commented on #4423
Looks like we weren't building 0.15 language packs on the staging server.

[2015-09-17 20:38] MCGallaspy opened #4442 "MP3 playback looks overly minimal, has dead link"
On `0.15.x`. Looks like this:

![ss2](https://cloud.githubusercontent.com/assets/8888020/9945284/2d6fbdfc-5d41-11e5-9377-58dc6cc9cdbc.png)

Play/Pause works fine. The `<li>` link at the bottom is broken (leads to `http://127.0.0.1:8008/content/.mp3`). Could it be because I didn't include a metadata file?

[2015-09-17 21:56] jinchuika commented on #4413
I'm testing in Chrome on Ubuntu and the same issue is happening. The page won't scroll using the scroll wheel, mostly when watching a video.

[2015-09-17 22:10] aronasorman commented on #4335
Looking at this for a short while. I couldn't run `create_content_db` with the latest `0.15.x`. I get this error:
[code]

Looking at `topic_tools/settings.py` where `CONTENT_FILEPATH` is defined, it also requires the `settings` module. So there might be some circular import going on here that's preventing this module to load.

[2015-09-17 22:12] rtibbles commented on #4335
Yeah, I made changes to fix this in the branch I was working on. Still not got to the root of most things in the topic tree seeming available though (even though the individual videos are correctly annotated in the content caches.

[2015-09-17 22:19] rtibbles commented on #4335
OK, the video annotation issue seems to be extant generally on 0.15.x, investigating.

[2015-09-17 22:21] rtibbles opened #4443 "Video availability annotation does not correctly propagate into topic tree"
Branch: 0.15.x
Ubuntu, Chrome

Videos that are not downloaded seem to be correctly annotated within content_cache, but their availability is not correctly flagged on the topic tree itself.

[2015-09-17 22:21] rtibbles commented on #4335
Issue here: #4443

[2015-09-17 22:28] aronasorman commented on #4443
Since you were testing the sqlitedict stuff before this, did you make sure to delete the `sqlitedict` generated to make sure everything's vanilla? The path to it should be given by:

[code]

[2015-09-17 22:31] 66eli77 commented on #4442
the stylesheet does not get loaded maybe, but this looks pretty trendy though

[2015-09-17 22:43] MCGallaspy opened #4444 "Channel import with contentload documentation"
It's not super obvious to me how to use it. It's not a user-facing tool at this point, so not a high priority, but it might be useful to document its use.

[2015-09-17 22:43] rtibbles commented on #4443
Yep, this was the issue. Must have been my hamfisted attempt to commit stuff. Closing!

[2015-09-17 22:43] #4443 closed

[2015-09-17 22:44] MCGallaspy commented on #4442
No milestone, as we don't currently include mp3s and its not required by any of our partners at this point AFAIK.

[2015-09-17 23:02] benjaoming commented on #4401
@rtibbles yes I know, I'm suggesting it as a means for development so you don't have to run `collectstatic` every time you change a file.......

[2015-09-17 23:04] benjaoming commented on #4401
Fixed in #4441

[2015-09-17 23:04] #4401 closed

[2015-09-18 00:44] 66eli77 opened #4447 "Cannot download videos on Mac, "DatabaseError: no such table: chronograph_job""
Branch: 0.15.x
OS: Mac Yosemite 10.10.3
Browser: Chrome
NOTES: Mike confirm he has no problem with windows, so I think it may be mac only
Steps to replicate:
1. run 'kalite manage setup --settings=kalite.project.settings.dev' to delete the data.sqlit file
2. start server in dev mode
3. login as admin and go to video downloading page
4. download a video and you should see the error like this
[code]

[2015-09-18 00:46] 66eli77 commented on #4447
@EdDixon @aronasorman @cpauya   if you use Mac, can you verify this issue on you machine?

[2015-09-18 00:47] rtibbles commented on #4438
Fixed in #4440

[2015-09-18 00:47] #4438 closed

[2015-09-18 02:48] cpauya commented on #4447
Hi @66eli77 - I assume this is using git to setup ka-lite on your Mac and not the .dmg installer?

[2015-09-18 05:07] 66eli77 commented on #4447
@cpauya you are right, not the installer

[2015-09-18 10:11] cpauya commented on #4447
Tried this with `bin/kalite manage setup --settings=kalite.project.settings.dev` but got this issue (it's a different one with @66eli77 but I think @djallado have the same issue as mine):

[code]

Even running `bin/kalite manage setup` yields the same issue.

I have no `KALITE_PYTHON` or any other environment variables, I did not activate `virtualenv`, and I'm on `0.15.x` branch.

Will test some m

[2015-09-18 16:55] 66eli77 commented on #4447
@cpauya sqlitedict is a python source code module located in <your_python_source>/site-packages.
 sqlitedict should be included in your requirements.txt file.
Try run "pip install -r requirements_dev.txt"

[2015-09-18 17:30] MCGallaspy commented on #4413
Seems like a video page issue. @jamalex do you have the opportunity to address this? If not, please assign me.

[2015-09-18 17:33] jamalex commented on #4413
We've seen this on the exercises before, especially ones with draggable elements -- they absorb scroll events. I wonder whether the new version of video.js integrated does the same -- if testers could see whether it makes a difference where the mouse pointer is when trying to scroll, that'd be handy (i.e. on the video player, on the sidebar, on the page background, etc).

@MCGallaspy I won't have

[2015-09-18 17:44] MCGallaspy commented on #4418
@rtibbles is it possible to see a diff of the data for this assessment item from the last assessment item zip and the current one? My guess is that's the cause of this issue.

[2015-09-18 17:46] MCGallaspy commented on #4439
Hi @mikewray. What version of KA Lite are you using when you encounter this error?

[2015-09-18 17:49] MCGallaspy commented on #4430
Is this version 0.14.0?

[2015-09-18 18:01] rtibbles opened #4449 "window.userView is undefined - 403 returns do not properly prompt for user login"
Branch: 0.15.x
Ubuntu, Chrome

To prompt a login when an API call returns a 403, we rely on a globally defined userView. This appears to be undefined.

[2015-09-18 18:36] rtibbles commented on #4418
This has nothing to do with assesment items, as the same styling issue occurs on Khan Exercise exercises.

![image](https://cloud.githubusercontent.com/assets/1680573/9967706/193b78fe-5df9-11e5-9da3-1fc4e933c9c4.png)

The issue here is that the content area view is now styled differently to allow the videos to take up the whole width of the screen if possible, meaning the exercises are now free to

[2015-09-18 18:41] rtibbles commented on #4423
Different error now:
[code]

[2015-09-18 18:53] rtibbles commented on #4423
Seems like the base language pack that the command is downloading has no mo files in it.

[2015-09-18 18:58] 66eli77 commented on #4447
I tested video downloading with 0.14.x on my Mac, and it works fine. Seems like some new stuff introduced to 0.15.x cause the problem

[2015-09-18 19:37] rtibbles commented on #4070
This can't be done in 0.15 due to string freeze.

[2015-09-18 20:04] rtibbles commented on #4010
Punting to 0.16.

[2015-09-18 20:05] rtibbles commented on #4000
Perhaps my eye is not keen enough to pick it up, but I am not seeing the issue here.

[2015-09-18 20:06] rtibbles commented on #3997
This would require user interface text for a warning.

Past string freeze, so let's punt this.

[2015-09-18 20:19] rtibbles commented on #3346
I assume this will require the addition of text to describe the button for screen readers. Punting.

[2015-09-18 22:30] rtibbles commented on #4407
Fixed in #4409.

[2015-09-18 22:30] #4407 closed

[2015-09-18 23:53] rtibbles commented on #4101
Fixed in #4456

[2015-09-18 23:53] #4101 closed

[2015-09-19 00:51] rtibbles commented on #4418
Also, this is worse after going to a video then navigating to an exercise:
![image](https://cloud.githubusercontent.com/assets/1680573/9973780/d36d8076-5e2d-11e5-9e4e-0b241df3c587.png)

[2015-09-19 01:45] mctdog commented on #3971
I've run into the problem exactly on my Mac.  I'm not a coder - just an end user.  Can anyone provide guidance on how to delete  the ~./kalite folder so I can get second install work?  When I load KA Lite Monitor it loads, but I'm unable to "Start" KA Lite.  I've tried every permutation of how to get it start, but KA Lite always stops and I can never open KA Lite in the browser.  Any guidance is G

[2015-09-19 04:46] EdDixon commented on #3971
Hi @mctdog first allow me to apologize for the typo on the path that likely created a problem for you deleting it it should be "~/.kalte" so my recommendation would be (provided you know for sure you do not need any of the data there) open a terminal and first "ls ~/.kalite" you should see several subfolders such as database etc. knowing that it now exists a " sudo rm -R ~/.kalite " will get rid o

[2015-09-19 14:26] mctdog commented on #3971
Thanks so much for your help.

[2015-09-19 17:15] aronasorman commented on #4271
Has this been done @MCGallaspy ?

[2015-09-19 17:17] aronasorman commented on #4307
Is this citical for 0.15 @MCGallaspy ?

[2015-09-19 17:19] aronasorman commented on #4352
Try downloading again. Error just means a failed download.

[2015-09-19 17:19] #4352 closed

[2015-09-19 17:20] aronasorman commented on #4423
Yeah, was dbugging this last thursday. Will look further into this on Monday.

[2015-09-19 17:22] jamalex commented on #4307
Needed for Aflatoun.
On Sep 19, 2015 10:17 AM, "Aron Fyodor Asor" <notifications@github.com>
wrote:

[2015-09-19 18:26] benjaoming opened #4458 "Catch sigterm and shutdown cleanly"
How to here:

https://nattster.wordpress.com/2013/06/05/catch-kill-signal-in-python/

Use case example:

[2015-09-19 20:35] aronasorman commented on #4458
Perhaps you meant `SIGTERM`? We can pobably use the `atexit` module to handle shutdowns cleanly.

[2015-09-19 21:04] benjaoming commented on #4458
Could be that atexit is better than said link -- any opinions?

[2015-09-21 02:04] cpauya commented on #4447
Thanks @66eli77 - yes I forgot about the `requirements_dev.txt`.  I created another virtualenv for the 0.15.x branch and was able to complete the `manage.py setup` step... resuming test on the video download today.

[2015-09-21 03:37] cpauya commented on #4447
Hi @66eli77 - here are the steps to successfully download videos

1. Select 0.15.x of ka-lite repo.
2. Activate a new virtualenv.
3. Run 'pip install -r requirements_dev.txt'
4. Run 'bin/kalite manage setup --settings=kalite.project.settings.dev'
5. When asked to run 'kalite start' - select No.  (I said Yes before and the site did not host static files like https://github.com/learningequality/inst

[2015-09-21 08:32] cpauya commented on #4430
This is for 0.15.x @MCGallaspy - here's the latest update based on [KA-Lite-Monitor.dmg-2015-09-21a.zip](https://drive.google.com/open?id=0Bwf_-YL9LvlVUVdfb1Vrc2psYWs)... notice that the progress bars are there now but with no indicator of progress because of the javascript errors.

![screenshot 2015-09-21 16 27 31](https://cloud.githubusercontent.com/assets/175580/9987860/19f751a0-607e-11e5-9be1-

[2015-09-21 08:50] djallado commented on #4430
@MCGallaspy thats 0.15.x

[2015-09-21 16:49] benjaoming opened #4459 "Makefile for common build tasks"
As per discussion on how we build and distribute installers, a lot of tasks can be outlined and unified in a simple Makefile.

One principle as per discussion: The Makefile has to be readable.

Common tasks outlined in learningequality/installers#158

@cpauya @MCGallaspy I'm hoping you can adopt the file for the installers in 0.15 -- is that reasonable? I guess it's a matter of having make availab

[2015-09-21 16:53] benjaoming commented on #3808
There was already a warning issued in 0.14 that the script would be removed, I think it's safe to remove, making a release note mention is probably in good taste.

[2015-09-21 17:03] benjaoming opened #4460 "Clean up labels"
@aronasorman there's currently 21 labels. Suggested to remove a bunch of them in a previous email.

[2015-09-21 17:04] benjaoming commented on #4460
@aronasorman I'll immediately unassign you if you're off duty with the wrist... otherwise, this is a good "mouse clicking" activity :)

[2015-09-21 17:12] benjaoming commented on #2856
Closing this -- I'll make sure this is part of the Makefile as an optional step.

#4459

Actually being pep8 compatible and being able to fail a PR if it's not pep8 compliant would seem like a different issue.

[2015-09-21 17:12] #2856 closed

[2015-09-21 17:14] benjaoming commented on #1808
Since #3908 was merged, I'm gonna go ahead and close this, please feel free to reopen. Thanks @askerry

[2015-09-21 17:14] #1808 closed

[2015-09-21 17:15] maluta opened #4461 "Localized content (pt-br)"
Taking Portuguese as example, translation isn't available on left side menu even checking it.

See screenshots below:

![image](https://cloud.githubusercontent.com/assets/23658/9999036/970ec0e2-606a-11e5-8dfd-dd28943d542b.png)

![image](https://cloud.githubusercontent.com/assets/23658/9998976/5584c0e0-606a-11e5-859e-0218c4d1d029.png)

[2015-09-21 17:18] benjaoming commented on #4098
This is now implemented via ReadTheDocs, http://ka-lite.readthedocs.org/en/latest/

[2015-09-21 17:18] 66eli77 commented on #4447
Thank you @cpauya  for verifying this. I verify that video download works if I'm not using virtualenv. There's some thing funny about the kalite path settings on my machine.

[2015-09-21 17:18] benjaoming commented on #3740
This is now implemented via ReadTheDocs, http://ka-lite.readthedocs.org/en/latest/

[2015-09-21 17:24] benjaoming opened #4462 "Make fields.learningequality.org/docs redirect to RTD"
I don't know if there might be dangling references, but we should point as following:

http://field.learningequality.org/docs/0.13/en/ => http://ka-lite.readthedocs.org/en/0.13.x/
http://field.learningequality.org/docs/0.14/en/ => http://ka-lite.readthedocs.org/en/0.14.x/
http://field.learningequality.org/docs/develop/en/ => http://ka-lite.readthedocs.org/en/latest/

@MCGallaspy would you be up fo

[2015-09-21 17:24] benjaoming commented on #2920
This can still safely be implemented for 0.15 it doesn't touch the codebase really :)

[2015-09-21 17:27] benjaoming commented on #2911
This is a release blocker yet was bumped to 0.16 !? Moving back :)

[2015-09-21 17:30] aronasorman commented on #2911
I think it's too late for this :) Either way we can still upgrade to django 1.6 next release as it still supports python 2.6: https://docs.djangoproject.com/en/1.8/releases/1.6/

[2015-09-21 18:34] benjaoming opened #4463 "Create RemovedIn0_16 warning for Python 2.6"
Since we're removing Python 2.6, we should create a proper removal warning for 0.15

[2015-09-21 18:45] benjaoming commented on #3620
This is part of #4311 as there are other items in the scope here. Closing this because I'm convinced we'll have this feature in the import/export commands, and the rest is up to the installers.

[2015-09-21 18:45] #3620 closed

[2015-09-21 18:58] benjaoming commented on #3359
This will be solvable once the import/export command is in place, which will make in possible to import preseeded folder with a languagepack #4311

[2015-09-21 19:34] MCGallaspy commented on #4307
See above:

Perhaps someone else can try?

[2015-09-21 19:35] MCGallaspy commented on #4462
@jamalex and I tired to get rid of all the references. We had a series of redirects set up from www.learningequality.org which now redirect to RTD. We also tried to purge any references to field.learningequality.org. But perhaps it's now time to simply remove the docs from field?

[2015-09-21 19:39] MCGallaspy commented on #4271
No, since the question of where to host the docs was under consideration. Now since it's on RTD it uses the RTD favicon. Not sure if we can override their theme to include our own, I'll check it out.

[2015-09-21 21:11] benjaoming commented on #4462
@MCGallaspy ah cool, I was thinking about redirects, but cleaning up properly is much better. Yeah, deleting it is a good idea... then we can check to see if there are any 404s and what their HTTP referers are!

[2015-09-21 22:28] rtibbles commented on #4273
Fixed in #4451

[2015-09-21 22:28] #4273 closed

[2015-09-21 22:50] MCGallaspy commented on #4462
Okay, now removing docs from field then.

[2015-09-21 22:52] MCGallaspy commented on #4462
Done.

[2015-09-22 00:13] cpauya commented on #4459
I'd like to use this and clean-up the installer scripts but I'm not sure we can squeeze this into 0.15.x @benjaoming :smile_cat:.   If we aim stability for that milestone, I think it's best to punt the use of this in the installers for 0.16.x.

[2015-09-22 00:16] EdDixon opened #4464 "0.15 dev Could be missing assessment items"
Apologies for such a vague title but, currently in testing we really do not know if entire categories of assessment items are missing or when shown if there are assessments within those categories missing that I am aware of. I am seeing what I think are new topics within the 0.15 MAC develop build without any assessment items. It could be that these are new and there are no assessment items for th

[2015-09-22 00:21] MCGallaspy commented on #4459
Agree with @cpauya, as per our discussion, I find it preferable to make no changes to the Windows installer build process in the limited time remaining -- let it be a project for the next cycle.

[2015-09-22 00:27] #4447 closed

[2015-09-22 08:09] benjaoming commented on #4459
Yeah, as @MCGallaspy mentioned we had a quick discussion about how to unify the installers more.

In 0.15, we introduce the Makefile and use it in the .deb process.

For 0.16, we use the Makefile for all installers -- and introduce the concept of an import/export for KA_LITE home directories such that languagepacks, database, and video downloads can be bundled for a preseeded installation. #4311

[2015-09-22 08:43] benjaoming commented on #4462
Awesome! Let's check the 404 logs in a week.

[2015-09-22 08:43] #4462 closed

[2015-09-22 14:40] mikewray commented on #4439
Hi, so sorry for late response - I somehow missed it. I'm on version 0.12.10, I know its an old one, was waiting for 0.13 and 0.14 to settle in - plan to migrate in a few months. Is there line of code I could run to get rid of the assertion error? Also, would be great to know what cause is so I can try avoid it in future.

[2015-09-22 16:57] jamalex opened #4466 ""Error during update: Error: File is not a zip file" when downloading Hindi language pack"
Branch: 0.14.x (running from source)

After the language pack finished downloading, I got:

![image](https://cloud.githubusercontent.com/assets/618416/10025241/20d7c8fa-6110-11e5-968c-4466688360d0.png)

[2015-09-22 16:59] jamalex commented on #4466
The first time I tried, I think I got "list index out of range". But I thought maybe it was because I needed to refresh the page (it had been open since yesterday).

[2015-09-22 17:00] jamalex commented on #4466
Also curious: why does it already switch to Hindi in several places while downloading the language pack? How does it even have the strings yet?

![image](https://cloud.githubusercontent.com/assets/618416/10025362/bdac92f0-6110-11e5-9c4f-3f12449f5f5c.png)

[2015-09-22 17:01] jamalex commented on #4466
Apparently "अमान्य कैश" means "Invalid cache", but I'm guessing "Invalidating cache". Hangs for a long time on that step. General/known 0.14 problem, @rtibbles?

[2015-09-22 17:03] jamalex commented on #4466
And the third time it did eventually complete.

[2015-09-22 17:04] rtibbles commented on #4466
Yes, invalidating the cache takes a while. However, as we need to restart the server to load a new language pack, that might be a bad idea anyway.

[2015-09-22 17:05] jamalex commented on #4466
On the video download page for Hindi (http://127.0.0.1:8008/update/videos/?lang=hi), it's been hanging for a long time.

It seems the topic tree endpoint (http://127.0.0.1:8008/api/videos/topic_tree?lang=hi) is returning `null`.

[2015-09-22 17:07] jamalex commented on #4466
Oh. We don't say that anywhere. :/

[2015-09-22 17:07] jamalex commented on #4466
Is that in order to load the new Po files, or something?

[2015-09-22 17:08] rtibbles commented on #4466
No, there is an open issue and open PR for it, but I only found the issue after the string freeze for 0.15, so it is currently targeted to develop....

[2015-09-22 17:09] rtibbles commented on #4466
I imagine it is a po files thing - @aron can probably say most clearly.

[2015-09-22 17:10] jamalex commented on #4466
I'd say it seems worth putting a message even into 0.14 about that (if it's not something easy to fix), since  the disadvantage of the Languages tab having an untranslated string would probably be outweighed by the disadvantages of the user thinking i18n was completely broken.

[2015-09-22 17:11] jamalex commented on #4466
I restarted the server, and http://127.0.0.1:8008/api/videos/topic_tree?lang=hi still returns `null`.

[2015-09-22 17:35] MCGallaspy commented on #4307
Updated original comment with branch info.

[2015-09-22 18:34] aronasorman commented on #4311
Based on my understanding of the 0.16 planning meeting we had, we really only want an MVP of this. Basically the only platform that actually needs this is the RPi. If that's correct then should this be in the installers repo then?

[2015-09-22 18:37] 66eli77 commented on #4300
merged

[2015-09-22 18:37] #4300 closed

[2015-09-22 18:42] EdDixon opened #4467 "New Video Tree not updating video data after download"
On MAC 0.15 develop the videos tree is not updated to show which videos have been downloaded after downloading them. In the screenshot all counting videos were selected and 9 out of 10 did download according to the notification but the tree is not updated to reflect this?
![2015-09-22_12-26-32](https://cloud.githubusercontent.com/assets/4349806/10028017/60901706-6127-11e5-9327-06de7427b79a.png)

[2015-09-22 18:46] aronasorman opened #4468 "Can't switch to another language to download dubbed videos"
branch: 0.15.x

In the download videos page, we have this:

![image](https://cloud.githubusercontent.com/assets/191955/10028052/2cc90cc8-611f-11e5-8e2f-32a57b0b8920.png)

Expected behaviour: Clicking the "English" link will change the link to a dropdown box, allowing me to download dubbed videos for that language.

Current behaviour: Clicking said link will just reload the same page.

[2015-09-22 18:50] benjaoming commented on #4311
Yes, this is for 0.16. It's a universal feature for anyone wanting to replicate KA Lite across multiple platforms on their own -- or for package maintainers creating installers with preseeded languagepack/assessment items/databases etc.

[2015-09-22 20:08] EdDixon commented on #4467
A refresh reveals I was logged out during the process which may help debug the problem. Also, note: this is after installation and without a reboot or restart of the server.
![2015-09-22_12-56-43](https://cloud.githubusercontent.com/assets/4349806/10030120/455788be-6133-11e5-8d0e-478b2ade72dc.png)

[2015-09-22 20:08] EdDixon commented on #4467
After which the videos are shown to have been downloaded.
![2015-09-22_13-26-37](https://cloud.githubusercontent.com/assets/4349806/10030153/71ed92c4-6133-11e5-891a-3fb69ee25104.png)

[2015-09-22 20:18] EdDixon commented on #4467
Very odd and may need to become a separate issue but, while looking at the assessments I noticed that the videos that where just downloaded are not showing in the learn tab despite the fact they are listed in the Video Tree? I did test downloading language packs but made no changes to the default language before checking here?
![2015-09-22_14-14-56](https://cloud.githubusercontent.com/assets/43498

[2015-09-22 20:49] EdDixon commented on #4467
Stopping the server and then restarting and logging back in does make the downloaded videos appear in the learn
![2015-09-22_14-47-26](https://cloud.githubusercontent.com/assets/4349806/10031190/0dd10784-6139-11e5-8458-097c71608adc.png)
 tab.

[2015-09-23 00:48] aronasorman commented on #4423
Should be fixed in https://github.com/fle-internal/ka-lite-central/commit/e4094fa1b29edabfccc594a4cc683072c80e5434.

[2015-09-23 00:48] #4423 closed

[2015-09-23 00:48] aronasorman commented on #4423
Just need a new run of the language packs. Should be fixed tomorrow.

[2015-09-23 06:21] 66eli77 commented on #4468
fixed in PR #4469

[2015-09-23 07:20] 66eli77 commented on #4430
@djallado @cpauya  cannot reproduce the issue with current 0.15.x
but I did get the same error message
<img width="267" alt="screen shot 2015-09-23 at 12 16 39 am" src="https://cloud.githubusercontent.com/assets/5577205/10039625/e1f2f244-6188-11e5-9f61-afe15e28f6ce.png">
<img width="692" alt="screen shot 2015-09-23 at 12 17 02 am" src="https://cloud.githubusercontent.com/assets/5577205/10039626/e6

[2015-09-23 07:27] 66eli77 commented on #4429
I can confirm that the issue can be replicated.
when I reload the page, the indicator will show up correctly.
@rtibbles do you think this has anything to do with availability stamping?

[2015-09-23 07:48] rtibbles commented on #4429
I don't think directly, no. Probably just the fancytree data not being updated on successful download.

[2015-09-23 17:27] rtibbles commented on #4468
Should be fixed by #4469.

[2015-09-23 17:27] #4468 closed

[2015-09-23 17:51] rtibbles opened #4471 "Language selector not available for logged in users - seems problematic."
Branch: 0.15.x
Ubuntu/Chrome

Expected Behaviour: Previously selected language should be retained on page navigation. Language selector should be available on every page.

Current Behaviour: Language defaults back to English, no language selector available.

![image](https://cloud.githubusercontent.com/assets/1680573/10053452/029178f6-61e1-11e5-8485-d9a0d2c3b004.png)

[2015-09-23 17:57] rtibbles commented on #4471
Woops, sorry this is a login issue. Seems like we hide the language selector when you login, even as an admin.

[2015-09-23 18:10] rtibbles opened #4472 "Exercise title and assessment item content not translated"
Branch: 0.15.x
Ubuntu/Chrome

Expected Behaviour: Both exercise title and assessment item content should be translated.
Current Behaviour: Neither are.

![image](https://cloud.githubusercontent.com/assets/1680573/10053963/9e034ac4-61e3-11e5-97b5-c6338293e03d.png)

[2015-09-23 18:11] rtibbles commented on #4472
Same issue is arising on video pages.

![image](https://cloud.githubusercontent.com/assets/1680573/10053979/c47dbd9c-61e3-11e5-8648-56ba0696a410.png)

[2015-09-23 18:24] rtibbles commented on #4472
And also in the titles of the tabular report view on the coach reports.

![image](https://cloud.githubusercontent.com/assets/1680573/10054400/b089cd6a-61e5-11e5-998f-7f05b673e259.png)

Seems like the topic tree is getting translated, but content caches not?

[2015-09-23 18:31] rtibbles opened #4473 "Language switches during language pack download"
Branch 0.15.x
Ubuntu/Chrome

Expected Behaviour: Language should always be in the currently selected language.
Current Behaviour: When downloading a language pack, the stage tracker switches to that language name when on the final step.

![image](https://cloud.githubusercontent.com/assets/1680573/10054576/a51d7b60-61e6-11e5-8a9a-01fe132315d5.png)

I think @jamalex had reported something similar to

[2015-09-23 19:58] jamalex commented on #4473
Mentioned here: https://github.com/learningequality/ka-lite/issues/4466#issuecomment-142348861

[2015-09-23 20:39] aronasorman commented on #4466
null topic tree solved by redownloading the language pac. "File is not a Zip File" solved by turning off varnish for lang pack downloads.

[2015-09-23 20:39] #4466 closed

[2015-09-23 20:55] aronasorman commented on #4472
Exercise translations seem to be a thorn on my side every release :)

[2015-09-23 21:38] rtibbles commented on #4473
Quite possible this is just displaying the name of the language pack with no other text, as seen in the command line output:
[code]

[2015-09-23 21:50] rtibbles opened #4474 "When no dubbed videos for a language, Javascript error occurs"
Branch 0.15.x
Ubuntu/Chrome

Expected Behaviour: If no dubbed videos exist for a language (for example for the DEBUG language pack), then we should inform the user of this.
Current Behaviour: If no dubbed videos exist, the video update topic tree endpoint returns None, and causes fancytree to error out while trying to call properties of null.

![image](https://cloud.githubusercontent.com/assets/16

[2015-09-23 23:43] 66eli77 opened #4477 "successful deleting video does not update the indicator"

[2015-09-23 23:48] 66eli77 commented on #4429
this should be fixed in #4476
there is another sort of relating issue I going to deal with in #4477

[2015-09-23 23:49] 66eli77 commented on #4430
okey, I spot this issue when I only download 1 video with very fast network.

[2015-09-24 00:54] 66eli77 commented on #4477
this issue is fixed in #4476

[2015-09-24 04:18] rtibbles commented on #4429
Fixed in #4476

[2015-09-24 04:18] #4477 closed

[2015-09-24 04:23] #4429 closed

[2015-09-24 06:39] arceduardvincent opened #4479 "Static files are not rendered when running 'bin/kalite manage setup --settings=kalite.project.settings.dev'."
**Branch:** 0.15.x

**Expected Behaviour:** Able to render the static files when running the `kalite start`.

**Current Behaviour:** When using the 'bin/kalite manage setup --settings=kalite.project.settings.dev' and choosing Yes during 'kalite start' does not render the static files.
![screenshot 2015-09-22 14 02 57](https://cloud.githubusercontent.com/assets/4099119/10066808/21b15204-62c9-11e5-8

[2015-09-24 07:21] 66eli77 commented on #4430
this PR #4480 seems to fix the issue by reducing the progress-check interval

[2015-09-24 17:01] rtibbles commented on #4479
This is not expected behaviour.

[2015-09-24 17:01] #4479 closed

[2015-09-24 17:07] MCGallaspy opened #4481 "Add instructions for upgrading vs new install"
@EdDixon asked:

So let's add an answer to the docs.

[2015-09-24 17:20] EdDixon opened #4483 "Sidebar is not updating downloaded videos"
While testing the current 0.15 MAC develop installer, I noticed that after having downloaded videos as the admin user then going back to the side bar the videos were not listed. I then logged out of admin and logged in as a student still the videos which where downloaded and reflected as downloaded in the video tree where not available to either user using the sidebar.

[2015-09-24 17:34] 66eli77 opened #4484 "second attempt to download video always fail"
the work around be refreshing the page or without refresh, click the cancel button

[2015-09-24 17:44] rtibbles commented on #4472
Fixed in #4475

[2015-09-24 17:44] #4472 closed

[2015-09-24 17:45] rtibbles commented on #4449
Fixed in #4450

[2015-09-24 17:45] #4449 closed

[2015-09-24 17:49] rtibbles opened #4486 "Progress bar is squashed and cancel video button misaligned"
Branch: 0.15.x

![screen shot 2015-09-24 at 7 00 08 pm](https://cloud.githubusercontent.com/assets/8664071/10071895/e0ce22fe-62ef-11e5-8b6b-5ef971e586ae.png)

[2015-09-24 17:50] rtibbles commented on #4430
Fixed in #4480

[2015-09-24 17:50] #4430 closed

[2015-09-24 17:53] 66eli77 commented on #4484
fix is in PR #4487

[2015-09-24 18:21] aronasorman commented on #3842
Stale. Reopen if still extant.

[2015-09-24 18:21] #3842 closed

[2015-09-24 18:21] aronasorman commented on #4163
Assuming fixed. Reopen if still extant.

[2015-09-24 18:21] #4163 closed

[2015-09-24 18:23] rtibbles commented on #4244
Yep, @jamie fixed in #4253

[2015-09-24 18:23] #4244 closed

[2015-09-24 18:23] aronasorman commented on #3914
Handled somewhat in #3932. Open another issue when needed.

[2015-09-24 18:23] #3914 closed

[2015-09-24 18:24] mikewray commented on #4439
Hi, I think hopefully this is sorted. I was talking to Jamie and he sent me a line of syntax I can run to resolve this. It's only an issue on v12 and is fixed later. The syntax is in case anyone else has this problem is: UserLogSummary.objects.filter(user__username="loginname")[1:].delete()

Many thanks. Michael

[2015-09-24 18:24] #4439 closed

[2015-09-24 18:24] aronasorman commented on #4386
0.14.x is now in maintenance mode. This isn't critical, so I don't think this should be for 0.14. Let's reopen this if this is still extant on develop.

[2015-09-24 18:38] aronasorman commented on #4387
I believe the general consensus was to extensively test 0.14.x manually. With 0.15 so close to release (~2 weeks), no need to pour more resources into 0.14 any more than the bare minimum.

[2015-09-24 18:38] #4387 closed

[2015-09-24 18:38] aronasorman commented on #3182
Stale. Reopen if still extant.

[2015-09-24 18:38] #3182 closed

[2015-09-24 18:42] #4418 closed

[2015-09-24 18:53] rtibbles commented on #3984
Not clear to me that discussion on how to resolve this issue is finalized. Punting.

[2015-09-24 18:54] rtibbles commented on #2920
True, but as it is unlikely to happen within the timeline of 0.15, let's punt it for now.

[2015-09-24 18:56] rtibbles commented on #2911
Is this issue for deprecating 2.6 or removing support for it? From our discussion in the 0.16 planning meeting we have already deprecated 2.6.

[2015-09-24 18:57] rtibbles commented on #2911
Punting to 0.16 in favour of #4463

[2015-09-24 19:27] rtibbles commented on #4244
Apologies @jamie - I meant @jamalex.

[2015-09-24 19:29] jamie commented on #4244
@rtibbles no problem, I get one or two mis-PMs a month, it's no big deal :)

[2015-09-24 19:34] rtibbles commented on #3967
Fixed in #4454

[2015-09-24 19:34] #3967 closed

[2015-09-24 20:02] benjaoming commented on #2920
You've gone punting hunting berzerk! :)

But yeah, let's see what we can do here. Some things might be done, but it doesn't really have to be tracked in an issue anyways. This one can be for the final death of the GH wiki.

[2015-09-24 20:06] benjaoming commented on #4387
Yeah it's fine, I managed to fix tests in a recently discarded PR and run them locally. Didn't find anything suspicious. See #4385

[2015-09-24 20:11] benjaoming commented on #4386
Please don't close it. It hasn't been fixed.

[2015-09-24 20:11] benjaoming commented on #4386
If we find the cause, we should backport it as much as possible.

[2015-09-24 20:35] 66eli77 commented on #4483
if you restart the server, will those videos be available on the sidebar?

[2015-09-24 22:13] rtibbles commented on #4484
Fixed in #4487

[2015-09-24 22:13] #4484 closed

[2015-09-24 22:15] rtibbles commented on #4486
Fixed in #4492

[2015-09-24 22:15] #4486 closed

[2015-09-24 22:34] rtibbles opened #4496 "Remove the Removed_in_KALite_016 Warning"
All warnings should be cleared before release.

[2015-09-24 22:38] rtibbles commented on #4307
Unable to replicate. Seems fine!

[2015-09-24 22:38] benjaoming commented on #4496
:+1:

[2015-09-24 23:07] EdDixon commented on #4483
Testing a restart of the server logged in as admin, the previously downloaded did show up correctly but new videos downloaded before did not show up. Roughly 30 minutes later returning from our standup meeting I found that I had been logged out of the server upon logging back in the videos I had just downloaded where listed. I hope this may help solve the problem?

[2015-09-24 23:49] #4474 closed

[2015-09-24 23:53] rtibbles commented on #4011
Fixed in #4453

[2015-09-24 23:53] #4011 closed

[2015-09-24 23:53] rtibbles commented on #4474
Fixed in #4488

[2015-09-25 03:40] cpauya commented on #4483
I manually added `DO_NOT_RELOAD_CONTENT_CACHE_AT_STARTUP = True` to `~/.kalite/settings.py`, restarted the "KA-Lite-Monitor.app", downloaded a video, checked the sidebar, but the newly downloaded video is still greyed-out.

I tried the following but no dice too:

1. Download a video, navigate to the Learn page - Sidebar - but video is still greyed-out.
2. Download a video, refresh the page, naviga

[2015-09-25 07:51] arceduardvincent opened #4500 "Error message during login is confusing."
**Branch:** `0.15.x`

**Windows installer:** kalite-setup-0.15.0--9-18-2015.exe

**Platform:** IE11 on Windows 8.1

**Expected Behaviour:** Show an appropriate error message for the username or password is not entered correctly.

**Current Behaviour:**  When you entered wrong password the error message show you that your username is not found. The username that I use is the admin account, it show

[2015-09-25 16:55] #3996 closed

[2015-09-25 17:04] EdDixon commented on #4483
With the latest build I am seeing new behavior where everything including the assessments are now greyed-out where before it was just the video content that should be there?
![2015-09-25_10-50-34](https://cloud.githubusercontent.com/assets/4349806/10106984/1178ba1a-6375-11e5-91ee-c3b154b38836.png)

[2015-09-25 17:05] 66eli77 commented on #4483
I also observed that after start the server, if you don't go to the learn page just yet, instead go to download some videos and then go to learn page, the sidebar will initiate( like it always does for the first time open the sidebar) and all downloaded videos shown up correctly.
**this is git install 0.15.x**

[2015-09-25 17:06] MCGallaspy opened #4501 "Final docs review"
Prior to release, take a careful look at the documentation. Create a documentation tarball for inclusion in installers.

[2015-09-25 17:07] rtibbles commented on #4296
Fixed in #4433

[2015-09-25 17:07] #4296 closed

[2015-09-25 17:07] EdDixon commented on #4483
@66eli77 That is exactly what I did here but I am having a completely different outcome using the MAC installer not GIT?

[2015-09-25 17:34] rtibbles commented on #4473
Fixed in #4497

[2015-09-25 17:34] #4473 closed

[2015-09-25 17:40] rtibbles commented on #4483
This seems to be Mac specific - I cannot replicate on Ubuntu/Chrome from git install 0.15.x.

[2015-09-25 17:52] rtibbles commented on #4471
@jtamiace Can you comment on whether this is expected behaviour? Hiding language selector for logged in users?

[2015-09-25 17:53] rtibbles commented on #4458
We are currently using the 'atexit' module for closing browserify while running the dev server - I imagine it is probably more cross platform also.

[2015-09-25 17:56] rtibbles commented on #4040
@benjaoming What needs to be done on this still?

[2015-09-25 18:52] #3808 closed

[2015-09-25 19:03] aronasorman commented on #4483
@cpauya, @66eli77 and I replicated this on his macbook. We set [this value](https://github.com/aronasorman/ka-lite/blob/616098398b205561cf6cf4afb9ae04f1f711e800/python-packages/fle_utils/django_utils/command.py#L110) to be unconditionally false, and now we get the expected behaviour.

I'm not sure what to do, perhaps we should remove this mac-specific hack, and see how we can avoid making KA Lite

[2015-09-25 19:06] aronasorman commented on #4483
The frustrating is that any fix we make for this will only be for 0.15, as @rtibbles' cache invalidation PR doesn't use in memory variables for caching.

[2015-09-25 19:11] rtibbles commented on #3627
Fixed in #4502

[2015-09-25 19:11] #3627 closed

[2015-09-25 19:12] rtibbles commented on #4483
Yeah, so this is definitely a threading issue - the 'cache_invalidation' is happening inside the subprocess, so its changes to the global variables are not affecting the actual ones used by KA Lite.

[2015-09-25 19:22] EdDixon commented on #4483
Probably a separate issue but, I just noticed that after restarting the server the assessments are still not listed as expected although the videos are. However this was not an issue until this latest fix to address the issue under discussion here so I think it belongs here as well.
![2015-09-25_13-18-35](https://cloud.githubusercontent.com/assets/4349806/10110125/684679f0-6388-11e5-978b-d6ffbb830

[2015-09-25 19:28] EdDixon commented on #4181
Happening now on 0.15 development builds where the user is logged out of the session after navigating away from the video download tab but it also seems to sometimes happen randomly as well. I have not been able to reliably reproduce this but, it is still happening.

[2015-09-25 19:37] rtibbles opened #4505 "Integrate content database into language pack generation, download, and unpacking"
Database backed content caches require language specific database files to be distributed in the language packs.

[2015-09-25 19:38] rtibbles opened #4506 "Reduce peak memory usage of content annotation"
Gist of current benchmarks from @gwong89

https://gist.github.com/gwong89/b05d4dc0b47af2438304

the annotate_content_items takes 85mb and takes about 27.5 seconds

[2015-09-25 19:38] aronasorman commented on #4505
Dubbed video mappings too.

[2015-09-25 19:41] rtibbles opened #4507 "Integrate video download status tracking with database backed content caches"
Now that we have a database for this kind of thing - let's use it!

Deprecate old content download tracking, and use new database instead.

@jamalex Might need some input on design here - it might be helpful to annotate every node with 'download size', 'on disk size' and 'status' (including Topic nodes) in order to be able to do efficient loading of the data (i.e. we can just query one level of th

[2015-09-25 19:42] rtibbles opened #4508 "Migrate assessment item database to new system"
This is desirable because we will want to distribute a new assessment item database for each language, rather than having the translation happen on the fly using the Django mo files (which when loaded into memory increase memory usage).

[2015-09-25 19:52] aronasorman opened #4509 "There's something wrong with the fonts"
branch: 0.15.x

![image](https://cloud.githubusercontent.com/assets/191955/10110756/2aaf9828-6384-11e5-9436-6f3955900f0f.png)

![image](https://cloud.githubusercontent.com/assets/191955/10110773/3e2ad174-6384-11e5-8266-3cdce625279a.png)

URL: http://127.0.0.1:8008/learn/khan/math/early-math/cc-early-math-counting-topic/cc-early-math-numbers-120/number-grid/

[2015-09-25 19:54] rtibbles commented on #4483
No fix has been made yet for this issue, @EdDixon, so it is not clear it's related.

[2015-09-25 19:55] aronasorman commented on #4508
We'll also want to put KA strings into the DB as well. So now the po files should only contain our strings (+ one po files from KA, for the exercise interface).

[2015-09-25 19:55] rtibbles commented on #4335
Fixed in #4446

[2015-09-25 19:55] #4335 closed

[2015-09-25 19:56] rtibbles commented on #4509
Doesn't happen in debug mode, so must be something funny with the production building. Trying to reproduce now.

[2015-09-25 19:57] rtibbles commented on #4107
Fixed in #4261

[2015-09-25 19:57] #4107 closed

[2015-09-25 19:57] aronasorman commented on #4483
Resolution was to just add a warning for Mac users, indicating that they need to restart their server once they download videos.

[2015-09-25 19:58] aronasorman commented on #4509
Also, this was in your `persist_annotation` branch, so this might've been fixed in the latest 0.15.x. Let me check that.

[2015-09-25 20:00] aronasorman commented on #4509
Still the case. If it helps, I ran my server with:

[code]

[2015-09-25 20:00] rtibbles commented on #4509
Had you run
```node build.js``` first?

[2015-09-25 20:00] rtibbles commented on #4509
I am unable to replicate it.

[2015-09-25 20:12] aronasorman commented on #4509
Fixed now. Just needed to update my assets.

[2015-09-25 20:12] #4509 closed

[2015-09-25 20:59] MCGallaspy commented on #4413
Can you guys give some examples of exercises or videos where you encountered this issue?

[2015-09-25 21:11] EdDixon commented on #4181
Expected behavior, admin session will timeout automatically in 30 minutes as a security precaution!

[2015-09-25 21:20] #4213 closed

[2015-09-25 21:54] MCGallaspy commented on #4413
Unable to replicate on Chrome or Firefox on Windows 8.

[2015-09-25 21:54] #4413 closed

[2015-09-25 21:56] MCGallaspy opened #4512 "Clicking a particular sidebar entry has unexpected results"
On `0.15.x`, clicking the exercise in the screenshot causes the user to be navigated *up* one level, instead of going to the exercise:

![ss2](https://cloud.githubusercontent.com/assets/8888020/10113053/7220ccc0-6395-11e5-9f1b-07a396ba06bd.png)

After clicking, the url is `/learn/khan/math/early-math/cc-early-math-counting-topic/numbers-to-120_1/` -- looks like something fishy with the duplicated

[2015-09-25 22:01] rtibbles commented on #4512
Weird - I'll take a look.

[2015-09-25 22:11] MCGallaspy commented on #4481
@cpauya or @aronasorman, what is the answer to this question for OSX?

[2015-09-25 22:38] jtamiace commented on #4471
That doesn't seem right. I think it makes sense for the language selector to always be available, even for logged out users. You can only toggle between language packs that have been downloaded on a particular local server right?

[2015-09-25 22:45] rtibbles commented on #4471
Yeah - I assume we must be doing this on purpose though, so was wondering when/how that happened.

[2015-09-25 22:46] rtibbles commented on #4471
Ahh... it is flagged as 'not-admin-only'. So, it gets hidden for admins.

[2015-09-25 22:48] rtibbles commented on #4471
https://github.com/learningequality/ka-lite/blob/0.15.x/kalite/distributed/templates/distributed/partials/_footer.html#L13

Should admins be able to switch language?

[2015-09-25 22:58] aronasorman commented on #4471
@rtibbles the original reasoning for that was they already control the default language for everyone. But for consistency, it might be good to just have everyone be able to switch their own language. But then there might be confusion as to what language the admin is switching currently -- the default language or just their current language?

[2015-09-25 23:03] gwong89 commented on #4506
https://gist.github.com/gwong89/b05d4dc0b47af2438304

the gist has been updated and annotate_content_models actually takes 130

[2015-09-25 23:05] rtibbles commented on #4506
Yep - looks like the main memory bloat comes from loading all the content data into memory from the query. Much better for us to do it one item at a time, I would think.

[2015-09-25 23:06] rtibbles commented on #4506
Can probably create a generator for querying the content models, so that we can iterate through them all without loading the whole list into memory, and then run update on an individual model at a time.

Would be interesting to see how this impacted performance, particularly on slow disk writing systems.

[2015-09-25 23:09] rtibbles commented on #4471
Yeah - although if someone has more than one language installed, they have already managed to make it to the language pack download page, and hence have seen the 'default language' setting there, so they have some reason not to think that, at least.

[2015-09-25 23:11] rtibbles commented on #4506
http://docs.peewee-orm.com/en/latest/peewee/api.html#SelectQuery.iterator

We can use this behaviour to construct the generator for a more memory efficient query.

[2015-09-25 23:15] MCGallaspy commented on #4501
The red border applied for element highlighting in the screenshots appears to displace elements slightly -- should just lay on top, instead of moving them.

[2015-09-25 23:37] rtibbles commented on #4501
Mike - perhaps use the outline property instead?
http://stackoverflow.com/questions/2748637/how-to-give-border-to-any-element-using-css-without-adding-border-width-to-the-w

[2015-09-25 23:46] ralphiee22 opened #4515 "Import Error on homepage"
Was on develop branch.
Ran bin/kalite start --foreground and typed 127.0.0.1:8008 into url and import error page appeared.

[code]

[2015-09-25 23:50] ralphiee22 commented on #4515
Just solved this bug.

[2015-09-26 01:09] #4515 closed

[2015-09-26 01:16] rtibbles commented on #4402
Fixed in #4495

[2015-09-26 01:16] #4402 closed

[2015-09-26 01:18] rtibbles commented on #4463
Fixed in #4495

[2015-09-26 01:18] #4463 closed

[2015-09-27 02:11] jamalex commented on #4507
Note that one of the current roles of `VideoFile` is tracking the actual
live download percentage _within_ a video (we update the DB within the
download progress callbacks). The other main role is queuing up files for
download to start with. It's not a great way to do either of those things.

One thing we've never found a good design for is knowing what to put in the
"out of X videos" part of the

[2015-09-27 02:11] jamalex commented on #4311
We do want to keep it fairly MVP, but there are several known use cases
beyond the Pi:

- Android (e.g. custom settings)
- Bundled assessment items could be unloaded through this mechanism?
- Could be a good way to get the prebuilt databases unpacked
- Custom channel needs of Aflatoun

On Tuesday, September 22, 2015, benjaoming <notifications@github.com> wrote:

[2015-09-28 07:17] cpauya commented on #4481
For Mac upgrade of the OSX installer, two possible answers:

1. Drag the new installer over to the `KA-Lite-Monitor` application in the `Applications` folder, and confirm to overwrite the existing app.
2. Delete the existing app by dragging it to the `Trash` and proceed with the installation by dragging the new installer into the `Applications` folder.

[2015-09-28 10:55] cpauya commented on #4483
Fixed in #4510 -- now have warning for users of Mac server to "restart server after downloading videos".
![screenshot 2015-09-28 18 46 53](https://cloud.githubusercontent.com/assets/175580/10133728/542c2ad2-6612-11e5-88ca-af08dbaf85d1.png)

[2015-09-28 11:56] benjaoming commented on #4501
@MCGallaspy I'm working on embedding the docs in another issue, #4348

[2015-09-28 15:28] benjaoming opened #4519 "Unresolved: "invalidate_on_video_delete""
This function no longer exists:

https://github.com/learningequality/ka-lite/blob/0.15.x/kalite/updates/management/commands/videoscan.py#L104

@rtibbles hoping you know if the fix is to remove the whole management command or how to go about with this?

[2015-09-28 15:34] rtibbles commented on #4519
Well, that is interesting - it's nowhere in current master either, so it must have been gone a while...

[2015-09-28 15:39] benjaoming commented on #4519
As in we didn't use `videoscan` for a while?

[2015-09-28 15:40] rtibbles commented on #4519
No, we use videoscan - but that particular function is not in 0.13.x either.

Because the reference happens after the return statement, I assume that is why videoscan has run without issue.

[2015-09-28 16:08] benjaoming commented on #4519
Heh, you're right... I was also seeing the unresolved func in a test, so I didn't read the code surrounding... in a process of manually reading through whatever unresolved references we have according to my PyDev static code reference checker.

Also resolved this in #4520

[2015-09-28 16:54] jinchuika commented on #4501
Did you added the suggestion in #4049? I find it really useful

[2015-09-28 16:55] MCGallaspy commented on #4460
Seems ok. Note that as @cpauya pointed out, some labels (like "ready") are managed by waffle.

[2015-09-28 16:56] rtibbles commented on #4501
I think @aronasorman is assigned to that, we will bug him about it today!

[2015-09-28 16:59] MCGallaspy commented on #4501
@benjaoming

Do those issues relate to this one? I wasn't very specific, but to be clear I'm only reviewing the documentation for accurate content, good layout, etc.

[2015-09-28 17:37] #4271 closed

[2015-09-28 17:39] rtibbles commented on #4405
@arnoan Please reopen this if you find anything that replicates this.

[2015-09-28 17:39] #4405 closed

[2015-09-28 18:22] benjaoming commented on #4501
@MCGallaspy

I was reacting on this part:

...because what I'm working on is including them in the sdist.. but since this isn't part of the Windows installer, I guess we're talking about two different things here :)

[2015-09-28 18:23] benjaoming commented on #4049
I think that splitting our installation documentation into "Online methods" vs. "Offline methods" is a great idea! :+1:

[2015-09-28 18:55] rtibbles commented on #4519
Fixed in #4520

[2015-09-28 18:55] #4519 closed

[2015-09-28 19:06] #4512 closed

[2015-09-28 19:55] aronasorman commented on #4049
Good idea @benjaoming! Maybe @arnoan can take that into account for his planned docs refactor.

[2015-09-28 20:18] arnoan commented on #4049
@aronasorman (y) Will do, that's exactly the kind of inconsistencies/incomplete information I'm currently looking out for.

[2015-09-28 20:59] MCGallaspy commented on #4501
@benjaoming if you need some files to include now, my suggestion is to grab a tarball/zipfile from RTD. If you can wait a bit for me to upload fixed-up screenshots, then you can also build the html yourself. [This is the relevant logic for including docs.](https://github.com/learningequality/ka-lite/blob/0.15.x/kalite/settings/base.py#L407) You just need to drop the html output of sphinx-build int

[2015-09-28 21:48] benjaoming opened #4527 "content_rating test not happy"
Any chance getting this fixed for 0.15? It's a test so not a dangerous fix, just that it'd be nice to get rid of these inconclusive / random test failures.

Circle CI output...

[code]

[2015-09-28 22:51] EdDixon opened #4528 "Possible server crash after cookie expiration"
On 0.15 while testing the latest MAC develop release while logged into a fresh installation as admin, I was distracted by a google voice call lasting well over the 30 minutes of expiration time the session cookie allows the admin login. During the call I noticed the browser had become unresponsive and afterwards crashed. Closing the browser I notification flashed that the ka-lite server had starte

[2015-09-28 22:55] rtibbles commented on #4528
My assumption is that this is related to some long running Javascript process that eventually causes an issue (possibly on cookie expiry, or possibly just due to bloating the memory). Would be good to track down, so that our front end code doesn't kill itself.

[2015-09-28 23:02] aronasorman commented on #4528
Is this the first time this happened recently @EdDixon?

[2015-09-28 23:36] EdDixon commented on #4528
First time I have ever seen a crash like this, definitely yes.

[2015-09-29 12:52] benjaoming opened #4529 "jquery-sparkline not building"
@rtibbles I think we quick-fixed this previously by dumping jquery-sparkline.min.js in the right location, but how can we get it working for realz?

Using node 0.12.7

[code]

[2015-09-29 13:54] benjaoming commented on #4529
I can't find jquery-sparkline 2.3.0 -- the latest package is 2.1.2, where does the 2.3.0 originate from?

[2015-09-29 14:02] benjaoming commented on #4529
Nevermind all this.

It turns out my `~/.npm` cache folder was the problem. Emptying that and jquery-sparkline 2.3.0 installs. I fear it's because I had a broken/corrupt package sitting there.

Calling `npm cache clean` could be a good idea to include in our Makefile.

[2015-09-29 14:02] #4529 closed

[2015-09-29 14:57] benjaoming opened #4530 "Include README.rst badges only on Github and RTD"
In 0.15, we started using an ReST README because it can be reused for the docs so we don't maintain the same stuff in multiple places. It would be nice if the offline build had the section with badges from online sources disabled, though

http://sphinx-doc.org/config.html#conf-tags
http://sphinx-doc.org/markup/misc.html#including-content-based-on-tags

[2015-09-29 15:24] benjaoming opened #4531 "Remove Django 1.8 from bundled dependencies"
Since we started including `django-js-reverse`, it has been installing the latest version of Django. It matters only to the distributed file size.

[code]

[2015-09-29 17:55] jamalex commented on #4348
The online docs definitely need this -- and yes, they're targeted more at admins/devs. The offline docs bundled into KA Lite (that's what this issue is about) are the opposite -- they're going to be used **primarily** by teachers and learners, and hence links like this are just a distraction/confusion.

[2015-09-29 18:21] benjaoming commented on #4458
Seems like this part of `cherrypy.process.wspbus` might be the issue:

    def block(self, interval=0.1):
        """Wait for the EXITING state, KeyboardInterrupt or SystemExit.

        This function is intended to be called only by the main thread.
        After waiting for the EXITING state, it also waits for all threads
        to terminate, and then calls os.execv if self.execv is True. This

[2015-09-29 18:24] benjaoming opened #4535 "Are migrations possibly blocked by stale content types?"
From `bin/kalite start`:

[code]

[2015-09-29 18:34] benjaoming commented on #4458
Sigterm is already caught, it's not the culprit of the original problem. Killing KA Lite does not create "Unclean shutdown."

[2015-09-29 19:06] aronasorman commented on #4049
Fixed in https://github.com/learningequality/ka-lite/pull/4533.

[2015-09-29 19:06] #4049 closed

[2015-09-29 19:07] aronasorman commented on #4481
Fixed in https://github.com/learningequality/ka-lite/pull/4514.

[2015-09-29 19:07] #4481 closed

[2015-09-29 20:03] radinamatic opened #4538 "Errno 13 during language pack update"
Errno 13 during language pack update

**Branch**: 0.15, **ka-lite_0.15~b2-0ubuntu1_all.deb** installer  on Ubuntu 15.04

**Current Behavior**:
On freshly installed 0.15 the first thing I did was to update English language pack: the process seemed to have finished correctly but with this error:

`Error during update: Error: [Errno 13] Permission denied: '/usr/share/kalite/data/khan/video_file_sizes

[2015-09-29 20:24] radinamatic commented on #4538
Same error appears after downloading Spanish language pack:

![errno13b](https://cloud.githubusercontent.com/assets/1457929/10177055/5cc35a4e-66f8-11e5-9145-85a51c7d0839.png)

##### However, the localized interface apparently works OK, once the language is changed:

![errno13c](https://cloud.githubusercontent.com/assets/1457929/10177104/bb2ee706-66f8-11e5-8f67-51a7f07c8e42.png)

[2015-09-29 20:59] radinamatic opened #4539 "Responsive design issues on localized interfaces"
Responsive design issues - this should probably be tested further with other languages (German for example) that usually have even longer localized strings than English or Spanish.

**Branch**: 0.15 (**ka-lite_0.15~b2-0ubuntu1_all.deb** installer  on Ubuntu 15.04, but it's not an installer issue)

**Current Behavior**:
Resizing the window yields some problems with the menu tabs and other elements:

[2015-09-29 23:02] radinamatic opened #4540 "Initial Login message alert is not dismissed"
Initial Login message alert is not dismissed

**Branch**: 0.15, **ka-lite_0.15~b2-0ubuntu1_all.deb** installer  on Ubuntu 15.04

**Expected Behavior**:
The initial login message after install `Please login with the admin account you created...` should not appear after the superuser has been created, and especially not when another user has logged in.

**Current Behavior**:
Superuser is created, an

[2015-09-29 23:22] radinamatic opened #4541 "Coach user - link to register device not working"
Coach user - link to register device not working

**Branch**: 0.15, **ka-lite_0.15~b2-0ubuntu1_all.deb** installer  on Ubuntu 15.04

**Expected Behavior**:
The link `Please follow the directions to register your device, so that it can synchronize with the central server.` should lead to the `/securesync/register/` page with instructions.

**Current Behavior**: If Coach user is logged in, the messa

[2015-09-29 23:54] EdDixon commented on #4541
I was not aware the coach is given the ability to register the device? That is only done once immediately after login in by the admin user as far as I know. It is good I think, that it does not allow any other user to do the registration but removing the potential to do so would be better. Perhaps simply removing that link from the page if a non admin user has logged in prior to registration?

[2015-09-30 00:28] radinamatic commented on #4541
Yeah, that option was a surprise for me too. The solution in that case, as you say, would be to ensure only Admin/Superuser has the ability to register the device and can see the corresponding message alert.

[2015-09-30 10:43] benjaoming commented on #4538
This is not a problem with the .deb but a problem with the languagepacks getting unzipped to a system location rather than a user space location.

Did anything change?

[2015-09-30 10:45] benjaoming commented on #4538
The problem isn't this:

[code]

[2015-09-30 10:46] benjaoming commented on #4538
The problem is here:

[code]

[2015-09-30 10:55] benjaoming commented on #4538
The problem is that when downloading locales, we initially wrote stuff here:

    settings.USER_WRITABLE_LOCALE_DIR

However, now that we also have `video_file_sizes.json` to worry about, we have to put that in a writeable location, too.

Not saying this issue is necessarily new.

[2015-09-30 13:09] benjaoming opened #4542 "Compress khan_assessment.zip - it's 165 MB too big."
Current zipball is 469MB:

https://learningequality.org/downloads/ka-lite/0.15/content/

I can zip its contents to a zip that's 304 MB. Command is just: `cd where/items/are && zip -r ~/newzip.zip *`

Be sensitive about the new .zip, though. I *think* we might have had issues before with the Python zip library not being able to read the new zip... so running `kalite manage unpack_assessment_zip fil

[2015-09-30 15:01] benjaoming commented on #4538
I'm not sure I really understand why there's a singular `REMOTE_VIDEO_SIZE_FILEPATH` that gets overwritten by a languagepack?

Say we have English videos and a `video_file_sizes.json` for these videos. Then we fetch a Spanish / Castilian language pack and then the global `video_file_sizes.json` is overwritten by that.

@aronasorman ?

[2015-09-30 15:04] benjaoming opened #4543 "BadZipFile if languagepack doesn't exist"
I'm marking this a release blocker until @EdDixon comments on how severe it is. I know that he has reported this on a number of occasions during testing.

It's pretty easy to recreate, just ask for a languagepack that doesn't exist. For instance, due to a bug in command line arg parsing, "=es" does not exist and gives us this error:

[code]

[2015-09-30 15:22] EdDixon commented on #4528
Despite a lot of testing, I have not been able to replicate this since that first reported occurrence.

[2015-09-30 15:47] #4080 closed

[2015-09-30 15:50] benjaoming commented on #3999
Which browser were you using?

[2015-09-30 15:51] JohnJCZhou commented on #3999
I was using chrome.

[2015-09-30 15:56] EdDixon commented on #4543
I will need to see again how severe it is in 0.15. I remember seeing it in 0.14 testing on Linux but they may be because I would have a console indicating what the problem was where on other installation methods it may only be available in the log file for the installation? I think it maybe related to the bad magic number error seen in the past as well, but could be mistaken about that. Regardless

[2015-09-30 15:57] #2622 closed

[2015-09-30 16:00] benjaoming commented on #4528
Okay but I'm removing the Mac label, because there's no "Mac"-related issues anymore... if you can only create it on a Mac, it's a browser issue or an issue with the installer. I can see that it's something with the JavaScript crashing, so supposing it's a browser issue is a good start :)

[2015-09-30 16:02] benjaoming commented on #4460
Work in progress!

[2015-09-30 16:04] rtibbles commented on #4528
I wouldn't call it Browser Compatibility either, as that implies that it is failing to work properly on a particular browser.

[2015-09-30 16:05] #3944 closed

[2015-09-30 16:07] benjaoming commented on #3999
Cool, thanks for clarifying. It's probably worth investigating if Chrome on other platforms does the same...

[2015-09-30 17:26] rtibbles commented on #4539
The answer to this, of course, is always to test interface layouts in German.

[2015-09-30 17:35] radinamatic opened #4544 "Content rating responsive design issues"
Content rating responsive design issues

**Branch**: 0.15, **ka-lite_0.15~b2-0ubuntu1_all.deb** installer  on Ubuntu 15.04

Issue on both WXP & Ubuntu, FF & Chrom(ium)

**Current Behavior**:
On browser's window at >1200px, all's well:

![responsive-cr](https://cloud.githubusercontent.com/assets/1457929/10200168/0fb2f57c-67a5-11e5-81d3-f7d262b3ae8d.png)

On <1200px, one star slides below:

![respon

[2015-09-30 17:43] aronasorman commented on #4543
I don't think this needs to be a release blocker. We solved this for language packs [here](https://github.com/learningequality/ka-lite/issues/4466). So this only happens now if you give an invalid language pack code. That can only happen if you mess with things through the command line. Starting with 0.15 we now give a [table](http://ka-lite.readthedocs.org/en/0.15.x/faq.html#how-can-i-install-a-l

[2015-09-30 17:44] radinamatic commented on #4211
I know this is closed, but I just wanted to give you guys (@aronasorman) a big :+1: for fixing it!
Now it runs and purrs... :heart_eyes_cat: :heart_eyes_cat: :heart_eyes_cat:

[2015-09-30 17:55] radinamatic opened #4545 "Delete my content rating button visibility"
Delete my content rating button visibility

**Branch**: 0.15 (**ka-lite_0.15~b2-0ubuntu1_all.deb** installer  on Ubuntu 15.04, but it's not an installer issue)

**Current Behavior**:

`Delete my review` button is visible even if the user did not leave any review (yet):

![responsive-cr](https://cloud.githubusercontent.com/assets/1457929/10201489/994437ae-67ac-11e5-945b-c15031a7ed05.png)

**Expecte

[2015-09-30 17:57] MCGallaspy commented on #4527
It had been working -- are you sure this isn't indicative of an actual error?

[2015-09-30 19:13] MCGallaspy commented on #4527
BTW, the links to the test run on sauce labs are helpful in determining whether there's a legitimate error or if our app is having a moment. Be sure to check those out & include them in cases like this where you think there is a smelly test. I can't find a build with this specific error.

[2015-09-30 19:14] aronasorman commented on #4538
The assumption here is that the most recently downloaded language pack will have an updated `video_file_sizes.json`. Said files contains video file sizes for all languages.

But I agree that we can do better. I'll integrate video size into the content db as per [this issue](https://github.com/learningequality/ka-lite/issues/4505), so in the future we won't need this anymore.

[2015-09-30 19:34] aronasorman commented on #4464
@EdDixon can you list which assessment items are missing?

[2015-09-30 19:54] MCGallaspy commented on #4535
Something's wrong with migrations. It kept trying to delete a table (main.assessment_items) that didn't exist, and now it thinks there's a stale content type? What about this is a blocker? The model does not even exist.

[2015-09-30 19:55] MCGallaspy commented on #4535
I think we need to either 1) amend past migrations to remove this crud or 2) create a new migration that handles this.

[2015-09-30 20:40] EdDixon commented on #4464
Well that is exactly the problem I have no way to know for sure and have been told that if they are not showing up in the side bar they simply do not exist so I can only assume that is the case with all of these. Particularly the newer topics but if they should have assessment items (which they typically do) then they are missing you can see from this capture using the most recent MAC installer en

[2015-09-30 22:12] benjaoming commented on #4535
Did a migration for this model exist in our dev version at some point?

[2015-09-30 22:18] benjaoming commented on #4538
@aronasorman can we remove `video_file_sizes.json` from the languagepacks then?

As a quick-fix I can just disable the part that moves the file from the zip to the system location, since this is the broken part....

Would this be okay? @rtibbles ?

[2015-09-30 22:19] benjaoming commented on #4527
It worked after rebuilding!

[2015-09-30 22:19] aronasorman commented on #4538
No problem with that. If we don't have the latest file sizes we just default to 14.3 MB. And yes, this file will be removed in the future.

[2015-09-30 22:23] benjaoming commented on #4527
Here's another build with the same error:

https://circleci.com/gh/learningequality/ka-lite/1182

[2015-09-30 22:26] benjaoming commented on #4543
@aronasorman the alternative to something being a release blocker is not that it isn't an issue at all? :)

[2015-09-30 22:39] aronasorman commented on #4543
I closed it because of this line:

Like I said, there is no way for a user to download a nonexistent language through the web interface, and the only way we mention this command is accompanied by a chart of languages *and* an example on how to specify the language code. So yes, I don't think this is a bug at all.

[2015-09-30 22:45] benjaoming commented on #4543
IMO it's a bug that we don't test for the existence of the language code / language pack before creating a broken (empty) zip file.

[2015-09-30 22:54] benjaoming commented on #4460
All OS platform labels are removed now. They were barely in use, anyways. The "Android" label has been created over in learningequality/installers.

Not creating an "OS specific" label anyways, it can be a "bug" just.

Created "Browser compatibility" label so we can track browser issues when we create system requirements documentation.

[2015-09-30 22:56] benjaoming commented on #4460
Renamed "ux issue" to "ux / frontend"

[2015-09-30 22:57] MCGallaspy commented on #4535
That seems likely.

[2015-09-30 22:59] MCGallaspy commented on #4527
Okay, I'll try to figure out what's going on.

[2015-09-30 23:18] MCGallaspy commented on #4501
I suppose we're done here.

[2015-09-30 23:18] #4501 closed

[2015-09-30 23:20] MCGallaspy commented on #4501
Oof, actually, I haven't created a tarball -- but now that updated screenshots have been committed, it's as simple as running `make html` in the `docs` directory. That will create all the appropriate files in the `docs/_build/html` directory. Will upload tarball upon request.

[2015-09-30 23:20] aronasorman commented on #4543
Opened a PR that shows a better error message: #4547.

[2015-09-30 23:40] MCGallaspy commented on #4545
A valid point.

[2015-10-01 01:27] radinamatic opened #4549 ""service ka-lite start" starts...?"
"service ka-lite start" starts...?

 **Branch**: 0.15, **ka-lite_0.15~b2-0ubuntu1_all.deb** installer  on Ubuntu 15.04

At this point I'm not even sure if this is an issue, or just me not being aware of how `service ka-lite start` command is actually supposed to work.

**Current Behavior**:
So I have this fresh install (just a couple of users and videos so far, Spanish langpack, didn't even regist

[2015-10-01 07:46] benjaoming commented on #4527
Awesome!

[2015-10-01 07:48] benjaoming commented on #4527
Just gonna wait it out for a couple of builds to see if it works, but I would think it does :)

[2015-10-01 07:50] benjaoming commented on #4501
@MCGallaspy actuall RTD has one:

http://readthedocs.org/projects/ka-lite/downloads/htmlzip/latest/ (still 0.14)

and

http://readthedocs.org/projects/ka-lite/downloads/htmlzip/0.15.x/

[2015-10-01 07:54] benjaoming commented on #4543
Confirming that this works now!

[code]

[2015-10-01 07:54] #4543 closed

[2015-10-01 17:27] MCGallaspy commented on #4501
@benjaoming it's a single-page document.

[2015-10-01 17:48] aronasorman commented on #4464
Looked into it. That's because they all contain videos now. Non-issue for me, until we can find some concrete examples.
![screen shot 2015-10-01 at 10 47 43](https://cloud.githubusercontent.com/assets/191955/10228863/f312ff5e-6829-11e5-9f5f-6c72a310ef41.png)

[2015-10-01 17:48] #4464 closed

[2015-10-01 19:56] benjaoming commented on #4501
@MCGallaspy grr, okay, but it's in the right layout with anchors and everything :)

the new sdist in pypi has docs/_build/html included

[2015-10-02 04:35] Revathikul opened #4553 "KALite .PNG IMAGE DOES NOT LOAD"
![ka_1](https://cloud.githubusercontent.com/assets/14935772/10239559/b044c222-6912-11e5-907d-6d4e11c597d9.png)
The attached is the screenshot of the issue.Please help

[2015-10-02 04:37] cpauya commented on #4553
Please indicate your OS, web browser, and the ka-lite installer version @Revathikul - they'll be helpful in tracing the issue.

[2015-10-02 04:38] Revathikul commented on #4553
WIndows 8.1
web browser i am trying many browsers from IE  , 10 and 11 and nothing works

[2015-10-02 12:43] benjaoming opened #4555 "MANIFEST.in: Get rid of warnings"
Some of the rules match nothing, if we can reduce the number of warnings, that'd be nice.

[code]

[2015-10-02 14:29] jinchuika commented on #4538
I can confirm this on 0.15b2, trying to install Spanish language pack.

[2015-10-02 15:00] benjaoming commented on #4538
@jinchuika new release coming up in new PPA:

https://launchpad.net/~learningequality/+archive/ubuntu/ka-lite-updates

[2015-10-02 16:56] rtibbles commented on #4553
Yeah, looks like an assessment item issue.

Is this the only question this happens on, @Revathikul, or does it happen on lots of questions?

[2015-10-02 16:58] rtibbles commented on #4535
I believe so, but I am damn sure we didn't release it.

[2015-10-02 16:59] rtibbles commented on #4458
Fixed in #4536

[2015-10-02 16:59] #4458 closed

[2015-10-02 17:01] rtibbles commented on #4538
Fixed in #4546

[2015-10-02 17:01] #4538 closed

[2015-10-02 17:03] rtibbles commented on #4539
This is bad, but it's not terrible. Don't want this as a release blocker, so punting.

[2015-10-02 17:06] rtibbles commented on #4535
Was this during an upgrade, @benjaoming?

[2015-10-02 18:53] MCGallaspy commented on #4535
Yeah, what branch is this? `0.15.x`? I'll try to resolve it.

[2015-10-02 20:52] benjaoming commented on #4535
This was 0.15.x -- running on some kind of dev environment. Sorry about the lacking info from my side.

[2015-10-02 20:59] rtibbles commented on #4542
Compression requires a non-Python library: https://docs.python.org/2/library/zipfile.html#zipfile.ZIP_DEFLATED

[2015-10-02 21:00] benjaoming commented on #4542
From SO:

Closing this, we have to keep in mind that we can never use compressed .zip files for distribution of content if we keep the pure-python requirement.

[2015-10-02 21:00] #4542 closed

[2015-10-02 21:02] rtibbles commented on #4545
Fixed in #4548

[2015-10-02 21:02] #4545 closed

[2015-10-02 21:02] rtibbles commented on #4527
Should be fixed in #4548

[2015-10-02 21:02] #4527 closed

[2015-10-02 21:03] benjaoming commented on #4535
Gonna test the PR, I'll merge when I verify it :)

[2015-10-02 21:40] jinchuika opened #4563 "Sidebar not hiding when entering from hompage's Next steps"
**Branch**: master
**Build**: 0.15b2 (installed from PPA)
**Expected behavior**: Clicking on one of the Next Steps links should show the exercise after hiding the sidebar.
**Actual behavior**: The sidebar doesn't hide when you enter to the exercise via Next Steps. The exercises is loaded and you can hide the sidebar after.

![output-v](https://cloud.githubusercontent.com/assets/5230176/10258122/3b

[2015-10-02 22:07] MCGallaspy opened #4564 "Fail gracefully? Or give better output?"
On `develop`.
I didn't run the `init_content_items` management command, and so I keep getting this error:

[code]

[2015-10-02 22:27] benjaoming commented on #4460
"vulnerability" => "security"

@radinamatic input:

"internationalization" => "translation"

[2015-10-02 22:33] benjaoming commented on #2619
#4099 only runs migrations if database changed.

#4395 addresses to use a prebuilt database

Regarding assets, we should probably do some kind of refactor to separate userspace assets that can be updated from the ones that we might as well pre-collect.

collectstatic only runs on `manage setup`.

Key generation... hmm.. we could have a separate issue for that if anyone gets a good idea.

[2015-10-02 22:33] #2619 closed

[2015-10-02 22:40] benjaoming commented on #4460
"performance": deleted

"refactoring and cleaning" => "refactoring and performance"

[2015-10-02 22:41] benjaoming commented on #4460
"enhancement" => "new feature"

[2015-10-02 22:41] #4460 closed

[2015-10-02 23:38] benjaoming commented on #4543
It would actually also create an invalid languagepack in the folder, so good thing we got it resolved :)

[code]

[2015-10-02 23:54] benjaoming commented on #4535
Had issues with ghost migrations from a previous develop branch. Those migrations were never part of 0.14 or 0.14.1. Mike cleaned up the migration path.

Everything looks good!

[2015-10-02 23:54] #4535 closed

[2015-10-03 00:21] EdDixon opened #4566 "On recent 0.14.1 builds the update english language button is missing"
On both Windows and MAC tests of the current 0.14.1 development build the button that updates the english language packs seems to be missing?

![2015-10-02_17-58-29](https://cloud.githubusercontent.com/assets/4349806/10260399/5c806f5e-6932-11e5-8977-7e9ee3add749.png)

What it should look like?
![2015-10-02_17-45-55](https://cloud.githubusercontent.com/assets/4349806/10260401/67984f7e-6932-11e5-810

[2015-10-03 01:39] Revathikul commented on #4553
@rtibbles Happens on all questions...Tried in safari browser as well, it doesnt work

[2015-10-04 01:13] esander91 commented on #3822
I found your project through issuehub.io, and hoping to contribute! I can take a look at this issue.

[2015-10-04 10:42] benjaoming commented on #4460
For the record, there's a nice definition of labels here:

http://issuehub.io/label-guide

We don't have all these labels, but I'm not sure I would agree to this "label jungle" :)

[2015-10-04 10:45] benjaoming commented on #3822
Haha, I love this issue :) So much talk, then a one-line change :D

Nice work, @esander91 and thanks for jumping in -- is this really the only place in our codebase where we use a deprecated method name?

[2015-10-04 17:10] esander91 commented on #3822
I know! I expected to spend a lot more time digging through the code to find the problem. This is the only deprecated method error warning I get, but I'll keep an eye out for anything else.

[2015-10-04 18:17] benjaoming commented on #3822
Looked through the codebase, it's the only occurrence alright :)

[2015-10-04 18:18] benjaoming commented on #3822
Fixed in #4567!

[2015-10-04 18:18] #3822 closed

[2015-10-05 01:31] radinamatic commented on #4549
@benjaoming

Testing the KA Lite Control Panel and I'm still unclear where is it starting the service...

Available languages are same as above, and diagnostics seems to report it uses the content from `var/ka-lite/.kalite/content` folder (not my dev repo, as I previously thought), but for example I can't view the videos that I downloaded on previous server start with `kalite start` (all present i

[2015-10-05 02:00] radinamatic commented on #4471
One argument in favor of admins having the ability to switch languages for themselves, is being able to ascertain if the content (videos & subtitles) is properly displayed in non-default language, **without** having to change the default language for all the users, or logging in as non-admins.

Granted there might not be a wide user base for that case, but it would also make our testing and debugg

[2015-10-05 09:19] benjaoming commented on #4549
@radinamatic

Could you be more clear about what the issue is?

To find out which folder you're using, do:

    kalite shell

If you wanna know which folder your system service is using, you can look at the UI or check which user is running kalite through `/etc/ka-lite/username`.

[2015-10-05 12:30] benjaoming opened #4569 "Remove RemovedIn0_16 behaviors"
Mainly Python 2.6 support.

Consequently update docs!

[2015-10-05 12:43] radinamatic commented on #4549
Output of the `kalite shell` command:

[code]

`/etc/ka-lite/username` is `ka-lite`

The **issue** is that when I open the Terminal and type `kalite start`, I get apparently completely different installation compared to the one I get when opening the KA Lite Control Panel and pressing the button "Start server" . You can appreciate the differences in the below collage: the one on the left seems to

[2015-10-05 12:53] benjaoming commented on #4549
screenshot overload @radinamatic :)

Running `kalite` implies running it as the user that invokes it.

The problem is this:

You are not running the system like an end-user.

If you had run `kalite` without having your dev installation, you would have had a warning about what you were doing. Installing `ka-lite` to run with the `ka-lite` user will generate a warning if you invoke `kalite` from the

[2015-10-05 14:52] radinamatic commented on #4549
Just trying to make my point clear(er)... ;)

Ok, let me try the new release with a newly created user which has no dev installation whatsoever. That should clear up this mess, right?

[2015-10-05 15:04] benjaoming commented on #4549
@radinamatic yes, as long as you stop running `kalite` as a different user from the one you specify in your /etc/ka-lite/username -- that's the root of confusion which the ka-lite-gtk addresses. Once again:

[2015-10-05 15:16] radinamatic commented on #4549
Ok, I'll get back to you on this, 'cause a part from my faulty understanding of it, I believe that part of the installation process could use some improvements in how it's presented to the user.

No, and I'm not even sure to what setting are you referring, can you add a screenshot of your own where it is visible?

[2015-10-05 15:45] EdDixon opened #4571 "Updating MAC OSX loses env variables resulting in failed launch"
Updating the MAC to the latest OSX version (EL Capitan) lost the environment variables causing the attached error message. Trying to use the preferences dialog box to reset the app also fails with a notification from KA Lite. A reinstall at this point seems to be the only solution.
![2015-10-05_09-20-04](https://cloud.githubusercontent.com/assets/4349806/10285338/aac8b256-6b45-11e5-835c-e3ad372ddb

[2015-10-05 15:55] EdDixon commented on #4571
The notifications log indicates that a plist or symlinked kalite executable was not deleted before this error message was issued. Making this is an installers issue and not a ka-lite issue so closing and recreating against that repo now.

[2015-10-05 15:55] #4571 closed

[2015-10-05 16:15] cpauya commented on #4483
Re-opening this in reference to [Mac installer to use DO_NOT_RELOAD_CONTENT_CACHE_AT_STARTUP](https://github.com/learningequality/installers/issues/206)

[2015-10-05 16:40] aronasorman commented on #4483
This was reopened, so we can use` DO_NOT_RELOAD...` for the Mac?

[2015-10-05 16:41] #4555 closed

[2015-10-05 16:50] aronasorman commented on #4528
@EdDixon any updates on reproducing this behaviour?

[2015-10-05 17:31] rtibbles commented on #4483
Punting to 0.16. Where it is fixed. Closing.

[2015-10-05 18:17] benjaoming commented on #4549
It seems a bit this issue is about ka-lite-gtk? :)

https://github.com/learningequality/ka-lite-gtk/

You find the username setting here:

![screenshot from 2015-10-05 20 16 23](https://cloud.githubusercontent.com/assets/374612/10289321/097fdc86-6b9e-11e5-8338-749f6944b2b2.png)

[2015-10-05 18:28] radinamatic commented on #4549
I have no idea why I didn't have my own username in that setting. I'll reinstall after this latest cleanup, and report back with the result on the gtk own Issues.

[2015-10-05 18:42] benjaoming commented on #4549
@radinamatic probably because you had a different username put in /etc/ka-lite/username

[2015-10-05 18:53] radinamatic commented on #4549
I get that this is the case, my point is that since I don't remember doing it intentionally, it has probably been done automatically as a consequence of me not understanding some part of the installation process or the indication that I should have, for it to work properly. **That** is what we must improve: indications to the users on how to install the correct way so they don't end up with the sa

[2015-10-05 19:38] benjaoming commented on #4549
Sane defaults. Convention over configuration.

See: https://en.wikipedia.org/wiki/Convention_over_configuration

The user installing ka-lite is supposed to be chosen by default as the user for which to run the system service. If not, it's a bug that should be reported.

Remember to do `apt-get purge ka-lite ka-lite-bundle` to be sure you don't have old configurations floating around.

[2015-10-05 20:16] benjaoming commented on #4483
Did you add it after `from kalite.project.settings.base import *` ? :)

[2015-10-05 21:15] rtibbles commented on #2738
QuizLogs are dead. RIP QuizLogs.

[2015-10-05 21:15] #2738 closed

[2015-10-05 21:42] MCGallaspy opened #4572 "IE9 Javascript issues"
On `0.15.x`, using the windows installer, IE9/Windows 7. Seems to be some js issues. Not a problem on chrome.

Logging in as admin/coach gives this js error:
`SCRIPT5007: Unable to get value of the property 'remove': object is null or undefined
learn, line 1 character 1`

Prevents the "User" dropdown menu from functioning correctly, and also the Videos/Languages/Facilities tabs don't appear on use

[2015-10-05 21:52] rtibbles commented on #4572
This is caused by this non-jQuery DOM manipulation:

https://github.com/learningequality/ka-lite/blob/0.15.x/kalite/distributed/static/js/distributed/user/views.js#L529

```classList``` is *not* supported by IE9.

[2015-10-05 22:11] rtibbles commented on #2857
@aronasorman @jamalex I am tempted to just close this issue and leave it for Kolibri - the only reason I can think to push for implementation is to try to boost performance by not having a large number of files in a single folder.

How important a performance boost do you think it is?

[2015-10-05 22:22] radinamatic opened #4574 "Installed languages panel is not updating properly"
Installed languages panel is not updating properly, neither language pack updates, nor new language pack installation.

**Branch**: 0.15, installer compiled by @MCGallaspy today on WinXP

**Expected Behavior**:
New language should appear as available in the **Installed languages** panel immediately after the successful language pack installation (at least that was the behavior on previous releases

[2015-10-05 22:33] benjaoming opened #4575 "Removing the single-dir mode"
Since we are removing Python 2.6 support, I gather there are a couple of old-time git based installations that we can remove support for as well. And I think in saying, we have been removing support for these a lot of times.

The single-dir mode is basically running kalite from the same directory as the application itself and the accessing all user data such as the database from that same director

[2015-10-05 22:34] rtibbles commented on #4574
@radinamatic Is the language pack available if you then refresh the page, or restart the server?

[2015-10-05 22:43] radinamatic commented on #4574
Yes, language pack is available after navigating somewhere else and back, it's just not appearing in the **Installed languages** panel immediately after the successful language pack installation, as it used to on previous releases. Maybe the "persistent"  `Update` button is even worse for the user as it gives contradictory info since alert message says update was successful.

[2015-10-05 22:50] rtibbles commented on #4574
Could you check the javascript console for errors?

[2015-10-05 22:51] radinamatic commented on #4574
Already did, no errors whatsoever appearing during the update process.

[2015-10-05 22:56] radinamatic commented on #4574
I'm downloading Danish now, but I suspect the result will be the same...

[2015-10-05 22:59] rtibbles commented on #4574
@radinamatic I am wondering if the language pack update process is not giving the correct signal back to the client somehow. Could you see what the output is of the most recent API call is on the network tab when the 'invalidating caches' step completes?

[2015-10-05 23:01] radinamatic commented on #4574
Will do, it's at it right now with Danish...

[2015-10-05 23:06] radinamatic commented on #4574
You were right (as usual) - there was an `Uncaught ReferenceError: process_log is not defined` error after the `Invalidate caches`:

![finished-langpack-da](https://cloud.githubusercontent.com/assets/1457929/10296168/58f5c12c-6bc6-11e5-9c47-38339c6148dc.png)

[2015-10-05 23:17] benjaoming commented on #4471
Template code in `distributed/templates/distributed/partials/_footer.html` is to blame:

                {% if request.session.facility_user.is_teacher %}
                  <div class="teacher-only language-select">
                {% else %}
                  <div class="not-admin-only language-select">
                {% endif %}

[2015-10-05 23:34] radinamatic opened #4578 "Subtitles not showing"
Subtitles not showing

**Branch**: 0.15, installer compiled by @MCGallaspy today on WinXP, both FF & Chrome
Had the same issue on Ubuntu installation previously, but thought it was related to other problems I had with that install. Unfortunately, it seems not OS specific, though... :(

**Expected Behavior**: Subtitles should appear when activated through the `CC` button on the video player command

[2015-10-06 00:26] MCGallaspy commented on #4578
Seems pretty important. Adding to my queue. Will discuss implications in tomorrow's dev meeting.

[2015-10-06 01:07] 66eli77 commented on #4575
the current Android apk is using KALITE_HOME env, which is point to /kalite folder

[2015-10-06 01:46] radinamatic commented on #4578
Could this be a version problem? See #4151 for context.

`package.json` says `4.11.4`, but `bundle_videos.js` says `VERSION="4.12.15"`:

![video js](https://cloud.githubusercontent.com/assets/1457929/10298204/742ab40a-6bdc-11e5-9319-88a56d03569f.png)

[2015-10-06 06:34] cpauya commented on #4483
I added it after the import line, at the end of the `settings.py`.

[2015-10-06 09:18] benjaoming commented on #4575
Great! Then I see no real challenge in removing this! :)

[2015-10-06 09:19] benjaoming commented on #4483
@cpauya that should work :) You can always test it with:

    kalite shell

[2015-10-06 16:35] radinamatic commented on #4549
I did do both the `sudo apt-get purge ka-lite-gtk ka-lite ka-lite-bundle` and deleted the `~/.kalite` folder prior to installing the 0.15 release last week, but it seems that /etc/ka-lite/ folder is not removed by `purge` if not empty (I added that to the testing scenarios on Trello).

I haven't, however, did anything to `var/ka-lite/.kalite/` folder for the above installation, as I had no idea th

[2015-10-06 16:47] rtibbles commented on #4471
Fixed in #4577

[2015-10-06 16:47] #4471 closed

[2015-10-06 18:18] rtibbles commented on #4578
This is almost certainly my mess, will clear up.

[2015-10-06 18:58] MCGallaspy opened #4580 "Run tests with language pack activated"
A promise to do what I'm talking about in https://github.com/learningequality/ka-lite/pull/4560#issuecomment-145189698

[2015-10-06 19:21] benjaoming commented on #4549
I believe the issue is better addressed in the above installers issue -- thanks for opening it! :)

I don't think there's anything wrong with your approach, seems you cleaned up nicely before installing. Perhaps your Software Center did indeed skip the question out of unknown reasons.

[2015-10-06 19:21] #4549 closed

[2015-10-06 19:23] radinamatic commented on #4166
Btw, [Video.JS **version 5.0** is released](http://blog.videojs.com/), so we should start considering how laborious is it going to be to re-download all our subs in VTT format from Amara... ;)

I can do that one by one from my dashboard there, but in our case (we are talking thousands), there must be a faster way!

![amara](https://cloud.githubusercontent.com/assets/1457929/10319759/40f1c47c-6c70-

[2015-10-06 19:25] rtibbles commented on #4166
@radinamatic Can you open an issue for migrating to VTT (if you didn't make one already)? @aron and I will be overhauling language packs somewhat this coming dev cycle, so this could fit into that.

[2015-10-06 19:25] rtibbles commented on #4166
Oh, I should really read the titles of things before I post...

[2015-10-06 19:25] rtibbles commented on #4166
............................................________........................
....................................,.-‘”...................``~.,..................
.............................,.-”...................................“-.,............
.........................,/...............................................”:,........
.....................,?.............................................

[2015-10-06 19:26] rtibbles commented on #4166
![image](https://cloud.githubusercontent.com/assets/1680573/10319899/6e3c3b10-6c25-11e5-980b-9b0d1cbc4972.png)

[2015-10-06 20:35] radinamatic commented on #4166
Have a cookie, Captain... ;)

![Image](http://justjennrecipes.com/wp-content/uploads/2013/03/picard-facepalm-cookies.jpg)

[2015-10-06 21:16] #4578 closed

[2015-10-06 23:39] EdDixon opened #4583 "Not all assessments listed in the side bar are available to the user."
After installation On MAC and after downloading language packs to the installation on XP, I find that not all of the assessments are available to the user after 0.15 installation. Because they appeared to be available immediately after the XP installation but are then "deactivated" after some time or by downloading the language packs (not sure what the cause is.) I do not feel like they are missin

[2015-10-07 00:00] EdDixon commented on #4583
But then again they do appear to be missing when opened as above. So I honestly have no clue?

[2015-10-07 00:13] aronasorman opened #4584 "We are not pure python anymore"
Branch: 0.15.x & develop

While trying to get KA Lite running on the Sandisk, we noticed that we tried compiling PyCrypto. Unlike other libraries PyCrypto does not have a pure python fallback, and we fail the installation.

I believe the trojan horse that introduced said library was `django-dbbackup`. Can you confirm @benjaoming?

Temp solution: fork `django-dbbackup`, find a way to remove the pyc

[2015-10-07 00:18] rtibbles commented on #4584
@aronasorman Would this help at all?

https://cloud.google.com/appengine/docs/python/tools/libraries?csw=1#PyCrypto

[2015-10-07 00:44] benjaoming commented on #4584
@aronasorman not a dependency for django-dbbackup that I'm familiar of:

https://github.com/django-dbbackup/django-dbbackup/blob/master/requirements.txt

Could you clarify:

When did this happen?

[2015-10-07 00:44] aronasorman commented on #4584
Actually this is really only a problem for the sandisk, which we don't support yet -- the other platforms have installers. Maybe this is a good time to discuss whether we can relax the pure python requirement.

/cc @jamalex @benjaoming @MCGallaspy @cpauya

[2015-10-07 00:45] aronasorman commented on #4584
@benjaoming happens when we do a `pip install -r requirements.txt` So at least one of those deps have `PyCrypto` in them.

[2015-10-07 00:46] benjaoming commented on #4584
@aronasorman which system is the sandisk running?

ka-lite-raspberry-pi depends on these packages from the ubuntu repo:

https://github.com/learningequality/installers/blob/master/debian/debian/control#L27

[2015-10-07 00:48] aronasorman commented on #4584
It's a very minimal Linux machine. There's no package manager whatsoever, and we have to cross compile python for it. It also only has 128 MB of RAM.

[2015-10-07 00:48] MCGallaspy commented on #4584
Can we easily install on our target platforms? There's nothing inherently special about pure python, the goal as I understand it is to be able to run on a large variety of platforms. If we can achieve that, we're okay.

[2015-10-07 00:49] MCGallaspy commented on #4584
BTW, it's able to build on the pi with raspbian no problem if you have the python-dev package, for the Python.h header.

[2015-10-07 00:52] aronasorman commented on #4584
@MCGallaspy did you have to install `build-essential` on it? I believe that pulls in gcc as well. `python-dev` might've depended on it.

re: large variety of platforms -- if we don't have an installer for it, the additional requirements for installing KA Lite are the python headers, and a working C compiler. This might be a good time to look a the stats that @jamalex has to see what platforms are

[2015-10-07 01:01] benjaoming commented on #4584
@aronasorman I see the problem:

[code]

We pinned dbbackup==2.0.4. Should be 2.3.1 which is 2 days old.

[2015-10-07 01:15] radinamatic commented on #4182
Prompted by today's testing @EdDixon is doing on a similar problem, I revisited this issue with `ka-lite-bundle 0.15~b3-0ubuntu1`, and unfortunately, the problem got worse.

The above script by @rtibbles now gives me **103** exercises missing!
[code]

I tried to open a few of them randomly, and they are indeed missing, but I can only see the 301 response:

![missing-assessment](https://cloud.githu

[2015-10-07 01:45] radinamatic commented on #4583
@EdDixon Did you try the script from #4182?

[code]

[2015-10-07 16:02] EdDixon commented on #4583
Thanks Radina, I have not tried that but this seems to have to do with them not being available rather than missing on a fresh reinstall on both MAC and Windows of the same 0.15 develop installer. I have two different outcomes. But what is more concerning is that the assessments that were listed in the side bar suddenly were not there after a period of time and downloading some language packs on X

[2015-10-07 17:33] radinamatic commented on #4182
I can confirm this happening on Windows XP with the latest 0.15 installer, after adding exercises from the `khan_assessment.zip`. The exact and same 103 exercises are missing as in the above report on the Ubuntu installation with `ka-lite-bundle`.

[2015-10-07 17:45] rtibbles commented on #4574
Fixed in #4576

[2015-10-07 17:45] #4574 closed

[2015-10-07 17:45] rtibbles commented on #4572
Fixed in #4573

[2015-10-07 17:45] #4572 closed

[2015-10-08 02:59] arceduardvincent opened #4589 "File is not a zip file language pack is corrupted."
__Branch:__  0.15.x

**Expected behaviour:** Show an appropriate message, Example if the user try 5 unsuccessful download we will show a message like "Currently the download source is not available, Please try again later." . In these case the user will not wait to long coz they know that the download source is not yet available.

**Current behaviour:** Can't download language pack and it return a

[2015-10-08 13:27] amodia commented on #4583
Hi @EdDixon  I cannot reproduce this issue on windows xp  with a fresh installation. I followed your instructions above, here's my screenshots.

![screen shot 2015-10-08 at 8 50 46 pm](https://cloud.githubusercontent.com/assets/8663934/10367184/9b9ed27e-6e01-11e5-907c-e5032fbc45f9.png)

![screen shot 2015-10-08 at 9 16 30 pm](https://cloud.githubusercontent.com/assets/8663934/10367240/dfc1fb20-6e0

[2015-10-08 13:44] cpauya commented on #4583
Hi @ed, I tried this on a fresh VM of OSX Yosemite and was not able to replicate.  I have tried combo fresh install, downloaded a video, downloaded a language pack, restarted the server, and enabled a language pack but with no dice too.  Btw, I used Safari v8.0.8.

Pls refer to these screenshots:
![osx-yosemite-3](https://cloud.githubusercontent.com/assets/175580/10367815/197714b0-6e05-11e5-8224-3

[2015-10-08 14:13] benjaoming commented on #4182
0.14.2 is stille okay :)

[code]

[2015-10-08 14:56] EdDixon commented on #4583
I have not had any luck replicating the issue on Windows XP here either. I have been trying since running into this issue with no luck so far. Very glad to hear the new build for OSX has resolved this for MAC. I will close for now and continue to try and replicate it here.

[2015-10-08 14:56] #4583 closed

[2015-10-08 15:24] rtibbles commented on #4182
@radinamatic As soon as new installers are built, this should, hopefully, be resolved. Please verify!

[2015-10-08 15:26] radinamatic commented on #4182
I already tried on XP with the latest `khan_assessments.zip` that Jamie posted, but I'm still getting 103 missing. Hopefully it will be resolved with the new installers!

[2015-10-08 15:28] rtibbles commented on #4182
Hrm - that should be the only difference, alack. It may be that we just have some bad exercises in there.

[2015-10-08 15:33] radinamatic commented on #4182
Can I somehow **undo** the previous `kalite manage unpack_assessment_zip` commands, or is the new installation the only way to know?

[2015-10-08 15:33] rtibbles commented on #4182
Unpacking the new zip over the old one should be sufficient.

[2015-10-08 15:40] rtibbles commented on #4182
Ah, seems like @jamalex and I had a miscommunication. Hopefully this should be resolved when the full assessment item rebuilding has occurred.

[2015-10-08 16:32] aronasorman commented on #4566
Fixed in #4587.

[2015-10-08 16:32] #4566 closed

[2015-10-08 16:54] jamalex commented on #4182
Hopefully now fixed, once https://github.com/learningequality/ka-lite/pull/4592 is merged.

[2015-10-08 16:57] rtibbles commented on #4182
@radinamatic can you test with this new zip? http://pantry.learningequality.org/downloads/ka-lite/0.15/content/khan_assessment.zip

[2015-10-08 19:23] m-anish opened #4596 "Kalite incorrectly reports video collection sizes"
On master (0.14.x), in EN langauge, kalite reports certain collections filesizes, but the actual downloaded filesizes are different, in some cases, VERY different. Please check the table below.

collection|kalite-reported-size | actual-size-on-disk
------------|-------------------------|----------------
**arts-and-humanities**|**13**|**82**
**science**|**33**|**45**

These are some examples, there

[2015-10-08 20:05] radinamatic commented on #4596
I remember noticing this too some time ago: #4214.

[2015-10-08 20:07] MCGallaspy commented on #4596
Thanks for the heads up @m-anish

[2015-10-08 20:08] aronasorman commented on #4596
Will fix with the new i18n pipeline.

[2015-10-08 20:55] EdDixon commented on #4528
Regretfully no and now that I cannot install on the current version of OSX to continue testing for this I may not be able to add much about the MAC issues here but I am replicating consistently other issues with the cookie expiration which could be related? I am looking to see f we have any issues open about that yet and ran across this one. I will either create an issue about it or update current

[2015-10-08 20:56] EdDixon commented on #4399
Still exists in 0.15 on current development installer on Windows XP.. Please reopen!

[2015-10-08 21:00] radinamatic commented on #4182
With this latest zip I only get 5 assessments reported as missing:
[code]

These 5 do present as missing with the `This content was not found! Please contact your coach or an admin to have it downloaded.` warning:

![missing-ai0](https://cloud.githubusercontent.com/assets/1457929/10379680/f3abe6ec-6e0f-11e5-8ce9-5b23d616d7db.png)

The rest from the previous script output do not appear as missing o

[2015-10-08 23:46] rtibbles commented on #4182
So... looks like the issue here is that someone (qua muggins, aka me) forgot to update Perseus.

[2015-10-09 15:44] aronasorman commented on #4589
Fixed in https://github.com/learningequality/ka-lite/pull/4591. Please comment here if you still encounter this error.

[2015-10-09 15:44] #4589 closed

[2015-10-09 15:45] aronasorman commented on #4584
So the consensus seems to be that we can relax this requirement now. This would make it harder to support devices like the SanDisk, but we'll deal with it for 0.16.

[2015-10-09 15:45] #4584 closed

[2015-10-09 15:49] benjaoming commented on #4584
If we decide not to be pure-python, we can just delegate responsibility for these requirements to the installers. Or start playing around with optional requirements. But I don't feel that the architecture of KA Lite is good enough for managing it... but maybe after some cleanup in 0.16, we can ask ourselves this question again.

[2015-10-09 22:36] radinamatic commented on #4182
Today's installer on XP: no errors, and content loads except the pic:

![no-pic](https://cloud.githubusercontent.com/assets/1457929/10407120/e4b8bee4-6ee6-11e5-98bf-22158e29beba.png)

Happens in both English and Spanish version - only the pic is missing.

[2015-10-09 22:38] radinamatic commented on #4182
And with this latest fix, we are back to 4 missing according to @rtibbles script:
[code]

[2015-10-09 22:43] rtibbles commented on #4182
Are pictures missing from any other questions?

On Fri, 9 Oct 2015 15:38 Radina Matic <notifications@github.com> wrote:

[2015-10-09 22:44] MCGallaspy commented on #4182
IMO if the problem is contained to 4 items, then we should consider releasing with a list of "Known Issues", then proceed to tackle in the next cycle.

[2015-10-09 22:55] rtibbles commented on #4182
I agree. This will also be resolved by the changes @aronasorman and I have
planned for building content data in 0.16.

On Fri, 9 Oct 2015 15:44 Michael Gallaspy <notifications@github.com> wrote:

[2015-10-09 22:57] radinamatic commented on #4182
The missing one is a `svg`, I'm going through the rest of them (103), and I only found one `png` that displays well. I'll annotate any & all that are missing for future testing.

[2015-10-09 23:02] radinamatic commented on #4182
`graphs-of-rational-functions`

![graphs-of-rational-functions](https://cloud.githubusercontent.com/assets/1457929/10407402/94dbdbf0-6eea-11e5-9866-a1b058e3e4bd.png)

Also `SVGs`.

[2015-10-09 23:10] radinamatic commented on #4182
`surface-areas`

![surface-areas](https://cloud.githubusercontent.com/assets/1457929/10407495/9f8928e0-6eeb-11e5-96c4-d02b5ab3a674.png)

Sofar all `SVGs`.

[2015-10-09 23:41] radinamatic commented on #4182
Doesn't seem broken, but *hay caca*, as we say over here... ;)

`graphs-of-basic-exponential-functions`

![graphs-of-basic-exponential-functions](https://cloud.githubusercontent.com/assets/1457929/10407768/de91c534-6eef-11e5-9c79-4af51a5267d3.png)

[2015-10-09 23:48] radinamatic commented on #4182
`a-physical-model-of-human-sitting`

![a-physical-model-of-human-sitting](https://cloud.githubusercontent.com/assets/1457929/10407844/f017ce06-6ef0-11e5-80e0-05ee8f3ed6ac.png)

[2015-10-10 00:11] radinamatic commented on #4182
`construct-basic-exponential-functions-from-table-or-graph`

![construct-basic-exponential-functions-from-table-or-graph](https://cloud.githubusercontent.com/assets/1457929/10407904/d310981e-6ef1-11e5-8a03-ac96d94c7f56.png)

[2015-10-10 00:22] radinamatic commented on #4182
To recap:

###### 4 missing completely with the alert `This content was not found! Please contact your coach or an admin to have it downloaded.`:
[code]

###### From the above 103 that were previously missing but not anymore, these 6 have missing `svg` images:

`graphs-of-rational-functions`
`surface-areas`
`graphs-of-basic-exponential-functions`
`a-physical-model-of-human-sitting`
`construct-basi

[2015-10-11 14:11] jamalex opened #4598 "Experiment with SQLITE pragmas again to try improving performance"
e.g. http://www.sqlite.org/pragma.html#pragma_synchronous

(the "corruption" risk may not be a big one, and worst case should be auto-recoverable when it starts up again, as I understand it)

(Assigning to @gwong89, as it could be relevant to him, but flagging @aronasorman in for input)

[2015-10-11 19:50] jamalex opened #4599 "`kalite start` fails when default port is taken, even if settings specify another port"
Branch: 0.15.x

`PRODUCTION_PORT = 7007`, and Nginx is running on port 8008.

When trying to run `kalite start`, I get the error:

    Port 8008 is occupied. Please close the process that is using it.

It looks like this message is from kalitectl.py, where it checks whether either a manually specified port (on the command line, with `--port=7007`) or the default port (8008), from:

    # TODO: Can

[2015-10-11 19:53] jamalex commented on #4039
I'm putting this back to 0.15 milestone for now, just to remind us to remove the "Will be fixed for next version 0.15" message, if we're not going to fix it for 0.15.

    [root@chip .kalite]# kalite start --port 7007
    Please only use --option=value or -x123 patterns. No spaces allowed between option and value. The option parser gets confused if you do otherwise.
    Will be fixed for next vers

[2015-10-12 01:44] jamalex opened #4600 "Ghost migrations when upgrading from 0.15.x to "0.16" (develop)"
Looks like some migrations were added to 0.15.x that haven't made their way to develop?

[code]

[2015-10-12 13:30] radinamatic opened #4601 "Sync now! problem - Uncaught ReferenceError: doRequest is not defined"
`Sync now!` problem - `Uncaught ReferenceError: doRequest is not defined`

**Branch**: 0.15 - Windows installer compiled on 10/9 on both WXP & W7

**Expected Behavior**: Pressing the `Sync now!` link under `Devices > Available actions` in the `Manage > Facilities` tab should start the syncing process.

**Current Behavior**: Pressing the button has no visible effect for the user, and throws an erro

[2015-10-12 13:50] radinamatic opened #4602 "Check answer problem - Uncaught TypeError: Cannot read property 'response_log' of undefined"
Check answer problem - `Uncaught TypeError: Cannot read property 'response_log' of undefined`

**Branch**: 0.15 - Windows installer compiled on 10/9 on both WXP & W7

**Current Behavior**: Pressing the **Check answer** button in the exercise panel throws an error:

![check_answer](https://cloud.githubusercontent.com/assets/1457929/10429383/61c099f8-70f8-11e5-89f8-45b2260abed9.png)

In addition the

[2015-10-12 14:06] benjaoming commented on #4599
`PRODUCTION_PORT` is AFAIK not something that should be set. We need to revisit the docs etc. to see that things haven't become ambiguous or confusing.

To start on 7007:

    kalite start --port=7007

The reason is that the port option has to be known before the django settings stack is loaded.

Absolutely, well, actually we should just make sure it's gone so that setting the de facto production

[2015-10-12 14:20] jamalex commented on #4599
Specifically, the Raspberry Pi settings module sets it. What's the mechanism for the Pi DEB installer to set the port? The env var?

[2015-10-12 14:34] benjaoming commented on #4599
It writes it to a specific file `/etc/ka-lite/server_options` which the system service uses to load options for the kalite command. But it could have been an env var as well.

https://github.com/learningequality/installers/blob/master/debian/debian/ka-lite-raspberry-pi.server_options

Why the settings module sets it was just some kind of "oh well let's make sure we set it in case it's used somewhe

[2015-10-12 14:35] benjaoming commented on #4599
I'll work on cleaning it up and making sure the docs doesn't contain wrong information + the information about where to access the server will be cleaned up as well.

[2015-10-12 15:03] ruancilliers opened #4603 "3 Suggestion Bars and Progress Bars NOT Working after upgrading from 0.13 to 0.14.1"
Dear Khan Lite Team,

Version: 0.14.1

I was very excited about the new features that was released, specifically the 3 suggestion bars that either directs you to your last exercise and give suggestions. After upgrading to 0.14.1 not everything is working :'( (I installed a new PPA instance as suggestion and migrated from 0.13 as it was installed from Git)

Expected Bahaviour: I expect all students

[2015-10-12 15:05] ruancilliers commented on #4603
Forgot to attach the picture where we found one of the few students where the suggestions are working... see below

![everything working hlumisa mavusweni](https://cloud.githubusercontent.com/assets/11680550/10431086/524bb600-7103-11e5-87e7-dce673a56be7.png)

[2015-10-12 15:16] craigleat opened #4604 "Progress bar obscures video"
branch: 0.14
client: chrome browser on android, 7" tablet

The video progress bar obscures the video content. See attached screenshot. Try hiding the progress bar by default.
![screenshot_2015-10-12-16-08-11](https://cloud.githubusercontent.com/assets/12593105/10431295/90fe2364-7104-11e5-8a57-bad995e834e3.png)

[2015-10-12 15:24] craigleat opened #4605 "Cannot hide scratchpad"
branch: 0.14
client: chrome browser on android, 7" tablet

Once activated the scratchpad cannot be hidden and the scratch marks persist when a new exercise appears. I can draw on the "hide scratchpad" button but cannot activate it.

[2015-10-12 15:33] craigleat opened #4606 "client browser crash (firefox)"
branch: 0.14
client: firefox browser on android, 7" tablet

firefox crashes when trying to load a video. The crash occurs while the video is loading and before playback. chrome works fine.

[2015-10-12 17:11] rtibbles commented on #4603
Hi @ruancilliers - thanks for the detailed reports. Looks like some sort of error is occurring on the backend here that is causing the problem.

If you could upload the database to Dropbox or similar and then share the link with me on richard@learningequality.org, I can take a closer look (and see if this is extant on 0.15 - which we will be releasing shortly).

[2015-10-12 17:11] ruancilliers commented on #4603
We can also create a teamviewer session if that will be easier for you. As I'm in South Africa the best time will be your early morning so that it can be my late afternoon. Let me know if this is preferred than me sending my 77Mb database for you... Thank you for your help, ruan

[2015-10-12 17:14] ruancilliers commented on #4603
Fantastic rtibbles! I will upload the database tomorrow (it is now 19h30 in SA) so will be back in the office tomorrow only. Will then send you the link. Thank you for your support :-)

[2015-10-12 17:37] aronasorman commented on #4528
Closing this, until we have concrete reproducible steps.

[2015-10-12 17:37] #4528 closed

[2015-10-12 17:39] radinamatic commented on #4604
I don't have 0.14 installed atm to test, but isn't the progress bar supposed to fade-out when the user is inactive, and cursor is not hovering the player? I'd say it's a feature, not an issue...

@craigleat Could you confirm that the progress bar stays visible on top of, or covering, the video, even if you do not move your mouse or place it outside the player? Or does progress bar fades out and di

[2015-10-12 17:48] aronasorman commented on #4039
Installers are finalized. Punting to 0.16.

[2015-10-12 19:30] craigleat commented on #4604
I'm browsing the content with a touch screen tablet, so there's no mouse cursor. But I discovered the progress bar DOES fade-out if I touch outside the window. Thanks for the tip ;) Please mark the issue as closed.

[2015-10-12 19:30] #4604 closed

[2015-10-12 20:17] MCGallaspy commented on #4600
Can you describe how you encountered this bug?

[2015-10-12 20:17] MCGallaspy commented on #4039
Will update message right now.

[2015-10-12 20:43] MCGallaspy commented on #4483
Apparently a problem in 0.14.2. Will check before release.

[2015-10-12 20:56] benjaoming opened #4608 "Removing RPI clockset"
We have a function for setting system time. It seems to be intended for Raspberry Pi.

Here's a snip:

[code]

In distributed.api_views

[code]

It's not something that'll work by default on the RPi .deb, actually it's currently switched on, and it doesn't work.

IMO we shouldn't be scoping KA Lite to handle these sort of system tasks. They're doomed to break, and there's so many ways of fixing th

[2015-10-12 21:02] radinamatic commented on #4600
Hm... I'm getting a similar error while trying to run 0.15 from my repo:

1. Checked out the latest from upstream, `bin/kalite start` started the server OK, but pressing the `Login` tab did not start the modal.

2. I tried `bin/kalite manage init_content_items` but got the `Unknown command: 'init_content_items'`, so it's a 0.16 (develop) feature, right?

3. Finally, I tried:
[code]

[2015-10-12 21:13] MCGallaspy commented on #4600
Unable to replicate. There was a similar issue (https://github.com/learningequality/ka-lite/pull/4558) where I did in fact alter the migrations. My guess is that you had a DB from before the PR was merged, ran migrations on develop, and encountered this issue.

[2015-10-12 21:40] rtibbles opened #4612 "Fix up Khan Academy i18n Compatibility"
Currently we use the Khan Academy 'local-only' i18n script to handle all the translation for Khan Academy exercise interface text.

This means we have a slightly janky interface to our translation catalogs, and our ngettext support is currently broken.

We should fix this.

[2015-10-12 21:40] 66eli77 opened #4613 "facilities tab not display correctly"
![screen shot 2015-10-12 at 2 39 25 pm](https://cloud.githubusercontent.com/assets/5577205/10439499/1bef7ea2-70ef-11e5-9d68-41363f85c45f.png)

[2015-10-12 23:31] #4601 closed

[2015-10-12 23:31] #4602 closed

[2015-10-13 08:40] ruancilliers commented on #4603
Another Feature that I found not working is when you click on the students name's under the coach reports then when it tries to go to the "My Progress" Page of that student it does not work... So the Progress Links are broken from the Coach report...

![coach report links not working](https://cloud.githubusercontent.com/assets/11680550/10449874/b7794856-7196-11e5-8778-4e31241f6268.png)
![coach rep

[2015-10-13 08:43] ruancilliers commented on #4603
As requested, please see attached the database link in dropbox. I also included 4 excel files with our students. The grade 6 students are the "new" student created in the beginning of the year. Most of their Suggestion bars are working, where the "old" students seems like it is not working...

All students password is axiumkap (you can just find their user names in the attached excel files)

The s

[2015-10-13 08:55] ruancilliers commented on #4603
For some reason I get the error message
"Something went really wrong, and we can't process that file. Try again".

Can I mail you the excel files? Please send me a mail so that I can e-mail you the excel files with the user names...
ruan.cilliers@gmail.com
![can t upload excel files](https://cloud.githubusercontent.com/assets/11680550/10450069/0a2aefa4-7198-11e5-8977-bc1f41690227.png)

[2015-10-13 08:56] ruancilliers commented on #4603
Take note, I also tried to upload PDF's that did not work... So just send me an e-mail and I can send you the excel files with the breakdown of the students that accounts do work and the ones who don't... Thank you!

[2015-10-13 16:49] aronasorman opened #4619 "%hintsLeft on exercises"
on 0.15.x mac installer:

![screen shot 2015-10-13 at 09 47 53](https://cloud.githubusercontent.com/assets/191955/10461715/97dc6e3a-718f-11e5-9be0-ff6eb0d062a3.png)

[2015-10-13 17:29] MCGallaspy commented on #4483
User error.

[2015-10-13 17:29] #4483 closed

[2015-10-13 17:30] MCGallaspy commented on #4619
Are you sure the installer you used incorporates the PR from yesterday meant to address this issue? See https://github.com/learningequality/ka-lite/pull/4607

[2015-10-13 17:30] radinamatic commented on #4619
Described the same in #4602 on Windows, not sure if it was already fixed by  #4607.

[2015-10-13 17:31] radinamatic commented on #4619
Wow, @MCGallaspy beat me for 21 seconds... :P

[2015-10-13 17:38] aronasorman commented on #4619
@MCGallaspy it uses the one I built this morning. Do I need to run `setup` though? Let me try that.

[2015-10-13 17:49] rtibbles commented on #4619
Yeah, this should work fine for English, and give English for plural translations due to our broken ngettext implementation.

[2015-10-13 19:32] aronasorman commented on #4619
Just needed to run `setup` again.

[2015-10-13 19:32] #4619 closed

[2015-10-13 19:38] MCGallaspy commented on #4619
Is setup a required manual step for OSX installation? Anyway, works ok on Windows.

[2015-10-13 19:39] aronasorman commented on #4619
We might not be running it during upgrading. @cpauya can you confirm?

[2015-10-13 19:50] rtibbles commented on #4619
We should run it during upgrade, as collectstatic is now delegated to it!

On Tue, 13 Oct 2015 at 12:39 Aron Fyodor Asor <notifications@github.com>
wrote:

[2015-10-13 23:01] radinamatic opened #4622 "Forward admin user to Manage tab after device registration"
Forward admin user to Manage tab after device registration - small improvement.

**Branch**: develop

**Current Behavior**:
After the successful device registration, admin user is left sitting duck on the confirmation page.

![forward-to-manage](https://cloud.githubusercontent.com/assets/1457929/10470531/24d02d26-720e-11e5-9570-6368f19ae18a.png)

I suggest that implementing the automatic forward t

[2015-10-14 01:20] cpauya commented on #4619
Yes, setup is NOT ran during an upgrade because it detects that a database already exists.

User can click on `Advanced -> Setup` button again as @aronasorman did above.

I have created [Run setup during upgrade.](https://github.com/learningequality/installers/issues/224) on this.

[2015-10-14 06:55] m-anish opened #4625 "NotABug | Customize kalite user directory"
Have a technical question. Is there an easy way to customize the kalite user directory in the pip install method. By default I guess kalite user data including videos gets installed to ~/.kalite. Is there a supported method to change that, other than creating a symlink which I am currently doing.

[2015-10-14 16:16] EdDixon opened #4627 "Menu UI drop down should go over existing content"
While testing the 0.15 final release version I noticed that the menu partially covered by existing content as in the attached screen shot. I think the intention is that these would go over any existing content.

![2015-10-14_10-05-22](https://cloud.githubusercontent.com/assets/4349806/10490125/94aeb2b8-725c-11e5-8f58-67c332293050.png)

[2015-10-14 16:47] rtibbles commented on #4613
Fixed in #4617

[2015-10-14 16:47] #4613 closed

[2015-10-14 17:09] radinamatic opened #4628 "net::ERR_CONNECTION_REFUSED at the end of language pack download process"
`net::ERR_CONNECTION_REFUSED` at the end of language pack download process

**Branch**: develop  (0.16)

**Current Behavior**: I've been getting this error at the very end of language pack download process:

![finished-langpack-da2](https://cloud.githubusercontent.com/assets/1457929/10491286/3221bae2-72a6-11e5-80fd-cdb79ee9d426.png)

If the page is refreshed, all 4 language packs that I downloaded

[2015-10-14 17:27] aronasorman commented on #4628
This can only mean one thing: a server is down somewhere.

[2015-10-14 17:31] rtibbles commented on #4628
Check your terminal output, @radinamatic - I imagine the server died after the language pack downloaded. This is still very much a WIP.

[2015-10-14 17:46] radinamatic commented on #4628
The error repeated 4 times on exact same point on 4 different langpacks...

I've saved the terminal output from last night, just have to remember where exactly... :stuck_out_tongue:

[2015-10-14 17:55] aronasorman commented on #4628
Thanks @radinamatic! Language packs will probably stop working for a while as @rtibbles and co. are continuing the refactoring.

[2015-10-14 19:38] 66eli77 commented on #4606
Tested on
branch: develop and 0.15.x
client: firefox browser on android, 7" tablet
the issue is not observed

[2015-10-14 19:52] 66eli77 commented on #4605
Tested on
branch: develop and 0.15.x
client: chrome browser on android, 7" tablet
the issue is not observed

[2015-10-14 20:01] radinamatic commented on #4628
I'll try to attach the full terminal output, but it's long... Here is the gist: it's as if server autostarts after completing langpack download:

[code]

[2015-10-14 20:02] radinamatic commented on #4628
Hmm, attaching anything a part from img files requires write permission to this repository...

[2015-10-15 01:31] #4600 closed

[2015-10-15 09:46] vishal3105 opened #4629 "Ka-lite logging shows Assertion Error"
Expected Behavior: I expect students to be able to log-in and carry on with their work. I now have to create a new log-in although their data is still in the database (See screen shot, as an example look at student iviwe dumayo.)
Current Behavior: Whenever I try to log-in with this student, I get the following Assertion Error:
AssertionError: There should never be multiple summaries in the same ti

[2015-10-15 15:50] rtibbles commented on #4629
Hi Vishal - we didn't even know you guys were still using KA Lite at Zaya! If you have some more info about your deployments, our implementations team (implementations@learningequality.org) would love to hear more about what you guys have been up to, and put you on our map (learningequality.org/ka-lite/map).

Unfortunately, this is an extant bug on version 0.12 - which is no longer supported. We r

[2015-10-15 15:51] rtibbles commented on #4629
No longer extant in supported versions of KA Lite. Closing.

[2015-10-15 15:51] #4629 closed

[2015-10-16 11:26] cpauya commented on #4467
Hi @ed - I tried this on a Yosemite VM and it worked.  See screenshots below, I downloaded "Counting in order" video and it updated the tree after the download.

![osx-yosemite-107](https://cloud.githubusercontent.com/assets/175580/10540554/a17ab0a6-743b-11e5-8880-e80af1dab56f.png)

After download:
![osx-yosemite-108](https://cloud.githubusercontent.com/assets/175580/10540555/a1a971d4-743b-11e5-95

[2015-10-16 11:33] #4467 closed

[2015-10-17 20:17] mascot6699 opened #4631 "Management command generaterealdata fails on develop"
I was trying to setup the project for development and found that the command

    bin/kalite manage generaterealdata

was failing when I try to run in on the develop branch I was getting the following error

    from kalite.content_models import get_topic_contents
    ImportError: No module named content_models

which I think is because of improper imports

[2015-10-18 04:13] EdDixon opened #4633 "Sql Error while downloading vidoes"
This is much less an issue than in previous releases but while downloading the entire set of videos (almost 8000) over the past 3 or 4 days which is now almost complete, I did have a single SQL error which forced me to restart the server in order to continue. I did not get a screen shot or capture of the error itself but I do have of where in the process it seemed to stall and the server.log here

[2015-10-19 13:41] benjaoming opened #4634 "Upgrade django-dbbackup dependency"
As reported, the old dbbackup version would depend on pycrypto which is compiled.

Issues that we encountered in the 2.3.1 dbbackup are solved:

https://github.com/django-dbbackup/django-dbbackup/issues/120

So the solution is to upgrade.

[code]

[2015-10-19 16:44] radinamatic opened #4636 "Delete or rephrase the Spanish language content entry in the FAQ sections of the docs"
Delete or rephrase the Spanish language content entry in the FAQ sections of the docs

The current entry reads:

[code]

I don't know if the Google Drive folder has been placed elsewhere, but the one linked from our docs does not contain **blocks of Spanish Language content** as stated.

Furthermore, the above domain is not valid, and it seems that the whole project has stalled with [no updates in

[2015-10-19 16:58] #4631 closed

[2015-10-19 19:31] #4627 closed

[2015-10-20 08:33] benjaoming opened #4638 "Handle assessment item db as readonly system-wide data"
In 0.15, I had to do a hotfix in the debian dist, because assessmentitems.sqlite was unpacked the same place as all the other data.

However, if we can somehow make Django use it as a readonly sqlite DB, that'd be great.

Otherwise, we have to figure out a way to copy it into a user-writeable location.

[2015-10-20 15:03] radinamatic opened #4639 "Re-activate the video player speed setting"
Re-activate the video player speed setting

**Branch**: 0.15

**Expected Behavior**: Up to release 0.15 video player had a speed setting in the control bar that allowed to set the playrate to slower or faster.

**Current Behavior**: Video player speed setting has been lost, probably as the consequence of the `video.js` version upgrade.

[2015-10-20 17:52] rtibbles commented on #4639
I have a bad feeling this actually got dropped from videojs itself.

[2015-10-20 17:54] radinamatic commented on #4639
There must be a plugin, then, if I remember correctly... I'll dig in my notes and find out.

[2015-10-20 18:04] radinamatic commented on #4639
According to the pic on their blog, it's still there:

![VideoJS UI](http://40.media.tumblr.com/7936bfddeddf68058784eb6d815cd631/tumblr_inline_nveuwhsdFu1qzc111_540.png)

[2015-10-20 18:31] radinamatic commented on #4639
https://github.com/videojs/video.js/blob/v4.11.4/docs/api/vjs.Player.md#playbackrate-rate-

[2015-10-20 18:33] rtibbles commented on #4639
Mea culpa.

[2015-10-21 00:09] jtamiace opened #4640 "Can't access facility pages"
OS: Windows 10
Branch: Develop

Clicked on manage tab as admin user, chose a facility, and got the following traceback

[code]

[2015-10-22 04:10] EdDixon opened #4641 "Enter key does not advance to the next question within all assessments"
Encountered on 0.15.0 on Windows hosts (both XP and 10 however I suspect all OS are affected) within some of the newer assessments, I have noticed that pressing the enter key to submit an answer does not advance to the next question within the assessment. Referencing #2833 because it also dealt with similar anomalies while pressing the enter key within assessments. Actually clicking on the check a

[2015-10-22 13:40] EdDixon commented on #3587
It is definitely back in 0.15.0? :(

[2015-10-22 17:51] #4634 closed

[2015-10-22 19:36] MCGallaspy commented on #4640
Can't replicate. Still experiencing this issue @jtamiace? We can try to debug further.

[2015-10-23 18:29] mascot6699 opened #4643 "Points seen on dropdown is added twice as we earn them"
This is seen on develop branch.

Steps to reproduce.
1) Login as learner.
2) See start any excercise and before answering note the point you have.
3) Solve a question. Note your points again. It will be equal to previous points plus twice the points earned in dropdown.

[2015-10-27 18:32] mmutee opened #4644 "Windows Installation to secondary drive not effective"
Hello. I am not a very technical person but I wanted to report some problems with Windows (v 0.15.0) installation of KA lite. Using Windows 7 32bit, I installed the program in "D:\KA Lite\". Upon downloading videos via KA Lite interface, I discovered that all content was being stored in "C:\Users\Mutee\.kalite\content". If I move the videos to the appropriate content folder in the original install

[2015-10-27 18:52] mmutee opened #4645 "Silverlight content not visible in any browser I have"
Using the v0.15.0 of KAlite for Windows 7 x86, the Silverlight content does not show in Firefox (v41.0.2). All the addons were disabled for the test (like Adblock) and Silverlight is set to "Always Activate".

![silverlight not working1](https://cloud.githubusercontent.com/assets/15348404/10768788/9d63f38e-7d04-11e5-9e0b-17aa1df1f803.png)

The plugin is installed and working.

![silverlight not wo

[2015-10-27 19:02] mmutee opened #4646 "Arrangement of video files"
This is not a version related problem but about the way the videos are labelled and stored. The file names are not relevant so there is no way you can arrange and transfer them as needed. For example, I just wanted the Maths, Physics, Chemistry and Biology videos but I cannot start download all at once due to space restrictions. If using Ka lite's interface to download, all the files are placed in

[2015-10-28 21:05] MCGallaspy commented on #4644
Hi @mmutee, you can set the directory where KA Lite files are stored using the environment variable `USER_DATA_ROOT`. [See this SO answer on setting environment variables in Windows](http://stackoverflow.com/questions/31177463/set-environment-variables-windows). If you copy your existing directory to the location you set *before* starting the server, it should seamlessly pick up the content you've

[2015-10-28 21:05] MCGallaspy commented on #4644
I am checking the documentation to make sure this feature is clearly indicated.

[2015-10-29 00:48] MCGallaspy opened #4648 "cli2man fails on Windows"
In particular running `make dist` (using msys) fails when trying to build the docs, because the `cli2man` script fails. Unclear which label to put on this. @benjaoming

[2015-10-29 15:08] jinchuika opened #4650 "Some translated strings still being displayed in English"
**Version**: 0.15

The Spanish translations page shows that 0.15 is translated at 99%. But some words still in English.
- In the tabular report, the titles for the themes are not translated; but they are shown translated in the topic-tree from the sidebar. Also, the word "Question" is still not translated.
  ![selection_016](https://cloud.githubusercontent.com/assets/5230176/10822212/d4061d1e-7e1b

[2015-10-29 15:20] aronasorman commented on #4650
Hi Luis,

Thank you for bringing this to our attention. I won't be doing any
development today, but I'll take a look at this tomorrow or early next
week.
On Oct 29, 2015 8:08 AM, "Luis Carlos" <notifications@github.com> wrote:

[2015-10-29 19:36] MCGallaspy opened #4653 "sdist needs to be updated to include content databases"
While tackling an issue with the Windows installer build process, I encountered the following issue. Currently on `develop` when I run `make dist` and install the output with `pip install <outfile>`, when I try to start the server I get the following error:

[code]

Somehow I think this may be a missing step when cooking up the sdist...? @benjaoming @rtibbles any insight here?

[2015-10-29 22:37] MCGallaspy commented on #4653
@benjaoming looking at how the sdist is built. Two things aren't immediately apparent to me:

1. We can specify *which* files to include using the MANIFEST.in template, but we can't specify where files will be installed -- that's up to pip, right? Are there additional ways at install time to specify where files should be installed/permissions for those files?
2. In Windows we used to include an em

[2015-10-29 22:57] waltonrp opened #4654 "How to move database"
I have some offline sites that I'd like to upgrade from KA Lite Linux v13 to v15. I'll prepare a new install on a new hard drive. Can you help me with instructions to back up existing v13 db and move it to the v15 install? I'd like users to not loose data.

Thanks,

[2015-10-29 23:33] #4644 closed

[2015-10-29 23:41] rtibbles commented on #4653
Unless I misunderstood the outcome of the plan that @aronasorman and I had for content packs, then ```init_content_items``` is an interim dev management command to allow development to continue, but will not be used in production. All content databases (including for English) will be prebuilt on the central server.

In addition, the content dbs need to be writable at runtime. This because one sign

[2015-10-29 23:50] MCGallaspy commented on #4653
Okay, so then what is the plan for production? Will the end-user need to generate a content db at least once before starting the server? Does it make sense to have a "template" db that we can distribute, kind of like how we can/will generate an empty `data.sqlite`?