[2015-02-09 23:09] rtibbles opened #2994 "Some assessment items missing, no graceful failure."
Branch: develop
Expected Behavior: A perseus exercise should always render a proper assessment item
Current Behavior: Some assessment items appear to be missing still, and our wrapper does not allow for graceful failure when this does happen
Steps to reproduce: Navigate to exercise 'One more, one less'. Answer questions correctly until 404 error appears.
Screenshot(s):

![image](https://cloud.gith

[2015-02-09 23:09] Antrikshy opened #2995 "Learn tab not active when it should be"
![screen shot 2015-02-09 at 3 08 17 pm](https://cloud.githubusercontent.com/assets/6601788/6117946/8b434560-b06d-11e4-8ad0-c4b7cd853e66.png)

I find myself clicking it multiple times before realizing I'm already there and need to click the "Learn!" box. It's active in the actual "Learn!" area though.

[2015-02-09 23:11] cpauya commented on #2991
@EdDixon Thanks for the report!  Looking into it already.

Tip: You can filter your console with "KA-Lite" so it only shows the installer/ka-lite app logs. :smiley_cat:

[2015-02-09 23:13] jamalex opened #2996 ""Acceptable formats" is no longer in bubble format and no longer accepts interaction"
Expected: A nice "Acceptable formats" bubble in the exercise answer area, which displays answer input instructions when hovered/tapped.

Observed:
Ugly plaintext that accepts to interaction:
![image](https://cloud.githubusercontent.com/assets/618416/6117903/0bfd7d3e-b06d-11e4-8f27-9fd59200eda2.png)

[2015-02-09 23:14] rtibbles commented on #2996
I think this should now appear on mouseover in the input area.

[2015-02-09 23:15] jtamiace opened #2997 "As a teacher user, both nav paths for 'admin' and 'teacher' are available when learn tab is clicked"
steps to reproduce:
- log in as teacher
- click learn
- click out of side bar

![teacher](https://cloud.githubusercontent.com/assets/6668144/6118051/717f579e-b06e-11e4-9458-ed1371d2fe86.PNG)

[2015-02-09 23:17] jtamiace commented on #2990
adding onto this, there's no way to log out:

![teach nav](https://cloud.githubusercontent.com/assets/6668144/6118092/cd58b6c8-b06e-11e4-8beb-efda96b178ee.PNG)

[2015-02-09 23:18] jamalex opened #2998 "Missing assessment items should be handled more gracefully"
Background: Exercises do lookups for assessment item data. Usually this data is found, as long as they've loaded the assessment item data/content pack.

Observed: We're still missing some assessment items, it seems, and when the exercise interface requests one of these and gets a 404, it explodes, and the user is stuck:

![image](https://cloud.githubusercontent.com/assets/618416/6118016/2f6230ac-b

[2015-02-09 23:21] Antrikshy opened #2999 ""Content was not found" message on Manage tab"
Should this show up here? (The yellow panel at the top)

![screen shot 2015-02-09 at 3 19 30 pm](https://cloud.githubusercontent.com/assets/6601788/6118121/3592dc82-b06f-11e4-87c9-ba1f676bd986.png)

Never shows up on missing video pages for me.

[2015-02-09 23:21] MCGallaspy opened #3000 "Coach has no logout option in username tab"
On `develop`, logged in as a coach, I don't see a logout option... :(
I'm trapped:
![ss](https://cloud.githubusercontent.com/assets/8888020/6118130/4d178d6c-b06f-11e4-9e20-31a51dd6879e.png)

[2015-02-09 23:22] rtibbles commented on #2998
Duplicate of #2994

[2015-02-09 23:23] jamalex commented on #2994
Duplicate of #2998.

[2015-02-09 23:23] jamalex commented on #2998
Deduplicated!

[2015-02-09 23:32] Antrikshy opened #3001 "Useless FAQ link on videos update UI"
1. Go to `/update/videos` as admin.
2. See link "Q: How do I bulk-download videos?" under "Help for downloading videos".
3. Click it.
4. Notice that there is no such question on that page (as far as I can see).
5. ?????
6. PROFIT

[2015-02-09 23:33] #2998 closed

[2015-02-09 23:33] jamalex commented on #2994
Copying in my notes from #2998 here, in case useful.

![image](https://cloud.githubusercontent.com/assets/618416/6118016/2f6230ac-b06e-11e4-988c-db0b7b6fd20f.png)

Possible solutions:
- Filter through the topic tree prior to release and remove any references to assessment items we don't have data for
- Gracefully skip over any assessment items that return 404's; the user doesn't care.

[2015-02-09 23:39] jamalex opened #3002 "After registering, the "Register now" buttons etc still show up, until next login"
Expected: After registering, the interface should no longer show links/instructions to "register now".

Observed:
After registering the Manage tab still looks like:
![image](https://cloud.githubusercontent.com/assets/618416/6118363/9a8a3b7e-b071-11e4-96e2-9da19afde67d.png)

But if you click the register now button, it shows:
![image](https://cloud.githubusercontent.com/assets/618416/6118366/b4e187

[2015-02-09 23:46] jamalex opened #3003 "No padding between language pack list area and footer, when window isn't long enough"
Not expected: ![image](https://cloud.githubusercontent.com/assets/618416/6118466/b5b9da66-b072-11e4-9078-80fe64433bb5.png)

Steps to replicate: Go to http://127.0.0.1:8008/update/languages/ and vertically shrink the page.

[2015-02-09 23:52] jamalex opened #3004 "Messages never go away when navigating through content in the sidebar"
Context: Navigating through content in the sidebar happens entirely in the client-side, with no page reloads.

Expected behaviour: Navigating to a new content item should clear and no longer display messages that came from interactions with other content items, or from initially logging in, e.g.:
![image](https://cloud.githubusercontent.com/assets/618416/6118514/296e5950-b073-11e4-8695-5d57054d061

[2015-02-10 00:00] jamalex opened #3005 "No points are being earned for exercises"
Expected: Points earned for exercises

Observed: No points earned for exercises

Steps to replicate: Do exercise. No points.

[2015-02-10 00:00] MCGallaspy opened #3006 "Viewing one (or all) of the hints for an exercise doesn't mark it as incorrect"
On `develop`, at `/learn/khan/math/pre-algebra/fractions-pre-alg/equivalent-fractions-pre-alg/equivalent_fractions/` (but probably some other exercises as well), my progress for the exercise increases no matter how many hints I take.

[2015-02-10 00:27] benjaoming commented on #2963
Actually, I think it's showing the "usage" of ./manage.py and not the help... if you call commands the wrong way, they will usually fail and dump their usage. So I think *possibly* we could close this with a `kalite manage help` is the way to do it? We could add `kalite manage help` to the usage description of `kalite` ?

[2015-02-10 00:31] edresor opened #3007 "KA-LIte on Ubuntu 14.04 failed to start. Saved by Forum tip. Removed write protection."
When I ran the start script and an error came up that the the program could not create a "read only" database and then the server failed to start.  The start script does not accept sudo. I rebooted and tried several other things.  Nothing worked.

Then this dangerous tip in the forum written apparently for a larger issue saved me.
___
I think I got it. I had to make the installation directory writ

[2015-02-10 00:55] EdDixon commented on #2991
@Aron same certificate issue we have been dealing with I think, the KA-Lite Monitor has to be run for installation with admin right (right click open) in order to allow the user access to the application because it is from an unknown source. Subsequent runs after installation run fine with out the elevated privilege.

[2015-02-10 00:58] EdDixon commented on #2991
Also restarting the KA-Lite Monitor application after the failed installation attempt ran fine and testing on that system is now ongoing.

[2015-02-10 01:14] jamalex commented on #2973
It used to slide out, but it made the load time intolerable on the cheap tablets (several seconds, and at such a low framerate that it only rendered one or two frames in the process of expanding anyway), so we would need to have this selectively turned on for certain browsers (or find a faster approach).

[2015-02-10 01:48] jesumer commented on #2729
Hi,

After running the perseus exercise that is default to de language code, here is my example working scripts at the browser.
![screen shot 2015-02-05 at 2 48 20 pm](https://cloud.githubusercontent.com/assets/2810009/6119857/7486271a-b109-11e4-82f9-a01287e65d20.png)

Notice the Answer pane at the right. It has a translated string to German language.

Jesumer

[2015-02-10 02:25] amodia opened #3008 "password validation align on top."
Branch: `develop`
Expected Behavior: password validation should align at the bottom to the password field..

Steps to reproduce:
1. Create coach user on default facility and make password field validate.

![screen shot 2015-02-10 at 10 17 24 am](https://cloud.githubusercontent.com/assets/8663934/6120274/b216a758-b10e-11e4-9931-0a8b2fcc2666.png)

[2015-02-10 03:05] benjaoming commented on #2963
Will that do? It will be in the PR with stuff for remaining issues, #2919

[2015-02-10 03:06] arceduardvincent commented on #3002
Hi @jamalex and @aronasorman .
As I examine and replicate this issue I found out this is not a bug but it is a feature that @anuragkanungo made.

Details:
If the boolean statement returns true `is_config_package_nalanda` which declared in `distributed/custom_contex_processor.py` and the `CONFIG_PACKAGE` use is 'Nalanda' the button will appear.

Conclusion:
 @anuragkanungo specify if the device use

[2015-02-10 03:08] mjptak commented on #2960
by hook or crook I made it through the install process with only the downloading of the Perseus resourses from ESL genie remaining.   I'll try again tomorrow and try and document.  Thanks and keep rockin' it.

[2015-02-10 03:23] benjaoming commented on #2990
@jtamiace that looks like an error with floating, does it disappear if you make the screen size bigger?

[2015-02-10 03:24] benjaoming commented on #2919
@cpauya forcing kalite to stop has been added to #2955 and should affect both `start` and `restart`

[2015-02-10 03:33] arceduardvincent commented on #3002
I use a `Nalanda` package see attach image below.
![screen shot 2015-02-10 at 11 31 42 am](https://cloud.githubusercontent.com/assets/4099119/6121133/9d9a18c8-b118-11e4-9207-92d9b6e57f57.png)

[2015-02-10 03:51] djallado commented on #3005
I tried to replicate this and looks like `get_points_per_question()` is missing.

[2015-02-10 06:29] alainschaefer commented on #2729
DE is still working on the review and approval for geo, I recommend you use
early-math exercises for testing as there you'll have already 95% of the
strings translated and approved.

[2015-02-10 17:11] aronasorman commented on #2952
@benjaoming can you give a draft of the new folder structure and architecture you're proposing?

[2015-02-10 17:46] jamalex commented on #3002
This issue doesn't have anything to do with Nalanda in particular. It's that the "Register" button should not appear anymore after the server has already been registered. It's an error in the code that checks the registration status, to know whether or not to show the button.

The "Update" button (unrelated to this issue) should only show up for Nalanda, yeah.

[2015-02-10 17:49] jamalex commented on #2919
Yeah -- the use cases I had been thinking of were:
- `status` for the user to determine what state the server is in, and how they can access it if it's running (e.g. IPs/URLs)
- `info` (or `diagnose`? or does that do more, like run base tests?) for the user to run to output as much information as possible about the local installation, which they can copy-paste and send to us.

[2015-02-10 17:59] jamalex commented on #2963
My preference would be for the help documentation to just show:
`kalite manage COMMAND    Run a Django management command`
and then for a bare
`kalite manage` (_or_ `kalite manage help`)
to show the list of possible commands.

Having `kalite manage help` in the usage description instead of the `kalite manage COMMAND` syntax might make it unclear how to actually run one of these commands, especiall

[2015-02-10 18:30] jamalex commented on #2996
Hmm, I'm not seeing it there either, at least on http://127.0.0.1:8008/learn/khan/math/early-math/cc-early-math-measure-data-topic/cc-early-math-data/solving-problems-with-bar-graphs-1/ for example (where the input area is in the question area).

[2015-02-10 18:33] rtibbles commented on #2996
Hrm, this might have disappeared during the 'solutionarea' hacks.

[2015-02-10 18:34] anuragkanungo opened #3013 "Points are getting deducted for the students while doing exercises."
This is happening in KCT 4S, 4T .

[2015-02-10 19:02] EdDixon commented on #2991
Important note here regarding this current MAC installer. It will create the KA-Lite Monitor.app in the Applications directory instead of a KA-Lite folder as in previous versions which breaks pathing to kalite command for example. Current work around is pull from GIT and run setup_unix.sh to revert back to the KA-Lite typical installation as a folder in the Applications menu which I am doing know

[2015-02-10 19:04] jamalex commented on #2948
You can set `STREAK_CORRECT_NEEDED = 5` in local_settings.py. Where are these facilities?? Not part of the RCT, I presume?

[2015-02-10 19:04] #2948 closed

[2015-02-10 19:06] anuragkanungo opened #3014 "SMPS 4B Exam Results not viewable"
![screenshot from 2015-02-11 00 36 02](https://cloud.githubusercontent.com/assets/4207886/6134264/040bf05a-b186-11e4-94b0-319846973cf2.png)

[2015-02-10 19:08] aronasorman commented on #3014
what branch is this @anuragkanungo? Is this the one with the new playlists?

[2015-02-10 19:09] anuragkanungo commented on #3014
No, its separate branch.

[2015-02-10 19:34] aronasorman commented on #3014
resolution: we undelete the `407.json` file.

[2015-02-10 19:35] aronasorman commented on #2991
the `KA Lite Monitor`, under the hood, is just a simple folder @EdDixon. You can `cd` to it and then run `bin/kalite` from there.

[2015-02-10 19:45] aronasorman commented on #2997
Duplicate of https://github.com/learningequality/ka-lite/issues/2990

[2015-02-10 19:47] EdDixon commented on #2991
All I am seeing in that folder is contents?
![2015-02-10_12-45-58](https://cloud.githubusercontent.com/assets/4349806/6135086/e937eb70-b122-11e4-8e2a-a07d31ec56cf.png)

[2015-02-10 19:50] aronasorman commented on #2991
Sorry. You have to go inside Contents/Resources to find the kalite folder.

[2015-02-10 20:06] EdDixon commented on #2991
once in the proper path I was only able to invoke the kalite command by using "sh kalite" with the following output;
![2015-02-10_13-02-08](https://cloud.githubusercontent.com/assets/4349806/6135402/8af71c86-b125-11e4-9722-915575a16e2b.png)

[2015-02-10 20:48] aronasorman commented on #2982
duplicate of https://github.com/learningequality/ka-lite/issues/3000

[2015-02-10 20:48] #2982 closed

[2015-02-10 21:02] aronasorman commented on #2991
We fixed this on the dev room. @EdDixon is now testing it.

[2015-02-10 21:18] benjaoming opened #3019 "Incorrect package prefix for middleware + more?"
I found that I have to add `ka-lite/kalite/` to the system path to run ka-lite with mod_wsgi. This is because certain import statements are not executed from the same relative path as when running the server with a django management command.

Example in `kalite.distributed.settings`:

    MIDDLEWARE_CLASSES = (
        "django.contrib.sessions.middleware.SessionMiddleware",
        "django.middlew

[2015-02-10 21:22] aronasorman commented on #3019
And I hereby assign you to this issue :)

[2015-02-10 21:31] aronasorman commented on #2970
I personally believe in retaining the current behavior -- this is the closest we have to bulk-adding coach accounts. Breaking that by having them click the "signup" button again would be bad UX.

[2015-02-10 21:35] rtibbles commented on #2970
It is inconsistent with both the Group and Student adding behaviour on the same page though.

[2015-02-10 21:36] benjaoming commented on #2919
`status` now outputs URLs for the user when kalite is running and responding correctly :)

[2015-02-10 21:41] aronasorman commented on #2966
Doesn't the "Check Answer" button shake when you have an incorrect answer? That should draw attention to that side of the screen, and hopefully to the new colors?

[2015-02-10 21:44] #2960 closed

[2015-02-10 22:17] benjaoming commented on #2963
@jamalex I have been working on making kalite output the correct command name, however there is an issue with the way that Django outputs the command name. Notice the last line conflicts with the first one.

    Usage: kalitectl.py subcommand [options] [args]

    Options:
      -v VERBOSITY, --verbosity=VERBOSITY
                            Verbosity level; 0=minimal output, 1=normal output,

[2015-02-10 22:23] benjaoming commented on #2963
Here is the patch that will fix our Django to output the `prog_name` in the first line.

    --- a/python-packages/django/core/management/__init__.py
    +++ b/python-packages/django/core/management/__init__.py
    @@ -357,7 +357,8 @@ class ManagementUtility(object):
             # must be processed early.
             parser = LaxOptionParser(usage="%prog subcommand [options] [args]",

[2015-02-10 22:25] benjaoming commented on #2963
Seems Django 1.8dev has a different way of doing this, but still not respecting the prog_name:

https://github.com/django/django/blob/master/django/core/management/__init__.py#L278

[2015-02-10 22:32] benjaoming commented on #2952
I would propose not refactoring applications, but only factoring out project stuff and settings.

    ka-lite/
        kalite_project/
            settings/
                applications/
                    __init__.py
                    some_application.py
                __init__.py
                base.py
                dev.py
                cherrypy.py
            manage.py
        kalite/

[2015-02-10 22:59] MCGallaspy commented on #2968
So is it preferable to make the answer area transparent, or to separate the scratchpad and answer area so that they don't overlap?

[2015-02-10 23:02] MCGallaspy commented on #2968
After playing around a bit, I think it's better to separate the areas. Simply making the background of the overlaid area transparent gives the impression that one can begin drawing a line by clicking in the answer area, which isn't true.

[2015-02-10 23:31] MCGallaspy commented on #2968
One thing that seems to work is to change some css rules. Playing around in the browser with the equivalent of this:
[code]
I get:
![ss](https://cloud.githubusercontent.com/assets/8888020/6138824/95230c38-b139-11e4-80cd-fcf6dc20aec6.png)
Does this look alright? And if so, where is the appropriate location to override styles seemingly defined by the perseus inlcusions? @rtibbles

[2015-02-11 00:13] MCGallaspy commented on #3000
Weirdly, this issue seems to be due to `ka-lite/kalite/distributed/static/js/distributed/distributed-server.js`, [line 89](https://github.com/learningequality/ka-lite/blob/develop/kalite/distributed/static/js/distributed/distributed-server.js#L89) or thereabouts. This callback function is never (or rarely?) executed for coaches. The weird part is that the get request made as a result of that line

[2015-02-11 00:27] aronasorman opened #3022 "bin/kalite manage runserver madness"
Branch: develop
State: no local settings whatsoever.

Running `bin/kalite manage runserver` leads to a flurry of 404s:
[code]

Might be related to the removal of `less.js` @benjaoming?

[2015-02-11 00:28] aronasorman commented on #3022
Also, it spawns port 8000 rather than 8008.

[2015-02-11 00:37] aronasorman commented on #2971
Fixed in commit ^

[2015-02-11 00:40] jamalex commented on #2971
Err... really?

[2015-02-11 00:43] aronasorman opened #3023 "get_ip_addresses not working on FreeBSD"
branch: develop

See this snippet:
[code]

The `ips` variable won't be defined if `system.lower() not in ['linux', 'darwin', 'macosx', 'windows']`. So OSes like Solaris, *BSD, and others will error out whenever you run `kaserve`.

[2015-02-11 00:46] arceduardvincent commented on #3002
hi @jamalex
thanks for the fast response,

[2015-02-11 00:46] aronasorman commented on #3023
Looks like `ifcfg` errors out on FreeBSD.

[2015-02-11 00:47] aronasorman commented on #3023
[code]

[2015-02-11 06:11] benjaoming commented on #3022
Fresh setup, I guess? You are running DEBUG=False and haven't done `collectstatic` ?

I won't be able to work on this, but I think the behaviour is natural in case the above is correct. Running `kalite start` will fire off the setup and collectstatic as required.

[2015-02-11 06:46] jamalex commented on #2968
Hmm... There may actually be a flag in the exercise data, indicating
whether the scratchpad should be enabled, that we're ignoring? Not sure
whether we strip that field out during exercise data loading from KA's api,
though -- @rtibbles?
On 2015-02-10 3:31 PM, "Michael Gallaspy" <notifications@github.com> wrote:

[2015-02-11 06:53] cpauya commented on #3001
Let's add something like "Q: How do I bulk-download videos or download videos via Torrent?".

I think that'll make sense than the original text.

[2015-02-11 06:56] jesumer commented on #2987
Hi,

I have already fixed this issue.
I've added a button that refreshing the browser according to to the selected item. Heres the screenshot
![screen shot 2015-02-11 at 2 57 35 pm](https://cloud.githubusercontent.com/assets/2810009/6143138/05eaf5f6-b1fe-11e4-8c9b-87feb38fa4e0.png)

[2015-02-11 07:27] Antrikshy commented on #3001
Or simply "Frequently Asked Questions"...

[2015-02-11 17:49] anuragkanungo commented on #3014
Fixed in #3016

[2015-02-11 17:49] #3014 closed

[2015-02-11 23:04] rtibbles commented on #2929
Fixed in #2945

[2015-02-11 23:04] #2929 closed

[2015-02-11 23:11] rtibbles commented on #2953
I am unable to replicate this. The closest I have come is that the content window gets cleared when I press back and it navigates me back to an intermediate topic (when I click back again to the video it renders properly. This is in both Chrome and Firefox.

[2015-02-11 23:11] #2953 closed

[2015-02-12 02:24] MCGallaspy commented on #3005
@djallado can you give a more detailed explanation?

[2015-02-12 06:33] djallado commented on #3005
When I tried to verify the issue, I din't found it. for now that function is in `exercise/views.js`. I see the `calculate_points_per_question` and look lite it always return a `0` value.

[2015-02-12 09:49] cpauya commented on #2990
Hi @MCGallaspy

We include the `base_teach.html` and `base_manage.html` templates in many templates like `distributed/homepage.html` and `distributed/learn.html` and these included files set the `active` css class inside their respective blocks (ie: `block teach_active_admins`).

The duplicate happens inside the `distributed/base.html` wherein those blocks are both set to `active`.

I think someon

[2015-02-12 10:42] jesumer commented on #2983
Hi,

I can also replicate the error. It looks like that the server request was timeout and that's why it will pop up an error.  I've set my local settings and here is the error when the central doesn't running.

[2015-02-12 17:38] MCGallaspy commented on #2997
@cpauya is this a separate issue from #2997? If not then perhaps we can close it.

[2015-02-12 18:54] #2972 closed

[2015-02-12 21:39] jamalex opened #3040 "Detect, within single-page apps, if user has been logged out, and require re-login"
**Context**: A lot of interaction with the site now happens without page reloads (within a single-page app portion of the site, e.g. sidebar and content navigation/viewing). We only check logged-in status on first page load.

**Expected**: If the user gets logged out (via a timeout, or via logging out in a different tab), this should be detected ASAP and the user should be prompted to login.

**Ob

[2015-02-12 21:41] jamalex commented on #3040
#2939 was an initial (constrained) attempt at this, on the nalanda branch, but isn't general-purpose.

[2015-02-12 22:20] #2962 closed

[2015-02-12 22:24] MCGallaspy opened #3041 "TestSessionTimeout tests intermittently fail"
In `develop` branch, in `kalite/distributed/tests/...`, these tests seem to fail intermittently. We should take a closer look and make sure best practices are being used in those tests. This is not a high priority right now, though.

[2015-02-12 22:27] MCGallaspy commented on #2968
@jamalex I'm gonna go ahead and open a PR to implement the "workaround" I've pictured above. Better to have some sketchpad real estate than none, right? But the way KA sketchpads work (I was playing around on their site) leads me to believe that perhaps we have altered the presentation logic in such a way that scratchpads don't work as intended. I'm also curious to hear @rtibbles thoughts on the i

[2015-02-12 23:23] MCGallaspy commented on #2968
My "quick" fix didn't work. I took a closer look at how Khan handles/styles the scratchpad, but I can't discern a significant difference... It's not really clear to me if this is an issue that can be resolved by styling (i.e. judicious setting of `z-index` values or setting the appropriate class defined by perseus or something) or if there's an underlying issue in the way that we display exercises

[2015-02-12 23:33] aronasorman opened #3042 "Burn down get_all_import_child_modules"
This function right here imports everything under a module. This is nice for convenience, but it's annoying as hell when writing tests and you don't want to import an entire module.

I also think that it's more idiomatic python to explicitly import the modules we need, and not hide it under an automatigical import statement.

[2015-02-13 00:28] cpauya commented on #2997
No @MCGallaspy it is the same issue as mentioned in https://github.com/learningequality/ka-lite/issues/2990#issuecomment-74043787

[2015-02-13 00:28] #2997 closed

[2015-02-13 00:40] MCGallaspy commented on #2995
@Antrikshy can you please provide more information about how to reproduce this error? Like what kind of user you're logged in as (learner/coach/admin) and what relative url you navigate to to get this error?

[2015-02-13 00:42] MCGallaspy commented on #2995
Okay, I think I figured this out. You're at the base url logged in as an admin? Can you reach this page as any other kind of user?

[2015-02-13 00:48] MCGallaspy commented on #2995
Doesn't look like it.

[2015-02-13 00:48] #2995 closed

[2015-02-13 00:49] #3023 closed

[2015-02-13 02:16] cpauya commented on #2986
This may be related to #3002?

[2015-02-13 02:17] jamalex commented on #2986
Yes, I think so.

[2015-02-13 02:19] jesumer commented on #2986
Yeah. I agree

[2015-02-13 02:23] aronasorman commented on #2986
Yup, possibly.

[2015-02-13 02:24] jamalex commented on #3005
`get_points_per_question` uses the exercise's `basepoints` in its calculation, which is derived from `seconds_per_fast_problem`, which appears to be 0 for Perseus exercises. We'll need to assume a default value for Perseus exercises (or any where `seconds_per_fast_problem` is 0).

[2015-02-13 02:31] jamalex commented on #3005
Or maybe it's time to just shift to a fixed number of points per question, across exercises. @rtibbles?

[2015-02-13 02:33] cpauya commented on #3042
Yes please! :+1:

1. It's on the Zen of Python / `import this` - `Explicit is better than implicit.`.
2. Loads unused module for tests or other modules.
3. It's breaking our IDE`s ability to check for import issues (unused imports, PEP-8, etc).

[2015-02-13 02:44] jesumer commented on #2986
I tried to reproduce this issue by changing the host in my local_settings to http://staging.learningequality.org and my loacl central server. I don't see any issue here except the button
![screen shot 2015-02-13 at 10 43 04 am](https://cloud.githubusercontent.com/assets/2810009/6181358/c872021c-b36c-11e4-950a-60a0714693e2.png)
and I did not see this warning message as what of @Antrikshy screenshot

[2015-02-13 02:46] jesumer commented on #2986
THe button whis is assigned to @arceduardvincent  issue https://github.com/learningequality/ka-lite/issues/3002

[2015-02-13 02:50] jesumer commented on #2986
Hello @Antrikshy,

What did you do to reproduce this issue or where can we find this? as of what is in your screenshot

[2015-02-13 02:57] Antrikshy commented on #2995
Sorry I couldn't reply earlier. Been really busy this week. I got it logged in as admin. Base URL, yes.

[2015-02-13 03:09] jesumer commented on #2983
@Antrikshy . I think this is a normal behavior of the site in a sense of having connection issue but I don't see an any issue on this.
To reproduce this just point your local_settings to a local central server, then try not to run the central and notice the error will come out. So I conclude this was a inconsistent connection issue. Please correct me if I'm wrong. Thanks

[2015-02-13 04:05] Antrikshy commented on #2986
When I got this error, I was logged in as admin, had registered KA Lite using whatever that one-click registration method is. And obviously, I was on the Teach tab. This was a fresh instance of the 0.13.x bug bash version.

[2015-02-13 05:20] jesumer commented on #2986
I did the same but I don't get the error.
Here's my screenshot from registration up to the teach page:
![screen shot 2015-02-13 at 12 53 32 pm](https://cloud.githubusercontent.com/assets/2810009/6182624/ad5ffc52-b382-11e4-9303-661dc929bebd.png)

![screen shot 2015-02-13 at 1 18 22 pm](https://cloud.githubusercontent.com/assets/2810009/6182627/b69cd060-b382-11e4-9b0d-4e76bf7bcca2.png)

![screen sho

[2015-02-13 05:27] Antrikshy commented on #2986
Interesting. Maybe it was just something on my end. I was getting a connection error too (#2983). Perhaps we should close this.

[2015-02-13 05:29] jesumer commented on #2986
Can you attached what are your screenshots on this?

[2015-02-13 06:41] jesumer commented on #2977
Hi,

I'll try fixing this issue.

[2015-02-13 08:17] Antrikshy commented on #2986
Pardon?

[2015-02-13 16:56] rtibbles commented on #3005
These are the only exercises I see that either have 'second_per_fast_problem' set to 0 or have the key missing:
Standard deviation of a population
Constructing a line tangent to a circle
Components of vectors
Exploring the foci of an ellipse
Comparing fractions with the same numerator
Comparing fractions with the same denominator

So I don't see that this would be causing the issue, @jamalex.

[2015-02-13 19:02] Antrikshy commented on #2967
Better?

![screen shot 2015-02-13 at 11 01 23 am](https://cloud.githubusercontent.com/assets/6601788/6193395/b6c2d5f2-b36f-11e4-8afe-bfad1d7bea2f.png)

Or how about we get rid of it completely?

![screen shot 2015-02-13 at 10 59 55 am](https://cloud.githubusercontent.com/assets/6601788/6193368/8233c86e-b36f-11e4-9605-5cf6720d9479.png)

Doesn't look bad.

I'm playing around with it but there isn't

[2015-02-13 22:47] aronasorman opened #3045 "Add versioning to the assessment item zip"
While we haven't implemented a continuous integration workflow for the Khan Academy data, we should version of assessment items to allow us to check if we need to update an installations' assessment items.

[2015-02-13 23:03] rtibbles commented on #2996
Turns out this was a result of Khan Academy completely changing the way they do this.

[2015-02-13 23:28] rtibbles commented on #2992
I can no longer replicate this. Closing for now.

[2015-02-13 23:28] #2992 closed

[2015-02-13 23:33] #2979 closed

[2015-02-13 23:33] #2981 closed

[2015-02-13 23:38] #2974 closed

[2015-02-13 23:45] aronasorman commented on #2954
Fixed in e4aa84b

[2015-02-13 23:45] #2954 closed

[2015-02-14 00:51] tk21 opened #3047 "Coach Reports: incorrect error displayed, date issues"
Branch: develop

Expected Behavior: There should be no error message. When clicking on "scatter report" and "timeline report", display learner's progress.

Current Behavior: Error message given : "No learner accounts in this group have been created". Data can only be displayed if starting-time and ending-time are extended way into the past or way into the future (even though there is indeed data i

[2015-02-14 00:54] tk21 opened #3048 "Coach report: Unable to select topic/report"
Branch: develop
Expected Behavior: Be able to select a topic from the dropdown menu, or a report
Current behavior: Unable to select a topic from the drop down menu :( Drop down menus for "Select Report" and "Select Topic" are unresponsive.

Steps to reproduce:
1. Log in as coach
2. Go to reports
3. Attempt to 'select report'/'select topic'

[2015-02-14 01:11] jamalex commented on #2999
Duplicate of #2978.

[2015-02-14 01:11] #2999 closed

[2015-02-14 01:13] tk21 opened #3049 "Coach manage page: user tab is not aligned properly"
Branch: develop
Expected behavior: User tab needs to be lined up with the rest of the tabs when logged in as coach.
Current behavior: User tab is positioned lower than the other tabs, oddly aligned....

![usertab](http://i58.tinypic.com/5dw8co.png)

[2015-02-14 02:03] tk21 opened #3051 "Coach reports: Report type and date range selections operate independently"
Branch: develop
Expected behavior: When moving from scatter report to timeline report or vice versa, the date range that is selected should be sent as inputs to generate the report.
Current behavior: After selecting the report type and pressing "Go", the starting-time and ending-time are defaulted back to 2015-1-13 and Ending time: <current date>, and the previous date selections before pressing "

[2015-02-16 07:03] anuragkanungo commented on #3040
Would work on it soon.

[2015-02-16 19:04] #3000 closed

[2015-02-17 01:59] arceduardvincent commented on #2729
Hi @jesumer I will review this issue you made and the `PR` you made so this issue will be close.

[2015-02-17 06:10] cpauya opened #3057 "Page title of login page is wrong."
Branch **develop**

Issue: When the `Login` navigation link is clicked, the page title becomes "Log inWelcome | KA Lite".

![screenshot 2015-02-17 14 08 21](https://cloud.githubusercontent.com/assets/175580/6223957/754ba378-b6ae-11e4-9655-1c6778aa6be6.png)

[2015-02-17 17:48] MCGallaspy commented on #3057
Seems like an issue of the child template not properly overriding the base template's title block.

[2015-02-18 03:49] mjptak opened #3058 "keypad functionality on multiple answer (Perseus) questions"
branch: develop
issue: keypad functionality limits ability to move to next answer box

steps to duplicate:  url below...

http://127.0.0.1:8008/learn/khan/math/early-math/cc-early-math-place-value-topic/cc-early-math-skip-counting/skip-counting-by-5s/

Even if one closes the keypad and changes focus with the mouse the focus returns to the first box upon recalling the keypad a second time.

[2015-02-18 07:19] cpauya commented on #3057
And looks like it affects other pages too:

Here's the 404 page with `DEBUG = False`
![screenshot 2015-02-18 15 02 43](https://cloud.githubusercontent.com/assets/175580/6243588/6fe75068-b77f-11e4-96c4-f789262867d4.png)

Here's the title on the `Manage -> Facilities` tab
![ka-lite-2015-02-18a](https://cloud.githubusercontent.com/assets/175580/6243661/6e7b407a-b781-11e4-885b-a4ea32fef761.png)

Will

[2015-02-18 16:28] rtibbles commented on #3005
Fixed in #3046.

[2015-02-18 16:28] #3005 closed

[2015-02-18 16:28] rtibbles commented on #2996
Fixed, as MVP in #3046.

[2015-02-18 16:28] #2996 closed

[2015-02-18 16:28] rtibbles commented on #2994
Fixed in #3046.

[2015-02-18 16:28] #2994 closed

[2015-02-18 16:29] rtibbles commented on #2978
Fixed in #3053.

[2015-02-18 16:29] #2978 closed

[2015-02-18 16:29] rtibbles commented on #2976
Fixed in #3043.

[2015-02-18 16:30] rtibbles commented on #2965
Fixed in #3043.

[2015-02-18 16:30] #2965 closed

[2015-02-18 17:05] rtibbles commented on #3045
Fixed in #3050

[2015-02-18 17:05] #3045 closed

[2015-02-18 23:13] #3057 closed

[2015-02-18 23:58] MCGallaspy opened #3062 "Coach "Users" tab in "Manage" page is not aligned"
In `develop`, log in as a coach and click on the "Manage" tab. See the screenshot. (Emphasis mine.)
![ss](https://cloud.githubusercontent.com/assets/8888020/6259390/fef1effa-b786-11e4-8441-a92ada92e94b.png)

[2015-02-19 00:00] MCGallaspy commented on #3062
Duplicate of #3049.

[2015-02-19 00:00] #3062 closed

[2015-02-19 00:01] MCGallaspy commented on #3049
Still extant in `develop`.

[2015-02-19 00:04] MCGallaspy commented on #3058
Duplicate of #2944.

[2015-02-19 00:04] #3058 closed

[2015-02-19 00:34] #2990 closed

[2015-02-19 02:37] djallado commented on #2977
@jesumer.

I'll try to help you on this.

[2015-02-19 02:38] jesumer commented on #2977
@djallado,

Yes thanks.

[2015-02-19 03:05] jesumer commented on #3001
Hi @aronasorman ,

Please close this issue. This issue has a PR that was merged and closed by @MCGallaspy.

[2015-02-19 03:08] arceduardvincent commented on #3002
@jamalex I think this issue is done. The fix is merged #3026 .

[2015-02-19 03:36] djallado commented on #2977
Hi. my observation in this is:

1. If `"uses_assessment_items": false`
    Hints will display if we click on it.
1. If `"uses_assessment_items": true` it return another `api: /api/assessment_item/id`, and if we click on hints nothing will happened.

[2015-02-19 09:41] cpauya commented on #3048
The "Select Topic" can only be selected by selecting the "Tabular Report" then clicking the `Go` button.

It is working as intended, as per the latest `develop` branch, so I'm closing this issue now.

Please re-open if issue is still there.

[2015-02-19 09:41] #3048 closed

[2015-02-19 10:03] cpauya commented on #2912
That empty row is also there when user is Coach:
![screenshot 2015-02-19 17 56 46](https://cloud.githubusercontent.com/assets/175580/6264717/5c63da88-b861-11e4-9eeb-8601db103051.png)

The student menu has this, so hopefully this helps:
![screenshot 2015-02-19 18 01 10](https://cloud.githubusercontent.com/assets/175580/6264728/7b544f90-b861-11e4-9935-717cb0ca26cd.png)

[2015-02-19 11:36] waltonrp commented on #2926
Sorry for the delay in answering. No error. It does not ask for password

Robert Walton
Regional Information Technology Specialist
DOC – CTSU – Field Services Unit

From: Rui Malheiro [mailto:notifications@github.com]
Sent: Tuesday, February 03, 2015 3:50 PM
To: learningequality/ka-lite
Cc: Walton, Robert P. (VADOC)
Subject: Re: [ka-lite] KA Lite start at boot does not work on Windows. (#2926)

Hi

[2015-02-19 18:08] tk21 commented on #3048
This occurs after attempting to switch between tabular/scatter/timeline report multiple times. Currently unable to test this as I am on a work machine, but it either happens after switching between the three reports or having KA Lite open for a while. Will test this out again soon.

[2015-02-19 18:14] MCGallaspy commented on #3048
@tk21 let me know if you're able to replicate.

[2015-02-19 18:42] MCGallaspy commented on #2977
@rtibbles could it be an issue with the API endpoint? I'll take a closer look.

[2015-02-19 18:43] #3001 closed

[2015-02-19 19:26] #3002 closed

[2015-02-19 20:03] MCGallaspy commented on #2971
@jamalex So something like:
[code]
?

[2015-02-19 20:13] jamalex commented on #2971
It's a bit complicated now, since some exercises (khan-exercises) I believe are still CC? And Perseus exercises are not (yet/currently?) CC. But yeah, perhaps for now it can just be:

[code]

[2015-02-19 23:46] rtibbles opened #3065 "Display license information on the content/exercise pages themselves"
Last part of https://github.com/learningequality/ka-lite/issues/2971

We should display individual license information for all content and exercises if available.

We should also include icons for all CC licenses in order to show the range of different licenses.

[2015-02-19 23:47] rtibbles commented on #2971
Closing this issue, outstanding element in new issue.

[2015-02-19 23:47] #2971 closed

[2015-02-19 23:48] rtibbles commented on #3004
Fixed in #3056

[2015-02-19 23:48] #3004 closed

[2015-02-20 00:07] MCGallaspy commented on #2983
Can't reproduce. Seems to have been a legitimate connection issue. Let me know if it happens again @Antrikshy.

[2015-02-20 00:07] #2983 closed

[2015-02-20 00:11] MCGallaspy commented on #2986
Again unable to reproduce. Let me know if you experience this again @Antrikshy. Otherwise I'm chalking this up as a legitimate warning.

[2015-02-20 00:11] #2986 closed

[2015-02-20 00:12] MCGallaspy commented on #3006
I wonder if this is related to #2977?

[2015-02-20 00:16] jamalex opened #3067 "Tooltip on accepted answer formats can go off bottom of screen"
This is on:
http://127.0.0.1:8008/learn/khan/math/algebra/solving-linear-equations-and-inequalities/super-yoga/equations-in-one-variable-1/

![image](https://cloud.githubusercontent.com/assets/618416/6279126/4726214e-b852-11e4-83e0-c4d8309fbc9a.png)

(note how the footer doesn't expand down to stay at the bottom)

We should also see how big tooltips like this display on small tablet screens.

[2015-02-20 00:38] jamalex commented on #2977
Fixed in #3068.

[2015-02-20 01:43] #2975 closed

[2015-02-20 02:29] MCGallaspy commented on #2968
This actually seems to work as intended. Compare how it looks on KA:
![ss](https://cloud.githubusercontent.com/assets/8888020/6280590/faece052-b864-11e4-83ab-1d8ee26fea8a.png)

So can we say this is a feature and not a bug? @aronasorman @jamalex @rtibbles

[2015-02-20 02:30] MCGallaspy commented on #2968
I should note on other exercises it has the expected behavior (i.e. being able to draw over all the things)... it's defined by the assessment item data.

[2015-02-20 02:32] #2977 closed

[2015-02-20 02:34] jamalex commented on #2968
Seems to be desired behavior, yeah -- since touching the answer area needs to go through to the input fields. Looks closeable to me.

[2015-02-20 04:34] djallado commented on #2973
Hi!

I can't replicate this with **Genymotion emulator**, setting the **Base Memory** to 256.
I use Genymotion emulator coz I don't have any.
Ref: https://www.genymotion.com/#!/

What specs of tablet or computer we could replicate this?

[2015-02-20 08:06] amodia opened #3072 "multiple tabs active at coach manage page."
Branch: `Develop`
Expected Behavior : Only one navigation tab must be active.
Steps to Reproduce:  Log in as coach and navigate to manage tab.

![screen shot 2015-02-20 at 3 56 18 pm](https://cloud.githubusercontent.com/assets/8663934/6283079/1db4bc44-b91a-11e4-8115-bb0d18eb6b08.png)

[2015-02-20 08:33] amodia opened #3073 "language tabs will not display if not register device."
Branch: `Develop`
Expected behavior: language tab must not show if device is not register.
Steps to reproduce:  log in as coach and navigate at manage tab.
![screen shot 2015-02-20 at 4 21 16 pm](https://cloud.githubusercontent.com/assets/8663934/6283329/f391daa6-b91d-11e4-9f29-bcb087eb4a11.png)

[2015-02-20 10:01] jesumer commented on #3047
Hi,

I have an initial fix on this issue but I think it's not a good idea. I found it hard to fix since It is a rocket science which we will consider the validation of the Coach groups, learners and their finish exercises. I need some help here since I am not familiar about how the codes happening in coach report. Here's my screenshot of my quick fix:
![screen shot 2015-02-20 at 5 56 29 pm](https:

[2015-02-20 17:21] #2968 closed

[2015-02-20 17:21] rtibbles commented on #3073
This should be here, but we should be prompting people to register when they click into this window.

[2015-02-20 17:21] #3073 closed

[2015-02-20 17:22] rtibbles commented on #3049
Fixed in #3071

[2015-02-20 17:22] #3049 closed

[2015-02-20 17:24] rtibbles commented on #3006
Fixed in #3069.

[2015-02-20 17:24] #3006 closed

[2015-02-20 18:12] MCGallaspy opened #3075 "Running i18n-ize templates script translates css classes"
Some css classes are defined in template blocks used, for example, to highlight an active tab. The i18n-ize script wraps these in translate tags. See [here](https://github.com/learningequality/ka-lite/blob/develop/kalite/control_panel/templates/control_panel/device_management.html#L8) for an example. Can we add some blocks (like `{% block users_active %}`) to a blacklist for the purposes of this s

[2015-02-20 18:26] MCGallaspy commented on #2967
@Antrikshy have you opened a PR for this? No fading seems fine to me, though I am relatively un-opinionated about it.

[2015-02-20 18:45] jamalex commented on #2949
Duplicate

[2015-02-20 18:45] #2949 closed

[2015-02-20 18:51] rtibbles commented on #2984
Fixed in #3036

[2015-02-20 18:51] #2984 closed

[2015-02-20 18:52] rtibbles commented on #3072
Fixed in #3076

[2015-02-20 18:52] #3072 closed

[2015-02-20 18:54] rtibbles commented on #1861
This is fixed.

[2015-02-20 18:54] #1861 closed

[2015-02-20 18:55] rtibbles commented on #2178
No longer extant.

[2015-02-20 18:55] #2178 closed

[2015-02-20 18:56] rtibbles commented on #950
Now possible.

[2015-02-20 18:56] #950 closed

[2015-02-20 19:01] rtibbles opened #3077 "Styling and naming issues when clicking on "My Progress""
![image](https://cloud.githubusercontent.com/assets/1680573/6307354/e13d63ee-b8ef-11e4-9c7f-afce79db544f.png)

[2015-02-20 19:06] jamalex commented on #1336
We're moving away from this design; closing.

[2015-02-20 19:06] #1336 closed

[2015-02-20 20:07] MCGallaspy commented on #2919
So our minimum for 0.13 release is to get start/stop running on all OSes.

[2015-02-20 20:07] jamalex commented on #2950
The CC-licensing is sorted, I believe. But we should do a pass through and see what exercises are completely broken (for whatever reason), so we can weed them out prior to release.

Any time for counting cracks in Perseus for 0.13, @mjptak?

[2015-02-20 20:08] jamalex commented on #883
No longer relevant to approach.

[2015-02-20 20:09] #883 closed

[2015-02-20 20:09] MCGallaspy commented on #2919
On Windoze there are issues with adding `kalite.bat` to the path and executing it from any directory, but it seems to run fine (fingers crossed) if invoked in its same directory.

[2015-02-20 20:30] mjptak commented on #2950
been trying to crack the Perseus thing.... still always go back to my
favorite John Resig quote....me:  what do we do when they start looking at
the view source to see the answers.  He:  When they do that we have won.
(:))  Tell me what you need...its definitely not beach weather here so
playing around with Perseus (named after a character in a warm place) is on
the agenda.

On Fri, Feb 20, 2015 a

[2015-02-20 21:58] MCGallaspy commented on #3077
I may have merged too soon. See:
![ss](https://cloud.githubusercontent.com/assets/8888020/6310126/83ed4ccc-b908-11e4-94b8-8fd3d0092e8a.png)

[2015-02-20 22:01] Antrikshy commented on #2967
I think it does too. Kind of forgot about it. It's an way change. I'll open a PR soon.

[2015-02-20 22:08] rtibbles commented on #3077
Hrm. I reduced the font size to try to prevent this. Will double check on how to de-overlap this text.

[2015-02-20 22:43] rtibbles commented on #3077
Better?
![image](https://cloud.githubusercontent.com/assets/1680573/6310756/c9d109b2-b90e-11e4-8d2c-2a6983f141d5.png)

[2015-02-20 22:57] MCGallaspy commented on #3077
I can live with it. Can we get another set of eyes on it before I merge, as a sanity check?

[2015-02-21 00:00] #3077 closed

[2015-02-21 00:34] MCGallaspy commented on #2919
Seems like Windows just doesn't like some of the default options from `kalite.bat start`...? Testing it out, but because the server takes so long to start its quite a slow process.

[2015-02-21 00:35] MCGallaspy commented on #2919
Also `kalite status` seems to always think the server has stopped (even when it's running).

[2015-02-21 01:08] MCGallaspy commented on #2919
Indeed, the server seems to fail to start when the `--daemonize` option is included...

So the full command that windows hates is something like `kalitectl.py manage kaserve --host=0.0.0.0 --daemonize --production --pidfile=foo --startup-lock-file=barf`.

[2015-02-21 03:45] Antrikshy commented on #2967
Removed (commented out for now) about 5 lines and sidebar no longer fades (second screenshot above). I like the clean look of white text.

#3081

[2015-02-21 12:05] mjptak opened #3082 "Perseus exercise triage"
branch: develop
steps to reproduce: run exercise and to go to hint

This exercise works but the hint takes you to a video url which targets the Khan Academy mothership.
http://127.0.0.1:8008/learn/khan/humanities/renaissance-reformation/early-renaissance1/sculpture-architecture-florence/brunelleschi-and-ghiberti-s-sacrifice-of-isaac-quiz/

This appears to affect all of the assessment items used in

[2015-02-22 05:01] mjptak commented on #3082
It turns out that 878 assessment items reference a video (searched for video in the assessment_item_hints).  I presume that some sort of blanket change can be made to redirect to the local KA Lite video in these cases.

[2015-02-22 10:14] benjaoming commented on #2919
It is unfortunately true that Windows doesn't support daemon behaviour,
actually whatever happens in the cherrypy, probably doesn't work on Windows
and should perhaps be conditionally turned off. This is true both for
chronograph and cherrypy AFAIK.

Windows has to go other ways with "services" or something to have a
daemon-like process.

I don't know why it would always think that the server has

[2015-02-22 15:19] DragoonHP opened #3083 "No Python videos in 0.13.x"
Just updated to 0.13. I love the new interface but I noticed that the Python section is not there. Any reason why it was dropped?

[2015-02-22 20:40] jamalex commented on #3083
Hey @DragoonHP! Thanks for checkout out the 0.13 prerelease.

Looks like KA may have removed the Python lessons (perhaps to avoid confusion with their JS-focused CS curriculum?). Do you see them on KA's site anymore? If you can find them on there, we can look at why they're not being included, otherwise there's probably not much we can do.

[2015-02-22 21:01] jamalex commented on #3075
Oooh, yeah, that will break things badly when using another language. Good catch!

Rather than making a blacklist in some third location, perhaps we could have a template tag or other marker right on a piece of text that should be ignored by i18n-ize.

Also, @aronasorman @cpauya, this seems like yet another good reason to have a dummy language pack containing reversed/accented strings, as that wou

[2015-02-22 21:03] jamalex commented on #3075
Adding this to the 0.13.x milestone, since it will break nav for i18n users. MVP is just to manually remove the existing bad translate tags.

[2015-02-22 21:22] jamalex commented on #3082
Thanks, @mjptak! This is really helpful.

We should get these cleaned up prior to release.

[2015-02-23 00:15] jamalex commented on #3082
Interestingly, the quiz mentioned above links to a KA video that no longer exists, so it's broken on their site as well:
https://www.khanacademy.org/humanities/renaissance-reformation/early-renaissance1/sculpture-architecture-florence/e/brunelleschi-and-ghiberti-s-sacrifice-of-isaac-quiz

But in general, we should be able to do a lookup and replacement.

[2015-02-23 00:21] jamalex commented on #3082
Oh, looks like they're just using the incorrect field (the "id", with multiple dashes in a row, rather than the "slug") in generating their video link. So, in the process of fixing up the URLs, we can make them less broken than they are on the KA site. :astonished:

[2015-02-23 00:28] jamalex commented on #3082
Hmm, actually, looks like the readable id might have changed; no reference to the multi-dash version in the API:
http://www.khanacademy.org/api/v1/videos/uvgBSJPiQ8Y

[2015-02-23 01:45] DragoonHP commented on #3083
Just checked KA, and they seems to have removed python for good.

So will we have to delete the python videos manually, or is there a script/command to do that?

[2015-02-23 03:04] mjptak commented on #3083
What....KA lite build with Django and Python but with no Python videos and exercises?   Luckily "channels" are built into this functionality and there is no shortage of outstanding Python series out there (I loved David Evans' course at Udacity)  The beauty of Version 0.13...the possibilities of version 0.14.

[2015-02-23 03:11] mjptak commented on #3082
As the perseus library builds into physics, chemistry and beyond I would expect that hint links to websites and/or pdfs for the hints may become more predominant.  (humankind does not learn by video and exercise alone).   I saw such in some of the computer science and algorithm stuff.   There seems to be a fair bit of this already in the partner content like that coming out of the California Acade

[2015-02-23 03:27] djallado opened #3084 "UX issue on update_languages page."
Branch: `Develop`

Expected behaviour:  It should not overlap on the right side of that container.
Steps to reproduce:

1. Login as admin
1. Go to Language tab.

screenshot is attached below:
![screen shot alignment](https://cloud.githubusercontent.com/assets/8664071/6322401/80d7e2d4-bb4e-11e4-9589-6ebb72f70fe1.png)

Task:

1. - [x] Align Get Language Pack
1. - [x] Align installed-languages table

[2015-02-23 03:47] cpauya commented on #3084
@djallado Try to check if you can also fix the footer issue as reported on #3003.

[2015-02-23 05:44] amodia opened #3085 "Empty row at the bottom of facilities table."
Branch: `develop`
Expected behavior: facilities table must no empty row.
Steps to reproduce:
 1. log in as admin
 2. navigate to manage tab.

![screen shot 2015-02-23 at 11 13 08 am](https://cloud.githubusercontent.com/assets/8663934/6323251/dff0a6c6-bb61-11e4-8c2e-c37aed965d83.png)

[2015-02-23 07:12] jesumer opened #3087 "Running "update_language_packs" at central server doesn't download the latest po file translated strings from crowdin."
Branch: develop

Expected Behavior: When running the `update_language_packs` at `central server` should download the latest po files from crowdin. I manually downloaded the po files from [crowdin](https://crowdin.com/project/khanacademy/de)  and here's the screenshot:
![screen shot 2015-02-23 at 2 38 40 pm](https://cloud.githubusercontent.com/assets/2810009/6323930/14ac1a70-bb6d-11e4-97f4-860e5f67

[2015-02-23 07:54] arceduardvincent commented on #3075
Hi @aronasorman and @cpauya

I would like to work on this issue.

Objective:

Question:
Could we make the `make a dummy language pack ` another filed issue?
Coz I think this one is not part of fixing the `i18n-ize templates script`

[2015-02-23 07:59] amodia opened #3089 "Manage navigation showing on guest user."
Branch: `develop`
Expected behavior: Manage navigation must not show if guest user.
Step to reproduce: Navigate to sign up page using guest user.

![screen shot 2015-02-23 at 3 56 52 pm](https://cloud.githubusercontent.com/assets/8663934/6324426/e4f7d05a-bb74-11e4-8cc0-0e332da2ede7.png)

On log in page `manage navigation` not showing.

![screen shot 2015-02-23 at 4 08 16 pm](https://cloud.githubus

[2015-02-23 08:00] cpauya commented on #3075
Good idea, please file another issue to make a dummy language pack for testing.

[2015-02-23 08:06] arceduardvincent commented on #3075
Yeah, I will thanks .

[2015-02-23 09:10] arceduardvincent opened #3091 "Make a dummy language pack containing reversed/accented strings."
Branch: master

Expected Behaviour:

Current Behaviour:

Steps to Replicate:

[2015-02-23 09:12] #3091 closed

[2015-02-23 09:13] cpauya commented on #3091
I think this must be for the [central repo](https://github.com/fle-internal/ka-lite-central)?

[2015-02-23 10:40] cpauya commented on #3047
@jesumer Let's refactor this to work as a proper form.  You don't have to worry how the filters work on the back-end because I think they already work as intended, it's the front-end form behavior that is confusing (that `Go` button and the resulting error message).

Suggested form behavior:

1. When a report type is selected, show it's corresponding filters like the date range boxes.
1. When `Go`

[2015-02-23 10:43] jesumer commented on #3047
Hi @aronasorman,

 @cpauya. Yes I agree about this.
This issue is related to this [issue](https://github.com/learningequality/ka-lite/issues/3051)

[2015-02-23 10:50] anuragkanungo commented on #3013
Points are not being deducted , its just the display error. Wrong points are displayed.

[2015-02-23 10:53] anuragkanungo commented on #2948
@jamalex , yes its for SBP and it hasn't updated to RCT3 , still in RCT2 and doesn't have dynamic settings.
So, I made STREAK_CORRECT_NEEDED = 8 in distributed/static/distributed/exercise.js
As we are sure that SBP will never update.

[2015-02-23 17:39] MCGallaspy commented on #2919
part used to be okay, and stopping it works fine, right?

No, stopping fails because it thinks it's already been stopped. I'll try to make it more robust. Regarding the `--daemonize` option, do you think its inclusion should be conditional on the operating system?

[2015-02-23 18:05] arceduardvincent commented on #3075
Hi @MCGallaspy .

I will make a file that contains about the list `blocks` that we may set its value to be ignored or be run `i18n-ize templates script`.

Blacklisting Format
[code]
Note:
There are some blocks that `i18n-ize templates script` must run on them like `{% block content %}` .

If you had some good idea please tell me so I could know so we could improve the script better.
Thanks

[2015-02-23 18:11] MCGallaspy commented on #3075
@arceduardvincent, I think @jamalex has a better idea:

That way it would be immediately clear to the reader what is getting picked up by the i18n-ize script and what isn't. What do you think?

[2015-02-23 18:21] arceduardvincent commented on #3075
@MCGallaspy yeah it is good idea that we place a marker since minority of the blocks are must be ignored by our `i18n-ize templates script `.

[2015-02-23 21:31] Antrikshy opened #3093 "Exercises allow checking for hints even after the answer is verified to be correct"
Hints should be disabled once user has answered the question correctly.

[2015-02-23 21:39] Antrikshy opened #3094 "Drawing on scratchpad sometimes selects page elements"
This one is a bit hard to describe. I encountered this in the radio-button style exercise as pictured.

![screen shot 2015-02-23 at 1 35 45 pm](https://cloud.githubusercontent.com/assets/6601788/6338073/ff3b03d8-bb60-11e4-9b0d-12a5582260a1.png)

It happens when the user starts dragging from within the `label` element highlighted below.

![screen shot 2015-02-23 at 1 37 14 pm](https://cloud.githubu

[2015-02-23 21:41] Antrikshy opened #3095 "Search bar allows searching for empty string"
Just click the search button in the navbar at the top without typing anything in the input field. It will search for ''. Minor rough-around-the-edges bug.

[2015-02-23 21:48] mjptak commented on #3093
I'm not sure this is the desired functionality.  I thought that once you
got the correct answer you still should be able to check how the hints
explained it.  (especially important as alternative solution methods are
added(if ever)).

On Mon, Feb 23, 2015 at 3:31 PM, Antriksh Yadav <notifications@github.com>
wrote:

[2015-02-23 21:49] Antrikshy commented on #3093
I see. Hopefully they don't count the answer as incorrect once it has been confirmed correct.

[2015-02-23 21:52] #2987 closed

[2015-02-23 21:55] Antrikshy opened #3096 "Show scratchpad button does not work sometimes"
1. Go to an exercise.
2. Open scratchpad to confirm it works.
3. Go to another exercise.
4. Attempt to open scratchpad and be surprised.

Reload page to make it work again.

Related: After switching exercises, the show hints button seems to misbehave (even goes to -1 hints).

[2015-02-23 21:57] MCGallaspy commented on #3094
I'm not sure I understand the issue, but I think the desired behavior is for e.g. radio buttons to be above the scratchpad so that you can actually select them.

[2015-02-23 21:58] MCGallaspy commented on #3094
Anyway elements that are above the scratchpad are defined in the exercise JSON blob, so it may be hard to change.

[2015-02-23 21:59] MCGallaspy commented on #3096
Are you able to open the scratchpad on a different exercise after refresh? You're sure it's not an issue of the scratchpad simply not being available for that exercise?

[2015-02-23 22:00] Antrikshy commented on #3094
I know it might be hard to fix, but the radio buttons stretch across the scratchpad and it's very easy to hit one of them when drawing.

[2015-02-23 22:01] Antrikshy commented on #3096
Yep. This seems to affect all exercises. Also, if there are exercises with no scratchpad support, it would be nice to disable the scratchpad button on them.

[2015-02-23 22:04] MCGallaspy commented on #3094
I see... can we add a css rule to reduce the size of the radio button containers?

[2015-02-23 22:12] Antrikshy commented on #3094
Mayhaps. I tried reducing the width, but its margin still seems to cover the space. I wasn't able to fix that. It should be possible with the `box-sizing: border-box` styling so that width is calculated including the border, margin etc (if I [understand it](http://adamkaplan.me/grid/) correctly). It's common to use this styling across the website in responsive design, but I'm not sure if it will m

[2015-02-23 22:17] sethachoi opened #3097 "Navbar elements are misaligned when viewing with a viewport width of <768"
![viewportnavbar](https://cloud.githubusercontent.com/assets/5778980/6339238/584b2068-bb69-11e4-9175-e56e00ce3405.png)

Frequency: Always

Steps to reproduce:
1. Launch KALite
2. Set viewport width to something less than 768px, or use a device that fits that criteria
3. Open the navbar by hitting the three bar button

Expected results:
Elements are aligned with the blue bar, instead of being cente

[2015-02-23 22:31] sethachoi opened #3098 "Sometimes navbar displays "Points: [user's points]"
![khanpointsbug](https://cloud.githubusercontent.com/assets/5778980/6339083/53b4d5f4-bb68-11e4-9643-cdbac2d02321.png)

Frequency: Sometimes (maybe like 1 out of 5 tries)

Steps to reproduce:
1. Launch KALite
2. With a viewport size of >768, hit either the KALite logo, or the Learn tab
3. Close the sidebar
4. Resize to <768
5. Repeat process if needed

Expected results:
Navbar shouldn't say anythin

[2015-02-23 22:41] sethachoi opened #3099 "Dropdowns for the Report page misaligned when viewport width <768"
![reportdropdownsmisaligned](https://cloud.githubusercontent.com/assets/5778980/6339318/e9167566-bb69-11e4-8e46-c41a1d11a62f.png)
Frequency: Always

Steps to reproduce:
1. Launch KALite
2. Set viewport width to something less than 768px, or use a device that fits that criteria
3. Open the Reports tab

Expected results:
Dropdown elements are spaced consistently, compared with the full size version

[2015-02-23 22:57] jtamiace opened #3100 "For exercises, should we allow user input while the keypad is open too?"
I understand that when the keypad is open, users should be using it instead of inputting from their own keyboard, but it took me a while to figure out that I had to close it before I could input.

Might be because I see using the keypad as optional on a desktop computer but I can see why this would be a useful restriction for users that are doing exercises on tablets.

![keypad](https://cloud.gith

[2015-02-23 23:01] MCGallaspy opened #3101 "Submitting with hidden input button breaks the exercise"
On `develop` in 0.13.
Expected behavior: Using tab keystroke on an input should (eventually) bring me to the submit button, where I can press enter and proceed normally. (Because who needs a mouse?)
What actually happens: On `/learn/khan/math/linear-algebra/vectors_and_spaces/vectors/adding_vectors/`, for example, pressing tab when the last input box is selected focuses on a hidden "submit" button

[2015-02-23 23:09] jtamiace opened #3102 "Alignment bug for "get language pack" button"
Logged in as teacher or admin, placement of button is a bit off. Also messes up at different screen size

![language alignment](https://cloud.githubusercontent.com/assets/6668144/6339786/ef8bb54c-bb6d-11e4-87f0-02c76c5ec083.PNG)

[2015-02-23 23:18] jtamiace opened #3103 "Alignment bug for "completing streak" screen"
Logged in as a student user

EDIT:
To reproduce: log in as a student and do exercises on an exercise you haven't done before until you see this screen pop up

![congrats](https://cloud.githubusercontent.com/assets/6668144/6339932/34349dac-bb6f-11e4-9142-f625cd05951f.PNG)

[2015-02-23 23:21] jtamiace opened #3104 "Alignment bug for "completing streak" screen"
Logged in as a student user

![congrats](https://cloud.githubusercontent.com/assets/6668144/6339932/34349dac-bb6f-11e4-9142-f625cd05951f.PNG)

[2015-02-23 23:31] MCGallaspy commented on #3102
Duplicate of #3084.

[2015-02-23 23:31] #3102 closed

[2015-02-23 23:32] MCGallaspy commented on #3103
Can you give a more detailed explanation of how to reproduce this?

[2015-02-23 23:34] MCGallaspy commented on #3093
@mjptak makes a good point. I'll leave this open for further comments for now.

[2015-02-23 23:35] jtamiace opened #3105 "Clicking edit teacher button on "users" changes the second level nav tab to "facilities," should stay on "users""
This is probably a templating issue.
To reproduce: log in as a teacher, go to users and click the edit button (in red below)

![users](https://cloud.githubusercontent.com/assets/6668144/6340119/463e509a-bb71-11e4-8fed-21d720e86335.PNG)

Should still be on "users"
![users to facilities](https://cloud.githubusercontent.com/assets/6668144/6340131/58ee858e-bb71-11e4-9453-3facaf4f6399.PNG)

[2015-02-23 23:37] MCGallaspy commented on #3096
I'm labeling this as high priority since it could potentially prevent learners from completing exercises normally.

[2015-02-23 23:41] MCGallaspy commented on #3101
Marking as high priority since it can prevent exercises from being completed normally.

[2015-02-23 23:41] MCGallaspy commented on #3104
Duplicate of #3103.

[2015-02-23 23:41] #3104 closed

[2015-02-24 00:48] MCGallaspy commented on #2919
Yeah, something's awfully fishy about this start command on Windows. Server starts, but it fails to create a lock file or pid file, even when I take out the `--daemonize` option.

[2015-02-24 01:02] MCGallaspy commented on #3096
I think the problem is that a listener is attached to the `#scratchpad-show` button, but a new such button is created on a backbone navigation event without attaching a listener.

[2015-02-24 01:18] MCGallaspy commented on #3096
Plot twist: the listener is registered twice and thus clicking the button calls the scratchpad visibility toggling function twice.

[2015-02-24 01:27] Antrikshy commented on #3096
That is hilarious.

[2015-02-24 01:54] jesumer commented on #3103
Hi @MCGallaspy,

I review this issue and tried 3 exercises but I don't see anything strange here. cc@jtamiace
![screen shot 2015-02-24 at 9 50 22 am](https://cloud.githubusercontent.com/assets/2810009/6341877/da05e5c4-bc0a-11e4-85cf-f3072140fb63.png)

Please give more detailed explanation to reproduce this as what @MCGallaspy told.

[2015-02-24 02:04] cpauya commented on #3103
@jesumer It's a different message, did you do an exercise that you haven't done before as @jtamiace mentioned above?

[2015-02-24 02:12] jesumer commented on #3103
@cpauya. Yes. I did as what is my screenshot. That is what the output when I tried the exercises. In short I can't reproduce the issue since it is not clear how to reproduce. I need the clear explanation on how to reproduce.

[2015-02-24 02:27] MCGallaspy commented on #3103
@jtamiace can you help us reproduce this?

[2015-02-24 02:33] cpauya commented on #3103
I can't reproduce this too.  But getting a hint from the screenshot, I completed one exercise then took another one to be on a streak, I got this for the second exercise:

![screenshot 2015-02-24 10 27 08](https://cloud.githubusercontent.com/assets/175580/6342187/fc8533fc-bc0f-11e4-8f93-439ee4c69545.png

Then after answering the 8th question, I got this
![screenshot 2015-02-24 10 30 29](https://cl

[2015-02-24 02:43] aronasorman commented on #3103
@jtamiace what browser are you using?

[2015-02-24 02:44] aronasorman commented on #3103
Will close for now 'til we can reproduce this.

[2015-02-24 05:39] amodia opened #3110 "Ka-lite logo link on learn page instead of homepage."
Branch: `Develop`
Expected behavior: when clicking the ka-lite logo it must go to homepage.
Step to reproduce: just click the ka-lite logo and you will redirected on learn page.

![screen shot 2015-02-24 at 1 37 11 pm](https://cloud.githubusercontent.com/assets/8663934/6343804/53215a14-bc2a-11e4-8aa9-8598f1782c51.png)

[2015-02-24 05:51] benjaoming commented on #2919
I would think that `--daemonize` should exist on windows but perhaps be a
no-op until something turns up.

The server will always fail to stop if there is no .pid file. That's
unfortunately fundamental to stopping it :) It used to create a .pid file
just fine in kalitectl... maybe it's a problem with the way that kaserve
works (didn't it also create a .pid file?).

On 23 February 2015 at 19:39, Mi

[2015-02-24 06:22] arceduardvincent opened #3112 "Unexpected behaviour of Navbar With a viewport size of < 768px"
Hi @aronasorman and @MCGallaspy
Branch : Develop

As you notice the image below the `Navbar` does not display the correct positioning of its tabs menu.
when the `Navbar` With a viewport size of >768 the tabs are misalign.

![screen shot 2015-02-24 at 2 26 33 pm](https://cloud.githubusercontent.com/assets/4099119/6344296/559a9236-bc31-11e4-8578-ed0ce2ce925d.png)

Steps to replicate:

[2015-02-24 06:42] #3098 closed

[2015-02-24 10:29] EdDixon opened #3116 "Windows 12.10 Installer batch files LF as opposed to CRLF!"
All Windows Batch scripts in current 12.10 (maybe +?) are using unix LF and not windows CRLF line endings once decompressed onto the installation machine, breaking many functions. I have repaired the 9 batch files which I found affected and everything seems much improved but I can only apply the fix locally because I am not sure how these get bound to the installer which is a separate git project

[2015-02-24 10:47] EdDixon commented on #2470
Maybe tied to issue 3116 just created involving line feeds when using windows installer.

[2015-02-24 10:49] EdDixon commented on #2926
Maybe tied to issue 3116 involving line feeds on windows installer which many DOC users are forced to use (no internet access). Git appears to pull the files with proper formatting.

[2015-02-24 10:57] waltonrp commented on #2926
I'm not sure what you mean, Ed. When I install, I do so out of facility, so the machine has Internet connectivity.

[2015-02-24 11:10] EdDixon commented on #2926
Your one of the lucky ones able to do that then :) so have tried installing using IT? I feel that may help resolve the issue (hopefully). Can you look at the bat files in the scripts folder and see if they look ok? The ones creating problems will have little squares when viewed using notepad or wordpad. Like this: https://github.com/learningequality/ka-lite/issues/3116 on the left is what they sho

[2015-02-24 11:12] waltonrp commented on #2926
I’m not sure what you mean IT?

Robert Walton
Regional Information Technology Specialist
DOC – CTSU – Field Services Unit

From: Ed Dixon [mailto:notifications@github.com]
Sent: Tuesday, February 24, 2015 6:10 AM
To: learningequality/ka-lite
Cc: Walton, Robert P. (VADOC)
Subject: Re: [ka-lite] KA Lite start at boot does not work on Windows. (#2926)

Your one of the lucky ones able to do that then

[2015-02-24 11:15] EdDixon commented on #2926
Sorry I meant GIT which is a source code repository manager which can also be used to install KA-Lite. But if you give us a little time here I think we can fix the installer which will be a better fix for many other DOC's out there and easier for your team to manage internally once deployed.

[2015-02-24 11:18] waltonrp commented on #2926
Okay, thanks, I’m IT so was confused. Checking that script file…

Robert Walton
Regional Information Technology Specialist
DOC – CTSU – Field Services Unit

From: Ed Dixon [mailto:notifications@github.com]
Sent: Tuesday, February 24, 2015 6:15 AM
To: learningequality/ka-lite
Cc: Walton, Robert P. (VADOC)
Subject: Re: [ka-lite] KA Lite start at boot does not work on Windows. (#2926)

Sorry I meant

[2015-02-24 11:39] waltonrp commented on #2926
Here's a screen shot
![cronstart](https://cloud.githubusercontent.com/assets/9379591/6348659/cbaae6fc-bbef-11e4-881d-0bfb0b163a1b.jpg)

[2015-02-24 11:43] EdDixon commented on #2926
That one file is just an example of many that will need to be fixed on our part here. This one bug corrected should resolve many issues but starting the KA-Lite program on reboot is one that is for sure directly related to this. Is word wrap turned on in that capture? Odd that I do not see the LF's but also that there are no line breaks in that batch file which would still corrupt it? Also, just s

[2015-02-24 11:45] waltonrp commented on #2926
I had to turn on word wrap

Robert Walton
Regional Information Technology Specialist
DOC – CTSU – Field Services Unit

From: Ed Dixon [mailto:notifications@github.com]
Sent: Tuesday, February 24, 2015 6:44 AM
To: learningequality/ka-lite
Cc: Walton, Robert P. (VADOC)
Subject: Re: [ka-lite] KA Lite start at boot does not work on Windows. (#2926)

That one file is just an example of many that will n

[2015-02-24 12:35] #3099 closed

[2015-02-24 12:36] #3097 closed

[2015-02-24 12:40] #3084 closed

[2015-02-24 12:42] #3095 closed

[2015-02-24 17:50] MCGallaspy commented on #3116
Which files have you found that are affected by this, @EdDixon? All `.bat` files?

[2015-02-24 17:51] MCGallaspy commented on #2470
@EdDixon I'm not so sure, this issue doesn't seem specific to Windows.

[2015-02-24 18:09] MCGallaspy commented on #3105
Since we opened up this file, let's remove these erroneous translate blocks.

[2015-02-24 18:10] MCGallaspy commented on #3105
Disregard, meant to comment on PR.

[2015-02-24 18:10] #3105 closed

[2015-02-24 18:11] EdDixon commented on #2470
@MCGallaspy right you are here just have not encountered this first hand until dealing with broken batch scripts from the windows installer but your right original was Arch Linux!

[2015-02-24 18:13] MCGallaspy commented on #3112
Are you talking about the Teach/Manage/user tabs? Can you stack all the tabs underneath the container for the search bar?

[2015-02-24 18:34] EdDixon commented on #3116
/kalite
     start.bat
     run_command.bat
     setup_windows.bat
/kalite/scripts
     cronstart.bat
     python.bat
     run_command.bat
     serverstart.bat
     start.bat
     stop.bat

I discovered these while manually applying server settings trying to get the broken install from windows installer to work properly. I do not believe you will find them any other way but to completely wipe ka-l

[2015-02-24 21:44] MCGallaspy commented on #2919
This issue is frustrating me to no end, not least because it takes so long for the server to start up. I'm curious what command previous versions of KA Lite use to start up on Windows, as that might provide some clues as to the appropriate commands to be running here. Does it just call the `start.bat` script in the `scripts` directory?

[2015-02-25 01:31] arceduardvincent commented on #3112
yeah I can @MCGallaspy .

I can make it responsive to adapt the device viewport. Let me work on this issue.
Thanks

[2015-02-25 01:46] jesumer commented on #3087
Hi @aronasorman,

cc @cpauya
What I did was:
1. I open up the file `update_language_packs.py` in the `ka-lite-central/centralserver/i18n/management/commands/`.
2. Get the url that is responsible of downloading a zip file from crowdin.
![screen shot 2015-02-25 at 9 27 13 am](https://cloud.githubusercontent.com/assets/2810009/6363259/5e8df95a-bcd1-11e4-981d-943bbd333f19.png)
3. Then manually downloa

[2015-02-25 01:48] cpauya commented on #3087
@jesumer Can you read more details on the [CrowdIn API](https://crowdin.com/page/api) if we have an alternative API to use?

[2015-02-25 01:50] cpauya commented on #3087
Hmm... at the [Download API](https://crowdin.com/page/api/download) page, it's saying:

So maybe we need to Export first before downloading to make sure we get the latest translations?

[2015-02-25 02:12] jesumer commented on #3087
We already have the "export" function it is called at code line 414 at my screenshot.

[2015-02-25 04:19] rtibbles opened #3119 "Hover on tabular coach report obscures user data"
@Antrikshy this looks like it came from your addition of .table-hover class on the tabular coach report. Care to fix?

![image](https://cloud.githubusercontent.com/assets/1680573/6364902/67ecb334-bc62-11e4-8092-fdaa1e952300.png)

[2015-02-25 04:25] rtibbles opened #3120 "Coach report facility selection flows nicely for mobile, not for larger view ports"
@Antrikshy your changes have made this page better for mobile, but it pushes actionable items off the bottom of the screen on wider viewports (i.e. the report type specific inputs and buttons).

Can we make this responsive for all form factors?

![image](https://cloud.githubusercontent.com/assets/1680573/6364952/36a461fe-bc63-11e4-9b8c-7c63878be8d4.png)

[2015-02-25 04:29] rtibbles commented on #3101
Fixed in #3101.

[2015-02-25 04:30] #3101 closed

[2015-02-25 06:27] benjaoming commented on #2919
Yes, previous method is still available in the scripts dir.

On 24 February 2015 at 23:45, Michael Gallaspy <notifications@github.com>
wrote:

[2015-02-25 07:37] Antrikshy commented on #3119
I'll take a look at it as soon as possible.

[2015-02-25 09:09] amodia opened #3122 "Language pack error message should not appear at video tab."
Branch: `Develop`
Expected behavior: Language pack error message should not appear when video tab is active.
Steps to reproduce:
 1. make sure the distributed is not connected to central server.
 2.  log in as admin.
 3. navigate to video and language tab.

![ka-lite-a](https://cloud.githubusercontent.com/assets/8663934/6367632/402e8652-bd10-11e4-9017-85d15d853b6c.gif)

[2015-02-25 11:40] jamalex opened #3124 "User popup on scatterplot coach"
Branch: develop

Expected: Nice, colored legend on student popup on scatter report.

Observed:
![image](https://cloud.githubusercontent.com/assets/618416/6369351/5482f970-bd07-11e4-9e45-83e23fb2ed3d.png)

Steps to replicate:

- Load scatter coach report page
- Click on dot
- Observe ugly legend formatting in popup

[2015-02-25 22:34] Antrikshy commented on #3119
There you go: #3125.

From what I gather from the screenshot, removing .table-hover should fix it, correct?

[2015-02-25 22:44] Antrikshy commented on #3120
I can't reproduce. You mean stretching the screen really wide makes the bottom form etc disappear?

Fullscreen on a huge monitor doesn't do anything on my end (tested on Firefox and Safari):
![screen shot 2015-02-25 at 2 42 43 pm](https://cloud.githubusercontent.com/assets/6601788/6382343/96f25d4c-bcfc-11e4-803c-ff375c9fa0c5.png)

What browser/device does this occur on?

[2015-02-25 22:44] EdDixon commented on #2470
OK keeping in mind the OP was in regards to Arch Linux, this error has now presented itself on all platforms (except R-Pi / Android) as far as I know. Today after building clean windows installer per that GIT instruction and attempting to run I reproduced this error by:

1) running GUI installer and completing all prompts (this included installing the bundeled python no python previously installed

[2015-02-26 00:16] cpauya commented on #3120
@Antrikshy Prior to your updates, the dropdowns are laid-out horizontally, now they are all in vertical.  The vertical layout is good for mobile devices, but we should preserve the horizontal display for desktop browsers (maybe whose width > 768px?), it makes it easy to see the other controls at the bottom.

@arceduardvincent Can you take a look on this?

[2015-02-26 00:20] Antrikshy commented on #3120
Ohhh I see. I think I know exactly how to fix this! Assign this issue to me so I can easily look it up tomorrow or later today.

[2015-02-26 00:45] #2967 closed

[2015-02-26 01:15] rtibbles commented on #3096
Fixed in #3117 .

[2015-02-26 01:15] #3096 closed

[2015-02-26 01:27] #3110 closed

[2015-02-26 01:29] #3089 closed

[2015-02-26 01:30] #3085 closed

[2015-02-26 01:34] MCGallaspy commented on #3083
@DragoonHP if you want to get rid of the video files, you'll probably have to delete them manually. But it shouldn't affect your installation to just keep them (except that they'll take up storage space, of course). @jamalex wanna chime in?

[2015-02-26 01:35] MCGallaspy commented on #2950
@mjptak how's this going? Need any help?

[2015-02-26 02:29] rtibbles commented on #3100
Problems I can see with solving this:
* we need to disable the input box when the keypad is open in order to prevent system keyboard popping up on Android.
* The reason we have the 'Show keypad' option is because there is no completely reliable way of checking that you are using a touch screen device, so if someone is on a tablet it has not been shown by default and someone toggles it on, then the

[2015-02-26 02:37] cpauya commented on #3122
To put this in context (assuming that we didn't use the `clear_messages()` javascript function on the Videos and Languages codes:

1. If user selects the Manage menu -> Videos tab, the error message relating to languages shows.
2. If user selects the Manage menu -> Languages tab, there are no error message relating to video.

So the question is: Why does the code relating to the languages run even

[2015-02-26 02:55] djallado commented on #3124
@jamalex
Agree. Maybe we put Struggling below the **name** indent it and put proper Colour.

[2015-02-26 03:03] cpauya commented on #3124
@djallado - This already has colored legends before, now they are missing or removed, perhaps cross-check on the `master` branch?

[2015-02-26 03:04] rtibbles commented on #3124
This is how it looks on master:
![image](https://cloud.githubusercontent.com/assets/1680573/6385603/0cb4285c-bd21-11e4-91cb-710d667c26cf.png)

Just a matter of making this functionality work properly again. Might just be css style names got changed in one place, but not here (for example on the Tabular Report legend styles).

[2015-02-26 03:07] djallado commented on #3124
Ok. Thanks @cpauya and @rtibbles, I'll verify it.

[2015-02-26 03:25] cpauya opened #3128 "Page titles of some templates are wrong."
Branch **develop**

To reproduce:

1. Login as admin and navigate to the `Manage` tab.
2. Click on the `Videos` tab and notice the page title is wrong "Update VideosWelcome | KA Lite"
3. Click on the `Language` tab and notice the page title is also wrong "Update LanguagesWelcome | KA Lite"

This is related to #3057 but decided to open a new issue as "catch-all" for all templates affected by this.

[2015-02-26 04:16] cpauya opened #3130 "Tab for Update Software is missing."
Branch **develop**

Two issues for this:

1. There is no link to update the software on the Manage tabs.
2. The actual link points to http://127.0.0.1:8008/update// - notice that it has two `/` at the end - so we need to fix this on `/kalite/updates/urls.py` too.

Possible solutions:

1. Add a tab under the Manage nav along with the `Videos` / `Languages` tabs.  The tab content should look like th

[2015-02-26 07:36] benjaoming commented on #2926
I can't fix this now, but suggesting someone to do this from a Linux
machine...

    cd scripts
    sed -i 's/$/\r/' *bat

This adds the CR character to the end of all lines so Windows will
understand.. I don't know if this actually causes any issues with the
scripts.

On 24 February 2015 at 13:45, waltonrp <notifications@github.com> wrote:

[2015-02-26 07:57] amodia opened #3133 "Manage tab not working for coach user."
Branch: `develop`
Expected behavior: when clicking the manage tab it must active and show manage navigation.
Steps to reproduce:
 1. log-in as coach
 2. navigate to manage tab.

![ka-lite-a](https://cloud.githubusercontent.com/assets/8663934/6387949/a16989bc-bdce-11e4-8543-22c49d9bfc4f.gif)

[2015-02-26 08:12] jesumer opened #3134 "Unlimited questions after streak completion."
Branch: develop

Expected Behavior: After the streak completion should stop or proceed to the next exercise.

Current Behavior: After streak completion we now have unlimited questions.
![screen shot 2015-02-26 at 4 11 01 pm](https://cloud.githubusercontent.com/assets/2810009/6388206/1d4eb57c-bdd2-11e4-8939-a8324887cdab.png)

Steps to reproduce:

1. Logged in as a student user.
2. Do an exercise.
3

[2015-02-26 08:20] arceduardvincent commented on #3120
I suggest that we consider the view port of each device and our app must have a responsive design.
I'll attach some image that demonstrate the responsive design and it corresponds on 3 different viewport mobile and desktop view.

The mobile view with a `(320 × 480 HVGA (old iPhones, small Androids))` and `(768 × 1280 WXGA - High-end Windows Phone)`

![screen shot 2015-02-26 at 4 10 04 pm 2](https:

[2015-02-26 08:36] Antrikshy commented on #3120
I have been working on this. I like the idea of a completely horizontal form on larger screens though.

[2015-02-26 08:47] arceduardvincent commented on #3120
:+1:
thanks for the confirmation on my suggestion.

[2015-02-26 09:22] cpauya commented on #3133
We found out that for the coach user, the `Manage` tab points to the `control_panel/facility_management.html` template which does not inherit the blocks used in the `base_manage.html`.

However when the coach user clicks on the "Zone for public..." link, the user is presented with the UI for the local KA Lite installation such as this and that the `Manage` link is now active:

![screenshot 2015-02

[2015-02-26 14:19] rtibbles commented on #2912
Fixed in #3127.

[2015-02-26 14:19] #2912 closed

[2015-02-26 14:25] rtibbles commented on #3122
Fixed in #3123.

[2015-02-26 14:25] #3122 closed

[2015-02-26 14:28] rtibbles commented on #3128
Fixed in #3131 .

[2015-02-26 14:28] #3128 closed

[2015-02-26 14:54] rtibbles commented on #3112
Fixed in #3132

[2015-02-26 14:54] #3112 closed

[2015-02-26 15:25] rayeshman opened #3137 "Direct link for videos"
Hi,
I live in Iran and Internet's expensive and slow here so I can't download videos myself, and I should download them at my university.
And my university won't allow me to run ka-lite to download video files, BitTorrent Sync is unavailable because of sanctions against my country and YouTube is blocked by the government so there's only one way left for me to download video files and that's using

[2015-02-26 15:27] rtibbles commented on #3124
Fixed in #3129.

[2015-02-26 15:27] #3124 closed

[2015-02-26 17:04] rtibbles commented on #3133
Fixed in #3135.

[2015-02-26 17:04] #3133 closed

[2015-02-26 17:06] rtibbles commented on #2859
@Antrikshy Do we have a timeline for a PR for your solution to this?

[2015-02-26 17:42] Antrikshy commented on #2859
Will open one today (after some testing and cleanup)!

After days of work, I now have a back button that shows up after three levels on narrower viewports. Sidebar gets pushed out of the left of the screen. Also @MCGallaspy helped.

[2015-02-26 17:57] MCGallaspy commented on #3134
I think this merits discussion. Is this the intended behavior when completing exercises? Perhaps we can make it a configurable option?

[2015-02-26 18:19] #3083 closed

[2015-02-26 18:25] rtibbles commented on #3134
I believe this is the intended behaviour. We never want to stop users from practicing more after achieving what we are currently defining as 'mastery' and until we have something akin to content recommendation, we're not really pushing them forward to anything else except by expecting them to navigate to it through the sidebar.

[2015-02-26 18:26] rtibbles commented on #3094
Fixed in #3138

[2015-02-26 18:26] #3094 closed

[2015-02-26 18:49] MCGallaspy commented on #2919
@rtibbles okay, as a sanity check, just try to start and stop the server in the following ways:
1. Using `/bin/windows/kalite.bat start` and `/bin/windows/kalite.bat stop` using `cmd.exe`
2. Using `python.exe manage.py kaserve` using `cmd.exe`

[2015-02-26 19:25] MCGallaspy commented on #2919
I've found that running the command `python.exe kalitectl.py start` fails because this launches two separate processes, somehow. One begins to execute normally, but the other fails saying `Refusing to start: Start up lock exists:...` and both processes subsequently die. @benjaoming ?

[2015-02-26 19:25] Antrikshy commented on #2973
Looks like CSS animations were removed due to performance issues (in #3126), so this can be closed.

[2015-02-26 19:31] #3130 closed

[2015-02-26 19:31] #3134 closed

[2015-02-26 19:38] MCGallaspy commented on #2919
So for me, running `python.exe kalitectl.py start` fails but `python.exe kalitectl.py manage kaserve` succeeds.

[2015-02-26 19:44] MCGallaspy commented on #3093
It apparently does not.

[2015-02-26 19:44] #3093 closed

[2015-02-26 19:48] #2973 closed

[2015-02-26 19:51] #3103 closed

[2015-02-26 19:55] MCGallaspy commented on #3067
Additional details? What browser are you using? I don't have an input box on this exercise (and hence can't even view a tooltip).

[2015-02-26 19:58] MCGallaspy commented on #3067
Nevermind, I just had to do enough exercises to pull that particular assessment item.

[2015-02-26 20:41] mjptak commented on #3067
As the number of Perseus items grows its probably a decent idea to pass the
code for the actual assessment item that an exercise is using.  Perhaps as
a debug one could expose the id of the assessment item (available in the
console).

On Thu, Feb 26, 2015 at 1:58 PM, Michael Gallaspy <notifications@github.com>
wrote:

[2015-02-26 20:44] mjptak commented on #3067
Though that looks like it might not be a perseus exercise.  Curious if ever
the two will mix (I think not).  In other words an exercises either does or
does not pull from the perseus generated assessment items.

On Thu, Feb 26, 2015 at 2:41 PM, mark ptak <mjptak@gmail.com> wrote:

[2015-02-27 00:12] MCGallaspy commented on #2919
Regarding my above comment, the same thing happens... for some reason (that has nothing to do with the logic in `kalitectl.py` as far as I can tell) *two* identical processes are started, both executing `kalitectl.py` with the same arguments. In the case of `kalitectl.py start`, the second process finds that the first is running because of the existence of the lock file, and causes both to fail. I

[2015-02-27 01:28] cpauya commented on #3119
PR fix #3125, closing.

[2015-02-27 01:28] #3119 closed

[2015-02-27 01:56] rtibbles opened #3142 "Tabular reports report type and topic selector reflows poorly on small screens"
To reproduce, navigate to default coach report page with viewport <760px.

![image](https://cloud.githubusercontent.com/assets/1680573/6406079/d287b48c-be51-11e4-8233-2e54ad01f406.png)

[2015-02-27 02:00] arceduardvincent commented on #3142
Hi @rtibbles can I work on this issue?

[2015-02-27 02:04] rtibbles commented on #3142
Sounds good.

[2015-02-27 02:07] cpauya commented on #2859
Some suggestions to the UI on smaller viewports:

1. Show vertical breadcrumbs on the sidebar
![sidebar1](https://cloud.githubusercontent.com/assets/175580/6406200/2e0f2658-be68-11e4-9a4b-909ccb9dc04f.png)

2. Show a back button at the bottom of the topic tree
![sidebar2](https://cloud.githubusercontent.com/assets/175580/6406202/354d3946-be68-11e4-8486-b624f724dcd2.png)

3. Show horizontal breadcr

[2015-02-27 02:17] amodia opened #3143 "Manage Navigation user and facilities tab have the same tooltip."
Branch: `develop` for 0.13.x
Expected behavior: user and manage tab must have different tooltip.
Actual behavior: When you hover the user and manage tab is has the same tooltip `manage user`.

![ka-lite-a](https://cloud.githubusercontent.com/assets/8663934/6406158/aa432770-be67-11e4-87f0-02f5c5d5fd21.gif)

Steps to reproduce:
 1. log in as coach.
 2. navigate to manage tab.
 3. hover to user and f

[2015-02-27 02:29] arceduardvincent commented on #2859
In my point of view as a user if I will use a smaller device, I prefer to sample 1 or 3, clicking the `breadcrumbs` so we can indicate which topic title we want to go back.

In this way we can set our sidebar flexible, We can identify to which `class` that will active to show.

[2015-02-27 03:13] rtibbles commented on #3067
Fixed in #3140

[2015-02-27 03:13] #3067 closed

[2015-02-27 04:05] jesumer opened #3145 "Alignment issue of subnav when resizing to < 480px."
Branch: `develop` for `0.13.x` - February 27 2015

Expected behavior: The subnav should be aligned

Actual behavior:
This size 480px is for `Low end windows phone`.
![screen shot 2015-02-27 at 11 52 30 am](https://cloud.githubusercontent.com/assets/2810009/6407314/5cd3c858-be78-11e4-9b22-991b711f1bf7.png)

Steps to reproduce:

1. Login as teacher user.
2. Go to the manage tab.
3. Resize to 480px o

[2015-02-27 04:32] Antrikshy commented on #2859
@cpauya's first suggestion seems doable. Any ideas on how to represent whole topic names in that small space? In the future, I would like to stack the topics on the left. It seems like the design people may be working on something like that. This solution is meant to be kind of temporary, but I can certainly try adding breadcrumbs somehow.

[2015-02-27 04:35] rtibbles commented on #3143
Fixed in #3144 .

[2015-02-27 04:35] #3143 closed

[2015-02-27 05:21] cpauya commented on #2859
Yes, it'll also make good use of your vertical bar.  The numbers on the breadcrumbs represent the depth level on the topic tree.  So for the above example, we are showing three levels deep of topics thus the numbers 1, 2, 3.  The last level is displayed but greyed-out/disabled because it's current.

We can also add a "Level" text as this (or anything similar) to signal the user

![sidebar2](https:

[2015-02-27 05:45] Antrikshy commented on #2859
Oh I see. Just display numbers? Sounds good. I'll see if it's easy enough to quickly whip up. The next thing I was about to focus on was responsive sizing and typography for the sidebar.

[2015-02-27 15:16] rtibbles commented on #3142
Fixed in #3147

[2015-02-27 15:16] #3142 closed

[2015-02-27 15:54] rtibbles commented on #3120
Fixed in #3141

[2015-02-27 15:54] #3120 closed

[2015-02-27 16:13] rtibbles commented on #2035
After consultation with Nalanda teachers, a further iteration on this design has been suggested. When you select a facility, you get a drop down of all available student accounts and students select from the list. This avoids typing even the user name.

Still have other login features available, in order to allow teachers (who would not appear on the list) and admins to still login securely.

@MCG

[2015-02-27 18:12] MCGallaspy commented on #2035
What if there are a very large number of accounts? Could that make for an awkwardly big dropdown list? And what if students inadvertently (or just carelessly) log in as other students? It would be very easy to do so if you are just selecting a name. Can we add an authentication step that doesn't involve typing? Perhaps a student can select one of several images as a sort of visual "password", and

[2015-02-27 19:26] MCGallaspy commented on #2919
I've been reduced to stepping through the `kalitectl.py` script line-by-line with a debugger, and I just have to reiterate (#3042) that `import_all_child_modules` is pure evil... innocuous-looking import statements can end up taking a minute or more to execute.

[2015-02-27 19:54] MCGallaspy commented on #3042
One specific issue I've been encountering with `import_all_child_modules` is with `fle_utils.handlebars`... since every file from the module is loaded, it ends up happening (through more than one invocation of `import_all_child_modules`!) that a bunch of very slow functions from `topic_tools` are called. This is almost certainly not intended, as the first offending instance of `import_all_child_mo

[2015-02-27 20:01] MCGallaspy commented on #3042
So whatever time is ostensibly saved elsewhere by not having to specifically import your favorite functions from `fle_utils.handlebars` is almost certainly lost (and more) when these nasty slow `topic_tools` functions are called. A first step to addressing this issue could be to track down imports of `fle_utils.handlebars` and make them specific, i.e. change it to `from fle_utils.handlebars import

[2015-02-27 20:04] MCGallaspy commented on #3042
The `testing` module is also an offender.

[2015-02-27 23:59] MCGallaspy commented on #3075
@arceduardvincent how's this coming along?

[2015-02-28 01:29] #3003 closed

[2015-02-28 02:14] rtibbles commented on #2035
Additional design suggestions:

* A confirmation dialogue to verify you are logging in as the correct student.
* When setting is on, a warning to admins/teachers if there are a large number of students in a facility (i.e. > 40).
* The visual password idea appeals to me, and is common in EdTech solutions for younger children - this could replace the confirmation dialogue.

[2015-02-28 02:21] jamalex commented on #2035
Yeah, this could be an issue outside of Nalanda. With Nalanda, they have a separate Facility per class, so the size will be reasonable. Perhaps having them type a username, but then autocompleting, would be good for larger numbers (but not needed in the first pass).

We'll also need to make sure that the API endpoint for retrieving the list of usernames is not available when this mode isn't enable

[2015-02-28 02:25] jamalex commented on #2035
It would be good to implement this is as a nice, encapsulated Backbone.js widget, which could then also help be a more permanent solution for #3040.

[2015-02-28 02:29] MCGallaspy commented on #2926
I'm not convinced this issue has anything to do with linefeeds. I just installed on XP (grabbed the installer from http://learningequality.org/downloads/KALiteSetup-0.13.0.exe, 2/27/15) and got the following error:
![ss](https://cloud.githubusercontent.com/assets/8888020/6424443/77c51e42-beae-11e4-96a7-1cff52d52abc.png)
So maybe it's just an issue with the way the installer is invoking the script?

[2015-02-28 02:45] MCGallaspy commented on #2926
Running the script from cmd.exe works (or double clicking in explorer), but the service fails to start on XP if the user doesn't have a password.

[2015-02-28 02:49] rtibbles opened #3153 "Keypad so ugly"
![image](https://cloud.githubusercontent.com/assets/1680573/6424516/6535a110-bf22-11e4-84c1-2c78f21b6b54.png)

The .simple-button style got removed a while back without considering the unintended consequences.

[2015-02-28 02:50] MCGallaspy commented on #2926
Service still fails to start on XP, even when the user has a password.

[2015-02-28 02:59] jamalex opened #3154 "Placeholder issue for PR code review checklist (to be updated as we think of things)"
Hubot says: `Please ensure the following things while reviewing this PR:`

- [ ] Tests have been written, and pass
- [ ] Changes have been made to documentation to reflect changes in interface/features
- [ ] Any changes to CSS have been tested on all other pages that might be affected (that use the same class/id names)
- [ ] No significant impacts on startup or page load efficiency are expected/ob

[2015-02-28 03:00] EdDixon commented on #2926
I agree, after having done more testing here, I do not feel it is related
to the line feeds alone although I would still prefer properly formatted
scripts because I can not be 100% sure its still not a part of the cause as
is. As we discussed earlier today though there are other factors in how
this installer was built that generated the line feeds that I now feel may
be a larger part of the issue.

[2015-02-28 04:45] rtibbles commented on #3082
Missing image on this exercise:
![image](https://cloud.githubusercontent.com/assets/1680573/6424897/864eeac0-bec1-11e4-9bbc-c5e2b0601521.png)

[2015-02-28 06:55] rtibbles commented on #3042
Partially addressed this in #3157 - but didn't want to get into all the test modules that use this just yet.

[2015-02-28 14:02] ruimalheiro commented on #2926
Hello everyone, sorry about the late reply. I have been super busy these days and had no time to dig in the issue.

So, I've run a test under windows 7 (By choosing the option in the tray menu), and it worked properly.

@MCGallaspy , could you try this please? The issue can be related with the installer. Btw, that script requires admin privilledges,

![image](https://cloud.githubusercontent.com/as

[2015-02-28 14:04] ruimalheiro commented on #2926
@EdDixon any chance you can run a test under windows XP?

[2015-02-28 14:09] ruimalheiro commented on #2926
Removal should prompt:

![image](https://cloud.githubusercontent.com/assets/1102381/6426455/5389ba56-bf53-11e4-8784-3e8aac5f3b3d.png)

NOTE: It will not ask for password but it requires the user to be Admin for both: Registering the task and removing the task.

[2015-03-01 06:02] benjaoming commented on #3042
YES PLEASE!! It breaks my IDE, gives me circular imports, unused imports and a generals feeling of just "WHAT!!".

The other day at Luwinga Secondary, I found (in a school, without internet, lots of other priorities) that a WSGI application was breaking because of circular imports in the testing.... yes in testing!? And the mod_wsgi application had been running fine on another machine, which leads

[2015-03-01 06:11] benjaoming commented on #2919
@MCGallaspy
I'm pretty sure that somewhere cherrypy or kaliteserve will do a fork, in order to create another process that can keep running while the main process exits. This is the most common way of doing daemon-mode, afaik... but I don't know if somehow, somewhere, this has been creating an extra process.. lack of windows experience.

Good thing you found out the problem in detail, because the

[2015-03-02 01:44] arceduardvincent commented on #3075
Hello @MCGallaspy sorry that I reply late and didn't comply this issue last week,
I am working on some `frontend issues` that I think that will affect a lot on the user or client experience that I prfioritize.

Today I work on this thanks.

[2015-03-02 03:22] rtibbles commented on #3145
Fixed in #3146.

[2015-03-02 03:22] #3145 closed

[2015-03-02 03:25] rtibbles opened #3168 "Teacher (and presumably other navs) aren't properly mobile responsive"
While use on cell phones is not our primary use case by any means, I think the second layer nav system for teachers and admins would be better if it could responsively collapse like the top level nav (maybe using a hamburger, maybe using some other format).

See here a screenshot on the Nexus 5:

![image](https://cloud.githubusercontent.com/assets/1680573/6434981/9fdc469e-c048-11e4-86bb-596c8dfd87

[2015-03-02 04:32] jtamiace commented on #3168
Oi. Yeah I didn't take that into account because I never expected it to be used on mobile. A hamburger icon would be best; will work on it this week.

[2015-03-02 09:29] aronasorman commented on #2944
I feel that this isn't critical for the release. @cpauya why do you think this is a blocker?

[2015-03-02 09:31] cpauya commented on #2944
If we have another form of input, aside from the keypad, we can remove the "high priority" flag.

@amodia can you put another example of the exercise using text boxes with screenshots?

[2015-03-02 09:41] amodia commented on #2944
Hi @MCGallaspy and @rtibbles i replicate this issue on this exercise http://127.0.0.1:8008/learn/khan/math/early-math/cc-early-math-counting-topic/cc-early-math-counting/count-from-any-number/  but i have a problem on the `textbox` focus i can't identify the selected textbox of the user when keypad is active because the `textbox` is `readonly`.

[2015-03-02 09:46] aronasorman commented on #3154
Changed the 4th checkbox to "No significant impacts on startup or page load efficiency are expected/observed. If there are changes expected here, provide a justification in the PR description".

And if we do want to enforce this, we'll want to have a "reference" PC as our benchmark for startup times. Else, I don't think we'll ever catch all the small ways we can increase startup times, unless we w

[2015-03-02 09:49] rtibbles commented on #3154
But I got the build time down to 30 minutes in #3160!

[2015-03-02 23:37] MCGallaspy commented on #2926
Trying to use the system tray icon gives me the same file association error in XP.

[2015-03-03 01:13] cts-prog3 commented on #2925
I am having the same problem with not being able to type the answer in the answer field.  What did you end up doing?  I am using Internet Explorer 8.

[2015-03-03 04:09] djallado commented on #3168
@ i'll to work on this today.

[2015-03-03 04:56] rtibbles commented on #3042
This is now completely fixed in #3157.

[2015-03-03 04:56] rtibbles commented on #3168
@djallado No, @jtamiace is assigned and working on this.

[2015-03-03 05:14] cts-prog3 opened #3171 "Cannot input into answer field using Internet Explorer"
When using IE I am not able to enter a value into the answer fields while doing an exercise.

[2015-03-03 05:18] rtibbles commented on #3171
Eek, that's a concern.

Which version of IE are you using? Can you provide a screenshot of the exercise you are working on too?

[2015-03-03 05:19] aronasorman commented on #3171
@MCGallaspy can you confirm this bug once we have a sample test?

[2015-03-03 05:20] aronasorman commented on #2925
@EdDixon can you try replicating this?

[2015-03-03 05:20] djallado commented on #3168
Ok. Thanks. I'll look for other issue.

[2015-03-03 05:30] cts-prog3 commented on #3171
I am using IE 8 on Windows 7.  Here is a screen shot.
[cid:image001.png@01D055C6.DB18B720]

Thanks, Paul

[cid:image002.png@01CFA718.020EECE0]

Paul Dokken
Software Developer
SIL PNG Communication and Technology Services
Ukarumpa EHP 444 | Papua New Guinea
cts-prog3@sil.org.pg<mailto:cts-prog3@sil.org.pg>
+675-537-3544 x4404 {Telecom}
+675-7081-8666 {Digicel}

From: Richard Tibbles [mailto:notific

[2015-03-03 05:31] cts-prog3 commented on #3171
I also see this error message:
Webpage error details

User Agent: Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1; WOW64; Trident/4.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; .NET4.0C; .NET4.0E; InfoPath.3)
Timestamp: Tue, 3 Mar 2015 05:30:12 UTC

Message: Not implemented

Line: 57
Char: 9
Code: 0
URI: http://127.0.0.1:8008/static/js/distributed/so

[2015-03-03 05:34] rtibbles commented on #3171
Thanks for the info. Looks like it is being caused by the software keyboard causing a compatibility issue with IE 8, we will look into it! Thanks for the report.

[2015-03-03 11:06] waltonrp commented on #2925
I had to install Chrome. Windows XP will not go higher than 8, I needed Internet access to get the Window 7 machines higher than 8, since there are a lot more dependent updates needed. a stand-alone installer for Chrome seemed the quickest fix. Problem is I can't secure Chrome through policy (I heard that there is a way, but have not explored)

[2015-03-03 13:44] rtibbles opened #3174 "No spacebar on keypad"
Some exercises (e.g. fractions) require a space to submit answers, this is currently impossible on the keypad as it stands.

Solution: Add a space bar!

[2015-03-03 13:48] rtibbles opened #3175 "On a tablet, zooming the screen causes a change in relative size of the sidebar"
Current behaviour:
Zooming in on a tablet causes sidebar to become hugely expanded

Expected behaviour:
Sidebar should stay the same relative size, allowing the content area that is being zoomed to take more of the focus, while the choices of content remain just as obvious (due to taking up no more screen area).

![image](https://cloud.githubusercontent.com/assets/1680573/6463607/ac5b0a38-c168-11e

[2015-03-03 15:53] rtibbles opened #3177 "Non-semantic HTTP Response codes"
At the moment, many of our JSON response errors are 500s - indicating that something has gone terribly wrong inside the server. This is simply not the case, as the response has been returned deliberately, and hence should almost always return an appropriate 4xx code.

[2015-03-03 17:52] anuragkanungo opened #3179 "RCT features to be removed for next iteration of Nalanda"
Features to be removed:

1. Units
2. Conditions
3. Rewards/Store
4. Student Testing
5. Points reset to 0 but progress to be kept.

Check whether we need points for Quizzes ?

Previous Progress and Points to be kept from RCT3.

[2015-03-03 19:20] MCGallaspy commented on #2944
@amodia I'm not sure I understand the problem. Can you elaborate?

P.S. On line 20 of software-keypad.js all the input elements are selected and stored as an array `this.inputs`, so you should be able to access them that way. Can you implement a button that simply loops `this.field` of the `SoftwareKeyboardView` through the available elements in `this.inputs`?

[2015-03-03 20:10] MCGallaspy commented on #3137
Hi @rayeshman, I'm not aware of a direct link for the videos. Perhaps someone else can weigh in? @jamalex

[2015-03-03 21:43] 66eli77 commented on #2859
I like this solution! some suggestions about the "level bar": 1. how about put the level bar after the root-topic list, I think that always showing root-topic is more useful to users. 2. add more visual clues to users to explain this innovative solution :)
below is a mock about my suggestions
![2e0f2658-be68-11e4-9a4b-909ccb9dc04f](https://cloud.githubusercontent.com/assets/5577205/6473024/42896b3

[2015-03-04 00:40] MCGallaspy commented on #3171
@cts-prog3 how did you install KA Lite? Through our windows installer or by pulling the source from git, and if the latter then which branch did you pull from?

[2015-03-04 00:42] cts-prog3 commented on #3171
I used the installer.

Thanks, Paul

[cid:image002.png@01CFA718.020EECE0]

Paul Dokken
Software Developer
SIL PNG Communication and Technology Services
Ukarumpa EHP 444 | Papua New Guinea
cts-prog3@sil.org.pg<mailto:cts-prog3@sil.org.pg>
+675-537-3544 x4404 {Telecom}
+675-7081-8666 {Digicel}

From: Michael Gallaspy [mailto:notifications@github.com]
Sent: Wednesday, 4 March 2015 10:41 AM
To: learni

[2015-03-04 00:43] MCGallaspy commented on #3171
@cts-prog3 by the way, your attached screenshots don't show up on when you reply through email. Can you post them directly to the thread on github?

[2015-03-04 00:47] cts-prog3 commented on #3171
![kalite ie problem js error](https://cloud.githubusercontent.com/assets/7528702/6475937/d9436754-c25b-11e4-950a-07c98bdced9e.PNG)
![kalite ie problem](https://cloud.githubusercontent.com/assets/7528702/6475938/d9490dee-c25b-11e4-932b-4dde03de0da0.PNG)

[2015-03-04 01:52] cts-prog3 commented on #3171
We have a server running on a linux box and when I try to access it with IE 11 it works fine.

[2015-03-04 01:58] arceduardvincent commented on #3075
I think we can close this issue since that the fixes are being merge.

[2015-03-04 03:11] rtibbles commented on #2944
As @MCGallaspy says, this is the desired behaviour. The inputs are readonly on purpose, as it prevents a tablet on screen keyboard from popping up when the keypad is shown.

[2015-03-04 03:18] rtibbles commented on #3171
@MCGallaspy I believe the issue is coming from this line:

```this.field.val(this.field.val().slice(0, -1));```

Googling around, it looks like there might be an issue with using .val to set values on IE7 and 8.

The right fix looks likely to be:

```this.field.prop("value", this.field.val().slice(0, -1));```

[2015-03-04 03:19] rtibbles commented on #3171
@MCGallaspy I don't have easy access to an IE8 VM in India, can you implement and test?

[2015-03-04 03:21] amodia commented on #2944
Yup thanks I'm still working on this now  @rtibbles

[2015-03-04 04:50] rtibbles commented on #3082
Missing image on:
![image](https://cloud.githubusercontent.com/assets/1680573/6478396/05aeaf8c-c258-11e4-89bb-e95a982ae290.png)

[2015-03-04 04:51] rtibbles commented on #2980
Fixed in #3173

[2015-03-04 04:51] #2980 closed

[2015-03-04 08:51] jamalex commented on #3137
(Below is all for version 0.13, i.e. the develop branch, to be released
soon)

To get a list, you can run (from the `ka-lite/kalite` directory) `python
manage.py shell_plus`, and then type in the following (pasting may work, if
you have IPython installed):

[code]

(remove the .replace part if it turns out to be easier to download through
fastly instead)

On Wednesday, March 4, 2015, Michael Galla

[2015-03-04 09:10] jamalex commented on #3137
Here's a list, for convenience:
http://staging.learningequality.org/media/video-file-list.txt

On Wednesday, March 4, 2015, Michael Gallaspy <notifications@github.com>
wrote:

[2015-03-04 10:32] #2947 closed

[2015-03-04 10:32] #3040 closed

[2015-03-04 10:33] aronasorman commented on #2918
We not automatically download assessment items when we run the setup command.

[2015-03-04 10:33] #2918 closed

[2015-03-04 10:35] aronasorman commented on #2855
Turned this into a release blocker. @anuragkanungo you're up!

[2015-03-04 10:38] aronasorman commented on #2919
Noticed that there's a checklist for testing on Android. Do we want that as a blocker to close this issue? Maybe once we commit to supporting the Android platform we can have that as a blocker, but for now I think we can just ignore Android for now.

[2015-03-04 10:39] aronasorman commented on #2919
Also, looks like the only blocker for 0.13 is the Windows support? Is that correct @benjaoming?

[2015-03-04 10:40] aronasorman commented on #3177
OH GOD YES. So hard to tell what's actually wrong with those API calls.

@rtibbles can you document here what status codes we want to use for what? Might be good to include that eventually to our dev documentation @MCGallaspy

[2015-03-04 10:42] aronasorman commented on #3177
However, I'm torn on whether this is a blocker for 0.13. It really helps with debugging, but I don't think the user really cares what kind of error it is.

[2015-03-04 10:54] benjaoming commented on #2919
Yes, correct, afaik fully satisfactory Windows support is the only
remaining issue, and I can't really handle it :)

But you are right that Android can be skipped for now, maybe if you can
open a separate issue tracking all Android issues, that would be good for
targetting full Android support in .14 or .15 ?

On 4 March 2015 at 12:39, Aron Fyodor Asor <notifications@github.com> wrote:

[2015-03-04 11:08] amodia commented on #2944
@MCGallaspy  my progress for today is i able to create a loop on `this.inputs`.

![screen shot 2015-03-04 at 6 56 00 pm](https://cloud.githubusercontent.com/assets/8663934/6482378/28241b40-c2a0-11e4-9d07-61720d961cb4.png)

and identify the input element to be used by the keypad by adding an `id` when user click it.

[2015-03-04 17:00] rtibbles commented on #3177
I think 0.14 is the right call for this.

[2015-03-04 17:00] anuragkanungo commented on #2855
Error: 'NoneType' object has no attribute '__getitem__'  happens when internet is not available.
I started the download of videos and disconnected internet in between and got the error.

[2015-03-04 17:10] aronasorman commented on #2855
Shouldn't the `cronserver` restart the download? If not, then that looks like a bug. Also, we should add `--traceback` to get a better error on where it's throwing that Error.

[2015-03-04 17:12] anuragkanungo commented on #2855
Terminal output:
DEBUG:kalite:Cannot set priority, psutil module not installed
DEBUG:kalite:Setting videodownload to 6577 total stages.
INFO:kalite:Downloading 'The mummification process'
INFO:kalite:Error: 'NoneType' object has no attribute '__getitem__'
INFO:kalite:Cancelling process videodownload
[04/Mar/2015 22:42:25] "GET /api/updates/progress?process_id=11&_=1425489099222 HTTP/1.1" 200 300

[2015-03-04 17:13] anuragkanungo commented on #2855
It cancels the process.

[2015-03-04 17:14] aronasorman commented on #2855
Hmm, error not helpful. It's probably being caught somewhere. You can try grepping for `logging.error` to see what lines could possibly throw that error.

[2015-03-04 17:14] benjaoming commented on #2855
That would sound like a plausible explanation, Anurag! I was
mass-downloading so no doubt that during those many hours, you'd encounter
a timeout etc.

On 4 March 2015 at 19:10, Aron Fyodor Asor <notifications@github.com> wrote:

[2015-03-04 17:21] anuragkanungo commented on #2855
@aronasorman
The error is python related : It happens when you try to access a null item like
value[2] and value is None.

[2015-03-04 17:36] benjaoming commented on #2855
Writing from my non-dev lodge.. The error is probably something like this:
An exception is caught silently, and then the assignment of data from a url
fetch is None. The fault is not that the value is assigned None but that an
exception is handled silently... that kind of stuff is poison in a
codebase... always let exceptions occur or handle them explicitly...
retrying with an increasing waiting s

[2015-03-04 18:10] aronasorman commented on #2855
@anuragkanungo right, but we wanna definitively find out why and where it's raising the error in the first place. And the `INFO:kalite:Error` is most printed by a `logging.error` call.

[2015-03-04 18:12] aronasorman commented on #2855
Whoops, I meant a `logging.info`. Thanks @rtibbles

[2015-03-04 18:12] anuragkanungo commented on #2855
Got the problem, will resolve it

[2015-03-04 18:23] 66eli77 commented on #2601
skipping stone,

[2015-03-04 18:44] 66eli77 commented on #2107
one possible solution is to install a simplified APK that embeds Crosswalk WebView(Chromium based, requires Android 4.0 and above) but does not run Django server inside the tablet.

[2015-03-04 21:55] MCGallaspy commented on #3171
@rtibbles working on it

[2015-03-04 23:05] sethachoi commented on #2601
chameleon, kameleon, elle (LE), kay, kayle (KALE), kale, camel, and my personal favorite, kamillion$

[2015-03-05 00:38] MCGallaspy commented on #3171
Running IE8 on Windows 7, serving `develop`, I get considerably more errors than just the software keypad...

[2015-03-05 01:02] MCGallaspy commented on #3171
When is the last time anyone checked out the app on IE8? Presumably the issue author is running 0.12 (which I'm presently testing out for this issue), but `develop` has simply an avalanche of JS errors.

[2015-03-05 04:30] rtibbles commented on #2107
Given that this knowledgemap no longer exists, and the new knowledgemap is hidden in 0.13 - I am not sure this is still an extant issue.

[2015-03-05 04:30] #2107 closed

[2015-03-05 04:32] rtibbles commented on #3171
Sounds like we have some compatibility fixing to do. I don't think I'll have the time next week to do a full investigation and fixing, but I have some experience with compatibility issues, so can be on hand for questions.

[2015-03-05 07:38] amodia commented on #2944
@MCGallaspy  I have a problem on this line of code at `ka-lite/kalite/distributed/static/js/distributed/software-keyboard.js`.

![screen shot 2015-03-05 at 3 25 09 pm](https://cloud.githubusercontent.com/assets/8663934/6500834/d93a63a2-c34b-11e4-87f4-888b8f0550d7.png)

Any suggestion how this work.

[2015-03-05 12:49] cpauya opened #3182 "Options for answers are shown on the right pane."
Branch: **develop**
Milestone: for **0.13.x**
Browsers: **Firefox v36.0**, **Chrome v41.x**, **Safari v8.0.3**

Expected Behavior:  The options must display at the left pane below the questions like this:
![screenshot 2015-03-05 20 52 52](https://cloud.githubusercontent.com/assets/175580/6505098/a995d2d4-c379-11e4-8aa8-321a09ff744c.png)

Current Behavior: The options for choosing the answers are s

[2015-03-05 12:52] cpauya commented on #3182
It seems that even when the number of options is equal to 4, sometimes they still show on the right side.

![screenshot 2015-03-05 20 50 16](https://cloud.githubusercontent.com/assets/175580/6505077/6027dee4-c379-11e4-9ab1-b5f5450365d9.png)

[2015-03-05 13:55] rtibbles commented on #2944
Hi @amodia - basically, this selects the particular input we want to set the value to (but only if the exercise is a Perseus exercise - if it is just a Khan Exercises exercise, it works fine for us to just set the field value directly).

The reason for this is because Perseus is using react.js, and so there is strict one-way data binding between the 'itemRenderer' object and the input fields, so i

[2015-03-05 15:50] mjptak commented on #3182
I figure this is a good place to chime in to wonder if there would be some
way to signal or flag khan and perseus exercises that will work well on
small screens.  Now that the video stuff works fine on smaller screen with
all the bootstrapping it might be nice to deliver a subset of exercises
that do as well.  Keep rockin' it.

On Thu, Mar 5, 2015 at 6:52 AM, Cyril Pauya <notifications@github.com>

[2015-03-05 18:28] MCGallaspy commented on #3171
So how should we characterize this issue? Given that some compatibility issues apparently have existed since 0.12, do we consider this a blocker for 0.13? Or shall we release compatibility fixes in future 0.13 minor versions? IE8 is the last version of IE to run on XP and Server 2003, but one workaround is to use Chrome (#2925) and possibly other browsers.

[2015-03-05 19:24] anuragkanungo commented on #3177
Would like to work on it, any suggestions and pointers ?

[2015-03-05 19:34] #3174 closed

[2015-03-05 19:34] MCGallaspy commented on #3174
Resolved.

[2015-03-05 19:35] #2859 closed

[2015-03-05 19:50] Antrikshy commented on #3175
Since I'm working on making the sidebar responsive, I'll definitely look into this at some point.

[2015-03-05 20:12] MCGallaspy opened #3184 "User documentation sidebar too busy"
On `develop` in the docs (check out http://field.learningequality.org/docs/) someone suggested in the AHM that the sidebar has too much depth. This issue is for discussion. Should the sidebar include links to locations within a page, links going up the document structure (to different pages within the docs), both, or something else entirely? @tk21 @christinepham @cs-shadow

[2015-03-05 20:24] MCGallaspy commented on #2925
Closed since you found a workaround and this is a duplicate of #3171, which seems to have a more active discussion right now.

[2015-03-05 20:24] #2925 closed

[2015-03-05 23:23] 66eli77 opened #3186 "Learner's points get incorrectly increased when doing exercise"
Branch: develop
Expected Behavior: Doing a exercise, when correctly answer a question, earned points for only this question get added to total points.
Current Behavior: Doing a exercise accumulated earned points including from all previous questions get added to total points.

Steps to reproduce:
1. log in as learner
2. choose a exercise that contain multiple questions
3. answer questions under th

[2015-03-06 00:05] 66eli77 opened #3187 "Learner Progress report can get very very long"
this is a UX problem.
we need to tell the user how we order the report. If it's in chronological order, we better show the timeline; If it's in alphabetical order, we may want to show the current Letter related to the current position in the list like how iPhone contact list does; If it's in other order, better have some kind of visual explanation.

[2015-03-06 01:58] djallado commented on #2988
@rtibbles.
I defer this issue for now coz I have some issues to work on.
I apologise for not having a progress in this.

[2015-03-06 02:00] amodia commented on #2944
Thanks @rtibbles that was very helpful.

[2015-03-06 02:40] rtibbles commented on #3177
Find any instance inside an API call where exceptions are raised, or where JsonResponseMessageError is used without a status kwarg.

These should be corrected to having a kwargs ```status=xxx```, where most of the errors should probably be of the form 4xx, because if the server is not throwing an error, but the request is not properly made, then it is a client issue. See here for appropriate codes

[2015-03-06 02:42] rtibbles commented on #3171
I think we should aim to do the minimal compatibility fix that we can before 0.13, as it seems that even on our online site, we still have IE8 users. Goal: not pretty, but not throwing errors.

[2015-03-06 02:48] cpauya commented on #2695
@aronasorman I'm interested to work on this but I have hardware constraints... I can buy a Raspberry Pi but cannot find the wifi dongles as per documentation (Raspberry Pi WiPi adaptor or Edimax EW-7811Un).

Maybe we can test this even when using other wifi dongles (will look-up compatible ones on my area)?  I read above that we need to test that the RPi optimizations are run, I'll go ahead and or

[2015-03-06 03:35] EdDixon commented on #3171
One Work around I found effective for this was to use google chrome for enterprise : https://www.google.com/work/chrome/browser/ IT departments have been able to get this approved quickly as it proided the IT department the controls they needed. While giving the classroom a responsive fast HTML 5 compatible  browser.

[2015-03-06 03:38] EdDixon commented on #2925
Hi just wanted to be sure this gets out to all that may need it Google does
have an enterpris
e version of chrome available!  https://www.google.com/work/chrome/browser/

Thanks,

On Thu, Mar 5, 2015 at 1:24 PM, Michael Gallaspy <notifications@github.com>
wrote:

--
Ed Dixon
Corrections Adviser
Foundation for Learning Equality <http://learningequality.org/>
Give to FLE <https://learningequality.or

[2015-03-06 08:18] cpauya opened #3189 "Minor changes to coach reports."
Branch **develop**
Milestone **for 0.13.x**

Expected Behavior: The "Coach Reports" text should be displayed bold on a separate line above the report type.  See screenshot.

Current Behavior: The "Coach Reports" text for the Scatter and Timeline reports is different from the Tabular report.

To reproduce:
1. login as an admin and navigate to http://127.0.0.1:8008/coachreports/scatter/?facility_id=

[2015-03-06 18:25] MCGallaspy commented on #3171
Okay, I'll try to fix compatibility issues in `develop` on IE8 in XP.

[2015-03-06 20:11] MCGallaspy commented on #3171
Browser compatibility with reactjs: http://facebook.github.io/react/docs/working-with-the-browser.html#browser-support-and-polyfills

[2015-03-06 20:12] MCGallaspy commented on #3171
pdfjs doesn't support IE8: https://github.com/mozilla/pdf.js/wiki/Frequently-Asked-Questions#what-browsers-are-supported

Is there a fallback we can use?

[2015-03-06 21:15] MCGallaspy commented on #3171
Is the KA perseus stuff supposed to be compatible with IE8? At least one of the JS errors I'm getting seems to be from those inclusions.

[2015-03-06 21:22] MCGallaspy commented on #3171
Nope, KA [doesn't support IE8](https://www.khanacademy.org/coach-res/reference-for-coaches/technology-considerations/a/supported-browsers). Given that we include the KA perseus stuff, is it still reasonable to expect that we should support IE8 too? Presumably we'll have to modify the inclusions, which isn't necessarily the best idea if we want to update them in sync with KA. Do we need to rethink

[2015-03-07 03:41] cpauya opened #3193 "Correct answer is shown in the response JSON from call to the assessment item API."
Branch **develop**

Milestone **for 0.13.x**

Browser: **Firefox v36.0.1**

**Expected Behavior:**  The response to the API call to get the details of an assessment item like http://127.0.0.1:8008/api/assessment_item/xc31e8609fc03af5a/ must NOT divulge the answer to the problem.

Since these most likely came from the `assessmentitems.json` - I have no idea how we can remove the flag to the correct

[2015-03-07 16:18] jamalex commented on #3193
Yep, the Perseus code uses this in order to determine whether the answer supplied by the user is correct. (Same thing happens [on KA's site](https://www.khanacademy.org/api/internal/user/exercises/count-from-any-number/problems/1/assessment_item?task_type=practice) as well.) So I think we can close this.

If users have figured out how to mess with Developer Tools, then, as @mjptak quoting John Res

[2015-03-07 16:18] #3193 closed

[2015-03-07 16:36] #3137 closed

[2015-03-07 21:03] jamalex commented on #2695
@cpauya Should be able to do this without a WiPi, just accessing it via Ethernet. The optimizations are related to setting up nginx, local_settings.py, etc.

[2015-03-07 21:10] mjptak commented on #3193
For stuff that will truly be used for summative "assessment" I am guessing
there might be a slick way to make the answer in the json files a bit less
obvious.  The positive bit is that once folk figure out the perseus format
the ability to scale from 20k assessment items to many more and better (and
dare I say locally relevant) exercises will be there.  I'm thinking the
"counting in scenes" exerci

[2015-03-07 23:35] cpauya commented on #3193
Ah, good feedback @jamie and @mjptak.  As we sometimes say: "It's not a bug, it's a feature!" :smiley_cat:

[2015-03-08 06:17] cpauya commented on #2926
I just tested this on an [IE8 on Windows 7 Enterprise virtual box](https://www.modern.ie/en-us/virtualization-tools) using the Windows installer from the [Install Guide](https://learningequality.org/ka-lite/user-guides/install-guide-012) and can confirm that enabling the "Run KA-Lite at system start-up" option did not work.

No error is displayed, the prompt also shows when I enable or disable the

[2015-03-08 06:27] cpauya commented on #2926
Oh, when I check the "Options -> Run KA Lite when the user log" (I think that should be login?) - this actually works when I restart.  That could be another work-around?

[2015-03-08 07:49] cpauya commented on #2926
I have tested on most variants of Windows 7 (from modern.ie) and the "Options -> Run KA-Lite at system start-up" option do not work.  Whether it's set upon installation or on the KA-Lite options menu.

The work-around solution for @waltonrp is to use the "Options -> Run KA Lite when the user log" option (which would require the Windows auto-login feature to run KA-Lite when power black-outs happen

[2015-03-08 10:04] EdDixon commented on #2926
Thank you for getting on this @cpauya  and @MCGallaspy and @ruimalheiro  in corrections we often have power outages for testing emergency generators and such and this needs to be a reliable option. Sorry my medical stuff has prevented me from going the distance on this one but hopefully I can become part of the solution now that you have found a way to mitigate the cause temporarily. I will start

[2015-03-08 12:17] tarunsharma1 opened #3195 "showing error message update command after creating superuser and starting the server"
Current behavior: Giving error message.Printing out html code in the error message and asking user to run the command python manage.py update. This update command is causing things to not work by deleting some folders. It can be undone by the command git checkout develop
Expected behavior: A nice clean error message and no link to the faulty update command

Steps to reproduce:
1.After installing,

[2015-03-08 12:22] ruimalheiro commented on #2926
@cpauya , I used 0.13

[2015-03-08 17:08] tarunsharma1 opened #3197 "Error message along with update command shown when trying to register device or when language section is accessed"
Branch :develop
Current Behavior: When signed in as super user and 'register your device' or the 'language' button (next to facilities and videos buttons in manage area) is clicked, an error outputing large html code is generated and also the faulty update command is asked to be run i.e python manage.py update.
On clicking the language button it asks you to register your device first but when regi

[2015-03-08 17:34] tarunsharma1 commented on #2921
I think its safe to close this issue. Ive tried setting the fields to (---) on Mozilla firefox and google chrome and it does NOT result in a 404 error when i hit 'go' . Probably someone else can try this too and then close the issue for good

[2015-03-09 02:32] cpauya commented on #2926
Thanks for your feedback @EdDixon and @ruimalheiro.

Here's a link to the latest [ka-lite windows installer for 0.13.x](https://learningequality.org/downloads/KALiteSetup-0.13.0.exe) from @aronasorman.  I didn't find any link to it so thought I'd put it here instead.

[2015-03-09 11:20] namanspace opened #3202 "Error signing in in authorised account"
Branch: develop
If I try to see the coach reports through an account, It shows both, a success dialog and an error dialog.
While, it should straight away deny you from logging in if you don't have an authorized account.

![screenshot from 2015-03-09 16 46 13](https://cloud.githubusercontent.com/assets/5255299/6553947/2ab208c4-c67c-11e4-8567-c00cf96fa654.png)

[2015-03-09 11:26] namchester opened #3203 "Auto - opening of sidebar after you search for a topic | Blank Space"
The sidebar doesn't show up automatically after you search for something. You have to click on the arrow on the left to scroll-open the side bar.
Also, is it just me, the page looks completely empty. I mean, something should be there when you sign in. Right?

[2015-03-09 11:29] namchester opened #3204 "A message showing in the Progress Report when you haven't started with any exercises yet."
I think there should be a message "Start learning to see your progress. Go to http://localhost:8008/learn/khan/ to learn!" Any suggestions?

[2015-03-09 12:23] namchester opened #3205 "Cluttered Progress report for a student"
As a first time user, the buttons seemed a bit confusing. The page needs to be simplified, so that the user understands each and every part of it.

![screenshot from 2015-03-09 17 44 09](https://cloud.githubusercontent.com/assets/5255299/6554748/2021da7a-c685-11e4-9879-fb9df0dfde28.png)

[2015-03-09 12:31] namchester commented on #3205
Branch: develop

[2015-03-09 13:22] sharprakeshverma opened #3206 "Device Registration error at initial setup"
As i install KA-lite, i am getting this error at my first login and as i am fairly new to KA-lite, i just want to solve it ASAP to start working ahead. I have already updated it several times.
"""
Sorry, there was an error during registration. Please make sure your device is fully up to date (run python manage.py update and then stop/start the server).

The error message was: <!DOCTYPE HTML> <html

[2015-03-09 13:46] anuragkanungo commented on #3206
Duplicate of #3197

[2015-03-09 14:15] anuragkanungo commented on #3197
I believe this problem is because the Central Server is down today. (hub.learningequality.org)

But, surely we need to catch the error and display it in a cleaner way.

[2015-03-09 14:18] #3206 closed

[2015-03-09 14:21] tejasshah93 commented on #2921
^ yes, I can confirm too that it does NOT result in a 404 error when the field is set to (---). However, considering UX, I guess it would be apt to set (---) field as default and not to display that field in the dropdown while selection

[2015-03-09 15:57] aronasorman commented on #3197
Yeah, we'll need a more graceful way to handle this when the central server is down. Doesn't have to be a blocker for release though, so I've set this to 0.14, and then we can cherry-pick this for a 0.13 bugfix, if needed.

[2015-03-09 16:12] rtibbles commented on #3171
@mike - if Perseus is not compatible with IE8, then we should probably forget trying to make it compatible, I would say, and just direct people to using 0.12 if they are in environments where they can only use IE8.

We can perhaps, apply a hotfix for the software keyboard to prevent the issue happening on master? @aronasorman

[2015-03-09 16:15] aronasorman commented on #3171
Yeah, this seems critical enough to warrant a hotfix. I'll reopen the 0.12 bugfixes milestone and put this in there.

[2015-03-09 16:24] aronasorman commented on #3171
We'll also need to specify the software requirements in the manual, maybe somewhere in the [0.13 installation guide](http://ka-lite.readthedocs.org/en/latest/installguide/install_windows.html).

[2015-03-09 16:57] anuragkanungo commented on #3186
There could be two scenarios as per I think,

1. We are just having the display issue, so if you go to home page and come back, you are able to see correct points. OR
2. As per Image points are adding like the total points of the exercise 757 + 26 = 783 + 39 =822 , instead of 757 + 13 = 770 + 13 = 783.

So, the mistake could be with formula.

[2015-03-09 17:06] tarunsharma1 commented on #3186
I have tried it out...for a few different student accounts and different quizes...It is a display issue as you guessed...if you go to the home page and then check your score..the score is the correct one...
Any idea how i can try to fix this?

[2015-03-09 17:15] rtibbles commented on #3186
Hi @tarunsharma1 this bug is coming from the way that 'newpoints' is being set on the statusModel in kalite/distributed/static/js/distributed/exercises/views.js and then used in kalite/distributed/static/js/distributed/distributed-server.js in the StatusModel definition.

Basically it listens for an update in 'newpoints' and updates its own points from there. We should probably sidestep this, and

[2015-03-09 17:20] MCGallaspy commented on #2921
I think this has been resolved by another PR, but wasn't properly tagged.

[2015-03-09 17:20] #2921 closed

[2015-03-09 17:25] aronasorman opened #3208 "Installation requirements in the installation guide"
We need:
1. server requirements
2. client requirements (i.e. can't be using  < IE 8)

[2015-03-09 17:29] MCGallaspy commented on #3186
Sadly, it regressed because the relevant test is skipped in Travis.

[2015-03-09 17:47] rtibbles commented on #3186
Not sure this is actually a regression, as the point of failure was unedited in your PR.

[2015-03-09 23:24] rtibbles commented on #3082
![image](https://cloud.githubusercontent.com/assets/1680573/6566592/d0b7e12a-c678-11e4-914b-6c96841ecee3.png)

[2015-03-09 23:29] aronasorman commented on #3082
So we just didn't download it at all... strange. Maybe this is one of the timeouts that we experienced @jamalex?

[2015-03-09 23:31] rtibbles commented on #3082
Worth running over all the assessment items and just double checking we have the file, and if not, trying to download again?

[2015-03-09 23:33] aronasorman commented on #3082
I believe this is a blocker for release.

[2015-03-09 23:33] aronasorman commented on #3082
I'll write up a script to download the remaining missing items.

[2015-03-10 00:16] rtibbles commented on #3186
@tarunsharma1 Thanks for looking into this, have resolved this in #3213 now, as it is critical.

[2015-03-10 01:13] #3168 closed

[2015-03-10 01:15] #3153 closed

[2015-03-10 01:15] #3075 closed

[2015-03-10 01:16] #3189 closed

[2015-03-10 13:21] nosajesahc commented on #2215
Hello there,

I originally ran into this issue with an older release and I'm seeing it again in the latest development snapshot.

Error during update: Error: 'NoneType' object has no attribute '__getitem__'

The code I am using was clone via git yesterday from the develop branch.

[2015-03-10 15:10] tarunsharma1 commented on #3186
dam i was just about to get it myself :/

[2015-03-10 15:18] rtibbles commented on #3186
Yeah, we are having a bug bash today, so wanted to make sure it was merged before then.

[2015-03-10 18:04] #3186 closed

[2015-03-10 18:26] Antrikshy commented on #3203
About that sidebar... are you saying when you select a search suggestion? The sidebar does open for me then. And when I type in something vague and don't select something concrete, I am taken to a search results page.

[2015-03-10 18:36] Antrikshy opened #3217 "Search page title says "WelcomeSearch results for""
Very minor bug.

![screen shot 2015-03-10 at 11 34 48 am](https://cloud.githubusercontent.com/assets/6601788/6582307/c5c8802a-c719-11e4-94d1-963fea67a783.png)

Just search for something that takes you to the search results page. "search" works.

[2015-03-10 18:52] MCGallaspy commented on #2215
@66eli77 once you get the pi up and running, can you try to replicate this issue?

[2015-03-10 18:55] sharprakeshverma opened #3218 "RuntimeError at /management/zone/None/"
"Manage" Tab Giving the Runtime error  "maximum recursion depth exceeded"
Any Solutions?

![screenshot from 2015-03-11 00 14 01](https://cloud.githubusercontent.com/assets/10394619/6582691/fe43cdea-c784-11e4-8913-3f0444d33f04.png)

[2015-03-10 19:28] #3087 closed

[2015-03-10 19:29] aronasorman commented on #3218
Can you copy the full stack trace here @sharprakeshverma?

[2015-03-10 19:29] aronasorman commented on #3218
Also, what version of the software are you using?

[2015-03-10 19:31] Antrikshy commented on #3008
I have been planning on redesigning the entire login/register pages to make them more Bootstrap-py and less login-form-from-2004. I might fix this if it hasn't been already.

[2015-03-10 20:00] sharprakeshverma commented on #3218
http://dpaste.com/0PPFG1F - Traceback

[2015-03-10 20:14] aronasorman opened #3221 "Sidebar rendering bug"
Browser: Firefox 35
Branch: latest develop as of 10 Mar 2015 13:12 PST
Language: German

![screen shot 2015-03-10 at 1 11 46 pm](https://cloud.githubusercontent.com/assets/191955/6584264/398b5ac0-c727-11e4-8744-eb8ff38a2498.png)

Opening the exercise given in the url, and then opening the sidebar makes the CSS all wrong. The scrollable area only extends up to a certain point, not the entire sideba

[2015-03-10 20:17] aronasorman opened #3222 "Back arrow not in center"
Branch: develop
Browser: Firefox 35

![screen shot 2015-03-10 at 1 16 06 pm](https://cloud.githubusercontent.com/assets/191955/6584336/beb8f612-c727-11e4-8461-be1697828cc1.png)

[2015-03-10 20:20] aronasorman opened #3223 "Back arrow doesn't look clickable"
Browser: Firefox 35
Branch: develop

Compare the cursor between the two pics:

Cursor on topic --
![screen shot 2015-03-10 at 1 18 21 pm](https://cloud.githubusercontent.com/assets/191955/6584381/12cec718-c728-11e4-9211-864bac7efd33.png)

Cursor on back button --
![screen shot 2015-03-10 at 1 18 34 pm](https://cloud.githubusercontent.com/assets/191955/6584393/29b31e20-c728-11e4-8ad5-8fe7ec22ca3a.p

[2015-03-10 20:24] aronasorman opened #3224 "ImportError on coachreports"
Browser: Firefox 35
Branch: develop

Giving these specific parameters for a coachreport:
![screen shot 2015-03-10 at 1 22 26 pm](https://cloud.githubusercontent.com/assets/191955/6584456/afdc0c78-c728-11e4-9741-30e578a3de2c.png)

Gives me this error:
![screen shot 2015-03-10 at 1 24 21 pm](https://cloud.githubusercontent.com/assets/191955/6584469/d212e794-c728-11e4-8287-c2b06bb82180.png)

[2015-03-10 20:26] aronasorman opened #3225 "Weird spacing and whitespace in coachreport legend for German"
Branch: develop
Browser: Firefox 35

![screen shot 2015-03-10 at 1 25 46 pm](https://cloud.githubusercontent.com/assets/191955/6584492/0bee7898-c729-11e4-849a-578551b3c4fb.png)

[2015-03-10 20:29] aronasorman opened #3226 "Tabs are just a tiny bit off"
Browser: Firefox 35
branch: develop

A few pixels to the bottom of the green line:
![screen shot 2015-03-10 at 1 27 44 pm](https://cloud.githubusercontent.com/assets/191955/6584560/635fe1de-c729-11e4-849a-6dc09f782caf.png)

[2015-03-10 20:34] aronasorman opened #3227 "get_uuid error on video exit"
Branch: develop
Browser: Firefox 35

![screen shot 2015-03-10 at 1 30 54 pm](https://cloud.githubusercontent.com/assets/191955/6584661/fdf4f6e4-c729-11e4-9633-12b883e3604f.png)

Steps to reproduce:
1. Log in as admin
2. Visit unavailable video
3. Navigate away from video through sidebar
4. Watch the error pop up

[2015-03-10 20:39] aronasorman opened #3228 "I have internet yo; why are you giving me this error?"
Branch: develop
browser: Firefox 35
language: German

I have internet, and I can visit google. But why am I getting a "No internet" error? (@jamalex said that's what it translates to)

![screen shot 2015-03-10 at 1 35 46 pm](https://cloud.githubusercontent.com/assets/191955/6584753/b9a469d8-c72a-11e4-9299-aa6d259f06a6.png)

[2015-03-10 20:42] aronasorman opened #3229 "Language pack download button floating awkwardly"
browser: Firefox 35
branch: develop

![screen shot 2015-03-10 at 1 40 55 pm](https://cloud.githubusercontent.com/assets/191955/6584824/301fb996-c72b-11e4-974a-1f0be084ec76.png)

[2015-03-10 20:44] aronasorman opened #3230 ""Please select topic" should not be an error message"
branch: develop
browser: Firefox 35

![screen shot 2015-03-10 at 1 42 43 pm](https://cloud.githubusercontent.com/assets/191955/6584884/8dffd802-c72b-11e4-90c7-ac494117591b.png)

I feel this should just be a normal (yellow-colored) notif

[2015-03-10 20:48] rtibbles commented on #3230
:+1: I have too, felt this was unnecessarily aggressive.

[2015-03-10 20:49] aronasorman opened #3231 "Pagination numbers are hard to see"
branch: develop
browser: Firefox 35

![screen shot 2015-03-10 at 1 46 19 pm](https://cloud.githubusercontent.com/assets/191955/6584946/ed705eb0-c72b-11e4-8327-1f12ae57e790.png)

Yeah, the number 1 is hard to see.

Steps to reproduce:
1. Get a DB with a lot of students in a single facility
2. Open the facility, go to the very bottom to see the pagination area.

[2015-03-10 20:53] MCGallaspy opened #3232 "Error registering device"
On `develop`, tried to register a device by navigating to `/securesync/register`. I expected to be presented with the standard registration page, but instead it barfed out this error:
[code]

[2015-03-10 20:54] aronasorman opened #3233 "Tabs can't handle long words"
branch: develop
browser: Firefox 35

Exhibit A
![screen shot 2015-03-10 at 1 52 59 pm](https://cloud.githubusercontent.com/assets/191955/6585087/de630796-c72c-11e4-8054-ad5bfa897cb2.png)

[2015-03-10 20:56] aronasorman opened #3234 ""Learn" link in homepage no longer accurate"
branch: develop

![screen shot 2015-03-10 at 1 55 00 pm](https://cloud.githubusercontent.com/assets/191955/6585138/34b44876-c72d-11e4-801d-e74fb14f8ed8.png)

Say, we don't really have a knowledge map now do we? So this picture we have in the front page is not totally accurate then.

[2015-03-10 21:04] aronasorman opened #3235 "Nalanda conditionals still showing up"
browser: Firefox 35
branch: develop
DB: a Nalanda DB

So even if we made a PR "stripping off" Nalanda features from develop, some of it's still showing up:
![screen shot 2015-03-10 at 2 01 38 pm](https://cloud.githubusercontent.com/assets/191955/6585315/43f1b2f0-c72e-11e4-8d62-a758401b8ef8.png)

Note the condition message and the store link.

Steps to reproduce:
1. Acquire nalanda db
2. check out

[2015-03-10 21:06] aronasorman opened #3236 ""Inequalties"?"
branch: develop

![screen shot 2015-03-10 at 2 05 13 pm](https://cloud.githubusercontent.com/assets/191955/6585347/87e9f832-c72e-11e4-865c-2f1a8658cb21.png)

We might wanna manually correct this in the khan topic tree JSON.

[2015-03-10 21:14] MCGallaspy opened #3237 "Ugly dropdown menu on small screen"
On `develop`, if you resize the screen so that the `navbar-right` items are stacked under the search bar, then expanding the dropdown menu produces undesirable results:
![ss](https://cloud.githubusercontent.com/assets/8888020/6585544/bc1d2628-c72f-11e4-9dda-ba882fc195a5.png)

[2015-03-10 21:16] aronasorman opened #3238 "Strange mix of translated and not translated strings when logged in as student"
branch: develop
db: Nalanda DB (if that's relevant)
browser: Firefox 35
active language: German

When logged in as student, I get this:
![screen shot 2015-03-10 at 2 08 51 pm](https://cloud.githubusercontent.com/assets/191955/6585490/80e33886-c72f-11e4-8231-5711af5948b2.png)

Notice the German center text, but what is otherwise an English interface (navbar german strings are present in the po file

[2015-03-10 21:19] aronasorman opened #3239 "As student, no way to set my own default language"
branch: develop

As a student, we used to have the option to go to the "Edit User" page, which included the option to edit our own default language.

![screen shot 2015-03-10 at 2 17 56 pm](https://cloud.githubusercontent.com/assets/191955/6585636/73546b94-c730-11e4-843d-c67f6b8d6efb.png)

However, since we disabled that, students now have no way to set their own language. No language dropdown in

[2015-03-10 21:23] 66eli77 opened #3240 "typo in the docs -- Raspberry Pi Installation Guide"
in this page http://field.learningequality.org/docs/installguide/install_rasp_pi.html
there are couple places where "ka-lite-pi/scripts" should be "ka-lite-pi-scripts".

[2015-03-10 21:26] aronasorman opened #3241 "student report tooltip too tight"
branch: develop
browser: Firefox 35

![screen shot 2015-03-10 at 2 25 10 pm](https://cloud.githubusercontent.com/assets/191955/6585768/72dbd548-c731-11e4-9e86-dd31f174a08d.png)

Makes it a bit harder to read.

[2015-03-10 21:28] MCGallaspy opened #3242 "Broken exercise"
On `develop`, the exercise at `/learn/khan/computing/computer-programming/programming/variables/exercise-intro-to-variables/` is broken. When submitting an answer, correct or incorrect, results in the exercise question area becoming blank, and subsequent button clicks have no effect. It's also not clear what the answer format should be for many of the questions.

[2015-03-10 21:30] aronasorman opened #3243 "Scratchpad tool misaligned"
branch: develop
browser: Firefox 35

![screen shot 2015-03-10 at 2 29 06 pm](https://cloud.githubusercontent.com/assets/191955/6585812/e424dd08-c731-11e4-8daf-bc831d070638.png)

Steps to reproduce:
1. Open exercise
2. Open scratchpad

That gradient tool is off from the rest of the tools.

[2015-03-10 21:37] aronasorman opened #3244 "No way to show all the results in the search page"
branch: develop

So we limit the number of results for each content type to 25 items, but then how do I see all the results? There's no button anywhere to expand the search to more than 25 items.

![screen shot 2015-03-10 at 2 34 21 pm](https://cloud.githubusercontent.com/assets/191955/6585937/e1f6c6a8-c732-11e4-82eb-79bef06d8c00.png)

Steps to reproduce:
1. Search "mat" in search box and press en

[2015-03-10 21:49] aronasorman commented on #3243
Not a bug. Shows what tool is selected.

[2015-03-10 21:49] #3243 closed

[2015-03-10 21:53] aronasorman commented on #3238
@rtibbles maybe you might know what's wrong with this. Can you advise?

[2015-03-10 22:07] 66eli77 opened #3245 "accessing exercise from progress report leads to incorrect sidebar behavior"
![screen shot 2015-03-10 at 3 03 52 pm](https://cloud.githubusercontent.com/assets/5577205/6586444/b6058026-c736-11e4-8b10-904fc8049538.png)
reproduce:
1.login as learner;
2.go to progress report(make sure you have something to choose)
3.open any drop down list and choose an exercise from it
you will see the sidebar fade are isn't fading, and the sidebar-tab is in 'close' state even though the sid

[2015-03-10 22:12] aronasorman commented on #3228
Was running my own central server. If not reproducible, let's just close this.

[2015-03-10 22:14] aronasorman commented on #3225
Check to make sure that it's not something with the i18n strings.

[2015-03-10 22:15] aronasorman commented on #3222
Was this intentional? @Antrikshy please verify.

[2015-03-10 22:16] Antrikshy commented on #3234
Maybe we should come up with a large, clean, image-less learn button. I'll play around.

[2015-03-10 22:41] Antrikshy commented on #3223
Ooh. I should add a hover color change in that smaller CSS PR I have open.

[2015-03-10 22:42] Antrikshy commented on #3222
Totally intentional. I thought putting it in the center would make it look weird with the sidebar tab in the center as well.

[2015-03-10 22:44] Antrikshy commented on #3245
Something is calling the resize sidebar function, but not the main one. This is a strange issue because I have added a check to see if the sidebar is in open state before calculating its position. Assign this to me and I'll check it out.

[2015-03-10 23:30] 66eli77 opened #3248 "sidebar and sidebar-tab are not moving harmoniously"
we should either disable sidebar-tab animation or enable sidebar animation

[2015-03-10 23:52] jamalex opened #3249 "Remove ugly hash from beside logged-in username"
We added this 8-digit hash just for paper survey tracking purposes for Nalanda. Probably no use for it in general, and it's ugly/distracting, so let's ditch it.

![image](https://cloud.githubusercontent.com/assets/618416/6587761/b7904e30-c745-11e4-84b1-4e34c9820661.png)

[2015-03-10 23:52] jamalex commented on #3249
Could you take a look, @anuragkanungo?

[2015-03-11 00:32] 66eli77 commented on #3249
@jamalex  @anuragkanungo  you can assign to me this issue, I fixed this on my personal branch yesterday.

[2015-03-11 01:44] MCGallaspy commented on #3224
Try as I might, I can't seem to reproduce this error. I'm on the same code path, but that import statement doesn't blow up my server. That said, I moved those de-inlined those imports and resolved a circular import error that resulted -- probably why someone was importing there in the first place? PR incoming.

[2015-03-11 02:35] rtibbles commented on #3224
I think if you are running the manage.py inside the kalite folder, then it will work, if you are using the manage.py in the root folder, this will not. The relative import (with no 'kalite.' in front of 'controlpanel.api_resources') I think is the cause here.

[2015-03-11 05:54] anuragkanungo commented on #3236
@aronasorman , can you explain the problem, please.

[2015-03-11 06:57] anuragkanungo opened #3256 "Cheery Pick the Redirect when unauthorized issue fix"
Its fixed on nalanda branch for 403 unauthorized error.
But, its still on the develop and it shows Contact FLE Error ( Object Object) and doesn't redirect to login page.

Cheery pick commits from here.
https://github.com/learningequality/ka-lite/pull/3092

[2015-03-11 06:59] anuragkanungo commented on #3256
@aronasorman , @jamalex
I feel this is important because I faced this problem on develop just now.

[2015-03-11 07:02] anuragkanungo commented on #3249
@66eli77 , If you have fixed it then please go ahead take this issue and open the PR.
Thanks.

[2015-03-11 07:37] aronasorman commented on #3236
Inequalties is a misspelling. It should be "Inequalities" (with an "i").

The problem is most likely in one of our Khan data jsons.

[2015-03-11 07:38] cpauya commented on #3238
This also happens even when I'm logged-in as an admin and have English as my language, checking it out now:

![screenshot 2015-03-11 15 37 12](https://cloud.githubusercontent.com/assets/175580/6592148/9d0a0d34-c804-11e4-872b-0e9527025ca7.png)

[2015-03-11 07:39] cpauya commented on #3238
Sorry, I had German set as my language on another browser, the above comment is wrong, will try to reproduce this issue now.

[2015-03-11 10:23] jamalex opened #3258 "Check for and resolve 0.13 TODO-BLOCKERS"
Running `./manage.py todolist` (or grepping the codebase) identifies a number of things we marked as `TODO-BLOCKER`s, which we should resolve (either through fixing or demoting to simple `TODO`s) before releasing 0.13.

Current list:
[code]

[2015-03-11 15:49] #3230 closed

[2015-03-11 15:54] #3238 closed

[2015-03-11 16:27] #3224 closed

[2015-03-11 16:31] 66eli77 commented on #3249
@aronasorman  this has been fixed at PR #3251, please close the issue

[2015-03-11 16:33] #3249 closed

[2015-03-11 17:31] MCGallaspy commented on #3217
Probably just have to change the title block in the template used for the search page.

[2015-03-11 17:45] MCGallaspy commented on #3203
@namchester can you provide detailed steps to reproduce, including a description of the expected behavior and the actual behavior?

[2015-03-11 17:46] rtibbles commented on #3245
I assume this bug will actually be more general, and will happen any time you navigate directly to the URL for an exercise.

[2015-03-11 17:47] rtibbles commented on #3236
Might be good to fix this at the source, and let KA know?

[2015-03-11 17:48] rtibbles commented on #3236
Live on their site at:
https://www.khanacademy.org/math/pre-algebra/applying-math-reasoning-topic

![image](https://cloud.githubusercontent.com/assets/1680573/6602952/267264a0-c7dc-11e4-9298-8fad758f15bc.png)

[2015-03-11 17:50] MCGallaspy commented on #3228
Just to be clear, @aronasorman had an internet connection, but his `kalite/local_settings.py` file was configured to look for a local instance of the central server (something like this):
[code]
Which he wasn't running; hence "no internet error". Maybe a more accurate error would be "Could not detect central server." Should we suggest the user checks their `settings.py` or `local_settings.py`?

[2015-03-11 17:53] MCGallaspy commented on #3222
I'm okay with this. Perhaps someone else can weigh in, before I close this issue. @66eli77? @jtamiace?

[2015-03-11 17:55] MCGallaspy commented on #3248
@66eli77 you mean the tab and sidebar are moving out of sync? This is small but noticeable on the desktop, agreed. Is it more noticeable on tablets?

[2015-03-11 18:43] anuragkanungo commented on #3236
@rtibbles , that would be the best. let them know. :-)

[2015-03-11 18:45] anuragkanungo commented on #3227
I am able to reproduce the error but still not debug the cause.
As the error is there because the user is None and I don't able to find why its not taking admin as the user in the request.

[2015-03-11 20:23] aronasorman commented on #3227
Oh, I think the solution we want in here is to disable VideoLog API calls for admins.

[2015-03-11 20:43] aronasorman commented on #3222
Sounds good. Closing this now, let's reopen if @66eli77 or @jtamiace feel the need to rectify this issue.

[2015-03-11 20:43] #3222 closed

[2015-03-11 20:48] Antrikshy commented on #3217
I took a look at it before opening the issue. I cannot find where the Welcome comes from. I guess I can check how other pages remove the Welcome before adding their own title. Someone with more knowledge of this may be able to fix it quicker.

[2015-03-11 21:12] #2961 closed

[2015-03-11 21:14] rtibbles commented on #3227
Yeah, this is caused by the save that gets triggered on the log when you navigate away from any content - in order to guarantee that any progress is recorded.

[2015-03-11 21:29] anuragkanungo commented on #3227
@rtibbles , can you point where this save is happening ?

[2015-03-11 21:56] rtibbles commented on #3218
Expired. What branch was this on, master or develop?

[2015-03-11 22:03] rtibbles commented on #3218
Unable to replicate this on either master or develop, on existing and fresh installs.

More info needed.

[2015-03-11 22:04] MCGallaspy commented on #3240
@66eli77 is this fixed by #3251?

[2015-03-11 22:05] rtibbles commented on #2855
@aronasorman I think this has been fixed enough not to block 0.13 release, unless @EdDixon reckons otherwise.

[2015-03-11 22:17] rtibbles commented on #3227
distributed/static/js/distributed/content/views.js:185

[2015-03-11 22:21] rtibbles commented on #3248
This appears to be a duplicate of #2973

[2015-03-11 22:53] aronasorman opened #3263 "Release notes in the manual"
Add:

1. people need to run setup again when updating through Git
2. Windows installer now requires admin privileges
3. We also don't support IE 8 anymore

[2015-03-11 23:20] 66eli77 commented on #3234
I don't see the necessity of having this page, I think the first page to land should be the learn page, and in the future, the recommend page.

[2015-03-11 23:26] aronasorman commented on #3234
I see where @66eli77 is coming from. We've unified exercises and videos into a single "Learn" page interface, and so there's no need to ask them what they want to do when they first load KA Lite -- as a guest user, really the only useful thing you can do is go straight to learning!

However, removing the front page requires significant code changes, which we should avoid now that we're so close to

[2015-03-11 23:39] 66eli77 commented on #3248
@MCGallaspy yes, not only that, it drags the performance significantly on cheap tablet. that's why we disabled the animation at the first place.

[2015-03-11 23:41] 66eli77 commented on #3240
@MCGallaspy  yes, please close this issue.

[2015-03-11 23:54] 66eli77 commented on #3234
@aronasorman  is it possible to set a redirect on this page that always point to learn? as a compromised solution for now?

[2015-03-12 00:12] Antrikshy commented on #3234
But but... pretty button design!

[2015-03-12 00:13] 66eli77 commented on #3223
@Antrikshy  this feature is specifically useful on mobile, please avoid hover as you can

[2015-03-12 00:17] #3240 closed

[2015-03-12 00:31] 66eli77 opened #3264 "memory error when installing the newest develop branch on RPi."
replicate: clone the newest develop branch and run setup_unix.sh script

[2015-03-12 00:44] tarunsharma1 commented on #3226
Looks fine in mine..is it language dependent or something?
![screenshot 107](https://cloud.githubusercontent.com/assets/8834964/6609970/179cab4a-c87f-11e4-8f34-5e795c701abe.png)

[2015-03-12 00:55] Antrikshy commented on #3223
@66eli77 But hover won't matter on mobile.

The tapping functionality works in exactly the same way. Pretty much every beautiful mobile-friendly responsive website has tons of hover everywhere. While hover does not work on mobile platforms, it does not impede tapping functionality and I don't think it's frowned upon. I can't think of another way to make it look clickable for desktop users let alon

[2015-03-12 00:59] aronasorman commented on #3226
I'm using Firefox @tarunsharma1

[2015-03-12 01:27] tarunsharma1 commented on #3226
The image at the back is firefox and the one on top is chrome..
![screenshot from 2015-03-11 18 26 33](https://cloud.githubusercontent.com/assets/8834964/6610426/4db4dd78-c81c-11e4-851b-5f7930ce2a38.png)

[2015-03-12 01:30] aronasorman commented on #3226
Oh interesting, looks like it's a language thing then? You can try downloading German as an administrator, then test it there (just make sure you have `DEBUG = True` in your `local_settings.py`).

[2015-03-12 04:32] phiju123 commented on #3226
I will check it

[2015-03-12 11:51] sharprakeshverma commented on #3218
Develop branch.

[2015-03-12 15:05] anuragkanungo commented on #3197
@aronasorman,

I am facing this Issue now though I am able to reach learningequality.org .
So, possible error cause could be something else as well.

[2015-03-12 15:07] tarunsharma1 commented on #3197
Yes I'm facing this error too....when i click the languages button i get the error and it says please register device..and when i try to register also i get the same error and a request to update

[2015-03-12 15:40] anuragkanungo commented on #3229
Hey, @Antrikshy , can you have a look, you have better UI experience.
Thanks

[2015-03-12 15:47] aronasorman commented on #3218
Can you send us the exact git commit you're on, as well as your database?

[2015-03-12 15:47] #3231 closed

[2015-03-12 16:02] #3239 closed

[2015-03-12 16:36] Antrikshy opened #3270 "Ugly error message on Language page with unregistered device"
I went to the Language tab in Manage while logged in as admin on an unregistered device and got this:

![screen shot 2015-03-12 at 9 36 06 am](https://cloud.githubusercontent.com/assets/6601788/6622673/51efa5ec-c89b-11e4-88b4-e14b05d09c50.png)

Known?

EDIT: I get the same thing when trying to register.

[2015-03-12 16:49] rtibbles commented on #3236
Fixed in #3260

[2015-03-12 16:49] #3236 closed

[2015-03-12 16:50] rtibbles commented on #3217
Fixed in #3261

[2015-03-12 16:50] #3217 closed

[2015-03-12 16:50] rtibbles commented on #3227
Fixed in #3269

[2015-03-12 16:50] #3227 closed

[2015-03-12 17:33] radinamatic opened #3271 "404 after editing and saving the Default facility properties"
Branch: develop
Expected Behavior: After setting the location in Google map and editing the facility name, pressing the "Save facility" button should bring back to Manage tab dashboard.
Current Behavior: Pressing the "Save facility" button leads to 404 page:

Steps to reproduce:

1. Log in as the administrator.
2. Click the pencil icon to edit the Default facility
3. Add a Google map location
4. E

[2015-03-12 17:47] timon-langlotz commented on #3197
I have the same error. Is the hub still down? Tried to ping it, no response.

[2015-03-12 17:52] radinamatic commented on #3197
Same over here, on both Videos and Language tabs.

[2015-03-12 17:57] aronasorman commented on #3197
Ok, critical. @jamalex

[2015-03-12 18:03] 66eli77 opened #3272 "enable optimization option on RPi installation"

[2015-03-12 18:22] MCGallaspy commented on #3204
@namchester this issue just came up in our chat room, and I feel it lacks important context. Please check out [our guidelines for opening issues](https://github.com/learningequality/ka-lite/blob/develop/CONTRIBUTING.md). Can you include more information for this and any future issues you open? The steps to reproduce that you include should describe how you navigated to a page (i.e. the relative ur

[2015-03-12 18:40] Antrikshy commented on #3245
This is one annoying bug.

[2015-03-12 19:25] Antrikshy commented on #3245
Fixed with a `_.debounce` similar to what we use for `resize_sidebar`. I hope it doesn't cause other problems. I'll send this over in a PR with a couple other issues fixed.

[2015-03-12 19:39] aronasorman commented on #2919
Superseded by https://github.com/learningequality/ka-lite/issues/2926. Closing.

[2015-03-12 19:39] #2919 closed

[2015-03-12 19:40] aronasorman commented on #3263
Fixed in #3266.

[2015-03-12 19:40] #3263 closed

[2015-03-12 19:41] #3208 closed

[2015-03-12 20:06] jamalex opened #3273 "Plans for new KA Lite landing page"
Current landing page doesn't serve much of a purpose.

One proposal for the behavior of the landing page:
- When not logged in: Show login form and signup form directly.
- When logged in as learner: Redirect to Learn tab (sidebar, or later, rec engine)
- When logged in as coach: Redirect to Coach tab (coach reports)
- When logged in as admin: Redirect to Manage tab

(this would mean that the KA li

[2015-03-12 20:59] aronasorman commented on #3273
Assigned you to this @Antrikshy since you said you were meaning to make this.

[2015-03-12 21:00] phiju123 commented on #3233
Sir I m not getting the css file
Can u pls suggest it. As im newbie in python.

[2015-03-12 21:10] aronasorman commented on #3233
I'm not aware of where the best place is to fix this as well. However @phiju123 one good place to find out is through the chrome devtools: https://developer.chrome.com/devtools/docs/elements-styles

That allows you to edit the styling in-place, and once you do fix it you can find out what file that style is placed.

[2015-03-12 21:20] namchester commented on #3203
Yeah, just synced my fork. It is already fixed. Sorry for the trouble.

[2015-03-12 21:20] #3203 closed

[2015-03-12 21:22] foolchan2556 commented on #3233
Hi, in addition to @aronasorman 's advice, I guess Inspect Element function in your right-click menu of Chrome might help, which will figure out the path of each style clause. Hope it will be helpful :)

[2015-03-12 21:25] namchester commented on #3204
Sorry!

Steps to reproduce: Going on the http://localhost:8008/management/account/ page on the student side, if a student hasn't completed/started any exercises/videos yet.

Current Behaviour: Shows a blank page with no progress.
Expected Behaviour: Should show a message that the student hasn't started browsing any of the above stated materials yet, along with a link to start learning.

[2015-03-12 21:31] namchester commented on #3205
Steps to reproduce: The progress report page http://localhost:8008/management/account/.

Current behaviour: The content/progress shown is a little ambiguous.
Expected behaviour: As a first time user/student, I wasn't able to understand each and every piece of information that is written on the progress report page. It should either give a legend as to what the symbols mean, or some sort of informa

[2015-03-12 21:36] aronasorman opened #3275 "Ask user if they have a local assessment zipfile"
To be able to handle completely offline installations, users installing through Git should be made aware through a message that:
1. There is now this big zip file they have to download
2. What the URL is to that zip file (so they can download it)
3. Whether they have a local copy of that zip file.

[2015-03-12 21:38] namchester commented on #3202
Steps to reproduce: Trying to open any url from the admin/coach side while using the crredentials of a student to login.

Current behaviour:  It shows both, a success dialog and an error dialog. As showin in the screenshot.
Expected behaviour: Should not show the successful login message. I think it is a major bug which needs to be fixed asap. Can I look into it?

[2015-03-12 21:39] tarunsharma1 commented on #3204
yep almost fixed

[2015-03-12 21:40] namchester commented on #3204
I was looking to fix it, but anyways.

[2015-03-12 22:04] tarunsharma1 commented on #3204
@namchester oh sorry i didnt know :/
Anyway i already spend alot of time and fixed it..but having issues with my git...so please dont submit a patch..ill be submitting mine in sometime :)

[2015-03-12 22:32] MCGallaspy commented on #3270
Seems like a duplicate of #3232.

[2015-03-12 22:32] #3270 closed

[2015-03-12 22:32] Nat-Turner opened #3276 "Accessibility issue colour"
for people with colour blindness it is hard to distinguish between "the blue" and "the orange" angles.

![light-bulb-clip-art](https://cloud.githubusercontent.com/assets/10179162/6629526/c39d0138-c906-11e4-90be-81c3dee55428.jpg)

just labeling the angles would fix this
or change the colour of the text of "orange" to orange
like in this exercise (so that people with colour blindness can match the s

[2015-03-12 22:33] MCGallaspy commented on #3232
Duplicate of #3197.

[2015-03-12 22:33] #3232 closed

[2015-03-12 23:11] MCGallaspy commented on #3197
@jamalex in 0.12.10 I keep getting the same error, even with "fresh" databases. Leads me to believe its a genuine error with the central server.

[2015-03-13 01:37] MCGallaspy commented on #2470
Closing because up to now I haven't been able to reproduce the original issue, and the latest error is probably a duplicate of #3197.

[2015-03-13 02:29] MCGallaspy commented on #3197
The default central server instance that we're running uses a backend (MySQL) that wasn't well-tested during development. #3253 should fix this issue once the central server's submodule has been updated.

[2015-03-13 13:22] sopu opened #3279 "Score for quiz not visible."
The score display during the quiz is not completely visible due to color issues.
Need to change the color palette for progress bar.
![screenshot from 2015-03-13 18 49 50](https://cloud.githubusercontent.com/assets/6399612/6639045/1cbb3ec8-c9b2-11e4-8020-f5a040820c09.png)

As can be seen in the screenshot.

[2015-03-13 13:28] tarunsharma1 commented on #3279
Or maybe change the color of the text (points) from white to black?

[2015-03-13 13:30] sopu opened #3280 "MCQ options have inconsistent position for "Quiz" and "Test your Knowledge""
The display of MCQ options is not consistent as can be seen in the below given screenshots.

![screenshot from 2015-03-13 18 48 52](https://cloud.githubusercontent.com/assets/6399612/6639093/908807b4-c9b2-11e4-9591-347d47ed9c10.png)

and this
![screenshot from 2015-03-13 19 00 06](https://cloud.githubusercontent.com/assets/6399612/6639158/2fe1d89e-c9b3-11e4-9c1d-2d3054bf3563.png)

[2015-03-13 13:32] sopu commented on #3279
I am not quite convinced with the way the progress bar looks. The color doesn't fit with the basic color scheme of the page.

[2015-03-13 14:34] tarunsharma1 commented on #3280
this is the same as bug #3182

[2015-03-13 14:36] tarunsharma1 commented on #3241
too tight as in you want the width to be increased?

[2015-03-13 15:42] sopu opened #3281 "Hierarchy of categories is not obvious on "My progress" page"
The courses/videos displayed in the "My progress" page do not follow any obvious hierarchy.
The display is hap-hazard and confusing.
No conclusion can be drawn by just looking at the icons.
![screenshot from 2015-03-13 20 24 03](https://cloud.githubusercontent.com/assets/6399612/6640673/eb00771a-c9be-11e4-90e8-f3f95e3a1ba3.png)

[2015-03-13 16:06] #2944 closed

[2015-03-13 16:19] rtibbles opened #3283 "No focus highlighting on answers when software keyboard is activated"
![image](https://cloud.githubusercontent.com/assets/1680573/6642457/0016bc16-c962-11e4-9c5c-db84ac1126d8.png)

This is particularly problematic when there are multiple answers and it is not clear to learners which box they are inputting to.

[2015-03-13 16:41] 66eli77 commented on #3245
we need to refactor the sidebar code in near future to take full advantage of Backbone MV's listener feature, so that we can avoid using any delay function like _.debounce(not reliable).

[2015-03-13 16:55] rtibbles opened #3284 "Keypad does not show for multiple input Khan Exercise exercises"
![image](https://cloud.githubusercontent.com/assets/1680573/6643125/bfc16b8c-c95e-11e4-9fa6-95564cd39e1c.png)

[2015-03-13 17:03] rtibbles opened #3286 "Navigating to a new exercise while the input hint tooltip is open causes it to float to a weird position on the page"
Branch: develop
Expected behaviour: tooltip will disappear
Current behaviour: tooltip persists, moves to top left corner, and inhibits appearance of new tooltips

![image](https://cloud.githubusercontent.com/assets/1680573/6643267/d8b90ab8-c95f-11e4-9dc7-5aa381a333d9.png)

[2015-03-13 17:10] sharprakeshverma commented on #3218
19b1a64- git commit
and branch is 0.13.0

On Thu, Mar 12, 2015 at 9:17 PM, Aron Fyodor Asor <notifications@github.com>
wrote:

Running syncdb will create a file in this directory called "data.sqlite". This contains all the data for the local server's database, including the public and private keys, and hence must be kept secret and not shared across servers. If copying this codebase to another ser

[2015-03-13 17:20] rtibbles commented on #3218
Can you try to replicate on the latest develop branch? I am unable to do so.

[2015-03-13 17:42] Antrikshy commented on #3245
@66eli77 is right. While I think we can keep this quick and dirty fix for now, the sidebar code could do with some heavy refactoring. `_.debounce` is being used in three places total. Perhaps we should look into what that function actually does. At least I *think* it adds a delay. Who knows, it might be reliable.

Anyways, I'll be very busy over the next week because of finals week. I'll work on a

[2015-03-13 17:48] rtibbles commented on #3245
@Antrikshy for reference, this is what it does: http://underscorejs.org/#debounce

[2015-03-13 18:05] rtibbles commented on #3284
Correction: The keypad doesn't show up for this because it is type 'radical'. However, when activated, the keypad still fails to use both inputs.

[2015-03-13 18:36] richard-ive-m4 opened #3287 "Error when trying to register."
Hi,

I followed the instructions here: https://github.com/learningequality/ka-lite/blob/master/INSTALL.md

But when I try and register my device I get this error:

![selection_007](https://cloud.githubusercontent.com/assets/4996821/6644926/df69fbb0-c9af-11e4-96c0-36094c6b72ad.png)

Thanks.

[2015-03-13 19:02] aronasorman commented on #3287
Duplicate of #3197.

[2015-03-13 19:02] #3287 closed

[2015-03-13 19:04] aronasorman commented on #3276
This is more of Khan Academy's issue, as we just import the exercises from them. Closing this now. But @jamalex let's inform about colorblindness issues like this one.

[2015-03-13 19:04] #3276 closed

[2015-03-13 19:08] jamalex commented on #3276
Very important issue, but not one that we (as FLE) can address directly, as we're just pulling in KA's exercise content. A good place to report this would be at: https://code.google.com/p/khanacademy/issues/list

[2015-03-13 19:35] rtibbles commented on #3280
Duplicate of #3182, closing.

[2015-03-13 19:35] #3280 closed

[2015-03-13 19:54] rtibbles commented on #3218
As this is on an old branch (0.13 which was last updated in November) and I am unable to replicate it, I am going to close for now, can reopen if replication is evidenced.

[2015-03-13 19:54] #3218 closed

[2015-03-13 20:33] radinamatic opened #3291 "Accessibility - Missing image ALT tags and wrong headings order"
Branch: develop
Expected Behavior: "All non-text content that is presented to the user has a text alternative that serves the equivalent purpose." (WCAG 2.0 Guideline 1.1.1.)

WAVE checker is also complaining about incorrectly ordered headings (WCAG 2.0 Guideline 2.4.6)

Current Behavior: Current ka-lite server **homepage** has a CC logo in the footer and the linked "Learn" image without the appro

[2015-03-13 23:31] #3283 closed

[2015-03-14 00:02] #2926 closed

[2015-03-14 00:10] MCGallaspy commented on #3275
Are you suggesting this as an amendment to the docs, @aronasorman? Not sure if there's a more appropriate way to let users know.

[2015-03-14 00:11] aronasorman commented on #3275
The idea is to have a prompt in the setup command that shows a warning that we need the assessment items, and asks if they have a local copy or not.

[2015-03-14 00:11] aronasorman commented on #3275
but we also need to tell them in the release notes, and the install guide.

[2015-03-14 00:12] aronasorman commented on #3275
can put them in the same PR.

[2015-03-14 00:13] aronasorman commented on #3228
Yeah, that's a more accurate message. 0.14.

[2015-03-14 00:27] sopu opened #3295 "The values of scorecard and number of "correct" icons do not match"
Whenever I enter a wrong answer it gives a "cross".
Then if I enter the correct answer it still gives a "cross" but the score increases.
Screenshot
![screenshot from 2015-03-14 05 54 12](https://cloud.githubusercontent.com/assets/6399612/6649381/e1c47a0c-ca0e-11e4-849b-e38cfe24a28b.png)

In the next question if I choose the correct alternative it suddenly changes the "cross" to a "tick" and increa

[2015-03-14 00:27] sopu commented on #3295
Looks to me like some kind of bug. But if is intended to be so then please explain the logic behind it.

[2015-03-14 07:41] natnael2012 opened #3297 "Web accessibility - Very Low Contrast"
Branch - Develop

Expected Behavior - Text should be present by having a contrast ratio greater than 4.5:1, or large texts (larger than 18 point or 14 point bold) should have a contrast ratio greater than 3:1.
Standards and Guidelines [ 1.4.3 Contrast (Minimum) (Level AA) http://webaim.org/standards/wcag/checklist#sc1.4.3 ]

Current Behavior - The menu Items has Contrast Ratio: 2.91:1, (background

[2015-03-14 09:33] natnael2012 opened #3298 "Web accessibility - Image alternative text is not present"
Branch - Develop

Expected Behavior - Each image must have an alt attribute. Without alternative text, the content of an image will not be available to screen reader users or when the image is unavailable.
Standards and Guidelines
•	Section 508 (a)  http://webaim.org/standards/508/checklist#standarda
•	1.1.1 Non-text Content (Level A) http://webaim.org/standards/wcag/checklist#sc1.1.1

Current Beh

[2015-03-14 09:37] natnael2012 opened #3299 "Web accessibility - Search form control does not have a corresponding label."
Branch - develop

Expected behavior - The search form control should have a corresponding label. If a form control does not have a properly associated text label, the function or purpose of that form control may not be presented to screen reader users. Form labels also provide visible descriptions and larger clickable targets for form controls.

Standards and Guidelines
•	Section 508 (n) http://we

[2015-03-14 11:38] radinamatic commented on #3298
should be addressed with  #3292 PR

[2015-03-14 11:43] radinamatic commented on #3299
I'm working on this one and will present a PR today. @natnael2012 do you have a PR proposal?

Is there a way one can assign/reserve the issue so we do not have two people working on the same issue? There is plenty to go around and fix... ;)

[2015-03-14 12:58] natnael2012 commented on #3299
I didn't know you were working on this issue. And yes, I have a PR proposal.

[2015-03-14 13:02] sharprakeshverma commented on #3218
Should i reinstall ka-lite for development work?

On Sat, Mar 14, 2015 at 1:24 AM, Richard Tibbles <notifications@github.com>
wrote:

[2015-03-14 14:01] radinamatic commented on #3299
You are right, I should have posted the issue first, but I mentioned it in the chat yesterday with @mike and I haven't seen any issues/PRs about it... Ok, you go for this one, since you "beat" me by posting the issue first... :)

How were you planning on approaching it? Develop branch doesn't have the "Search" text to use as a label (master had a text button that could have been labeled). Did you

[2015-03-14 19:22] timon-langlotz opened #3302 "Register Device - "AttributeError: 'bool' object has no attribute 'strip'" on develop branch"
I just installed the KA-Lite server on a fresh Raspberry Pi installation from the develop branch. When trying to register the device, I get the following error:

Error
Sorry, but there was an error while trying to load the page.
(AttributeError: 'bool' object has no attribute 'strip')

[2015-03-14 20:10] Antrikshy commented on #3234
Here's a draft for a simpler button that people will see when they are not logged in: http://gyazo.com/4c5f49b94bc6f8c7630c7e89545faa6a

People who are logged in will most likely not hit this page. See #3273.

[2015-03-15 07:27] natnael2012 commented on #3299
:) Their is small space available so I added a label in front of the searchbox

[2015-03-15 12:19] yohanboniface commented on #3197
Is there a workaround in between #3253 is shipped? I've a fresh install from today and I'm facing the same issue.

[2015-03-15 13:02] sopu opened #3303 "Readability issue: The text in search auto-complete is not aligned properly"
Branch: `develop`
Text in new line is not indented and thus appears below the icon which reduces readability of the topics displayed in the drop-down.

What should happen: All the line should be indented below the first line.

Screenshot
![screenshot from 2015-03-15 18 01 12](https://cloud.githubusercontent.com/assets/6399612/6656023/7b9c4642-cb3f-11e4-886c-4b3775f8881c.png)

[2015-03-15 15:16] radinamatic commented on #3299
Yeah, that's one option... :)
Looking forward to seeing the PR.

[2015-03-15 16:59] yohanboniface commented on #2467
Also interested to have an open way of download videos like Syncthing.

[2015-03-15 18:25] yohanboniface commented on #3302
Same error when I try to run develop to workaround #3197.

The cause seems to be that `settings.CENTRAL_SERVER` is `False` while the code is expecting for an URL:

            if urllib.urlopen(settings.CENTRAL_SERVER).getcode() != 200:

[2015-03-15 18:40] yohanboniface commented on #3302
But with a little hack to workaround this issue, I'm back on #3197 issue :/

[2015-03-15 18:49] yohanboniface commented on #3197
I've tried to switch to develop, but then I've hit #3302, and after a workaround I'm back on this one.

So is there any sort of stable branch/tarball/whatever I can use if I want to install on a Sunday, or given that it seems to affect the "central server" I'm shot?

[2015-03-15 18:53] natnael2012 commented on #3299
:-) , well i have updated my previous PR  by solving this issue. You cant request for new PR at the same branch if you already have open one.

[2015-03-15 19:11] natnael2012 commented on #3299
:-) , well i have updated my previous PR
by solving this issue. You cant request
for new PR at the same branch if you
already have one open.

[2015-03-16 03:47] jamalex commented on #3197
@yohanboniface Working on a fix to the central server now, in https://github.com/learningequality/ka-lite/pull/3306 -- merging and launching shortly!

[2015-03-16 05:33] jamalex opened #3307 "browser_check_django_message no longer works correctly with num_messages=0"
There are several tests on ka-lite-central that call `browser_check_django_message` with `num_messages=0`, in order to assert that no alerts were displayed.

The added line:
`WebDriverWait(self.browser, 30).until(EC.presence_of_element_located((By.CLASS_NAME, "alert")))`
is not set up to handle this case, and hence pauses 30 seconds before failing out.

It's uncertain how long should be waited in

[2015-03-16 05:34] jamalex commented on #3307
See https://travis-ci.org/fle-internal/ka-lite-central/builds/54519584#L439 for failures.

[2015-03-16 05:45] jamalex commented on #3197
Central server should now be fixed (testing a one-click registration and it worked for me) -- please confirm that it works for you now as well, and we can (re-)close this issue. Thanks!

[2015-03-16 07:21] yohanboniface commented on #3197
\o/

@jamalex it works, thanks a lot! :)

(Off topic note: is there any active IRC chan? I didn't reach one.)

[2015-03-16 07:36] yohanboniface opened #3308 "How to download only Arabic videos?"
Hi :)

I've installed Arabic language pack and set Arabic as default language.

Now I'm not sure if the videos from the '/update/videos/' page will all be in Arabic or not.

I've downloaded the first two, and they both are in Arabic, but before downloading all the Go, I want to be sure I'm targeting only Arabic ones :)

Also: is there a .torrent link to get them (only Arabic) in bulk?

Thanks!

Yo

[2015-03-16 10:50] radinamatic commented on #3299
Nicely done!
However, instead of using the **label** (WCAG H44), which forced you to style and reintroduce the text I assume was removed to save space in the first place, I would recommend the WCAG2.0 technique H65 and use the **title** attribute instead. This way you don't need the text, visually the UI remains the same, and you are still respecting the guidelines.

So, instead of:
[code]
I would

[2015-03-16 16:06] rtibbles commented on #3279
Fixed in #3294

[2015-03-16 16:06] #3279 closed

[2015-03-16 17:18] aronasorman commented on #3264
Fixed by https://github.com/learningequality/ka-lite/pull/3278.

[2015-03-16 17:18] #3264 closed

[2015-03-16 17:21] MCGallaspy commented on #3307
This should be a straightforward fix, but this test failure slipped under the radar because it's on the central server. Is it possible to move this test into the included submodule?

[2015-03-16 17:23] aronasorman commented on #3235
How's this going @anuragkanungo

[2015-03-16 17:24] aronasorman commented on #3022
No longer showing up for me.

[2015-03-16 17:24] #3022 closed

[2015-03-16 17:32] rtibbles commented on #3284
Fixed in #3288

[2015-03-16 17:32] #3284 closed

[2015-03-16 21:22] yohanboniface opened #3310 "Details on download error?"
When there is an error while downloading videos, we have a gentle message that warn us about this fact, which is nice:

![screenshot from 2015-03-16 22 18 18](https://cloud.githubusercontent.com/assets/146023/6676770/b157a7f4-cc2a-11e4-9627-b9739a8eb929.png)

but having a bit more details (file unavailable? network issue? missing space on device?…) would be very useful :)

[2015-03-16 22:00] aronasorman commented on #3310
Agreed, finding the middleground between opaque stacktraces and vague errors like these is an interesting issue to tackle.

[2015-03-16 22:17] rtibbles opened #3311 "get_installed_language_packs gives very different output from one call to the next"
Branch: develop

Expected behaviour: Unless a new language pack has been installed, the output of get_installed_language_packs should be identical from call to call

Current behaviour: Repeated calls to the function result in seemingly radically different outputs.

Steps to reproduce:
Inject a logging.debug statement inside 'get_best_available_language' and log the output of the call to get_instal

[2015-03-16 22:29] #3308 closed

[2015-03-16 22:30] aronasorman commented on #3308
Hi Yohan, Unfortunately there's no torrent link for Arabic yet.

Returning to your original question, Yup, if it's set as the default language then it should automatically download that default language.

[2015-03-16 22:32] aronasorman commented on #3197
Hi @yohanboniface --

we're active on HipChat: https://www.hipchat.com/gzQfGFgv1

[2015-03-16 22:32] #3197 closed

[2015-03-16 22:55] aronasorman commented on #3218
Yup @sharprakeshverma, and check out the develop branch too to make sure you're working on the latest code.

[2015-03-16 23:27] MCGallaspy opened #3312 "Windows installer hanging in XP"
Using the installer available here (as of 3/16/15): https://learningequality.org/downloads/KALiteSetup-0.13.0.exe

The installer hangs in the penultimate step. To reproduce:
1. Begin the installation process using the installer in Windows XP.
2. Select the option to start KA Lite at system start.
3. Continue installation.
4. Watch it hang.

I noticed a suspicious instance of wscript.exe in the tas

[2015-03-17 01:04] jamalex commented on #2950
At this point, this is just a duplicate of #3082.

[2015-03-17 01:04] #2950 closed

[2015-03-17 01:11] MCGallaspy commented on #3312
In XP, the command line options for `schtasks` (called in `add_systemstart_task.bat`) need to be different to suppress a prompt for user input.

[2015-03-17 07:14] anuragkanungo commented on #3197
There have been different issue now, as pointed by @sharprakeshverma
Looking into it
![screenshot from 2015-03-17 12 42 15](https://cloud.githubusercontent.com/assets/4207886/6682787/54802866-cca3-11e4-843e-0fc4ef6bb235.png)

[2015-03-17 07:15] shubhendras1992 opened #3315 "sidebar handle overlaps the text field when resize the window to its minimum width"
Branch - develop

1. There are possible ways to fix this. Either repositioning of sidebar handle to the top or bottom, so its     wont overlap the text field.

2.By changing its padding-left attribute.
![screen shot 2015-03-17 at 12 48 36 pm](https://cloud.githubusercontent.com/assets/9433264/6682798/80d0eedc-cca3-11e4-87ca-26c9756e90aa.png)

[2015-03-17 07:29] anuragkanungo commented on #3197
The value of settings.CENTRAL_SERVER is False, which is throwing error

[2015-03-17 07:33] anuragkanungo commented on #3197
In settings.py , we have
CENTRAL_SERVER = False  # Hopefully will be removed soon.

[2015-03-17 07:40] anuragkanungo commented on #3197
We need settings.CENTRAL_SERVER_HOST there.
This will work fine, if we don't have if DEBUG =True in local_settings.

But if DEBUG= True, then

I get error: [Errno url error] unknown url type: 'adhoc.learningequality.org'
We need our url to be like http://adhoc.learningrquality.org

[2015-03-17 10:49] sharprakeshverma opened #3318 "Device Registration error"
![github](https://cloud.githubusercontent.com/assets/10394619/6685565/212e99a2-ccc1-11e4-899f-1937a6c68448.png)
I am connected to Internet and everything is working fine but still getting this error.
branch: Develop

[2015-03-17 11:42] anuragkanungo commented on #3310
@aronasorman ,
This is related to extending this PR
#3181

[2015-03-17 11:43] anuragkanungo commented on #3318
I can confirm, facing on other branches as well.
Will look into it.

[2015-03-17 12:19] sopu opened #3320 "Strip empty description when we run contentload"
Branch: develop

The value of title attribute for "Test prep" in sidebar is a space rather than NULL.

What to be changed: Need to change the description for test-prep in topics.json to a NULL

Screenshot:
![screenshot from 2015-03-17 11 37 25](https://cloud.githubusercontent.com/assets/6399612/6687132/c1c27a8a-cccd-11e4-98f9-778747df2986.png)

[2015-03-17 13:41] mjptak commented on #3315
Awesome to see someone looking at how the exercises can become more small
screen friendly!  Moving the submit button to the bottom would in my
experience greatly increase the user experience for a large number of the
exercises...especially the "rote" ones.

On Tue, Mar 17, 2015 at 2:15 AM, shubhendras1992 <notifications@github.com>
wrote:

[2015-03-17 16:50] #3171 closed

[2015-03-17 16:55] 66eli77 commented on #3315
my two cents
![screen shot 2015-03-17 at 9 53 43 am](https://cloud.githubusercontent.com/assets/5577205/6692717/99173f18-cc8b-11e4-9a2b-76bc9f49caee.png)
![screen shot 2015-03-17 at 9 54 01 am](https://cloud.githubusercontent.com/assets/5577205/6692720/9c1d98ba-cc8b-11e4-9d3d-0f1b505c0514.png)

[2015-03-17 16:58] rtibbles commented on #3315
I agree with @mjptak that we should look at the responsiveness of the exercise template as well. @66eli77 or @jtamiace could we think about this for 0.14?

[2015-03-17 17:47] shubhendras1992 commented on #3315
Do I fix it ?

[2015-03-17 17:56] MCGallaspy commented on #3312
Is there a way to create a scheduled task in VBScript? That might be more robust than running a .bat script, which is having issues because in XP the UAC elevation prompt is suppressed during the install (but not in 7 & 8). @ruimalheiro ?

[2015-03-17 17:58] #3272 closed

[2015-03-17 19:29] MCGallaspy commented on #3312
Scheduled task is created fine in XP with no elevation necessary (and no prompt), but without elevation the task is not successfully created in 7 & 8. It might be possible to condition the arguments the .bat script are invoked with from the installer by inspecting the [version number](https://msdn.microsoft.com/en-us/library/windows/desktop/ms724832%28v=vs.85%29.aspx).

[2015-03-17 20:26] rtibbles opened #3325 "Opportunistically update statusModel with every API request"
At the moment our statusModel relies on a very small amount of data, and it would add little overhead to keep this updated by injecting this data into the response from every API call.

This will allow us to keep the statusModel properly tracking the server state (particularly of is_logged_in).

[2015-03-17 20:27] rtibbles commented on #3325
Could be accomplished in TastyPie by adding the two methods here to a Base class:
http://django-tastypie.readthedocs.org/en/latest/resources.html#alter-list-data-to-serialize

[2015-03-17 20:31] jamalex commented on #3325
Hmm, yeah, like you mentioned, might not be the best approach. Especially since we need to add it to every Resource, or add a mixin somewhere.

[2015-03-17 21:11] aronasorman commented on #3311
Strange, I consistently get english here (despite having more languages installed):

[code]

[2015-03-17 21:34] rtibbles commented on #3311
Not quite as weird as getting Russian and Xhosa, but still not ideal.

[2015-03-17 21:38] aronasorman commented on #3311
I stepped through a single call of `get_installed_language_packs` and it seems to be doing the right thing.

However it looks like `select_best_available_language` is getting its list of languages differently, i.e. calculated by getting the list of languages with khan-exercises: https://github.com/learningequality/ka-lite/blob/develop/kalite/topic_tools/__init__.py#L143-L146

[2015-03-17 21:39] aronasorman commented on #3311
So I'm not sure if that's the correct way of doing things anymore, as we could have languages translated in Perseus but not in khan-exercises (yet).

[2015-03-17 21:39] rtibbles commented on #3311
Ah yes. Problematico. We need to make that more flexible.

[2015-03-17 21:40] rtibbles commented on #3311
Can do a check conditionally on exercise.get("uses_assessment_items")

[2015-03-17 21:42] aronasorman commented on #3311
Gotcha. I'll open a PR soon.

[2015-03-17 22:02] aronasorman commented on #3311
Managed to replicate the changing language codes as well:
[code]

[2015-03-17 22:07] aronasorman commented on #3311
Strange, as I really don't have any of these languages installed at all.

[2015-03-17 22:10] rtibbles commented on #3311
Yeah, that was what I was getting.

[2015-03-17 22:10] aronasorman commented on #3311
It's coming from a call to https://github.com/learningequality/ka-lite/blob/develop/kalite/topic_tools/__init__.py#L255. That's the list of dubbed languages for a certain content.

[2015-03-17 22:11] aronasorman commented on #3311
[code]

[2015-03-17 22:13] aronasorman commented on #3311
I think this is the proper behaviour in this case.

[2015-03-17 22:27] MCGallaspy commented on #3312
We just need to check that the installer works on Windows 8. You can grab it [here](https://www.dropbox.com/s/aactkf0koy5w6il/KALiteSetup-0.13.0.exe?dl=0) --  Windows will probably warn you this executable is unsafe.

[2015-03-17 22:27] aronasorman opened #3327 "More logging calls"
We need a ton more logging if we wanna stand a chance debugging installations far away.

Proposal:
1. Create a set of rules of when to use the current logging levels (DEBUG, INFO, WARNING, ERROR).
2. Create a new logging level, VERBOSE. The idea here is to be able to know the code path taken by just looking at VERBOSE logs.

[2015-03-17 22:28] MCGallaspy commented on #3312
@EdDixon can you test this out on 8? Make sure the installer doesn't hang and that it creates a scheduled task named `KALite` (make sure that task doesn't already exist prior to installation).

[2015-03-17 23:55] rtibbles commented on #2035
As a first pass implementation, I am going to do this as an autocomplete similar to how our current search mechanism does it.

[2015-03-18 00:33] MCGallaspy opened #3330 "In Windows XP, `bin/kalite start` fails"
In `develop` branch, `bin/kalite start` command fails in XP if there's whitespace in the path name of e.g. the `--startup-lock-file` argument, which will almost certainly be the case. Simply escaping the arguments in `kalitectl.py` sadly fails to work. This is apparently only an issue in XP (can someone please verify? @EdDixon?). Perhaps it's an issue with the `kaserve` management command?

[2015-03-18 00:46] MCGallaspy commented on #3330
This is also an issue in Windows 8 if some automatically determined variables (such as `KALITE_HOME`, `PID_FILE`, `STARTUP_LOCK`) in `kalitectl.py` have whitespace in them

[2015-03-18 01:52] aronasorman commented on #3311
One of the bugs uncovered by this issue has been fixed in #3328. The original issue turns out to be expected behaviour. Closing.

[2015-03-18 01:52] #3311 closed

[2015-03-18 04:17] sharprakeshverma commented on #3318
The "No Internet Error" Changed to this today.
Branch:Develop
Attribute error "bool attribute has no object strip"
Steps: Log in.
Expected Behaviour : A nice decent Device registration page.

![attributeerror](https://cloud.githubusercontent.com/assets/10394619/6702539/311c301c-cd53-11e4-85f2-346e313b22eb.png)

[2015-03-18 15:11] yohanboniface commented on #3197
Same error here ([Errno url error] unknown url type: 'adhoc.learningequality.org') when trying to register another server (on develop, but I will switch to master).

Is KA-lite unittested somehow?

[2015-03-18 15:25] yohanboniface commented on #3197
Switched back to master, removed the database, rerun the `setup_unix.sh`, and now I'm back on the initial issue when trying to register:
![screenshot from 2015-03-18 16 23 45](https://cloud.githubusercontent.com/assets/146023/6712112/2c0987a4-cd8b-11e4-93f8-76d9e78cb8ba.png)

Is central server broken again, or is me missing a point? :s

[2015-03-18 17:09] MCGallaspy commented on #3312
@EdDixon gave me the all clear for Windows 8.

[2015-03-18 17:09] #3312 closed

[2015-03-18 17:10] yohanboniface commented on #3197
OK, that was caused by my "DEBUG = True" local_settings.py file. Thanks @aronasorman for help!

[2015-03-18 19:57] aronasorman commented on #2729
HOLD UP! No one close this issue yet.

[2015-03-18 21:45] MCGallaspy commented on #2729
@aronasorman what remains before closing this issue?

[2015-03-18 21:46] #3233 closed

[2015-03-18 21:46] #3229 closed

[2015-03-18 21:48] aronasorman commented on #2729
I just merged it to make it easier to test the dummy language packs. Once the tests are fixed for that PR we can merge that, and everyone can test i18n.

[2015-03-18 21:51] MCGallaspy commented on #3302
@anuragkanungo so can I close this issue in light of the above PR? The title suggests it's a "partial fix".

[2015-03-18 21:59] rtibbles commented on #3286
Fixed in #3289