[2015-03-18 21:59] #3286 closed

[2015-03-18 22:05] aronasorman opened #3335 "Git install migration process"
Milestone: 0.14

The end is nigh!

Once we have installers for the 3 most common platforms, we should create a migration process for Git installations.

Idea:
- The installer should ask the user if they have a git installation somewhere. If they specify one, we copy over the DB, uninstall KA Lite through the uninstall scripts found in the Git installation, then migrate the DB we just copied.

[2015-03-18 22:19] #3330 closed

[2015-03-18 22:57] MCGallaspy opened #3336 "Coachreports scatter reports and timeline reports "No learner accounts..." alert"
On `develop`.
Expected behavior: Scatter reports and timeline reports should show a reports
Actual behavior: I get the alert "No learner accounts in this group have been created."
Steps to reproduce (here's what I did exactly):
1. Create new coach and learner accounts with a fresh db.
2. Attempt or complete a few exercises with the student (so that presumably something will be shown on the reports

[2015-03-18 22:57] MCGallaspy commented on #3336
Actually, it seems that the date range simply needs to be set *beyond* the current day. (It's not inclusive.)

[2015-03-18 23:28] sopu opened #3337 "Accessibility : Empty h3 tag over video title"
branch - develop

An empty heading will present no information and may introduce confusion for keyboard users and screen reader users who navigate using heading information.
Screenshot:
![screenshot from 2015-03-19 04 53 28](https://cloud.githubusercontent.com/assets/6399612/6721561/64077512-cdf4-11e4-8c1f-f86608afba14.png)

Also found using WAVE tool as shown here:
![screenshot from 2015-03-19 04

[2015-03-19 00:02] jamalex commented on #3245
@Antrikshy When you said "weekend", did you mean last weekend? Could we just get your quick and dirty fix in for now, so we can test it?

[2015-03-19 00:27] jamalex opened #3340 "We don't need no stinkin' sha's"
In exercises.json, each assessment item listing contains a long sha value. We don't use this, so removing it could reduce memory usage.

[code]

[2015-03-19 00:28] jamalex commented on #3340
`live` can probably go too, since we should just filter out any that aren't live.

[2015-03-19 00:32] aronasorman commented on #3340
![image](https://cloud.githubusercontent.com/assets/191955/6722304/b30bc3c6-cd94-11e4-9203-471d6493b036.png)

If we do still read this in memory, then this certainly deserves looking at for optimizations. If we whitewash these fields, then this isn't too urgent for me.

[2015-03-19 01:06] aronasorman commented on #2729
With both dummy language packs and perseus exercises merged in, we can now properly test this issue.

I created a dummy language pack by running:
`bin/kalite manage create_dummy_language_pack`

I then switched to Esperanto (the name for the dummy language), and got this:
![screen shot 2015-03-18 at 6 04 20 pm](https://cloud.githubusercontent.com/assets/191955/6722576/79802944-cd99-11e4-9de6-16ed71

[2015-03-19 01:09] aronasorman commented on #2729
It seems like the strings aren't in the fetched po file in the first place.

[2015-03-19 01:12] aronasorman commented on #2729
Ah, seems like there's no `en` language in Khan Academy, so it might not be a good base language pack after all.

[2015-03-19 01:26] aronasorman commented on #2729
String is in `django.po`, but it's not getting substituted in the exercise:
![screen shot 2015-03-18 at 6 25 05 pm](https://cloud.githubusercontent.com/assets/191955/6722753/25f00f76-cd9c-11e4-8b74-78c4fd8d3c50.png)

[2015-03-19 01:27] aronasorman commented on #2729
Works in the terminal though:
![screen shot 2015-03-18 at 6 26 41 pm](https://cloud.githubusercontent.com/assets/191955/6722767/6123422a-cd9c-11e4-922c-8151a17584bc.png)

[2015-03-19 01:54] Antrikshy commented on #3245
Sorry I did mean last weekend. I'll send a PR in a couple of hours. I have two of those blockers fixed I think.

Antriksh Yadav
Sent from my iPhone

[2015-03-19 01:56] jamalex commented on #3320
This needs to be added to `contentload` (or probably `khan.py`), by running `strip` on descriptions when iterating through the tree, otherwise it will be overwritten when we rerun `contentload`. Re-opening to make sure we do that.

[2015-03-19 02:41] jamalex commented on #3082
Everything identified here should be fixed in #3342. With the exception of the towers-of-hanoi exclusion (which will require #3342 to be merged first), the latest assessment items can be tested by force-updating using:
[code]

[2015-03-19 10:42] cpauya opened #3344 "Make Python sources PEP-8 compatible."
Branch **develop**
Target **before 0.14.x**
Expected:  Compatibility with [PEP-8](https://www.python.org/dev/peps/pep-0008/).
Current:  We have a lot of PEP-8 violations on our Python codebase, so it would be good to finally address that.  Do not include those under the `python-packages` folder.
Possible Solution/s:  Address these issues:

1. Make the Python codes be PEP-8 compatible (except for t

[2015-03-19 10:50] sopu opened #3345 "Accessibility : Types not specified for topics in search drop-down menu"
Branch: Develop

The highlighted topic depicts a practice question set which is not obvious in first glance from the menu.
For screen readers such list items create a confusion as it cannot differentiate between the types of the listed items.

Screenshot:
![screenshot from 2015-03-19 16 11 49](https://cloud.githubusercontent.com/assets/6399612/6728799/b2297b2e-ce52-11e4-9f14-4246a3faadac.png)

Out

[2015-03-19 15:21] aronasorman commented on #3344
The best time to get this in is right before 0.14 dev starts, or after the feature dev is finished.

[2015-03-19 15:30] aronasorman commented on #3302
https://github.com/learningequality/ka-lite/commit/73efb72b44c4a8cf0ffe75f6e193fdb22c8e002d Fixes this for real.

[2015-03-19 15:30] #3302 closed

[2015-03-19 16:18] aronasorman commented on #2729
Turns out I just needed to refetch the assessment items. I'm now getting this:
![screen shot 2015-03-19 at 9 18 17 am](https://cloud.githubusercontent.com/assets/191955/6735039/eb39b90e-ce18-11e4-93f1-6f698b0e26bd.png)

Notice the accented instructions on the right side, but unaccented strings on the question area.

[2015-03-19 16:20] aronasorman commented on #2729
Hints are translated:
![screen shot 2015-03-19 at 9 19 39 am](https://cloud.githubusercontent.com/assets/191955/6735077/1c47b672-ce19-11e4-81f8-4ed4c5ec8b7e.png)

[2015-03-19 16:36] aronasorman commented on #2729
Ok, I think I found the issue. Django's `gettext` can't seem to find the translated string, even though they're in the po file and they look exactly the same.

See this entry in the po file, with accents and all:
![screen shot 2015-03-19 at 9 34 31 am](https://cloud.githubusercontent.com/assets/191955/6735426/4c939db2-ce1b-11e4-8e24-291f3635effd.png)

But when I go to pdb, `ugettext` can't find it

[2015-03-19 17:07] jamalex commented on #2729
Looks like it could be an issue of how the pieces are being chunked up? Are we using that code that KA sent us?

[2015-03-19 17:09] aronasorman commented on #2729
@jamalex Yeah, all the exercise-related strings are from Khan Academy. They might be using a different system for localization?

[2015-03-19 17:11] jamalex commented on #2729
Right, the strings are from them. But they shared code with us that parsed `item_data` into the translatable chunks or something, right? The po files don't just contain the entire contents of each `item_data` field, do they?

[2015-03-19 17:14] jamalex commented on #2729
Looks like we just do: `answerarea_content = _(answerarea_content)`

Is that what KA does?

[2015-03-19 17:15] rtibbles commented on #2729
How would that work when we have changed the URLs, btw?

[2015-03-19 17:17] jamalex commented on #2729
Magic! https://github.com/learningequality/ka-lite/pull/3342/files#diff-7f19457f4d6f7fd73961c0d5d92a1dd5R132

[2015-03-19 17:19] aronasorman commented on #2729
I think the issue here is how python's `gettext` finds strings, as polib can find the exact same strings (and thus fetch the translations) while `_` can't:

![screen shot 2015-03-19 at 10 18 42 am](https://cloud.githubusercontent.com/assets/191955/6736331/5b1de74c-ce21-11e4-82e8-ed42a4b0b5ad.png)

[2015-03-19 17:21] aronasorman commented on #2729
@jamalex we didn't get too much use out of KA's files, as we needed (i think) 5 more modules. I believe it's too tied to their code.

[2015-03-19 17:34] #2695 closed

[2015-03-19 18:10] aronasorman commented on #2729
Took a bit of digging, but I finally found a dict that maps a string to its translated counterpart, as read by python's `gettext`:
[code]
`catalog` is what you're looking for.

[2015-03-19 18:18] natnael2012 opened #3346 "Accessibility Issue - custom button opening the sidebar menu cannot be activated with keyboard"
Branch – Develop
Expected behavior – All buttons should be focus able and has to handle keyboard events in order to be usable by both keyboard only users and users using screen reader.
Current behavior – Custom button on the left opening the sidebar menu cannot be activated with keyboard.

[2015-03-19 18:27] aronasorman commented on #2729
So, it turns out to be an encoding issue.

Django reads in PO files as `ascii`:
[code]

However, we read in assessment items as unicode:
[code]

The solution is to encode the untranslated strings into ascii before passing them to the `gettext` function:
[code]

[2015-03-19 18:27] aronasorman commented on #2729
And thus we get:
![screen shot 2015-03-19 at 11 26 54 am](https://cloud.githubusercontent.com/assets/191955/6737762/ed4d644a-ce2a-11e4-83c7-26aeca8d5677.png)

[2015-03-19 18:47] MCGallaspy opened #3347 "unpack_assessment_zip managment command fails on windows"
Using the installer built from `ka-lite-installer-windows` on the branch `master`, I tried both starting the server for the first time and running the command `bin/windows/kalite.bat start`. The first fails quietly, while the latter has the following error:
[code]

@aronasorman seems like "r+w" [isn't truly a valid mode](https://docs.python.org/2/library/functions.html#open), but works ok enough i

[2015-03-19 18:48] aronasorman commented on #3347
Ah, indeed you are correct. I can open a PR later this afternoon, if it's not urgent.

[2015-03-19 18:56] rtibbles commented on #2729
Wooooot!

[2015-03-19 19:16] shubhendras1992 opened #3349 "Bug: auto-suggestion search bar not working properly when using keyboard navigation keys"
branch - develop

Current behaviour - The auto-suggestion search bar not working properly, when using keyboard   navigation keys. I think it displays the name of exercise which is saved in the local directory.

Expected behaviour - It should display the name of exercise which is given on the web. And should navigate to the correct result.

As you can see in the screenshot,  name of the exercise is

[2015-03-19 19:16] radinamatic opened #3350 "Accessibility: Document language missing, screen reader uses incorrect language"
Branch: develop

Expected Behavior: When ka-lite language is set to a specific language (in my case Spanish/Castillano), screen reader programs should start reading it in that language.

__WCAG Guidelines: 3.1.1 Language of Page (**Level A**)__

Current Behavior: Tested with JAWS & NVDA, both start in English, because of the missing document language attribute (<html lang="es">).

Steps to reprodu

[2015-03-19 19:38] #3347 closed

[2015-03-19 19:39] aronasorman commented on #2729
So I got this specific exercise translated:

![screen shot 2015-03-19 at 12 38 30 pm](https://cloud.githubusercontent.com/assets/191955/6739280/eb90f4d2-ce34-11e4-944e-58c142a3db94.png)

However, it looks like I'm gonna have to go through each type of exercise, find their structure, and translate them.

[2015-03-19 21:13] jamalex commented on #3340
Whitewash as in "remove"? Are you saying if we solve it, then it isn't urgent? :confused:

[2015-03-19 21:41] Roomka opened #3351 "Accessibility Issue - images without alt attribute."
<plaintext>
<img src="/static/img/ka-lite/python-powered.png" class="img-responsive community-icons">
<img src="/static/img/ka-lite/studentuser_laptop.png" class="img-responsive community-icons">
<img src="/static/img/ka-lite/cloud_server.gif" class="img-responsive community-icons">
<xmp>
<img src="/static/img/ka-lite/translate.png" class="img-responsive community-icons">
<img src="/static/img/ka-

[2015-03-19 21:50] rtibbles commented on #3351
For future reference: https://github.com/learningequality/ka-lite/wiki/Report-Bugs-by-Creating-Issues#issue-format

However, this repo is for the KA Lite app, not the Learning Equality homepage. See here: https://github.com/fle-internal/fle-home

[2015-03-19 21:50] #3351 closed

[2015-03-19 21:55] Roomka commented on #3351
Thank you rtibbles, I didn't pay attention, my bad!

[2015-03-19 22:44] #3256 closed

[2015-03-19 23:15] aronasorman commented on #2729
Just created a function that will automatically translate all types of questions \o/.

While waiting on #3342, I'll work on getting the other text translated. These are most likely related to backbone.js + `djangojs` issues.

[2015-03-19 23:24] Roomka opened #3352 "Accessibility Issue - fixed font size in css styles."
Branch:master
Expected Behavior: When changing font size from browser the page/site should adjust the font correctly.
WCAG Guidelines: 1.4.3 Resize text (Level AA)
Current Behavior: The text remains the same size after changing font preferences in browser.
Steps to reproduce in chrome (similar to other browsers):
1.Go to settings -> advanced settings
2.Change font size to large/small
3.Check a pag

[2015-03-19 23:28] aronasorman commented on #2729
Note: looks like a a majority of the health and medicine topics don't even have po entries in them:
![screen shot 2015-03-19 at 4 26 45 pm](https://cloud.githubusercontent.com/assets/191955/6743267/e028717c-ce54-11e4-8c49-5bf0936782a5.png)

[2015-03-19 23:29] jamalex commented on #2729
Well that's silly! We should ask KA

[2015-03-20 00:24] #3258 closed

[2015-03-20 00:27] Roomka opened #3355 "Accessibility Issue - SVG Accessibility"
Branch: Master
Expected Behavior: Provide a <title> element and eventually a <desc> element with appropriate description to differentiate the different  svg elements as well as provide an alternative text description.
http://www.w3.org/TR/SVG/access.html H2.SVG
http://www.w3.org/TR/2000/NOTE-SVG-access-20000807/
Current Behavior: Provided a <desc> element used to describe the author of the svg.

[2015-03-20 00:47] jamalex opened #3356 "Don't trigger "user notifications" (popup toast messages) for Travis HipChat messages"
Being flooded with these is a bit annoying, and distracts from important popup notifications:
![image](https://cloud.githubusercontent.com/assets/618416/6744009/751e72c2-ce5f-11e4-9392-fc7497b59efb.png)

It looks like we can tweak the notifications in a few ways (see http://docs.travis-ci.com/user/notifications/#HipChat-notification. It would be good to:

- Consolidate into a single messages. Don'

[2015-03-20 00:50] Roomka opened #3357 "Layout resize elements overlap"
Branch: Master
Expected behavior: during browser resize menu elements overlaps.
Correct Behavior: elements stay in the same order without overlaps.

![resize](https://cloud.githubusercontent.com/assets/4850405/6744053/6bd76856-cea3-11e4-85ac-f0599383cec4.png)

[2015-03-20 02:35] radinamatic opened #3358 "Accessibility: Missing label for language selector"
Branch: develop

Expected Behavior: Language selector combobox should have a descriptive label.
(WCAG 2.0 Level AA; Required)

Current Behavior: Form "select" control is without the appropriate label attribute.

![lang-select-aria-label](https://cloud.githubusercontent.com/assets/1457929/6744946/157a3828-ceb0-11e4-941e-5db85af2f681.png)

[2015-03-20 02:44] rtibbles opened #3359 "Language specific installers"
Not sure which installers Repo this should go on, but after discussion with @aronasorman and @cpauya it occurred that having installers available with a particular language pack prebundled would be advantageous for our users.

[2015-03-20 02:50] #3245 closed

[2015-03-20 02:50] #3223 closed

[2015-03-20 02:53] rtibbles commented on #3082
Fixed in #3342

[2015-03-20 02:53] #3082 closed

[2015-03-20 03:03] jamalex opened #3360 "Facility and group lookups in coach report views are badly scoped and inefficient"
Expected: Time spent loading a coach report page should be proportional to number of records being matched/returned.

Observed: The tabular report (as an example; probably true of others) calls `get_accessible_objects_from_logged_in_user`, which loads all groups and facilities for which the currently logged in user has permissions, even if the user is only requesting data for a single facility. On

[2015-03-20 03:09] cpauya opened #3361 "Outdated language pack generates an exception during start."
**Branch** **develop**
**Target** **for 0.13.x**

**Expected Behavior**  When `bin/kalite start` is run, it should detect if the current language pack (and .json files) are valid and inform the user to update the language packs.

**Current Behavior**  When `bin/kalite start` is run, it generates this exception on the command line:

[code]

**To Reproduce**

Use an outdated/invalid `/kalite/i18n/da

[2015-03-20 03:21] cpauya commented on #3361
Here's the traceback of the exception using `python manage.py runserver --traceback`

[code]

[2015-03-20 03:33] mjptak opened #3362 "all quizes lead to a solution"
http://127.0.0.1:8008/learn/khan/computing/computer-science/algorithms/graph-representation/quiz-representing-graphs/

Great exercise but with no hint or solution.  From memory the default for any exercise should be that the last hint lays out the solution so you can move on and get that warm fuzzy of typing in the right answer.      Something to think about for version 0.14.......Y'all are rockin

[2015-03-20 03:38] jamalex commented on #3362
This may need to be something for KA's issue tracker -- not much we can do about it on our side. We're just in the scrapin' business! ;)

[2015-03-20 03:41] jamalex opened #3364 "Inaccurate message: "This content was not found! You can download it by going to the Update page.""
When viewing an undownloaded video, you see:

![image](https://cloud.githubusercontent.com/assets/618416/6745698/33166948-ce78-11e4-8e94-bcc6a5d6c2f3.png)

However, we have no such page anymore. This should probably say "This content was not found! You can download it by going to the Manage > Videos page."

[2015-03-20 06:00] sopu opened #3365 "Accessbility Issue: Navigation sidebar put above main content in HTML flow"
Branch: develop
Current:
One of the problems with using a screen reader to read a web page is that it sees the web page as a stream of words, appearing one at a time. As the HTML for ka-lite begins with topbar and then sidebar with all the navigation buttons, a typical screen reader will proceed to read the sidebar first, through the whole list, before it reaches the main content.
Scrrenshot:
![sc

[2015-03-20 06:01] sopu commented on #3365
Please suggest the kind of improvement would be preferred.
I would like to work on it.

[2015-03-20 15:10] rtibbles commented on #3360
@christinepham you may want to take note of this.

[2015-03-20 16:11] #3361 closed

[2015-03-20 16:18] anuragkanungo commented on #3235
@aronasorman
Also, if we disable CONFIG_PACKAGE="Nalanda", this conditions should not show up.
When I try with nalanda DB, I get this error:

×Unexpected error: no such table: main_contentlog

[2015-03-20 16:32] aronasorman commented on #3235
@anuragkanungo doesn't that mean that you just need to migrate your DB?

[2015-03-20 16:36] anuragkanungo commented on #3235
Yup migration helps, and the error goes but there are lot of errors with the Nalanda Db, for example :
![screenshot from 2015-03-20 22 05 39](https://cloud.githubusercontent.com/assets/4207886/6756053/5ecc8dd0-cf4d-11e4-9e3d-0d7508713257.png)

[2015-03-20 19:06] rtibbles commented on #45
Fixed by using re-encoded videos.

[2015-03-20 19:06] #45 closed

[2015-03-20 19:06] rtibbles commented on #134
This is off our roadmap now. Won't fix.

[2015-03-20 19:07] rtibbles commented on #169
This should be fixed now that the Raspberry Pi browser is using GPU acceleration.

[2015-03-20 19:07] #169 closed

[2015-03-20 19:09] rtibbles commented on #245
I believe we have deprecated the use of mplayer.

[2015-03-20 19:09] #245 closed

[2015-03-20 19:11] rtibbles commented on #356
No longer extant on develop.

[2015-03-20 19:11] #356 closed

[2015-03-20 19:12] rtibbles commented on #365
No longer extant on develop.

[2015-03-20 19:12] #365 closed

[2015-03-20 19:13] rtibbles commented on #384
No longer extant on develop.

[2015-03-20 19:13] #384 closed

[2015-03-20 19:13] rtibbles commented on #395
Not updated.

[2015-03-20 19:13] #395 closed

[2015-03-20 19:14] rtibbles commented on #404
Feature, not a bug.

[2015-03-20 19:14] #404 closed

[2015-03-20 19:14] rtibbles commented on #424
This happens now.

[2015-03-20 19:14] #424 closed

[2015-03-20 19:16] rtibbles commented on #426
Only extant for Group selection now, and that is needed to provide a blank option.

[2015-03-20 19:16] #426 closed

[2015-03-20 19:16] rtibbles commented on #441
Fixed.

[2015-03-20 19:16] #441 closed

[2015-03-20 19:17] rtibbles commented on #444
Student progress reports implemented.

[2015-03-20 19:17] #444 closed

[2015-03-20 19:19] rtibbles commented on #446
Superseded by #1871.

[2015-03-20 19:19] #446 closed

[2015-03-20 19:20] rtibbles opened #3368 "Feature Proposal - Implement Content Recommendation Engine and Interface"
Feature Name: Content Recommendation Engine and Interface

Team members:
@rtibbles
@almgong
@sialan
@howdyitshelena
@66eli77

PR reviewer: @jtamiace for Front End code, @jamalex or @aronasorman for back end code.

Description:
Implement a back end with API endpoint and front end interface for content recommendation. This content recommendation would appear immediately to the student upon logging i

[2015-03-20 19:20] rtibbles commented on #447
Superseded by #3368.

[2015-03-20 19:20] #447 closed

[2015-03-20 19:21] #1871 closed

[2015-03-20 19:22] rtibbles commented on #449
Superseded by #1739

[2015-03-20 19:22] #449 closed

[2015-03-20 19:22] rtibbles commented on #453
Fixed.

[2015-03-20 19:22] #453 closed

[2015-03-20 19:24] rtibbles commented on #454
Fixed.

[2015-03-20 19:24] #454 closed

[2015-03-20 19:26] rtibbles commented on #491
Superseded by #2035

[2015-03-20 19:26] #491 closed

[2015-03-20 19:27] rtibbles commented on #499
No longer relevant.

[2015-03-20 19:27] #499 closed

[2015-03-20 19:27] rtibbles commented on #501
Fixed due to way facilities are selected.

[2015-03-20 19:27] #501 closed

[2015-03-20 19:27] rtibbles commented on #504
Superseded.

[2015-03-20 19:27] #504 closed

[2015-03-20 19:28] rtibbles commented on #509
Implemented.

[2015-03-20 19:28] #509 closed

[2015-03-20 19:28] rtibbles commented on #522
Superseded by #1871

[2015-03-20 19:28] #522 closed

[2015-03-20 19:29] rtibbles commented on #560
Superseded by #1871

[2015-03-20 19:29] #560 closed

[2015-03-20 19:30] #611 closed

[2015-03-20 19:30] rtibbles commented on #670
Won't fix.

[2015-03-20 19:30] #670 closed

[2015-03-20 19:31] rtibbles commented on #679
No longer relevant.

[2015-03-20 19:31] #679 closed

[2015-03-20 19:32] #723 closed

[2015-03-20 19:33] rtibbles commented on #732
Superseded by cross platform installers approach.

[2015-03-20 19:33] #732 closed

[2015-03-20 19:33] rtibbles commented on #735
No longer relevant.

[2015-03-20 19:33] #735 closed

[2015-03-20 19:33] rtibbles commented on #754
Superseded by #1871

[2015-03-20 19:33] #754 closed

[2015-03-20 19:35] rtibbles commented on #772
Superseded by #2035

[2015-03-20 19:35] #772 closed

[2015-03-20 19:38] rtibbles commented on #930
No longer relevant.

[2015-03-20 19:38] #930 closed

[2015-03-20 19:40] #1130 closed

[2015-03-20 19:41] rtibbles commented on #1150
Superseded by #3368

[2015-03-20 19:41] #1150 closed

[2015-03-20 19:42] rtibbles commented on #1226
Superseded by #1871

[2015-03-20 19:42] #1226 closed

[2015-03-20 19:43] #1314 closed

[2015-03-20 19:44] rtibbles commented on #1506
No longer relevant.

[2015-03-20 19:44] #1506 closed

[2015-03-20 19:44] rtibbles commented on #1508
No longer relevant.

[2015-03-20 19:44] #1508 closed

[2015-03-20 19:45] rtibbles commented on #1530
Won't fix.

[2015-03-20 19:45] #1530 closed

[2015-03-20 19:45] rtibbles commented on #1548
Fixed with new attempt indication system.

[2015-03-20 19:45] #1548 closed

[2015-03-20 19:45] rtibbles commented on #1553
No longer relevant.

[2015-03-20 19:45] #1553 closed

[2015-03-20 19:45] rtibbles commented on #1554
No longer on this repo.

[2015-03-20 19:45] #1554 closed

[2015-03-20 19:46] rtibbles commented on #1633
Feature not currently extant.

[2015-03-20 19:46] #1633 closed

[2015-03-20 19:47] rtibbles commented on #1720
Interface no longer exists.

[2015-03-20 19:47] #1720 closed

[2015-03-20 19:48] rtibbles commented on #1752
No longer extant.

[2015-03-20 19:48] #1752 closed

[2015-03-20 19:49] rtibbles commented on #1753
Interface no longer exists.

[2015-03-20 19:49] #1753 closed

[2015-03-20 19:50] rtibbles commented on #1814
Won't fix.

[2015-03-20 19:50] #1814 closed

[2015-03-20 19:51] rtibbles commented on #1863
Won't fix.

[2015-03-20 19:51] #1863 closed

[2015-03-20 19:52] rtibbles commented on #1865
Superseded by #3368

[2015-03-20 19:52] #1865 closed

[2015-03-20 19:52] rtibbles commented on #1880
Interface not extant.

[2015-03-20 19:52] #1880 closed

[2015-03-20 20:57] rtibbles commented on #1902
Now has a dropdown.

[2015-03-20 20:57] #1902 closed

[2015-03-20 21:40] rtibbles commented on #2050
Not currently extant.

[2015-03-20 21:40] #2050 closed

[2015-03-20 21:41] rtibbles commented on #2044
Implemented.

[2015-03-20 21:41] #2044 closed

[2015-03-20 21:41] #2087 closed

[2015-03-20 21:45] rtibbles commented on #2088
No longer extant.

[2015-03-20 21:45] #2088 closed

[2015-03-20 21:45] rtibbles commented on #2090
Won't fix. We should migrate to requirements.txt.

[2015-03-20 21:45] #2090 closed

[2015-03-20 21:46] rtibbles commented on #2143
No longer extant.

[2015-03-20 21:46] #2143 closed

[2015-03-20 21:46] rtibbles commented on #2158
Fixed.

[2015-03-20 21:46] #2158 closed

[2015-03-20 21:47] rtibbles commented on #2174
No longer extant on develop.

[2015-03-20 21:47] #2174 closed

[2015-03-20 21:48] rtibbles commented on #2186
Superseded by #3368

[2015-03-20 21:48] #2186 closed

[2015-03-20 21:51] rtibbles commented on #2215
@anuragkanungo fixed this in #3181

[2015-03-20 21:51] #2215 closed

[2015-03-20 21:52] rtibbles commented on #2237
Done.

[2015-03-20 21:52] #2237 closed

[2015-03-20 21:53] rtibbles commented on #2265
File no longer exists.

[2015-03-20 21:53] #2265 closed

[2015-03-20 21:53] rtibbles commented on #2288
Fixed.

[2015-03-20 21:53] #2288 closed

[2015-03-20 21:56] rtibbles commented on #2393
Superseded by #3204

[2015-03-20 21:56] #2393 closed

[2015-03-20 21:58] rtibbles commented on #2407
Won't fix.

[2015-03-20 21:58] #2407 closed

[2015-03-20 21:58] rtibbles commented on #2422
Won't fix.

[2015-03-20 21:58] #2422 closed

[2015-03-20 21:59] rtibbles commented on #2478
Won't fix.

[2015-03-20 21:59] #2478 closed

[2015-03-20 22:00] rtibbles commented on #2595
Won't fix.

[2015-03-20 22:00] #2595 closed

[2015-03-20 22:01] rtibbles commented on #2800
Fixed.

[2015-03-20 22:01] #2800 closed

[2015-03-20 22:03] rtibbles commented on #2805
@jamalex ostends that this is resolved. I dunkerque with him.

[2015-03-20 22:03] #2805 closed

[2015-03-20 22:03] rtibbles commented on #2809
Won't fix.

[2015-03-20 22:03] #2809 closed

[2015-03-20 22:04] rtibbles commented on #2812
Won't fix.

[2015-03-20 22:04] #2812 closed

[2015-03-20 22:05] rtibbles commented on #2855
This seems to be running smoothly according to @EdDixon

[2015-03-20 22:05] #2855 closed

[2015-03-20 22:05] rtibbles commented on #2825
No longer needed.

[2015-03-20 22:05] #2825 closed

[2015-03-20 22:06] rtibbles commented on #2890
Superseded by #3042

[2015-03-20 22:06] #2890 closed

[2015-03-20 22:07] rtibbles commented on #2959
The modal is dead. We should kill it in phase 3 if it is not dead already.

[2015-03-20 22:07] #2959 closed

[2015-03-20 22:08] rtibbles commented on #2966
Won't fix.

[2015-03-20 22:08] #2966 closed

[2015-03-20 22:09] rtibbles commented on #3100
Won't fix.

[2015-03-20 22:09] #3100 closed

[2015-03-20 22:11] jamalex opened #3370 "Cannot export StoreTransactionLogs anymore"
Branch: central-develop

Expected: We have a CSV export feature, e.g. at:
http://staging.learningequality.org/export/?zone_id=0e02138bb77d571f8de954bdc3d398ee
There is an option for exporting StoreTransactionLogs. It should work.

Observed: It does not work; it sends us to:
http://staging.learningequality.org/export/undefined?group_id=&facility_id=&zone_id=0e02138bb77d571f8de954bdc3d398ee&zone_ids

[2015-03-20 22:13] anuragkanungo commented on #3370
@jamalex
Can you point to the PR where we removed those endpoints ?

[2015-03-20 22:40] #3275 closed

[2015-03-20 23:50] jamalex commented on #3370
Seems we didn't. We just removed part of the option from the data_export JS.

Fixed in #3372.

[2015-03-21 08:04] natnael2012 opened #3378 "Practicing Coin flip sequences Overlaps footer section"
Branch develop

Current behavior - Practice area overlaps footer section and messes up layout due to hidden div containing svg element with fixed height.

![2](https://cloud.githubusercontent.com/assets/8178368/6764304/135c1fb2-cf68-11e4-8e02-231461e1fd04.png)

The DOM when inspected by developer tool
![3](https://cloud.githubusercontent.com/assets/8178368/6764267/e8df22cc-cf65-11e4-97a6-8cc0600df

[2015-03-21 10:26] anuragkanungo commented on #3370
@jamalex
Can be closed ?

[2015-03-21 17:10] jamalex commented on #134
This one I think would be good to leave open as a Nice to Have, since I can imagine quite a few use cases. It will only be feasible to implement it once we've got better DB-specific URL namespacing (0.15?), so it's a ways off.

And actually, once we've got things to a more namespaced... space... this approach could actually make things *easier*. It means we don't have to have as much divergence be

[2015-03-21 17:23] jamalex commented on #3236
Reported to KA.

[2015-03-21 18:25] jamalex commented on #3236
Aaaaaand fixed on KA's side:
https://www.khanacademy.org/math/pre-algebra/applying-math-reasoning-topic/greater-than-less-than/v/greater-than-and-less-than-symbols

[2015-03-22 10:49] natnael2012 opened #3381 "Improper display of Sidebar menu on pages with larger height"
Branch - develop
Current behavior - The sidebar menu is improperly displayed when scrolled down at pages with larger height.

![1](https://cloud.githubusercontent.com/assets/8178368/6768994/13a3ab2e-d045-11e4-82f9-c775e57c9129.png)

When scrolled down
![2](https://cloud.githubusercontent.com/assets/8178368/6768996/257a0faa-d045-11e4-847e-cb4a5457f97f.png)

The sidebar is in Absolute position. And

[2015-03-22 11:38] natnael2012 opened #3382 "Hidden button on sidebar can be accessed with keyboard"
Branch - develop
Current behaviour - The hidden button on the sidebar menu can be accessed with keyboard. Keyboard only users can access it and it can create confusion for such users.

![issue](https://cloud.githubusercontent.com/assets/8178368/6769143/709dd76c-d04c-11e4-9cd0-74d9dbaf921f.png)

[2015-03-22 18:14] mjptak commented on #134
Sounds like a great place for people to share/build community with things
like exercises (Perseus or otherwise)...think about it....Portuguese
exercises translated into English...not only the other way around.  Lots of
possibilities but having witnessed things like the Google/Trimble 3d
warehouse grow and flourish in the ecosystem of an even sort of open source
community I am hopeful.

On Sat, Mar

[2015-03-22 21:08] sharprakeshverma opened #3383 "Error: There was an error during the last sync"
Branch: Develop
Expected: Successful Sync
Actual behaviour: Getting Error "Exception happened during processing of request from ('127.0.0.1', 58384)"
Steps: "Sync Now"
![gh](https://cloud.githubusercontent.com/assets/10394619/6771484/3f909d12-d105-11e4-834d-5e8527817e86.png)

Complete Error List at : http://pastebin.com/RQDWvN2s

![gh1](https://cloud.githubusercontent.com/assets/10394619/6771490/5

[2015-03-22 21:34] sharprakeshverma opened #3384 "404 Page not found error on reports page"
Branch: Develop
When Click on an exercise one learner has completed(Count to 100) on Reports Tab, I am getting a 404 Page not found error.
What could be the possible reason?

At "Teach" Page:
![gh12](https://cloud.githubusercontent.com/assets/10394619/6771603/c4166dca-d108-11e4-929b-df558c4f3a4f.png)
After Clicking on "Count to 100"

![gh11](https://cloud.githubusercontent.com/assets/10394619/6771

[2015-03-23 02:24] cpauya opened #3385 "None string on the answer area."
**Branch** develop
**Target** for 0.13.x
**Current Behavior** A "None" string is displayed on the answer area.
**Expected Behavior** The answer area must clear.
**To reproduce** Navigate to http://127.0.0.1:8008/learn/khan/math/early-math/cc-early-math-counting-topic/cc-early-math-counting/count-to-100/ and see the "None" string on the answer area.

see screenshot:
![screenshot 2015-03-23 10 18 18

[2015-03-23 03:36] cpauya opened #3386 "Points and icons are changed during exercises."
**Branch**: develop
**Target**: for 0.13.x
**Browser**: Firefox v36.0.1
**Current Behavior**:

1. Even if answered wrong, the points are incremented.
1. Icons are changed to correct one for previous incorrect attempts.

**Expected Behaviors**:

1. If answer is wrong, points must not be added and the "wrong" icon is shown.  The same thing for correct answers, specially for previous attempts.
1. Ico

[2015-03-23 10:48] benjaoming opened #3387 "Do not import django.conf.settings in kalite.__init__.py"
First 3 lines of code in `kalite.__init__.py`:

    import os

    from django.conf import settings

    from version import *

Importing the heap of `django.conf.settings` is not the greatest of ideas in the main application's `__init__.py` -- also, it's just used for the `is_installed()` function which should live somewhere else, maybe a new `kalite.shared.utils` module?

Furthermore, I don't li

[2015-03-23 12:24] benjaoming opened #3388 "Remove settings.CONFIG_PACKAGE"
Ultimately this variable seems to attract platform specific-behaviour and has not been properly documented.. and possibly moreover it's just used for Raspberry Pi and Nalanda stuff.

The `package_selected()` function in kalite.settings is a utility function that looks at some weird CONFIG_PACKAGE var, which I don't understand half of, except for the following:

1. It looks in local_settings for CO

[2015-03-23 12:24] benjaoming commented on #3272
Hey @66eli77 or @aronasorman there are some issues with this PR:

1. It's going the wrong way: We're cluttering a new interface because of legacy code
1. It adds an *undocumented* option to something that we worked hard on making documented and which we discussed and carefully selected the functionality of.
1. The undocumented option calls some more undocumented/uncommented functions
1. PEP8
1. Wh

[2015-03-23 15:26] rtibbles commented on #3388
What are your feelings about having single settings variables that can turn on multiple settings? (Which is basically what the CONFIG_PACKAGE was doing).

[2015-03-23 15:33] benjaoming commented on #3388
That all this will be solved by managing settings properly. So you do like this (well, quite limited example):

    settings/
      __init__.py
      raspberrypi.py

Running with:

    kalite manage runserver --settings=kalite.settings.raspberrypi

or

    DJANGO_SETTINGS_MODULE=kalite.settings.raspberrypi kalite manage runserver

[2015-03-23 15:38] rtibbles commented on #3388
Sounds good to me.

[2015-03-23 15:38] rtibbles commented on #3388
Woops, wrong button.

[2015-03-23 18:28] rtibbles commented on #3386
Hrm - I can't replicate this in either Chrome or Firefox. @cpauya can you check the Javascript console to see if anything gets logged when this is happening?

[2015-03-23 18:37] rtibbles opened #3390 "Trying to load jQuery qtip source map and failing"
Expected Behaviour: We should either be loading source maps (which we don't want in production) or we should not be.

Current Behaviour: Trying to load a source map that does not exist.

![image](https://cloud.githubusercontent.com/assets/1680573/6787572/fa3073d6-d150-11e4-899b-a51b63c8dfeb.png)

[2015-03-23 18:39] rtibbles opened #3391 "Title doesn't change during sidebar navigation"
Branch: 0.13.x

Expected Behaviour: Page title should reflect current URL (i.e. topic or content item), so that when using the back and forward buttons, the information shown in the history is meaningful.

Current behaviour: Title remians the same throughout.

![image](https://cloud.githubusercontent.com/assets/1680573/6787637/54613d0e-d151-11e4-9f1c-6152d2e7f4f2.png)

[2015-03-23 18:41] rtibbles commented on #3386
@cpauya @aronasorman notes that you are logged in as either a teacher or an admin - this may explain this slightly odd behaviour.

[2015-03-23 18:42] rtibbles opened #3392 "When zero points, ugly empty space in user drop down is displayed"
Branch: 0.13.x

Expected Behaviour: We should either say 'Points: 0' or elide the ```<li>``` altogether.

Current Behaviour: ```<li>``` remains and nothing is injected.

![image](https://cloud.githubusercontent.com/assets/1680573/6787690/bd475baa-d151-11e4-9089-6257e96371b5.png)

[2015-03-23 18:45] rtibbles commented on #3386
Can't replicate this on either student or teacher accounts, so I am assuming that this is something that only happens on admin accounts.

Note: Admin accounts are different because we don't save any user progress for them, as they are not FacilityUsers.

[2015-03-23 18:47] rtibbles commented on #3295
This appears to have been done while logged in as an admin. Admin progress data is not saved to the server, and hence the indicators are not reliable. Please confirm that this happens on a student account (I have been unable to replicate it on student accounts).

[2015-03-23 18:53] aronasorman commented on #3295
Closing.

[2015-03-23 18:53] #3295 closed

[2015-03-23 21:12] rtibbles commented on #3390
This is only an issue on Chrome if you have 'enable source maps' on in the dev tools. Actually a problem with jQuery. Won't fix.

[2015-03-23 21:12] #3390 closed

[2015-03-23 21:17] rtibbles commented on #3384
Good catch - the URL in the table headers seems to be incorrect. Fixing.

[2015-03-23 21:22] #3386 closed

[2015-03-23 22:05] aronasorman commented on #2069
Closing as it's too old. Will revisit once we refactor the relevant sections of code.

[2015-03-23 22:05] #2069 closed

[2015-03-23 22:06] aronasorman commented on #2028
No bandwidth for nice to have; closing.

[2015-03-23 22:06] #2028 closed

[2015-03-23 22:06] #2005 closed

[2015-03-23 22:07] aronasorman commented on #1972
Fixed in latest develop.

[2015-03-23 22:07] #1972 closed

[2015-03-23 22:07] aronasorman commented on #1971
Fixed in latest develop.

[2015-03-23 22:07] #1971 closed

[2015-03-23 22:08] aronasorman commented on #1943
Fixed in latest develop.

[2015-03-23 22:08] #1943 closed

[2015-03-23 22:08] aronasorman commented on #1900
No longer relevant in develop due to refactoring.

[2015-03-23 22:08] #1900 closed

[2015-03-23 22:10] aronasorman commented on #1881
Fixed in latest khan exercises update.

[2015-03-23 22:10] #1881 closed

[2015-03-23 22:11] aronasorman commented on #369
We no longer mention "facility" in this specific message in the latest develop.

[2015-03-23 22:11] #369 closed

[2015-03-23 22:12] aronasorman commented on #366
Not a priority; closing.

[2015-03-23 22:12] #366 closed

[2015-03-23 22:12] sharprakeshverma commented on #3384
Can a beginner help in solving this?? I am interested in solving beginner level bugs but unable to get any :(

[2015-03-23 22:13] aronasorman commented on #1784
We now dump it in the latest develop.

[2015-03-23 22:13] #1784 closed

[2015-03-23 22:14] aronasorman commented on #352
Not a priority; let's reopen if this is really a UX issue with the latest develop.

[2015-03-23 22:14] #352 closed

[2015-03-23 22:15] aronasorman commented on #271
Closing, let's just take this into account when designing the new securesync.

[2015-03-23 22:15] #271 closed

[2015-03-23 22:15] 66eli77 commented on #1776
not pressing

[2015-03-23 22:15] #1776 closed

[2015-03-23 22:16] aronasorman commented on #266
Not a priority; reopen if it's a big UX issue.

[2015-03-23 22:16] #266 closed

[2015-03-23 22:17] aronasorman commented on #62
Not a priority; reopen when needed.

[2015-03-23 22:17] #62 closed

[2015-03-23 22:17] MCGallaspy commented on #158
Done.

[2015-03-23 22:17] #158 closed

[2015-03-23 22:18] aronasorman commented on #11
Supplanted by https://github.com/learningequality/installers/issues/3.

[2015-03-23 22:18] #11 closed

[2015-03-23 22:19] 66eli77 commented on #1773
not a pressing issue

[2015-03-23 22:19] #1773 closed

[2015-03-23 22:19] MCGallaspy commented on #12
Thread is stale. Idea is in the pipeline.

[2015-03-23 22:19] #12 closed

[2015-03-23 22:20] aronasorman commented on #1779
not a priority; reopen if it's a big UX issue.

[2015-03-23 22:20] #1779 closed

[2015-03-23 22:20] 66eli77 commented on #1760
will not be relevant anymore once installers all implemented

[2015-03-23 22:20] #1760 closed

[2015-03-23 22:20] aronasorman commented on #1760
`start.sh` has been replaced by `bin/kalite start`, which throws an error.

[2015-03-23 22:21] aronasorman commented on #803
No longer relevant, with the new flexmodels syncing in the pipeline.

[2015-03-23 22:21] #803 closed

[2015-03-23 22:23] aronasorman commented on #784
Supplanted by https://github.com/learningequality/installers/issues/6.

[2015-03-23 22:23] #784 closed

[2015-03-23 22:23] aronasorman commented on #782
Fixed in the latest develop.

[2015-03-23 22:23] 66eli77 commented on #1748
it is being refactored.

[2015-03-23 22:23] #1748 closed

[2015-03-23 22:24] aronasorman commented on #780
Not a priority; reopen if it's a big UX issue.

[2015-03-23 22:24] #780 closed

[2015-03-23 22:25] aronasorman commented on #763
Fixed in the latest develop, with the `UserRestricted` config package.

[2015-03-23 22:25] #763 closed

[2015-03-23 22:26] aronasorman commented on #620
Not a priority; reopen if it's a big issue.

[2015-03-23 22:26] #620 closed

[2015-03-23 22:27] aronasorman commented on #585
Fixed in the latest installer -- we now require superuser access for installing Python.

[2015-03-23 22:27] #585 closed

[2015-03-23 22:28] aronasorman commented on #744
Thread conversation is stale; reopen if it's a big UX issue in the central server repo: https://github.com/fle-internal/ka-lite-central

[2015-03-23 22:28] #744 closed

[2015-03-23 22:29] MCGallaspy commented on #33
Superseded by #2467.

[2015-03-23 22:29] #33 closed

[2015-03-23 22:29] aronasorman commented on #478
Not a priority; reopen if it's a big UX issue.

[2015-03-23 22:29] #478 closed

[2015-03-23 22:29] 66eli77 commented on #1611
really like this idea, won't close it during this issue triaging

[2015-03-23 22:29] sharprakeshverma commented on #3384
@rtibbles , saved your changes in my local installation. works fine now without errors. Can you help me with how i can get to know where the solution of this error belongs to, i mean which file.

[2015-03-23 22:30] aronasorman commented on #442
Not a priority; reopen if it's a big UX issue.

[2015-03-23 22:30] #442 closed

[2015-03-23 22:30] rtibbles commented on #3384
Look at my PR on github, can look at 'files changed' to see the diff.

[2015-03-23 22:31] 66eli77 commented on #1611
really like this idea, won't close this during this issue triaging.

[2015-03-23 22:31] aronasorman commented on #196
Superseded by the planned asset management pipeline. Open another issue if we want to revisit this.

[2015-03-23 22:31] #196 closed

[2015-03-23 22:32] aronasorman commented on #604
Not a priority.

[2015-03-23 22:32] #604 closed

[2015-03-23 22:32] aronasorman commented on #316
They are now different repos; difference should be clearer: https://github.com/fle-internal/ka-lite-central

[2015-03-23 22:32] #316 closed

[2015-03-23 22:33] aronasorman commented on #386
Fixed in the upcoming docs: http://field.learningequality.org/docs/installguide/install_main.html

[2015-03-23 22:33] #386 closed

[2015-03-23 22:34] aronasorman commented on #445
In development; let's open another issue once implementation for that has begun.

[2015-03-23 22:34] #445 closed

[2015-03-23 22:34] 66eli77 commented on #1608
not a pressing issue, and maybe irrelevant in 0.14

[2015-03-23 22:34] #1608 closed

[2015-03-23 22:36] aronasorman commented on #713
not a priority; let's open another issue if this is a big UX problem.

[2015-03-23 22:36] #713 closed

[2015-03-23 22:36] aronasorman commented on #451
Not a priority; let's open another issue if needed.

[2015-03-23 22:36] #451 closed

[2015-03-23 22:37] aronasorman commented on #764
Superseded by https://github.com/learningequality/installers.

[2015-03-23 22:37] #764 closed

[2015-03-23 22:38] #1156 closed

[2015-03-23 22:38] aronasorman commented on #872
Wontfix, due to the impending refactoring of language packs into channels + the new syncing mechanism in the works.

[2015-03-23 22:38] #872 closed

[2015-03-23 22:39] 66eli77 commented on #579
I believe this is fixed

[2015-03-23 22:39] #579 closed

[2015-03-23 22:40] aronasorman commented on #816
Closing this; will revisit once we have a benchmarking suite in place.

[2015-03-23 22:40] #816 closed

[2015-03-23 22:40] 66eli77 commented on #1309
could be a nice experimental project for React.js

[2015-03-23 22:41] aronasorman commented on #1447
No longer needed, with the new unified syncing interface in the works.

[2015-03-23 22:41] #1447 closed

[2015-03-23 22:42] 66eli77 commented on #1096
will be irrelevant once installer wizard done

[2015-03-23 22:42] #1096 closed

[2015-03-23 22:42] aronasorman commented on #1430
Not necessary anymore, once we have installers with prebuilt language packs: https://github.com/learningequality/ka-lite/issues/3359

[2015-03-23 22:42] #1430 closed

[2015-03-23 22:42] aronasorman commented on #1408
Not a priority.

[2015-03-23 22:42] #1408 closed

[2015-03-23 22:44] 66eli77 commented on #1059
fixed

[2015-03-23 22:44] #1059 closed

[2015-03-23 22:44] aronasorman commented on #1387
Closing; the workaround right now is to download videos somewhere where there's reliable internet, then transfer videos through USB. Let's open another issue if we hear that this is a problem.

[2015-03-23 22:44] #1387 closed

[2015-03-23 22:45] aronasorman commented on #1260
Fixed in latest develop.

[2015-03-23 22:45] #1260 closed

[2015-03-23 22:45] aronasorman commented on #1139
Not a priority; let's open another issue if this comes up.

[2015-03-23 22:45] #1139 closed

[2015-03-23 22:46] aronasorman commented on #1134
Not a priority.

[2015-03-23 22:46] #1134 closed

[2015-03-23 22:47] aronasorman commented on #1132
Stale issue.

[2015-03-23 22:47] #1132 closed

[2015-03-23 22:47] #973 closed

[2015-03-23 22:48] aronasorman commented on #1077
We're practically doing this with the flexmodels syncing in the works. I'd rather we close this, since this is such a vague issue.

[2015-03-23 22:48] #1077 closed

[2015-03-23 22:49] 66eli77 commented on #815
of not already fixed, will be fixed in 0.14 during mobile responsiveness optimization

[2015-03-23 22:49] #815 closed

[2015-03-23 22:50] aronasorman commented on #1733
Fixed in latest develop. Things are pretty separate now.

[2015-03-23 22:50] #1733 closed

[2015-03-23 22:50] aronasorman commented on #1637
Fixed in latest develop.

[2015-03-23 22:50] #1637 closed

[2015-03-23 22:52] aronasorman commented on #1301
Not a priority; let's open another issue if this is a big problem. `update_language_packs` should only be run on the central server anyway, which should have adequate memory.

[2015-03-23 22:52] #1301 closed

[2015-03-23 22:54] aronasorman commented on #1849
Not a priority; let's open another if this is a big UX problem.

[2015-03-23 22:54] #1849 closed

[2015-03-23 22:54] aronasorman commented on #1844
Not a priority; let's open another issue if this is a big UX problem.

[2015-03-23 22:54] #1844 closed

[2015-03-23 22:55] aronasorman commented on #1635
Not a priority; let's open another issue if someone starts working on this.

[2015-03-23 22:55] #1635 closed

[2015-03-23 22:56] aronasorman commented on #1342
Not a priority; let's open another issue when we want to revisit this.

[2015-03-23 22:56] #1342 closed

[2015-03-23 22:56] 66eli77 commented on #788
in 0.13, we don't have many reload pages for student, other issues mentioned in this thread will be or has already been addressed by optimization.

[2015-03-23 22:56] #788 closed

[2015-03-23 22:57] 66eli77 commented on #687
fixed in 0.13

[2015-03-23 22:57] #687 closed

[2015-03-23 23:06] aronasorman commented on #635
Superseded by https://github.com/learningequality/installers. Let's revisit this once we're ready to create KA Lite images.

[2015-03-23 23:06] #635 closed

[2015-03-23 23:06] 66eli77 commented on #1171
we don't show points earned by teacher anymore

[2015-03-23 23:06] #1171 closed

[2015-03-23 23:06] aronasorman commented on #1311
Not a priority; reopen if needed.

[2015-03-23 23:06] #1311 closed

[2015-03-23 23:07] aronasorman commented on #1183
Not a priority; reopen if needed.

[2015-03-23 23:07] #1183 closed

[2015-03-23 23:08] aronasorman commented on #1315
Not a priority; reopen if needed.

[2015-03-23 23:08] #1315 closed

[2015-03-23 23:08] aronasorman commented on #811
Oooh, yes we certainly need documentation for this. Let's move this for 0.14 and make it a release-blocker.

[2015-03-23 23:13] aronasorman commented on #951
Not a priority; let's reopen if people want to requery old exercises.

[2015-03-23 23:13] #951 closed

[2015-03-23 23:16] aronasorman commented on #137
Thread is stale; let's open another issue for the current incarnation of coachreports.

[2015-03-23 23:16] #137 closed

[2015-03-23 23:18] aronasorman commented on #527
Once we implement https://github.com/learningequality/ka-lite/issues/3327, we can have a mechanism we automatically syncs the latest log dump when needed. To 0.14!

[2015-03-23 23:19] aronasorman commented on #946
Not a priority; let's open another issue if this is a big UX problem.

[2015-03-23 23:19] #946 closed

[2015-03-23 23:19] aronasorman commented on #563
Not a priority; let's reopen this if this is a critical bug.

[2015-03-23 23:19] #563 closed

[2015-03-23 23:20] aronasorman commented on #283
Not a priority; reopen if needed.

[2015-03-23 23:20] #283 closed

[2015-03-23 23:20] aronasorman commented on #1121
Is this still an issue? Reopen if needed.

[2015-03-23 23:20] #1121 closed

[2015-03-23 23:21] aronasorman commented on #1825
Closing. Reopen if it's a big UX issue.

[2015-03-23 23:21] #1825 closed

[2015-03-23 23:21] aronasorman commented on #1961
@benjaoming might be good to include in your refactorings.

[2015-03-23 23:22] aronasorman commented on #2392
We are not merging develop into nalanda anymore; when we do merge them, we'll have a proper student testing implementation by then. Stale issue, closing.

[2015-03-23 23:22] #2392 closed

[2015-03-23 23:22] 66eli77 commented on #231
addressed by @rtibbles 's new PR

[2015-03-23 23:22] #231 closed

[2015-03-23 23:25] aronasorman commented on #2357
We're ignoring this for 0.13, and this will get superseded by #3368, which is what will fill this empty space.

[2015-03-23 23:25] #2357 closed

[2015-03-23 23:26] 66eli77 commented on #2618
we have more detailed plan for this topic.

[2015-03-23 23:26] #2618 closed

[2015-03-23 23:27] aronasorman commented on #2331
Not a priority, especially once https://github.com/learningequality/ka-lite/pull/3376 is merged in.

[2015-03-23 23:27] #2331 closed

[2015-03-23 23:28] aronasorman commented on #2323
Fixed in develop.

[2015-03-23 23:28] #2323 closed

[2015-03-23 23:28] aronasorman commented on #2321
Reopen if not fixed in develop.

[2015-03-23 23:28] #2321 closed

[2015-03-23 23:29] aronasorman commented on #2266
Not a priority; let's open another issue if we want to revisit this.

[2015-03-23 23:29] #2266 closed

[2015-03-23 23:30] aronasorman commented on #649
With a new syncing mechanism in the works, this is no longer a priority.

[2015-03-23 23:30] #649 closed

[2015-03-23 23:32] 66eli77 commented on #2038
how it looks now
![screen shot 2015-03-23 at 4 31 35 pm](https://cloud.githubusercontent.com/assets/5577205/6792853/1dd8014a-d17a-11e4-99fb-f28d74eca872.png)

[2015-03-23 23:32] #2038 closed

[2015-03-23 23:33] 66eli77 commented on #2041
fixed
![screen shot 2015-03-23 at 4 33 31 pm](https://cloud.githubusercontent.com/assets/5577205/6792878/60f8d382-d17a-11e4-96f4-fc0a74954e2a.png)

[2015-03-23 23:33] #2041 closed

[2015-03-23 23:45] 66eli77 commented on #2923
lack user feedback

[2015-03-23 23:45] #2923 closed

[2015-03-23 23:46] 66eli77 commented on #3234
fixed

[2015-03-23 23:46] #3234 closed

[2015-03-23 23:49] 66eli77 commented on #3241
progress report need a overall UI refactoring

[2015-03-23 23:49] #3241 closed

[2015-03-23 23:51] aronasorman commented on #953
Issue is vague; let's open issues with more specific problems.

[2015-03-23 23:51] #953 closed

[2015-03-23 23:54] aronasorman commented on #1034
Not a priority; reopen if requested.

[2015-03-23 23:54] #1034 closed

[2015-03-23 23:54] aronasorman commented on #3226
Not a priority; reopen if replicated in another computer.

[2015-03-23 23:54] #3226 closed

[2015-03-23 23:56] aronasorman commented on #3370
Seems to be fixed in #3372.

[2015-03-23 23:56] #3370 closed

[2015-03-24 00:02] 66eli77 commented on #3392
cannot replicate the issue
![screen shot 2015-03-23 at 5 01 46 pm](https://cloud.githubusercontent.com/assets/5577205/6793176/52521678-d17e-11e4-9599-bfab0afcd4e7.png)

[2015-03-24 00:12] 66eli77 commented on #1910
touch anywhere on the screen will pause or play the video

[2015-03-24 00:12] #1910 closed

[2015-03-24 00:14] 66eli77 commented on #1170
this is just too old, likely not relevant anymore since we change lots of code inside kalite

[2015-03-24 00:14] #1170 closed

[2015-03-24 05:53] sopu opened #3395 "Username display div in top-nav has css issues."
Branch: develop

When clicking on the username div on top-nav it displays the drop-down and changes background color of the div to #eee and color to #5AA685. Clicking the div again closes the drop-down and changes the background color to #fff and color remains same. But after that taking the mouse pointer away from the div changes the background to #eee and color to #fff as given below (See screen

[2015-03-24 10:33] benjaoming opened #3396 "Setuptools configuration: python setup.py install / pip install ka-lite"
In order to facilitate packaging much better, we are building a python-only installation procedure. Cross-platform.

The method you know all too well from PyPi and pip :)

This includes the following:

  * [x] A layout for all the setup meta data etc.
  * [x] GPG key signing
  * [x] New layout: Putting data files separately from the `kalite` python package, that means they will be found using `sys

[2015-03-24 10:34] benjaoming commented on #3396
For more, see [my branch](https://github.com/benjaoming/ka-lite/tree/setuptools-installer), moreover the [PACKAGE.md](https://github.com/benjaoming/ka-lite/blob/setuptools-installer/PACKAGING.md)

[2015-03-24 10:51] benjaoming commented on #2923
@66eli77 what kind of feedback would you like?

[2015-03-24 10:52] benjaoming commented on #1961
Yes, maybe we can haz "Django 1.6 Compatibility" label? :)

[2015-03-24 10:56] benjaoming commented on #2467
@MCGallaspy have new features been added Syncthing (as per discussion in #33) so we can use it?

[2015-03-24 11:06] sharprakeshverma opened #3397 "Blank Page on Progress Report"
When a new user checks the progress report, It shows a complete blank page with just a "Progress Report" Heading title. I feel there should be something like "No progress" or some other message instead of a complete blank page. If this is left blank intentionally, please explain.Thanks
Branch:develop
![56](https://cloud.githubusercontent.com/assets/10394619/6800349/a3c9605e-d243-11e4-89ab-1c680fda

[2015-03-24 14:02] yohanboniface opened #3398 "service doesn't respond status command"
No way to issue "sudo service kalite status" with Linux install on master branch.

I see that the init.d is not a regular daemon script, so I guess that's why. But I think in the future (specifically now that you are reviewing the Debian install process) it could be nice to have a standard interface.

cc @benjaoming

[2015-03-24 15:27] aronasorman opened #3399 "bin/kalite does not support PyPy"
It always drops down to python2. Which is slow.

[2015-03-24 15:53] #3237 closed

[2015-03-24 16:14] aronasorman commented on #3399
Also, KA Lite isn't working in PyPy.

[2015-03-24 16:38] #3385 closed

[2015-03-24 16:55] MCGallaspy commented on #2467
@benjaoming haven't looked in to it, just trying to remove duplicated issues.

[2015-03-24 17:00] 66eli77 commented on #2923
@benjaoming I see the problem of making the scrollbar subtle, but such design also make the already heavy sidebar nav system look more unified and clean. We want to find the balance in between. That's why more user feedback can help us find the balance. The South Sudan Teacher training program are among the first group to use the new sidebar nav system, they may give us more feedback on this in th

[2015-03-24 17:17] #3042 closed

[2015-03-24 17:19] benjaoming commented on #2923
@66eli77 okay but since the scrollbar only shows up when it's needed and essential, it could just be styled in a solid colour that's more visible? Like increasing opacity to 90% ?

[2015-03-24 17:22] benjaoming commented on #2467
Okay, just to be clear then: We need to settle the decision of whether Syncthing can actually be used before implementing it :) Maybe some of the couple of months old discussion can be rebutted by someone with good Syncthing knowledge...

[2015-03-24 17:42] benjaoming commented on #3398
@yohanboniface
Thanks for the report. The `kalite` command will be a standard interface for the future to support init.d/upstart scripts etc.

I'm not quite sure why you're having problems using the `kalite status` command.. is the command itself failing or is it your path environment that doesn't contain `kalite` ?

[2015-03-24 18:58] 66eli77 commented on #2923
@benjaoming Totally, we can iterate the design on that.

[2015-03-24 19:07] 66eli77 commented on #3272
@benjaoming  I agree on your approach, no need to run a circle to get the RPi hardware info.

[2015-03-24 21:18] benjaoming commented on #3396
Related: #2952

[2015-03-24 21:19] benjaoming commented on #3396
@aronasorman I'm making it debatable whether this should be in 0.13 -- but it will be required to create a Debian installer.

[2015-03-24 21:40] benjaoming commented on #3399
It just defaults to `python2` if it's in the path. But you can override that behaviour by setting a `KALITE_PYTHON` env.

[2015-03-24 21:40] benjaoming commented on #3399
https://github.com/learningequality/ka-lite/blob/develop/bin/kalite#L72

[2015-03-24 21:41] aronasorman commented on #3399
Yeah, was hoping it would default to PyPy (since it's a "faster" python), but looks like KA Lite doesn't even work on PyPy in the first place.

[2015-03-24 21:45] rtibbles commented on #3396
@benjaoming I think adding the ability to build in this way is fine for 0.13.x - but we should probably not move all the python-packages out until 0.14.

Will we just be using a requirements.txt to list the packages?

[2015-03-24 22:25] benjaoming opened #3403 "Dependency management: Unbundle python-packages"
# Overview

Currently, KA Lite ships with a directory `python-packages`, each of them have to be unbundled. That means, for some of them to be placed separately, and for others to be bundled with installers or as dynamic dependencies.

**Unbundling**: To remove a package from python-packages and include it as a dependency /or/ to completely remove the package as a dependency and write some new cod

[2015-03-24 22:30] benjaoming commented on #3396
@rtibbles yup, this issue is solely for packaging with nothing else changed than some paths for data files.

The python-packages thing is now covered in #3403. As for requirements.txt, yes that's a very simple and effective approach for specifying dependencies.. but actually I remember [this incident](https://github.com/django-wiki/django-wiki/commit/67f7ae9c9d6e943ecb65871e03b5f00c05da54b0) where

[2015-03-24 22:32] rtibbles commented on #3396
Righto - happy to implement however - just loath to add more bloat into python-packages with my latest PR to develop

[2015-03-24 22:41] #2993 closed

[2015-03-24 22:46] aronasorman commented on #1413
Oh! This looks like a great intern project.

[2015-03-24 23:55] benjaoming commented on #3396
If it's possible to freeze python-packages for 0.14, that would be helpful :) But I guess there's no alarms until the first PRs for removing them start coming in.

[2015-03-25 15:15] anuragkanungo commented on #2703
@aronasorman ,
Do we need this? As the store has been removed from Nalanda but I don't have idea about develop.

[2015-03-25 21:02] MCGallaspy opened #3407 "Feature proposal - inline help"
[External link](https://docs.google.com/document/d/11wY1EViZrCKXZkus-7Pf4RMCbEYuaTNSCRa5YCglMMU/edit?usp=sharing)
**Feature Name**: Inline Help

**Team members**:
Teresa Do
Mike Gallaspy (mentor)

**PR reviewer**: Richard or Aron or Jamie? (TBD)

**Description**:
	An inline help system for app pages. Teresa is taking the lead on this, with Mike serving as a mentor. Weekly joint hacking time will b

[2015-03-25 21:26] MCGallaspy opened #3408 "Feature proposal - docs internationalization"
[External link](https://docs.google.com/a/learningequality.org/document/d/1Ifmni-SRWLfOWk4rU4eCdxhns1VqiFGgHtCB-7svty8/edit?usp=sharing)
Feature Name: Docs Internationalization

**Team members:**
* Michael Gallaspy

**PR reviewer / Accountabili-buddy:** TBD

**Description:**
	Right now we just build the docs in English. We want to be able to build the docs in an arbitrary language, and to take our

[2015-03-26 00:28] jamalex opened #3410 "Pressing the Learn tab when already under /learn/ should just expand sidebar to top-level topic"
Branch: 0.13.x

Observed:
Pressing the Learn tab when already on a sub-page of /learn/ does a full page reload. Since the Learn tab takes a long time to load, this is a bit painful. Observed a (new) user tap it repeatedly, trying to figure out where to go next (after collapsing sidebar).

Desired:
Just like we do for autocomplete results etc, we should intercept that click and route it via the Bac

[2015-03-26 14:01] #3395 closed

[2015-03-26 15:55] rtibbles commented on #3410
Sounds like a reasonable fix.

[2015-03-26 16:24] rtibbles commented on #3410
I have implemented this on 0.13.x - relatively simple fix. However, it reveals two bugs:
* Javascript errors from our own sidebar code
* Perseus error when navigating away from a Perseus content node if it happens before Perseus has finished rendering.

Will fix and submit a PR.

[2015-03-26 18:30] rtibbles opened #3411 "doRequest success and failure callbacks cannot be overwritten and also call back inappropriately"
Branch: develop

Expected Behaviour:
We should be able to customize how we handle success and errors depending on the needs of the method calling doRequest. At the moment, even if we pass success and fail callbacks to doRequest, we cannot prevent the default behaviour of handling the messages.

This is problematic for, example, the simplified login, where the current messages framework does not in

[2015-03-26 19:23] anuragkanungo commented on #3407
I think that can be used in teacher training as well.
Possibly adding a database with some student data, so to tell them about coach reports as well.

[2015-03-26 19:50] EdDixon opened #3413 "Some assessment item API endpoints returning Status 500 errors"
In 0.13 alpha (pre-release) discovered several assessment items that were missing the graphical elements they seemed to rely. Jamie recently became aware of an issue with the way SVG data is being handled within the offical Khan API which may be related and lead to solutions to this particular assessment item and other other assessment items similarly affected .

All that said the particular issue

[2015-03-26 19:53] jamalex commented on #3413
Hmm, that looks like a different issue -- it's returning 500s on the API endpoints. Might not have anything to do with images.

[2015-03-26 19:53] jamalex commented on #3413
Can you set `DEBUG = True` and inspect the response on that API endpoint?

[2015-03-26 19:54] jamalex commented on #3413
Also, that X in the top right is to clear the error message. But what happened to the color on the error message bubble?

[2015-03-26 19:55] EdDixon commented on #3413
Was trying to highlight that not sure why the x is there?

[2015-03-26 19:56] rtibbles commented on #3413
It's from the error message alert box.

[2015-03-26 19:57] EdDixon commented on #3413
I should also add this was while testing without internet availability.

[2015-03-26 22:12] #2729 closed

[2015-03-27 07:02] jayanti opened #3418 "Transcript for Videos"
Transcript for videos are required, thus making it more accessible.

[2015-03-27 07:09] jayanti opened #3419 "Bring background images to front"
Change informative images from background image to individual image and set descriptive title and ALT text.
![home ka lite](https://cloud.githubusercontent.com/assets/1905329/6863819/209aa3ca-d480-11e4-9f35-87909b691c3b.png)

[2015-03-27 07:10] jayanti opened #3420 "Form improvements like Short-cut Keys and Legends for Signup, Login, etc.."

[2015-03-27 13:58] ruancilliers opened #3421 "Multiple Students can't log in anymore with the following error message: AssertionError"
Branch: 0.12.0
Expected Behavior: I expect students to be able to log-in and carry on with their work. I now have to create a new log-in although their data is still in the database (See screen shot, as an example look at student iviwe dumayo.)
Current Behavior: Whenever I try to log-in with this student, I get the following Assertion Error:
AssertionError: There should never be multiple summaries

[2015-03-27 14:05] ruancilliers opened #3422 "Can't Sync My Models, although the Sync Job has been Launched"
Branch: 0.12.0
Expected Behavior: When I select Sync, I expect the modules to Sync, as the messages says the Sync Job has been launched (see attached screen shot)
Current Behavior: Although the Sync Job, has been launch ( I have tried this multiple times, you can see in the screenshot that no models has been synced for more than a year ). I have also tried this manually with the syncmodules comman

[2015-03-27 14:15] benjaoming opened #3423 "UnicodeModelsTest can safely be removed"
I'm suggesting to completely remove this test because it's stupid:

1. Testing tests!? Test inception. Mind blown.
1. Coverage is done with a coverage tool
1. The test doesn't do what it says, it just tests that a new model hasn't been added without being mentioned in the test.. it's not actually testing if the __unicode__ method has a test or not.
1. Also, it didn't even work before, so who reall

[2015-03-27 16:48] MCGallaspy commented on #3423
@benjaoming I discovered the same thing while reviewing another PR. I think we can safely remove these tests.

[2015-03-27 16:52] benjaoming commented on #3423
Cool, thanks @MCGallaspy... I remember you mentioned it quite recently.

The fix is in my [setuptools-installer branch](https://github.com/benjaoming/ka-lite/tree/setuptools-installer) and I won't cherry-pick it just now... I'm hoping the whole thing with all its hazardous new code can be accepted at some point :)

[2015-03-27 23:24] aronasorman commented on #3423
I don't see any need to cherry-pick this to 0.13, so I'm changing the milestone to 0.14 (aka target develop).

[2015-03-28 17:20] benjaoming commented on #3423
Yes, no prob, as per last meeting discussion that all of the changes for the setuptools installer are destined for 0.14.

[2015-03-29 06:40] jamalex commented on #3413
I went ahead and tested this out, with `DEBUG = True`. Here's the traceback:

[code]

[2015-03-29 06:44] jamalex commented on #3413
Looks like @aronasorman touched that code (or rather, wrote it from scratch) most recently. Could you look into this?

Here's the endpoint I tried: http://127.0.0.1:8008/api/assessment_item/x94f5e2f8003b5694/

[2015-03-29 11:25] tarunsharma1 opened #3430 "No underlying text for password field"
Current behavior: only user name field has underlying text during login
Expected behavior: password and user name fields should have underlying text like in all general forms
, or neither of them should.
Steps to reproduce: hit the login button on the top right of the screen
![screenshot 142](https://cloud.githubusercontent.com/assets/8834964/6885246/63738792-d634-11e4-88d2-d68ac08cfe4b.png)

[2015-03-29 11:43] tarunsharma1 commented on #3430
https://github.com/learningequality/ka-lite/pull/3431

[2015-03-29 11:53] tarunsharma1 opened #3432 "No error message when trying to login with wrong password"
Expected behavior : If user enters wrong password during login, an error message saying "wrong password, please enter your correct password" should appear somewhere.
Current behavior : If user enters wrong password, nothing happens. The login dialogue box still stays the same with no error message. If dialogue box is closed and login button is hit again, the entered details stay. They are not clea

[2015-03-29 12:13] benjaoming opened #3433 "select_best_available_language called 15508 times during load"
That's the count with my assessment_zip

[code]

So I'd suggest a cache... coming right up....

[2015-03-29 12:37] benjaoming opened #3434 "Get rid of sys.setdefaultencoding and move to Unicode by default"
In `kalite.settings` there's the following block of code (some modifications because of the setuptools installer)

[code]

The motivation behind this is memory optimization. Experience reported by @aronasorman and @66eli77 says that memory efficiency is ~1.5 and this is much crucial for Raspberry Pi execution.

Indeed, this is also true... but it's very sensitive to the string size. This is pretty

[2015-03-29 12:40] benjaoming commented on #3433
Solved in https://github.com/benjaoming/ka-lite/commit/24e2373e64c50bbc439b88e59b9decaef6b11478

[2015-03-29 13:28] tarunsharma1 commented on #3432
Even when a user enters a user name that has not been registered, nothing happens

[2015-03-29 15:19] georgyberdyshev opened #3436 "Video management page does not work and returns an error"
Branch: develop
Expected behavior: Display video management page
Steps to reproduce: In the main navigation click on the manage button. After that in the sub navigation, click on the Videos button.
Actual behavior: Video management page does not work and an error message is displayed
Error
Sorry, but there was an error while trying to load the page.

(NameError: global name '_' is not defined)

![

[2015-03-29 15:35] georgyberdyshev commented on #3436
Hello everyone,

I have fixed this issue and will create a PR shortly.

code:
https://github.com/learningequality/ka-lite/commit/6a7bdd4baba460f08cfe39b59ac755558c9ad2bd

Thanks, Georgy

[2015-03-29 16:34] georgyberdyshev commented on #3436
Hello everyone,

I have added a pull request #3437 fixing this issue.

@aronasorman this fixes an issue introduced in https://github.com/learningequality/ka-lite/commit/0fb6bc5782718a76d91b7ac4ce8a8514f6fcdf26

Thanks in advance, Georgy

[2015-03-29 16:35] georgyberdyshev commented on #3436
Added screenshot of the working page, after applying the code from the pull request:

![kalite_manage_video_error_fixed](https://cloud.githubusercontent.com/assets/67566/6886593/5f1814fc-d642-11e4-8b94-a7d64c6468db.png)

[2015-03-29 17:18] benjaoming opened #3438 "No need to migrate in Travis"
The following line in .travis.yml is irrelevant

    - bin/kalite manage syncdb --migrate --noinput --traceback

It's already a consequence of `bin/kalite start`.

[2015-03-29 22:39] benjaoming commented on #3423
It's now in #3404 because that's the PR where it was originally blocking...

[2015-03-29 23:40] georgyberdyshev commented on #3397
Hello everyone,

I have added a pull request #3439 fixing this issue.

@rtibbles Do you have any thoughts, how I can improve here by adding internationalization to the
JavaScript. Is there any backbone.js related magic?

Thanks in advance, Georgy

[2015-03-29 23:41] georgyberdyshev commented on #3397
Adding screenshot with displayed message, using pull request #3439.

![progress_error_with_message_after_fix](https://cloud.githubusercontent.com/assets/67566/6888460/ec930c0c-d67d-11e4-9952-72cab8d83cc5.png)

Thanks, Georgy

[2015-03-30 01:47] jamalex commented on #3433
How many times is it now called? (Just curious, as there are 7000+ videos, after all, so there may be a high floor)

[2015-03-30 01:53] jamalex commented on #3434
Definitely want to just be using Unicode eventually. But we can't wait for Python 3 for that, since we aim to be backwards compatible, and that's *especially* important on the same devices that are low memory.

Moving away from having all that JSON loaded in memory is critical. Would be good to get some benchmarking started on DB-based approaches. Would probably be good to have this stuff in a dif

[2015-03-30 04:24] rtibbles commented on #3433
The only thing that changes between calls is the 'available language' I think, @jamie - so the caching should have a decent impact.

[2015-03-30 04:27] rtibbles commented on #3397
Fixed in #3277

[2015-03-30 04:27] #3397 closed

[2015-03-30 04:33] rtibbles commented on #3432
Fortunately, I am blessed with precognition and already have a PR open that addresses this.

[2015-03-30 04:36] rtibbles commented on #3430
Fixed in #3431

[2015-03-30 04:36] #3430 closed

[2015-03-30 04:39] rtibbles commented on #3436
Fixed in #3437

[2015-03-30 04:39] #3436 closed

[2015-03-30 05:06] rtibbles commented on #3413
In this case, it seems that the 'widgets' key on the question object is being translated for some reason.

[2015-03-30 05:09] rtibbles commented on #3413
Problem arises from not checking that 'item_data' is a dict. Fixing now.

[2015-03-30 05:14] rtibbles commented on #3421
@jamie do we need to move the hotfix for this to 0.12? or is it already there?

[2015-03-30 05:15] rtibbles commented on #3410
Fixed in #3414

[2015-03-30 05:15] #3410 closed

[2015-03-30 05:43] georgyberdyshev commented on #3318
Hello everyone,
@anuragkanungo is this still relevant I cannot reproduce it in develop?

@sharprakeshverma Could you post the output of the Traceback, as it is not fully visible in the screenshot?

Thanks in advance, Georgy

[2015-03-30 06:13] sharprakeshverma commented on #3318
Error was resolved. I dont know how but it was.

[2015-03-30 06:13] georgyberdyshev commented on #3318
Thanks @sharprakeshverma

[2015-03-30 06:36] georgyberdyshev commented on #3364
Hello everyone,

@rtibbles
I have added a pull request #3441 fixing this issue.

@jamalex This can also be merged into the 0.13.x branch

Thanks in advance, Georgy

[2015-03-30 06:36] georgyberdyshev commented on #3364
Adding screenshot of the fix, displaying the correct information

![fixed location message for missing content](https://cloud.githubusercontent.com/assets/67566/6891168/e0bbc006-d6b7-11e4-9785-1a4ae49bc0ff.png)

[2015-03-30 06:45] rtibbles commented on #3318
Closing, will reopen if reoccurs.

[2015-03-30 08:13] georgyberdyshev commented on #3337
Hello,

@rtibbles
I have added a pull request #3442 fixing this issue.

Thanks in advance, Georgy

[2015-03-30 08:18] EdDixon commented on #3318
@rtibbles this has been recurring a lot in our testing, Friday in the testing room we pretty much resolved how to reproduce it, but I do not want to take the server out if it is working for others to prove the point? It requires many screenshots and device registrations to recreate and report this issue and would involve messing it up for others. Can you please look at the conversation thread @aro

[2015-03-30 08:22] sopu commented on #3303
@aronasorman I have given a pull request on this issue (#3304). Please see.

[2015-03-30 08:33] benjaoming commented on #3433
Oh, in case the available languages are changing, too, it becomes a little harder to cache.. I'll remix the caching a bit then...

[2015-03-30 08:55] sopu opened #3443 "UX issue: "Move to top" option should be introduced for long exercises and pages"
branch : develop

Current behavior: When any long exercise is loaded the page tries to scroll to the first MCQ option for example. So user has to scroll up to see the question.

Expected behavior: There should be a "move to top" button to improve UX.

[2015-03-30 08:57] sopu opened #3444 "Page does not scroll to the first MCQ option automatically"
branch: develop
Current behavior: In firefox the auto scroll to first MCQ is not working correctly.
Screenshot
![screenshot from 2015-03-30 14 28 26](https://cloud.githubusercontent.com/assets/6399612/6893274/3742fb98-d6e9-11e4-8bdf-f0fefe8d9775.png)
![screenshot from 2015-03-30 14 30 15](https://cloud.githubusercontent.com/assets/6399612/6893279/4cb454a4-d6e9-11e4-829f-8b5a2976cf77.png)

Expected

[2015-03-30 09:29] benjaoming commented on #3434
It's been there for quite a while :D But I wouldn't be scared of Py2+3 compatibility, it can be done, although we'll see a couple of issues maintaining 2.6.5, too... but this problem goes for Django as well as any other Django 2+3 apps out there (and there are loads).

Removing the unicode hacks would be one of these first steps, dodging whatever performance hits we've taken after that, would be t

[2015-03-30 09:43] ruancilliers commented on #3422
Hi Rakesh,

I think that is the problem. I left it for hours and no messages thay say
unsuccessful or error messages? Where would I find them? Is there a log
file somewhere so that I could send it to you?

Thank you,
Ruan

On Sunday, March 29, 2015, Rakesh Verma <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-03-30 11:51] benjaoming commented on #3438
Amazing how many times you can get to fix the same issue when having too many branches.

[2015-03-30 13:00] benjaoming commented on #3433
Okay, @jamalex  was quite right that of course this is also a selection based on individual video language availability... but of course not really something that we'd have to computer at load-time... could be fixed at a later occassion.

Anyways, it got cut in half now...

    DEBUG:kalite:choosing best language among set(['en']), 7768

I've also removed the log output as it was quite massive :)

[2015-03-30 15:49] benjaoming opened #3448 "Remove obsolete manage.py"
Had a warning in 0.13 that it would be deprecated, now going to clean up kalite application layout a bit more.

[2015-03-30 16:52] tarunsharma1 commented on #3432
oh ok ...if you have already fixed this then it can be closed i suppose

[2015-03-30 17:02] rtibbles commented on #3432
Will close when the PR is merged.

[2015-03-30 18:25] jamalex opened #3450 "On some questions, pressing enter to go to next question on exercise marks next question as incorrect"
Expected: Pressing enter after completing a question should just take you to the next question.

Observed: Pressing enter takes you to the next question and marks it as incorrect (tries to answer it immediately upon showing it, with an empty answer box). Seems as if the "Enter" keypress might be getting registered twice.

Steps to replicate:

- Go to an exercise. Not sure if it applies to all, but

[2015-03-30 18:25] jamalex commented on #3450
@rtibbles Thought you might now how the event listeners work here, and why this would be happening?

[2015-03-30 20:53] #3413 closed

[2015-03-30 20:53] aronasorman commented on #3413
Fixed in PRs above ^

[2015-03-31 00:19] Joymysoy opened #3455 "Inconsistent table alignments and font sizes"
Tables are aligned at 20px and 40px; body/paragraph font-sizes vary from 14-18px.

![register a device welcome ka lite original](https://cloud.githubusercontent.com/assets/7270285/6909861/dec227d4-d6ff-11e4-9cb2-f5b0fa780406.png)

-------------------------------------
Fixes:
-Change 2nd table margins left and right to 40px;
-Change font size of bullet lists to 14px
-Adjust bottom margin of 1st tab

[2015-03-31 00:22] rtibbles commented on #3455
And most importantly. TABLES ARE FOR DATA!

Why, in the name of all things holy, are we using a table for layout? Burn it! Burn it with fire!

[2015-03-31 02:08] cpauya commented on #3403
Hi @benjaoming I like the idea of bundling ka-lite in our installers.

We are doing this already with our Mac OSX installer using [PyRun 2.7](http://www.egenix.com/products/python/PyRun/) - I'm now updating it to include setuptools and pip because it was running the minimal Python before.  We did this because of certain issues with OSX's Python and that we wanted to isolate our Python among the us

[2015-03-31 08:26] amodia commented on #3182
Hi @rtibbles I found out that there are two different objects on this persus exercise: http://127.0.0.1:8008/learn/khan/computing/computer-science/algorithms/binary-search/running-time-of-binary-search/

This object is working properly.
![screen shot 2015-03-31 at 4 07 26 pm](https://cloud.githubusercontent.com/assets/8663934/6914764/af2a3b6c-d7c0-11e4-9b18-872764338fe6.png)

![screen shot 2015-03

[2015-03-31 13:54] tarunsharma1 commented on #3450
@jamalex this seems to happen only for this particular exercise

[2015-03-31 13:55] tarunsharma1 opened #3456 "Problem with multiplication exercise comparing with multiplication"
Current behaviour : gives me an error when I land on this page. This apart from #3450
Happens only for this exercise .
![screenshot 149](https://cloud.githubusercontent.com/assets/8834964/6920378/901c92cc-d7db-11e4-8407-74efb52d7557.png)
Steps to reproduce : login and go to this exercise
http://127.0.0.1:8008/learn/khan/math/arithmetic/multiplication-division/mult-div-word-problems/comparing-with-

[2015-03-31 14:12] tarunsharma1 commented on #3456
I am also not able to reach any question apart from the first one. Points increase if i answer correctly but the next question button refreshes the page to the same error and same question underneath..points have increased though

[2015-03-31 14:21] rtibbles commented on #3456
This issue is fixed on 0.13. Duplicate of #3413.

[2015-03-31 14:21] #3456 closed

[2015-03-31 15:20] tarunsharma1 commented on #3336
#3457

[2015-03-31 16:55] benjaoming commented on #3403
@cpauya Thanks for feedback! Question: Isn't PyRun already equivalent to a virtualenv? I mean...

Which virtualenv is this and when was it activated? In case PyRun can already be bundled with its own pip and this installs to the correct PyRun environment, then I think that problems will be over :) So then the installer would just have to 1) Install PyRun 2) Install a kalite.zip source package into

[2015-03-31 19:50] Antrikshy opened #3459 "Redundant label/placeholder on login modal"
![screen shot 2015-03-31 at 12 47 16 pm](https://cloud.githubusercontent.com/assets/6601788/6927741/26edbf1a-d7a4-11e4-8bea-71ed814d5d3a.png)

ಠ_ಠ

Shouldn't we have one or the other? Maybe remove the label and make it `sr-only`? Or just get rid of the placeholder? I'm a fan of this login form: http://getbootstrap.com/examples/signin/

Assign me to this and send over your recommendations.

[2015-03-31 19:54] rtibbles commented on #3459
I couldn't give a monkeys' either way, to be honest. The problem with *just* the prefill though, is that 'Facility' is a selection drop down, so it won't be consistent.

[2015-03-31 21:48] MCGallaspy commented on #2035
Maybe the only thing lacking on this feature now are retroactive integration tests? Just to avoid regression.

[2015-03-31 21:49] rtibbles commented on #2035
Yeah - when the BDD PR is merge, I'll make sure this feature Behaves.

[2015-03-31 22:05] #3432 closed

[2015-03-31 22:29] MCGallaspy opened #3460 ""Unexpected error" and improperly displayed alert on language tab"
On `develop`, logged in as admin, with `DEBUG=True`, I navigated to the language tab (`/update/languages`), and I get a big alert behind some of the page elements (see screenshot). I'm also apparently unable to download any language packs. (That could be due to tinkering on the staging server at the moment?) The alert display is evidently an error, at least.

Expected behavior: No alert at all and

[2015-03-31 22:37] jamalex commented on #3450
Good call. I'll downgrade this from a release blocker to a bugfix. Thanks!

[2015-03-31 22:40] MCGallaspy commented on #3460
Perhaps a legitimate error, same thing happens for me when I don't have `DEBUG=True`.

[2015-03-31 23:14] benjaoming commented on #3448
Merged in #3449

[2015-03-31 23:14] #3448 closed

[2015-03-31 23:15] benjaoming commented on #3438
Merged in # #3445

[2015-03-31 23:15] #3438 closed

[2015-03-31 23:16] benjaoming commented on #3423
Merged in #3404

[2015-03-31 23:16] #3423 closed

[2015-04-01 00:39] georgyberdyshev commented on #3349
@rtibbles I am working on this issue.

[2015-04-01 01:23] cpauya commented on #3403
Oops, I had an activated virtualenv, then ran pyrun's pip, which resulted to having the package installed on the active virtualenv instead of pyrun's directories.

Yup, PyRun can be bundled with own python version, pip, and packages... you can even move the pyrun directory and it will still run.

[2015-04-01 22:04] aronasorman opened #3464 "Separate KA files into proper domains"
Currently we put all KA pot files into the django domain. We need to put the relevant pot files into the djangojs domain.

[2015-04-03 14:18] sharprakeshverma opened #3471 "No module named Compressor Error"
branch: Develop
steps: update with latest develop branch
system: windows/chrome
![issue](https://cloud.githubusercontent.com/assets/10394619/6983345/41595772-da3a-11e4-89bb-0fa7cc2ceab2.png)

Updating pip used to resolve the error but this time,even that ain't working :(

[2015-04-03 14:56] radinamatic commented on #3471
Did you Install the dependencies listed in requirements.txt:

pip install -r requirements.txt
and
pip install -r dev_requirements.txt

That's what solved it for me after 0.14 was released...

[2015-04-03 16:50] radinamatic commented on #3459
Btw, sorry for "stealing" this one under your nose @Antrikshy , I literally just saw your last sentence about wanting to be assigned this... :(

The problem with Facility drop down that @rtibbles mentioned is avoided by including a "dummy" "selected disabled" option. I thought it would create problems with the screen readers, but NVDA read out everything just fine.

[2015-04-03 17:44] Antrikshy commented on #3459
Oh, that's no problem. I'll find other stuff to work on. Right now, I'm getting used to a very busy quarter schedule anyway.

I was thinking of a blank option as well. Yours looks very nice.

[2015-04-03 19:08] rtibbles commented on #3337
Fixed in #3442

[2015-04-03 19:08] #3337 closed

[2015-04-03 22:04] rtibbles commented on #3391
Fixed in #3414

[2015-04-03 22:04] #3391 closed

[2015-04-03 22:04] rtibbles commented on #3384
Fixed in #3394

[2015-04-03 22:04] #3384 closed

[2015-04-03 22:08] rtibbles commented on #3177
@georgyberdyshev seems to have fixed all these in #3435

[2015-04-03 22:08] #3177 closed

[2015-04-03 22:08] rtibbles commented on #2871
Ended up using Django-compressor, but this is now done.

[2015-04-03 22:08] #2871 closed

[2015-04-04 03:44] georgyberdyshev commented on #3349
Hello everyone,

@rtibbles
I have added a pull request #3477 fixing this issue.

Adding screenshot of the fix, showing the updated search box text on focus.
![search input focus fixed](https://cloud.githubusercontent.com/assets/67566/6991325/a8f9e3ee-da8d-11e4-90c6-6884228084ed.png)

Thanks in advance, Georgy

[2015-04-06 20:51] #3433 closed

[2015-04-06 20:51] #3387 closed

[2015-04-06 21:13] MCGallaspy commented on #3460
Resolved.

[2015-04-06 21:13] #3460 closed

[2015-04-06 21:36] MCGallaspy commented on #3303
Fixed.

[2015-04-06 21:36] #3303 closed

[2015-04-07 00:12] jamalex opened #3483 "Enforce API schemas with TastyPie (don't allow extraneous fields, at least during testing)"
Observed: Sending extra fields when POSTing to a TastyPie endpoint drops the data silently, when it's not part of the schema.

Expected: Unexpected fields in data sent to TastyPie should cause an error. Since causing unnecessary errors for offline end users isn't desirable, we should perhaps only enable this for when we're running tests.

[2015-04-07 09:21] amodia opened #3484 "Facility name field validation display on top of textbox."
Branch: `develop`
Expected behavior: field validation must show at the bottom of the textbox.
Current behavior:  field validation show on top of the textbox.

Steps to reproduce:
1. Log in as the administrator
2. Create a new facility.
3. Leave the name field blank and click save facility.

![screen shot 2015-04-07 at 5 03 34 pm](https://cloud.githubusercontent.com/assets/8663934/7020152/41214c26-

[2015-04-07 14:07] benjaoming opened #3487 "Unbundle django_extensions"
Currently known usage:

 - `clean_pyc` management command. The usage of this command is being phased out.

[2015-04-07 17:30] aronasorman commented on #3471
Follow the new instructions in the https://github.com/learningequality/ka-lite/wiki/Getting-started to install the additional dependencies.

[2015-04-07 17:30] #3471 closed

[2015-04-07 18:53] MCGallaspy commented on #3225
Resolved.

[2015-04-07 18:53] #3225 closed

[2015-04-08 19:00] tarunsharma1 commented on #3244
@alexkchan Hey Alex, I have been looking into this issue for a couple of days now and have started working on it..I was hoping we could coordinate and discuss possible solutions :)

[2015-04-08 19:25] alexkchan commented on #3244
@tarunsharma1 Hey Tarun :) ! Awesome, I haven't had as much time to work on this as I wanted to. Aron suggested that we use Django Pagination (https://docs.djangoproject.com/en/1.5/topics/pagination/). I got as far as identifying that the search method is in views.py (def(search)) and it looks like we want to paginify the 'possible_matches' return. Right now I'm working on trying to understand how

[2015-04-08 19:57] tarunsharma1 commented on #3244
Hey @alexkchan ,
So far i just identified that the value 25 for search limit is being given in views.py , I tried adding a button in search_page.html and sending a response through <form> and then change the value of max_results_per_category accordingly...this isnt a very efficient solution though as it would be difficult to identify which categories button was clicked unless we use an array of id

[2015-04-08 19:57] tarunsharma1 commented on #3244
through form*

[2015-04-09 03:22] amodia opened #3494 "Facility user form validations are displayed at the top of the form fields."
Branch: develop
Expected behavior: facility user form fields validations must show at the bottom of the textbox.
Current behavior: facility user form fields validations show on top of the textbox.

Steps to reproduce:
1. Log in as the administrator
2. Create a new facility.
3. Leave the fields blank and click create user
![screen shot 2015-04-09 at 11 09 15 am](https://cloud.githubusercontent.com/

[2015-04-09 19:24] jamalex commented on #2470
Still extant, just very obscure replication conditions:
- Instantiate a `FacilityGroup` on the central server
- Try to register a Device to the central server that contains a description

Fix coming shortly!

[2015-04-10 09:59] arceduardvincent opened #3499 "Scatter Report Inconsistent behaviour when the view ports < 768px."
Branch: Develop.

Expected behaviour: When the view port < 768 the `Chart quadrant` must be responsive and bootstrap compatible.

Current behaviour: The `Chart quadrant` has a fix width  and a fix height.Whenever the viewport is change the chart over laps the header and footer.

Steps to reproduce:
1. login as admin / teacher
2. Click `TEACH` in the `navigation menu` it will navigate to the `coach

[2015-04-10 15:14] ruancilliers opened #3500 "Xhosa Language Pack not working"
Dear Khan Lite,

The Xhosa Language packs are not working. Please see the attached screen shots...

branch:master
Note this is the latest update available ( I updated the Khan server yesterday - 8 April 2015)

Screen Shot 1 - Firstly, after I downloaded the Xhosa language pack, I don't have the tree available to see which video's I still need.

I then had to copy the Xhosa Videos into the content

[2015-04-10 16:38] EdDixon opened #3501 "Deprecated playlist on homepage preventing installer upgrades"
In upgrading from 0.12 to 0.13 using installer the playlists.js references appear to break proper formatting of the landing page.![screenshot from 2015-04-10 10-20-46](https://cloud.githubusercontent.com/assets/4349806/7092285/9de4f388-df6d-11e4-8198-865634058f08.png)

[2015-04-10 18:07] MCGallaspy opened #3502 "Fix a broken test"
Namely, the coach logout link test that keeps failing on `develop`.

[2015-04-10 21:08] #3501 closed

[2015-04-10 22:39] MCGallaspy commented on #3221
The problem is that the height of the scrollable content in the columns is fixed (at the window height), so it doesn't change when you scroll.

[2015-04-10 23:11] rtibbles commented on #367
Closing. Will be addressed by Coach Report redesign.

[2015-04-10 23:11] #367 closed

[2015-04-11 18:53] alexkchan commented on #3399
Downloaded the latest version of PyPy off Brew, Ka-Lite seems to be working fine with the latest develop

[2015-04-12 13:31] tim-moody opened #3513 "French Language Pack - ? wrong video codes"
I have managed to download all but two videos, but they repeatedly fail with Erreur pendant la mise à jour : 0 de 2 vidéos téléchargées.

Could the dubbed_video_mappings.json have the wrong youtube id.  (I am guessing about how this all works)

The 2 missing are:
 La médiane et le centre de gravité du triangle №-2.
 Exemple d'utilisation du théorème de Stokes, partie 3: Surfaces et intégrales doub

[2015-04-12 17:08] jamalex commented on #3355
Is this referring to the SVGs in the exercises? If so, we don't have any control over these, and the issue will need to be opened on https://github.com/Khan/perseus (with some concrete examples).

[2015-04-13 07:41] cpauya opened #3516 "Using vagrant throws some errors."
**Branch** develop
**Target** 0.14.x
**OS** OS X 10.10.3
**Expected Behavior**
Doing a `vagrant up`, or doing a re-provision, must work without errors.

**Current Behavior**
Here's a sample output of doing a `vagrant up`:

[code]

**Possible Solution**
It prompted to update the packages so doing a `sudo apt-get update --fix-missing` inside the vagrant box should work, then you can run `vagrant pro

[2015-04-13 18:18] #3516 closed

[2015-04-13 22:00] MCGallaspy commented on #3513
Hi @tim-moody thanks for opening this issue. Could you please indicate what version of KA Lite you're using?

[2015-04-13 22:40] tim-moody commented on #3513
Not sure how to tell here is version.py
# THIS IS USED BY settings.py.  NEVER import settings.py here; hard-codes only!
# this is actually 0.12.5, but we need to update language pack version fallbacks before changing here
VERSION = "0.12.0"
VERSION_INFO = {

    "0.12.11": {
        "release_date": "2014/12/20",
        "git_commit": "b880fe4",

 kalite kalite 1034689 Apr 11 21:01 dubbed_video_map

[2015-04-13 22:50] MCGallaspy commented on #3513
@tim-moody that will do. It should also list the version in the footer of the app when you load it in the browser.

[2015-04-14 00:11] #3307 closed

[2015-04-14 18:15] aronasorman commented on #3500
Downloaded Xhosa. Can replicate on 0.12.

[2015-04-14 19:20] ruancilliers commented on #3500
Dear Aron,

Do you mean you could replicate this problem, or do you mean that you downloaded the Xhosa package and it worked on your side? Is there any other steps that you need from my side or could you replicate the problem successfully? If not, I'm happy that you log into my server with teamviewer or a similar program so that you can see what the issue is.

Thank you for your support. We are re

[2015-04-15 01:22] radinamatic commented on #3358
Solved in  #3466.

[2015-04-15 01:22] #3358 closed

[2015-04-15 19:49] aronasorman commented on #3500
@ruancilliers not working on my side. Just to confirm, I've checked the crowdin projects for both `ka-lite` and `khanacademy`, and they both don't have translations. So I'm focusing my debugging solely on the dubbed videos.

Moving forward, I noticed that loading the topic tree for Xhosa (http://127.0.0.1:8008/api/videos/topic_tree?lang=xh) returns `None`, which gets converted to the JSON `null` v

[2015-04-15 19:51] aronasorman commented on #3500
@ruancilliers can you check that URL and see if that returns `null` for your installation too?

[2015-04-15 19:53] aronasorman commented on #3500
Oh and also, there's no basic addition mapping for Xhosa: https://docs.google.com/a/learningequality.org/spreadsheets/d/1k5xh2UXV3EchRHnYzeP6-YGKrmba22vsltGSuU9bL88/edit#gid=0

Which means your example won't work. To make basic addition work, you have to request KA to update their dubbed video mapping (the spreadsheet linked above.)

[2015-04-15 20:33] ruancilliers commented on #3500
Dear Aron,

Just to confirm, yes I only look at dubbed video's so you are on the right track. I did check the link in the spreadsheet and I could find the mapping for the Xhosa video for basic addition. So I'm not sure why you say you can't find it. Search for the string OCCY8Hk7_dQ in the document. This is the basic addition Xhosa dubbed video. Also you will find it on youtube https://www.youtube

[2015-04-15 21:11] ruancilliers commented on #3421
Dear Khan Lite Support Team,

Is there any progress on this issue?

Let me know if I can assist in any other way for debugging purposes. You can also long into my server using TeamViewer if needed.

Let me know... Kind Regards,
Ruan

[2015-04-15 21:13] MCGallaspy commented on #3041
The way we resolve this will probably depend on what comes out of the discussion for #3521. @benjaoming is this another instance where we can use Django client tests instead of `LiveServerTestCase`s?

[2015-04-15 21:16] jamalex commented on #3421
@ruancilliers I believe this was fixed in a recent 0.12.x patch release (over a month ago now), and should be fixed in the latest master branch version (0.12.11). Can you clarify what exact version you're running on (you said "Branch: 0.12.0", but that's not the name of a branch, and version 0.12.0 would be very old). Try checking out master and pulling the latest version from there, and restartin

[2015-04-15 21:24] ruancilliers commented on #3421
Dear Jamie,

I pulled the latest master from GIT and did an update on my Khan Lite
Server. This was done on 8 April, so I should be on the branch version
(0.12.11) - For interest sake, with which command can I check on which
version I'm on?

In any case as this is the latest version, I tried to access that user and
I still get the same error. Is there a log or something that I can send you
to veri

[2015-04-15 21:27] #3228 closed

[2015-04-15 21:30] MCGallaspy commented on #3041
[Django docs suggest](https://docs.djangoproject.com/en/1.5/topics/testing/overview/#module-django.test.client) client test cases are not appropriate in this instance:

[2015-04-16 01:09] cpauya opened #3525 "Basetests are failing for `kalite`."
**Branch** Develop
**Target** 0.14.x
**Current Behavior**
Base tests are failing because we also test `securesync` which now has a different version.

**Expected Behavior**
Base tests must pass.

**To reproduce**
1. Go inside your vagrant box at `/home/vagrant/ka-lite/`
1. Make sure ka-lite is not running.
1. Run `python kalite/basetests/tests.py`.
1. Notie the following output:

    ...
    ...im

[2015-04-16 10:48] benjaoming commented on #3041
Yeah, agreeing with the docs :) If it involves JS, use Selenium... if it doesn't use the test client. Maybe the difference can be expressed in the naming conventions of the behave helpers? Like `test_with_javascript_that_element_exists`.

[2015-04-16 17:01] #3525 closed

[2015-04-16 17:30] ruancilliers commented on #3500
Dear Aron,

Just to confirm, I do get a null value return when I type in the url as you requested. See the attached screen shot...

Let me know if you need anything else from me.
Great!
Ruan

![null value returned](https://cloud.githubusercontent.com/assets/11680550/7187148/0042a06a-e46f-11e4-8dcf-d0f3cc114094.JPG)

[2015-04-16 18:54] MCGallaspy commented on #3041
Instead of using behave to test how a template is rendered, I'd like to use the unittest framework. In principle, can't we comprehensively test our views as black boxes just by feeding in different requests and inspecting the returned HTML? In many cases this won't be possible, since the behavior of the site depends on AJAX stuff after the template is rendered (both in this instance and in #3521)

[2015-04-16 23:59] EdDixon opened #3529 "Scripts are not installed correctly for Windows"
The kalite command is designed to be used as system level command on windows systems however to have this functionality the git installation of 0.13.x needs to add the path " ..\kalite\bin" to the windows environment in order to provide the commands path. Because we no longer have the start and stop bat files available in this release this prevents the user from even starting the program and also

[2015-04-17 00:24] EdDixon opened #3530 "0.13.x kalite commands do not resolve paths with specific user names"
Many of the related kalite command scripts such as kalite start rely on env paths and system paths, then building complete paths out from those. The current scripts are not allowing the use of certain systems usernames on Windows which are required by the scripts to create the internal paths needed. Currently the restriction is that "User Name must contain only letters, digits, and underscores, an

[2015-04-17 06:17] arceduardvincent commented on #3455
Hi @aronasorman and @Joymysoy my fix is merge.
Can we close this issue, I think it is done.

[2015-04-17 19:45] rtibbles commented on #3315
@Antrikshy could you take a look at this?

[2015-04-17 19:57] radinamatic commented on #3350
Fixed in #3527

[2015-04-17 19:57] #3350 closed

[2015-04-17 21:24] jcoupe commented on #2482
Hi,  I am running into similar issues in installing KA-LITE on my Raspberry Pi.  I got a similar error message as the one above, and I tried first to reclone - but in accessing github, I need to use sudo to do this.  When I tried to clone from my own personal account without sudo, I get a message stating that I cannot generate the "tree."

It appears Ka-Lite requires that a non-su user start the s

[2015-04-17 21:42] Antrikshy commented on #3315
@rtibbles Sure.

[2015-04-19 04:32] EdDixon commented on #3116
Closing this issue as we now have the installers repo which deprecates this one and there is more information there but for the record the LF/CRLF issues were found to not be affecting the scripts functionality although there is an open issue in installers to clean those to make them more transparent in form and function to the end user.

[2015-04-19 04:32] #3116 closed

[2015-04-20 16:32] MCGallaspy commented on #2482
Hi @jcoupe, I think you can edit the `/etc/fstab` to give user in a particular group permissions to mount a usb drive. Then you will just need to add the "Pi" user to that group.

[2015-04-20 16:35] #3455 closed

[2015-04-20 17:04] EdDixon commented on #2991
FIxed in 13.x requires the user to navigate in shell to the installation folder where bin/kalite but now works from there as designed. Closing...

[2015-04-20 17:04] #2991 closed

[2015-04-20 19:50] jcoupe commented on #2482
Thanks Michael - I'm a novice, and looking forward to getting this up and
running!  This looks like a good solution.  Will let you know how it
goes.

On Mon, Apr 20, 2015 at 12:32 PM, Michael Gallaspy <notifications@github.com

[2015-04-20 20:56] Antrikshy commented on #3315
Should I make it move out of the way only on smaller screens, @rtibbles?

[2015-04-20 21:14] rtibbles commented on #3315
Yeah, that should work, I think. What happens to it when you click on the burger to expand the collapsed top nav?

[2015-04-20 21:58] Antrikshy commented on #3315
It overlaps. :(

I'll fiddle with it.

[2015-04-21 17:47] EdDixon opened #3536 "Some questions do not contain the needed content to answer them."
Trying to make this as vague as possible because I do not want to point to a specific cause (I have no idea what that cause is) so I will leave this picture of the issue encountered? I think it may be relatd to how the equations are rendered in our code as the same question at the khan academy offical site works fine I will include both pics for reference?
![2015-04-21_10-23-36](https://cloud.gith

[2015-04-21 18:21] EdDixon commented on #3536
I should note that this replicated on both RaspberryPi and Windows 8.1 ent.

[2015-04-21 19:06] ruancilliers commented on #3421
Hi Jamie,

Anything else that I can try as I still get the same error after updating
the server to the latest version?

Thank you for your help,
Ruan

On Wed, Apr 15, 2015 at 11:24 PM, Ruan Cilliers <ruan.cilliers@gmail.com>
wrote:

[2015-04-21 19:12] ruancilliers commented on #3500
Hi Aron,

Just to let you know, I managed to get all of the dubbed video links to display... I just had to copy the video's into the content folder and the xhosa dubbed links automatically appeared. Still all of the xhosa links plays the english version. So I guess with the next update all of the dubbed Xhosa links should work?

Thank you for your assistance and let me know if you need any other i

[2015-04-21 19:15] aronasorman commented on #3500
Oh, strange. Sorry for not responding @ruancilliers, I'm still trying to figure out why it's returning a `null` value. I'll keep working on this to find the root cause, and hopefully have a fix for the 0.13 line.

[2015-04-21 19:20] ruancilliers commented on #3500
Fantastic! Thank you for your time Aron. Let me know if you need any other analysis to be done from my side. If you need logs etc. let me know... Chat then soon!

[2015-04-21 20:26] Antrikshy commented on #3315
@rtibbles Check out #3537!

[2015-04-21 21:06] aronasorman commented on #3500
Testing on 0.13: Not working on Xhosa.. Tested French, working perfectly.

[2015-04-21 21:09] ruancilliers commented on #3500
Hi Aron,

Can I supply you with logs to help find the bug? Please let me know how I
can assist. Thank you so much for your time and effort on this bug. I will
help in any way that I can...

Ruan

On Tue, Apr 21, 2015 at 11:06 PM, Aron Fyodor Asor <notifications@github.com

[2015-04-21 21:15] aronasorman commented on #3500
@ruancilliers thanks. I'm getting these files when downloading Xhosa videos:
[code]
Notice that it's putting the videos in the root dir and concatenated with `content` rather than putting them in the content dir. I wonder if that's the reason? Is it the same in your case @ruancilliers?

[2015-04-21 21:40] ruancilliers commented on #3500
Hi Aron,

This could most probably be the issue... Unfortunately I don't have the
option of downloading Xhosa Video's. See the attachment. How do I check
which version I'm on to make sure I'm on the latest version?

Thank you,
Ruan

On Tue, Apr 21, 2015 at 11:15 PM, Aron Fyodor Asor <notifications@github.com

[2015-04-21 21:44] aronasorman commented on #3500
The installation you're running on your screenshots is the 0.12.x line. To know the precise version, look inside `kalite/version.py`.

Also, we just released the release candidate for this upcoming version of KA Lite, 0.13.0. If you wanna test it out, you can download the windows installer from [here](https://learningequality.org/downloads/ka-lite/0.13/installers/windows/KALiteSetup-0.13.0-rc1.exe

[2015-04-21 21:44] aronasorman commented on #3500
Also, the above might be an issue with 0.13.x too. I'll try fixing it today-tomorrow and see if we can get it in for 0.13.

[2015-04-21 22:14] ruancilliers commented on #3500
Great Aron,

Thank you for your help. I hope you can get the bug fix before you release
the 0.13 line...

Really appreciate your help. Let me know when you have fixed it and I will
test the candidate version on my side...

(In South Africa it is 00:15am now, so I will continue the support tomorrow)
Great!
Ruan

On Tue, Apr 21, 2015 at 11:44 PM, Aron Fyodor Asor <notifications@github.com

[2015-04-21 22:15] #3355 closed

[2015-04-21 22:26] aronasorman opened #3538 "Getting logged out refreshes the page, but doesn't bring up the modal."
When I restart the server, it logs me out (expected), but it simply leads me to this:
![login](https://cloud.githubusercontent.com/assets/191955/7263925/c46925f8-e83a-11e4-8010-54880e3b2446.png)

And doesn't show the modal anywhere. In develop, but maybe it's extant in 0.13.x too.

[2015-04-21 22:27] aronasorman commented on #3538
Firefox 37, btw.

[2015-04-21 22:48] aronasorman commented on #3500
It's working now, I've successfully played a foreign language video (that I presume is Xhosa). Will push a fix.

[2015-04-21 22:52] MCGallaspy commented on #3538
Are you saying that you expect a redirect from an unauthorized page to display the modal?

[2015-04-21 23:06] aronasorman commented on #3538
Yes.

[2015-04-21 23:06] rtibbles commented on #3538
Yes. It is designed to do this, so if this is not happening, definitely a
bug.

On Tue, 21 Apr 2015 15:52 Michael Gallaspy <notifications@github.com> wrote:

[2015-04-21 23:09] ruancilliers commented on #3500
That is FANTASTIC news! Thank you so much Aron!

On Wed, Apr 22, 2015 at 12:48 AM, Aron Fyodor Asor <notifications@github.com

[2015-04-21 23:50] jamalex commented on #2482
Depending on the filesystem, you can probably also create a folder on the external USB drive and set the permissions (`sudo chmod +rw foldername`) to be readable/writable, or to belong to your regular account (`sudo chown yourusername:yourusername foldername`). You don't want to have to use `sudo` when cloning.

[2015-04-21 23:58] aronasorman commented on #3500
Nice, github has a feature where this will auto-close when 0.13 gets merged to master :)

[2015-04-22 05:28] quentusrex opened #3539 "git submodules pointing to git url instead of https"
kmath and simple-markdown submodules are pointing to the git url instead of the https url which causes the submodules to fail when cloned from a VM instance without an ssh key registered with github.

[2015-04-22 06:13] ruancilliers commented on #3500
Thank you Aron, by when will 0.13 be merged to the master, so that I can do
an update on our server? Is there a prospective date yet?

On Wed, Apr 22, 2015 at 1:58 AM, Aron Fyodor Asor <notifications@github.com>
wrote:

[2015-04-22 15:45] aronasorman commented on #3500
The merge date is scheduled this Monday, April 27. Although you can pull it now and download the latest videos by running:

[code]

on a different directory.

And then copy over the database to that new copy of KA Lite and see if it fixes Xhosa language packs for you.

[2015-04-22 21:36] MCGallaspy commented on #3421
version I'm on?

You should be able to see the version in the footer of the web app. I'm guessing your database is in an errored state somehow; sorry, I'm sure that's not very helpful, but it's difficult to say anything more substantial with the information you have provided. Can you provide more detailed steps on how to reproduce the error? I mean starting from creating the student account to rea

[2015-04-23 00:14] aronasorman opened #3541 "Silent MemoryErrors"
Branch: develop

Debugging https://github.com/learningequality/ka-lite/pull/3519 has led to strange failures at the very end of the KA Lite startup process, inside a Vagrant Virtualbox VM with 495 MB available (the default for trusty32). It turns out that at the very end of our startup sequence, `kalite`'s memory usage spikes up to around 508 MB, making the OS kill it, but somehow not leading pyth

[2015-04-23 06:22] amodia opened #3544 "Register device link redirect to page not found."
Branch: `Develop`
Expected behavior: `register device link` must not redirect to page not found.
Current behavior: `register device link` redirect to page not found
Steps to reproduce: log in as coach and click the `register device link`.

![ka-lite-a](https://cloud.githubusercontent.com/assets/8663934/7291451/49b96194-e9c3-11e4-9677-cba514877c87.gif)

[2015-04-23 07:25] amodia opened #3545 "Video and language tabs redirect to page not found."
Branch: `Develop`
Expected behavior: Video and language tabs must not redirect to `page not found`.
Current behavior: Video and language tabs redirect to `page not found`.
Note: Make sure that your device  is not registered on central server.
Steps to reproduce: Log in as coach and navigate to manage tab and click video and language tabs.

![ka-lite-a](https://cloud.githubusercontent.com/assets/86

[2015-04-23 16:01] aronasorman commented on #3396
Merged #3519. What else needs to be done for this issue @benjaoming?

[2015-04-23 16:12] benjaoming commented on #3396
See the task list at the top ;) I'll make sure that it's moved to a new issue ASAP.

[2015-04-23 16:51] radinamatic opened #3546 "Unable to access videos & exercises as a logged-in user: "no such column: main_attemptlog.response_count" error"
Branch: develop (after fetching today's upstream)

Expected Behavior: After choosing the topic from sidebar, user should be able to see the exercise or video.

Current Behavior:
- If the chosen activity is a video: sidebar folds back and leaves a blank screen
- if the activity is exercise: "no such column: main_attemptlog.response_count" error appears with a traceback (see the screenshot)

Steps t

[2015-04-23 19:03] radinamatic commented on #3546
I don't know if it's related but I just noticed another error message at the bottom of the screen while trying to view videos:

"File failed to load: http://192.168.1.33:8008/static/perseus/ke/third_party/MathJax/2.1/extensions/MathMenu.js"

I have no "extensions" folder inside \ka-lite\kalite\static\perseus\ke\third_party\MathJax\2.1, therefore no MathMenu.js or any other ftm...

![failed_load_ma

[2015-04-23 19:04] rtibbles commented on #3546
This is unrelated, and is due to something funky I made happen to be able to compile our static files. I will probably undo it at some point.

Make sure to do a syncdb --migrate to see if it resolves the main issue.

[2015-04-23 19:33] radinamatic commented on #3546
Did the syncdb --migrate and got this output:

Syncing...
Creating tables ...
Installing custom SQL ...
Installing indexes ...
Installed 0 object(s) from 0 fixture(s)
Migrating...
Running migrations for facility:
- Nothing to migrate.
 - Loading initial data for facility.
Installed 0 object(s) from 0 fixture(s)
Running migrations for config:
- Nothing to migrate.
 - Loading initial data for config

[2015-04-23 19:57] radinamatic opened #3548 "Error while upgrading language packs: No such file or directory: '...ka-lite\\kalite\\legacy\\data\\video_file_sizes.json'"
Branch: develop (after fetching today's upstream)

Expected Behavior: Updating language packs should not report any errors (it never did for me until now).

Current Behavior: Updating language packs starts without problems, seems to be done correctly (state is "Up to date" for the selected language), but at the end of the process there is an error message:

Error during update: Error: [Errno 2] No

[2015-04-23 21:52] benjaoming commented on #3548
@radinamatic thanks for the great and perfectly detailed report.

We have cleaned up a lot of locations of data for the project and unfortunately our test system didn't catch all mistakes.

Will fix this now...

[2015-04-23 22:18] radinamatic commented on #3548
Ohhh, the pleasures of contributing to bug-catching... :)

[2015-04-23 23:23] kyconquers opened #3550 "develop branch (.14) leaks processes on linux."
it seems 'kalite start' creates a new process and 'kalite stop', stops the web server, but doesn't stop the process from 'kalite start'

<user>+ 25712  0.0  1.7 237600 36452 ?        Sl   16:04   0:00 /usr/bin/python2 /usr/src/ka-lite/kalitectl.py start
<user>+ 25885  0.0  1.8 165568 38028 ?        S    16:06   0:00 /usr/bin/python2 /usr/src/ka-lite/kalitectl.py start
<user>+ 26077  0.0  1.8 16493

[2015-04-23 23:26] aronasorman commented on #3550
Very interesting! @benjaoming

[2015-04-24 01:59] benjaoming commented on #3550
Thanks for the report @kyconquers

I concur that there are issues about stopping kalite processes, but I'm not sure they're as consequent as implied here... it normally works fine for me, but if I start another KA lite on top of a running one, things start going wrong...

I'll investigate further!

[2015-04-24 16:09] aronasorman commented on #3548
Managed to replicate this error on develop. Merged Ben's PR, which now fixes this.

[2015-04-24 16:09] #3548 closed

[2015-04-24 16:25] rtibbles opened #3552 "Adding to INSTALLED_APPS in local_settings.py deletes all existing INSTALLED_APPS"
Branch: develop

Expected Behaviour: Adding INSTALLED_APPS in local_settings.py should concatenate it to the tuple of INSTALLED_APPS.

Current Behaviour: Adding INSTALLED_APPS in local_settings.py overwrites the tuple of INSTALLED_APPS.

@benjaoming this seems to have changed with your latest changes in develop, but I can't for the life of me see where this might be happening. Any ideas?

[2015-04-24 16:43] radinamatic commented on #3548
Confirming a successful language pack upgrade with this patch! :)

![success_lang_pack_upgrade](https://cloud.githubusercontent.com/assets/1457929/7323813/acd76de0-eab1-11e4-996f-d23636c66f48.png)

[2015-04-24 16:59] radinamatic opened #3553 "Empty modal dialog with simplified login"
Branch: develop (with latest upstream)

Expected Behavior: Pressing the "Login" button should open the modal dialog (with simplified login option if you have it in local_settings.py).

Current Behavior: After fetching the latest upstream I tried to login and got an empty modal:

![empty_modal](https://cloud.githubusercontent.com/assets/1457929/7324059/5e32a1da-eab3-11e4-9e65-cd539cd9f22c.png)

Had

[2015-04-24 17:08] rtibbles opened #3554 "Abandon icomoon classes and use Bootstrap bundled Glyphicons instead"
Currently we are using specially imported icomoon fonts for our topic tree icons.

As we have Bootstrap 3 embedded, it makes sense to use the glyphicons that come bundled with it, rather than adding an extra set of icons to maintain.

@jtamiace What are your thoughts on this? It would basically mean redefining our icon classes with glyphicon definitions.

[2015-04-24 20:26] benjaoming commented on #3552
First, I'll say have to things the harsh way: Of course that shouldn't concatenate anything!! That would be pure black magic!!

But I can understand that there may be project settings that would expect this. What's your take on this @rtibbles ?

[2015-04-24 20:30] benjaoming commented on #3552
I wasn't aware that this was a convention, but do we want to keep it? I don't mind breaking bad conventions at some point, but I wouldn't wanna break them without introducing a proper alternative... so since the whole project refactor is not in place yet, it might be better to keep it...

[2015-04-24 20:49] benjaoming commented on #3552
Sorry, I didn't answer the last part :) Where things are happening is in `kalite.settings.base`. At the very bottom.

[2015-04-24 21:00] benjaoming commented on #3548
Thanks for checking back in with a confirmation @radinamatic :)

[2015-04-24 23:55] rtibbles commented on #3552
@benjaoming I am quite happy for bad conventions to be broken, I assume in future the way we would add something like this would be through the plugin architecture you had previously proposed?

[2015-04-24 23:56] rtibbles commented on #3546
This is due to a bug that was extant on 0.13/develop that has now been fixed. Any database created with the buggy repo needs to be dropped and reinitialized.

[2015-04-24 23:58] rtibbles commented on #3539
This comes from inclusion of the Khan Academy Perseus repo, if you would like this rectified, please open an issue there. The Perseus repo comes pre-built in KA Lite, so there is no need to clone the submodules at this time.

[2015-04-24 23:58] #3539 closed

[2015-04-25 00:10] benjaoming commented on #3552
Not the plugin architecture per say, but the settings arch that would be
part of splitting project logic from app logic... so I'm all for keeping a
`settings.local` pattern where you can put local settings there.. it can be
quite convenient. In the longer run, it's easier though to use perhaps a
few common options for the `kalite` command or environment variables with
one's own project such as "DJ

[2015-04-25 00:11] benjaoming commented on #3552
Not the plugin architecture per say, but the settings arch that would be
part of splitting project logic from app logic... so I'm all for keeping a
`settings.local` pattern where you can put local settings there.. it can be
quite convenient. In the longer run, it's easier though to use perhaps a
few common options for the `kalite` command or environment variables with
one's own project such as "DJ

[2015-04-25 02:15] radinamatic commented on #3546
Got migration errors after flushing db, and had to literally remove the old data.sqlite file from the folder and run the ``manage setup`` again.

Anyway, I'm not getting the "no such column: main_attemptlog.response_count" error anymore, but I'm still unable to view any videos (neither old, nor newly downloaded).

[2015-04-25 06:22] cpauya opened #3558 "Margin issue with the fields at the login modal dialog."
**Branch** develop
**Target** 0.14.x
**Browser** Firefox v36.0.4
**Expected Behavior** The username and password fields should have left and right margins.
**Current Behavior** Not sure if this is intended behavior but currently there's no left and right margins for the fields.  Please see attached screenshot.

![screenshot 2015-04-25 14 18 12](https://cloud.githubusercontent.com/assets/175580/733

[2015-04-25 09:38] mannyack opened #3559 "Anomalies building RACHEL images"
I am in the process of rebuilding the RACHEL images for worldpossible.org that will be compatible with the older models and the new RPi2. As you may know, KA-Lite is included in the 64gb version of RACHEL.

I successfully installed KA-Lite, following the instructions on your web-site for installation on Linux, not the extended instructions for the RPi wifi. Because of the issues listed below, I tr

[2015-04-25 23:59] jamalex commented on #3559
Version 0.13 will be released on Monday (after 10 months in the making), and would be the best version to use for this. A number of the issues (e.g. [7007 vs 8008](https://github.com/learningequality/ka-lite/issues/2695)) have been resolved in this new version, though we haven't been able to do testing with a Model 2 yet (would be great to hear how it goes).

The new version lives on the "0.13.x"

[2015-04-26 17:08] mannyack commented on #3559
Hi Jamie,

What I have done testing your new version so far:

1) Installed 0.13 on RPi model 2.
- Started with the basic RACHEL image I am building which is based on
the raspbian image from 2015-02-16.
- Deleted other Khan modules.
- git clone for the 0.13 version
- copied assessment.zip into /home/pi
- bin/kalite manage setup
- copied a large set of videos into ka-lite/content
- started ka-lite
-

[2015-04-27 16:30] aronasorman opened #3561 "No way to switch subtitles"
Branch: 0.13.x
Browser: Firefox 37

Alright, so I have subtitles downloaded for both English and French:
![image](https://cloud.githubusercontent.com/assets/191955/7352362/e8dd3dc8-ecbf-11e4-8ce0-155a44045a9c.png)

But there's no way in the interface to activate the subtitles for the given videos:
![image](https://cloud.githubusercontent.com/assets/191955/7352338/cf4cb8b6-ecbf-11e4-807b-20a108689c

[2015-04-27 16:50] aronasorman commented on #2284
We work for WIndows 8 now as per @EdDixon's testing.

[2015-04-27 16:50] #2284 closed

[2015-04-27 16:50] aronasorman commented on #762
In progress in the learningequality/installers repo.

[2015-04-27 16:50] #762 closed

[2015-04-27 16:51] aronasorman commented on #2239
Already do so for 0.13. Check out the [dungeon server](http://dungeon.learningequality.org:8085/allPlans.action;jsessionid=077A25E8AEBDD8810CF4375D248D1BEA).

[2015-04-27 16:52] #2239 closed

[2015-04-27 16:53] aronasorman commented on #2911
Should we do this now @jamalex? ;)

[2015-04-27 16:54] aronasorman commented on #2911
I'm no longer running python2.6 myself, as Ubuntu only provides a debug version of 2.7 and above.

[2015-04-27 16:56] aronasorman commented on #2911
I think the way forward for this is to put a warning on 0.14 on the admin's login that will pop up if we detect that they're using 2.6. Then we remove 2.6 support on 0.15.

[2015-04-27 17:01] benjaoming commented on #2911
Yes, good idea... maybe just throw a big fat DeprecationWarning in 0.14 from kalite.__init__ if the python version is < 2.7 ? (I don't know if we should be more specific, I can't see that [__future__](https://docs.python.org/2/library/__future__.html#module-__future__) or [Django 1.7 release notes](https://docs.djangoproject.com/en/1.8/releases/1.7/#python-compatibility) cause for any worry about

[2015-04-27 17:21] aronasorman opened #3562 "Move version.py version metadata to YAML"
I've had a couple of stupid commits before amending my mistakes when editing this file directly. If only there was a more human-friendly version of JSON, meant for humans to use...

Oh cool there is one: http://yaml.org/spec/

So my suggestion for here is to create a new pre-commit hook that will convert the yaml file to JSON before committing. That JSON file will be the one that's read by `versio

[2015-04-27 17:26] aronasorman commented on #3562
@ruimalheiro wanna take this on? This should be pretty simple.

[2015-04-27 17:31] jamalex commented on #3562
I would recommend just having the conversion to JSON (which is just for efficiency, I'm assuming) happen during the build process, since:
- we can't rely on everyone having these precommit hooks
- we can just have version.py load the YAML directly during development

It could look for the JSON file, and fall back to the YAML if the JSON didn't exist (might be good as a general-purpose function, as

[2015-04-27 17:35] aronasorman commented on #3562
@jamalex sounds good.

[2015-04-27 17:42] benjaoming commented on #3562
Isn't the problem that we _aren't_ putting things in kalite.version and isn't that actually more a problem about not doing things conventional and accessible enough for devs?

I would suggest maintaining a CHANGELOG.md for conventionality. If we desire to show it to users, either dynamically render it to HTML with python-markdown (but don't think it's available) or automatically build an HTML vers

[2015-04-27 17:51] jamalex commented on #3562
In the web-based update process, we've experimented with displaying the incoming changes to the admin, so they can choose whether to update, and know what they'll be getting. So, a machine-readable format is useful for things like that. But the idea is just to have very high-level items in there, not a full changelog.

[2015-04-27 18:12] benjaoming commented on #3562
I'm not sure I understand correctly? If you're running a local 0.13, it won't have the YAML / kalite.version of 0.14 so you can only display the changes after upgrading? Or you mean that people should see them by calling an external online webservice?

[2015-04-27 20:19] jamalex commented on #1517
Interface no longer exists.

[2015-04-27 20:19] #1517 closed

[2015-04-27 20:23] jamalex opened #3563 "Language pack downloading interface needs styling overhaul"
Examples of things needing improvement:
- Beta language pack checkbox/text positioning
- Position/padding on progress bar areas
- Spacing on language pack metadata in top-left panel
- Overall padding/alignment in bottom panel

![image](https://cloud.githubusercontent.com/assets/618416/7356883/0d34cd1a-ece0-11e4-9155-bb90a9d30309.png)

[2015-04-27 21:02] jtamiace commented on #3554
![teacher](https://cloud.githubusercontent.com/assets/6668144/7357373/2c278e8a-ece3-11e4-95f4-f11ab3b2f900.PNG)
Image for reference.

I'd be fine with using glyphicons, but the only thing is that there is no icon available that conceptually matches the 'language' tab and you can't customize.
http://getbootstrap.com/components/#glyphicons-glyphs

Suggestions if there is a switch to glyphicons:
User

[2015-04-27 22:19] Antrikshy commented on #3563
Did someone say "styling overhaul"?

Assign me!

[2015-04-27 22:20] aronasorman commented on #3563
You asked for it.

[2015-04-27 22:21] Antrikshy commented on #3554
How about Font Awesome? Add icon library once, use anywhere. We could fall back on it for anything missing in Glyphicons.

[2015-04-27 23:05] Antrikshy opened #3565 "Language admin page cannot connect to server (develop branch)"
It was working at one point and now it's not. Browser cannot seem to access `http://staging.learningequality.org/api/i18n/language_packs/available/0.14?callback=jQuery1910085123504512012_1430175841598&_=1430175841599`, although I can open it directly. So language packs don't load. I have tried setting `CENTRAL_SERVER_HOST = 'hub.learningequality.org'` and tried multiple browsers. It's a server bug

[2015-04-27 23:39] Antrikshy commented on #3563
Is there a reason this space exists?

![screen shot 2015-04-27 at 4 38 18 pm](https://cloud.githubusercontent.com/assets/6601788/7360123/e52e1c88-ecfb-11e4-9cda-78631e8eb200.png)

@rtibbles?

[2015-04-27 23:46] rtibbles commented on #3563
It's where the download progress indicator goes, methinks.

On Mon, 27 Apr 2015 16:39 Antriksh Yadav <notifications@github.com> wrote:

[2015-04-27 23:51] aronasorman commented on #3563
It's all up for an overhaul though @antrikshy. You can change the location of the progress indicator.

[2015-04-28 00:18] #2470 closed

[2015-04-28 00:18] #3500 closed

[2015-04-28 12:46] benjaoming opened #3567 "Ambiguous setup question"
During `kalite manage setup` I'm asked this:

Which confuses me -- is it a hostname, a domain, a name to display for the user? It would be nice if the text stated the purpose.

Also, @aronasorman how about if we have a label called "easy-pickings" ? It would be nice to collect little things like this so that acts of procrastination can find good use :)

[2015-04-28 12:50] benjaoming opened #3568 "assessment.zip 404"
Running current develop `kalite manage setup`

[code]

[2015-04-28 12:51] benjaoming commented on #3568
@jamalex hope it's okay to assign you ;) it's just pretty critical to get the assessment.zip, and I think it's a matter of just copying the 0.13 tree for now?

[2015-04-28 15:59] aronasorman commented on #3568
Ah it's because we don't have 0.14 assessment zips for now :) I can make one now by just copying the one we have from 0.13 to 0.14. Although @rtibbles @jamalex are we planning to pull in the latest KA content? If so, we might want to generate a new assessment zip for 0.14.

[2015-04-28 16:02] jamalex opened #3570 "Availability stamping needs to be enabled on all videos when there is a backup video source"
On the demo server, we include the setting:
`BACKUP_VIDEO_SOURCE = "http://s3.amazonaws.com/KA-youtube-converted/%(youtube_id)s.%(video_format)s/%(youtube_id)s.%(video_format)s"`
which enables videos to be loaded directly from Amazon. This means that all videos should be marked as available in the sidebar when this setting is on. We also need to make sure it's using that URL pattern to load the vi

[2015-04-28 16:09] jamalex opened #3571 "Loading animation/text needed on potentially slow places in the site"
Branch: master (0.13)

Observed: A number of pages/interfaces on the site are slow to load, and just leave the user "hanging" while looking at an empty space.

Desired: We should put a loading animation or at least some "Loading . . ." text in these places, which then gets replaced when the content loads and is rendered.

Hotspots:
- The Learn tab, on first page load. The topic tree data takes a w

[2015-04-28 16:17] jamalex commented on #3568
We'll want to pull in the latest KA content right before the code freeze, I think. In the meantime, I've copied the old assessment.zip into 0.14.

[2015-04-28 16:17] #3568 closed

[2015-04-28 16:19] jamalex opened #3572 "Update KA content to latest for 0.14"
Soon before the code freeze, we'll want to update to the latest Perseus, new topic tree, and new content.

[2015-04-28 16:32] #3561 closed

[2015-04-28 18:42] MCGallaspy commented on #3536
Could this possibly be due to missing Mathjax source files? For example, I get a 404 for GET `http://127.0.0.1:8008/static/perseus/ke/third_party/MathJax/2.1/extensions/MathZoom.js` (and a couple others). The file is missing on `develop`. Where can I grab these missing files, @rtibbles?

[2015-04-28 18:42] Antrikshy commented on #3558
I was thinking of taking a look at this myself, unless someone else has grabbed it.

[2015-04-28 18:45] rtibbles commented on #3536
No, the 'missing' MathJax errors are due to some fiddling I did to try to
get Javascript Front End testing working. I will revert those changes on
develop prior to release.

On Tue, 28 Apr 2015 at 11:42 Michael Gallaspy <notifications@github.com>
wrote:

[2015-04-28 18:52] aronasorman commented on #3552
Will be working on this.

[2015-04-28 19:14] Antrikshy commented on #3571
How about an similar to this for the Learn tab?

![screen shot 2015-04-28 at 12 13 45 pm](https://cloud.githubusercontent.com/assets/6601788/7378122/0f2701cc-eda0-11e4-9dff-296a2771e258.png)

[2015-04-28 19:18] rtibbles commented on #3571
What would you think about having a dismissable modal overlay that we could use generically across the site to indicate loading?

[2015-04-28 19:20] Antrikshy commented on #3571
Yeah, I was thinking of that actually. How would we handle dismissing it though? I'm trying to figure out how to dismiss this overlay through Backbone when the topic tree is loaded. If there is a nice, standard way you can think of, I could easily put this in `base.html`.

[2015-04-28 19:21] rtibbles commented on #3571
http://getbootstrap.com/javascript/#modals-methods

On Tue, 28 Apr 2015 at 12:20 Antriksh Yadav <notifications@github.com>
wrote:

[2015-04-28 19:21] jamalex commented on #3571
@rtibbles I like the idea of something reusable. But we wouldn't really want the user to dismiss it, would we? And rather than a modal by default, perhaps it could be applied to any DOM element, so we could have the overlay apply to only a specific part of the page?

[2015-04-28 19:22] Antrikshy commented on #3571
Wait, user-dismissable? I don't understand what @rtibbles is saying.

[2015-04-28 19:22] jamalex commented on #3571
(That way, we could, for example, add an overlay on the exercise area showing it's loading, without blocking nav away from there to another page.)

[2015-04-28 19:22] jamalex commented on #3571
I would prefer to avoid modals.

[2015-04-28 19:22] rtibbles commented on #3571
My reason for having it be user-dismissable is as a fail safe in case we fail to dismiss it properly.

But yes, having it just apply to the DOM element would work too.

[2015-04-28 19:23] rtibbles commented on #3571
In fact, we could just add it as a method to the BaseView?

[2015-04-28 19:23] Antrikshy commented on #3571
Ohh. Yes, Bootstrap modals can be dismissed programatically. I meant to ask how can we detect when the pages and modals have been initialized? Is there a nice, standard way to do that?

[2015-04-28 19:23] jamalex commented on #3571
Nice. Then any view can just be "disabled", and the BaseView can handle adding a layer on top of its element to indicate this in a visually consistent way across the site.

[2015-04-28 19:24] Antrikshy commented on #3571
The overlay I have is nice and light. It can simply be removed from the DOM once everything has been initialized.

[2015-04-28 19:24] jamalex commented on #3571
Yep, seems nice as a first pass (we may want to consider some animation in there later). The suggestion is just to do it in a reusable way.

[2015-04-28 19:24] rtibbles commented on #3571
@Antrikshy presumably it would just get overwritten when the render method is finally called?

[2015-04-28 19:26] Antrikshy commented on #3571
Ah yes, `render` is called at the very end. Adding it to BaseView to selectively highlight parts of the UI would be nice. I should look into this BaseView.

[2015-04-28 19:27] jamalex commented on #3571
Probably good to use counters, in case there are multiple things needing loading.

A method `loading_started` would add 1 to `this._loading_counter`, and show the overlay.

A method `loading_complete` would subtract 1 from `this._loading_counter`, and hide the overlay if `this._loading_counter == 0`.

[2015-04-28 19:45] rtibbles commented on #3571
Do you mean for this instance, or as part of the general pattern? I think
just having a loading method is preferable and then letting people call it
and render as needed is best. Would rather avoid too much front end magic.

On Tue, 28 Apr 2015 12:27 Jamie Alexandre <notifications@github.com> wrote:

[2015-04-28 22:27] benjaoming commented on #3568
Thanks for quick processing @jamalex!!

[2015-04-28 22:47] rtibbles opened #3578 "Search autocomplete is ugly and twitchy"
Something weird has happened to the styling of search autocomplete between 0.13 and develop.

This may have been my fault.

Any CSS wizards available to hunt down where the styling has gone?

Also, I think this has always been the case, but it is twitchy when you mouse over it.

@jtamiace @Antrikshy?

[2015-04-28 22:51] #3494 closed

[2015-04-28 23:05] aronasorman commented on #3552
Here's your culprit: https://github.com/aronasorman/ka-lite/blob/7a4df9a9aeab85ebd7352596f9d72733a1233e5d/kalite/settings/base.py#L331-334

I believe it's @benjaoming who added this. @benjaoming are we free to remove this?

[2015-04-28 23:09] Antrikshy commented on #3578
:D

[2015-04-28 23:11] aronasorman commented on #3552
*free to remove it for now, since we haven't ported to a more robust settings scheme.

[2015-04-28 23:15] benjaoming commented on #3552
@aronasorman the fix is given above, no you shouldn't remove it since it's importing things that can potentially be intended to overwrite other settings options.

AFAIK it's only the INSTALLED_APPS that has the weird behaviour of being supposed to be concatenated to the existing list.

[2015-04-28 23:20] benjaoming commented on #3552
Well, the fix is somewhat given above, but let me make a PR and hopefully that should be the end of this :)

[2015-04-28 23:21] aronasorman commented on #3552
@benjaoming should we then add a warning that we're moving to settings.local then, and deprecating local_settings.py?

[2015-04-28 23:30] benjaoming commented on #3552
@aronasorman

Yes, that's a really good idea!! :+1:

[2015-04-29 00:03] #3502 closed

[2015-04-29 11:51] ruimalheiro commented on #3562
@aronasorman I will take a look on this! :+1:

@jamalex and @benjaoming thanks for the insights!

[2015-04-29 17:33] MCGallaspy opened #3581 "runserver fails on 0.13.x"
On `0.13.x`, the following command:
[code]

Results in:

[code]

[2015-04-29 17:38] aronasorman commented on #3581
You just have to clear your pyc fails. This happens after switching from develop to 0.13.x:

[code]

[2015-04-29 17:38] aronasorman commented on #3581
This is because we don't clear the pyc files on startup now.

[2015-04-29 17:38] #3581 closed

[2015-04-29 17:39] MCGallaspy commented on #3581
Bummer

[2015-04-29 17:39] aronasorman commented on #3581
I cannot into english today.

[2015-04-29 19:21] MCGallaspy commented on #3536
The assessment item API response for an offending exercise:
[code]

Just realized I'm still on develop, let me try it on 0.13.x though.

[2015-04-29 19:46] MCGallaspy commented on #3536
Confirmed that I don't see this issue on `0.13.x`.

[2015-04-29 19:46] aronasorman commented on #3536
Transferring to 0.14 then.

[2015-04-29 19:48] rtibbles commented on #3536
Should we, perhaps, merge in 0.13 into develop, and check if it is extant
then?

On Wed, 29 Apr 2015 at 12:47 Aron Fyodor Asor <notifications@github.com>
wrote:

[2015-04-29 19:53] MCGallaspy commented on #3536
Yup

[2015-04-29 21:07] #2970 closed

[2015-04-29 21:12] #2199 closed

[2015-04-30 01:37] jamalex commented on #3565
We're probably not building 0.14 language packs yet? @aronasorman?

[2015-04-30 01:38] jamalex commented on #3565
@aronasorman says we are. MYSTERY UNSOLVED!

[2015-04-30 02:25] jamalex opened #3584 "Streak bar behaves erratically when logged in as an admin"
Branch: master

Expected behavior: Admins should either see the same thing in the streakbar as other users, or not see a streakbar at all. Preferably the latter.

Observed: When logged in as an admin: after answering the first question on an exercise, the streak bar first expands a tiny bit as normal, then after a little bit continues to grow. Later, when you answer another question, it shrinks wa

[2015-04-30 02:25] jamalex commented on #3584
@EdDixon I think this is likely what you were observing during earlier testing, with erratic points stuff.

[2015-04-30 04:14] EdDixon commented on #3584
@jamalex very possible in my effort to test the installers in so many different environments I did not take the time to generate our test data set or in a lot of cases even take the time to create student and coach accounts (I did some but not all) so this is a very likely cause. I will confirm that real quick here almost done moving everything to the new setup here! Thanks,

[2015-04-30 17:18] EdDixon commented on #3584
@jamalex this is now confirmed logged in as student we do have the expected behavior and as admin we do not.

[2015-04-30 18:23] rtibbles commented on #3578
@Antrikshy It's because we lazily load the data when people focus into the search bar. This is to not load data from the server if it is not needed.

Another thing to bear in mind is that the search autocomplete dropdown list is styled much better on 0.13.x, so some of this is a regression issue. Take a look at the differences in the CSS for inspiration.

[2015-05-01 01:15] EdDixon opened #3587 "Not all characters or icons displaying correctly in Windows XP"
An issue was discovered during testing of the 13.1 branch on 4/30/2015 that may affect WIndows XP users. However, In discussion with other developers it was decided this is probably not an installer related issue so posting here. The red and green symbols showing correct or incorrect responses to assessment items do not render in windows XP and other symbols or characters may also be affected by t

[2015-05-01 03:05] MCGallaspy commented on #3587
This is probably an issue with the available fonts. Is it worthwhile to change our app to use images instead of unicode characters? Or choose unicode characters that have broader support? @rtibbles

[2015-05-01 17:04] aronasorman commented on #3553
@radinamatic can you check if this is fixed with the latest develop?

[2015-05-01 21:33] benjaoming commented on #3541
@aronasorman is this fixed now then? Or is the issue more generally about the silent failure of the cherrypy daemon? Because I was able to quite reliably make the cherrypy server die and the main process continue thinking that it had been started... and I'm not quite sure how to fix it in a nice way because this happens after `become_daemon()` in `django_cherrypy_wsgiserver.cherrypyserver`.

[2015-05-01 23:47] EdDixon commented on #3578
Other than different icons I did notice that the auto-complete list that is generated seemed to have different items listed? Screens show the difference between the two?
![2015-05-01_17-40-51](https://cloud.githubusercontent.com/assets/4349806/7438909/15896f28-f02a-11e4-91fc-c505dd9f6bd3.png)
![2015-05-01_17-42-02](https://cloud.githubusercontent.com/assets/4349806/7438913/22859d96-f02a-11e4-946b-

[2015-05-02 00:53] EdDixon commented on #3571
In addition to the side bar some of the content within the assessments can occasionally be a little slow to render as well. I can not thing of a specific example at the moment but will try to capture a quick video of one next time it is encountered. This content is also apparently not cached because I noticed returning to it still causes the same delay. A loading notification within that space if

[2015-05-03 17:50] arnoan opened #3592 "Registration with Central Server error "could not verify model""
Branch: master (0.13.1) (but was already happening in 0.12 and 0.13 RC as well)

Expected Behavior: Registration with central server should complete after choosing to register with central server and signing in with the right user credentials on a new device.

Current Behaviour: Both on a Macbook Air 2011 and two independent Raspberry Pi 2's the registration with the central server fails after ent

[2015-05-03 17:56] arnoan opened #3593 "Python quits and ka-lite server is killed when trying to download videos (on Macbook)"
Branch: master (0.13.1)
Expected Behavior: Upon clicking the download button in the video management section the download should start
Current Behavior: Upon clicking the download button the download seems to start in the background (page is updated) but Python quits immediately with an error message and shuts down the ka-lite server
Steps to reproduce: Every time I try to download videos via the

[2015-05-03 22:59] EdDixon commented on #3593
This is unexpected! Which version of OS X are you running?

[2015-05-04 00:46] jamalex commented on #3593
Sounds like this is a revival of this issue:
https://github.com/learningequality/ka-lite/issues/2643
which was caused by the version of Python that ships with OSX.

Installing a clean version of Python 2.7.9 from the [Python website](https://www.python.org/downloads/mac-osx/) directly should fix this.

@MCGallaspy, I think we used to highlight this fact more saliently on the install guide. The cur

[2015-05-04 08:08] EdDixon commented on #3593
@jamalex @aronasorman In a prior issue #3592 report and this one there was mention that the latest python was being used. Knowing we are testing a MAC installer this week I want to be absolutely sure our 13.1 is good here in order to revert back to it in troubleshooting issues with the installer we may have. So completely uninstalled 13.x and reinstalled git 0.13.x on Yosemite 10.10.3 with python

[2015-05-04 08:17] EdDixon commented on #3592
@jamalex @aronasorman Knowing we are testing a MAC installer this week I want to be absolutely sure our 13.1 is good here (last serious MAC test was in the RC phase, but had past) in order to revert back to it in troubleshooting issues with the installer we may have. So completely uninstalled 13.x and reinstalled git 0.13.x on Yosemite 10.10.3 with python version 2.7.9 with no issues either in the

[2015-05-04 09:16] arnoan commented on #3593
@EdDixon @jamalex
Running a 2011 Macbook Air with Yosemite 10.3.3.
I just checked and I am indeed still running an outdated version of python on my mac. (2.7.6) Or rather I have multiple versions of python installed but the old version is still being used for some reason. Python installations on mac don't seem to automatically replace the old version. Looking into this right now and will will get

[2015-05-04 09:35] arnoan commented on #3593
Managed to fully update python following a tutorial. (http://wolfpaulus.com/jounal/mac/installing_python_osx/)

Now Python 2.7.9 is running but I must have messed up something in the process as kalite does not respond in a meaningful way anymore.
Mawens-MacBook-Air:ka-lite user$ python -V
Python 2.7.9
Mawens-MacBook-Air:ka-lite user$ ./bin/kalite start
Traceback (most recent call last):
  File "/U

[2015-05-04 09:50] arnoan commented on #3592
@EdDixon
Thanks for the blazing fast response.
The problem on my MAC might be related to the outdated version of Python as well (#3593). Will update as soon as I have my Python up and running again.

The inability to register with the RasPi 2 remains though.

Any advice for further troubleshooting?
It all works fine up to the step where I enter my login credentials for the central server but then

[2015-05-04 13:25] benjaoming opened #3598 "Use RTD theme for all documentation compilation"
Just `pip install sphinx_rtd_theme` and add this:

http://docs.readthedocs.org/en/latest/theme.html

[code]

Furthermore, we need to move all wiki pages and update learningequality.org/ka-lite to point people directly to the documentation.

I think the change of theme and moving of wiki pages can safely be backported to the 0.13 branch to ensure that we have all that in all versions of the docs.

[2015-05-04 14:55] EdDixon commented on #3592
@arnoan you're most welcome in our preparation for the 13.1 release we ran into installer issues on Windows testing which once resolved, we never went back and fully checked against the MAC installation process because the GIT MAC installation had been working perfectly in prior release candidate testing and none of the code changes involved things in the MAC install process. When I saw the issue

[2015-05-04 17:10] MCGallaspy commented on #3593
I'll update the docs to accurately indicate which version of Python is necessary. But the last error you reported @arnoan:
[code]
Is because the python interpreter encountered a character it didn't like in `local_settings.py`, which is not a file created automatically during installation. Did you create this file yourself? The [link from the error](https://www.python.org/dev/peps/pep-0263/) descri

[2015-05-04 17:13] benjaoming opened #3599 "Support customizing the user's home directory"
Fix the need to access kalite.settings from outside of the django environment in #3585

@66eli77

[2015-05-04 17:27] MCGallaspy commented on #3598
Why use the RTD theme? We're not building on RTD, since it chokes on the screenshot directive (doesn't have the right binaries in its build server, like firefox). As far as I know, ` learningequality.org/ka-lite` does point to the new docs. Also, you have apparently left off the last part of your message.

[2015-05-04 17:34] benjaoming commented on #3598
No, learningequality.org points to the Github wiki!

[2015-05-04 17:39] arnoan commented on #3592
@EdDixon
Thank you for all the valuable information! I'm happy to jump in and contribute in whatever way I can. I will actually be around in San Diego in Fall for a semester doing an internship at FLE. So might meet you there in person? Super enthusiastic about ka-lite and all the other projects down the pipeline. I see so incredibly much potential here!

Yep, I can confirm it's happening on two i

[2015-05-04 17:46] benjaoming commented on #3599
Adressed in PR #3591

[2015-05-04 17:47] arnoan commented on #3593
@MCGallaspy
Thank you. Just FYI: Yep, I added the local_settings.py myself to point it to the course material location. It just contains an absolute path as advised in the manual. CONTENT_ROOT="/Volumes/StorEDGE/ka_content/“

It didn't have a problem parsing it before I just tried to upgrade my Python to the newest version so the error should disappear once I have Python properly up and running ag

[2015-05-04 17:50] benjaoming commented on #3598
Well, okay it doesn't to that entirely, but some places, for instance on the "Community" part of the front page.

[2015-05-04 17:51] benjaoming commented on #3598
As for the RTD theme, it's much nicer :) It's also responsive!

What was the problem with screen shots stuff? I'm pretty sure you can include and run your own Python code on RTD?

[2015-05-04 17:57] MCGallaspy commented on #3593
It's possible your editor is automatically inserting unicode characters. In fact, looking carefully I suspect the trailing quote is the culprit here! __“__ vs. __"__

[2015-05-04 18:00] EdDixon commented on #3592
Very good to know! Be advised though that the older 215MB Ram Pi's are known not to be compatible with our 13.1 system and we recommend staying on 12.x for that. The newer 512MB Model B issue you ran into sounds similar to what I encountered with a bad USB card here in testing though so you might try switching it out with a different one. I was very surprised to find that my more expensive SSD "le

[2015-05-04 18:01] #2228 closed

[2015-05-04 18:01] #2035 closed

[2015-05-04 18:19] MCGallaspy commented on #3598
@benjaoming if I recall correctly, it wasn't the python code, but rather that the build environment simply doesn't have a firefox executable.

[2015-05-04 18:35] benjaoming commented on #3598
@MCGallaspy ah okay, I was thinking that the docs builder would call a "magic" URL that generated the screenshot on a learningequality.org server? :)

[2015-05-04 20:21] #3381 closed

[2015-05-04 20:22] rtibbles commented on #2989
Report will no longer exist in 0.14

[2015-05-04 20:22] #2989 closed

[2015-05-04 20:22] rtibbles commented on #2988
This no longer exists on 0.14

[2015-05-04 20:22] #2988 closed

[2015-05-04 20:26] rtibbles commented on #2255
@howdyitshelena is going to take a look at this. I assume @66eli77 has no objections.

[2015-05-04 20:30] arnoan commented on #3593
@MCGallaspy
You're my hero for today! I was still fiddling around with Python trying to figure out what's possibly wrong. In the end simply replacing the trailing quote with the proper version solved the issue now.

With Python 2.7.9 installed and the local_settings.py fixed the downloads are working as expected now. So this issue can be closed. Thanks for the support!

[2015-05-04 20:34] MCGallaspy commented on #3593
Once you've been burned by encoding issues once, it sticks with you. ;)

Closing.

[2015-05-04 20:34] #3593 closed

[2015-05-04 20:57] arnoan commented on #3592
Just to clarify again: I'm running two Raspberry Pi 2 Model B (https://www.raspberrypi.org/products/raspberry-pi-2-model-b/) with 900MHz quad-core ARM Cortex-A7 CPU and 1GB RAM.

Working with 2 San Disk class 10 32GB, 1 San Disk class 10 8GB and one San Disk class 4 card here. Will try with a card from another manufacturer now if I get a chance.

And #3593 (python crashing) is resolved now but the

[2015-05-04 21:02] jamalex commented on #3592
Since it happened for @arnoan with two different devices, but not for single-click reg, it seemed likely that this was an issue with the Sharing Network created on the Hub, so I dug around a bit in there.

It seems the "Arno's Organization Sharing Network" (Zone) object on the Hub has signature issues, and isn't validating, which is what is causing the error whenever any device tries to register a

[2015-05-04 21:29] jamalex opened #3601 ""Already stopped. Status was: Failed to start (check logs)""
On: demo server (master branch).

At one point, the server stopped responding, and when I went in to try to restart it, I got the following:

[code]

Where are these logs of which it speaks? Also, I couldn't find a clean way to get the server restarted after that.

[2015-05-04 21:48] arnoan commented on #3592
Thank you for looking into this on the server side @jamalex. I can confirm that registrations are working smooth now. Both on the MAC, as well as on my RasPi 2's. Nothing blocking our local refugee camp implementation anymore now. :-)

And yep, the initial sharing network was created some ~2-3 months ago

[2015-05-04 22:48] jamalex commented on #3592
Woohoo! Thanks for reporting the issue, and don't forget to take lots of pictures/video as you set things up at the camp!

[2015-05-04 22:48] #3592 closed

[2015-05-04 23:06] EdDixon commented on #3601
if you issue a second sudo bin/kalite stop stop it should stop clean I think allowing a restart. I have seen that behavior a few times in the past with the older bat scripts as well. In a real pinch, sudo killall python will stop it also but if you have any other python apps running you may want to seriously consider what effects that will have.

[2015-05-04 23:20] benjaoming commented on #3601
@jamalex you mean restarting by doing `kalite restart` ?

I think that if you can't do `kalite stop` in a clean and predictable way, it can fail as long as doing `kalite start` will still start it in case it had an "Already stopped" status.

But I would think that `kalite restart` shouldn't fail in case the server wasn't running... because that's how service commands work on Linux so I would think

[2015-05-04 23:40] EdDixon commented on #3601
Yea I always kind of felt the second stop I issued was just confirmation that the first one worked. CherryPy should be logging to /var/logs right?  As an httpd service I would think they would want that?

[2015-05-05 00:06] radinamatic commented on #3553
Fixed, closing!

[2015-05-05 00:06] #3553 closed

[2015-05-05 01:17] MCGallaspy opened #3603 "Server start bottleneck in topic_tools.get_exercise_cache"
In `develop`, in particular this line in `topic_tools/__init__.py`:
[code]
Perhaps the solution is to more conservatively get available languages?

[2015-05-05 01:56] MCGallaspy commented on #3603
I made an order of magnitude fix. Incoming PR.

[2015-05-05 04:49] jamalex opened #3605 ""'list' object has no attribute 'get'" when viewing coach reports on Demo server"
Logged in as admin, and viewed:
http://demo.learningequality.org/coachreports/table/

Got this traceback:

[code]

[2015-05-05 04:50] jamalex commented on #3605
Note that some other language packs have been downloaded, so this is likely related to that.

I've left `DEBUG = True` on for the Demo server, so this can be explored more easily.

Any ideas, @rtibbles?

[2015-05-05 05:07] rtibbles commented on #3605
It is because get_knowledgemap_topics is not using the flat topic tree yet.
I fixed this this morning, but hadn't pushed yet.

On Mon, 4 May 2015 21:50 Jamie Alexandre <notifications@github.com> wrote:

[2015-05-05 11:19] EdDixon commented on #3601
Was just looking over their docs and CherryPy does support logging http://docs.cherrypy.org/en/3.3.0/refman/_cplogging.html#module-cherrypy._cplogging if configured also found this example: http://stackoverflow.com/questions/4056958/cherrypy-logging-how-do-i-configure-and-use-the-global-and-application-level-lo If we are not taking advantage of logging we might want to consider it as it?

[2015-05-05 18:52] timon-langlotz opened #3608 "Download new videos in bulk"
I have been trying to download the new videos, but in btsync it just says "pending approval". And even if I would get those videos, there are not the new videos in there which were added with 13.0, right?
If anybody knows where I could get them in a compressed format, I would be very happy!

By the way, nice work with the update. Looks really good!
Cheers

[2015-05-05 21:04] benjaoming opened #3609 "sudo python setup.py install on Debian cannot find data files"
[code]

[2015-05-05 21:10] EdDixon commented on #3609
to replicate install using the new python setup command "sudo python setup.py install" then cd to your home folder you will find "kalite" command works but "kalite start" will generate the above issue.

[2015-05-05 21:15] EdDixon commented on #3609
kalite restart, kalite test, kalite shell all fail with the same error

[2015-05-05 21:19] benjaoming commented on #3609
@ed thanks for the details :) it's okay I think the above traceback would be plentyful for catching this fella.

[2015-05-05 23:15] benjaoming commented on #3609
well, actually doing a "sudo python setup.py install" works fine on my system, I even removed my "~/.kalite" dir before running it.

I'm gonna ask you to try again once a certain PR is merged...

[2015-05-05 23:23] benjaoming opened #3611 "Write documenation on customizing kalite"
1. We need a deprecation warning in the documentation on using local_settings.py and other deprecated ways of setting up kalite.
1. Howtos in two different chapters:
    1. Use available settings, for instance `kalite command --settings=kalite_project.settings.android`
    1. Write your own settings module and use it with `kalite command --settings=my_module` in which the first line does
[code]

F

[2015-05-06 17:55] aronasorman commented on #3611
We also need to put in a blurb about this on the release notes section of the docs.

[2015-05-06 19:51] timon-langlotz commented on #3611
How can one currently set a custom content folder?

[2015-05-06 21:30] aronasorman commented on #3611
Hi @timon-langlotz,

[Steps 2-4 on the "Download videos by bulk" section answer your question](https://learningequality.org/docs/usermanual/userman_admin.html#downloading-videos-in-bulk). Although it's embedded in another topic. Would be nice to have an entry for that in the FAQ section.

[2015-05-06 21:51] aronasorman commented on #3611
made an entry in the FAQ section: https://github.com/learningequality/ka-lite/pull/3613

[2015-05-06 21:59] timon-langlotz commented on #3611
Hi @aronasorman,

Thank you for your answer! But this was not my question. The original author of this issue mentioned that "We need a deprecation warning in the documentation on using local_settings.py ...". Therefore I was wondering how I should now set the content root folder.

Concerning the answer you gave (and another problem I am having): With the btsync version > 2.0, it just says "Pending

[2015-05-06 22:04] aronasorman commented on #3611
If by currently you mean the "now-recommended" way of customizing KA Lite in the develop branch, then you just have to make small tweaks to your `local_settings.py`:

[code]

If that's what you're asking. Of course, we only deprecated the old way of doing things, so it should still work (but you should definitely update your local settings!).

re: btsync -- lemme reply on that issue :)

[2015-05-06 22:21] timon-langlotz commented on #3611
Alright, thanks. I thought this was already deprecated in master branch. Sorry! Thanks anyway! :)

[2015-05-07 12:07] benjaoming commented on #3611
@aronasorman thanks for following up... just a quick note... remember that by deprecating `local_settings`, we cannot advice to continue a new pattern inside an old deprecated `local_settings` module.. people deploying kalite have to stop injecting their own modules into the kalite codebase entirely!

One of the reasons for entirely stopping to mention `local_settings` in examples: `kalite.setting

[2015-05-07 12:29] benjaoming opened #3616 ""Unknown command: kaserve""
Django 1.5 (don't know about later versions) unfortunately sets a global variable `_commands` which is causing problems when running cronograph as a thread. You can read a bit of background in the below code snippet.

I'm figuring out a solution after having disabled another piece of code that avoided the race condition in the first place.

[code]

@MCGallaspy I just wanted to loop you in on this,

[2015-05-07 12:31] benjaoming commented on #3609
@EdDixon would there be a point about assuming that this only happens on Debian and not Ubuntu?

[2015-05-07 15:50] EdDixon commented on #3609
@benjaoming It is possible that it is not happening on ubuntu if the python-appconf package is installed which is not available to debian or other linux repos or windows python as far as I can tell. It is called as only appconf in what ever script is calling it which I have not been able to find (perhaps a requirement of another package in use?) . I recently submitted a PR for addition of django-a

[2015-05-07 16:59] MCGallaspy commented on #3616
Would commenting out `get_commands()` affect use of the `manage` function?

[2015-05-07 19:06] benjaoming commented on #3609
@EdDixon what's this appconf? I don't understand what you're talking about here :) When the data files that get installed using setuptools are not found after installing, this is an issue with setuptools or possibly an error that I need to fix..

We try to offload the whole platform circus about where to install stuff and maintain updates through setuptools. Ideally, this would be a beautiful walk

[2015-05-07 19:09] benjaoming commented on #3609
kalite doesn't use an "appconf" library anywhere in the kalite codebase nor do we use it in anything that we shipped in "python-packages"..

[2015-05-07 19:21] EdDixon commented on #3609
Hi Ben, in trying to use the command you referenced in the meeting "python setup.py install" issues were encountered please check out the testing room for details. As a workaround to allow us to test the windows functionality prior to the installer actually being built we attempted to use kalite.bat as we did the .13.x series however that command also failed referencing the appconf package in wind

[2015-05-07 19:49] #3603 closed

[2015-05-07 20:20] benjaoming commented on #3609
@EdDixon I'm not in the FLE chair this week. I just wanted to keep the ball rolling :) But as I said, there are no references to any "appconf" in our current codebase.. maybe it has something to do with django-compressor that you mentioned was installed separately.. not sure.

Btw. running "python setup.py install" does not automatically install dependencies -- but running "pip install ." (from in

[2015-05-07 20:40] EdDixon commented on #3609
Thanks, I did discover that it is not installing the requires.txt in testing here but with both modules manually loaded the "python setup.py install" gets as far as "...will configure database and prepare it for use. Press [Enter] to continue"  before immediately dropping back to the shell ? Not giving us any idea why it failed but I am suspecting another missing module. I looked everywhere in our

[2015-05-07 20:46] benjaoming commented on #3609
@EdDixon found out now! :) django-appconf is a requirement of django-compressor and will be automatically installed when you do "pip install -e ."

[2015-05-07 20:48] benjaoming commented on #3609
Are you sure this happens running setup.py? Don't you mean "kalite manage setup" ?

[2015-05-07 20:50] benjaoming commented on #3616
@MCGallaspy no, it's a race condition only related to "kalite start" which starts a background thread for the chronograph and one for cherrypy (kaserve).

[2015-05-07 20:51] EdDixon commented on #3609
Excellent! Sorry but kalite is still not resolving on any platforms as a system command and bin/windows/kalite manage setup fails.. Checking now for the exact error...

[2015-05-07 20:57] MCGallaspy commented on #3609
What error do you get? Is it possible that you meant to type `bin/windows/kalite.bat manage setup`.

[2015-05-07 20:58] benjaoming commented on #3609
huh? it certainly does on my platform :)

On 7 May 2015 at 22:51, Ed Dixon <notifications@github.com> wrote:

[2015-05-07 21:04] EdDixon commented on #3609
No @MCGallaspy I am referring to the results I am having here on the windows system right now I can try these in debian as well but suspect it will be the same which is a good thing as it means we are coming to a common code base with our installers here which has been the whole point right? @benjaoming it is not on windows or MAC atm when using either the "python setup.py install" or testing pre-

[2015-05-07 21:35] EdDixon commented on #3609
On debian as reported here the " python setup.py install" and" sudo python setup.py install" fails however the "bin\kalite manage setup" will setup the system properly resulting ihn the kalite command being available as a system command and everything appears to be functioning as designed. But this does not work on those other platforms? @benjaoming I must be confused in your responce to my questi

[2015-05-07 22:12] radinamatic commented on #3554
I like Font Awesome, but irregardless of icon set we decide to use, here is something to keep in mind to ensure their accessibility. Basically, icon element is not enough on its own, you need to wrap it into another element which will render it invisible to screen readers (with aria-hidden="true"), and then add a second span with text only for screen readers (class="sr-only"):
[code]
For detailed

[2015-05-07 23:28] radinamatic commented on #3546
Anybody else having this issue a part from me? I'm still unable to see any videos when logged in... :(
Tested on both FF & Chrome on XP, and FF on Ubuntu/GNOME 14.10.

[2015-05-08 14:30] DragoonHP opened #3618 "Huge size of KALiteSetup-0.13.1.exe [333.34 MB]"
What caused the sudden inflation in the setup file size? If I remember correctly, the 0.12.x series size was under 50 MB (and so was the develop branch of 0.13.x).

[2015-05-08 16:44] aronasorman commented on #3618
Hi @DragoonHP,

We now include the images and other assets needed for exercises created using Khan Academy's, Perseus framework. Without these, a majority of the new exercises won't work.

re: develop branch -- we don't include these assets as part of the repo. You have to download them manually.

I hope that answers your question,
Aron

[2015-05-08 16:44] #3618 closed

[2015-05-08 16:58] DragoonHP commented on #3618
Thanks for the quick response. :)

[2015-05-08 17:13] JGOODYEARUCSD opened #3619 "Bulk-Download Videos link directs to the old FAQ"
The link under "Help for downloading videos" directs to https://learningequality.org/ka-lite/faq/ while we now use https://learningequality.org/docs/faq.html

![screen shot 2015-05-08 at 9 58 04 am](https://cloud.githubusercontent.com/assets/10428345/7541451/702abbae-f56a-11e4-817b-ac352c877b8d.png)

[2015-05-08 17:14] aronasorman commented on #3619
I think this is pretty critical, since we want to standardize on a single location for docs.

[2015-05-08 18:42] aronasorman opened #3620 "Read assessment items from zipfile"
@66eli77 mentioned that there's no noticeable performance impact, so I may take a stab at making this for 0.14.

Basically, we wanna have kalite check for `assessment.zip`. If it's there and it's for this version of KA Lite, we read from that zipfile ondemand for the needed assessment items instead of extracting them into the filesystem.

[2015-05-08 18:49] aronasorman commented on #3620
Another alternative: rather than placing assessment items in a zip file, we can also put them in an SQLite DB, where we can take advantage of its caching mechanisms.

[2015-05-08 19:09] 66eli77 commented on #3620
To prevent repeating work, here's what have been done so far. A python script to create a subfolder file structure for khan folder(Perseus images); A python script to modify the assessmentitems.js making it accommodates the subfolder structure; A Django view that directly reads from the zip file and return a HttpResponse containing the image data to the requesting html

[2015-05-08 19:20] aronasorman commented on #3620
@66eli77 can you push your work to a branch in your repo? I'll just contribute in there, and we can make a PR once we're done.

[2015-05-08 19:23] MCGallaspy commented on #3620
Hmm, seems suspiciously like we're working on the same thing -- that is, an alternative to the current topic_tools stuff.

[2015-05-08 19:46] jamalex commented on #3620
@66eli77 is working on the static files (images), not the json/data. But
there might be some shared learning.
On May 8, 2015 12:23 PM, "Michael Gallaspy" <notifications@github.com>
wrote:

[2015-05-08 19:47] arnoan opened #3621 "Caught in 'preloading loop' when accessing content from external HDD"
I came across another unintended behaviour of kalite I wanted to point out:

Branch: master (0.13.1)

When pointing kalite to search for the educational material in a custom location via creating a local_settings.py file in the 'kalite' subfolder kalite sometimes gets stuck in a 'preloading loop' upon trying to start the server. (See attached screenshot -> it keeps re-loading the content forever.)

[2015-05-08 20:10] MCGallaspy commented on #3621
Very interesting, so you're saying changing the content location using `local_settings.py` after you have already started the server causes an error. What setting(s) did you change? Did you download any content after setting up the server but before changing the content location settings?

[2015-05-08 20:23] arnoan commented on #3621
The server is not running while I implement the changes.
Rather changing (or creating local_settings.py) after the server had been started and stopped at least once after the initial installation causes the loop for me to happen (not always though, but once it happens it's permanent).

The only change is creating a local_setting.py file pointing to a new content location. So it contains only one l

[2015-05-08 20:33] aronasorman commented on #3621
@MCGallaspy @arnoan This is a known bug. It does end **eventually**, but it may take a while. The workaround for now @arnoan is to just wait, particularly if you're using an HDD :)

@MCGallaspy I think this is due to overaggressive cache clearing. Let's leave this issue open so that we can track the progress on this.

[2015-05-08 21:10] #3484 closed

[2015-05-08 21:43] 66eli77 commented on #3620
@aronasorman  here's the change made to read directly from zipped khan folder
https://github.com/66eli77/ka-lite/tree/read_image_from_zip

[2015-05-08 22:07] 66eli77 commented on #3620
and here is the tools to modify the assessmentitems.js and rearrange the khan folder
https://github.com/66eli77/ka-lite-android-python27/tree/develop/tools

[2015-05-08 23:23] howdyitshelena commented on #2255
Here's what I have for the features - let me know if I missed anything!
Features for the videos tab:
- downloading videos
  - download, delete, cancel, retry video downloads
  - video_start_callback
  - video_reset_callback
  - video_check_callback (checks the current progress)
  - changing the language
- topic tree
  - unselect all nodes
  - get selected, incomplete, started, videos
  - get selec

[2015-05-08 23:29] aronasorman commented on #2255
You can also upgrade installed language packs.

[2015-05-08 23:51] howdyitshelena commented on #2255
ah okay, thanks @aronasorman!

[2015-05-09 17:37] jamalex opened #3622 ""TypeError: list indices must be integers, not str" during demo server start"
Branch: 0.13.x-demo

Partial steps to replicate: Multiple language packs (and many videos) downloaded onto server, but with reinstating a database from before some of those language packs existed. Hard to replicate now (as I deleted the video files), but perhaps the traceback below can help us patch a hole.

[code]

[2015-05-09 17:42] jamalex commented on #3621
I just experienced the pain of the "overaggressive cache clearing" on the demo server, after clearing the "content" folder (which had a ton of videos) and starting the server back up. By my estimate, it would have taken several human lifetimes to complete. Even though life is short, this seems unacceptably long. :) I ended up just deleting the database and starting from a fresh one; not ideal.

Is

[2015-05-09 17:47] jamalex opened #3623 "Coach reports no longer work on Demo server"
Branch: 0.13.x-demo

We were getting an error on the demo server coach reports related to indexing into strings. @aronasorman put in the following as a fix:
https://github.com/learningequality/ka-lite/commit/7efaea47f72d1a4a88d0b958f9853bccd4832245

Now, however, there appears to be no way on the tabular report page to select the topics (and hence no way to review a report:

![image](https://cloud

[2015-05-09 18:23] EdDixon commented on #3623
@jamalex just wanted to report we did test this feature on a 13.1 installation in windows and it seems to be working good via hub.

[2015-05-10 18:56] SinghSatyam opened #3624 "Can not uninstall."
Getting the following error.
  _   __  ___    _     _ _
 | | / / / _ \  | |   (_) |
 | |/ / / /_\ \ | |    _| |_ ___
 |    \ |  _  | | |   | | __/ _ \
 | |\  \| | | | | |___| | ||  __/
 \_| \_/\_| |_/ \_____/_|\__\___|

http://kalite.learningequality.org

./uninstall.sh: line 14: syntax error near unexpected token `;;'
./uninstall.sh: line 14: `if [ -e $SCRIPT_DIR/kalite ];; then'

[2015-05-11 14:19] benjaoming commented on #3609
It can be reliably recreated on Travis, so good news: I can recreate it and I have a test case now :)

https://travis-ci.org/benjaoming/ka-lite/jobs/62079291#L3070

[2015-05-11 16:36] benjaoming commented on #3562
@aronasorman please see my comments in #3602 before closing this?

[2015-05-11 17:52] benjaoming commented on #3624
@SinghSatyam thanks for reporting this!

The script you are trying to run will only remove a directory. So a quick work-around will be to remove the ka-lite directory and you're done* :)

*) Except if you have run some script to have kalite loaded when booting, in that case make sure to run `donotrunatboot.sh`.

A second point: This script and everything inside `scripts/` is being deprecated! In t

[2015-05-11 17:52] #3624 closed

[2015-05-11 17:55] benjaoming opened #3627 "Remove the deprecated scripts/ directory"
Getting issues like #3624 should remind us that `scripts/` can be removed in 0.14

Any feelings about this?

I would suggest the following two replacements:

1. Functional installers + PyPi packages will take over the role of installing and removing KA Lite.
1. Documentation chapters handling how to add KA Lite to start up environments in case installers don't do that -- this is mainly relevant fo

[2015-05-11 18:29] aronasorman commented on #3627
Yes, this is what we want. By release time our supported installers should be capable enough to handle all the necessary tasks (including uninstallation).

[2015-05-11 18:30] benjaoming commented on #3627
Would there be others interested in stepping up for this one?

[2015-05-11 18:51] Antrikshy commented on #3273
We refreshed the home page a little bit earlier this quarter, so I think this can be closed.

[2015-05-11 18:57] MCGallaspy commented on #3627
@benjaoming can you outline what you have in mind for this:

[2015-05-11 18:58] benjaoming commented on #3627
"Functional"... haha, I just meant that the installers (current Windows and Mac + new Debian) should be functional as in "not broken" (not functional programming) and we can assume that they will be once we release 0.14 :)

For other purposes of installation, we will also release on PyPi so you can do "pip install kalite"

[2015-05-11 19:01] MCGallaspy commented on #3627
Okay, I just wasn't clear about prior work on this -- the idea is that running setup.py should take care of all the setup stuff (including adding the kalite executable to the CL path) regardless of OS? And the current state is that there are issues on all OSes?

[2015-05-11 19:04] benjaoming commented on #3627
[code]

[2015-05-11 19:07] benjaoming commented on #3627
@MCGallaspy Not sure what the outcome will be for the Mac and Windows installers... for sure it will be good that in the future we have all installation going through setup.py, but for the 0.14 release, it'll be fine that everything regarding setup.py works on all platforms.. but the installers may still wish to distribute kalite in their own current fashion... they have some additional stuff abou

[2015-05-11 19:16] benjaoming commented on #3627
Current state: Yes there are issues, maybe on all OSes... I'll make another announcement during the week... but I think that writing documentation about this is fine, you can just assume that `pip install ka-lite` will install it from PyPi and it will work after that :)

[2015-05-11 19:31] aronasorman commented on #3627
That would be cool if `pip install ka-lite` is one of our supported installations in the documentation. That would mean that we have a standard installation process for all other OSes out there :)

[2015-05-11 20:56] aronasorman commented on #3621
@jamalex this is the primary issue now.

[2015-05-11 23:44] MCGallaspy commented on #3621
I suppose the culprit is the combination of `invalidate_on_video_delete` in `update/__init__.py`, because of the decorator `@receiver(pre_delete, sender=VideoFile)` and the fact that videoscan potentially makes a lot of deletions:
[code]
Perhaps the solution is to prevent execution of the listener `invalidate_on_video_delete` and then invoke it __once__ after all deletions are made.

[2015-05-12 00:01] MCGallaspy commented on #3621
Also, seems like there are two identical `invalidate_on_video_delete` functions. Is this intentional or an oversight?

[2015-05-12 00:02] aronasorman commented on #3621
Probably from a merge conflict. I think python's behaviour is to use the most recent definition.

[2015-05-12 00:03] MCGallaspy commented on #3621
What about when they're from different modules?

[2015-05-12 00:03] MCGallaspy commented on #3621
Anyway, you'll see what I mean with my incoming PR.

[2015-05-12 02:42] MCGallaspy commented on #3621
Tests were taking forever to run, until I realized that a `post_save` callback creates the same issue as a `post_delete` callback, if several saves are made in succession.

[2015-05-12 08:06] benjaoming opened #3633 "yaml library dependency breaks the installer"
https://travis-ci.org/learningequality/ka-lite/jobs/62159469#L194

[code]

So the problem, once again, is that `kalite.version` is a very very low-level file and should not be made too complicated :)

Suggest moving `import yaml` to `VERSION_INFO()`

Also, how is the yaml library distributed and what should be put in requirements.txt?

[2015-05-12 10:41] foolchan2556 commented on #3619
I have created a PR https://github.com/learningequality/ka-lite/pull/3634 to fix that.

[2015-05-12 11:54] benjaoming commented on #3633
My bad, pyyaml was already added to requirements.txt

[2015-05-12 12:53] benjaoming commented on #3609
This was all due to a misunderstanding, I thought that a local directory "locales" I had was part of the distributed code. It's not.

Fixed in #3630

[2015-05-12 17:02] jamalex commented on #3601
It seems to be getting into a zombie state, where python2 (with `kalitectl.py start`) is still running in the background (though not serving requests), but `kalite status` shows "Failed to start (check logs) (6)". When I try to either start or restart it, it says "DatabaseError: database is locked". Trying to do anything with the DB via the `sqlite3` REPL directly also throws a "locked" error. So,

[2015-05-12 18:43] #3633 closed

[2015-05-12 18:45] aronasorman commented on #3364
Fixed in the PR above. Thanks @georgyberdyshev!

[2015-05-12 18:45] #3364 closed

[2015-05-13 00:11] 66eli77 commented on #3620
Updates for retrieving Perseus image from khan folder, the current approach does not require any change to kalite code base(potential change could be made, since it does not use Django or Cherrypy to serve the Perseus image, it might improve performance by stop using Django or Cherrypy when deal with Perseus image)
We only need to modify the assessmentitems.js file to enable it reads locally on An

[2015-05-13 09:34] amodia commented on #3545
Hi @aronasorman I determine the problem here. Its on `user authentication`  because when the admin user login it was successfully redirect to register device page and when the facility user log in it will redirect to page not found because the facility user is not a admin user.

I think the solution is only admin user can access to register device page and when the facility user login and when the

[2015-05-13 15:23] benjaoming commented on #3601
@jamalex would you by any chance have found a recipe for recreating the issue?

I mean, I've tried the thing with hanging processes #3550 but now it's gone and I don't know how to get it back :)

Running `kalite start` multiple times doesn't cause any problems for me... the startup lock file works fine, and stopping kalite cleans up processes as it's supposed to.

[2015-05-13 15:23] benjaoming commented on #3550
Does anyone have any pointers as how to recreate this issue on current develop? @kyconquers ?

[2015-05-13 15:44] aronasorman commented on #3601
@benjaoming it might also be solved in the latest develop. Have you tried replicating it on 0.13.x? That's what's released.

[2015-05-13 16:18] aronasorman commented on #3242
The exercise is working for me on the latest 0.13.x and develop branch. Closing.

[2015-05-13 16:18] #3242 closed

[2015-05-13 16:22] aronasorman commented on #3320
I've updated the title and moved it to 0.14.0.

[2015-05-13 16:23] aronasorman commented on #3584
@Antrikshy or @jtamiace would you be able to create a fix for this? We basically just want to hide the streak bar when you're logged in as an admin.

[2015-05-13 16:42] aronasorman commented on #2963
Running `kalite manage help` does show the list of commands you can run:
[code]

It's still printing out `kalitectl.py` as the command though. I think that should go in another issue.

[2015-05-13 16:42] #2963 closed

[2015-05-13 16:44] aronasorman opened #3638 "bin/kalite manage shows kalitectl.py as the command name"
branch: 0.13.x (and possibly develop)

Running `kalite manage help` shows `kalitectl.py instead of `kalite` as the command name:
[code]

See prior discussion on this issue: https://github.com/learningequality/ka-lite/issues/2963

[2015-05-13 16:49] aronasorman commented on #3450
This exercise works for me on the latest 0.13.x, Firefox 37. Closing.

[2015-05-13 16:49] #3450 closed

[2015-05-13 16:51] aronasorman commented on #3570
Looks like it works on 0.13.x now? Do you guys know which commit fixed this?

[2015-05-13 16:54] aronasorman commented on #3570
Looks like it's this commit: https://github.com/learningequality/ka-lite/commit/e65e31403b99fe554465b1bd90b2df836cf496a9.

[2015-05-13 17:02] #3570 closed

[2015-05-13 17:08] MCGallaspy commented on #3340
#3639 removes some apparently unused fields.

[2015-05-13 17:38] benjaoming commented on #3638
Notice that the command name is written correctly below the options list.

This *might* be fixed by possibly changing `sys.argv[0]` runtime, but I think that might be a very very bad idea.

This cannot be properly fixed before we have an update of Django implemented that makes it possible.

[2015-05-13 17:40] benjaoming commented on #3638
A secondary way of fixing it would be to alleviate the need for having a proxy script `kalite` pointing at `kalitectl.py` and the very reasoning behind this behaviour was the need to be able to configure the Python environment that runs `kalitectl`.. but I don't think we should go into this now...

[2015-05-13 17:45] #3616 closed

[2015-05-13 17:45] aronasorman commented on #3609
Is this fixed in your PR @benjaoming?

[2015-05-13 18:48] 66eli77 opened #3640 "develop branch won't start the server if install does not get run before"
reproduce the error:
1. make sure to have a fresh clone of kalite develop branch
2. navigate the the dir and run $ python kalitectl.py start
then you will see the following error
[code]

[2015-05-13 19:25] jamalex commented on #3601
@benjaoming I wasn't able to replicate it manually (though I saw it multiple times), but I wonder whether it might have something to do with the cron stuff? Maybe the background sync process? Has that stuff changed a lot in 0.13?

[2015-05-13 21:32] aronasorman commented on #3546
Hi @radinamatic, can't manage to replicate this. Saw this on @jtamiace's laptop (she's using Windows 7) and all we had to do was delete the DB. Can you try replicating again with the latest develop?

[2015-05-13 21:49] aronasorman commented on #3621
Hi @arnoan,

I've merged in some code that fixes this issue. Would you have time to test out if it fixes it on your side? You can try it out by checking out the latest code in the 0.13.x branch of KA Lite:

[code]
and then trying to replicate this issue.

[2015-05-13 22:50] benjaoming commented on #3609
It should be, but I would like to hear it from @EdDixon too!

[2015-05-13 22:52] arnoan commented on #3621
@aronasorman
Wow, now that went fast. Thank you for the heads up!
I pulled the latest branch and attempted to replicate the former error. Happy to confirm the preloading loop does not occur anymore. Tried booting from several HDD's now and always starting up smooth.

Yet another issue solved, you guys rock!

[2015-05-13 22:53] benjaoming commented on #3640
this typically happens when `kalite.distributed` wasn't listed in INSTALLED_APPS and thus part of the magically loaded `application.settings`..

[2015-05-13 22:54] aronasorman commented on #3621
Thanks @arnoan -- @MCGallaspy takes full credit on this one.

[2015-05-13 22:54] #3621 closed

[2015-05-13 22:55] aronasorman commented on #3621
I'll be issuing a new version with this fix sometime by the end of this week.

[2015-05-13 23:05] aronasorman commented on #3640
@benjaoming you mean they have a custom-defined `INSTALLED_APPS` in their `local_settings`?

[2015-05-13 23:08] benjaoming commented on #3640
yeah, that used to be the problem, but that should actually be fixed unless somehow that wasn't merged or something... I'll have a look tomorrow.

[2015-05-14 00:21] EdDixon commented on #3608
COnfirming these issues even with the proper key from the new docs the version of BT Sync is reporting it as an invalid key?

[2015-05-14 00:55] MCGallaspy commented on #3221
Fixed by #3606.

[2015-05-14 00:55] #3221 closed

[2015-05-14 15:34] radinamatic commented on #3546
@aronasorman it's still happening, with deleted db and develop pulled 5 minutes ago. I can see videos no prob as a guest, but as soon as I log in, be it as admin or learner, I just get a blank screen. Testing now on GNOME, will get back soon...

[2015-05-14 16:00] aronasorman commented on #3611
I believe the next step to closing this issue is to add the deprecation warning and steps to customize KA Lite in our sphinx docs. @benjaoming would you have time to do that?

[2015-05-14 16:03] radinamatic commented on #3546
Just retested on GNOME/Ubuntu 14.10 too. Pulled the latest upstream, deleted and recreated the DB and the same error persists: videos run fine as guest, but no dice as soon as I log in... :(

[2015-05-14 16:07] aronasorman commented on #3546
Haha this is so strange. Did you run `pip install -e .` or `python setup.py install`?

[2015-05-14 16:10] aronasorman commented on #3546
If it's the latter, that copies KA Lite into `/etc/` and `/usr/`. So you may deleting the wrong DB.

[2015-05-14 17:02] benjaoming commented on #3550
Not sure how to recreate this... but now there's a test to see that `kalite stop` doesn't leave any processes with the string `kalite` in their name.

[2015-05-14 17:03] benjaoming commented on #3601
@aronasorman
I can't recreate it on 0.13.x branch.

@jamalex You are right, maybe I should try to recreate it while the cronograph is doing something... then it might not die....

[2015-05-14 17:53] EdDixon commented on #3601
I saw this error several times yesterday while testing the current develop branch installer on mac after allowing it to fail to start the server using the gui. Which would be a means to repliate here if more testing is needed?

[2015-05-14 21:48] radinamatic commented on #3546
I don't recall running those commands, but rechecked, just in case... No KA Lite in either /etc/ or /usr/, nor another data.sqlite a part form the one I deleted.

And anyway, I'm getting the same exact behavior on two different machines with two different OSes so it can't just be a Linux issue...

[2015-05-15 10:52] benjaoming commented on #3601
Thanks @EdDixon !

Could you elaborate on this?

[2015-05-15 16:55] aronasorman commented on #3584
Darn. Didn't notice that @jtamiace targeted that fix to develop. @jtamiace can you make another PR for 0.13.x?

[2015-05-15 17:09] jtamiace commented on #3584
oops. sorry didn't know. working on it right now!

[2015-05-15 21:50] Antrikshy commented on #3565
This is so strange. I deleted my database, ran `kalite start` to recreate it. Then ran `kaserve` and the languages page loaded properly. It *was* still trying to ping the server every second. The next time I visited the page, it cannot connect to server again. Also @aronasorman, it does get a status 200 every time it pings the server.

![screen shot 2015-05-15 at 2 49 32 pm](https://cloud.githubus

[2015-05-15 21:58] Antrikshy commented on #3565
Also seems like one-click registration does not work on my installation. I have to do manual registration using an account on the central server and register KA Lite that way. Then the first time I get to the language page, it connects. Refreshing breaks it.

[2015-05-15 22:13] Antrikshy commented on #3315
@MCGallaspy You can close this because #3537 was merged.

[2015-05-16 01:49] #3558 closed

[2015-05-16 06:58] anuragkanungo commented on #2405
Need this to be fixed for Nalanda-phase3

[2015-05-16 08:36] 3kay opened #3652 "computing->computer programming->advanced JS: Natural Simulation->Angular Momentum?"
In a test new installation of 0.13 i found this hierarchy which appears to be a bug.
lkk

[2015-05-16 13:54] waltonrp opened #3654 "Runatboot and start server issue"
I'm following the Linux user guide
Ubuntu 15.04 64bit fresh install

I'm having issues getting the server to start. I'd started it after install and registered. I rebooted and get these errors:

aguila@XXXX-KALITE:~/ka-lite/scripts$ sudo ./runatboot.sh
INFO:kalite:UserRestricted package selected.

aguila@XXXX-KALITE:~/ka-lite/scripts$ sudo ./runatboot.sh
INFO:kalite:UserRestricted package selected

[2015-05-16 15:02] EdDixon commented on #3601
@benjaoming This is on Mac using the last develop installer tested would stall when trying to start the server using the included menubar icon at which point I tried to drop to terminal to use the kalite command to check status and start up as a work around. On kalite start It which actually completed the installation and allowed it run successfully however using kalite status before that I was gr

[2015-05-16 15:12] EdDixon commented on #3654
Hi Robert,

Assuming the install went ok and you selected run at boot during the installation (which I know you want and probably did) you should find the server available already at 127.0.0.1:8008 That was tested extensivley in this release however, running that particular script post install was not so if it turns out the server is not already running let us know and I will test to confirm the p

[2015-05-16 15:24] waltonrp commented on #3654
Server is not available.

[2015-05-16 15:58] EdDixon commented on #3654
That is a very good question running as sudo I definitely would not expect that either.. ? All I can do is try it here myself on that version of linux but just to clarify you did select run at boot during the installation? My computer is tied up compressing videos right now, can you run: "ls -l /etc/init.d/kalite" without the quotes for me as well as "env | grep KA" which may help explain what's g

[2015-05-16 17:13] EdDixon commented on #3654
@waltonrp just checked with latest ubuntu 15.04 all updates applied following those instructions exactly and could not replicate that error however the command itself has been moved to the scripts folder as I am sure you found out so our documentation needs to be updated and you may need to cd to the ka-lite/scripts directory. I also feel because of the nature of the "User Restricted package" erro

[2015-05-16 18:09] waltonrp commented on #3654
aguila@XXXX-KALITE:~$ ls -l /etc/init.d/kalite
-rwxr-xr-x 1 root root 868 May 16 13:59 /etc/init.d/kalite

aguila@XXXX-KALITE:~$ env | grep KA
SESSION_MANAGER=local/XXXX-KALITE:@/tmp/.ICE-unix/1448,unix/XXXX-KALITE:/tmp/.ICE-unix/1448

M2Crypto was installed and I have been running the start comment from the /scripts folder

[2015-05-16 18:21] EdDixon commented on #3654
@waltonrp can you join in hipchat for further discussion on this in the dev room. I think I can walk you through it. The start on boot option is not working in linux (but was in testing just before release) and is a known issue on windows platforms as documented in the release notes. I was not aware that it is failing in linux as well until now and have found a workaround by adding the full path t

[2015-05-16 18:32] waltonrp commented on #3654
Try to call me 434-223-2075 I’ll try to be by the phone for a little while.

Robert Walton
Regional Information Technology Specialist
DOC – CTSU – Field Services Unit

From: Ed Dixon [mailto:notifications@github.com]
Sent: Saturday, May 16, 2015 2:21 PM
To: learningequality/ka-lite
Cc: Walton, Robert P. (VADOC)
Subject: Re: [ka-lite] Runatboot and start server issue (#3654)

@waltonrp<https://gith

[2015-05-16 19:28] EdDixon commented on #3654
Thanks for the chat Robert I think we came up with some excellent ideas for VADOC and FLE!

I have no idea what the rest of the team here may think about this work around to the start on boot issue but what is working for me right now here is after installation editing the rc.local file to use the new kalite command to start the server on boot. After a clean install of ubuntu 15.04 updated with la

[2015-05-16 21:15] waltonrp commented on #3654
Thanks Ed, I’ll get KA lite installed on the new Ubuntu install and let you know my result.

Robert Walton
Regional Information Technology Specialist
DOC – CTSU – Field Services Unit

From: Ed Dixon [mailto:notifications@github.com]
Sent: Saturday, May 16, 2015 3:29 PM
To: learningequality/ka-lite
Cc: Walton, Robert P. (VADOC)
Subject: Re: [ka-lite] Runatboot and start server issue (#3654)

Thanks

[2015-05-17 00:00] j-schwartz commented on #3654
Hi Team,

Do you know why I might be getting the following in my startup log?  Ubuntu 12.04

I ran the script at install to boot at startup.  I can't really tell from the wording in this thread if this is a known issue or not.

Thanks!

  File "/media/preloaded/ka-lite/kalitectl.py", line 504, in <module>
    args=arguments['DJANGO_OPTIONS']
  File "/media/preloaded/ka-lite/kalitectl.py", line 341

[2015-05-17 01:23] EdDixon commented on #3654
Hi @j-schwartz is this using the current version on git or from a previous install ( I ask only because of the ubuntu version?)

[2015-05-17 01:25] j-schwartz commented on #3654
This is the current git version v13.01.  The Ubuntu has to be a little
dated for some other compatibility issues totally unrelated.

On Sat, May 16, 2015 at 6:23 PM, Ed Dixon <notifications@github.com> wrote:

--
Please fill out our user survey
<https://docs.google.com/forms/d/1yLJZvJMnP8AG0CFKJdcD7NvuvTZrZzVdcAWJuaZ_SwA/viewform>.
This
is critical for our fundraising.

Jeremy Schwartz <jeremy@wor

[2015-05-17 01:34] EdDixon commented on #3654
Thanks I will try to see if we can replicate that here. In 14 up it seems pretty solid and I had been running it on debian (stable) for years prior to that.. Can you verify your python version for me python -V?

[2015-05-17 01:49] j-schwartz commented on #3654
2.7.3

On Sat, May 16, 2015 at 6:34 PM, Ed Dixon <notifications@github.com> wrote:

--
Please fill out our user survey
<https://docs.google.com/forms/d/1yLJZvJMnP8AG0CFKJdcD7NvuvTZrZzVdcAWJuaZ_SwA/viewform>.
This
is critical for our fundraising.

Jeremy Schwartz <jeremy@worldpossible.org>
Executive Director
World Possible <http://www.worldpossible.org>
(m) 415.535.2138
World Possible is a 501(c)(3

[2015-05-17 06:47] anuragkanungo opened #3655 "Exercise Keypad not working on Chrome."
Branch: Nalanda-phase3

Show hide keypad works but clicking on numbers doesn't work in chrome. It works in default browser.