[2016-09-11 22:27] tim-moody opened #5273 "no languages in dropdown for 0.16.9"
after install of 0.16.9 on centos 7.2 the languages dropdown shows no languages and no language is listed as installed.

[2016-09-11 22:34] tim-moody commented on #5273
after re-running kalite manage setup, the list of languages from 0.16.8 is there and English is listed as installed, but Arabic is not in the list even when clicking show beta. (it used to me in the main list)

[2016-09-11 23:13] tim-moody commented on #5273
https://hub.learningequality.org/languages/dashboard shows Arabic as 100% translated, but after I manually downloaded ar.zip I see Chinese, Cyrillic, English, and Arabic.

[2016-09-12 04:12] rajnikumbh commented on #5228
@benjaoming .. the steps on the user manual is good enough but I was thinking to make it more detailed. Probably it would help.

I have not used either RST or Sphinx. Let me know if anything is the preferred way.

[2016-09-12 08:37] mrpau-richard opened #5274 "Using built PEX file in KA Lite installers."
### List of issues that will be fix using built KA Lite PEX file.
1. [Kill existing pyrun activity when resetting the kalite-monitor app](https://github.com/learningequality/installers/issues/125#issuecomment-246227013)
1. [Drop Pyrun on OS X Installer and replace it with virtualenv.](https://github.com/learningequality/installers/issues/98)

### KA Lite issue.

1. [Downgrading requests causes iss

[2016-09-12 09:14] mrpau-richard commented on #5274
Hi @benjaoming can you also add an open `pypy` issue related on pex?

[2016-09-12 10:30] benjaoming commented on #5274
@mrpau-richard - this looks like an issue you should open up in the installers repo:

https://github.com/learningequality/installers/issues

You want me to compile a list of all issues related to pypy? You can search for "pypy" in the issues open in ka-lite and installers, that will give you a result that's better than asking me :)

[2016-09-12 14:08] yogeshmr commented on #5262
@benjaoming @aronasorman

That's gr8. I think that the translations for the exercises is crucial and easier. Could you please indicate how/ where to perform translations for exercises?

[2016-09-12 15:03] benjaoming commented on #5262
@yogeshmr I haven't tried translating so I'm no expert, but I think you might find it here:

https://crowdin.com/project/khanacademy/kn

@cpauya could you advice if this is the correct procedure?

[2016-09-12 15:10] benjaoming commented on #5262
Someone has already done a few videos, perhaps it's worth getting in touch with those people:

https://www.youtube.com/user/KhanAcademyKannada/videos

There's also [the translation portal](https://www.khanacademy.org/translations), but it seems to freeze when clicking Kannada, so perhaps it's best to contact Khan Academy directly regarding this issue: i18n_support@khanacademy.org

[2016-09-12 15:17] yogeshmr commented on #5262
@benjaoming Thank you very much for giving the leads!!!

[2016-09-12 21:26] benjaoming commented on #5228
@rajnikumbh It would be nice, if you can contribute a guide for RPi in the Sphinx format because it would require a significant amount of time and reformatting to bring something from Word/Google docs etc. into the real documentation format.

To get started: If you are on a linux/osx system, the steps from command line are something like this:

(first fork the repo to your own repository)

[code]

[2016-09-12 21:27] benjaoming commented on #5228
Btw. IMO the guide should live as a separate chapter "Raspberry Pi" inside the install guide: http://ka-lite.readthedocs.io/en/latest/installguide/install_main.html

[2016-09-12 22:37] #5274 closed

[2016-09-12 22:38] mrpau-richard commented on #5274
@benjaoming Ok, I will close this issue and transfer it to [installers](https://github.com/learningequality/installers/issues)

[2016-09-13 06:39] rajnikumbh commented on #5228
@benjaoming
Thanks for the commands in order to use Sphinx. I am able to edit the install guide. There are lots of guide for installing Raspbian on Pi, so we should concentrate on getting KA-LITE on Pi.  I am using VI or GEDIT for editing the files. Do we have editor meant for Sphinx?

I have updated it and there is draft version with me, how do I share now.

[2016-09-13 13:15] yogeshmr opened #5277 "Server not starting in KA-Lite 0.16.9"
## Summary

After upgrading KA-Lite from 0.16.7 to 0.16.9, the server is not starting.
![image](https://cloud.githubusercontent.com/assets/21152041/18474791/72731c56-79e1-11e6-982b-92903608457a.png)

## System information
 - Operating system:  Windows 7
 - Version: 0.16.9
 - Browser: Chrome

## The following result is obtained in the command prompt

![image](https://cloud.githubusercontent.com/ass

[2016-09-13 13:33] benjaoming commented on #5277
Thanks for reporting quickly and with a neat traceback! :)

The problem is apparently common: http://stackoverflow.com/a/32988728/405682

Could you try the two proposed solutions?

Using your default `pip` command should install python packages in the same environment that KA Lite uses, but it's hard to say if it'll work. In case none of the two commands work, try removing the entire folder `dist-

[2016-09-13 15:10] yogeshmr commented on #5277
@benjaoming

I deleted the contents of the requests folder in the path "C:\Python27\share\kalite\dist-packages\requests" and I think that fixed the issue.

Although I tried other things given in http://stackoverflow.com/a/32988728/405682 before deleting the contents of the requests folder.

Thank you very much for helping!!!!!!!

Below provides the snapshot of the commands that I tried before and

[2016-09-13 15:12] yogeshmr commented on #5277
The last image in the above comment should be

![image](https://cloud.githubusercontent.com/assets/21152041/18479417/855b0340-79f2-11e6-8f0d-a0a3e5071154.png)

[2016-09-13 16:25] benjaoming commented on #5277
@yogeshmr -- the fix is a mix: Apparently, the bundled `requests` library causes issues on Windows. We bundled a very old version 1.1.0, see #5241 for the sad reason.

In order to fix it, it seems you had to

1. Delete `dist-packages/requests`
1. `pip install requests` -- it seems that both 2.1.0 and 2.11.1 are working for you.

(the other way around didn't have any effect because KA Lite was stil

[2016-09-13 17:40] yogeshmr commented on #5277
@benjaoming  I think I am able to understand you ( I am an Electronics guy, so only now starting with Python).

Please note that right now when everything is working, the "C:\Python27\share\kalite\dist-packages\requests" folder is empty. The dist-packages folder has request folders shown in below image, none of which is 2.1.0 or 2.11.1.
![image](https://cloud.githubusercontent.com/assets/21152041/

[2016-09-13 17:43] benjaoming commented on #5277
@yogeshmr probably only contain meta data pointing to the empty `requests/` folder - shouldn't make a difference. But you can delete all of them!

We should get a fix out, but I'm afraid that the nature of the issue means there's a conflict: What fixed an issue for the Mac installer now causes an issue on Windows. Att @cpauya

What we can do, is to remove the need for the old requests version. Thi

[2016-09-13 17:46] yogeshmr commented on #5277
@benjaoming  Sounds Gr8. Thanks a lot! :+1:

[2016-09-13 18:08] benjaoming commented on #5277
You're welcome! Oh, just for the record... the error was actually most likely introduced in 0.16.8 where we changed `requests`'s version, not the latest release :)

[2016-09-13 18:24] yogeshmr commented on #5277
@benjaoming Actually I did face the problem with 0.16.8 but did not report it instead continued to use 0.16.7 for my other installations :) But now I know that I have to report issues here and can get them fixed!

[2016-09-14 10:33] mrpau-richard commented on #5277
Hi @yogeshmr & @benjaoming I was able to reproduced this issue in KA Lite windows upgrade from 0.16.7 to 0.16.9.
![temp-b](https://cloud.githubusercontent.com/assets/8663934/18508892/ba6df252-7aa8-11e6-8b33-f27553cbeb2f.JPG)

But if I base from 0.16.8 to 0.16.9 KA Lite release upgrade KA Lite will work fine.
![temp-a](https://cloud.githubusercontent.com/assets/8663934/18508969/08505a28-7aa9-11e6-8

[2016-09-14 12:45] benjaoming commented on #5277
@mrpau-richard did you do the proposed steps from our Release Notes (see Known Issues) ? There might be more than 1 cause of this problem.

[2016-09-15 07:36] mrpau-richard commented on #5277
@benjaoming I read the 0.16.9 release notes, I think the another one may cause this issue is the [Old versions of pip](https://github.com/learningequality/ka-lite/issues/5264).

I also tested by upgrading `request` from 1.1.0 to 2.10.0 will fix this issue.

[2016-09-15 12:19] benjaoming commented on #5277
@mrpau-richard great thanks, I was just wondering if this issue was solely because of the bundled `requests` library... *it is*, as I can tell from the symptoms reported here.

[2016-09-16 23:00] benjaoming commented on #5259
Supposing this is a duplicate of #5277

[2016-09-16 23:00] #5259 closed

[2016-09-16 23:01] benjaoming commented on #5273
Thanks for reporting this -- not sure which version you upgraded from, but the problem could be due to an old language pack version that wasn't active after the upgrade?

Hope it's okay to continue this in your other issue? #5266

[2016-09-16 23:01] #5273 closed

[2016-09-17 01:36] spatiald commented on #5277
Same issue here...
**Hardware** - Intel CAP (customized)
**OS** - Ubuntu 12.04
**KA Lite versions** - 0.6.8 and 0.6.9

[code]

This error occurred was before and after running:
[code]
Tried to restart kalite...same traceback as above.

I then tried:
[code]
Tried to restart kalite...same traceback as above.

I then backed up and deleted my requests folder (like @yogeshmr):
/usr/share/kalite/dist-pa

[2016-09-17 13:38] benjaoming commented on #5277
Okay, then we have to concede and quickly get a fix out for KA Lite 0.16 series.

@spatiald can you run `kalite shell` ?

If so, try this:

[code]

[2016-09-17 18:53] spatiald commented on #5277
@benjaoming  As requested...
[code]

[2016-09-18 22:10] benjaoming commented on #5228
@rajnikumbh Editing RST in a simple text editor is great, I think you'll find syntax highlighting in both GEdit and Vi :)

@rajnikumbh to share things, you need to get started with Github. Fork this reponsitory, create your own local branch, commit the changes, push them to your own repository, then finally make a pull request.

[2016-09-19 11:11] benjaoming commented on #5277
@spatiald Thanks - that's very odd but valuable to know. Seems like it's a problem with the path environment.

FYI this is how it looks on my test installation:

[code]

Could you try running this? It should tell us how imports are resolved...

[code]

[2016-09-19 12:46] spatiald commented on #5277
[code]

[2016-09-19 15:55] benjaoming commented on #5277
Thanks, the path looks good! I found the problem in the debian installer scripts. It's an unfortunate typo.

Will correct and re-release!

[2016-09-19 16:38] rajnikumbh commented on #5228
@benjaoming I have uploaded the file. Please do check and let me know if thats okay. This is the first time I am checking in some changes on Git so please do double check the changes and let me know if anything else needs to be done.

[2016-09-19 22:24] benjaoming commented on #5277
@spatiald - I've fixed the installer, released an updated version of the .debs, the download links have been updated here: http://ka-lite.readthedocs.io/en/latest/installguide/install_all.html#linux

The PPAs will be ready soon.

[2016-09-20 01:10] spatiald commented on #5277
Alright, thank you...will test shortly and let you know.

[2016-09-20 12:48] benjaoming opened #5282 "Remove narratives.yml"
## Summary

Somehow we have a yml file that gets converted to a json file in order to output DOM paths and strings through an API view to a JS function.

And because of this we also have hacked `makemessages` to pick up stuff from said yml file.

@aronasorman - any reason behind this design decision or may I trump what seems to be over-complication so we can get rid of yml stuff and half of the cu

[2016-09-20 13:04] benjaoming opened #5283 "Make translations smoother: Remove application gettext translation from content packs"
## Summary

Crowdin and Transifex have command line utilities for synchronizing translations and source languages.

In order to make our application structure much more conventional and get rid of our language hacks, we should use a conventional structure for locale files.

I would suggest having all (partly) translated languages distributed in `kalite/locale`.

Looking at the configuration for th

[2016-09-20 13:59] benjaoming commented on #5270
Fixed in #5284

[2016-09-20 14:26] benjaoming commented on #4900
It hasn't been removed, but it's allowed only to wait for 2 seconds: #5284

[2016-09-20 14:26] #4900 closed

[2016-09-20 14:27] benjaoming commented on #5199
@cpauya unless you think this issue report concerning 0.15.1 is of concern for the upcoming 0.17 release, I think we should close it...

[2016-09-20 14:30] #4816 closed

[2016-09-20 14:33] benjaoming commented on #4790
Hi there!

The guide was updated a little while ago. Any specific requests for it should be opened as separate issues or discussions on community.learningequality.org

@edresor we would love to hear back regarding your experience in the community. Several people have been asking for deployment experience, and the more technical feedback we can collect, the better!

Here's the new docs section:

ht

[2016-09-20 14:33] #4790 closed

[2016-09-20 14:35] benjaoming commented on #5073
Is this actually a bug? Does it mean that `collectstatic` will effectively remove parts of an unpacked content pack?

[2016-09-20 15:53] rtibbles commented on #5073
Potentially it could. It also makes dev with these features harder, because this can only be tested in production mode.

[2016-09-20 16:14] benjaoming commented on #3399
PyPy will be dropped:
https://github.com/learningequality/installers/issues/417

But it's a duplicate of #4315 anyways

[2016-09-20 16:14] #3399 closed

[2016-09-20 16:16] benjaoming commented on #4315
This simple and yet possibly breaking change would be nice to get into 0.17 since we're moving to PEX on the OSX installer anyways.

[2016-09-20 16:39] benjaoming commented on #5252
Reopening because of similar occurrence:

[code]

[2016-09-20 17:59] aronasorman commented on #5282
I think we dump it out to json at some point. That yml file is for the
inline help functionality that @MCGallaspy implemented.

If you can commit the json, then just have the code read that, that should
remove the need for the yml file.

We still need them translated though, so I don’t think we can delete the
code. What do you think about making our own makemessages command, that
then calls out to

[2016-09-20 18:11] benjaoming commented on #5282
Oh yeah but I'll remove the json file as well :) Everything can just be put in a Python dict, no need to parse files...

[2016-09-20 18:14] benjaoming opened #5288 "Video subtitle BDD test is unreliable"
## Summary

Another messy BDD test.
## System information
- Operating system: Circle
## Traceback or relevant snippet from server.log

[code]
## How to reproduce

Happes very rarely, but randomly

[2016-09-20 19:05] benjaoming commented on #5283
Okay, in tonight's KA Lite sync-up, @aronasorman and I discussed that some deployments who are doing their own translations based on old instructions might expect:

1. A user-writable locale dir where they can drop in their own custom interface translations
1. To be able to have a custom-generated content pack include django.po interface translations

Because we don't wanna introduce a new behavio

[2016-09-20 21:45] #5270 closed

[2016-09-21 09:22] benjaoming commented on #4805
NB! Solving this issue will have a side-effect in that the content pack .zip will be placed in a system-wide location and remain after unpacking, so our Hardware Requirements' disk space item should be bumped by ~600 MB.

[2016-09-21 09:23] benjaoming commented on #4598
Does anyone have suggestions for documentation or new default settings?

[2016-09-21 09:25] benjaoming commented on #4596
There's another possible issue in the new video download: #4950

However, this seems to be extent, since the interface mentioned has been replaced.

Thanks for reporting!

[2016-09-21 09:25] #4596 closed

[2016-09-21 09:27] benjaoming commented on #4564
This pertains old json data, new content db is bundled with assessment items at the very least.

[2016-09-21 09:27] #4564 closed

[2016-09-21 09:29] benjaoming commented on #3359
Well, this is not happening in a near future, it requires lots of building resources, and we need to have a more automated release process to manage this.

If it's to happen, this issue should be opened in the installers repo anyways.

[2016-09-21 09:29] #3359 closed

[2016-09-21 11:24] benjaoming commented on #4950
Confirming this issue for 0.16.9

[2016-09-21 11:39] benjaoming commented on #4580
Fixed in https://github.com/learningequality/ka-lite/pull/4865

[2016-09-21 11:39] #4580 closed

[2016-09-21 13:17] fheslouin opened #5289 "Videos player doest not show control bar and play button"
## Summary

Videos does not show play button or show status bar on Android, Firefox (v. 48).
Videos works correctly on Android, Chrome (v. 43)
Videos works correctly on Laptop Linux, Firefox (v. 48)
## System information

_Please specify the KA Lite version you were using and your operating system!_
### Server side
- Operating system: Linux Debian Jessie
- Version: 0.16.8
## How to reproduce
1. Us

[2016-09-21 16:28] benjaoming commented on #5289
You mean this? It's showing here on 0.16.9.

![screenshot from 2016-09-21 18-27-54](https://cloud.githubusercontent.com/assets/374612/18719789/233f5d54-8029-11e6-929c-8377da16f91d.png)

[2016-09-23 16:07] Kevsy opened #5294 "Getting Swahili videos to offline server"
## Summary

Installing the Swahili content pack only changes the user interface language, but videos are still in English
## System information

_Please specify the KA Lite version you were using and your operating system!_
- Operating system: Windows Server 2012
- Version: 0.16.8
- Browser: Any
## Traceback or relevant snippet from server.log

[code]
## How to reproduce
1. Install English videos

[2016-09-23 16:11] fheslouin commented on #5289
I upgrade to 0.16.9, It works on Android Chrome, but not Firefox.

On Firefox it seems that the old control bar is still appearing, then I long press then "play", It is loading then the new control bar is appearing...
I cleared completely Firefox cache and tried on two devices, same issue.

[2016-09-24 11:40] rifatbd opened #5295 "New ContentPack(bn)"
## Its been a while Since any bangla(bn) contentpack is released for KALite. Recently the [Khan Academy Bangla](https://bn.khanacademy.org/) site have unlocked some new sections. It would be great if a new contentpack is available with all the new contents.
# System information
# Traceback or relevant snippet from server.log
# How to reproduce
## Screenshots

![Current Content in KALite](https://c

[2016-09-26 06:47] mrpau-eduard commented on #5295
Hi @rifatbd thanks for reporting.
We will take a look on this issue and update the contentpacks soon.

[2016-09-26 09:07] mrpau-richard commented on #5057
Hi @benjaoming It's safe if we use the `kalite start --foreground` when starting the KA Lite server?
If that safe then we use it to Start the KA Lite server in the KA Lite windows application.

[2016-09-26 11:22] benjaoming commented on #5057
@mrpau-richard the solution we're looking for is to get the actual Python logging work so that logging is completely identical on all systems.

The above is just a work-around, not a fix :)

[2016-09-26 11:24] benjaoming commented on #5289
@fheslouin after updating, have you run `kalite manage setup` - running this command will perform some of the routine Django stuff like `migrate` and `collectstatic`.

[2016-09-26 12:46] benjaoming commented on #5294
Hi @Kevsy

Thanks for reporting this. The only thing that looks remotely correct about the Swahili content pack is its "beta: True" flag :)

I've added some info on the project that builds the content packs.

I'm very convinced that Swahili should be prioritized.

If you want to get things running quickly, you could look at KA Lite 0.15, which was before we changed the format for language data.. h

[2016-09-26 14:43] julianharty commented on #5294
I agree that Swahili is worth prioritizing in terms of getting all the
content into ka-lite. I've done some work (including funding some of the
translation work) and am willing to help. What I can't do is work unaided
to sort out the many details that need to be addressed for Swahili to be
adequately implemented in ka-lite. I do know various organisations who are
keen to use ka-lite with Swahili a

[2016-09-26 19:21] benjaoming opened #5296 "Killing `kalite start --foreground` does not stop cronserver's active job"
## Summary

Accidentally downloaded all of Khan Academy having *not* stopped a process some days ago :) It seems that the cronserver is left open after CTRL-C'ing `kalite start --foreground`

To reproduce, the cronserver needs to be running a job... if it doesn't have jobs, it'll shutdown fine.

## System information

 - Version: 0.16.9

## Traceback or relevant snippet from server.log

N/A

[2016-09-27 02:11] cpauya commented on #5199
@benjaoming We haven't experienced this so far in our testing.  @mayurnath5r please re-open if this still manifests when you use the latest installer as linked above.

[2016-09-27 02:11] #5199 closed

[2016-09-27 07:14] benjaoming commented on #5294
@mrpau-eduard you're not showing up on the list of selectable assignees

[2016-09-27 07:16] benjaoming commented on #5294
Thanks @julianharty - we are very keen on having KA Lite translated to Swahili, and most of the efforts (excluding the interface translations) done building a content pack for KA Lite will also be utilized for [Kolibri](https://learningequality.org/kolibri/).

[2016-09-27 07:49] mrpau-eduard commented on #5294
@benjaoming I get it now. I need to be a memmeber of [learningequality](https://github.com/learningequality) in order to be assigned with a task.
I am using the company account @benjaoming .

[2016-09-28 11:14] benjaoming commented on #5294
Hi @Kevsy and @julianharty

@mrpau-eduard and @mrpau-richard have built a Swahili content pack, and it's uploaded and live for the 0.16 series - are you able to have a look and give some feedback?

[2016-09-28 12:03] Kevsy commented on #5294
Many thanks everyone! I will pass it to the Tanzania team and keep you posted.

Cheers
Kevin

[2016-09-28 13:06] Aypak commented on #5255
Hi Everybody, I hope i'm not too late to the party. Thanks for all your effort in resolving this. However, i noticed that admins and coaches were not able to login if LOCKDOWN is also activated
![screenshot at 2016-09-28 14-33-34](https://cloud.githubusercontent.com/assets/7353802/18913594/e092e380-8588-11e6-9d6a-38112d304c07.png)

I created a PR to fix this - #5297. Now it works perfectly when lo

[2016-09-28 14:02] fheslouin commented on #5289
I have done `kalite manage setup` but no improvement. The video can't be shown automatically on Android Firefox.

Does it work for you ?

[2016-09-28 14:20] julianharty commented on #5294
Very well done. I'll check in the next few days (I'm flying today to the
USA - and visiting the team next Monday :)

Julian

On 28 Sep 2016 12:14, "Benjamin Bach" <notifications@github.com> wrote:

[2016-09-28 15:10] benjaoming commented on #5255
This has already been fixed.. on which version did you encounter the issue?

I've been running with LOCKDOWN locally for a while, it was working also with admin/coach logins.

[2016-09-28 16:32] Kevsy commented on #5294
Thanks @benjaoming , @mrpau-eduard & @mrpau-richard for your hard work! However I'm not getting Kiswahili in the menu tree - rather it's blank. I don't think it's a character encoding issue because there is some Kiswahili in the UI, and the videos appear in the search results.

`$ kalite --version`
`0.16.9`

` ~/Code/kalite$ ls -l sw.zip`
`-rw-r--r--@ 1 ###### ####  2881058 28 Sep 13:06 sw.zip`

`

[2016-09-28 22:24] mrpau-richard commented on #5294
Hi @Kevsy The menu tree is empty because there's no available exercises yet, but if you download a `swahili` videos it will appear on the menu tree. We are still working on other exercises and why is not included.

![a-temp](https://cloud.githubusercontent.com/assets/8663934/18934597/2b84b54c-860d-11e6-9b38-3b0d6ba4bbe8.gif)

[2016-09-29 08:35] Aypak commented on #5255
I encountered this issue in the latest release. It only happened when both lockdown and simplified login were both activated. Thanks for reviewing the PR

[2016-09-29 08:38] Kevsy commented on #5294
Thanks @mrpau-richard . Is there a location where I can bulk download the Swahili videos? Or, if not, is there a way I can download them via the browser interface, and then copy them from my local directory to a USB stick to send to the remote location (which has no Internet access)?

[2016-09-29 09:43] mrpau-richard commented on #5294
@Kevsy We have a documentation for that [here](http://ka-lite.readthedocs.io/en/latest/usermanual/userman_admin.html#bulk-video-downloads), But sadly there's no available `Swahili ` torrent file. I will try to create a torrent file for `Swahili ` and ping you when it's done.

[2016-09-29 09:47] benjaoming commented on #5294
@Kevsy - I wonder if it's because you have no videos downloaded and there aren't any translated exercises in the set.. will investigate!

[2016-09-29 09:59] mrpau-richard commented on #5294
@benjaoming based on our findings `swahili` or `sw` language code has no exercises fetch from KHAN api. We will try to use the `swa` language code for 'swahili` if it has a return exercises from KHAN api.

[2016-09-29 14:02] benjaoming commented on #5294
Hi @mrpau-richard - great find! As I commented on @mrpau-eduard 's commit, I think it might be easier to stick to our current `sw` language code and instead map our calls to upstream Khan API to `swa`.. so we don't have to change language codes in other places and so current deployments (possibly automated scripts) won't have to change as well.

[2016-09-29 14:37] julianharty commented on #5294
At the risk of derailing this topic. Can you tell me how to manage ka-lite
installed using the OSX installer please? I've installed 0.16.9 using the
OSX installer and it's running. I now need to login as an admin to install
the language pack, etc. however I can't see an easy way to do so and don't
know if there's an existing admin / super-user provided in the package.

I have found and tried the t

[2016-09-29 15:51] mrpau-richard commented on #5294
@julianharty I have the same issue with you. I just restarted my mac and it will work fine.
To use the `Swahili language pack` follow this [documentation](http://ka-lite.readthedocs.io/en/latest/faq.html?highlight=retrievecontentpack#how-can-i-install-a-language-pack-without-a-reliable-internet-connection).

@Kevsy Here's the [torrent file](https://github.com/learningequality/ka-lite/files/501071/

[2016-09-29 22:05] benjaoming commented on #4813
Both or these are completely removed through #5285

[2016-09-30 09:40] Kevsy commented on #5294
@mrpau-richard much appreciated, thanks! I'll report back once I've installed the videos.

[2016-10-01 21:02] benjaoming commented on #4805
We assume that  `setup` is only run when installing new systems or upgrading. Therefore, it should be safe to assume that an auto-discovered content pack is always provided by the installer.

Automatically unpacking it means over-writing the content.db of that language. The harm this can do should only happening to systems with an unclean upgrade path, i.e. `install 0.17 deb -> install 0.18 from p

[2016-10-02 09:03] benjaoming commented on #3951
Fixed in #5285

[2016-10-02 09:03] #3951 closed

[2016-10-02 09:04] benjaoming commented on #4081
Fixed in #5285

`kalitectl.py` no longer exists, most of it now lives in `kalite.cli` and is invoked by `kalite.__main__`, meaning that you can launch KA Lite directly with `python - m kalite`.

[2016-10-02 09:04] #4081 closed

[2016-10-02 09:05] benjaoming commented on #3952
Fixed in #5285

What we bundle now lives in `kalite/packages`, `kalite/packages/bundled` is for the stuff that's in the repo, and `kalite/packages/dist` is auto-fetched dependencies that we include in `ka-lite-static`.

[2016-10-02 09:05] #3952 closed

[2016-10-02 09:07] benjaoming commented on #4386
Fixed in #5285 - assuming this was a spontaneuous issue of *pyc files being created/removed during runtime. `kalite manage setup` no longer deletes *pyc because it's all assumed handled by setuptools and installers.

[2016-10-02 09:07] #4386 closed

[2016-10-02 09:08] benjaoming commented on #5282
Fixed in #5285

@aronasorman - I've refactored it into Python dict with `ugettext`.

[2016-10-02 09:08] #5282 closed

[2016-10-02 09:55] benjaoming commented on #4805
Fixed in #5285

If content packs are placed in `<kalite.ROOT_DATA_PATH>/preseed/contentpack.<lang>.zip` (for instance `/usr/share/kalite/preseed/contentpack.en.zip`), it will be automatically found and installed with `retrievecontentpack local <lang> <path>` during `kalite manage setup`.

...if a virtuanenv is active, the whole process is skipped

[2016-10-02 09:55] #4805 closed

[2016-10-02 10:02] benjaoming commented on #5277
The current `develop` branch has bumped `requests` to 2.11.1 and no longer stores python files in "data files" locations, so the mess with *pyc files is over - the Windows installer invokes setuptools which cleans up *pyc in target locations.

This will be released as 0.17 at the end of October... but please feel encouraged to try out the beta release on PyPi `pip install ka-lite --pre`

@mrpau-ri

[2016-10-02 10:02] #5277 closed

[2016-10-02 10:45] benjaoming commented on #5264
Fixed in #5285

`requests` is now in version 2.11.1 in `develop`, will be released in 0.17 - prereleased in 0.17b1 on PyPi

[2016-10-02 10:45] #5264 closed

[2016-10-02 10:49] benjaoming commented on #4742
The way to write new narratives has been changed a bit to avoid having `yml` data in our codebase. I'm absolutely open to having more inline help as it doesn't break anything.

Just needs to happen before 0.17 string freeze.

Anyways, we haven't received an proposals AFAIK. But opening those in separate issues would make it easier. Closing this and opening an issue about documenting the inline fea

[2016-10-02 10:49] #4742 closed

[2016-10-02 10:50] benjaoming opened #5298 "Document inline help"
## Summary

We didn't receive any new proposals for inline help as per #4742

So let's instead try to document it and leave it for the initiative of the community.

[2016-10-02 10:51] benjaoming commented on #4813
Fixed in #5285

These settings no longer exist, nor do the Cherrypy entries.

[2016-10-02 10:51] #4813 closed

[2016-10-02 10:52] benjaoming commented on #4315
Fixed in `0.17`, releasing at the end of October. But work on installers can start now with the prerelease of 0.17b1.

[2016-10-02 10:52] #4315 closed

[2016-10-02 10:53] benjaoming commented on #3399
Fixed in `0.17`, releasing at the end of October. But work on installers can start now with the prerelease of 0.17b1.

[2016-10-02 14:42] benjaoming commented on #5289
@fheslouin I don't have access to Android Firefox - are you able to debug this, for instance dump any javascript errors that may occur in the browser?

[2016-10-02 14:45] benjaoming commented on #5266
@mrpau-eduard @mrpau-richard @cpauya - are you able to build the Arabic language pack?

[2016-10-02 15:27] benjaoming commented on #5255
@Aypak 's fix is implemented for the 0.17 release (current `develop`). I'm guessing because the fix was so simple and has already been confirmed as working, that we can skip any further confirmation and just close this issue :)

[2016-10-02 15:27] #5255 closed

[2016-10-02 18:47] benjaoming commented on #5055
Fixed in #5307

[2016-10-02 18:47] #5055 closed

[2016-10-03 00:51] mrpau-richard commented on #5266
Hi @benjaoming @benridge Here's the Arabic language pack [ar.zip](https://github.com/learningequality/ka-lite/files/505340/ar.zip)
I built it manually in my local, I will create a `PR` soon to build it at the build server.

[2016-10-03 01:19] mrpau-richard commented on #5266
@benridge & @benjaoming `Arabic` language pack contain only `ar` videos and the `strings` is not fully translated.

![screen shot 2016-10-03 at 9 17 22 am](https://cloud.githubusercontent.com/assets/8663934/19025343/3e52daec-894a-11e6-9028-2cdf04cf58c0.png)

![screen shot 2016-10-03 at 8 59 26 am](https://cloud.githubusercontent.com/assets/8663934/19025349/4a50c2e6-894a-11e6-865c-223f193989c4.png)

[2016-10-03 09:44] mrpau-richard commented on #5277
Hi @benjaoming I try to build using develop branch in Bamboo server, and I getting this [error logs](http://dungeon.learningequality.org/download/KL-MTBW-JOB1/build_logs/KL-MTBW-JOB1-42.log), We try to investigate the error.
In my local I successfully build the KA Lite .whl file using `make dist` command.

[2016-10-03 17:21] benjaoming commented on #5277
@mrpau-richard - that's to be expected, I've opened up this issue regarding updating the Bamboo builds: https://github.com/learningequality/installers/issues/424

[2016-10-03 17:24] benjaoming commented on #5266
Nice @mrpau-richard!!

@benridge @tim-moody - would you be able to test the new contentpack? You can install it by running `kalite manage retrievecontentpack local ar path/to/ar.zip`

[2016-10-03 17:48] benjaoming commented on #5298
Fixed in #5309

[2016-10-03 17:48] #5298 closed

[2016-10-03 17:48] benjaoming commented on #5258
Okay, there wasn't any further input, I can live with that - fixed in #5309

[2016-10-03 17:48] #5258 closed

[2016-10-03 19:33] benjaoming commented on #5232
Fixed in #5311

[2016-10-03 19:33] #5232 closed

[2016-10-03 19:50] benjaoming commented on #5296
This can't be fixed with the current implementation of the video download queue.

1 job in scheduler = download all selected videos.

When we stop the server, we wait for running jobs to finish since killing them would mean an uncertain state.

Once the new scheduler #4907 is implemented, this can be solved.

[2016-10-03 19:52] benjaoming commented on #5296
Actually, will just close this issue - there's nothing to be fixed, except implementing a different scheduler that handles video download jobs separately.

[2016-10-03 19:52] #5296 closed

[2016-10-03 19:56] benjaoming commented on #5197
Hi @johnfelipe - thanks for writing regarding the download problems, I will close this issue now because we're going to have to work on a new scheduler for this to work - see #4907

Meanwhile, if it's possible for you, I would recommend fetching videos through the torrent files with resized videos - it's faster and more reliable: http://pantry.learningequality.org/downloads/ka-lite/0.16/content/

[2016-10-03 19:56] #5197 closed

[2016-10-03 19:58] benjaoming commented on #5104
Sorry I had some issues getting this to work and kept force-pushing new commits on top of the old one :)

But it's fixed now @Aypak

[2016-10-03 19:58] #5104 closed

[2016-10-03 20:31] benjaoming commented on #5073
Some notes

subtitles:
.kalite/httpsrv/static/srt

metadata + locale files in locale dir
.kalite/locale

assessment item data go to
.kalite/content/assessment

html exercises go to:
.kalite/httpsrv/static/js/distributed/perseus/exercises/<lang_code>

[2016-10-03 20:32] benjaoming commented on #2685
Well done everyone :)

[2016-10-03 20:32] #2685 closed

[2016-10-03 21:55] benjaoming commented on #3926
Fixed in #5315

[2016-10-03 21:55] #3926 closed

[2016-10-04 10:40] harishbalachandran opened #5316 "Vertical angles exercise does not load the questions after solving 6 questions."
## Summary

Path: Math --> Geometry --> Angles & Intersecting lines --> Vertical Angles --> Vertical Angles exercise.

When a user starts solving problems on the Vertical angles exercise the questions does not load after solving 6 questions.
## System information
- Operating system: Ubuntu 14.04LTS
- Version: 0.16.X all versions
- Browser: Chrome
## How to reproduce
1. Go to the vertical angle exe

[2016-10-04 11:07] harishbalachandran opened #5317 "JS files are still cached in browser history after upgrade"
## Summary

Coach and Teacher have been using version 0.16.5 over 4 months.

The exercise and videos stops loading after a version update (0.16.7 or 0.16.9) on the servers, this happens on the tablets which the learners use too.

But strangely on deleting the Browsing history the problem seams to get solved both on the coach server and the learner tablets. The browser used is Chrome.

This is a bi

[2016-10-04 13:28] benjaoming commented on #5317
Hi @harishbalachandran - thanks for reporting this!

If you can help me reproduce the issue, I can definitely figure out a fix for 0.17.

...what I mean is: I can't reproduce that step ;)

Could you perhaps tell me if this case would produce the problem?

1. Install KA Lite 0.16.5
1. Load an exercise in Chrome
1. Upgrade to KA Lite 0.16.9
1. Load the same exercise in Chrome.

...result: The exerci

[2016-10-04 13:42] benjaoming opened #5318 "Ship w/ empty content.db, handle blank default installations"
## Summary

We ship a broken default content pack (English content.db w/o assessment items or subtitles, means that you can click exercises but they're broken) - that alone is a solid enough reason to stop building this content pack and instead fix KA Lite.

The other reason is the 90 MB of almost meaningless data (unpacked, ~50 MB download size) that we bundle into the source distribution. This u

[2016-10-04 16:09] benjaoming opened #5319 "django-tastypie for 0.17 cannot be a dependency link"
## Summary

Seems that some old version of pip will mis-behave, and the dependency links are scheduled to be removed in Pip 9.
## System information
- Version: 0.17
## Traceback or relevant snippet from server.log

[code]
## How to reproduce

Happens on OSX

[2016-10-06 07:33] harishbalachandran commented on #5317
Thanks @benjaoming I guess you should be able to reproduce just by following the steps you mentioned. The reason I said use KA lite for few months is because that's when all the JS files are cached and conflicts with the latest version I suppose.

[2016-10-06 07:41] harishbalachandran commented on #5254
Hey @benjaoming I guess this is pretty much same as 5317. If faced this during the upgrade from 0.16.5 to 0.16.8, and now we are facing the same for any upgrade from one version to other.

[2016-10-06 09:32] mrpau-richard opened #5321 "Progress bar is missing when downloading a Kiswahili videos."
## Summary

Progress bar is missing when downloading a Kiswahili videos.
## System information
- Mac OS X 10.11.6
- 0.16.9
## How to reproduce
1. download a Kiswahili language pack at http://pantry.learningequality.org/downloads/ka-lite/0.16/content/contentpacks/
2. Used it in KA Lite.
3. Download any Kiswahili videos.
## Screenshots

Downloading Kiswahili videos.
![screen shot 2016-10-06 at 5 28

[2016-10-06 14:08] benjaoming commented on #5321
@mrpau-richard - see any javascript errors or errors in your server.log?

[2016-10-06 22:38] mrpau-richard commented on #5294
@Kevsy We updated `Kiswahili` language pack with exercises and videos, you can download it [here](http://pantry.learningequality.org/downloads/ka-lite/0.16/content/contentpacks/sw.zip)

[2016-10-07 00:09] mrpau-richard commented on #5321
@benjaoming I have this console error.
![screen shot 2016-10-07 at 6 04 34 am](https://cloud.githubusercontent.com/assets/8663934/19174957/57e0b042-8c65-11e6-99ae-485f98b8c785.png)

[2016-10-07 08:59] Kevsy commented on #5294
That's brilliant @mrpau-richard , thanks so much everyone for the effort! Will test this afternoon.

[2016-10-07 10:32] benjaoming commented on #5321
@mrpau-richard - you should also expand the `SyntaxError` so it's possible to actually read the traceback :)

[2016-10-07 16:23] Kevsy commented on #5294
I'm getting a mix of English and Swahili descriptions (and sometimes category headings) - is that expected?
![screenshot_20161007-165538](https://cloud.githubusercontent.com/assets/7903978/19197480/f56af8a8-8cb1-11e6-932c-8f0440b93998.png)
![screenshot_20161007-165654](https://cloud.githubusercontent.com/assets/7903978/19197481/f56d653e-8cb1-11e6-95a4-bf937a9faf33.png)
![screenshot_20161007-165716

[2016-10-07 17:10] julianharty commented on #5294
My understanding is that there are roughly 1200 dubbed+subtitled 'Swahili'
videos in Khan Academy. When I downloaded all the videos ka-lite has
configured I've got around 370, so far less than the 1200 (IIRC the number
comes from Erna Graz who was responsible for translating them). We
translated 100% of the ka-lite aspects, however they're dwarfed compared to
the translations needed for the khan a

[2016-10-07 18:38] Aypak opened #5324 "Attemptlog too big in low bandwidth environment"
## Summary
We are operating in very low bandwidth environments in Zambia, syncing is taking a very long time and attemptlog (which we don't need the data for) is the major part of the issue. Is there a way to disable this table syncing or reducing its size? As a hack we were thinking of writing a script to delete this table before the sync, would that work?

## System information

 - Operating sys

[2016-10-08 03:36] mrpau-richard commented on #5294
@Kevsy Yeah, that's right because exercises, videos and topics string of the `Kiswahili` language pack is not fully translated at [Khan Academy crowdin](https://crowdin.com/project/khanacademy/sw).

[2016-10-09 14:24] benjaoming commented on #5324
@Aypak - deleting the table wouldn't work, as it would just cause the application to break.

Do you use the attemptlog data locally?

[2016-10-09 14:42] benjaoming commented on #5294
@mrpau-richard - the resized torrent contains 332 mp4 files. I think what @julianharty is saying is that there should be 1,200 videos. Could it be that only dubbed videos are included in the torrent?

[2016-10-09 20:25] julianharty commented on #5294
I've found that trying to track all the videos in various languages is
time-consuming and error prone. There's a master spreadsheet in Google Docs
that 's updated from time to time (Jamie Alexandre is one of the people who
does) but it's not complete in terms of tracking all the videos. Similarly,
it's been a challenge to establish where the oracle (the official master
reference) is or whether it'

[2016-10-10 02:43] julianharty commented on #5294
I decided to have a go at finding out roughly how many videos there seem to
be in Swahili on Khan Academy. Here's what I did, the count, and some
comments based on experiments I did with Joe Reeve about 6 months ago which
indicate some of these may be in English rather than Swahili.

   1. Visit sw.khanacademy.org
   2. View page source view-source:https://sw.khanacademy.org/
   3. Search for: /vi

[2016-10-10 02:50] julianharty commented on #5294
BTW: is the online editing site for translations still available - what
used be http://kitchen.learningequality.org:1187 For those of you who've
not used or seen this site, it allowed people to select a language (Swahili
is the obvious choice for this discussion) and view the UI of ka-lite in a
way that people could then click on text (and particularly
untranslated content) and be taken to the cor

[2016-10-10 04:06] mrpau-richard commented on #5294
@julianharty & @benjaoming  The videos inside in `Kiswahili` torrent file is mixed, from khan api and doc spreadsheet and other videos is not included in torrent file because it has a problem when I manually downloading it in KA Lite.

When I filtered the `Kiswahili` videos in the content pack database I got 342 videos in result, but videos loaded in KA Lite is only 334 It's because some youtube_i

[2016-10-10 12:15] benjaoming commented on #5321
Thanks for the fix @mrpau-eduard - changes will be implemented for 0.17

[2016-10-10 13:39] benjaoming commented on #5318
+ the danger of having wrong versions of the bundled English minimal content pack means that there is no "Upgrade" button visible unless we edit metadata on the server Manually. So we can't release without addressing this.

[2016-10-11 01:03] cpauya commented on #5294
Hi @julianharty - thanks much for validating the Swahili videos on KA.  It's very helpful.

To expound on what @mrpau-richard said:  There are `youtube_ids` from the KA API calls that were included in the returned JSON but are still tagged as English via the `translated_video_lang` key.  Since we can't include that item in the list, what we did was lookup these `youtube_ids` to the **Dubbed Video

[2016-10-11 07:45] mrpau-eduard commented on #4378
Hi @aronasorman and @radinamatic .
I try to replicate the issue which I used French and Spanish packs, but it seems the issue is not available anymore. The "counting squirrels” in `fr` and `es` dubbed video is working correctly. I was able to play the `fr` and `es` dubbed video for "counting squirrels”.

Do you have any idea how I can reproduce the issue which the videos for french packs are in En

[2016-10-11 07:49] radinamatic commented on #4378
@mrpau-eduard This issue is so old and pre-contentpacks that I'm not surprised it cannot be replicated.

@trexken We are closing this for now. Please update your installation to 0.16.9 and file a new issue if this re-occurs.

[2016-10-11 07:49] #4378 closed

[2016-10-11 13:36] benjaoming commented on #5254
@harishbalachandran IMO #5317 is a release blocker and very important to get fixed, where as this issue ATM is impossible to fix because it's hard to understand what the problem is.

Did you try @aronasorman 's suggested SQLite pragma settings?

[2016-10-11 16:30] jamalex commented on #5294
@cpauya What do you do in the case that a YT ID isn't found either in the KA API or in the spreadsheet? Presumably the desired behaviour would then be to skip it -- perhaps now it's just falling back to the EN video?

[2016-10-11 19:32] jamalex commented on #5294
Building on what @julianharty showed, I ran some further stats.

Looking at https://sw.khanacademy.org/, we do see the quoted number if we look at all video links:
`len(video_ids) => 1823`

However, if we uniquify, we get a much smaller number, though still greater than what we're seeing elsewhere:
`len(set(video_ids)) => 740`
(in part, this is because every link appears at least twice -- probably

[2016-10-12 03:04] mrpau-richard commented on #5294
Hi @jamalex The behavior in case the `youtube_ids` isn't found in either in the KA API or in the spreadsheet is it will not return any videos. And it will not appear in the KA Lite topic tree.

I also agree, to manually add the `youtube_ids` that's not added in the spreadsheet.

[2016-10-12 03:29] jamalex commented on #5294
@mrpau-richard Thanks for the clarification. Going back to the first message in this thread, it's not clear to me why there would be English videos getting included, then. We only use the results from the API if the EN id doesn't match the translated ID, and the fallback IDs in the Swahili column should all be in Swahili.

@Kevsy @julianharty Can you list a few examples of videos that are still in

[2016-10-12 09:01] Kevsy commented on #5294
@jamalex yes will do - we're shipping the USB of videos from the torrent to Tanzania, and will report back from the local team. I've also asked for an identification of the core 'primary school' learning path so that we can identify the priority translations; and ideally we can help with translating any gaps via crowdin. Thanks everyone for all the help!!

[2016-10-13 05:27] mrpau-eduard opened #5328 "Some videos that are in the French packs are in English"
## Summary

Playing some of the videos using the French language are in English.
## System information
- Version: 0.16.x
## How to reproduce
1. Download the  French content pack [fr.zip](http://dungeon.learningequality.org:8085/artifact/CP-KL/shared/build-254/English-content-pack/langpacks/fr.zip)
2. Then run command `kalite manage retrievecontentpack local fr <download/path/>/fr.zip`
3. Switch yo

[2016-10-13 05:32] mrpau-eduard commented on #5328
Notice that `description` and `title` for - [Examen BC d'analyse AP: 2008 1 b&c](http://127.0.0.1:8008/learn/khan/math/calculus-home/ap-calc-topic/ap-calculus-bc-questions/ap-calculus-bc-exams-2008-1-b-c/) are translated to French however the `youtubeId` and `translatedYoutubeLang` is `en`.
[code]

[2016-10-13 05:51] mrpau-eduard commented on #5294
Hi @jamalex I file an issue #5328  for the videos that are in the French packs are in English.
I list the youtube ids and the urls where the English videos  is playing instead of French videos.

[2016-10-13 19:22] jamalex commented on #5328
Ok, that makes sense then. Presumably if `translatedYoutubeLang` is "en", we should not use that `youtubeId`, other than to look it up in the spreadsheet. If it's not in the spreadsheet (and `xPb6HLM3xEQ` isn't), then we should exclude it.

Is that not what we're doing now?

[2016-10-14 08:29] mrpau-eduard commented on #5328
Hi @jamalex ,
We are currently working on it. If the  if `translatedYoutubeLang` is "en" we lookup on the spreadsheet then exclude the `youtubeId` which is english.
We incorporate this fix in this pull request https://github.com/fle-internal/content-pack-maker/pull/39

@mrpau-dev able to exclude the English youtube id's. See attachment below.
 [Examen BC d'analyse AP: 2008 1 b&c](http://127.0.0.1:

[2016-10-14 16:42] mrpau-eduard commented on #5328
Hi @jamalex we manage to fix the issue on the video topics.
The next things @mrpau-dev will do is to test the fix with different language packs.

[2016-10-14 19:02] Aypak commented on #5324
Hi @benjaoming , actually we do not use any of the attemptlog data locally. We're only interested in user stats such as login time, exercises completed, and videos watched. Is there anything at all we can do to prevent the attempt log from syncing or at least reduce the amount of data produced in this table? Thousands of rows of data are produced in this table over even a short period of time

[2016-10-14 19:05] benjaoming commented on #5324
If you don't use the data, you could flush the tables regularly? But won't the students need it for their local use?

[2016-10-14 19:12] Aypak commented on #5324
I'm not sure if the students need it. What are the consequences of flushing the tables? What functionality will this affect?

[2016-10-15 08:08] jiangjianshan opened #5329 "Error in downloading 4ThUMRAvUkY: HTTPConnectionPool(host='s3.amazonaws.com', port=80): Max retries exceeded with url: /KA-youtube-converted/4ThUMRAvUkY.mp4/4ThUMRAvUkY.mp4 (Caused by <class 'socket.error'>: [Errno 10054] ); continuing to next video. ..."
Hello,

   The following message has been got when I try to download the video from Math part:
![image](https://cloud.githubusercontent.com/assets/20179047/19408515/c02680cc-92f1-11e6-9c55-5c57febecab1.png)

   Sometimes the download will hang up there even several hours past.
![image](https://cloud.githubusercontent.com/assets/20179047/19408564/0dd6c7c2-92f3-11e6-95f9-9821d467a36e.png)

   It's n

[2016-10-17 11:30] benjaoming commented on #5324
As I see it, all of the synced models are the same models that store individual user progress locally. So for instance, if we flush them, students won't be able to tell which videos and exercises their user account has completed.

I think the only way to solve this would be to implement a setting that can skip named models.

[2016-10-17 15:59] Kevsy opened #5330 "Heroku build throws 'securesync.settings' ImportError"
## Summary

I'm trying to deploy KA Lite as an Heroku app, for basic demo purposes (otherwise we can only demo to colleagues who have a KA Lite instance in their network). This uses the standard KA Lite codebase but adds the Heroku Procfile, which contains the following line:

[code]

Committing the app and deploying with `git push heroku master` results in the build apparently succeeding but a cr

[2016-10-17 16:38] aronasorman commented on #5330
Hi Kevsy,

Thanks for pushing through with this! Unfortunately there are a couple of blockers to getting `kalite` running smoothly on Heroku right now:

1. Biggest one is that we default to SQLite. That means, since Heroku can potentially serve each request on a separate dyno, that they'll have different databases. User information will not be consistent across requests.

2. Instead of running gun

[2016-10-17 16:44] aronasorman commented on #5330
I forgot that `make dist` also requires a nodejs installation. Do you know if the Heroku environment provides that?

[2016-10-17 16:45] Kevsy commented on #5330
Thanks! I will give that a go - Heroku indeed provides nodejs. Will report back...

[2016-10-18 08:53] Kevsy commented on #5330
update:
1. tried changing Procfile to `web: bin/kalite start --port=$PORT` ($PORT is assigned dynamically by Heroku), results in Django exception:

    ImportError: No module named build

2. I'm not sure how to build and deploy outside of the `heroku create` command, since you don't get raw SSH access. But this looks promising, custom Heroku buildpacks: https://www.petekeen.net/introduction-to-her

[2016-10-18 10:56] benjaoming commented on #5330
@Kevsy - is that a Python exception? In KA Lite's codebase, there's no modules named `build`.. probably best with some kind of full traceback. Do you receive the error during `kalite start`?

Try running `bin/kalite start --foreground --traceback`, I think it renders a full traceback, although I'm not 100% sure because many of the sub-processes might still hide tracebacks.

[2016-10-18 11:42] Kevsy opened #5331 "Video will not playback in Chrome for Android"
## Summary

A video will not have the 'play' button overlay on Chrome for Android - it is not possible for the user to play the video from within the browser. However the video can be saved for offline viewing in the system player.
## System information

_Please specify the KA Lite version you were using and your operating system!_
- Operating system: Ubuntu 14.04
- Version: 0.16.9
- Browser: Chro

[2016-10-18 12:00] Kevsy commented on #5330
@benjaoming oops! here's the full traceback. I changed the Procfile to include the switches specified above.

     ~/Code/kalite-web/ka-lite-master$ vi Procfile
 ~/Code/kalite-web/ka-lite-master$ git add Procfile
 ~/Code/kalite-web/ka-lite-master$ git commit -am "add traceback"
[master ac99ccf] add traceback
 1 file changed, 1 insertion(+), 1 deletion(-)
 ~/Code/kalite-web/ka-lite-master$ git push

[2016-10-18 12:23] benjaoming commented on #5330
This seems to be because somewhere in `settings.INSTALLED_APPS`, there's a module listed called `build`, this is `'fle_utils.build'`. The problem is then that the path environment isn't set correct.

But I'm not quite convinced about the way you're running this with heroku is a good idea. KA Lite isn't supposed to be run statically from its source directory.. it might work for development purposes

[2016-10-18 12:24] Kevsy commented on #5330
Seems sensible - will give that a go later. `heroku run` should allow command line invocation, I hope :)

Cheers!

[2016-10-20 05:45] tim-moody commented on #5266
Finally got a chance to try the ar.zip link above.  This screen shot shows the result.

![image](https://cloud.githubusercontent.com/assets/5678731/19547557/d561e6b6-9666-11e6-80e4-c683c4e1de94.png)

[2016-10-20 13:42] benjaoming commented on #5266
@tim-moody that doesn't look super Arabic... looks like a bit of everything :)

@mrpau-richard could you have a look at why it seems that Russian (?) and perhaps Chinese is showing up, too?

[2016-10-20 17:09] tim-moody commented on #5266
This is basically what we had before; see my first screen shot.

is this the source https://ar.khanacademy.org/ ?

[2016-10-20 17:41] tim-moody commented on #5266
can someone explain the process for creating a language pack?

[2016-10-20 18:44] benjaoming commented on #5266
@tim-moody unfortunately the project is still internal.

https://github.com/fle-internal/content-pack-maker

@aronasorman anything that keeps us from moving it to a public realm?

[2016-10-22 10:38] JMNB commented on #5125
Today I managed to run KA Lite including subtitles on a RaspberryPI 2B.

NOOBS version: V2_0_0
KA Lite version: 0.16
Iceweasel/Firefox version: 45.4.0

[2016-10-22 10:41] benjaoming commented on #5125
Thanks for testing @JMNB  - It's definitely the older version of Epiphany that's to blame, but I don't anyone is going to try to fix it... could happen by accident if we upgrade video.js and they have the problem sorted upstream.

[2016-10-22 10:44] benjaoming commented on #4993
@radinamatic seems this issue is being mixed up with restricted-extras, which we have documented that people need to install.

However, it seems there was also an issue on XP. Could you confirm it and narrow it down so we can add it "Known Issues" and perhaps move one to a fresh issue with less confusing input? :)

[2016-10-25 11:04] benjaoming commented on #5329
Hmm, the URL seems to work: http://s3.amazonaws.com/KA-youtube-converted/4ThUMRAvUkY.mp4/4ThUMRAvUkY.mp4

The problem seems to be that `socket.error` isn't intelligently handled. The file is just removed from the queue, although the download should have been retried.

Could you comment some more on the quality of your internet connection? Is it likely that the download failed and retried?

[2016-10-25 11:05] benjaoming commented on #5329
I'm closing this issue because it won't be fixed independently, but it can be referred to our more general overhaul of downloading/scheduling  #4907

[2016-10-25 11:05] #5329 closed

[2016-10-25 11:05] benjaoming commented on #5329
Thanks for reporting this btw! The issue is legit!

[2016-10-31 21:42] fabizeid opened #5332 "Cannot view some images on ipads and iphones"
## Summary

Some  images are not showing on IOS devices. I have tried displaying the page on several iphones and ipads but images of some sections would not show.

## System information

I have used a current installation as well as the live demo page,
 - Operating system: IOS
 - Version: 9.3.5 (13G36)
 - Browser: Safari

## How to reproduce

1. From Ipad or Iphone
2. Open Safari
3. Go to: http://

[2016-10-31 21:51] radinamatic commented on #5332
Thank you for reporting this @fabizeid!

@mrpau-dev I don't have iPad/iPhone to test this, could you try to replicate on your end?

[2016-11-01 01:24] cpauya commented on #5332
@fabizeid can you specify what iOS version did you use?

@radinamatic Sure.  We can use the Xcode's iOS Simulator to test this if we don't have a physical iOS device.

[2016-11-01 16:10] fabizeid commented on #5332
You could reproduce it using an online emulator for IOS:

https://appetize.io/demo?device=ipadair&scale=50&orientation=landscape&osVersion=9.3

This demo has a 60 seconds timeout. You could copy the reproduction steps link and paste it in safari to gain time. Or you could use http://jsfiddle.net/appetize/mtuftsm8/, press on the home key, then start safari and try it out there (this example has no

[2016-11-01 16:48] radinamatic commented on #5332
Thanks for the tip & suggestions @fabizeid!
We'll try to reproduce this as soon as possible!

[2016-11-01 16:51] fabizeid commented on #5332
Not in a hurry, let the guys enjoy their holidays. Thanks for the great product!

[2016-11-02 04:01] cpauya commented on #5332
Thanks for the emulator link @fabizeid.  To validate this issue, here's a screenshot of the demo link on an iPad Air Simulator v10.0.

![simulator screen shot 2 nov 2016 11 35 02 am](https://cloud.githubusercontent.com/assets/175580/19915933/ad347ae8-a0f0-11e6-870c-7db6f0fe7b5e.png)

@radinamatic To launch the iOS Simulator, you will need Xcode in your Mac.  I use two ways to launch it:

1. Use sp

[2016-11-02 13:30] radinamatic opened #5333 "KA Lite not running after update to macOS Sierra."
## Summary

Reminder for the issue reported on info mailing list, and replicated by the team.

`Unclean shutdown` error message raises the head again!

## System information

 - Operating system: macOS Sierra
 - Version: 0.16.9

## Screenshots

![screen_shot_2016-10-27_at_10 51 36_am](https://cloud.githubusercontent.com/assets/1457929/19930341/4e7cb566-a108-11e6-8531-28dff609b018.png)

## Real-lif

[2016-11-02 13:33] radinamatic commented on #5332
Wow, @cpauya, awesome tutorial!!! 😍
Thank you! 🙇‍♀️

[2016-11-05 19:50] Aypak commented on #5331
Hi @Kevsy , this could be due to not having the right permissions on the content directory. Try to make the directory world read/writable
`sudo chmod a+rw -R ~/.kalite`

[2016-11-06 02:23] tim-moody commented on #5266
I have a server headed for a school in Lebanon for Syrian refugee kids.  Sure would be nice to have this fixed.

[2016-11-06 03:36] BabluKumar17 opened #5334 "Windows 8 installer: Sever is not running and has been grayed out"
## Summary

I successfully downloaded KA Lite first time in Windows and then when I ran it as an administrator it asked for a password and I typed in my password in cmd.  But I noticed in the nofication, the **Start Server** has been grayed out.

## System information

*Please specify the KA Lite version you were using and your operating system!*

 - Operating system: ? Windows 8.1, 64 bit
 - Vers

[2016-11-06 14:02] cpauya commented on #5266
Hi @tim-moody - we're still in the process of testing our fixes for the French, Kiswahili, and Portuguese languages.  The French lang pack had a similar issue with yours which shows English along with translated stuff.  We hope to squeeze testing the Arabic language this week so we can give you feedback if it's also fixed.

[2016-11-06 14:34] tim-moody commented on #5266
Arabic has more speakers than any of those three according to
http://www.vistawide.com/languages/top_30_languages.htm

[2016-11-07 08:02] radinamatic commented on #5334
Hi @BabluKumar17!

Please confirm that you installed the latest release 0.16.9 of KA Lite!

Did you see a Windows Firewall notification about giving permission for a Python process when you tried to run KA Lite the first time after the installation? If the `python.exe` process is not permitted to run, KA Lite server will not start.

Do you see any `python.exe` process running? Right click the task

[2016-11-08 11:59] mrpau-richard commented on #5266
Hi @tim-moody & @benjaoming Now I found the issue, why is the Arabic content pack is not properly translated. It's because the [Khan academy translation](https://crowdin.com/project/khanacademy/ar), in Arabic has [0% translated string](https://crowdin.com/project/khanacademy/). I uploaded a sample `.pot` file from Khan academy translation is Arabic, but it's translated string is mixed with Chinese

[2016-11-08 12:53] tim-moody commented on #5266
Why does this problem not appear here?

https://ar.khanacademy.org/

[2016-11-08 13:43] mrpau-richard commented on #5266
@tim-moody The Arabic content pack will base its content in the [Khan academy Arabic api](http://www.khanacademy.org/api/v2/topics/topictree?lang=ar) if some video topics will not found it will use the  [Khan academy English api](http://www.khanacademy.org/api/v2/topics/topictree?lang=en). And the content pack maker will translate it using [Khan academy crowd in](https://crowdin.com/project/khanac

[2016-11-08 15:04] benridge commented on #5266
As @tim-moody pointed out, the video are correctly titled and translated on https://ar.khanacademy.org.

![image](https://cloud.githubusercontent.com/assets/1683330/20103943/27d4533a-a589-11e6-93a0-d8561c2c7ec8.png)

So it appears the online version is not using the Arabic content pack.

The Arabic text is available in the online version, so what is needed to copy them into the Arabic content pack

[2016-11-08 16:20] jamalex commented on #5266
The text on https://ar.khanacademy.org/ is pulled directly from the titles of the playlists and videos on the KA Arabic YouTube channel. The translations used in the KA Lite topic tree come from KA's crowdin page. There's no direct mapping between playlists and topics in the topic tree, so it'd be hard to use those, but in principle we could look up the titles of each video in the YT API and use t

[2016-11-09 12:14] BabluKumar17 commented on #5334
Thanks for your @radinamatic:
I tried your approach too. But, unfortunately nothing worked.  I have also turned off my firewall but I do not see any **python.exe** file running in **Task Manager**.

[2016-11-15 17:41] radinamatic opened #5336 "Contentpack errors on 0.17.0b2"
## Summary

Some contentpack errors on 0.17 beta release.

## System information

 - Operating system: Ubuntu 16.10 64bit
 - Version: 0.17.0b2
 - Browser: Firefox

## Screenshots

Alert to update language pack right after installation, so far so good...

![0 17-cps1](https://cloud.githubusercontent.com/assets/1457929/20316157/0b7e0068-ab61-11e6-9c8d-fd21ecb8f088.png)

But no way to update once Adm

[2016-11-15 17:46] benjaoming commented on #5336
Regarding the delete button, please see #5232  and #4864

[2016-11-15 17:49] benjaoming commented on #5336
All of the content packs are just copied raw from 0.16, I think (but haven't investigated) that this is somehow related, i.e. the old version tag in the JSON metadata prompts the UI javascript to assume an upgrade is available.

[2016-11-15 17:50] benjaoming commented on #5336
...but we should start building new content packs for 0.17 testing, this could be done as soon as we ensure the current state of things.. I don't feel too on top of the latest content pack updates for various language bugs and whether they are done. But we could also decide to move all efforts to 0.17 language packs.

[2016-11-15 17:51] radinamatic opened #5337 "Subtitles do not load in 0.17b2 and `no element found` error"
## Summary

Two things might be unrelated, but it's the only error I see in the console.

## System information

*Please specify the KA Lite version you were using and your operating system!*

 - Operating system: Ubuntu 16.10
 - Version: 0.17b2
 - Browser: Firefox

## Browser console

[code]

## How to reproduce

1. Install 0.17b2
1. Download a contentpack (Spanish in my case, but happens on Engl

[2016-11-15 17:52] radinamatic commented on #5336
@mrpau-eduard @mrpau-richard What say you?

[2016-11-16 13:54] mrpau-richard commented on #5336
I think we need to build all the language packs and update its version to 0.17.

[2016-11-21 12:22] radinamatic opened #5339 "Exercises in Firefox - uncaught exception: out of memory"
## Summary

Cannot load exercises in Firefox, `uncaught exception: out of memory` error in the console. Happened first on `pt-BR` contentpack, but the same problem repeats when I switch to English, or when I install Spanish.

It is as if when it arrives to `bundle_exercise.js` file, it tries to load but eventually fails and reports the error...

## System information

*Please specify the KA Lite v

[2016-11-21 12:54] benjaoming commented on #5339
@radinamatic

Does this happen consistently?
Does it happen on all or specific exercises?

[2016-11-21 12:58] benjaoming commented on #5330
@Kevsy Did you get things to run?

[2016-11-21 12:59] radinamatic commented on #5339
Still trying to figure out how to consistently replicate this... 🤔

I just installed on Windows 8:
1. Tried several random exercises in English - no problems.
2. Downloaded Spanish, tried again several random exercises - still no problems.
2. Downloaded `pt-BR`, tried the first exercise - 💥 `uncaught exception: out of memory` again!

😿

[2016-11-21 13:04] radinamatic commented on #5339
And it still happens only on Firefox...

[2016-11-21 13:05] benjaoming commented on #5334
This issue was moved to learningequality/installers#428

[2016-11-21 13:05] #5334 closed

[2016-11-21 13:09] benjaoming commented on #5339
What if you only have PT-br installed?

[2016-11-21 13:11] radinamatic commented on #5339
That was the first case on W7, and it happened with only pt-BR.
Later I downloaded es-ES to see if it happens there too, and it did...

[2016-11-21 13:31] Kevsy commented on #5330
Sorry not yet - we've been testing on various hosting providers but seems not to work unless it is a dedicated server. I will look again at Heroku towards the end of the week.

[2016-11-21 15:53] benjaoming commented on #5330
Hmm, strange - could perhaps have something to do with the `~/.kalite` directory and the fact that you don't get persistent data on Heroku (the free version).

[2016-11-22 11:58] benjaoming commented on #5266
Quick update: @mrpau-eduard and @mrpau-richard are going to have a look at updating the content packs w/ data via Youtube API.

We will also look at the possibility of syncing this data back into upstream CrowdIn.

After that, someone can look at translating remaining data, especially topic nodes (the nodes in the sidebar that don't have video or exercises). This can be done via CrowdIn.

@tim-moo

[2016-11-22 15:01] tim-moody commented on #5266
As a temporary measure I have created a standalone module for Internet in a Box using ar.khanacademy.org and some javascript along the lines of KAOS.  Of course there are no exercises.  As a by-product I have a file with all the youtube ids (which I used to download them with youtube-dl).

Another problem for pulling this back into kalite is that at least some of the youtube ids for the ar.ka.org

[2016-11-22 20:28] benridge commented on #5266
Unfortunately I am not an Arabic speaker. I was working at a refugee camp and hoping to deploy KA Lite there but I have since returned home.  I don't have access to Arabic speakers any more.

[2016-11-23 14:20] tim-moody commented on #5266
@benridge I would be interested in speaking to you about your experiences with the refugee camp as I am working on a similar project.

[2016-11-24 10:38] benjaoming opened #5341 "Command to easily reset user data"
## Summary

To allow for easier cloning of deployment prototypes, we need a way to encourage users to reset their user data (device registration!) on the prototype before cloning it to new devices.

Suggested command:

    kalite manage clearuserdata --force

It will do the following:

1. Remove `.kalite/secretkey.txt`
1. Remove `.kalite/database/data.sqlite`

All videos, content packs, and conten

[2016-11-25 17:37] benjaoming commented on #5341
Fixed in #5343

[2016-11-25 17:37] #5341 closed

[2016-11-25 18:40] benjaoming commented on #5339
Tried to profile this in Firefox 50 on Ubuntu.

The count exercise with images of foxes is ~20,000 milliseconds to load on pt-BR and ~14,000 ms in English w/o pt-BR installed. Load times vary on my system, and I find it a bit unclear if things really do load slower with pt-BR installed or not, I also had an incident where it didn't - this was when reloading the same exercise.

The total memory foo

[2016-11-25 18:51] benjaoming commented on #5339
Btw. the pt-BR content packs do not contain static files, hence it doesn't change how javascript behaves.

It's true that `/static/js/distributed/bundles/bundle_exercise.js` takes up a lot, 17% of memory. But there's also some `js::Shape` object that's 24% that I'm not sure what is.. could be some kind of vector rendering.

What I'm seeing performance-wise on Ubuntu could be different on Windows b

[2016-11-25 18:59] benjaoming commented on #5339
I found that it's only the counting exercise in `/learn/khan/math/early-math/cc-early-math-counting-topic/cc-early-math-counting/counting-out-1-20-objects/` that's super slow.

Btw the exercise is as slow on 0.16.9 - please try that, too @radinamatic :)

You could even go as far as to try the exercise on KA.org:

https://pt.khanacademy.org/math/early-math/cc-early-math-counting-topic/cc-early-math

[2016-11-28 16:26] benjaoming commented on #5337
I've copied in the newest 0.16 content packs, should give you this:

![screenshot from 2016-11-28 17-26-17](https://cloud.githubusercontent.com/assets/374612/20676371/d2d2125c-b58f-11e6-98a0-a604c90365bd.png)

[2016-11-28 16:33] benjaoming commented on #5337
Hmmm, well, trying the latest `en` contentpack built for 0.16 gives me: `uncaught exception: undefined` when enabling subtitles.

[2016-11-28 16:37] benjaoming commented on #5337
It correctly requests and receives the .vtt file, so I think we can assume it's a JavaScript issue, will investigate.

[2016-11-28 16:58] benjaoming commented on #5337
@radinamatic - seems like another issue is that the current `develop` branch doesn't even have a "CC" button in the videojs player. Wondering a bit what we've changed in this regard. 0.17b2 works, but even after rebuilding JS assets in current `develop`, I still don't see it :/

[2016-11-28 17:02] radinamatic commented on #5337
@benjaoming I was under the impression that it was the default behaviour of `videojs` not to display the CC button if there are no captions for the currently playing video.

[2016-11-28 17:04] benjaoming commented on #5337
@radinamatic - it is the correct behaviour, however there *is* a caption for "Counting with small numbers" in English.

[code]

[2016-11-28 17:06] benjaoming commented on #5337
It seems my issue is that after switching from 0.17b2 to 0.17 in `develop`, the database was wrongly annotated:

When from this:

     "subtitle_urls": [{"url": "/static/srt/en/subtitles/y2-uaPiyoxc.vtt", "code": "en", "name": "English"}]

[2016-11-28 17:07] benjaoming commented on #5337
To be investigated in #5318

[2016-11-28 17:07] radinamatic commented on #5337
I don't see the `y2-uaPiyoxc.vtt` loaded in my screenshot above, so it must be lost in translation... :stuck_out_tongue:

[2016-11-28 17:08] benjaoming commented on #5318
It seems that the database and possibly also subtitle files are affected by upgrades, I'm suspecting that the pre-bundled minimal content pack is to blame, but should investigate further.

As of now, it seems certain that when I switch from 0.17b2 with the latest full `en` content pack with correct subtitle annotations and to `develop`, I get all the subtitles wrongly annotated, something that loo

[2016-11-28 17:09] radinamatic commented on #5337
If I fire up the same VM with 0.17b2 will it be able to grab the new contentpacks you talk about above?
@benjaoming

[2016-11-28 17:10] benjaoming commented on #5337
Yes, they are live now. Sorry that I derailed the original issue slightly -- if you could investigate if the problem w/ Spanish subtitles persists, that'd be great!!!

[2016-11-28 17:14] radinamatic commented on #5337
Roger, will test as soon I manage to clone that VM on my new system (hoping SSD will make the VBox run faster than before :wink: )!

[2016-11-29 07:51] benjaoming commented on #5333
@radinamatic - could you find if there was any more info in said email, and do you have a way to test/recreate this?

[2016-11-29 13:50] benjaoming opened #5345 "en contentpack is mandatory?"
_From @benjaoming on November 25, 2016 20:52_

I'm finding that a lot of static assets that are in the `en` contentpack are also used in other content packs.

How is this behaviour defined? Can anybody explain it to me so we can get this properly documented?

For now, it seems that we should tell people using `pt`, `sw`, `es` etc. to download and install the English content pack *always*. Of cours

[2016-11-29 13:51] benjaoming commented on #5345
This is a documentation issue, we need to ensure that guides to contentpack-less distributions such as the RPI .deb mentions it.

[2016-11-29 14:20] benjaoming commented on #5317
What happens is this:

1. Upon the first request and response, the server reponds with an HTTP header containing:
[code]

1. Upon requesting the same file again, the client will ask with the following request:
[code]
   ...and should then receive a response 304 if the file hasn't changed. However, if I *do* change the file, I still get a 304.

This should all be fine, but it doesn't actually work.

[2016-11-29 14:38] benjaoming commented on #5317
I've upgraded to cherrypy 3.3.0 and the problem has immediately gone away. Unfortunately there doesn't seem to exist release notes for this version:

https://github.com/cherrypy/cherrypy/blob/master/CHANGES.txt#L282

The full changelog is here:

https://github.com/cherrypy/cherrypy/compare/cherrypy-3.2.2...3.3.0

Seeing that the upgrade fixes an important bug, I'm going to introduce the upgrade. W

[2016-11-29 14:41] benjaoming commented on #5336
@mrpau-richard build? which languages are you talking about here?

Because of many issues, we've decided to *not* build any new versions of content packs that are already working.. it seems fine to copy them straight from 0.16, but please do say if there are any issues?

[2016-11-29 15:20] radinamatic commented on #5339
One thing is sure: no sign of this error in Firefox 50 on Ubuntu 16.04 - I went through all the exercises in topic `Counting` and they all work fine... :thinking:

The exercise you mention above is noticeably slower then the rest, but it still does not throw the error as on Windows.

I'll try 0.16 next!

[2016-11-29 20:36] benjaoming commented on #5339
@radinamatic pretty sure the "out of memory" will only happen when something hits an upper limit, and not because of a consistent programmatic pattern... but the upper memory limit is not a universal limit, it could be that it will only reproduce on Windows. Exact memory consumption is also unique according to whatever host system, browser etc. Just theory-guessing :)

[2016-11-29 20:52] benjaoming opened #5347 "Subtitles broken on Firefox 50"
## Summary

Subtitle support has broken since at least the latest Firefox 50 release.

Identical setups work on Chromium and Firefox 49.

The bug is in the polyfill for WebVTT, vtt.js - For the record videojs-vtt and vtt.js are the same packages!

## System information

*Please specify the KA Lite version you were using and your operating system!*

 - Operating system: Ubuntu 16.04
 - Version: dev

[2016-11-29 21:02] benjaoming commented on #5317
Fixed in #5346

[2016-11-29 21:02] #5317 closed

[2016-11-29 21:03] benjaoming commented on #5317
Thanks for the reportback, @harishbalachandran - it was a critical bug indeed! Please let me know if you experience any further problems -- but I feel confident in saying that it's all working now since I could reproduce and verify it was fixed pretty easily :)

[2016-11-29 22:08] benjaoming commented on #5347
`p.Parser.prototype.parse` is part of [videojs-vtt](https://www.npmjs.com/package/videojs-vtt.js) which hasn't been updated for 12 months and seems to have very few users.

Suggesting to update.

[2016-11-29 23:07] benjaoming commented on #5347
Confirmed that our subtitles are rendered with videojs-vtt in Firefox 49.

[2016-11-30 11:01] mrpau-richard commented on #5336
@benjaoming Yeah, I agree as we discuss in our syncup.

[2016-11-30 12:19] radinamatic commented on #5339
Installed the 0.16.9 on a new snapshot of the same W7 virtual machine as above (same version of FF and RAM amount), and all `Counting > Early math` exercises load in flying, even the `/cc-early-math-counting-topic/cc-early-math-counting/counting-out-1-20-objects/`...

[2016-11-30 12:29] radinamatic commented on #5339
![virtualbox_windows 7_30_11_2016_13_20_27](https://cloud.githubusercontent.com/assets/1457929/20752107/d2529a10-b6ff-11e6-8e72-0f3bb19301e4.png)

However, clearing the cache and reloading brings the beast back:

![virtualbox_windows 7_30_11_2016_13_27_23](https://cloud.githubusercontent.com/assets/1457929/20752298/db694ea4-b700-11e6-9141-67d264e873d9.png)

Not very familiar with these profiling t

[2016-11-30 12:50] radinamatic opened #5348 "Device registration: User message in case of connection failure"
## Suggested change

Old:

[code]

New:

[code]

...in `python-packages/securesync/templates/securesync/register_public_key_client.html`

## Summary

~KA Lite seems unable to connect to register the device in order to download the videos & languages. Refreshing the page has no effect, and the machine is correctly connected to Internet (see the loaded elpais.com in the other window).~

~Is `staging

[2016-11-30 13:36] radinamatic commented on #5339
No sign of error on the newest OSX installer by @mrpau-richard either:

![virtualbox_sierra_30_11_2016_14_34_50](https://cloud.githubusercontent.com/assets/1457929/20754240/519f93e0-b70a-11e6-821b-df35541173d3.png)

[2016-11-30 13:54] radinamatic commented on #5333
Yes, I confirmed this issue on Sierra VM at the time, but the good news is that 0.17 @mrpau-richard compied today is working a-OK! 👍

[2016-11-30 14:23] benjaoming commented on #5347
Using latest upstream master for vtt.js yields something similar to the old error:

[code]

[2016-11-30 15:03] benjaoming commented on #5347
I'm hoping some of the nice Mozilla people can give us more insight, otherwise we have to add a "know issue" on Firefox 50 not having subtitle support.

https://github.com/mozilla/vtt.js/issues/354

[2016-11-30 15:30] bzbarsky commented on #5347
@benjaoming Can you breakpoint in Parser.prototype.parse and see what object is being passed in as "data" from parseCues?

Where is parseCues coming from?  It doesn't look to be part of either this repo or vtt.js.

[2016-11-30 15:33] bzbarsky commented on #5347
Oh, and I would try with the "how to reproduce" from the original issue, but I can't find any clear directions on what to actually run to get the server up.

[2016-11-30 15:47] benjaoming commented on #5347
@bzbarsky Thanks! I guess our project is a it tedious to get running with a video + subtitles because we rely on a bit of data to be build...

But I've tried outlining the steps for debugging this particular error, this should be the simplest way to get started without reading too much of our dev guide :)

1. check out my PR branch: `git clone https://github.com/benjaoming/ka-lite.git` + `cd ka-li

[2016-11-30 17:13] benjaoming commented on #5339
In order to identify whether it's something we can do anything about: In case you reproduce the slowness / memory error, try loading the same exercise on khanacademy.org.

In case it's also slow on their site, I would recommend we stop throwing resources at this bug, it doesn't seem likely it's something related to KA Lite...

[2016-11-30 17:19] bzbarsky commented on #5347
I assume you mean `source venv/bin/activate`.

For future reference, this produces:

    (venv)bash-3.2$ bin/kalite manage setup
    Traceback (most recent call last):
      File "bin/kalite", line 120, in <module>
        from kalite import cli
    ImportError: No module named kalite

Setting $PYTHONPATH to include `.` seems to help...

I created an admin user during the "manage setup" bit.  But

[2016-11-30 17:23] bzbarsky commented on #5347
Ah, I found it.  Have to click on "Learn", then make all the stuff that pops out go away, _then_ I get a login button.

[2016-11-30 17:42] benjaoming commented on #5347
@bzbarsky - oh, yes, sorry, I tried deviating a bit from the usual [dev guide](http://ka-lite.readthedocs.io/en/develop/developer_docs/environment.html), glad you figured it out, thanks for the patience :)

[2016-11-30 17:51] bzbarsky commented on #5347
OK.  So I'm seeing `WebVTT.Parser.prototype.parse` called with `data` set to a string.  That string is:

etc.  This string is then passed to `TextDecoder.decode`, which does in fact throw, per spec.

I tried Chrome dev  on the same page.  It throws the exact same exception from `TextDecoder.decode`, for the same reason.  Then I tried Firefox 49, and not surprisingly it throws the same exception fo

[2016-11-30 17:54] bzbarsky commented on #5347
So add `responseType: "arraybuffer"` to `opts`.

[2016-11-30 20:33] benjaoming commented on #5347
@bzbarsky - thanks!!

Firefox 49 and Chromium are working with the 0.12.1 version of vtt.js, so no alarm if they're producing the same errors now, I didn't investigate that part. Sounds good with the consistency :) Trying your suggestion pronto....

The `loadTrack` function is [part of video-js](https://github.com/gkatsev/video.js/blob/master/src/js/tracks/text-track.js#L62) btw.

[2016-11-30 20:41] benjaoming commented on #5347
Injecting `responsetype: "arraybuffer"` into the video-js code produces a new error:

[code]

...but this is the exact same error as was already defined in https://github.com/mozilla/vtt.js/issues/354

Which makes me wonder if somehow video-js manages to mix in its own 0.12.1 copy which it's apparently depending on, but I don't know quite how these JS libs are linked together, all I can see is tha

[2016-11-30 20:48] bzbarsky commented on #5347
Yep, that's what I got locally when I added the responseType too...

I certainly see two copies of vtt.js in bundle_video.js.  More generally, I see a copy in `ka-lite/node_modules/vtt.js/lib/vtt.js` and another copy in `ka-lite/node_modules/video.js/node_modules/videojs-vtt.js/lib/vtt.js` (and another in `ka-lite/node_modules/video.js/node_modules/videojs-vtt.js/dist/vtt.js` but I expect it's the

[2016-11-30 21:11] benjaoming commented on #5347
@bzbarsky yeah, there's a lot of stuff flying around... everything in `node_modules` is "intermediate" code used to bundle together things. Magic happens with `node build.js`, then afterwards special directories `kalite/<app-name>/static/` are served by the development HTTP server. I have no clue which vtt.js is used where :)

Trying to work on a separate copy of video.js to see if I can force the

[2016-12-01 14:06] radinamatic commented on #5336
macOS Sierra, today's OSX installer by @mrpau-richard.

Ok, so upgrading English language, weather from the Terminal or UI, does not register or reflect correctly in Manage > Languages, meaning the button does not change to `Up to date` once the upgrade is finished, and the prompt/alert is still visible on the homepage.

After upgrading from the Terminal, refreshing, re-logging-in and restarting t

[2016-12-01 14:13] radinamatic commented on #5336
Confirmed with the Spanish contentpack install, after downloading, upgrading and restarting the server, the button still says `Upgrade`:

![virtualbox_sierra_01_12_2016_15_10_37](https://cloud.githubusercontent.com/assets/1457929/20796864/a48eb378-b7d8-11e6-87d9-7c13613df758.png)

[2016-12-01 16:37] benjaoming commented on #5347
From testing manually, issue seems fully fixed with #5349

[2016-12-01 23:14] KevinTripp opened #5351 "Topics and subtopic menus are in a different language than the rest of the menus"
## Summary

The home page of ka-lite is showing the content topics in a different language than the rest of the site.  The content menu mismatch hasn't changed after restarting KA-Lite, switching languages, and redownloading videos.  The error first started appearing for us around march/april 2016.

## System information

 - Operating system: Mac, Windows, Android
 - Ka-lite is run on linux, centO

[2016-12-02 16:24] benjaoming commented on #5318
The .whl source files have reduced from `52 MB` til `31 MB`, expecting similar results in debian packages and installers because they contain the source distribution in which the English content.db is overwritten after installation.

It should also have a performance-wise impact because content annotation no longer takes place twice (at first setup, then after content pack installation).

[2016-12-05 15:47] bochecha opened #5352 "Can't install ka-lite with setuptools >= 30.0.0"
## Summary

setuptools 30.0.0 (and above) refuses to install a module which specifies full paths for its data files, which ka-lite does.

## System information

This fails with all releases of ka-lite uploaded to Pypi.

I reproduced it on Debian Jessie and Fedora 24, but that doesn't matter.

The problem is with setuptools >= 30.0.0

## How to reproduce

In a virtual environment:

[code]
## Real-l

[2016-12-05 16:31] benjaoming commented on #5352
Well, I feel sort of proud that I already anticipated this development :)

The reason is that the concept of `data_files` has been somewhat disputed, and in `wheels`, it was basically abolished, although some Frankenstein still remains.

In 0.17, we don't use them anymore.

So you *could* run the new beta:  `pip install --pre`

Other than that, this is fixed in #5285

[2016-12-05 16:32] benjaoming commented on #5352
Also, thanks for reporting! I didn't know that it has been abolished even in setuptools.

I'm trying to get 0.17 out as quickly as possible.

[2016-12-05 16:32] bochecha commented on #5352
Which fails to install as well, albeit for different reasons. (but I guess I should create a different ticket for that?)

[2016-12-05 16:33] benjaoming commented on #5352
@bochecha yes please feel absolutely welcome to create a ticket for any issues with 0.17, they will be highly prioritized, and we appreciate all the testing we can get of the next release.

[2016-12-05 16:39] bochecha opened #5353 "0.17 betas fail to install"
## Summary

Here's what I get:

[code]

Note that I get the same thing with 0.17.0b2 as well.

So I guess they removed their 0.12.2dev0 release from pypi, and you should bump to 0.12.2 (or even later?)

[2016-12-05 16:53] benjaoming opened #5354 "Content recommendation goes into infinite loop"
## Summary

While designing a test database in #5350, I found that content recommendation loops infinitely in `get_subsequent_neighbors`:

[code]

The content.db is a uniform distribution if 1 root, 4 subtopics, each with 4 subsubtopics:

[code]

*) Toying with http://asciiflow.com/

[2016-12-05 16:56] benjaoming commented on #5353
It's a problem with fetching a special branch of tastypie: #5319

However, you could try with our version with dependencies bundled: `pip install ka-lite-static --pre` -- does that solve it?

[2016-12-05 16:56] #5353 closed

[2016-12-05 18:05] benjaoming commented on #5354
Fixed in #5350

[2016-12-05 18:05] #5354 closed

[2016-12-07 20:54] radinamatic opened #5356 "Contentpack errors on 0.17.0b3"
## Summary

Contentpack errors on 0.17 beta3 release, one described previously in #5336.

## System information

 - Operating system: Ubuntu 15.10 64bit
 - Version: 0.17.0b3 pypi
 - Browser: Firefox

## Screenshots

1. English contentpack downloaded and installed locally with `kalite manage retrievecontentpack local en en.zip`, still does not register/reflect correctly in Manage > Languages, meani

[2016-12-07 21:06] benjaoming commented on #5356
I'll clean up the issues regarding how the status of installed content packs is displayed when finalizing the part w/ empty content packs.

[2016-12-07 21:07] radinamatic opened #5357 "Unable to download contentpacks from network - 0.17.0b3"
## Summary

It's not possible to download contentpack from network, weather through the UI or with `kalite manage retrievecontentpack download`. No error in the console or Terminal, but download does not proceed. Link seems correct, for the `es.zip` Spanish pack in the pantry, but still, nothing happens.

## Screenshot

![selection_075](https://cloud.githubusercontent.com/assets/1457929/20986064/5

[2016-12-07 21:09] benjaoming commented on #5356
The actual issue is not that it doesn't work, it's that there's no feedback:

[code]

Notice that it took over 7 minutes - it's because Pantry is really slow at the moment.

[2016-12-07 21:11] radinamatic commented on #5356
I left it over half hour and it never moved from second step...
I'll re-try from Windows, and see if the result is similar!

[2016-12-07 21:20] benjaoming commented on #5356
Edited the description, let's deal with wrongful display of installed content packs in #5318

[2016-12-07 22:10] benjaoming opened #5358 "Tests should use separate KALITE_HOME"
## Summary

It's pretty annoying that tests are running inside the normal `$HOME/.kalite` directory, should isolate them properly.

[2016-12-07 22:46] radinamatic commented on #5347
Seeing the subtitles in 0.17b3, yey!!! :+1:

One detail, though, they seem somewhat weirdly aligned:

![ubuntu15 10 pip install static 0 17b3 running - oracle vm virtualbox_076](https://cloud.githubusercontent.com/assets/1457929/20990024/4756bf8a-bcd7-11e6-9798-d31ba2dbe7d3.png)

[2016-12-07 22:56] benjaoming commented on #5347
Oh dear :( I haven't changed anything in that regard :( Is your screenshot perhaps warped because you created the webdev sidebar AFTER the script had aligned the subtitles?

...They were showing up fine on my FF 50.

[2016-12-08 12:44] radinamatic commented on #5347
Nope, it happens even without the sidebar:

![selection_077](https://cloud.githubusercontent.com/assets/1457929/21010453/67d76d98-bd4c-11e6-9036-c5ea6f54589f.png)

[2016-12-08 12:52] radinamatic commented on #5356
It's definitely a network problem, not much we can do about, a part from putting some form of feedback like you suggested. This morning re-try with ES took more than 6 minutes:

[code]

[2016-12-08 13:03] radinamatic commented on #4993
@benjaoming I agree we could close this. The following **Known issues** are still valid for 0.17:

- Viewing subtitles on Ubuntu requires ubuntu-restricted-extras
- On Windows XP you must use Chrome in order to view videos

[2016-12-08 13:10] radinamatic commented on #5337
`no element found` error vanished with 0.17 contentpacks and the recent subtitles fixes by @benjaoming, so I'm closing this.

[2016-12-08 13:10] #5337 closed

[2016-12-08 13:27] radinamatic opened #5359 "Dubbed videos should not include subtitles of other languages"
## Summary

This is an old issue that was fixed previously, but I see it again in 0.17b3. For context see #3913 and [this comment](https://github.com/learningequality/ka-lite/issues/4994#issuecomment-200038480).

In short, dubbed videos should not include or be linked to subtitles, as the entirety of KA subtitles in non-English languages are the translation of the original English transcript, and

[2016-12-08 13:56] radinamatic commented on #5357
Duplicate of #5356, closing!

[2016-12-08 13:56] #5357 closed

[2016-12-12 11:53] benjaoming commented on #5359
Hi @radinamatic :)

Why not? If you don't have sound, it seems useful?

They're off by default, anyways?

Not sure how they should have been removed and re-appeared, AFAIK there's always been English subtitles in the English content pack.

[2016-12-12 14:50] radinamatic commented on #5359
@benjaoming

Captions are indeed very useful, IF they are made/transcribed from the video they are used with, and that is not the case here. English captions/subtitles here are transcribed from the original English video and do not describe exactly the audio track and video content of the "dubbed" video in Spanish (mainly because the video is not really "dubbed" but recreated from scratch, followi

[2016-12-12 16:14] benjaoming commented on #5356
I can add that the unpack process should also give proper feedback. On a Raspberry Pi, it's impossible for the user to tell if the process is alive or has stalled. At least indicating the current number of files that have been successfully unpacked would be a start.

[2016-12-12 16:20] benjaoming commented on #5356
...and there's 52229 files in the current English content pack!

[2016-12-12 19:25] benjaoming commented on #5359
@radinamatic

Would this be a correct description?

[2016-12-12 20:26] radinamatic commented on #5359
@benjaoming Yes! That would be essentially correct for our use case. :smiley:

[2016-12-13 13:32] benjaoming commented on #5359
@radinamatic - I'm not sure if this is trivial to fix.

It wasn't fixed in #3913 as you refer to - only the issue was closed and discussed in Kolibri. I don't know if I want to do anything at this point.

As for the data which we can base a fix on, here's an example of `extra_fields` - I think we could potentially use `translated_youtube_lang`, and if it's set to non-english then only display subt

[2016-12-13 13:33] benjaoming commented on #5359
Unmarking as release blocker since it's not a new issue.

[2016-12-13 13:36] benjaoming commented on #5352
Added a release note about the issue, but since it's already fixed, I can't really do more, will just have to wait for 0.17 to be out and meanwhile use prereleases.

Thanks for reporting @bochecha

[2016-12-13 13:36] #5352 closed

[2016-12-13 13:37] benjaoming commented on #5348
Just experienced exactly the same on FF, Ubuntu 0.16.9 installation.

@radinamatic are you able to reproduce this for 0.16.9 in all cases? It might be a server-side issue..

[2016-12-13 13:38] benjaoming commented on #5348
Also, try running the server with `kalite start --foreground` in order to get more logging and see what it says at the exact moments of registration.

[2016-12-13 13:38] benjaoming commented on #5333
Closing this the :)

[2016-12-13 13:38] #5333 closed

[2016-12-13 13:39] benjaoming commented on #5345
This is now fixed in #5350 by adding messages in the user interface. I think it's sufficient for now.

[2016-12-13 13:39] #5345 closed

[2016-12-14 13:17] radinamatic commented on #5359
@benjaoming Not sure which PR fixed it, but the contentpacks we built for the first release of 0.16 back in April did not have this issue.

We can discuss the possible solutions and weather it deserves the `release blocker` status on the syncup tomorrow.

[2016-12-14 13:50] radinamatic commented on #5348
Apparently, one-click registration on WXP is working today:

![virtualbox_wxp_14_12_2016_14_47_52](https://cloud.githubusercontent.com/assets/1457929/21184398/9b790480-c20c-11e6-8e44-d70819a63efe.png)

![virtualbox_wxp_14_12_2016_14_49_17](https://cloud.githubusercontent.com/assets/1457929/21184404/a136de74-c20c-11e6-816c-739c1f256849.png)

[2016-12-14 14:16] radinamatic commented on #5348
Works on Ubuntu too, fresh 0.16.9 install:

![virtualbox_gubuntu_14_12_2016_15_04_36](https://cloud.githubusercontent.com/assets/1457929/21184915/d5877f56-c20e-11e6-9c99-993c9484e8dd.png)

Seems it's most likely the temporary problem with our server, so I suggest changing [this line](https://github.com/learningequality/ka-lite/blob/84ac76a71177ad2e656728b103e781b9cf3ad820/python-packages/securesyn

[2016-12-16 14:04] radinamatic commented on #5339
Re-testing this with the latest installer by @mrpau-richard ( #5364 ), I think the issue might have something to do with reloading... If I select the exercise from the the root of the sidebar, it loads correctly, but if I simply reload that exercise page, the `uncaught exception: out of memory
` appears again:

![virtualbox_windows 7_16_12_2016_14_41_34](https://cloud.githubusercontent.com/assets/

[2016-12-16 14:09] radinamatic commented on #5339
Hmmm, I just updated Firefox to version 50 on this Windows 7 machine, and I can't reproduce the error anymore, not even by reloading...

I'll play with this a bit more, see if it's really gone!

[2016-12-16 14:39] radinamatic commented on #5339
Firefox 49 in Windows 8, first exercise load is correct, but as soon as I reload the page, error is there again:

![virtualbox_ie11 - win8 1_16_12_2016_15_31_28](https://cloud.githubusercontent.com/assets/1457929/21266219/588d4434-c3a5-11e6-9633-b5781599ffe8.png)

And not just the `Counting` ones, pick another randomly, first load OK:

![virtualbox_ie11 - win8 1_16_12_2016_15_34_25](https://cloud.

[2016-12-16 14:55] radinamatic commented on #5339
Whatever glitch caused this, seems to have gone bye-bye with updating to Firefox 50... 😈

I'm going to close this!

[2016-12-16 14:55] #5339 closed

[2016-12-16 23:06] benjaoming commented on #5348
@radinamatic okay the string freeze is up, but I think you are hinting at two issues:

1. a possible issue with network connectivity during registration, could be related to other DNS issues we've discussed
1. a user message change.

I'm altering the issue to be about the latter, if you have more information to provide on the first subject, please open a new issue.

[2016-12-16 23:09] benjaoming commented on #5348
Changed description.

[2016-12-16 23:11] benjaoming commented on #5339
In my experience on both FF and Chrome, the exercise "Counting with small numbers" is still super-slow.

[2016-12-16 23:55] benjaoming opened #5365 "Frequent AJAX errors cause error messages in 0.17b"
## Summary

Most pages visited on current 0.17 develop branch causes errors.

![screenshot from 2016-12-17 00-53-50](https://cloud.githubusercontent.com/assets/374612/21282251/7a747f88-c3f3-11e6-91e8-df1ad9b50ac8.png)

[2016-12-17 00:19] benjaoming commented on #5359
@radinamatic the annotation of existing contents works like this:

1. A content pack is download
1. The content pack is unpacked
1. The annotation system looks for subtitle files
1. For each file found, the video with the appropriate id is marked with subtitles for the language in question

The annotation happens for all installed languages, and subtitles should be displayed for these. I'm not see

[2016-12-17 00:21] benjaoming commented on #5347
Working fine here on Ubuntu with the latest FF

![screenshot from 2016-12-17 01-17-23](https://cloud.githubusercontent.com/assets/374612/21282591/05f8eb7c-c3f7-11e6-86c8-e8d354055e01.png)

What are you using and can you describe any circumstances that you would suspect to cause this?

[2016-12-17 00:23] benjaoming commented on #5336
Closing this, as stated the "Upgrade" buttons are supposed to be displayed because our testing data for 0.17 content packs have correctly been equipped with a meta data saying they are from 0.16...which they are :)

[2016-12-17 00:23] #5336 closed

[2016-12-17 00:24] benjaoming commented on #5330
Closing this, but please note that we are always happy to help in case there are issues on any kinds of deployments, including Heroku :)

[2016-12-17 00:24] #5330 closed

[2016-12-17 00:29] benjaoming commented on #5332
The demo server is running 0.16.5, I'm going to see if we can get it updated.

Meanwhile, this issue looks like a duplicate of https://github.com/learningequality/ka-lite/issues/5140 which was fixed for 0.16.7

Please reopen if I'm mistaken.

[2016-12-17 00:29] #5332 closed

[2016-12-17 00:30] benjaoming commented on #5318
Fixed in  #5350

[2016-12-17 00:30] #5318 closed

[2016-12-17 00:32] benjaoming commented on #5295
@mrpau-eduard is it possible to build this for 0.17 with data straight just from content-pack-maker?

What I mean is that there possibly won't be enough time to act before releasing 0.17.0, but we can still build the content pack, and then CrowdIn data can be added later..

[2016-12-17 00:37] benjaoming commented on #5262
There are still almost no translations of `kn` on Crowdin or on the Khan Academy translation platform: https://www.khanacademy.org/translations/kn

I'm closing this as it can only be solved by firstly going through the KA.org channels.

[2016-12-17 00:37] #5262 closed

[2016-12-17 00:39] benjaoming commented on #5123
Alright, this is not going any further until we have tried and tested the current errors in the wild. They trigger on status 500 from API endpoints.

[2016-12-17 00:39] #5123 closed

[2016-12-17 00:40] benjaoming commented on #5125
Updates and of video.js and vtt.js have occurred in the latest release available via  `pip install ka-lite-static --pre`. Please feel invited to test :)

[2016-12-17 00:44] benjaoming commented on #5116
@radinamatic this still happens for `/learn/khan/math/pre-algebra/negatives-absolute-value-pre-alg/add-sub-negatives-pre-alg/number_line_2` in Spanish.

Since Spanish decimal numbers are seperated by commas, I suspect that the `Invalid number line configuration` error message could be caused by this...

[2016-12-17 00:47] benjaoming commented on #5365
Fixed in #5366

[2016-12-17 00:47] #5365 closed

[2016-12-17 00:49] benjaoming commented on #5142
Closing this mainly because it sounds like a network issue. I would suggest asking for help on http://community.learningequality.org/ if it persists.

If you find it is a problem with KA Lite itself, please feel welcome to comment here, and we can pick up where we left :)

[2016-12-17 00:49] #5142 closed

[2016-12-17 00:57] benjaoming commented on #4957
Copy-pasting from above:

[code]

In current `develop` branch, this is working for a logged-in student. I recall @jamalex fixed this.

[code]

[2016-12-17 00:58] benjaoming commented on #5252
A bunch of fixes landed during #5350 and I haven't seen this for a while, so closing.

[2016-12-17 00:58] #5252 closed

[2016-12-17 01:01] benjaoming commented on #5266
Quick update here: We have decided to rebuild a lot of content packs and @mrpau-eduard has made an interface with Youtube for retrieving data such as titles and descriptions.

During next week we hope that an Arabic content pack will land for testing with the 0.17 prerelease, which will also become a final release not before long.

Please note that the user interface for KA Lite is only 23% transl

[2016-12-17 01:43] #4993 closed

[2016-12-19 02:52] mrpau-eduard commented on #5295
Yeah it is possible, If you mean the data from khan page.
If it has an English version and we need a translation of the titles and description we can create an alternative instead of waiting to khan api to have the translation to be included.

Doable for dubbed videos. I didn't try yet the exercise, but I think is possible as long I have the source which I can scrape the data.
Like this https://ar

[2016-12-19 10:02] benjaoming commented on #5295
@mrpau-eduard - is the `https://bn.khanacademy.org/` site adequate?

[2016-12-19 11:13] benjaoming commented on #5347
@radinamatic - I'm closing this, could you re-open another issue describing how you reproduce the misplaced subtitles and on which browsers?

[2016-12-19 11:13] #5347 closed

[2016-12-19 12:54] radinamatic commented on #5336
Ok, will re-test this with the new contentpacks!

[2016-12-19 13:02] radinamatic commented on #5123
Yes, ideally, this would only appear on exercise pages, but I may have seen it on `Manage > Videos` download page... 😛

[2016-12-19 13:35] radinamatic commented on #5348
@benjaoming User message change is generic enough in order to cover multiple connection issues. If the string freeze is up, does that mean it will not make it for the 0.17?

[2016-12-19 14:44] radinamatic commented on #5359
@benjaoming Then the problem is how the annotation system assigns "subtitles" to dubbed videos. It happens consistently with Spanish videos with all the 0.17 installers I tested (even this morning with the latest one by @mrpau-richard).

Now, we may conclude that it is not feasible to fix this for the final 0.17 release, but the underlying problem remains.

If you have time, [read my lengthy expla

[2016-12-19 14:58] radinamatic commented on #5116
I can confirm that... Tried changing the decimal point in the Settings, but error is still there. Maybe it's not immediate and something else is required too...

![virtualbox_windows 7_19_12_2016_15_56_48](https://cloud.githubusercontent.com/assets/1457929/21317060/cf844334-c603-11e6-87bb-e6e1ed3b1086.png)

[2016-12-19 15:00] radinamatic commented on #5339
Firefox on Windows 7 VM with 4Gb RAM it's not noticeably slow, I'll reduce the RAM and see if something changes.

[2016-12-19 15:45] benjaoming commented on #5348
@radinamatic - that would have been the standard policy, however I don't see a problem adding an error message in this case and it gets released untranslated, it's an error message after all.

[2016-12-19 15:47] benjaoming commented on #5359
So you're saying: No subtitles *at all* for dubbed videos? I don't think we have data as to which transcript the subtitles originate from.

[2016-12-19 15:51] benjaoming commented on #5359
Also, thanks for explaining - I'm still pretty sure the issue wasn't addressed looking at the old closed issue - it got closed out of a decision (your own?) that it wasn't to be fixed in KA Lite, but in Kolibri :) We can still fix it by making a simple decision such as "don't display subtitles if the video language isn't English".. but I have to consolidate that with what kind of data is actually

[2016-12-19 17:21] radinamatic commented on #5359
I cannot vouch that the issue is 100% valid for all the languages, but knowing how KA videos are produced & translated through crowd-sourced efforts, chances are good it is. I could only wish that accessibility was held in such a high regards to actually invest the effort to create captions of dubbed versions of the video, but knowing the real world, all the non-English subtitles are almost certai

[2016-12-19 18:33] benjaoming commented on #5057
Fixed by @mrpau-richard in #5364

[2016-12-19 18:33] #5057 closed

[2016-12-19 19:26] mrpau-eduard commented on #5295
Nope. We can still scrape the titles and description aslong as the youtube_ids of `bn` has an english youtube_ids. I can match the youtube ids to indentify the matching titles then replace the untranslated nodes with the scraped data from https://bn.khanacademy.org/math for example.

[2016-12-20 08:56] JMNB commented on #5125
Dear Benjamin, good morning,

For testing I installed the new version of KA-Lite in a RaspberryPI and did the test with the languages and subtitles. It still does not work.

But I am not sure if I did the installation correct. Where is the location of those two files on the RaspberyPI so I check?

BY the way subtitles and CC is also functioning the Chromium webbrowser, which is included in Raspbia

[2016-12-20 09:06] rifatbd commented on #5295
@mrpau-eduard so if i provide you a excel sheet with the Title and YouTube link for all the dubbed videos.... would it be of any help?..... and for exercise(if you tried anything meanwhile) what is needed ? May be i can provide with some info i guess...

[2016-12-20 20:38] benjaoming commented on #5294
A new mechanism for retrieving titles and descriptions via Youtube API has landed.

@mrpau-eduard could you say how this affects the Swahili content pack and if a new one will be uploaded in this regard? Thanks :)

[2016-12-20 20:39] benjaoming commented on #4862
Fixed in #5047

[2016-12-20 20:39] #4862 closed

[2016-12-20 20:52] benjaoming commented on #4127
Fixed

[2016-12-20 20:52] #4127 closed

[2016-12-20 21:16] #4902 closed

[2016-12-20 21:23] benjaoming commented on #5351
Hi @KevinTripp

Thanks for the report. Since it regards an old version, we can't really fix it anymore. It's quite complex what might be going on here.

The issue doesn't exist in later version of KA Lite.

I'm not quite sure why it would start to suddenly happen in April 2016, assuming you have installed 0.11.1 around when it was released - which is likely back in 2013.

Normally, we support an u

[2016-12-20 21:23] #5351 closed

[2016-12-20 21:32] benjaoming commented on #4719
This issue lives on in #5356

[2016-12-20 21:32] #4719 closed

[2016-12-20 22:49] rjoommen opened #5370 "KA Lite Admin - Topic Tree not Loading"
## Summary

I'm new to KA Lite and an ADMIN.  I have installed the latest version of KA Lite twice now and when I sign in and go to the manage videos tab, I get a message:  "Loading topic tree... Please wait!"  (where the tree view of courses should appear) - see screencapture file attached.

Has anyone seen this before? and any ideas on what I need to try.  I am not a technical admin.

Thanks ver

[2016-12-20 23:00] benjaoming commented on #5089
Fixed in #5371

[2016-12-20 23:00] #5089 closed

[2016-12-20 23:03] benjaoming commented on #5015
@radinamatic - if the problem still exists on Windows for upgrading from 0.16 to 0.17, I would suggest that we create an entry in "Known Issues".

Furthermore, we should probably move this issue to installers repo, it might be the installer tossing out the whole database?

[2016-12-20 23:06] benjaoming commented on #5370
@rjoommen - How much time do you wait? Also, can you see any Javascript errors?

Help regarding opening the debugging panel in IE11: https://msdn.microsoft.com/en-us/library/dn255006(v=vs.85).aspx

[2016-12-20 23:07] benjaoming commented on #5370
Also no, this is not an issue we've been seeing. KA Lite 0.16.x has been out for a long time :)

How did you install?

[2016-12-20 23:09] benjaoming commented on #5289
@fheslouin video.js (the video player) is updated in 0.17, you can try installing a prerelease with `pip install ka-lite --pre` (needs pip 8 series, doesn't work yet in pip 9)

[2016-12-20 23:10] benjaoming commented on #5231
Not fixing this, should be part of the new scheduler #5094

[2016-12-20 23:10] #5231 closed

[2016-12-20 23:13] benjaoming commented on #5288
Not able to debug this, hasn't happened much lately.

[2016-12-20 23:13] #5288 closed

[2016-12-21 05:53] mrpau-eduard commented on #5295
Thanks for the suggestion as of now I am working with a script which collect the new video mappings on the `khan api internal`.
This script work's only the dubbed videos, you can check the video mappings here: http://learningequality.org/r/translationmapping

[2016-12-21 07:09] radinamatic commented on #5319
@benjaoming
Hmmm, strange because I already had the 0.17 installed previously on that Ubuntu machine, and I can't remember it gave me the same issue... :thinking:

[2016-12-21 08:17] benjaoming commented on #5319
You'll only see the error on pip 9 + `ka-lite` (not `ka-lite-static`).

[2016-12-21 13:14] radinamatic commented on #5319
pip version 8.1.2 seems to fail too...
[code]

[2016-12-21 13:53] #5370 closed

[2016-12-21 13:55] rjoommen commented on #5370
HI Benjamin,
It seems to hang for hours...never loads.  No javascript errors that I can see...although it certainly appears to be a browser issue.  In any case, I did do a re-install on a different computer and was successful.
Thank you very much for your response and willingness to assist!!
Merry Christmas and Happy Holidays!
RJ

[2016-12-22 20:22] benjaoming commented on #5319
@radinamatic that's odd... but doesn't matter, sorry that the description of the symptoms hasn't been accurate enough, but I've only encountered the problem as #5353. Fix remains the same.

The fix is that I've had to create a patched fork of django-tastypie, I called it django-tastypie-legacy.

[2016-12-23 02:42] whatabearthinks opened #5374 "KHAN Lite not working...macOS Sierra ver. 10.12.2 Error: kalite_startup.lock"
## Summary

*Briefly describe what this is about*

## System information

*Please specify the KA Lite version you were using and your operating system!*

 - Operating system: ?
 - Version: 0.16.?
 - Browser: ?

## Traceback or relevant snippet from server.log

[code]

## How to reproduce

1. Steps
1. To
1. Reproduce

## Screenshots

*If applicable*

## Real-life consequences (anything community sh

[2016-12-23 02:45] whatabearthinks commented on #5374
Not sure how GitHub works, so please excuse me if this is the wrong the way to address my problem...

[2016-12-23 02:49] mrpau-richard commented on #5374
Hi @whatabearthinks, this issue It's already been reported by @radinamatic at [Issue #5333](https://github.com/learningequality/ka-lite/issues/5333).

[2016-12-23 02:56] whatabearthinks commented on #5374
Thanks @mrpau-richard! I'll look there. Sincerely appreciate it.

[2016-12-23 03:13] whatabearthinks commented on #5333
Unfortunately, Khan Lite isn't working since my update to macOS Sierra...and I can't seem to translate what you've figured out in this topic to be the problem. All I know is that it isn't "working a-OK" on my end. I have attempted to reinstall. When that didn't work I deleted everything, including all my videos (took days to download), but that didn't work either.
<img width="686" alt="1 ka starti

[2016-12-23 03:31] mrpau-richard commented on #5333
@whatabearthinks the fix for this issue is not yet in release. The KA Lite OS X installer version 0.16+ will still not work with MacOS Sierra.

[2016-12-23 14:22] benjaoming commented on #5319
Fixed in #5373

[2016-12-23 14:23] #5319 closed

[2016-12-23 14:23] benjaoming commented on #5353
Fixed in #5373 - will be included in today's prerelease.

[2016-12-23 15:36] #5374 closed

[2016-12-23 16:28] benjaoming commented on #4830
Fixed in #5375

[2016-12-23 16:28] #4830 closed

[2016-12-24 15:01] whatabearthinks commented on #5333
Thanks Richard! I wish I'd somehow learned this before I decided to trash everything...
If I could only get that torrent option to work...

Should I go ahead and re-download the videos/assignments, and wait for an update that could fix the issue?

[2016-12-25 01:02] benjaoming commented on #5324
You could possibly look at `add_syncing_models` in `kalite.packages.bundled.securesync.utils` in order to introduce a setting that skips certain models.

[2016-12-25 01:11] benjaoming commented on #5125
@JMNB thanks for testing! video.js and vtt.js aren't files - they are names of javascript libraries used to show subtitles.

Did you do a clean install or upgrade?

If you have upgraded an existing installation, you might have to do `kalite manage setup`, not sure if it's run automatically with the `pip install` method.

[2016-12-25 01:12] benjaoming commented on #5125
@JMNB oh, by the way yes, everything hopefully works in Chromium, it's the new default browser in the latest Raspbian.

[2016-12-25 01:14] #4823 closed

[2016-12-25 01:20] benjaoming commented on #4796
This shouldn't be a problem anymore. I didn't try out the steps directly, but a lot of the steps seemed out-dated. I've removed most of the wiki page and instead refer to this page:

http://ka-lite.readthedocs.io/en/develop/developer_docs/environment.html

[2016-12-25 01:20] #4796 closed

[2016-12-25 01:21] #4783 closed

[2016-12-25 01:24] benjaoming commented on #4797
We are now sadly using our own fork, `django-tastypie-legacy` and it will remain so until and if ever KA Lite stops being dependent on South + Django 1.5.

[2016-12-25 01:24] #4797 closed

[2016-12-25 01:28] #4636 closed

[2016-12-25 13:23] benjaoming commented on #5359
I don't know, as I haven't looked properly into it. But I agree on your description and think the proposed solution sounds like the most realistic fix.

[2016-12-27 12:18] Aypak commented on #5324
Thanks for your response @benjaoming . I'll look into that and see what I come up with. I actually came up with a hacky solution in which i wrote a script that dumps attemptlog into a dummy table before syncing then restores it after. Introducing a setting to skip it is definitely cleaner.
Feliz navidad!

[2016-12-27 16:57] benjaoming commented on #5254
Commit 688b0e2e41a518d00b169d9ee840c4900599a675 which is merged into `develop` and will be released in 0.17 is relevant to certain scenarios where content recommendation can get stuck in endless loops. It can affect anything since User A visiting a page that triggers content recommendation (the Home page) will make the server freeze for any other users visiting any other page.

[2016-12-27 18:03] L-Amstutz commented on #5254
We have deployed dozens of RACHEL Plus servers in schools in Liberia where they typically have about 50 students in a math classroom.  We share one laptop between two students, so that means up to 25 laptops logged into KA-Lite at once.  We have upgraded to KA-Lite 0.16.9, and have also made the modification to move all the KAL database from the internal eMMC to the 50GB HDD which supposedly has f

[2016-12-27 19:53] benjaoming commented on #5254
@L-Amstutz - thanks for sharing detailed feedback! It does sound like we need to introspect our memory and processing footprints more in detail with special attention to content logging and calculation of recommendations from the topic tree.

I would think we should pay special attention to:

1. Our logging calls via javascript. They hit a couple of different API end points registering student pro

[2016-12-27 20:00] L-Amstutz commented on #5254
Ben,  are there any other server stats that I should include in the list of “dstat plugins” to run when we do our stress test?  Intel CAP support has suggested the ones I used which include CPU usage, RAM memory, Paging, Network I/O, Disk I/O, and “most expensive” processes. If you want to take a list at all the dstat options ( http://www.tecmint.com/wp-content/pdf/dstat.pdf  )  and find if there

[2016-12-27 20:08] benjaoming commented on #5254
Hi @L-Amstutz - I'm not familiar with dstat, but if it only does analysis per process, then it cannot help us troubleshoot because everything is happening inside the `python2` process.

You could try looking at your `server.log` if you're running anything but Windows. It could show you the requests made at the time when things start to go slow. The log contains timestamps and URL paths requested.

[2016-12-29 16:10] mato9099 opened #5379 "KA Lite is not working"
## Summary

I'have just installed KA Lite, when I right click on the tray icon both start and stop server are grayed out. When I try to go on 127.0.0.1:8008 it doesn't work. I have checked if I have the *.bat file and it is in place. I've had before installed Python 3.4 in separate folder. I've checked the PATH in Environment variables and only  Python 3.4 is setup. As it was beforehand. There is

[2016-12-29 16:22] mato9099 commented on #5379
Hi,
Sorted, after all I went in CMD line in \Scripts and try to start kalite from cmd line. I had a error msg saying that KALITE_PYTHON wasn't set to python 2.7 so I've had to create environment variable give it python.exe from c:\Python27 folder and now it works.

[2016-12-29 16:22] #5379 closed

[2017-01-08 20:47] benjaoming commented on #5324
@Aypak - sounds like a good way to patch it! :)

But please feel free to introduce a setting that configures behavior differently, in case it doesn't affect default configurations, we should be safe to merge it.

[2017-01-08 20:54] benjaoming commented on #5333
Sorry about the issue @whatabearthinks - we weren't able to add this as a "Known issues" since 0.16 was out before we managed to spot the issue on Sierra.

You can get the latest prerelease with a fixed macOS/OSX installer here: #5376

Soon, we'll get a stable release out. Thanks for your patience ;) You can reuse downloaded videos, yes. Just retain your `~/.kalite` directory or place any videos i

[2017-01-10 02:29] whatabearthinks commented on #5333
Alrighty. Thank you.
I think I’m gonna need to wait for actually release due to the fact that I can’t quite decipher how to get the download and open the .deb file.

[2017-01-10 12:17] radinamatic commented on #5333
@whatabearthinks Yes, sometimes those download links can be hard to discern among the myriad in the pre-release PR... 😉

[Mac installer](https://drive.google.com/open?id=0B5Tyi-tRKOFMWElnUXhTNTY0SUk)
[Linux installer](https://launchpad.net/~learningequality/+archive/ubuntu/ka-lite-proposed/+files/ka-lite-bundle_0.17.0~b4-0ubuntu1_all.deb) - [How to install (`.deb`) file](https://ka-lite.readthedoc

[2017-01-12 00:48] whatabearthinks commented on #5333
Thank you very much for the links.
But what are the reassurances that these downloads are secure, and free of spyware, malware, etc…? Anyone who “hacked” me wouldn’t get much, but it’d still be a major inconvenience that I’d have to deal with in the future.

[2017-01-12 18:10] case485 opened #5382 "Ka-lite 16.9 not starting on boot"
## Summary

Ka-lite not starting on boot -

ON CLIENT BROWSER:
"KA-Lite might be busy - wait a few moments and then reload this page
If KA-Lite is still busy, get help from the system administrator
Error code: nginx 502 Bad Gateway (maybe the KA-Lite webserver is not working correctly)

ON KALITE Pi Server:
I can kill nginx processes running on port 8008 then restart kalite : kalite start and it l

[2017-01-13 17:25] benjaoming commented on #5382
Hi @case485

You should start KA Lite as a system service.

[code]

The reason is that ka-lite should run on port 7007, this happens when you invoke the system service.

Please let me know if the suggestion works.

[2017-01-13 20:42] benjaoming commented on #4326
I only find occurrences remaining in our developer docs, which is fine since they may or may not have installed it with `pip -e .`. Personally, I often end up running stuff with `bin/kalite`.

[2017-01-13 20:43] benjaoming commented on #4326
This is fixed in #5380

[2017-01-13 20:44] benjaoming commented on #4326
I have written a warning regarding the system services, because they may use a different configuration than invoking `kalite` from command line.

Furthermore, we have a warning message displayed to users running `kalite` from another user than the default Debian user account (`kalite`).

I can't resolve the Windows issue, there seems to be different outcomes depending on whether you are on Windows

[2017-01-13 23:38] benjaoming commented on #4326
The documentation of the `kalite` command is here:

http://ka-lite.readthedocs.io/en/develop/usermanual/cli.html

[2017-01-13 23:38] #4326 closed

[2017-01-15 16:25] radinamatic commented on #5333
We cannot offer stronger assurance from the fact that all our code is FOSS hosted here on GH repository, for all the world to see.

Once the final release is out, you will be able to download it from [learningequality.org](http://pantry.learningequality.org/downloads/ka-lite/0.17/), same as millions of our users around the globe.

[2017-01-15 16:27] radinamatic commented on #2445
Non extant on 0.17b4, closing!

[2017-01-15 16:27] #2445 closed

[2017-01-15 16:31] radinamatic commented on #2908
@benjaoming You did a major cleanup for `kalite` command in 0.17, so this could be closed, correct?

[2017-01-15 16:35] radinamatic commented on #2920
Not sure if this is ever going to be "fixed", in the scope of KA Lite lifetime, but I'm jumping onto procrastination train for now and punting it... :stuck_out_tongue:

[2017-01-15 16:39] radinamatic commented on #3346
I could only wish this is the sole keyboard navigation issue KA Lite had... :sob:

[2017-01-15 17:07] whatabearthinks commented on #5333
That's great. Thank you.
Thank you.

[2017-01-15 17:14] radinamatic commented on #4848
Fixed in  #5047 and non extant in current docs, closing!

[2017-01-15 17:14] #4848 closed

[2017-01-15 17:17] radinamatic commented on #4918
Non extant on 0.17b4, closing!

[2017-01-15 17:17] #4918 closed

[2017-01-15 17:20] radinamatic commented on #5228
Documented in #5291, closing!

[2017-01-15 17:34] radinamatic commented on #5359
I'm punting this to 0.18, but we should keep working on it, if nothing else as an exercise for how to approach the same problem with KA videos in Kolibri!

[2017-01-16 17:27] benjaoming commented on #5228
Well, not quite a finished guide, but it's not a release blocker!

[2017-01-16 17:30] benjaoming commented on #2908
@radinamatic correct! Even the `i18nize_templates` was removed.

[2017-01-16 17:30] #2908 closed

[2017-01-16 17:52] benjaoming commented on #5316
@harishbalachandran thanks for reporting

It looks like KA.org has rearranged these exercises. Could you see if you are able to reproduce using the same browser etc. on upstream exercises?

https://www.khanacademy.org/math/geometry-home/geometry-angles/geometry-vert-comp-supp/e/vertical_angles

@radinamatic can you tell if the reorganization has also happened in our latest English content pack? Be

[2017-01-17 06:32] benjaoming commented on #3013
@radinamatic will try to recreate this for our current 0.17 development, but most likely we need more data to recreate it.

[2017-01-17 12:14] radinamatic commented on #5316
The latest English contentpack from this morning.
KA has indeed rearranged this exercise, now it is here:

![virtualbox_windows 7_17_01_2017_13_02_03](https://cloud.githubusercontent.com/assets/1457929/22019911/d4dab016-dcb5-11e6-8341-6b3d3a04bb19.png)

On another hand, I was not able to reproduce the same issue:

1. I'm able to continue past the 6th exercise, and new tasks load correctly.
2. Reco

[2017-01-17 12:39] radinamatic commented on #3013
Not having luck finding `KCT 4S, 4T` in the current KA Lite content. @anuragkanungo could you provide more details about the exercise? Which version/installer gives this error?

[2017-01-17 13:02] radinamatic commented on #5316
No issues whatsoever in Chromium on Ubuntu 16.10:

![virtualbox_ubuntu 16 10_17_01_2017_14_00_40](https://cloud.githubusercontent.com/assets/1457929/22021410/6f8abbcc-dcbd-11e6-9a06-a93f51771102.png)

@benjaoming I think we can close this!

[2017-01-17 13:29] radinamatic opened #5384 "206 server response for mp4 files on Ubuntu"
## Summary

I've been concentrating on subtitles lately, that I just now realized that videos are not actually playing neither in FF nor in Chromium on Ubuntu. They apparently load and one can advance by clicking on the progress slide-bar, but video does not reproduce.

## System information

 - Operating system: Ubuntu 16.10
 - Version: 0.17b4
 - Browser: both Firefox & Chromium
 - Ubuntu restric

[2017-01-17 13:40] benjaoming commented on #5316
Yes, added to release notes and closing!

[2017-01-17 13:40] #5316 closed

[2017-01-17 13:54] radinamatic commented on #5384
VM Gnome Ubuntu 16.10, same issue:

FF:
![virtualbox_gubuntu_17_01_2017_14_52_28](https://cloud.githubusercontent.com/assets/1457929/22023012/b95fae36-dcc4-11e6-84f0-7223a2014304.png)

Chrome:
![virtualbox_gubuntu_17_01_2017_14_50_35](https://cloud.githubusercontent.com/assets/1457929/22023033/d130a100-dcc4-11e6-8dff-5d52e249b13c.png)

[2017-01-17 14:00] benjaoming commented on #5384
@radinamatic and you've installed the mp4 video codecs?

http://ka-lite.readthedocs.io/en/develop/installguide/system_requirements.html#video-playback

[2017-01-17 16:06] benjaoming commented on #5384
Unable to reproduce both with Cherrypy and Django development server.

[2017-01-17 16:53] radinamatic commented on #3013
Thanks to info by @jamalex we can close this now!

[2017-01-17 16:53] #3013 closed

[2017-01-17 17:01] radinamatic commented on #5384
Weird, I just opened an older VM with Ubuntu 15.10 where I had 0.17.b4 installed 2 weeks ago, but was having the left-aligned subs in Firefox 47 - subs are still on left, but the video is playing:

![virtualbox_ubuntu15 10-0 17b4](https://cloud.githubusercontent.com/assets/1457929/22030700/c03b4a2a-dcde-11e6-9b93-3f49f519b506.png)

I'm going to upgrade FF to 50 and see what happens...

[2017-01-17 17:03] radinamatic commented on #5384
@benjaoming Yes, as noted above, `Ubuntu restricted extras` are installed, but that was never required in Chrome for correct video playback.

[2017-01-17 17:18] benjaoming commented on #5384
@radinamatic does installing it change, though? Chrome might have switched to using native system libraries?

[2017-01-17 17:35] radinamatic commented on #5384
AFAIK `Ubuntu restricted extras` have always been required only by FF, because of some licensing issues that Chrome does not have. And those codecs were installed prior to KA Lite on this VM.

Anyway, upgrading FF to 50 did not bring the issue here, so I'm unable to repro what I reported initially on this third VM - `206` response is present, but videos play OK:

![virtualbox_ubuntu15 10-0 17b4-2]

[2017-01-17 20:55] benjaoming commented on #5073
Fixed in #5386

[2017-01-17 20:55] #5073 closed

[2017-01-18 14:03] radinamatic commented on #5384
I've installed a completely new Ubuntu 15.10 VM on the same OSX host as the original issue, and the problem persists. Since I'm unable to reproduce it on my home MiniMac as a host (post above), leads me to believe this might have something to do with the host itself. 🤔

I'll make one more run at it with Ubuntu host just to cover all basis, and we'll take it from there...

[2017-01-18 14:27] nakam28 commented on #4765
I installed KA Lite version 2016.20 on an RACHEL-Plus when I ope the KA Lite I get the error message as shown in the screen shot below.
![unexpected error - no such table](https://cloud.githubusercontent.com/assets/24987742/22067551/ad95e9a6-dd89-11e6-9ff9-f22aa246154b.jpg)
![rachel version info](https://cloud.githubusercontent.com/assets/24987742/22067676/27de63dc-dd8a-11e6-8382-8d1bc13e4958.png)

[2017-01-18 15:02] nakam28 opened #5388 "unexpected error - no such table"
## Summary
I installed KA Lite version 2016.20 on an RACHEL-Plus (Intel CAP) when I open KA Lite I get the error message as shown in the screen shot below.

*Briefly describe what this is about*
When I click on any item in KA Lite I get an error message " [unexpected error - no such table]"

## System information

Hardware	        i686

RACHEL Installer	1-2-16_9.1.1 *
Kiwix	                0.9 *
C

[2017-01-18 17:10] case485 commented on #5382
Thanks for the reply. Unfortunatly this did not work, I did mutilple installs using the following process :

I tried both a dpkg process and the ppa :

		apt-get update && apt-get upgrade
		apt-get install python-m2crypto
		apt-get install python-pkg-resources
		apt-get install nginx
		apt-get install python-psutil
		if [ "$1" == "dpkg" ]; then
			echo "In the Update KA LITE Funcion ; DPKG Option"

[2017-01-19 00:19] benjaoming commented on #5382
@case485 in your examples, you haven't invoked the system process.

Running KA Lite by simply issuing `kalite start` will run it on port 8008, i.e. the port that Nginx is occupying. That's how it's supposed to be. Running `sudo service kalite start` will run KA Lite on port 7007 which is the port that Nginx proxies to... if nothing is running on 7007, Nginx will issue "Bad Gateway".

[2017-01-19 03:11] case485 commented on #5382
That works and thank you very much for your patience. My question is that I have been running Ka-lite for several years now and have never had to do that before, when the install process asks me if i want to startup kalite as a sytem process on boot i always select yes there and have never had to do anything else until now.

To ensure that kalite starts at boot, do i need to add the "service ka-li

[2017-01-19 09:47] benjaoming commented on #5388
@nakam28 RACHEL runs KA Lite as the `root` user IIRC.

You may have data from RACHEL's installation that's in use and then installed a newer KA Lite on top of it?

In that case, try running (as the correct user, probably, `root`):

    kalite manage setup

[2017-01-19 10:40] benjaoming commented on #5382
Hi @case485 !

You can register it as a script to be started with default settings like so:

    sudo update-rc.d ka-lite defaults

Adding it to `rc.local` is also an option, but you might as well start the system service in the conventional way :)

There might, however, be reasons as to why it isn't running. You can troubleshoot with:

    journalctl -u ka-lite
    # or sudo less /var/log/syslog

[2017-01-19 10:41] benjaoming commented on #5382
I'm closing this since it seems things are working, otherwise issues are with ka-lite-raspberry-pi, but all the debian installers have had their system service script changed because of systemd compatibility. So should expect different behavior in 0.17.

[2017-01-19 10:41] #5382 closed

[2017-01-19 11:26] benjaoming commented on #5384
Thanks @radinamatic - will keep fingers crossed that it's your host :) Try ensuring that video drivers for the VM are installed?

[2017-01-19 11:33] nakam28 commented on #5388
@benjaoming - Many thanks for yor response.
KA Lite is running on the RACHEL-Plus server - it uses the Intel Content Access Point CAP).
Can you please explain to me how to run the command "kalite manage setup" as a root on the RACHEL_Plus server?
Many Thanks

[2017-01-19 12:01] nakam28 commented on #5388
@benjaoming - I have just run the command "kalite manage setup" on the CAP.
And get the following "**Warning message**":
_**[WARNING] [2017-01-19 11:48:39,241] root: It's recommended that you install Python version 2.7.6. Your version is: 2.7.3**_
Do I have to install Python version 2.7.6 as suggested? If yes how?
![manage_kalite_setup](https://cloud.githubusercontent.com/assets/24987742/22106094/

[2017-01-20 12:27] radinamatic commented on #5384
Closing this as it seems to be limited to guest VMs on only one of three host machines where I've tested it.

[2017-01-20 12:27] #5384 closed

[2017-01-23 14:01] benjaoming commented on #5388
@nakam28 - the warning regarding Python version... I cannot remember exactly why we did this, I have tried searching a bit around. Anyways, you can probably use KA Lite with Python 2.7.3.

It looks from your screenshots as if you are confusing your laptop and the server?

It seems like you are logging into the server on `192.168.88.1` and then running `kalite manage setup` correctly. You should pr

[2017-01-23 14:10] benjaoming commented on #5289
Closing this, it would have to be investigated again in 0.17, but for now, video-js is updated to the latest version, hopefully this also solves issues with new browsers.

[2017-01-23 14:10] #5289 closed

[2017-01-23 22:43] benjaoming commented on #5295
@rifatbd could you test the new content pack available in 0.17.0b5 - instructions are in #5390

[2017-01-24 06:36] rifatbd commented on #5295
@benjaoming ..... will do and let you know :)

[2017-01-24 14:04] radinamatic commented on #5295
While I cannot, of course, vouch for the accuracy of the content, the language installs OK and displays in the latest OSX installer:

![virtualbox_sierra_24_01_2017_14_50_45](https://cloud.githubusercontent.com/assets/1457929/22250144/29ac1edc-e246-11e6-8a41-99058518324b.png)

![virtualbox_sierra_24_01_2017_14_53_00](https://cloud.githubusercontent.com/assets/1457929/22250145/29ae7286-e246-11e6-8c

[2017-01-24 19:22] Faustusone opened #5392 "Online registration confirmation email undelivered"
## Summary

I am not receiving the verification email when registering my account.

## System information

*Please specify the KA Lite version you were using and your operating system!*

 - Win 7
 - Version: Latest windows version.
 - Chrome
- I use gmail

## N/A

[code]

## How to reproduce

1. Start server
2. login with account
3. Register account
4. Nothing

## Screenshots

*If applicable*

##

[2017-01-24 21:33] benjaoming commented on #5392
@Faustusone where do you register your account? On http://hub.learningequality.org/ ?

[2017-01-24 21:41] benjaoming commented on #5328
@mrpau-eduard @radinamatic - was looking around, seems there are still a lot of topics in English in the French content pack.

What can we do about it? Should we add it as a "known issue"?

[2017-01-24 21:43] benjaoming commented on #5328
![screenshot from 2017-01-24 22-41-56](https://cloud.githubusercontent.com/assets/374612/22268108/7ebeb64c-e286-11e6-82a0-a77be5c29977.png)
![screenshot from 2017-01-24 22-42-49](https://cloud.githubusercontent.com/assets/374612/22268109/7ed59312-e286-11e6-99c6-a8c9328202f8.png)

[2017-01-25 05:49] Faustusone commented on #5392
I registered with KA lite through 127.0.0.1:8008.  It allows me to register
my initial account but when I register my device I enter all the necessary
information name, surname, email address, password etc. I get the message
that I will receive an email to verify my account. Yet I haven't received
an email yet.

Thanks for your time.

On Tue, Jan 24, 2017 at 11:33 PM, Benjamin Bach <notifications@

[2017-01-25 14:01] radinamatic commented on #5015
Saying goodbye to this issue, upgrade from 0.16 to 0.17b4 on Win 8.1 is flawless: installer detects the previous version, asks the user if they want to maintain it, and preserves the database (I made a copy of `.squilte` files, but it wasn't necessary as both facilities with their users survived 😉 ). This issue has most probably been caused by something in the `generaterealdata` command, IMHO.

[2017-01-25 14:01] #5015 closed

[2017-01-25 14:33] radinamatic commented on #5328
@benjaoming Those topic titles are displayed in English even on KA site in French, so I'm unsure if there's something we can actually do:

![virtualbox_ubuntu 16 10_25_01_2017_15_17_41](https://cloud.githubusercontent.com/assets/1457929/22294423/96ca434a-e313-11e6-8e0a-d68ebeb98815.png)

![virtualbox_ubuntu 16 10_25_01_2017_15_24_20](https://cloud.githubusercontent.com/assets/1457929/22294430/a381

[2017-01-25 14:37] radinamatic commented on #5328
As of the `Grade X (NCERT)` topics, those are not present on  KA math page in French (it ends with `Terminale S` topic), so maybe we could exclude them, but I don't think it warrants the mention in the `Known issues`.

![virtualbox_ubuntu 16 10_25_01_2017_15_35_46](https://cloud.githubusercontent.com/assets/1457929/22294608/2c7ebec0-e314-11e6-91f6-4945437ca70b.png)

[2017-01-25 20:39] benjaoming opened #5395 "Update release notes for 0.18 on develop branch"
## Summary

This issue will be solved as soon as 0.17 is released and its release notes have been finalized.

[2017-01-25 20:49] benjaoming commented on #5328
@radinamatic thanks for checking it out!

I think we can close it then... since remaining English meta data basically just reflects upstream data.

[2017-01-25 20:49] #5328 closed

[2017-01-25 21:06] benjaoming commented on #5392
Thanks for reporting and explaining, I understand now. Checked it, too.. it seems after 30 minutes of waiting that it indeed doesn't work.

[2017-01-26 05:38] Faustusone commented on #5392
It's a pleasure.

On Wed, Jan 25, 2017 at 11:06 PM, Benjamin Bach <notifications@github.com>
wrote:

[2017-01-26 05:43] Faustusone commented on #5392
Could you please message me when it's up again. Thanks.

On Thu, Jan 26, 2017 at 7:38 AM, Jacques Myburgh <rinjin0@gmail.com> wrote:

[2017-01-27 18:34] benjaoming commented on #5392
@Faustusone sorry that this is taking so long, I'm handling it as soon as I've been transfered credentials to the server that sends out our emails so I can diagnose this.

[2017-01-27 23:58] benjaoming opened #5400 "Content packs in well-known locations do not automatically install during upgrade"
## Summary

When upgrading, using an installer that has bundled `en.zip` into the new well-known location, it isn't automatically installed.

Instead the user is given a warning.

## System information

*Please specify the KA Lite version you were using and your operating system!*

 - Operating system: Probably mainly Debian, unsure of how other installers treat this
 - Version: develop
 - Browser

[2017-01-28 00:03] benjaoming commented on #5294
@Kevsy @julianharty - please feel invited to try out the prerelease 0.17.0b5 described in #5390

The new Swahili content packs are ready, and they should also provide you with the right videos.

[2017-01-28 00:05] benjaoming commented on #5295
@radinamatic 's tests look really promising - @rifatbd I hope your deployment will be successful from here on :) Please let us know if there are any further issues! And in case there are, feel welcome to report them!

[2017-01-28 00:05] #5295 closed

[2017-01-28 03:57] shreab373 commented on #3352
Hello, I'm new, i would like to work on this, could you guide me as to what needs to be done?

[2017-01-28 04:01] shreab373 commented on #2909
Hi, can I take this? Could you tell me what exactly needs to be done to solve this?

[2017-01-28 08:32] benjaoming commented on #3352
Hi @shreab373 - welcome :)

Can definitely help you get this issue solved :)

The first place to go is our developer docs: http://ka-lite.readthedocs.io/en/develop/developer_docs/index.html

From there on, get a working environment set up..

Can I ask curiously why this issue exactly is something you want or need to have solved?

[2017-01-28 11:02] shreab373 commented on #3352
hello, I'm a beginner to open source contributions, i was looking at easier things to fix, in your opinion is this a good first bug?

[2017-01-28 17:56] Faustusone commented on #5392
No problem. Thanks for the assistance.

On Fri, Jan 27, 2017 at 8:34 PM, Benjamin Bach <notifications@github.com>
wrote:

[2017-01-30 20:33] benjaoming commented on #3352
@shreab373 - depends, do you know Python? CSS?

[2017-01-30 20:36] benjaoming commented on #5392
Sorry that this is taking a long time @Faustusone

We were out of credits with out email provider! *blushes*

It's all fixed now, but the confirmation email from 6 days ago has unfortunately been removed from the queue, meaning you would have to request a new account.

THANKS for reporting this!!

[2017-01-30 20:36] #5392 closed

[2017-01-30 20:37] benjaoming commented on #5392
Actually, I *have* received my confirmation email from 5 days ago, so you might have, too :)

[2017-01-30 20:43] shreab373 commented on #3352
i do know python and but i'm only familiar with css as i had used in a project which was about a year ago..

[2017-01-30 20:45] benjaoming commented on #3352
Well, the issue is probably something that will require you to do some research on CSS and font handling. But you also have to research how to get the development environment for KA Lite running ;) Once you have it up, it's probably easier for you to understand how to make the necessary changes and if you want to work on this issue in particular.

It requires a simple fix, but it's depending on wh

[2017-01-30 21:13] shreab373 commented on #3352
i shall first set up dev env and get back to this as soon as that is done! thanks :)

[2017-01-30 21:54] jamalex commented on #5294
Note that there's a torrent file for 0.17 that also includes all the vids for 0.16: http://pantry.learningequality.org/downloads/ka-lite/0.17/content/ka-lite-0.17-resized-videos-swahili.torrent

[2017-01-31 15:17] radinamatic commented on #3352
@shreab373 Check these WCAG resources:

[1.4.4 Resize text (Level AA)](https://www.w3.org/WAI/WCAG20/quickref/#qr-visual-audio-contrast-scale)
[C28: Specifying the size of text containers using em units](https://www.w3.org/TR/WCAG20-TECHS/C28.html)
[Font Size on the Web](http://accessibility.psu.edu/fontsizehtml/)

[2017-01-31 17:18] benjaoming commented on #5348
It's freezing up again in 0.16.9. The same in 0.17.0. Still not seeing any useful log messages: No JS error, no server-side error, no connection error from the browser. Everything is stuck at this picture:

![screenshot from 2017-01-31 17-56-53](https://cloud.githubusercontent.com/assets/374612/22475330/e6f03094-e7de-11e6-8ac3-f829a93d2eaa.png)

[2017-01-31 17:56] benjaoming commented on #5348
I have Wiresharked myself during this error message. No network activity at all during the error message.

[2017-02-01 16:36] Faustusone commented on #5392
Thanks for the help, Yip I got my email I'm busy downloading the videos now.

On Mon, Jan 30, 2017 at 10:37 PM, Benjamin Bach <notifications@github.com>
wrote:

[2017-02-02 07:34] radinamatic opened #5401 "Device registration not compulsory to download videos and languages - redirect to device registration page not working"
## Summary

Contrary to what used to happen in 0.16 releases, 0.17 does not require the user to register the device in order to download videos and languages.

## System information

*Please specify the KA Lite version you were using and your operating system!*

 - Operating system: all
 - Version: 0.17b5
 - Browser: all

## How to reproduce

1. Fresh install
1. Login as Admin
1. Go to Video or La

[2017-02-02 12:40] benjaoming commented on #5400
'twas I!

I had a virtualenv activated while installing KA Lite. This meant that the well-known location changed from `/usr/share/kalite/preseed` to `~/.virtualenvs/myvirtualenv/share/kalite/preseed`.

[2017-02-02 12:58] #5400 closed

[2017-02-02 13:02] benjaoming commented on #5348
Maybe relevant: https://github.com/learningequality/ka-lite-content-packs/issues/58#issuecomment-276950139

[2017-02-02 22:41] benjaoming commented on #5348
Connection failures seem to be reproducing across the spectre. Downloading `all_metadata.json` is also failing. Suspecting new CSP / CORS stuff to be the cause.

[2017-02-02 22:42] benjaoming commented on #5348
I'll try this: https://github.com/ottoyiu/django-cors-headers/

[2017-02-02 23:33] rtibbles commented on #5348
Adding dataType to `jsonp` might be sufficient to fix this: https://github.com/learningequality/ka-lite/blob/master/kalite/updates/static/js/updates/bundle_modules/update_languages.js#L35

So this options object becomes:
[code]

[2017-02-03 10:46] benjaoming commented on #5348
Hmm, I tried to update django-cors-headers to work with Django 1.5.. which was a rabbit hole.

Trying @rtibbles 's suggestion to change to `jsonp`..

[2017-02-03 11:33] benjaoming commented on #5348
@rtibbles oh yes, I tried that yesterday, we need to list out the json fields, too, but seems plausible. Will PR soon..

[2017-02-03 12:50] benjaoming commented on #5348
Changed to `jsonp` but the request is still never received by Pantry, and XHR `.fail` is still called straight-away.

[2017-02-07 16:19] benjaoming commented on #5348
Thanks Chromium, this error message helps a lot :)

[2017-02-07 16:42] benjaoming commented on #5348
Some gateway in front of the Pantry server seems to be giving a 405 when the browser tries to retrieve CORS policies:

[code]

Can someone please tell me why we even have a gateway in front of Pantry and if we can lower the complexity level a bit here? :)

[2017-02-07 16:50] radinamatic commented on #5348
Pinging @aronasorman :sos:

[2017-02-08 20:51] benjaoming commented on #5348
Okay, we got through the diversion - actually the problem was a misconfiguration of pantry.learningequality.org and that's been fixed.

We can concentrate on the original issue about the user message.

[2017-02-08 20:58] benjaoming commented on #5401
Confirmed - will try to see if I can plug the hole by adding a good old redirect on the language and video update pages. There's no harm in this, since these pages are almost useless on a device that doesn't have a connection.

In case a device has videos and content packs, but no internet connection and isn't registered, then the pages are useful for deleting stuff. But it should hardly matter...

[2017-02-09 13:13] radinamatic commented on #5401
Unable to register with today's 0.17b5 installer on Windows 7.

There's no alert message at all, even though the device is reported as not registered, refreshing the register page does nothing, no errors in the console...

![w7b](https://cloud.githubusercontent.com/assets/1457929/22784670/407497ba-eed1-11e6-8e9b-b50b9866641a.gif)

[2017-02-09 13:14] radinamatic commented on #5348
[Latest screencast is here](https://github.com/learningequality/ka-lite/issues/5401#issuecomment-278636528).

[2017-02-09 20:32] benjaoming commented on #5401
Fixed in #5404  :)

[2017-02-09 20:34] benjaoming commented on #5401
@radinamatic the actual explanation is that _if_ a device is offline, we don't require registration. Since the online detection part was broken due to a redirect on `kalite.learningequality.org`, and the function that was supposed to handle and assess the redirect wasn't configured to do so, the function `i_am_online` assumed the device was offline even though it was online :)

[2017-02-10 10:12] radinamatic commented on #5401
Working correctly on the latest `.deb`:

#### Online, trying to download a language:

![virtualbox_ubuntu 16 10_10_02_2017_11_03_38](https://cloud.githubusercontent.com/assets/1457929/22822833/4c32b162-ef81-11e6-92e0-ad8d8ddaa5d7.png)

#### Offline, trying to download a language:

![virtualbox_ubuntu 16 10_10_02_2017_11_01_53](https://cloud.githubusercontent.com/assets/1457929/22822914/b6fb06f2-ef

[2017-02-10 10:54] radinamatic commented on #5401
Getting the same error as @mrpau-eduard on OSX Mavericks while registering... 🤔

![mavericks](https://cloud.githubusercontent.com/assets/1457929/22824280/8b07442e-ef87-11e6-9093-b9a64ae719e9.gif)

![virtualbox_mavericks_10_02_2017_11_48_23](https://cloud.githubusercontent.com/assets/1457929/22824311/af219c6a-ef87-11e6-8fc7-0f28d48dcd29.png)

@benjaoming

[2017-02-10 18:34] benjaoming commented on #5401
@radinamatic this seems sort of like a different error - because as you can see from the URL, you *are* already redirected to the registration page.

But I see a much bigger challenge, namely the fact that we don't even dump a traceback on the error page. I would suggest a `<textarea>` with the error for easy copy-paste and so it doesn't take up the full screen.

It also seems that the 500 page is

[2017-02-10 19:14] benjaoming commented on #3327
I've started implementing the above pattern `logger = logging.getLogger(__name__)`. We also have better logging handling through `settings.LOGGERS`.

And finally, we log to `~/.kalite/server.log`- which also works on Windows now.

I think it's reasonable to close this now - seeing that it's more of a task for future devs to slowly adapt the remaining codebase to proper standards.

[2017-02-10 19:14] #3327 closed

[2017-02-10 19:33] radinamatic commented on #5401
@benjaoming Better traceback would certainly be useful! :+1:

[2017-02-13 04:13] mrpau-richard commented on #5401
Hi @benjaoming & @radinamatic  I have these logs when I register the device using this [windows installer](https://drive.google.com/open?id=0B5Tyi-tRKOFMSFhKaFJDdzhXVDQ)
[code]

[2017-02-13 11:25] benjaoming commented on #5401
*facepalming myself*

[2017-02-13 11:35] benjaoming commented on #5401
Fix is coming, if you want, you can already build against my PR branch, otherwise I'm waiting for the test to pass, then merging ASAP...

https://github.com/learningequality/ka-lite/pull/5406

[2017-02-13 11:35] radinamatic commented on #5401
I'm guessing there's no need for me to confirm these... 😂

[2017-02-13 15:07] nedrichards opened #5407 "Sidebar list doesn't scroll on touch"
## Summary

*When using KA Lite on a touchscreen device touch scroll events drop through to the underlying page rather than scrolling long sidebar lists (mouse wheel scrolls work)*

## System information

*Please specify the KA Lite version you were using and your operating system!*

 - Operating system: Linux
 - Version: 0.16.5
 - Browser: Chromium 55, Google Chrome 56

## How to reproduce

1. Vi

[2017-02-13 17:15] benjaoming commented on #5407
Thanks for reporting this!

@66eli77 you being the sidebar expert, would you be able to fix or recommend what to do in this case? I don't have a touch device in my development kit, so I find it a bit tedious to reproduce and solve.

[2017-02-13 18:33] benjaoming commented on #5407
@nedrichards Did you btw notice the little overlay scrollbar? It's possible to drag it using the mouse, so I was thinking if it's possible to also drag it on a touch device?

![screenshot from 2017-02-13 19-31-49](https://cloud.githubusercontent.com/assets/374612/22897238/5074d634-f223-11e6-85f0-ff5e8f3a8394.png)

[2017-02-13 18:35] benjaoming commented on #5407
Also of interest: If I use the mouse's scroll wheel on the contents of a sidebar panel, it scrolls correctly. However, scrolling with the mouse wheel having the cursor placed on top of the overlay scrollbar of a sidebar panel scrolls the full window.

[2017-02-13 19:01] nedrichards commented on #5407
I was unable to tap or drag the overlay scrollbar with my finger (or with a handy nearby stylus)

[2017-02-13 19:36] benjaoming commented on #5407
Roger - I think this sounds relevant for a patch release.

[2017-02-13 23:14] 66eli77 commented on #5407
I cannot reproduce the issue on android 4.4.2 tablet(chrome browser 50)  running kalite 0.16.9, will try 0.16.5

[2017-02-13 23:16] benjaoming commented on #5407
@66eli77 - I think the sidebar is something that hasn't been changed much since 0.15?

@nedrichards could you give some more details about which OS your tables etc are running?

[2017-02-13 23:29] 66eli77 commented on #5407
However if I try to scroll list that's not long enough to have a scrollbar, then the browser address bar will be hidden or displayed(this is an android browser specific behavior), thus the page height changes, and if you keep holding your finger on the screen, the render will seem a little strange(see pic below), but once you release your finger, everything will look normal again.

![screenshot_20

[2017-02-14 00:07] benjaoming commented on #5407
@66eli77 that's something slightly easier to live with :)

The issue reported blocks users of certain touch devices to navigate and access contents, which is why IMO it should be fixed. Within limits of course.. if it's a case of a misbehaving browser or likewise, it can also be beyond our reach.

[2017-02-14 15:45] nedrichards commented on #5407
I'm using [Endless OS](https://endlessos.com/) (I also work there ;-) but I believe this would be reproducible on any desktop Linux (Ubuntu, Fedora etc.). I'm using a Lenovo Yoga 900 laptop but that's just to reproduce problems we heard from some of our users who were using a digital whiteboard.

Chrome is the regular upstream release and seems to work fine with touch otherwise.

[2017-02-14 16:04] benjaoming commented on #5407
@66eli77 maybe try reproducing with a newer Chrome browser?

[2017-02-14 16:25] nedrichards commented on #5407
I also tried this on a Surface 3 running Windows 10. Scrolling works as expected in Chrome 56, but does not work in Firefox or Edge. So whilst the scrolling could be more cross browser friendly I'm concerned that there's a Linux specific issue here which I'll investigate further.

[2017-02-14 16:32] benjaoming commented on #5407
thanks @nedrichards, much appreciated!

[2017-02-14 19:15] benjaoming opened #5408 "Put all output from `kalite manage setup` in log"
## Summary

Some of the output during setup is just added via `print` statements and `sys.stderr`, we should log everything the proper way so it goes into `server.log`.

## System information

All systems

## Real-life consequences (anything community should be aware, for instance how it affects your deployment)

It's hard to properly debug problems pertaining initial setup. Currently, we have an

[2017-02-14 19:27] benjaoming opened #5409 "Device registration broken in IE9"
## Summary

One-click device registration calls the AJAX `.fail` XHR. Not sure why, works in other browsers.

## System information

Windows 7, IE9, 0.17.0 prerelease.

## Screenshots

![virtualbox_ie9 - win7_14_02_2017_20_23_29](https://cloud.githubusercontent.com/assets/374612/22945261/e69c2560-f2f3-11e6-9ed9-cc1649aefc05.png)

## Real-life consequences (anything community should be aware, for i

[2017-02-14 19:40] radinamatic commented on #5401
Latest installer by @mrpau-eduard on Windows 7

#### IE11

![virtualbox_ie11 - win7_14_02_2017_20_33_57](https://cloud.githubusercontent.com/assets/1457929/22945570/ffc3a44a-f2f4-11e6-85a6-5ed79e78c304.png)

#### Firefox

![virtualbox_ie11 - win7_14_02_2017_20_28_11](https://cloud.githubusercontent.com/assets/1457929/22945590/0cae8238-f2f5-11e6-88e4-c0a5ee6d01f5.png)

Error seems the same for both

[2017-02-14 20:05] 66eli77 commented on #5407
@nedrichards I opened a PR to fix the issue. Would you be able to checkout the PR #5410 and test it on your devices that have the issue? Thank you very much.

[2017-02-16 13:26] #5401 closed

[2017-02-16 13:56] nedrichards commented on #5407
Yes! We'll do that and update you.

[2017-02-18 01:32] shuaiye1999 opened #5413 "Register Device failed in 0.17.0"
## Summary

After I install 0.17.0, and start the service. I goto manage tab, and click "Register Divece",
and choose the left one to register. then I get:
"
Error
Sorry, but there was an error while trying to load the page.

(TypeError: __init__() takes exactly 3 arguments (1 given))

"

## System information

 - Operating system: OSX 10.9.5
 - Version: 0.17.0
 - Browser: Chrome and Safari

## Tr

[2017-02-18 01:35] shuaiye1999 commented on #5413
and python version is the version in README:

shuaiye1999deMacBook:~ shuaiye1999$ python
Python 2.7.12 (v2.7.12:d33e0cf91556, Jun 26 2016, 12:10:39)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

[2017-02-18 09:40] Burkina-Faso opened #5414 "Unable to Install French Contentpack...help!"
I am a Peace Corps Volunteer living in a small village in Burkina Faso, West Africa.  We have a computer lab with ten computers at our one Lycée.  I have successfully downloaded KA Lite in English (Windows) and installed it one of our computers as a test run.

However, I also need to import the French version of KA Lite.  I have downloaded the fr.zip contentpack but I cannot figure out how to impo

[2017-02-18 10:53] benjaoming commented on #5413
Thanks for reporting this @shuaiye1999 - it seems that the Mac installer built yesterday has been based off out-of-date source code. We need to rebuild it.

Meanwhile, the 0.16.9 installer is reported to work fine for registration: http://pantry.learningequality.org/downloads/ka-lite/0.16/installers/mac/KA-Lite-0.16.9.pkg

After registering your device using 0.16.9, you can upgrade to 0.17.0.

[2017-02-18 12:54] benjaoming commented on #5414
Hello @Burkina-Faso

I see what you mean, and it's true that there is only a graphical user interface for downloading the content packs. We have only put an effort into create a command line for this use case.

On Windows, open up a command line `WIN+R`, then type `cmd`.

Navigate to where the `kalite` command is available and press ENTER.

    cd C:\Python27\Scripts

The run the command, giving i

[2017-02-18 12:54] #5414 closed

[2017-02-18 13:23] Burkina-Faso commented on #5414
You are amazing, Benjamin!

Thank you!!

On Sat, Feb 18, 2017 at 12:54 PM, Benjamin Bach <notifications@github.com>
wrote:

[2017-02-19 05:42] mrpau-richard commented on #5413
Hi @benjaoming your right the latest KA Lite OS X installer is built in out-of-date source code. Here’s the newly built and signed [KA Lite OS X installer](https://drive.google.com/open?id=0B5Tyi-tRKOFMX2dTZ3ZfQWR5c2M). I also tested it with no issue on device registration.

[2017-02-20 05:54] shuaiye1999 commented on #5413
thanks you guys。@benjaoming @mrpau-richard
so when it will be available officially?
I cannot access the folder @mrpau-richard  mentioned.

[2017-02-20 06:10] mrpau-richard commented on #5413
Hi @shuaiye1999 the linked I posted is not an official KA Lite OS X installer for the public user. We will inform you when @radinamatic , @benjaoming & @arnoan verify and  upload it in the  [pantry](http://pantry.learningequality.org/downloads/ka-lite/0.17/installers/).

[2017-02-20 23:25] MIchaelPStimpson opened #5416 "Server not starting -database file already exists"
## Summary
Server not starting -database file already exists

*Briefly describe what this is about*
The server says WARNING: Database file already exists! when I try to run it from command line. It doesnt run when I try to start the server from the tray.
## System information

*Please specify the KA Lite version you were using and your operating system!*

 - Operating system: Windows 10
 - Version

[2017-02-22 08:17] mrpau-richard commented on #5413
@shuaiye1999 KA Lite OS X installer 0.17 released has been updated at [panty](http://pantry.learningequality.org/downloads/ka-lite/0.17/installers/mac/KA-Lite-0.17.0.dmg)

[2017-02-22 08:31] benjaoming commented on #5413
Closing this, please feel welcome to report any further issues @shuaiye1999 and thanks for creating this one!

[2017-02-22 08:31] #5413 closed

[2017-02-22 13:54] radinamatic commented on #5416
Hi @MIchaelPStimpson!

I was unable to replicate your issue while starting the server from the command line:

![virtualbox_msedge - win10_preview_22_02_2017_14_51_54](https://cloud.githubusercontent.com/assets/1457929/23214359/b14fb766-f90e-11e6-8a4d-2cd822dba498.png)

Could you provide some additional details about your setup to help us debug the problem?

[2017-02-22 13:56] MIchaelPStimpson commented on #5416
I had an issue with my first installation. I uninstalled and tried to reinstall, but it says the database already exists. I assume I just have to delete the old database or maybe run it without it trying to make a new one?

[2017-02-22 14:03] radinamatic commented on #5416
If you do not have any important data on your first installation (like registered users, coach reports, etc.), you can overwrite the existing database.

I'm curious why do you use command line for installation, instead of running the installer... Could you make a screenshot of the command you used and the error message that says `WARNING: Database file already exists!`? Thanks!

[2017-02-22 14:13] MIchaelPStimpson commented on #5416
I start the server and it says starting, but then nothing happens and I can't stop or start the server. When I check http://127.0.0.1:8008/ I see this screen
![image](https://cloud.githubusercontent.com/assets/10071798/23215078/b4d90622-f8d6-11e6-8c39-5da34e3c25da.png)

![image](https://cloud.githubusercontent.com/assets/10071798/23215006/6e4fb6ce-f8d6-11e6-803c-4d4e1aa2d26b.png)

I thought maybe

[2017-02-22 14:19] benjaoming commented on #5416
`WARNING: Database file already exists!` is harmless, just means that a database is already there.

You can refer to your `server.log` file - it should contain information as to why the server isn't starting. It lives in the `.kalite` folder in your  home directory.

[2017-02-22 14:22] MIchaelPStimpson commented on #5416
The only thing in the file was this..
[INFO] [2017-02-22 08:09:20,122] kalite: Setting up KA Lite; this may take a few minutes; please wait!
It's been running for the last 20 minutes and I have a good computer.

[2017-02-28 17:05] tim-moody opened #5417 "kalite manage unpack_assessment_zip command gone in 0.17?"
kalite manage unpack_assessment_zip gives "unknown command"

[2017-02-28 17:10] rtibbles commented on #5417
Yes, the assessment zips are now integrated into the content packs, and should no longer be necessary. Is it getting called somewhere, or were you just running it yourself from the command line?

[2017-02-28 17:13] tim-moody commented on #5417
It's part of the Internet in a Box playbook to download an assessment zip and load it using this command.

We don't expect the user to do any of the setup manually, so need callable scripts or commands for setup.

Can assessment items still be downloaded independently?

[2017-02-28 17:15] tim-moody commented on #5417
Thinking about this some more. Does this mean that a user can get assessment items through the management ui after kalite is setup?

what about EN? is that automatic?

[2017-02-28 17:57] rtibbles commented on #5417
The 'EN' content pack should be bundled in with any installer, so should not need to be added.

For additional languages this should be what you are after:
`kalite manage retrievecontentpack download <lang>`.

[2017-03-05 07:55] kurund opened #5418 "Not able to register device after upgrade"
## Summary

Initial setup was of Kalite 0.16.5 installed using pip install. I tried upgrading it to 0.17 version using dpkg method. It didn't work. Hence after Jamie's suggestion on #kalite I uninstalled it using pip uninstall. Then did a fresh install of 0.17 with existing backup. Installation was using dpkg method. After that I did "kalite manage setup" and then "kalite manage contentpackchecker

[2017-03-07 00:34] mrpau-eduard commented on #5418
Can you give us a screen shoot that you are using the 0.17 release. The registration issue is already fixed on the latest release. Can you post also the `server. log` so we can help you debug the issue.

[2017-03-07 22:36] rshuler commented on #5407
Hi, I'm also from Endless.  I just tested our build with the patch applied, and it did not help.  I also tested the demo.learningequality.org server (though I don't know if that would have been updated yet), and it is still broken as well, testing both in Chromium 55 and Chrome 56 on a Lenovo Yoga 900.  The overlay scrollbar does show up when touching the sidebar, but attempts to scroll the sideba

[2017-03-07 22:55] rshuler commented on #5407
FWIW, I went into the code and commented out the footer at https://github.com/learningequality/ka-lite/blob/master/kalite/distributed/templates/distributed/base.html#L137, in order to avoid the browser scrollbars, and I still am unable to scroll via touchscreen in the sidebar.

[2017-03-09 00:04] spatiald opened #5419 "Unused django package put in kalite/packages/dist"
## Summary

After upgrading from ka-lite-bundle_0.16.9-0ubuntu3_all.deb to ka-lite-bundle_0.17.0-0ubuntu1_all.deb, [a previously occurring bug reappears](https://github.com/learningequality/ka-lite/issues/105).

## System information

 - Operating system: Intel CAP v1 running Ubuntu 12.04 LTS
 - Version: 0.17.0
 - Browser: N/A

## Traceback or relevant snippet from server.log

[code]

Occurs when

[2017-03-09 01:52] spatiald commented on #5419
Related to issue https://github.com/learningequality/ka-lite/issues/105

[2017-03-13 02:53] mrpau-eduard commented on #5418
This issue is fixed https://groups.google.com/a/learningequality.org/forum/#!topic/dev/V2iWK1Ycos4

[2017-03-13 02:53] #5418 closed

[2017-03-13 19:47] benjaoming commented on #5419
Thanks for reporting this @spatiald

It makes me wonder if during the 0.17.0 cleanup, we've removed code like this:

https://github.com/learningequality/ka-lite/pull/140/files

Because certainly the `warnings.filterwarnings` could have been called anywhere.

As you rightly say, it's harmless, but shouldn't be there.

Can you also reproduce this without even upgrading?

[2017-03-15 16:09] nedrichards commented on #5407
Sorry this took so long - we think we've tracked the second failure down to a Chromium bug with touch which was just fixed in Chrome 57, which means the patch you have is good!

[2017-03-15 16:14] radinamatic commented on #5407
Awesome @nedrichards, thanks for reporting back! :+1:

Closing this! :smiley:

[2017-03-15 19:51] benjaoming commented on #5407
@radinamatic - the issue still has an unmerged PR attached ;)

@nedrichards - is it correctly understood that in order to work for Chrome 57, the patch that @66eli77 wrote is necessary?

[2017-03-15 19:56] radinamatic commented on #5407
Ups, had too much sugar this morning and jumped the gun... Apologies! :blush:

[2017-03-16 13:44] benjaoming commented on #5416
@MIchaelPStimpson the server isn't supposed to be responding while you see `kalite: Setting up KA Lite; this may take a few minutes; please wait!` and no message that it has ended that process.

Do you see anything following this message, indicating what the current process is about - or does the log end with this message and no other messages after 20 minutes?

(p.s. sorry, I've been away for the

[2017-03-16 13:48] benjaoming commented on #5417
Correct what @rtibbles is saying. Since 0.15, the unpack_assessment_items has been deprecated and was only used as an internal component in the Debian .deb installer.

Just to clarify our terminology a bit:

"content pack" = a database of translated videos+exercises, subtitles, and translation files for the interface.

"assessment items" = data files used for exercises, such as images and javascri

[2017-03-16 13:48] #5417 closed

[2017-03-16 14:11] #5395 closed

[2017-03-16 20:02] #5165 closed

[2017-03-16 20:19] benjaoming commented on #5165
Solved like this:

![screenshot from 2017-03-16 21-18-56](https://cloud.githubusercontent.com/assets/374612/24016912/3497e518-0a8e-11e7-9df7-463edbadca5f.png)

[2017-03-16 20:46] benjaoming commented on #5419
Just looked at your traceback:

[code]

I notice the path `/usr/local/lib/python2.7/dist-packages/pytz/__init__.py` which indicates a local installation of pytz.

Could you try running this in Python?

[code]

[2017-03-17 09:33] nedrichards commented on #5407
No, sorry for being unclear. You *don't* need the patch above to work in Chrome 57. You *do* need it to work in Firefox and Edge and the patch doesn't break Chrome. So I do think it's worth merging.

[2017-03-17 17:08] benjaoming commented on #5407
Thanks for the feedback @nedrichards ! :)

[2017-03-17 17:51] benjaoming commented on #5407
@nedrichards would you happen to know which versions of Chrome prior to 57 that had the touch screen scrolling bug?

[2017-03-17 18:47] nedrichards commented on #5407
We reproduced on 55 and 56 on Linux.

On Fri, 17 Mar 2017, 17:51 Benjamin Bach, <notifications@github.com> wrote:

[2017-03-18 09:06] benjaoming commented on #5407
Thanks! :)

[2017-03-18 16:09] benjaoming commented on #5407
Fixed the remainder in #5422 as a known issue.

[2017-03-18 16:09] #5407 closed

[2017-03-18 21:44] case485 opened #5423 "kalite .17.0 Server not starting on boot raspberry Pi Debian 8.0"
I corrected this but I was not sure if this is by design. During the setup process I select "start as a service" then on reboot the service is not started. I have had this issue since Raspbian switched to the system.d startup structure. I noticed in the kalite.service file in /lib/system.d/system diretory that there is no "[Install]" section in the service file. When I appended the following :
...

[2017-03-19 09:38] benjaoming commented on #5423
Thanks @case485!! I was using a template from Ubuntu for the `.target` file, actually one of those that systemd auto-creates from init.d scripts... and was scratching my head a lot about this.

I'll make sure to add this and rebuild the .debs...

[2017-03-19 09:50] benjaoming commented on #5423
I'm also setting `TimeoutStartSec= infinity`, in case slow devices are running setup (scanning a large video folder).

[code]

[2017-03-19 14:55] benjaoming commented on #5423
I've uploaded new debian sources, which are being built now:

https://launchpad.net/~learningequality/+archive/ubuntu/ka-lite-proposed

@case485 - would you be able to verify the prerelease in the proposed PPA to see if this works on your installation? Thanks! :)

[2017-03-19 19:32] case485 commented on #5423
Be glad to do it. One other thing I have noticed in locations like Haiti where we have frequent power outages is that on restart sometimes the kalite.pid file is not removed on a loss of power scenario and when the reboot starts kalite sees the kalite.pid file in the config directory and will not start until i manually remove it. I was going to add a force remove in one of the startup services to

[2017-03-19 22:03] benjaoming commented on #5423
This is a good point.

I haven't seen much feedback regarding power outages. We try to block multiple KA Lite processes because the SQLite database could be corrupted this way.

But the solution would be to check if the PID in the file exists, and if indeed that process is a `kalite` process.

I'll open up a new issue for this!

[2017-03-19 22:05] benjaoming opened #5424 "Check if PID file is valid before refusing to start"
## Summary

Feedback from @case485:

The solution would be to check if the PID in the file exists, and if indeed that process is a kalite process.

## System information

This affects all previous releases of KA Lite since the `kalite` command was introduced.

[2017-03-22 15:28] tim-moody opened #5425 "Enhancement Request - load videos from local storage using topic tree"
It would be nice to be able to provision videos to the content directory from some other local storage, either internal or external disk, usb stick, etc., using the topic tree selection process to determine which videos to load.

[2017-03-22 18:35] benjaoming commented on #5425
I know this probably doesn't answer your question... but you have 3 options for pointing KA Lite to use a non-default video folder:

1. Customize your `KALITE_HOME` environment variable. This way, ALL user data of KA Lite can have a custom location.
1. Symlink `~/.kalite/content/` to where you store your videos.
1. Set `CONTENT_ROOT="/path/to/my/videos"` in your `~/.kalite/settings.py` file.

Afte

[2017-03-23 15:13] andydupont opened #5426 "KA-Lite High CPU Usage on Mac OSX Sierra"
## Summary

KA-Lite is contantly using large CPU % when started but idle

## System information

 - Operating system: Mac OSX Sierra (10.12.3)
 - Version: 0.17
 - Browser: N/A

## How to reproduce

1. Start KA-Lite App
2. Open Activity Monitor and sort on % CPU

## Screenshots
<img width="941" alt="screen shot 2017-03-23 at 10 50 40 am" src="https://cloud.githubusercontent.com/assets/7741675/24254

[2017-03-23 15:23] radinamatic commented on #5426
@andydupont Thanks for reporting!

@mrpau-dev I will not have access to Mac machine until next week, to try and repro this issue, will you maybe be able to try it out before then?

[2017-03-23 15:36] andydupont commented on #5426
@radinamatic @mrpau-dev Here is another screenshot that shows that KA-Lite's parent process is Launchd, and Launchd's parent process is kernal_task.

the kernal_task is consuming a lot of memory and has a lot of disk activity.

##Screenshot
<img width="1157" alt="screen shot 2017-03-23 at 11 28 43 am" src="https://cloud.githubusercontent.com/assets/7741675/24255848/f128ace8-0fbc-11e7-9cd6-87de99bc

[2017-03-30 11:15] benjaoming commented on #5426
I've encountered this, too, on a friend's Mac. Wasn't able to investigate back then, but it's about time, we investigate it. Thanks for the report @andydupont!

@andydupont Would you be able to install ka-lite from pip? It's to see if the problem is related to the installer and task tray application or the source distribution itself (this repository concerns the source distribution). You can unins

[2017-03-30 11:30] benjaoming commented on #5423
Closing this, will investigate that the proposed fix in ka-lite-proposed PPA works, and tracking in above issue.

The PID check issue is tracked separately.

Thanks for the report @case485 !

[2017-03-30 11:30] #5423 closed

[2017-03-30 12:42] mrpau-richard commented on #5426
I also reproduced this issue, I think it's the KA Lite  application itself has a problem with CPU usage, we will investigate on it.

[2017-03-30 12:58] benjaoming commented on #5416
@radinamatic we can try to replicate this by:

1. Installing KA Lite
1. Removing it
1. Installing it again

...to see if an existing database will cause the issue.

[2017-03-30 13:02] benjaoming commented on #5388
I'm not sure what to do about this issue, but RACHEL has AFAIK already updated to the latest KA Lite, and it's difficult for us to troubleshoot why the above error has occurred. Somehow, the database didn't get properly created during the setup - and the fix is to run `kalite manage setup` to create it.

Thanks for the report @nakam28 - hope you'll get your deployment working nicely! Please ask aw

[2017-03-30 13:02] #5388 closed

[2017-03-30 14:12] andydupont commented on #5426
From @benjaoming

Ben... I will do this, but may not get to it until next week.

Thanks to all for looking into this.

[2017-03-31 13:27] benjaoming commented on #5423
Tested and released in ka-lite stable PPA.

[2017-03-31 13:53] benjaoming commented on #5409
Still happening in 0.17.0 final release.

Closing as a known issue, added to documentation.

[2017-03-31 13:53] #5409 closed

[2017-04-01 18:33] tim-moody opened #5428 "Question: are symlinks discovered"
If I create a separate videos directory with all downloaded videos and create a symlink to each of them in content will the menu item Scan content folder for videos find them or does it check for an actual file?

[2017-04-03 12:59] benjaoming commented on #5428
@tim-moody

Why not symlink the whole `content` directory?

I've tested symlinking a video, and it works fine for me. Remember to take thumbnails into consideration, too, for what you're working on. But I can't honestly - from intuition - see that creating thousands of symlinks sounds like the right path ;)

Please in the future, use our [community support forum](http://community.learningequality.

[2017-04-03 12:59] #5428 closed

[2017-04-03 14:44] benjaoming commented on #5260
As there are no rendering problems with this issue, and it seems upstram KA.org has removed [the question](https://www.khanacademy.org/math/basic-geo/basic-geo-shapes/basic-geo-classifying-shapes/quadrilateral_types/), I'm going to assume that the issue has solved itself.

If there is a similar issue, please verify it with the original Khan Academy online question first.

[2017-04-03 14:44] benjaoming commented on #5260
And thanks for reporting @rifatbd ! :)

[2017-04-03 21:50] andydupont commented on #5426
From @benjaoming

Ben.... I uninstalled ka-lite and reinstalled from pip. The problem went away. So I think that means that the problem is with the source distribution.... correct?

[2017-04-03 22:15] benjaoming commented on #5426
This issue was moved to learningequality/ka-lite-installers#445

[2017-04-03 22:15] #5426 closed

[2017-04-04 05:50] rifatbd commented on #5260
I think these screenshot will help you understand better....

![image](https://cloud.githubusercontent.com/assets/18570759/24642885/371f9734-192c-11e7-9fec-f8f3a92fda31.png)

![image](https://cloud.githubusercontent.com/assets/18570759/24642916/5a6a2876-192c-11e7-9cab-18175758695d.png)
Both of them are the same question.
One on the website is functioning properly but on KAlite its not.
Its not jus

[2017-04-04 12:32] benjaoming commented on #5260
Thanks for making the case @rifatbd !

*) online version of the question in question: https://bn.khanacademy.org/math/geometry-home/basic-geo/basic-geometry-shapes/basic-geo-quadrilaterals/e/quadrilateral_types

[2017-04-04 15:30] case485 opened #5430 "Not seeing Pictures display in 0.17.0 (multiple browsers) similar to: picture not displaying #5140"
KaLite version 0.17.0
Host Raspberry Pi Jessie 4.4
Multiple browsers from windows client not displaying pictures of course content not displaying. Similar to #5140

I tried in both content packs i have loaded (french and English) and with 3 different browsers on my windows 10 client (Mozilla, IE and Chrome)

![pic1](https://cloud.githubusercontent.com/assets/17994779/24664958/8f9d136a-1921-11e7-8c

[2017-04-05 14:30] benjaoming commented on #5430
Hi @case485

This is not a browser issue, but the media from your Content Pack that's not showing up.

It would be nice if you could use the original issue template and answer questions like how you installed KA Lite - was it with the debian installer, and wsa it the `ka-lite-raspberry-pi` installer?

Try running:

    kalite manage collectstatic

[2017-04-06 12:51] benjaoming commented on #4104
Fixed in  #5429

[2017-04-06 12:51] #4104 closed

[2017-04-06 13:03] benjaoming commented on #2658
@rtibbles thanks for making the pioneering work :)

You may want to reopen this for Kolibri, but closing for KA Lite since it wasn't done for 3 years and isn't a feature we'd wanna introduce in "legacy mode".

[2017-04-06 13:03] #2658 closed

[2017-04-06 13:23] benjaoming commented on #2452
Work-around: set `settings.USER_LOG_MAX_RECORDS_PER_USER = -1` and it won't have a limit as I read the code.

[2017-04-06 13:23] #2452 closed

[2017-04-06 13:23] benjaoming commented on #2462
Setting `USER_LOG_MAX_RECORDS_PER_USER = 0` (`0` by default) will disable the `UserLog`.

While it isn't pretty, there's a signal `cull_records` in `main.models` which will remove old log entries.

[2017-04-06 14:25] benjaoming commented on #5324
I found in the following occurrence an indication that we may rely on `AttemptLog` to store the fact that a user has completed an exercise in `AttemptLog.complete`. However, this may also be stored in `ExerciseLog.complete`, so it seems be fixable.

The code in question is in `kalite/distributed/static/js/distributed/exercises/views.js`, `l:777`:

[code]

[2017-04-06 14:28] benjaoming commented on #4242
Screenshots may be auto-generated, provided that the `screenshots` command works. However, as we are going to switch to a more steady development, a.k.a. "legacy mode", we might as well just refine all screenshots manually.

Furthermore, footers read the wrong version number as they haven't been regenerated since 0.17.

[2017-04-06 14:28] #4242 closed

[2017-04-06 14:31] benjaoming commented on #3974
This was removed in #5429

[2017-04-06 14:31] #3974 closed

[2017-04-06 14:52] benjaoming commented on #3403
Keeping this issue open will not achieve unbundling of `securesync`, `fle_utils` or `django`, so I'm wrapping it up here.

[2017-04-06 14:52] #3403 closed

[2017-04-06 19:16] benjaoming commented on #2789
Installers are maintained by maintainers :)

In case we have the possiblity, we can migrate to Buildkite, but it seems unlikely. Anyways, the current process is fine.

[2017-04-06 19:16] #2789 closed

[2017-04-06 19:30] benjaoming commented on #4195
We took the inspiration from this and implemented in Kolibri, well done everyone :)

[2017-04-06 19:30] #4195 closed

[2017-04-06 19:32] benjaoming commented on #3378
#wontfix

Thanks for reporting this @natnael2012 - I hope the issues is gone now since it's quite old and was related to upstream data.

[2017-04-06 19:32] #3378 closed

[2017-04-06 19:34] benjaoming commented on #2952
We went some of the way on this, but keeping this issue open won't help us much.

One of the prerequisites were #4054 and #4191 which were never fully solved.

We did, however, manage to get some of the project-related stuff isolated, and it still seems reasonable to try to centralize+document all project-wide settings.

Finally, as we don't encourage any new+advanced deployments of KA Lite, it do

[2017-04-06 19:34] #2952 closed

[2017-04-06 19:37] benjaoming commented on #4850
Closing this, as we have a nice overview already from CodeCov regarding our coverage weaknesses.

[2017-04-06 19:37] #4850 closed

[2017-04-06 19:41] benjaoming commented on #4249
I'll solve this by quickly checking if commented out tests are working now, otherwise removing the code that was commented out.

[2017-04-06 21:07] benjaoming commented on #4348
Re:

I think we removed this because it was too confusing for non-logged in students.

[2017-04-06 21:18] benjaoming commented on #4348
I'm very much +1 for

I tried the below, and it doesn't parse on Githubs markdown parser. Also, since Github's markup maintainers have confirmed that it won't be done, I'm gonna do a full-blow non-DRY implementation to deal with this.

See: https://github.com/github/markup/issues/554

This is the code that doesn't parse (just gets converted to a code block):

[code]

[2017-04-06 21:22] benjaoming commented on #4348
These, I'm going to skip to avoid further division between online RTD version and offline embedded. I do sympathize with them.

[2017-04-06 21:55] benjaoming commented on #4249
Fixed in #5433

[2017-04-06 21:55] #4249 closed

[2017-04-07 04:39] kevhyde opened #5434 "KA-lite for mac uninstall and now not allowing clean install"
## Summary

*I am not experienced in programming. I installed KA lite on my mac today and got it working as far as the questions and user accounts etc. I could not show ka lite where my compressed downloaded videos were by scanning. Nothing was being found. I could not see the .kalite folder and tried to show a new data file location in preferences so I could link to torrented video. This stopped

[2017-04-07 09:13] benjaoming commented on #4348
Closing this with a decision to keep online and offline docs aligned.

[2017-04-07 09:13] #4348 closed

[2017-04-07 09:15] benjaoming commented on #5434
This issue was moved to learningequality/ka-lite-installers#446

[2017-04-07 09:15] #5434 closed

[2017-04-07 09:20] benjaoming commented on #4415
I'm okay with this, basically, for the future, remote tests (Circle CI) will 100% decide if a PR gets merged or not.

Actually, we have gotten rid of various user data (language pack data) from STATIC_ROOT so we won't get such false positives in the future. Whatever is in STATIC_ROOT is the same as what's found by STATIC_FINDERS

[2017-04-07 09:20] #4415 closed

[2017-04-07 09:43] benjaoming commented on #2462
Tested that it works, `UserLog` remains empty after setting `USER_LOG_MAX_RECORDS_PER_USER = 0`, and exercises keep working.

[2017-04-07 09:43] #2462 closed

[2017-04-07 10:10] benjaoming commented on #5022
In `kalite/coachreports/static/js/coachreports/tabular_reports/views.js`, we are correctly retrieving `start_date` and `end_date`, however it seems to be a different instance of `this.model` that isn't affected by events in `TimeSetView.set_range`.

[code]

[2017-04-07 12:53] benjaoming commented on #5020
I disagree on changing language. I've just fixed it so that numbers add up (the graph below showing struggling, in progress, and completed). So everything is now about exercise attempts.

Before, this was possible:

![screenshot from 2017-04-07 14-02-56](https://cloud.githubusercontent.com/assets/374612/24800792/e20749a4-1ba1-11e7-83ce-157522474efc.png)

A teacher with no background in this, suppo

[2017-04-07 12:55] benjaoming commented on #5020
Btw. what the above example is meant to show: During some period, there has been 17 exercise attempts recorded, however data has been updated on `latest_activity_timestamp` for loads more exercises.

I have no intention of finding out why, so instead I'll leave the "Total exercise attempts" (so we don't bother translators) and assume that it appeals to some level of intuition.

[2017-04-07 12:57] benjaoming commented on #5020
After the change:

![screenshot from 2017-04-07 14-56-45](https://cloud.githubusercontent.com/assets/374612/24800942/7b9b8ab2-1ba2-11e7-875d-ac3b82180d18.png)

[2017-04-07 13:02] benjaoming commented on #5021
Yeah, let's just do #5044 (rephrased its title)

[2017-04-07 13:02] #5021 closed

[2017-04-07 13:09] benjaoming commented on #4266
Usage of dateutil might also require figuring out exactly what tastypie wants from it. I'm going to throw the towel on this.

[code]

[2017-04-07 13:09] #4266 closed

[2017-04-07 13:14] benjaoming commented on #4179
This will have to be done manually in these special cases. As with this request: https://community.learningequality.org/t/is-it-possible-to-change-device-registration/225/3

[2017-04-07 13:14] #4179 closed

[2017-04-07 13:16] benjaoming commented on #4539
We can only hope that someone annoyed enough to fix it will pop up. But not going to leave the issue dangling, as it won't get it fixed.

[2017-04-07 13:16] #4539 closed

[2017-04-07 13:24] benjaoming commented on #4353
I don't know how coach reports are defining "struggling" and it doesn't show anywhere in the UI.

Here's an example of something that doesn't show as struggling, even though I have registered tonnes of wrong answers :)

![screenshot from 2017-04-07 15-23-40](https://cloud.githubusercontent.com/assets/374612/24801901/3d87847a-1ba6-11e7-8390-ee955254b5e5.png)

![screenshot from 2017-04-07 15-24-13](

[2017-04-07 13:40] benjaoming commented on #5324
AttemptLog has been removed from the coach report summary as of #5435

[2017-04-07 13:48] benjaoming commented on #2909
`retrievecontentpack` only uses calls to `shutil.copyfileobj` and `zipfile.extractall`

Our video download writes in chunks in `fle_utils.internet.download.download_file`

The only problematic thing remaining could be this check on file size from `download_video` in `fle_utils.video`:

[code]

[2017-04-07 14:01] benjaoming commented on #1961
Replaced by  #2360

[2017-04-07 14:01] #1961 closed

[2017-04-07 14:04] benjaoming commented on #3434
KA Lite will not support Python 3, and I've added a comment in the code regarding this issue. Since we don't intend to fix it, keeping the issue open won't help.

Furthermore, the uncertainty about string handling which would be introduced by changing `setdefaultencoding` is substantial, so doesn't seem terribly appealing given the modest testing resources we would have for a new release.

[2017-04-07 14:04] #3434 closed

[2017-04-07 14:14] benjaoming commented on #5072
Fixing this would mean calling an API endpoint at the same crazy interval as points are accumulated.

Lots of other unaswered questions like:

 - Quitting in the middle of a video will - no matter what if it's using Refresh or navigating away - not save points
 - Skipping to the end, points are not saved.
 - Watching a video again seems to deduct points, so when I score 750 points on Counting Squi

[2017-04-07 14:14] #5072 closed

[2017-04-07 14:15] benjaoming commented on #5022
Fixed in #5435

[2017-04-07 14:15] #5022 closed

[2017-04-07 14:16] benjaoming commented on #5020
Fixed in #5435

[2017-04-07 14:16] #5020 closed

[2017-04-07 14:17] benjaoming commented on #4833
Fixing #4892 will address issues like this.

[2017-04-07 14:17] #4833 closed

[2017-04-07 14:23] benjaoming commented on #5011
Not seeing this behaviour, when I click "show me how", only the JSON resource for the inline help is loaded.

[2017-04-07 14:23] #5011 closed

[2017-04-07 14:28] benjaoming commented on #4987
Not able to reproduce with `generaterealdata` and a user with 21 items in list.

[2017-04-07 14:28] #4987 closed

[2017-04-07 14:32] benjaoming commented on #5172
Same exercise, still reproducing

[2017-04-07 14:35] benjaoming commented on #5172
This question works:

![screenshot from 2017-04-07 16-34-27](https://cloud.githubusercontent.com/assets/374612/24804890/3629762a-1bb0-11e7-8f62-4b3d592c61f2.png)

And this, mysteriously doesn't:

![screenshot from 2017-04-07 16-34-59](https://cloud.githubusercontent.com/assets/374612/24804903/3a9108a4-1bb0-11e7-85b0-d2a8e48f096b.png)

[2017-04-07 15:06] benjaoming commented on #4203
Did a related change in #5403 by removing some magic JsonToHTML middleware (active with `DEBUG=True`).

But moreover, #5308 added some pretty nifty error handling.

![screenshot from 2017-04-07 17-05-51](https://cloud.githubusercontent.com/assets/374612/24806234/77539b54-1bb4-11e7-8c91-b8b9dc92ce98.png)

[2017-04-07 15:06] #4203 closed

[2017-04-07 16:27] trexken opened #5437 "KA-Lite Starting at Startup Minit Linux"
## Summary

*Briefly describe what this is about*

How to have KALITE start at bootup.

*Please specify the KA Lite version you were using and your operating system!*

 -Mint 18.1
 - KALITE 0.17.0
 - Browser: ?

## Traceback or relevant snippet from server.log

[code]

## How to reproduce

1. Steps
1. To
1. Reproduce

## Screenshots

*If applicable*

## Real-life consequences (anything community s

[2017-04-09 21:07] benjaoming commented on #3205
Fully agree on either improving the UI or adding inline help - or both.

However, it can't be tracked for our current release schedule, but we can of course accept if someone jumps in with improvements, both of the minor and major kinds.

[2017-04-10 11:49] benjaoming commented on #5437
Hi @trexken

Thanks - this doesn't sound like a tech issue, though.

Please ask in the community forums: http://community.learningequality.org/

( hint: you might want to share how you've installed KA Lite since we have a number of different installation methods )

[2017-04-10 11:49] #5437 closed

[2017-04-10 12:40] benjaoming commented on #2909
Fixed in #5436

[2017-04-10 12:40] #2909 closed

[2017-04-10 12:44] benjaoming commented on #4311
This is a feature in Kolibri.

For KA Lite, it's not currently expected to be implemented, and keeping the issue pinned for various releases doesn't help solve it.

## Work-around

We encourage to use the following mechanism:

1. Copy your `~/.kalite` to a back-up location
2. Run `kalite manage clearuserdata`
3. Your `~/.kalite` is now portable in the sense that it contains no device registration

[2017-04-12 11:10] radinamatic commented on #5416
Now that I think of it I don't believe I've ever seen the message `WARNING: Database file already exists!` in 2 years testing KA Lite, and unsurprisingly, I did not see it while replicating the steps recommended by @benjaoming above... 🤔

@MIchaelPStimpson Did you install the version 0.17 for the first time or you had some older versions and you tried to upgrade to 0.17?

[2017-04-12 11:42] benjaoming opened #5440 "Correct MacOS uninstall documentation"
## Summary

The Mac uninstall steps are outdated.

As per #5439, the guide is now in a separate location ( in `0.17.x` branch )

[2017-04-13 11:37] benjaoming opened #5444 "Clean up old code in kalite.contentload"
## Summary

Most of `kalite.contentload` seems to be outdated, both on distributed and central server.

Here's a snippet from `kalite.contentload.api_views`:

[code]

## System information

 - Operating system: all
 - Version: develop

[2017-04-13 11:54] benjaoming commented on #5416
We can't reproduce it, not saying that it's invalid, but just that we can't fix it when we can't reproduce it and don't have sufficient information to diagnose it. I'm closing this for now.

HOWEVER! In 0.17.2, there will be additional logging for the automatic initialization of the server, so in case the error persist for @MIchaelPStimpson, there will be an option then to reopen with more informa

[2017-04-13 11:54] #5416 closed

[2017-04-13 11:55] benjaoming commented on #5408
Fixed in #5441

[2017-04-13 11:55] #5408 closed

[2017-04-13 12:02] benjaoming commented on #4444
All of these features we removed when we switched to the *content-pack-maker*, see https://github.com/learningequality/ka-lite-content-packs

[2017-04-13 12:02] #4444 closed

[2017-04-13 12:05] benjaoming commented on #5106
Tried to figure out something with `django-debug-toolbar`, but need more work since the page itself seems to be fine - most likely a performance would be in the API endpoints.

Adding a 0.18 milestone to ensure that we keep tracking this as a bug, even though it might not be fixed for 0.17 series.

[2017-04-13 21:45] benjaoming commented on #4641
Without triaging this issue, I think it can be safely unmarked as a milestone because no deployments have told us of an urgency.

[2017-04-13 21:46] benjaoming commented on #4766
This is a dupe of #4066 which addresses the problem more directly.

[2017-04-13 21:46] #4766 closed

[2017-04-13 21:47] benjaoming commented on #4950
These issues will have to be unresolved for the purpose of just finalizing the new scheduler #5094

[2017-04-13 21:47] #4950 closed

[2017-04-13 21:50] benjaoming commented on #4408
Cleared the milestone, acknowledging that this is a real issue. However, it's of course still up to a sane user to actually rate contents, having obtained some kind of understanding of it :)

[2017-04-13 21:57] benjaoming commented on #4023
Current state (0.16 and 0.17)

![screen shot 2017-04-13 at 23 56 23](https://cloud.githubusercontent.com/assets/374612/25026021/e5a62a00-20a4-11e7-83a0-5f07a764d295.png)

[2017-04-13 22:01] benjaoming commented on #4023
Solved

Not sure of the context, but it does say "login to the admin account you created" which is hard to confuse.

This would be unnecessary if the following was solved:

...which I think can be solved easily. So will try to see if we can do this + a message saying "you are now logged in, please create a facility and register your device to continue".

However, since it does involve an additiona

[2017-04-13 22:02] benjaoming commented on #4023
Edited the description

[2017-04-13 22:04] benjaoming commented on #5444
Adding to this: `control_panel.views.account_management` seems to invoke one remaining view `update_all_distributed`, however `account_management` is unused both on the central and distributed server.

So we can probably get rid of `account_management`, too.

Going to try to confirm this. However, I couldn't make a teacher account access `/management/account/` which just seems blank. On a student

[2017-04-14 00:22] spatiald commented on #5419
Was on the road...thanks for your patience.
Here you go:
[code]

[2017-04-14 02:25] case485 commented on #5430
Here is how i installed the distribution :
			apt-get -y install software-properties-common python-software-properties
			echo "deb http://ppa.launchpad.net/learningequality/ka-lite/ubuntu xenial main" > /etc/apt/sources.list.d/ka-lite.list
			apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 74F88ADB3194DD81
			apt-get -y update
			apt-get install -y ka-lite-raspberry-pi